#brand{
  font-family: 'Microsoft YaHei',Tahoma,Verdana;
  color: #333;
  img{
    margin-bottom: 10px;
  }
  .title-2{
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
  }
  .brand-end{
    width: 125px;
    height: 42px;
    margin: 0 auto;
  }
  .brand-box{
    margin-bottom: 25px;
  }
  .brand-age{
    .title-2{
      img{
        display: block;
        float: left;
        width: 28px;
        height: 28px;
        margin-right:10px;
      }
      span{
        line-height: 28px;
      }
    }
  }
}