.sc-feedback {
    padding: 0 24px;
    font-family: '黑体';

    .sc-feedback-title {
        padding-top: 42px;
        height: 164px;
        text-align: center;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .sc-feedback-content {

        .fb-back {
            margin: 0 auto;
            width: 80%;
            max-width: 380px;
            color: #ffbd99;
            font-size: 14px;
            line-height: 25px;
        }

        textarea,
        input {
            display: block;
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 4px;  
            border: 1px solid #ffbd99;
            outline: none;
            width: 100%;
            color: #ccc;
            font-size: 14px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        textarea {
            resize: none;
            overflow-x: hidden;
            overflow-y: auto;
            height: 160px;
        }

        input {
            height: 44px;
            line-height: 22px;
        }

        button {
            background: #ff7225;
            height: 44px;
            line-height: 44px;
            text-align: center;
            width: 100%;
            font-size: 18px;
            color: #fff;
            border: none;
            border-bottom: 8px solid #ff7225;
            border-radius: 4px;
            outline: none;
            -webkit-appearance: none;
            appearance: none;
        }
    }
}


