*{
  margin: 0;
  padding: 0;
}
#mother-h5{
  .wrapper{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    
    position: relative;
    .fenxiang{
      width: 100%;
      display: block;
      top: 0;
      position: fixed;
      left: 0;
    }
    .banner{
      width: 100%;
    }
    .content{
      height: 360px;
      width: 100%;
      font-size: 12px;
      text-align: center;
      padding-top: 10px;
      position: relative;
      p{
        line-height: 20px;
      }
      .content-img{
        margin: 0 auto;
       }
      .zan{
        position: absolute;
        bottom: 15px;
        right: 10px;
        width: 60px;
        height: 22px;
        i{
          width: 26px;
          height: 23px;
          background: url(../../images/mob/huodong/mother/an.png) no-repeat center center;
          background-size: 100%;
          display: block;
          float: left;
        }
        i:hover{
          background: url(../../images/mob/huodong/mother/liang.png) no-repeat center center;
          background-size: 100%;
        }
        span{
          font-size: 22px;
          line-height: 23px;
          color: #000;
        }
       }
    }
    #mama1{
      background-color: #ffe762;
    }
    #mama2{
      background-color: #8f79b1;
      color: #fff;
      .content-img{
        margin-top: 15px;
      }
    }
    #mama3{
      background-color: #ef746f;
      .content-img{
        margin-top: 20px;
      }
    }
    #mama4{
      background-color: #7a7a7a;
      color: #fff;
      
      .content-img{
        margin-top: 20px;
      }
    }
    #mama5{
      background-color: #ff8c40;
     height: 430px;
      .content-img{
        margin-top: 10px;
      }
    }
  }
}
 .foot{
  height: 50px;
  padding: 10px;
  img{
    margin: 0 auto;
    display: block;
  }
 }