/*包括一些弹窗，通用头部和通用footer，车辆卡片的样式,*/
.mobile-popup {
    width: 300px;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    background-color: #fff;
    padding-top: 30px;
    border-radius: 4px;
    z-index: 10000;
}
.mobile-popup .title {
    text-align: center;
    font-size: 18px;
    color:#666;
}
.mobile-popup .phone-input {
    height: 35px;
    width: 230px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #ccc;
}
.mobile-popup .btn-wrapper {
    text-align: center;
    padding: 30px;
}
.mobile-popup .input-wrapper {
    text-align: center;
    margin: 20px 0 5px 0;
}
.mobile-popup .btn-main {
    background: #0f448e;
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    border: none;
    font-size: 18px;
}
.mobile-popup .wrong-tip {
    color: #ff0000;
    font-size: 12px;
    width: 230px;
    margin: 0 auto;
}
.header{
    height: 44px;
    line-height: 44px;
    color:#fff;
    background: #0f448e;
    position: relative;
}
.header .header-title{
    position: absolute;
    width: 100%;
    text-align: center;
    top:0;
    left:0;
}
.fixed-wrapper{
     position: fixed;
     width: 100%;
     top:0;
     z-index: 1001;
 }
.header-placeholder{
    height: 44px;
}
.header .hd-logo{
    float: left;
    margin: 12px 17px 0 10px;
    width:75px;
    height: 20px;
    background:url(../../images/mob/h5-3/logo.png?t=1) no-repeat center;
    background-size: 100%;
    display: block;
}
.header .hd-city{
    float: left;
    font-size: 13px;
    color:#fff;
}
.header .hd-city .city-name{
    font-size: 13px;
    display: inline-block;
}
.header .hd-city .city-select-down-icon{
    width:8px;
    height: 5px;
    background: url(../../images/mob/h5-3/loaction-down.png);
    background-size: 100%;
    display: inline-block;
    margin-left: -3px;
    vertical-align: 1px;
}
.header .hd-search{
    float: right;
    background:no-repeat center url(../../images/mob/h5-3/hd-search-b.png);
    background-size: 20px 20px;
    width: 36px;
    height: 44px;
    display: block;
}
.header .for-other-topic{
    float: right;
    padding:12px 16px 12px 9px;
}
.header .icon-bar{
     background:#fff;
     width: 18px;
     height: 1px;
     margin-top: 4px;
 }
.header .header-back-icon{
    width: 6px;
    height: 12px;
    background: url(../../images/mob/h5-3/header-back-b.png?dd);
    background-size: 100%;
    display: inline-block;
}
.header .header-title-txt{
    position: absolute;
    top:0;
    width: 160px;
    left:50%;
    margin-left: -80px;
    text-align: center;
}
/*抽屉效果*/
.other-topic{
    position: absolute;
    z-index: 5;
    width: 100%;
    -webkit-perspective: 400;
    perspective: 400;
    height: 0;
    overflow: hidden;
    top:44px;
}

.other-topic .topic-item{
    display: block;
    height: 44px;
    line-height:44px;
    font-size: 14px;
    color:#fff;
    border-bottom: 1px solid #4c4c4c;
    background: #333;
    padding-left: 20px;
    -webkit-transition: -webkit-transform 0.1s linear;
    transition:transform 0.1s linear;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-transform:rotateX(-90deg);
    transform:rotateX(-90deg);
}
.other-topic .topic-item .icon-dot{
    width:9px;
    height: 9px;
    position: absolute;
    border-radius: 80%;
    background: #0f448e;
    top: 10px;
    left: 120px;
    display: none;
}
.other-topic .topic-item.show{
    -webkit-transform:rotateX(0deg);
    transform:rotateX(0deg);
}
.header .back{
    color: #fff;
    margin-left: 10px;
}

/*car card*/
.car-card-container{
    padding: 0 5px;
}
.car-wrapper{
    width: 50%;
    float: left;
    padding: 0 5px;
}
.car-card{
    width: 145px;
    margin: 10px auto 0;
    background: #fff;
    border:1px solid #ececec;
    display: block;
    position: relative;
}
.car-card .time-limit-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 0;
    background:url(../../images/mob/h5-3/timelimit-tag.png) no-repeat center;
    background-size: 100%;
    z-index:2;
}
.car-card .quality{
    position: absolute;
    width: 32px;
    height: 21px;
    top:0px;
    left:8px;
    background: url(../../images/mob/h5-3/quality.png) no-repeat center;
    background-size: 121px 21px;
    z-index: 2;
}
.car-card .quality.quality-A-p{
    background-position: 1px 0;
}
.car-card .quality.quality-A{
    background-position: -31px 0;
}
.car-card .quality.quality-B-p{
    background-position: -63px 0;
}
.car-card .quality.quality-B{
    background-position: -95px 0;
}
.car-card .card-image-wrapper{
    width:135px;
    height: 90px;
    overflow: hidden;
}
.car-card img{
    width: 100%;
    height: 90px;
}
.car-card .car-info{
    padding: 10px 8px 0;
    font-size:12px;
    border-top:none;
    overflow: hidden;
}
.car-card .car-introduction{
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    margin-bottom: 6px;
    color:#333;
    font-weight: 600;
}
.car-card .car-introduction .car-series{
    font-weight: bold;
}
.car-card .car-time{
    color:#999;
    float: right;
    line-height: 22px;
}
.car-card .car-price{
    font-size: 14px;
    float: left;
    color:#ff571a;
    line-height: 22px;
    margin-bottom: 3px;
}
.car-card .car-footer{
    clear: both;
    color: #999;
    border-top:1px solid #e6e6e6;
    line-height: 32px;
    height: 32px;
    position: relative;
}
.car-card .clock{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../../images/mob/h5-3/time-limit.png) no-repeat center;
    background-size: 100%;
    vertical-align: -2px;
    margin-right: 7px;
}
.car-card .fav-text{
    float: right;
}
.car-card .fav {
    position: absolute;
    right: -10px;
    top:0;
    width: 40px;
    height: 40px;
}
.car-card .fav .star-shape{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../../images/mob/h5-3/small-star.png) no-repeat center;
    background-size: 100%;
    margin-right: 6px;
    vertical-align: -1px;
}
.car-card .fav.active .star-shape{
    background: url(../../images/mob/h5-3/small-star-active.png) no-repeat center;
    background-size: 100%;
}
.car-card .fav.active .fav-num{
    color:#0f448e;
}
.car-card .fav  .fav-num{
    font-size: 12px;
}
.car-card .price-num{
    font-weight: bold;
}
.car-card .car-price-down{
    float: right;
    color: #0f448e;
    line-height: 22px;
}
#global-subscription{
    display: block;
    width: 40px;
    height: 40px;
    background: #63aa25;
    font-size: 14px;
    line-height: 40px;
    color:#fff;
    position: fixed;
    z-index: 1000;
    right: 0;
    top:75%;
    text-align: center;
}
.right-arrow{
    width: 7px;
    height: 12px;
    background: url(../../images/mob/h5-3/left-arrow.png) center no-repeat;
    background-size: 100%;
    display: inline-block;
    vertical-align: -1px;
    float: right;
    height: 44px;
}
.car-card-2 {
    padding: 10px 0;
}
.car-card-2 .lft {
    width: 38.2%;
    float: left;
}
.car-card-2 .lft img {
    width: 100%;
}
.car-card-2 .rht {
    width: 61.8%;
    float: left;
    padding-left: 10px;
}
.car-card-2 .rht .title {
    color: #333;
    margin-top: 3px;
    height: 32px;
    overflow: hidden;
}
.car-card-2 .rht .car-series {
    font-weight: bold;
    line-height: 16px;
}
.car-card-2 .rht .other-detail-info {
    margin-top: 2px;
    line-height: 14px;
}
.car-card-2 .rht .sc-price {
    font-weight: bold;
    color: #0f448e;
    font-size: 14px;
    line-height: 14px;
    float: left;
    margin: 7px 10px 0 0;
}
.car-card-2 .rht .car-footer{
    clear:both;
    font-size: 12px;
    padding-top:6px;
    color:#fff;
}
.car-card-2 .tag{
    padding: 2px;
}
.car-card-2 .car-footer .level-tag{
    background: #0f448e;
}
.car-card-2 .car-footer .quality-tag{
    background: #64b662;
}
.shop-title {
    height: 44px;
    line-height: 44px;
}

/*login-form*/
#login-form-valid-code{
    box-sizing: border-box;
    padding:0 16px;
    position: fixed;
    top:50px;
    width: 100%;
    z-index:1105;
}
#login-form-valid-code #login-form-valid {
    background: #FFF;
    padding:16px;
    border-radius: 4px;
}
#login-form-valid-code .user-phone-num{
    color:#666;
}
#login-form-valid-code .login-input{
    height: 46px;
    border:1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    appearance: none;
    -webkit-appearance:none;
    padding-left: 16px;
}
#login-form-valid-code .login-btn{
    background: #0f448e;
    color: #fff;
    width: 100%;
    height: 44px;
    border:none;
    border-radius: 4px;
    margin-top: 9px;
}
#login-form-valid-code .login-area{
    padding: 0 25px;
}
#login-form-valid-code .form-item{
    margin: 16px 0;
}
#login-form-valid-code .item-1-2{
    float: left;
    width: 50%;
}
#login-form-valid-code .item-1-2:first-child{
    padding-right: 8px;
}
#login-form-valid-code .item-1-2:last-child{
    padding-left: 8px;
}
#login-form-valid-code .valid-code-btn{
    width: 100%;
    height: 46px;
    background: #e6e6e6;
    border:1px solid #bfbfbf;
    border-radius: 4px;
    color: #666;
}
/*stackpanel system*/
.flex-1 {
    -webkit-flex: 1;
    flex: 1;
}
.flex-2 {
    -webkit-flex: 2;
    flex: 2;
}
.flex-3 {
    -webkit-flex: 3;
    flex: 3;
}
.flex-4 {
    -webkit-flex: 4;
    flex: 4;
}
.flex-5 {
    -webkit-flex: 4;
    flex: 4;
}
.flex-6 {
    -webkit-flex: 4;
    flex: 4;
}
.flex-c-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.flex-m-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-center {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-m-end {
    -webkit-box-pack:end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex-c-end {
    -webkit-box-align: center;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.stackpanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.stackpanel.vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.stackitem {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.stackitem.non-auto {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    flex: initial;
}

stackpanel {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
stackpanel.vertical {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
}
stackitem {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
stackitem.non-auto {
    -webkit-box-flex: initial;
    -webkit-flex: initial;
    flex: initial;
}
.row-reserve{
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
    -webkit-flex-direction:row-reverse;
}