body{
  background: url(../images/data/bg-png.png) no-repeat;
  background-size: cover; 
  font-family: 'Microsoft YaHei', Tahoma, Verdana;
}
.wrapper{
  width: 1240px;
  padding: 20px;
  margin: 0 auto;
}
#header{
  width: 100%;
  height: 60px;
  .logo{
    background:url(../images/data/logo.png) no-repeat; 
    width: 225px;
    height: 31px;
    float: left;
  }
  .time{
    color: #fff;
    font-size: 18px;
    float: right;
  }
}
#content{
  .ren{
    width: 19px;
    height: 47px;
    display: block;
    background: url(../images/data/ren.png) no-repeat; 
  }
  .iup{
    display: block;
    float: left;
    width: 12px;
    height: 14px;
    background: url(../images/data/red.png) no-repeat;
  }
  .emup{
    color: #e86049;
    display: block;
    float: left;
  }
  .idown{
    display: block;
    float: left;
    width: 12px;
    height: 14px;
    background: url(../images/data/green.png) no-repeat;
  }
  .emdown{
    color: #29b8a9;
    display: block;
    float: left;
  }
  .top-item{
    height: 225px;
    margin-top: 10px;
    .online-num{
      height: 225px;
      width: 300px;
      float: left;
      h1{
        text-align: center;
        color: #fff;
        font-size: 18px;
        margin-top: 50px;
      }
      .number{
        text-align: center;
        width: 180px;
        margin: 0 auto;
        span{
          color: #e86049;
          font-size: 60px;
          float: left;
          display: block;
          margin-right: 20px;
        }
        i{
          float: left;
          margin-top: 15px;
        }
      }
      p{
        border-top: 1px solid #2e3f58;
        margin-top: 15px;
        text-align: center;
        color: #c1c1c1;
        padding-top: 10px;
      }
    }
    .online-table{
      width: 900px;
      height: 225px;
      float: right;
    }
  }
  .people-box{
    margin-top: 20px;

    .people-item{
      float: left;
      width: 260px;
      height: 110px;
      background: #293c5a;
      margin-left: 10px;
      padding: 20px;
      .tit{
        i{
          display: block;
          width: 3px;
          height: 3px;
          background: #293c5a;
          border: 2px solid #0e9ed1;
          border-radius: 3px;
          float: left;
          margin-top: 6px;
          margin-right: 5px;
        }
        span{
          color: #fff;
          font-size: 14px;

        }
      }
      .cont{
        margin-top: 10px;
        .number{
          width: 160px;
          float: right;
          height: 55px;
          span{
            display: block;
            float: left;
            font-size: 40px;
            color: #fff;
            margin-right: 15px;
          }
          i{
            float: left;
          }
        }
     
      }
      .ratio{
        margin-top: 10px;
        .last-week{
          float: left;
          color: #c1c1c1;
          font-size: 14px;
        }
        .one-week{
          float: right;
          font-size: 14px;
          span{
            color: #c1c1c1;
            display: block;
            float: left;
          }
          i{
            margin-top: 2px;
          }
          em{
            float: left;
            display: block;
          }
        }
      }

    }
    .kehu-people{
      margin-left: 0px;
      .tit{
        i{
          border: 2px solid #7875fb;
        }
      }
    }
    .daodian-people{
      .tit{
        i{
          border: 2px solid #d0aa1e;
        }
      }
    }
    .success-people{
      .tit{
        i{
          border: 2px solid #c85a4c;
        }
      }
    }
  }
}
.bottom-item{
  margin: 10px;
  .trend-table{
    width: 910px;
    height: 280px;
    margin-right:10px; 
    float: left;
    background: #293c5a;
  }
  .mouth-num{
    width: 300px;
    height: 280px;
    background: #293c5a;
    float: left;
    .total-num{
      text-align: center;
      margin-top: 50px;
      h1{
        color: #798090;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .number{
        width: 155px;
        margin: 0 auto;
        span{
          color: #e86049;
          font-size: 40px;
          display: block;
          float: left;
          margin-right: 15px;
        }
        i{
          float: right;
        }
      } 
    }
    .new-num{
      text-align: center;
      margin-top: 50px;
      h1{
        color: #798090;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .number{
        width: 155px;
        margin: 0 auto;

        span{
          color: #7875fb;
          font-size: 40px;
          display: block;
          float: left;
          margin-right: 15px;
        }
        i{
          float: right;
        }
      } 
    }
  }
}