*{
    box-sizing: border-box;
}
#order li {
    width: 25%;
    float: left;
    color:#333;
    line-height: 44px;
    height: 44px;
    text-align: center;
}
#order li a{
    font-size: 14px;
    color: #666;
}
#order {
    border-bottom: 1px solid #e5e5e5;
}
#order .goto-filter{
    background: #f5f5f5;
    display: inline-block;
    height: 28px;
    width: 56px;
    line-height: 28px;
    border:1px solid #e6e6e6;
    border-radius: 3px;
}
#order .arrow-wrapper{
    width: 10px;
    position: relative;
    margin-left: 3px;
}
#order li i{
    width: 8px;
    height: 11px;
    display: inline-block;
    background: url(../../../images/mob/h5-3/order-noactive.png) no-repeat;
    background-size: 100%;
}
#order .arrow-wrapper i.up{
    top:5px;
}
#order li.active a{
    color: #FF551a;
}
#order .desc.active  i{
    background: url(../../../images/mob/h5-3/order-up.png) no-repeat;
    background-size: 100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
#order .asc.active  i{
    background: url(../../../images/mob/h5-3/order-up.png) no-repeat;
    background-size: 100%;
}


