*{
    box-sizing: border-box;
}
#order li {
    line-height: 44px;
    height: 44px;
    text-align: center;
}
#order li a{
    font-size: 14px;
    color: #666;
}
#order {
    border-bottom: 1px solid #e5e5e5;
}
#order .goto-filter{
    display: inline-block;
    height: 28px;
    line-height: 26px;
    color:#666;
}
#order .arrow-wrapper{
    width: 10px;
    position: relative;
    margin-left: 3px;
}
#order li .order-icon{
    width: 8px;
    height: 11px;
    display: inline-block;
    background: url(../../../images/mob/h5-3/order-noactive.png) no-repeat;
    background-size: 100%;
}
#order .arrow-wrapper i.up{
    top:5px;
}
#order li.active a{
    color: #FF551a;
}
#order .desc.active  i{
    background: url(../../../images/mob/h5-3/order-up.png) no-repeat;
    background-size: 100%;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}
#order .asc.active  i{
    background: url(../../../images/mob/h5-3/order-up.png) no-repeat;
    background-size: 100%;
}
#list #content {
    position: relative;
    z-index: 10;
    overflow: hidden;
}
#list #footer {
    position: relative;
    z-index: 9;
}
#list #header {
    height: 40px;
}

#list #list-tip {
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    color: #666;
}
#list #list-tip em {
    color: #db5d30;
}
#list .filter {
    padding: 5px;
    border: 1px solid #ddd;
    margin: 10px;
}
#list .filter .t {
    float: left;
    line-height: 30px;
    color: #666;
    font-size: 14px;
}
#list .filter .item {
    background: #e3e3e3;
    float: left;
    padding: 5px;
    margin-right: 5px;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}
#list .filter .item .close {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../../../images/mob/filter-close.png) no-repeat;
    background-size: 100%;
    vertical-align: 0px;
    margin-left: 5px;
}
#list .no-car {
    text-align: center;
    line-height: 30px;
    color: #999;
    font-size: 18px;
    padding-bottom: 20px;
}
#list .no-car i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../../../images/mob/list-no.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
#list .no-car-2 {
    text-align: center;
    line-height: 30px;
    color: #999;
    font-size: 18px;
    padding-bottom: 90px;
}
#list .no-car-2 i {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../../../images/mob/list-no2.png) no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 5px;
}
#list #cars {
    margin:0 10px;
}
#list #cars .car {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #E6E6E6;
    font-size: 12px;
    display: block;
}
#list #cars .car .i-yushou {
    position: absolute;
    top: 12px;
    left: 2px;
    display: block;
    width: 25px;
    height: 25px;
    background: url(../../../images/mob/i-yushou.png) no-repeat;
    background-size: 100%;
}
#list #cars .car .lft {
    position: relative;
    width: 38.2%;
    float: left;
}
#list #cars .car .lft img {
    width: 100%;
    margin: 0;
}

#list #cars .car .lft .car-for-sale {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    display: block;
    width: 60%;
    height: 60%;
}

#list #cars .car .lft .car-for-sale img {
    height: 100%;
    width: auto;
}

#list #cars .car .rht {
    float: left;
    width: 61.8%;
    padding-left: 10px;
}
#list #cars .car .rht .title {
    font-size: 14px;
    color: #333;
    margin-top: 3px;
    height: 32px;
    overflow: hidden;
}
#list #cars .car .car-series{
    font-weight: bold;
    line-height: 16px;
}
#list #cars .car .other-detail-info{
    margin-top: 2px;
    line-height: 14px;
}
#list #cars .car .rht .info {
    color: #999;
    line-height: 18px;
    font-size: 12px;
    margin-top: 7px;
}
#list #cars .car .sc-price{
    font-weight: bold;
    color:#FF571a;
    font-size: 14px;
    line-height: 14px;
    float: left;
    margin-right: 10px;
}
#list #cars .car .buy-time {
    color: #999;
    line-height: 14px;
    font-size: 12px;
}
#list .car-footer{
    position: relative;
    margin-top: 7px;
}
#list .car-auth {
    float: left;
    display: inline-block;
    margin-right: 5px;
    padding: 2px;
    background-color: #62b061;
    color: #fff;
    font-size: 12px;
}

#list .car-footer .quality-guide{
    border:1px solid #639f47;
    color:#639f47;
    padding: 2px;
    float: left;
}

#list .car-footer .quality-danbao {
    background-color: #ff5a1a;
    color: #fff;
    padding: 2px;
    float: left;
    font-size: 12px;
}

#list .car-footer .quality-level{
    border:1px solid #ff571a;
    color:#ff571a;
    padding: 2px;
    float: left;
    margin-left: 4px;
}
#list .car-footer .time-limit{
    background: #65ae2f;
    color: #fff;
    float: left;
    padding:0 6px;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
}
#list #cars .car .rht .rate span {
    display: inline-block;
    width: 90px;
    text-align: center;
    font-size: 12px;
}
#list #cars .car .lft .rate {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: #89bc26;
    color: #fff;
    width: 20px;
    text-align: center;
    border-radius: 3px;
}
#list #cars .car .lft .extra-info {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}
#list #cars .car .lft .rate.no-pass {
    background: #1b8ba8;
}
#list #cars .car .rht .shangou-price {
    color: #999;
}
#list #cars .car .rht .shangou-price em {
    color: #df5d16;
    font-size: 12px;
}
#list .more {
    height: 36px;
    line-height: 36px;
    color: #666;
    border: 1px solid #ccc;
    background: #fff;
    margin: 10px;
    text-align: center;
    font-size: 12px;
    border-radius: 3px;
    display: block;
}

#list #cars .time-limit-price {
    float: left;
    color: #FF571a;
    line-height: 14px;
    font-size: 12px;
}
#list #cars .fav {
    padding-top: 20px;
    position: absolute;
    right: -10px;
    top: -20px;
    line-height: 14px;
    color: #000;
    width: 60px;
    height: 50px;
    text-align: center;
}
#list #cars .fav i {
    display: inline-block;
    height: 13px;
    width: 13px;
    background: #ffffff url(../../../images/mob/h5-2/fav-unstar.png) no-repeat center center;
    background-size: 100%;
    vertical-align: -1px;
    margin: 0 5px 0 0;
}
#list #cars .fav.star i {
    background: #ffffff url(../../../images/mob/h5-2/fav-star.png) no-repeat center center;
    background-size: 100%;
}
#list #act-for-suv .hot {
    padding-top: 20px;
    position: absolute;
    right: -10px;
    top: -18px;
    line-height: 14px;
    color: #000;
    width: 60px;
    height: 50px;
    text-align: center;
}
#list #act-for-suv .hot i {
    display: inline-block;
    height: 13px;
    width: 13px;
    background: url(../../../images/mob/h5-2/hot.png) no-repeat center center;
    background-size: 100%;
    vertical-align: -1px;
    margin: 0 5px 0 0;
}
#list #cars a {
    color: #999;
}
.wrapPhoneBg {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #7f7f7f;
    z-index: 10000;
    opacity: 0.85;
}
#list #no-result .sorry {
    font-size: 14px;
    color:#ccc;
    text-align: center;
    margin: 50px 0;
}
#re-search a{
    display: block;
    background: #fff;
    color:#666;
    border:1px solid #e7e7e7;
    border-radius: 3px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    width: 118px;
    margin: 0 auto;
    text-align: center;
}
.yushou-tag {
    display: block;
    position: absolute;
    width: 26px;
    height: 21px;
    top: 0px;
    left: 8px;
    background: url(../../../images/mob/h5-3/yushou-tag.png) no-repeat center;
    background-size: 100%;
}
.car .quality{
    position: absolute;
    width: 32px;
    height: 21px;
    top:0px;
    left:8px;
    background: url(../../../images/mob/h5-3/quality.png) no-repeat center;
    background-size: 121px 21px;
    z-index: 2;
}
.car .quality.quality-A-p{
    background-position: 1px 0;
}
.car .quality.quality-A{
    background-position: -31px 0;
}
.car .quality.quality-B-p{
    background-position: -63px 0;
}
.car .quality.quality-B{
    background-position: -95px 0;
}
.filter-icon{
    display: inline-block;
    width:13px;height: 14px;
    background: url(../../../images/mob/authorization/filter-icon.png);
    background-size: 100%;
}