*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@color: #ff4400;


// mixin
.transition(@value) {
  -webkit-transition: @value;
          transition: @value;
}

.transform(@value) {
  -webkit-transform: @value;
      -ms-transform: @value;
          transform: @value;
}

.rotate(@deg) {
  -webkit-transform: rotate(@deg); /* Safari 和 Chrome */
          transform: rotate(@deg);
}

.backface-visibility(@value) {
  -webkit-backface-visibility: @value;
          backface-visibility: @value; 
}

.opacity(@opacity) {
  opacity: @opacity;
  @opacity-ie: (@opacity * 100);
  filter: alpha(opacity=@opacity-ie);
}

.animation(@vaule) {
  -webkit-animation: @value;
          animation: @value;
}

.backface-visibility(@visibility) {
  -webkit-backface-visibility: @visibility;
          backface-visibility: @visibility;
}

@-webkit-keyframes disccircle {
    form {
      .rotate(0)
    }
    to {
      .rotate(360deg);
    }
}

@-moz-keyframes disccircle {
    form {
      .rotate(0)
    }
    to {
      .rotate(360deg);
    }
}

@keyframes disccircle {
   form {
     .rotate(0)
   }
   to {
     .rotate(360deg);
   }
}

@-webkit-keyframes swipeMove {
    form {
      .transform(translate3d(0,0,0));
    }
    50% {
      .transform(translate3d(0,-10px,0));
    }
    to {
      .transform(translate3d(0,0,0));
    }
}

@-moz-keyframes swipeMove {
    form {
      .transform(translate3d(0,0,0));
    }
    50% {
      .transform(translate3d(0,-10px,0));
    }
    to {
      .transform(translate3d(0,0,0));
    }
}

@keyframes swipeMove {
   form {
     .transform(translate3d(0,0,0));
   }
   50% {
     .transform(translate3d(0,-10px,0));
   }
   to {
     .transform(translate3d(0,0,0));
   }
}

.hidden-pic {
  position: absolute;
  top: -100%;
  left: -100%;
}

// extend
.trans-base {
  .transition(transform .4s ease-in-out);
  .transition(-webkit-transform .4s ease-in-out);
}

#slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

// 组合动画
.step1,
.step2,
.step5 {
  width: 100%;
  position: absolute;
  .transform(translate3d(0,30px,0));
  .opacity(0);
  .backface-visibility(hidden);
}

.step1 {
  top: 44px;
  left: 0;
}

.step2 {
  top: 160px;
  left: 0;
}

.step3, .step4 {
  .opacity(0);
}

.bounce-in {

  .step1 {
    .transition(all .5s linear);
    .transform(translate3d(0,0,0));
    .opacity(1);
  }

  .step2 {
    .transition(all 1s .5s linear);
    .transform(translate3d(0,0,0));
    .opacity(1);
  }

  .step3 {
    .transition(opacity 1.5s linear);
    .opacity(1);
  }

  .step4 {
    .transition(opacity 1.5s .5s linear);
    .opacity(1);
  }

  .step5 {
    .transition(all 1s 1s linear);
    .transform(translate3d(0,0,0));
    .opacity(1);
  }

}

.animate.bounce-in .step1 {
  .transition(all 1s linear);
}

// 第八步动画
.a8-text1,
.a8-text2,
.a8-text3,
.a8-text4 {
  width: 100%;
  position: absolute;
  .transform(translate3d(0,30px,0));
  .opacity(0);
  .backface-visibility(hidden);
}

.a8-text1 {
  top: 44px;
}

.a8-text2 {
  top: 82px;
}

.a8-text3 {
  top: 120px;
}

.a8-text4 {
  top: 158px;
}

#form-result {
  .a8-text2 {
    top: 120px;
  }
  .a8-text3 {
    top: 160px;
  }

  .a8-text4 {
    top: 200px;
  }
}

.bounce-in {
  .a8-text1 {
    .transition(all .6s linear);
    .transform(translate3d(0,0,0));
    .opacity(1);
  }

  .a8-text2 {
    .transition(all .6s .8s linear);
    .transform(translate3d(0,0,0));
    .opacity(1);
  }

  .a8-text3 {
    .transition(all .6s 1.2s linear);
    .transform(translate3d(0,0,0));
    .opacity(1);
  }

  .a8-text4 {
    .transition(all .6s 1.5s linear);
    .transform(translate3d(0,0,0));
    .opacity(1);
  }
}


#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .backface-visibility(hidden);

  section {
    position: absolute;
    padding-top: 44px;
    width: 100%;
    height: 100%;
    .backface-visibility(hidden);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;

    .user-info {
      margin-bottom: 25px;
      text-align: center;
      img {
        margin-bottom: 5px;
        display: inline-block;
        border-radius: 50%;
        width: 64px;
        height: 64px;
      }
      span {
        display: block;
        font-size: 14px;
        color: #1d1d1d;
      }
    }

    // &[data-index='1'] {
      
    // }

    // &[data-index='2'] {
    // }

    // &[data-index='3'] {
    // }

    // &[data-index='4'] {
    // }

    // &[data-index='5'] {
    // }

    // &[data-index='6'] {
    // }

   

    #text-diff p { 
      color: @color;
      text-decoration: underline; 
    }

    

    // &[data-index='9'] {
    // }

    &.slide-t {
      .transform(translate3d(0, -100%, 0));
    }

    &.slide-bt {
      .transform(translate3d(0, 100%, 0));
    }

    &.slide-top {
      .transform(translate3d(0, -100%, 0));
      &:extend(.trans-base);
    }

    &.slide-bottom {
      .transform(translate3d(0, 100%, 0));
      &:extend(.trans-base);
    }

    &.slide-active {
      z-index: 9999;
      .transform(translate3d(0, 0, 0));
      &:extend(.trans-base);
    }

    .diff p {
      color: @color;
    }

    p {
      text-align: center;
      font-size: 14px;
      line-height: 19px;
      color: #1c1c1c;
      font-family: "黑体";

      span {
        display: block;
        margin-top: 10px;
        color: @color;
        font-size: 28px;
      }

      i {
        font-style: normal;
      }

      &.mb10 {
        margin-bottom: 15px;
      }
    }

    .ft {
      position: absolute;
      bottom: 38px;
      left: 0;
      right: 0;
    }

    .bg-cover-8 {

      img {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: auot;
        max-width: 100%;
        height: auto;
        z-index: -1;
      }
    }

    .bg {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: -1;
      overflow: hidden;

      &.bg-cover-8 {
        // background: url(../../../images/mob/slide/s8.png) bottom center no-repeat;
        // background-size: 100%;
      }

      &.bg-cover-9 {
        background: url(../../../images/mob/slide/s9.png) bottom center no-repeat;
        background-size: 100%;
      }

      img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.speaker {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  z-index: 9999;
  background: url(../../../images/mob/slide/speaker.png) no-repeat;
  background-size: 100%;
}

.playaround {
  -webkit-animation: disccircle 4s linear infinite;
          animation: disccircle 4s linear infinite;
}

#next {
  position: absolute;
  display: block;
  z-index: 9999;
  bottom: 10px;
  left: 50%;
  margin-left: -17.5px;
  width: 35px;
  height: 20px;
  background: url(../../../images/mob/slide/next.png) no-repeat;
  background-size: 100%;
  .backface-visibility(hidden);
  -webkit-animation: swipeMove 1.5s linear infinite;
          animation: swipeMove 1.5s linear infinite;
  .opacity(0);
}

#next.next-bounce-in {
  .transition(opacity 1s 1.5s linear);
  .opacity(1);
}

#slide-form {
  margin: 0 auto;
  width: 220px;
  display: block;
  color: #949494;
  font-size: 14px;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: -110px;

  .form-control {
    margin-bottom: 8px;

    #slide-brand,
    #slide-model {
      overflow: hidden;
    }

    .form-item {
      border: none;
      border-radius: 0;
      background: none;
      padding-left: 10px;
      height: 30px;
      line-height: 30px;
      border: 1px solid #949494;
      -webkit-appearance: none;
    }

    input, select {
      margin: 0 5px;
      display: inline-block;
      width: 100px;
      color: #949494;
    }

    label, span {
      display: inline-block;
      vertical-align: middle;
      height: 30px;
      line-height: 30px;
    }
  }
  button {
    margin: 15px auto;
    display: block;
    -webkit-appearance: none;
    border: none;
    border-radius: 0;
    background: none;
    color: @color;
    border: 1px solid @color;
    width: 120px;
    height: 35px;
    line-height: 35px;
  }
}

.btn {
  margin: 10px auto;
  display: block;
  color: @color;
  width: 160px;
  border: 1px solid @color;
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  font-size: 16px;
}

#popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0,0,0,0.54);
  color: #fff;

  .btn {
    margin-top: 20px;
    color: #fff;
    border-color: #fff;
    width: 120px;
  }

  p {
    font-size: 14px;
    text-align: center;
    line-height: 24px;
  }
  
  .content {
    position: absolute;
    left: 50px;
    right: 50px;
    top: 40%;
    // -webkit-transform: translate(0, -50%);
    // transform: translate(0, -50%);
    background-color: transparent;
  }
}

#btn-link {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.section-img {
  position: absolute;
  width: 100%;
  bottom: 40%;
  img {
    max-width: 100%;
    height: auto;
  }
}

.share {
  position: absolute;
  background: url(../../../images/mob/slide/share.png);
  width: 239px;
  height: 96px;
  -webkit-background-size: 239px 96px;
  background-size: 239px 96px;
  top: 10px;
  right: 26px;
}

#jump-btn {
  position: absolute;
  bottom: 20%;
  left: 50%;
  .transform(translate(-50%, 0));
  color: #fff;
  background-color: @color;
  
}

#diff-link {
  display: block;
  width: 100%;
}