@themeColor:#0f448e;

#header .wrapper .search .index-search .search-submit
{
  border: 1px solid @themeColor !important;
  background: @themeColor !important;
}
#nav,
#sellcar #content .banner .wrapper #J_sellcarform #sellcar-form .sellcar-submit button,
.mem-button,
.main-slider .flex-control-nav .flex-active{
  background: @themeColor !important;
}
#header .wrapper .search .index-search .search-text,
#top-info .filter-nav .car-brand .brand-inner,
#top-info .filter-nav .car-models .models-inner,
#top-info .filter-nav .car-price .price-inner{
  border: 1px solid @themeColor !important;
}
.sidebar .sidebar-tit,
.sort .activeNumber{
  border: 1px solid @themeColor !important;
  background: @themeColor !important;
}

.sort a:hover{
  border-color: @themeColor;
}
.sort .activeNumber {
  background-color: @themeColor;
  border-color: @themeColor;
}
.sort .next:hover, .sort .pre:hover {
  border-color: @themeColor;
}
#footer .wrapper .footImg,
#sellcar #content .banner
{
  background: #446da6 !important;
}
#list_wrap .navContainer .historyRecord .historyRecord_title,
.car-nav .cat-nav-upper .car-tab .tab-item.active .tab-item-carstatus,
.car-nav .cat-nav-upper .orderby-ctn .car-orderby .orderby-item.active a,
.onsale-summary .onsale-tab .sub-item a.active{
  color:@themeColor !important;
}
#detail_main .detail-yuyue,
#detail_main .yuyue-loading
{
  background-color:@themeColor !important;
  border: 1px solid @themeColor !important;
}

nav .nav-item.active .nav-item-content
{

}
