@themeColor:#9d4447;
.mod-hd,
nav .nav-item.active .nav-item-content,
.qual-detail-card .qual-detail-title{
  border-color:@themeColor !important;
}
.header,
#go-list-btn,#filter-car .ok-btn,
#filter-car #selected-brands-pane,
.request4guarantee,
.mobile-popup .btn-main{
  background: @themeColor !important;
}
#actions .yuyue-item .request4guarantee
{
  background: #fff !important;
}
#order li.active a,
#detail-main .sec-info .price .price-num,
nav .nav-item.active{
  color:@themeColor !important;
}
#detail-main #pic-dots .dot.active{
  border: 1px solid @themeColor !important;
  background: @themeColor !important;
}
