#acts_tpl .banner .banner-desc{
    background: #0b3b41;
}
#acts_tpl #op-board #how-many{
    background: #0b3b41;
}
.tag-cont{
  background: #0b3b41;
}
.reason-tit{
  color:#0b3b41; 
}
.reason-cont{
  color:#0b3b41; 
}