.car-mod .mod-bd a.news-wrapper {
    display: block;
    width: 300px;
    margin: 20px auto;
    .news-img {
        width: 26.67%;
        float: left;
        img {
            width: 100%;
        }
    }
    
    .news-body {
        width: 205px;
        display: table-cell;
        padding-left: 10px;
        
        .news-title {
            font-size: 19px;
            height: 23px;
        }
        
        .news-sub {
            margin-top: 8px;
            color: #9a9a9a;
            height: 51px;
            font-size: 13px;
        }
    }
}
