.car-mod .mod-bd a.news-wrapper {
    display: block;
    margin: 20px 30px 20px 10px;
    .news-img {
        width: 80px;
        float: left;
        img {
            width: 100%;
        }
    }
    
    .news-body {
        display: table-cell;
        padding-left: 10px;
        
        .news-title {
            font-size: 14px;
            height: 18px;
            overflow: hidden;
        }
        
        .news-sub {
            margin-top: 8px;
            color: #9a9a9a;
            height: 51px;
            font-size: 13px;
            overflow: hidden;
        }
    }
}
