.buy-guide{
  border:1px solid #e6e6e6;
  overflow:hidden;
  width:100%;
  .inner{
    width:1400px;
  }
  .col{
    width:255px;
    float:left;
    padding:20px;
    padding-top: 0;
    img{
      width:256px;
    }
    .title{
      line-height: 50px;
      text-align: center;
      font-size: 14px;
      color:#333;
      font-weight: bold;
    }
    .head{
      position: relative;
      display:block;
      width:256px;
      height:139px;
      overflow: hidden;
    }
    .tip{
      height:30px;
      background: rgba(0,0,0,0.7); 
      background: #333;
      color:#fff;
      line-height: 30px;
      position: absolute;
      bottom: 0;
      left:0;
width:246px;
padding-left:10px;
    }
    .list{
      padding:10px;
      .item{
        line-height: 30px;
        display: block;
        height:30px;
        overflow: hidden;
      }
    }
  }
}