.timebuy{
  height: 300px;
  .hd{
    height: 45px;
    h1{float: left;}
    h2{padding-top: 10px;}
    a{
      float: right;
      font-size: 12px;
      color: #666;
      display: block;
      line-height: 40px;
    }
  }
  .timebuy-wrap{
    height: 255px;
    border: 1px solid #e6e6e6;
    .timebuy-box{
      width: 880px;
      height: 215px;
      padding: 20px 10px 20px 24px;
      .timebuy-list{
        width: 210px;
        float: left;
        padding-right: 10px;
        .car-image{
        display:block;height:140px; background: url(../images/index/car-image.png);cursor: pointer;
        }
        .last-time{ font-size: 12px;color: #333;height: 20px;background-color: #f9f9f9;line-height: 25px;text-align:center;}
        .timebuy-price{ 
          height: 40px;
          padding-top: 10px;
          .price-down{
            width: 80px;
            height: 40px;
            float: left;
            background-color: #f55c00;
            i{color: #fff;font-size: 14px;text-align: center;line-height: 20px;font-family: 'Microsoft YaHei',Tahoma,Verdana;font-style: normal;display: block; }
          }
          .car-price{
            width: 120px;
            height: 40px;
            padding-left: 10px;
            float: left;
            h2{font-size: 15px;color: #444;font-family: 'Microsoft YaHei',Tahoma,Verdana;font-weight: bold;line-height: 20px;}
            .price-now{font-size: 20px;color: #db2400;font-family: 'Arial',Tahoma,Verdana;float: left;}
            .price-old{font-size: 13px;color: #999;font-family: Tahoma,Verdana;line-height: 30px;text-decoration:line-through;float: left;margin-left: 8px;}
          }
        }
      }
    }
  }
}
.hd{
  height: 45px;
  h2{line-height: 55px;font-size: 16px;color: #333; }
}
.starbuy{
  height: 345px;
  border: 1px solid #e6e6e6;
  .hd{height: 45px;
    h1{padding: 0 0 0 20px;}
  }
  .starbuy-box{
    width: 210px;
    padding: 0 25px 0 25px;
    .starbuy-star{
      height: 72px;
      .star-image{
        background: url(../images/index/star.png);width: 72px;height: 72px;float: left;}
      .star{
        width: 132px;
        height: 72px;
        float: left;
        padding-left: 6px;
        .star-name {
          font-size: 12px;
          color: #444;
          line-height: 20px;
          float: left; 
          padding-top: 15px;
          i{font-size: 12px;color: #444;font-weight: bold;font-style: normal;}
        }
        .star-post{float: left;font-size: 12px;color: #bb8d6f;line-height: 20px;}
      }
     }
    }
     .car-image{
      background: url(../images/index/car-image.png);height:140px;margin: 15px 0;display: block;cursor: pointer;
      .car-float{
          height: 50px;
          background-color: #000;
          opacity: 0.6;
          position: relative;
          top: 90px;
          .float-box{
            padding: 10px;
            h1{
              font-size: 12px;color: #fff;
              i{
                font-size: 12px;color: #fff;display: block;float: right;font-style: normal;
              }
            }
            p{font-size: 12px;color: #fff;line-height: 20px;}
          }
        }
    }
     .car-reason{font-weight: bold;float: left;font-style: normal;color: #444;
      i {font-style: normal;font-weight: normal;color: #666;}
  }
}
