.timebuy{
  .hd{
    height: 45px;
    h1{float: left;}
    h2{padding-top: 10px;}
    a{
      float: right;
      font-size: 12px;
      color: #666;
      display: block;
      line-height: 40px;
    }
    a:hover{color:@orange;}
  }
  .timebuy-wrap{
    width: 918px;
    overflow: hidden;
    border: 1px solid #e6e6e6;
    .timebuy-box{
      width: 920px;
      height: 270px;
      
      .timebuy-list{
        width: 209px;
        float: left;
        padding: 10px;
        padding-bottom: 5px;
        border-right:1px solid #e6e6e6;
        height: 255px;
        .timebuy-inner{
          
        }
        .car-image{
        display:block;height:140px;width: 210px;overflow: hidden;
          img{
            width:210px;
          }
        }
        .down-counter{
          margin-top: 10px;
          border-top: 1px solid #e6e6e6;
         font-size: 12px;color: #333;height: 20px;line-height: 25px;text-align:center;
         padding-top:5px;
         span{
           line-height: 12px;
           ins{color:@orange;padding:0 2px;font-size: 11px;line-height: 11px;}
         }
       }
        .timebuy-price{ 
          height: 76px;
          .price-down{
            background: url(../images/index/zhijiang.png) no-repeat;
            width: 40px;
            height: 35px;
            float: left;
            padding-top: 40px;
            margin-left:10px;
            background-color: #f55c00;
            i{color: #fff;font-size: 14px;text-align: center;line-height: 20px;font-family: 'Microsoft YaHei',Tahoma,Verdana;font-style: normal;display: block; }
          }
          .car-price{
            width: 140px;
            height: 40px;
            padding-left: 10px;
            float: left;
            padding-top:5px;
            a{margin-bottom:5px;height:40px;overflow:hidden;display:block;font-size: 12px;color: #444;font-family: 'Microsoft YaHei',Tahoma,Verdana;line-height: 20px;}
            a:hover{color: @orange}
            .price-now{font-size: 20px;color: #db2400;font-family: 'Arial',Tahoma,Verdana;float: left;}
            .price-old{font-size: 13px;color: #999;font-family: Tahoma,Verdana;line-height: 30px;text-decoration:line-through;float: left;margin-left: 8px;}
          }
        }
      }
    }
  }
}
.hd{
  height: 45px;
  h2{line-height: 55px;font-size: 16px;color: #333; }
}
.starbuy{
  height: 315px;
  border: 1px solid #e6e6e6;
  
  .hd{height: 45px;
    h1{padding: 0 0 0 20px;}
  }
  .starbuy-box{
    position: relative;
    width: 210px;
    padding: 0 25px 0 25px;
    .starbuy-star{
      height: 52px;
      margin: 0px auto;
      margin-bottom: 10px;
      .star-image{
        width: 50px;height: 50px;float: left;overflow: hidden;
        img{width: 50px;height: 50px;}
      }
      .star{
        width: 132px;
        height: 72px;
        float: left;
        padding-left: 6px;
        .star-name {
          font-size: 12px;
          color: #444;
          line-height: 20px;
          padding-top: 5px;
          i{font-size: 12px;color: #111;font-weight: bold;padding-left:5px;font-style: normal;}
        }
        .star-post{font-size: 12px;color: #bb8d6f;line-height: 20px;}
      }
     }
    
    .car-image{
       width: 210px;
       height: 141px;
       margin-bottom: 10px;
       display: block;
       overflow: hidden;
    }
    a{
      display: block;
    }
    .t{    
      color:#fff;
            i{
              display: block;float: right;font-style: normal;
            }
          }
          .d{line-height: 20px;color:#fff;}
    .car-float{
        height: 50px;
        width: 210px;
        background-color: #000;
        opacity: 0.6;
        position: absolute;
        bottom: 0px;
        left:25px;

        .float-box{
          font-size: 12px;
          padding: 10px;
          color: #fff;
          
        }
      }
    
  }
  .car-reason{font-size:12px;font-weight: bold;float: left;font-style: normal;color: #444;padding:0 25px;
      i {line-height:20px;font-style: normal;font-weight: normal;color: #666;}
    }
}
