.whybuy{
  width: 918px;
  overflow:hidden;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  border-right: none;
  .hd{height: 45px;
  }
  .whybuy-wrap{
    width: 920px;
    .whybuy-box{
      border-bottom: 1px solid #e6e6e6;
      .morecar{height: 30px;background-color: #000;position: absolute;cursor: pointer;
                 font-size: 12px;color: #fff;line-height: 30px;
                 bottom: 20px;padding-right: 10px;
                 opacity: 0.8;
                 left:0px;
                padding-left: 10px;
        }
      .whybuy-img{
        width: 228px;
        height: 290px;
        background-color: #333;
        float: left;
        position: relative;
        overflow: hidden;
        img{
          width:228px;
          height: 290px;
        }

      }
      .whybuy-car{
        width: 219px;
        height: 280px;
        float: left;
        display: inline;
        padding-left: 10px;
        overflow: hidden;
        padding-top:10px;
        border-right: 1px solid #e6e6e6;
        .car-image{
          display:block;height:140px;width: 210px;
          overflow: hidden;
          img{
            width:210px;
          }
        }
        .car-info {
          height: 44px;
          overflow: hidden;
          padding-top: 15px;
          line-height: 20px;
          a{font-size: 14px;}
        }
        .car-prices{
          height:30px;
          overflow: hidden;
          font-size: 18px;color: #db2400;padding-top: 10px;
          i{display: block;font-size: 12px;color: #999;font-style: normal;float: right;line-height: 30px;_margin-top:-30px;padding-right: 10px;}
        }
        .cai-tag{
          height:20px;padding-top: 8px;
          color:#999;
          margin-left:-10px;
          i{display: block;font-size: 12px;float: left;font-style: normal;line-height: 18px;border-right:1px solid #ddd;padding:0 10px;}
          i:last-child{border-right:none;}
        }
      }
      .familycar-image{
        width: 228px;
        height: 290px;
        background-color: #333;
        float: left;
         display: inline;
        position: relative;
        overflow: hidden;
         img{
          width:228px;
          height: 290px;
        }
        
      }
    }
    .dreamcar-box{
      height: 260px;
      border-bottom: none;
      .dreamcar-image{
        width: 228px;
      height: 290px;
        background-color: #333;
        float: left;
        position: relative;
        overflow: hidden;
        img{
          width:228px;
          height: 290px;
        }
        
      }
    }
  }
}
.hotsell{
  height: 485px;
  width:258px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
  .hd{
    height: 45px;
    h1{padding: 0 0 0 20px;line-height: 50px;}
  }
  .hotsell-wrap{
    height:440px;
    .hotsell-box{
      padding: 0 10px 0 10px;
      .hotsell-list{
        li{
           height: 43px;
           border-top: 1px solid #e6e6e6;
           .car-list{ 
            height: 25px;
            padding: 8px 10px 8px 10px;
            span{
            font-size: 14px;color: #444;float: left;display: block;width: 20px;height: 25px;line-height: 25px;
           }
           .car-icon{
            width: 25px;height: 25px;background: url(../images/index/carlogo.png);float: left;margin-right: 10px;
           }
           i{
            font-size: 14px;color: #444;font-style: normal;float: left;display: block;line-height: 25px;
            a{cursor: pointer;font-size: 14px;color: #444;font-style: normal;}
            a:hover{color: @orange;}
           }
           a{text-align:right;display:block;color: #959595;font-size: 12px;line-height: 25px;cursor: pointer;}
           a:hover{color: @orange;}
         }
        }
        .kempcar{
          .triangle{width: 10px;height: 7px;font-size:0;line-height:0;background:url(../images/index/triangle.png);position: relative;top: -7px;left: 15px;}
          .car-list{
            span{background: url(../images/index/kempcar.png);position: relative;left: -5px;}
          }
          a.kempcar-price{color: #fc7b28;}
        }
      }
    }
  }
}
.recentsell{
  height: 273px;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  .hd{
    height: 45px;
    h1{padding: 0 0 0 20px;line-height: 50px;}
  }
  .recentsell-wrap{
    height: 215px;
    .recentsell-box{ 
      padding: 0 10px 0 10px;
      ul{
        li{
          border-top:  1px solid #e6e6e6;
          height: 52px;
          .triangle{width: 10px;height: 7px;background:url(../images/index/triangle.png);position: relative;top: -7px;left: 15px;}
          .recentsell-list{
            padding: 8px 10px 8px 10px; 
            a{
              font-size: 12px;color: #666;cursor: pointer;display: block;
              i{font-style: normal;color: #fc7b28;display: block;float: right;position: relative;right: 7px;}
            }
            a:hover{
              color: @orange;
            }
          }
        }
      }
    }
  }
}
.souche-wx{
  height: 91px;
  border:  1px solid #e6e6e6;
  margin-top: 10px;
  .wx-wrap{
    padding: 10px;
    .wx-box{
      .wx-code{
        background: url(../images/index/souchewx.png);width: 70px;height: 70px;float: left;
      }
      .wx-text{
        float: left;
        width: 158px;
        height: 70px;
        padding-left: 10px;
        h2{font-size: 16px;color: #333;}
        p{font-size: 12px;color: #333;padding-top: 10px;}
      }
    }
  }
}