.whybuy{
  width: 920px;
  border: 1px solid #e6e6e6;
  .hd{height: 45px;
  }
  .whybuy-wrap{
    height: 277px;
    width: 920px;
    .whybuy-box{
      margin: 20px 20px 0px 25px;
      height: 260px;
      padding-bottom: 18px;
      border-bottom: 1px solid #e6e6e6;
      .whybuy-img{
        width: 210px;
        height: 260px;
        background: url(../images/index/practical.png);
        background-color: #333;
        float: left;
        .whybuy-text{
          padding:20px;
          i {font-size: 18px;color: #fff;font-weight: bold;display: block;font-style: normal;}
          p {font-size: 14px;color: #fff;padding-top: 5px;}
        }
        .morecar{display: block;height: 45px;background-color: #2d3f53;top :101px;width: 210px;position: relative;cursor: pointer;
                 font-size: 12px;color: #fff;text-align: center;line-height: 45px;
        }
      }
      .whybuy-car{
        width: 210px;
        height: 260px;
        float: left;
        padding-left: 10px;
        .car-image{
          display:block;height:140px; background: url(../images/index/car-image.png);cursor: pointer;
        }
        .car-info {
          padding-top: 10px;
          a{font-size: 12px;cursor: pointer; }
        }
        .car-prices{
          font-size: 18px;color: #db2400;padding-top: 10px;
          i{display: block;font-size: 12px;color: #666;font-style: normal;float: right;line-height: 30px;}
        }
        .cai-tag{
          height:20px;padding-top: 23px;
          i{display: block;font-size: 12px;color: #444;background-color: #ececec;float: left;margin-right: 10px;border-left: 10px solid #ececec;border-right: 10px solid #ececec;font-style: normal;line-height: 18px;}
        }
      }
      .familycar-image{
        width: 210px;
        height: 260px;
        background: url(../images/index/familycar.png);
        background-color: #333;
        float: left;
        .familycar-text{
           padding:20px;
           i {font-size: 18px;color: #fff;font-weight: bold;display: block;font-style: normal;}
           p {font-size: 14px;color: #fff;padding-top: 5px;}
        }
        .morecar{
          display: block;height: 45px;background-color: #2d3f53;top :101px;width: 210px;position: relative;cursor: pointer;
          font-size: 12px;color: #fff;text-align: center;line-height: 45px;}
      }
    }
    .dreamcar-box{
      margin: 20px 20px 0px 25px;
      height: 260px;
      border-bottom: none;
      padding-bottom: 10px;
      .dreamcar-image{
        width: 210px;
        height: 260px;
        background: url(../images/index/dreamcar.png);
        background-color: #333;
        float: left;
        .dreamcar-text{
           padding:20px;
           i {font-size: 18px;color: #fff;font-weight: bold;display: block;font-style: normal;}
           p {font-size: 14px;color: #fff;padding-top: 5px;}
        }
        .morecar{
          display: block;height: 45px;background-color: #2d3f53;top :101px;width: 210px;position: relative;cursor: pointer;
          font-size: 12px;color: #fff;text-align: center;line-height: 45px;}
      }
    }
  }
}
.hotsell{
  height: 485px;
  border: 1px solid #e6e6e6;
  .hd{
    height: 45px;
    h1{padding: 0 0 0 20px;line-height: 50px;}
  }
  .hotsell-wrap{
    height:440px;
    .hotsell-box{
      padding: 0 10px 0 10px;
      .hotsell-list{
        li{
           height: 43px;
           border-top: 1px solid #e6e6e6;
           .car-list{ 
            height: 25px;
            padding: 8px 10px 8px 10px;
            span{
            font-size: 14px;color: #444;float: left;display: block;width: 20px;height: 25px;line-height: 25px;
           }
           .car-icon{
            width: 25px;height: 25px;background: url(../images/index/carlogo.png);float: left;margin-right: 10px;
           }
           i{font-size: 14px;color: #444;font-style: normal;float: left;display: block;line-height: 25px;}
           a{display: block;float: right;color: #959595;font-size: 12px;line-height: 25px;cursor: pointer;}
         }
        }
        .kempcar{
          .triangle{width: 10px;height: 7px;background:url(../images/index/triangle.png);position: relative;top: -7px;left: 15px;}
          .car-list{
            span{background: url(../images/index/kempcar.png);position: relative;left: -5px;}
          }
          a.kempcar-price{color: #fc7b28;}
        }
      }
    }
  }
}
.recentsell{
  height: 290px;
  border: 1px solid #e6e6e6;
  margin-top: 10px;
  .hd{
    height: 45px;
    h1{padding: 0 0 0 20px;line-height: 50px;}
  }
  .recentsell-wrap{
    height: 245px;
    .recentsell-box{ 
      padding: 0 10px 0 10px;
      ul{
        li{
          border-top:  1px solid #e6e6e6;
          height: 60px;
          .triangle{width: 10px;height: 7px;background:url(../images/index/triangle.png);position: relative;top: -7px;left: 15px;}
          .recentsell-list{
            padding: 8px 10px 8px 10px; 
            a{
              font-size: 12px;color: #666;cursor: pointer;display: block;
              i{font-style: normal;color: #fc7b28;display: block;float: right;position: relative;right: 7px;}
            }
          }
        }
      }
    }
  }
}
.souche-wx{
  height: 91px;
  border:  1px solid #e6e6e6;
  margin-top: 10px;
  .wx-wrap{
    padding: 10px;
    .wx-box{
      .wx-code{
        background: url(../images/index/souchewx.png);width: 70px;height: 70px;float: left;
      }
      .wx-text{
        float: left;
        width: 158px;
        height: 70px;
        padding-left: 10px;
        h2{font-size: 16px;color: #333;}
        p{font-size: 12px;color: #333;padding-top: 10px;}
      }
    }
  }
}