
  .carlife{
    width:100%;
    overflow: hidden;

    .bd{
      margin-bottom: 20px;
      overflow: hidden;
      width: 1300px;

      .carlife-item{
        
        margin:0px 13px 10px 0; 
        width: 387px;
        height:130px;
        display: block;
        float: left;
        overflow: hidden;
        zoom:1;
        position: relative;
        .front{
          position: relative;
          overflow: hidden;
          background-color: #f5f5f5;
          i{
            float: left;
            height: 130px;
            width: 130px;
            overflow: hidden;
            img{
              width:130px;
            }
          }
          .person{
            float: left;
            width:245px;
            height: 130px;
            .title{
              margin: 15px 0 5px 15px; 
              position: relative;
              color: #333;
              font-size: 14px;
              font-weight: bold;  
            }
            .name{
              padding: 0 0 5px 15px;
              font-size:12px;
              color: #666;
              line-height: 20px;
            }
            .info{
              overflow: hidden;
              color: #666;
              padding: 10px 0px 0 15px;
              line-height: 20px;
              span{
                font-size:12px;
                line-height: 20px;
                margin-right: 10px;
                line-height: 20px;
                float: left;
              }
              
            }
          }
        }//end of content
        .back{
          z-index: 10;
          overflow: hidden;
          background-color: @orange;
          color: #fff;
          position: relative;
          width:387px;
            height: 130px;
            display: block;
          i{
            float: left;
            height: 130px;
            width: 130px;
            overflow: hidden;
            img{
              width:130px;
            }
          }
          .person{
            float: left;
            width:240px;
            height: 130px;
            position: relative;
            .title{
              margin: 15px 0 10px 15px; 
              position: relative;
              font-size: 14px;
              font-weight: bold;  
            }
            .info{
              font-size:12px;
              overflow: hidden;
              padding-left:15px;
              line-height: 20px;
              span{
                font-size:12px;
                margin-right: 10px;
                line-height: 20px;
                float: left;
              }
              
            }
            
            .look{
              position: absolute;
              right: 10px;
              bottom: 10px;
              span{
                height: 15px;
                width: 15px;
                background-image:url(../images/index/to-look.png); 
                display: inline-block;
                margin-left: 10px;
                vertical-align: -4px;
              }
            }
          }
        }
      }/*end of carlife-item*/
      .carlife-item.upper{
        margin-bottom: 0;
      }


    }
  }
.module
  .banners{
    overflow: hidden;
      a{
        width: 296px;
        height: 140px;
        overflow: hidden;
        display: inline;
        float: left;
        img{
          width:296px;
        }
        margin-right: 1px;
      }
      a.last{
        margin-right: 0;
      }
  }