.module
  .carlife
    .bd{
      border: 1px solid #e6e6e6;
      overflow: hidden;
      .carlife-item{
        margin:20px 0 20px 20px; 
        width: 370px;
        height:140px;
        float: left;
        i{
          float: left;
          height: 140px;
          width: 140px;
          overflow: hidden;
        }
        
        .person{
          float: left;
          width:230px;
          height: 140px;
          background-color: #f5f5f5;
          .title{
            margin: 18px 0 18px 18px; 
            position: relative;
            color: #333;
            font-size: 14px;
            font-weight: bold;
            .name{
              padding: 2px 15px;
              position: absolute;
              font-weight: normal;
              font-size: 12px;
              color: #fff;
              right: -2px;
              top:-3px;
              background-color: #797979;
            }
          }
          .info{
            span{
              font-size:12px;
              color: #666;
              margin-right: 10px;
              line-height: 20px;
            }
            padding: 0 20px 0 20px;
          }
        }
      }
      .carlife-item.upper{
        margin-bottom: 0;
      }


    }

.module
  .banners{
    border: 1px solid #e6e6e6;
    height: 178px;
    overflow: hidden;
      a{
        width: 257px;
        height: 140px;
        overflow: hidden;
        display: block;
        float: left;
        margin: 20px;
      }
      a.last{
        margin-right: 0;
      }
  }