@module1-ligth-gray:#e6e6e6;
@module1-dark-gray:#999;
.filter-nav{
  border:1px solid @module1-ligth-gray;
  float:left;
  width:246px;
  .inner{
    padding:10px;
  }
  .nav-item{
    height: 100px;
    float:left;
    margin:5px;
  }
  .nav-item-hd {
    font-size:14px;
    color:#333;
    font-weight:bold;
    img{
      vertical-align:middle;
      width:20px;
      height:20px;
      margin-right:10px;
    }
  }

  .nav-item-bd{
    padding:5px 20px;
    a{
      color:@module1-dark-gray;
      float:left;
      margin-right:10px
    }
  }

  .hr{
    border-bottom:1px solid @module1-ligth-gray;
    width:90%;
    margin:10px 0;
  }
}

.main-slider{
  margin-left:10px;
  float:left;
  .inner{
    border:1px solid @module1-ligth-gray;
  }
  .slider img{
    width:660px;
    height:300px;
  }

  .performance{
    overflow:hidden;
    .per-item{
      float: left;
      border-right:1px solid  @module1-ligth-gray;
      border-top:1px solid  @module1-ligth-gray;
    }
    .per-item.last{
      border-right: 0;
    }
    .per-item img{
      height: 141px;
      width: 219px;
    }
  }

}

.mod-side{
  
  .service{
    background-color:#f5f5f5;
    height: 240px;
    width: 260px;
    margin-bottom: 10px;
    .inner{
      padding-top: 15px;
      i{
        display: block;
        width:40px;
        height:40px;
        position: absolute;
        top:24px;
        left:20px;

      }
      .per{
        position: relative;
        width:260px;
        padding:15px 0 0px 70px;
        
      }
      .t{
        font-size: 16px;
        line-height: 30px;
        color:#666;
      }
      .st{
        font-size: 14px;
        color:#999;
        line-height: 20px;
      }
      .per-1{
        i{
          background: url(../images/index/per-1.png) no-repeat;
        }
      }
      .per-2{
        i{
          background: url(../images/index/per-2.png) no-repeat;
        }
      }
      .per-3{
        i{
          background: url(../images/index/per-3.png) no-repeat;
        }
      }
    }
  }
  .address{
    border: 1px solid @module1-ligth-gray;
    color: #333;
    img{
        width: 260px;
    }
    .inner{
      height: 87px;
      padding: 0 15px;
    
      p.t{
        font-size: 16px;
        margin-top:10px;
      }
      p.a{
        margin:5px 0;
      }
      a{
        color: #0090CC;
      }
    }
   
  }
  
}
