@module1-ligth-gray:#e6e6e6;
@module1-dark-gray:#999;

.filter-nav{
  border:1px solid @module1-ligth-gray;
  float:left;
  width:228px;
  height: 488px;
  position: relative;
  z-index: 10;
  #brand{
    position: absolute;
    left:227px;
    top:0px;
    width: 0px;
    display: none;
    
    height: 560px;
    /*width: 690px;*/
    border: 1px solid @orange;
    z-index: 10000;
    background-color: #FFF;
    .inner{
      padding: 15px 25px;
      width:690px;
      .brand-title{
        font-weight: bold;
        font-size: 14px;
      }
      .brand-text-wrap{
        overflow: hidden;
        width:690px;
        .brand-text-left{
          margin-right: 25px;
          width: 360px;
          float: left;
          display:inline;

        }
        .brand-text-right{

        }

        .bt-item{
          line-height: 18px;
          margin: 15px 0;
          overflow: hidden;
          .alpha {
            width: 10px;
            font-size:14px;
            color: @orange;
            vertical-align: top;
            float: left;
            display:inline;
          }
          .details{
            overflow: hidden;
            font-size: 12px;
            display: block;
            a{
              float: left;
              display:inline;
              margin-left: 20px;
            }
            a.hover{
              color:@orange;
            }
          }
        }
      }

      .hr{
        clear:both;
        background-color: @module1-ligth-gray;
        margin: 5px 0 15px 0;
        font-size: 0px;
        line-height: 0;
      }
      .brand-show-hd{
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 15px;
      }
      .brand_show{
        width:700px;
          overflow: hidden;
          height: 70px;
          li{
            float: left;
            display:inline;
            width:45px;
            color: #333;
            font-size: 14px;
            text-align: center;
            margin: 0 12px;
            a{
              display: block;
              img{
                display: block;
                margin: 0 auto;
                height: 42px;
                margin-bottom: 8px;
              }
              img:hover{
                -webkit-transform: scale(1.2, 1.2);
                transform: scale(1.2, 1.2); 
              }
            }
          }
      }
      
    }/*end of inner*/

  }/*end of brand*/

  .inner{
    /*padding:15px 5px 0 10px ;*/
    overflow: hidden;
    .nav-item{
      padding: 0 5px 0 10px;
      margin-bottom: 15px;
      
    }
    #nav-item-brand{
      padding-top: 15px;
      border: 1px solid #fff;
      .right-arrow{
        background-image: url(../images/index/right-arrow.png);
        right: 0px;
        top:15px;
        position: absolute;
        height: 20px;
        width: 20px;
      }
    }
    .nav-item-hd {
      font-size:14px;
      color:#333;
      font-weight:bold;
      position: relative;
      width: 60px;
      i{
        display: inline-block;
        height:21px;
        width: 19px;
        background-repeat: no-repeat;
        background-position: center center;
      }
      i.item1{
        background-image:url(http://f2e.souche.com/assets/images/index/r-small.png);
      }
      i.item2{
        background-image:url(http://f2e.souche.com/assets/images/index/m-small.png);
      }
      i.item3{
        background-image:url(http://f2e.souche.com/assets/images/index/c-small.png);
      }
      i.item4{
        background-image:url(http://f2e.souche.com/assets/images/index/t-small.png);
      }
      span{
        position: absolute;
        left:30px;
        top: 0px;
        display: block;
        width:60px;
      }

    }

    .nav-item-bd{
      padding:5px 10px 5px 30px;
      a{
        color:#666;
        display:inline-block;
        font-size: 12px;
        margin-right:11px;
        margin-bottom:10px;
        line-height: 14px;
      }
      a:hover{color:@orange;}
    }

    .hr{
      border-bottom:1px solid @module1-ligth-gray;
      width:90%;
      font-size: 0px;
        line-height: 0;
    }
  }
}
.main-slider{
  margin-left:10px;
  float:left;
  overflow: hidden;
  width: 678px;
  position: relative;
  z-index:9;
  border:1px solid @module1-ligth-gray;
  .flexslider{overflow:hidden;width:100%;height:340px;position:relative;z-index:10;}
  .flexslider .slides li{background-position:center top;background-repeat:no-repeat;}
  .flexslider .slides img{display:block;margin:0 auto;}
  .flexslider .flex-direction-nav{display:none;}
  .flexslider .flex-viewport a{display:block;width:400px;margin:0 auto;height:340px;}
  .flex-control-nav{position:absolute;bottom:10px;width:400px;text-align:center;margin-left:-200px;left:50%;*margin-left:-50px;}
  .flex-control-nav li{display:inline-block;*float:left;*display:inline;}
  .flex-control-nav a{overflow: hidden;text-indent:1000px;float:left;display:inline;width:12px;height:12px;line-height:12px;text-align:center;color:#fff;background-color:#666;margin-right:12px;cursor:pointer;border-radius:50%;}
  .flex-control-nav a:hover{background-color:#e70;}
  .flex-control-nav .flex-active{background-color:#e70;}
  .performance{
    overflow:hidden;
    border-top:1px solid  @module1-ligth-gray;

    .per-item{
      float: left;
      display:inline;
      border-right: 1px solid  @module1-ligth-gray;
      a {display: block;width: 225px;height: 147px;cursor: pointer;
        img{width: 225px;height: 147px;}
      }
    }
    .per-item.last{
      border-right: 0;
    }
    .per-item:last-child{
      border-right: 0;
    }
  }
}

.mod-side{
  overflow:hidden;
  .service{
    background-color:#f5f5f5;
    height: 278px;
    width: 258px;
    border: 1px solid @module1-ligth-gray;
    margin-bottom: 10px;
    .inner{
      padding-top: 15px;
      i{
        display: block;
        width:40px;
        height:40px;
        position: absolute;
        top:30px;
        left:20px;
      }
      .per{
        position: relative;
        width:260px;
        padding:25px 0 0px 70px;
        a{
          display: block;
        }
      }
      .t{
        font-size: 16px;
        line-height: 30px;
        color:#666;
      }
      .st{
        font-size: 14px;
        color:#999;
        line-height: 20px;
      }
      .per-1{
        i{
          background: url(../images/index/per-1.png) no-repeat;
        }
      }
      .per-2{
        i{
          background: url(../images/index/per-2.png) no-repeat;
        }
      }
      .per-3{
        i{
          background: url(../images/index/per-3.png) no-repeat;
        }
      }
    }
  }
  .address{
    border: 1px solid @module1-ligth-gray;
    color: #333;
  
    .inner{
      height: 87px;
      padding: 0 15px;
    
      p.t{
        font-size: 16px;
        margin-top:10px;
      }
      p.a{
        margin:5px 0;
      }
      .sendadd{
        color: #0090CC;cursor: pointer;
      }
      .sendadd:hover{color: @orange;}
    }
   
  }
  
}
