.qiugou{
  height:427px;
  border:1px solid #ddd;
  background:#f9f9f9 url(../images/index/qiugou-bg.jpg) no-repeat right bottom;
  
  .inner{
    padding-left:56px;
  padding-top:30px;
  }
  .title{
    font-size: 28px;
    color:#222;
    line-height: 35px;
  }
  .sub-title{
    font-size: 14px;
    color:#666;
    line-height: 30px;
  }
  .form{
    margin-top:40px;
    .form-item{
      margin-top:10px;
      label{
        color:#444;
        font-size: 14px;
        float:left;
        line-height: 30px;
        font-weight: bold;
      }
      .input{
        margin-left: 20px;
        float:left;
        height:30px;
      }
      .sc-select{width:257px;}
    }
    .brand-select{
      .option{

      }
      .option.active{
        
      }
    }
  }
}
.buyforme{
  background: #fff;
  height:427px;
  border:1px solid #ddd;
  overflow: hidden;
  .go{
    display: block;
    width:260px;
    height:338px;
    background: url(../images/index/wantbuy.png) no-repeat;
    overflow: hidden;
  }
  .qiugou-history{
    font-size: 12px;
    color: #666;
    
    padding:10px 30px;
    .item{
       color: #666;
       line-height: 23px;
    }
  }
}