.sidetoolbar-top{
  height: 131px;
  border: 1px solid #e6e6e6;
  margin-bottom: 35px;
  .suggestside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .suggest-box{
      padding: 11px;
      display: block;
      .suggest-img{
        width: 29px;
        height: 27px;
        background: url(../images/index/suggest.png);
      }
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .customerside{
    height: 65px;
    .customer-box{
      padding: 11px;
      display: block;
      .customer-img{width: 29px;height: 27px;background: url(../images/index/customer.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
}
.sidetoolbar-bottom{
  height: 263px;
  border: 1px solid #e6e6e6;
  .collectside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .collect-box{
      padding: 11px;
      display: block;
      .collect-img{width: 29px;height: 27px;background: url(../images/index/collect.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .reserveside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .reserve-box{
      padding: 11px;
      display: block;
      .reserve-img{width: 29px;height: 27px;background: url(../images/index/reserve.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .sellside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .sell-box{
      padding: 11px;
      display: block;
      .sell-img{width: 29px;height: 27px;background: url(../images/index/sell.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .scanside{
    height: 65px;
    .scan-box{
      padding: 11px;
      display: block;
      .scan-img{width: 29px;height: 27px;background: url(../images/index/scan.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
}
.sidetoolbar{
  width: 50px;
  height: 215px;
  background: #f7f7f7;
  position: fixed;
  right: 50px;
  bottom: 50px;
  border: 1px solid #dedede;
  .side-box{
    height: 53px;
    border-bottom: 1px solid #dedede;
    .point{
      width: 15px;
      height: 15px;
      border-radius: 15px;
      border: 2px solid #fff;
      background: #FC7000;
      position: relative;
      top: -50px;
      left: -8px;
      i{font-size: 12px;color: #fff;font-style: normal;text-align: center;display: block;padding: -1px;}
    }
    a{
      padding: 6px 5px;display: block;
      div{width: 27px;height: 25px;margin: 0 auto;}
      i{display: block;color: #666;font-size: 12px;text-align: center;font-style: normal;}
    }
    .collect-box{
      .collect-img{background: url(../images/index/collect.png);}
    }
    .reserve-box{
      .reserve-img{background: url(../images/index/reserve.png);}
    }
    .sell-box{
      .sell-img{background: url(../images/index/sell.png);}
    }
    .scan-box{
      .scan-img{background: url(../images/index/scan.png);}
    }
  }
  .side-box:hover{
    background: #FC7000;
    a{
      i{color: #fff8dd;}
    }
    .collect-box{
      .collect-img{background: url(../images/index/collect-hover.png);}
    }
    .reserve-box{
      .reserve-img{background: url(../images/index/reserve-hover.png);}
    }
    .sell-box{
      .sell-img{background: url(../images/index/sell-hover.png);}
    }
    .scan-box{
      .scan-img{background: url(../images/index/scan-hover.png);}
    }
  }
}
.toolbar{
  width: 910px;height:652px;
 .toolbar-nav{
    background-color: #FC7000;
    width: 50px;
    height: 650px;
    float: left;
    border-left: 1px solid #d15001;
    .toolbar-list{
      height: 224px;
      li{
        border-bottom: 1px solid #d15001;
        border-right:1px solid #d15001; 
        height: 55px;
        a{
          display: block;
          padding: 9px 5px;
          .icon-img{width: 27px;height: 25px;margin: 0 auto;}
          .title{display: block;color:#fff8dd;font-size: 12px;text-align: center;font-style: normal;}
        }
      }
      .collect{
        border-top:  1px solid transparent;
        a{.icon-img{background: url(../images/index/collect-hover.png);}}
      }
      .collect:hover{
        border-bottom: 1px solid #dedede;border-right: none;
        border-top:  1px solid #dedede;
        background: #f2f2f2;
        a{
          .icon-img{background: url(../images/index/collect-active.png);}
          .title{color: #666;}
        }
      }
      .reserve{a{.icon-img{background: url(../images/index/reserve-hover.png);}}}
      .reserve:hover{
        border-bottom: 1px solid #dedede;border-right: none;
        background: #f2f2f2;
        a{
          .icon-img{background: url(../images/index/reserve-active.png);}
          .title{color: #666;}
        }
      }
      .sell{a{.icon-img{background: url(../images/index/sell-hover.png);}}}
      .sell:hover{
        border-bottom: 1px solid #dedede;border-right: none;
        background: #f2f2f2;
        a{
          .icon-img{background: url(../images/index/sell-active.png);}
          .title{color: #666;}
        }
      }
      .scan{a{.icon-img{background: url(../images/index/scan-hover.png);}}}
      .scan:hover{
        border-bottom: 1px solid #dedede;border-right: none;
        background: #f2f2f2;
        a{
          .icon-img{background: url(../images/index/scan-active.png);}
          .title{color: #666;}
        }
      }
    }
  }
  .toolbar-content{
    width: 855px;
    height: 648px;
    border: 1px solid #dedede;
    border-left: none;
    float: left;
    background-color: #F2F2F2;
    i{float: right;width: 11px;height: 11px;background: url(../images/index/toolbar-close.png);margin-top: 10px;margin-right:10px;display: block;}
    iframe{}
  }
}

