.sidetoolbar-top{
  height: 131px;
  border: 1px solid #e6e6e6;
  margin-bottom: 35px;
  .suggestside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .suggest-box{
      padding: 11px;
      display: block;
      .suggest-img{
        width: 29px;
        height: 27px;
        background: url(../images/index/suggest.png);
      }
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .customerside{
    height: 65px;
    .customer-box{
      padding: 11px;
      display: block;
      .customer-img{width: 29px;height: 27px;background: url(../images/index/customer.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
}
.sidetoolbar-bottom{
  height: 263px;
  border: 1px solid #e6e6e6;
  .collectside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .collect-box{
      padding: 11px;
      display: block;
      .collect-img{width: 29px;height: 27px;background: url(../images/index/collect.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .reserveside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .reserve-box{
      padding: 11px;
      display: block;
      .reserve-img{width: 29px;height: 27px;background: url(../images/index/reserve.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .sellside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .sell-box{
      padding: 11px;
      display: block;
      .sell-img{width: 29px;height: 27px;background: url(../images/index/sell.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .scanside{
    height: 65px;
    .scan-box{
      padding: 11px;
      display: block;
      .scan-img{width: 29px;height: 27px;background: url(../images/index/scan.png);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
}