- var cssbase = 'http://f2e.souche.com/assets/css-bigshop/chunyan.less/S/pc.qiwa/';

doctype html
html
	head
		link(
			href=cssbase+"index.Amy.css"
			style='text/css'
			rel='stylesheet')
	body
		include ../../A/header/Amy
		//- include ../../A/toolbar/Amy