extends ./pc.qiwa/base.Amy

block content
	include ./pc.qiwa/carshop/shophead.Amy.jade
	#listContain.wrap.clearfix
		#list_wrap.wrap.clearfix
			include ./pc.qiwa/carshop/navContainer.Amy.jade
			include ./pc.qiwa/carshop/listmain.Amy.jade