doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css?t=129" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/act/gouchejie.css?t=129" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#gouchejie
    #header
      .wrapper
        a.logo(href="http://www.souche.com")
          img(src="http://f2e.souche.com/assets/images/index/logo-new.png")
        .city.clearfix 
          span 杭州
          i 
        .search
          form.index-search
            input.search-text(type="text" name="keyword" placeholder="搜索你想要的车")
            button.search-submit(type="submit")
            .recom
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
              a(href="#") 索塔纳
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
        .phone-number
          img(src="http://f2e.souche.com/assets/images/index/phone-number.png")
    #nav
      .wrapper.clearfix
        .main-navs
          a.nav-item.active(href="#") 首页
          a.nav-item(href="#") 我要买车
          a.nav-item(href="#") 我要卖车
          a.nav-item(href="#") 主题精选
        .other-navs
          a.nsv-item(href="#") 登陆
          a.nsv-item(href="#") 微博登陆
          a.nsv-item(href="#" style="border-right:none;") QQ登陆
    #content
      .wrapper
        .share
          a(href="#")
        .erweima
        .baoming
          .head
          .content.clearfix
            .explain
              .timedown
                .title 活动报名截止倒计时
                .time 
                  span 01 
                  em 天
                  span 08
                  em 时
                  span 05
                  em 分
              .rule
                .title 活动规则
                .text
                  .text-item.clearfix
                    i 1 
                    span 一个手机号码只限报名一次。
                  .text-item.clearfix
                    i 2
                    span 线上报名截止为8月15日6点整，线下活动为8月16日至17日。
                  .text-item.clearfix
                    i 3
                    span 到店凭报名短信领取1000元优惠券（全场通用），一个抽奖资格（100%中奖）。
                  .text-item.clearfix
                    i 4
                    span 不可同时参与其他店内优惠活动。
                  .text-item.clearfix
                    i 5
                    span 限北京大搜车门店进行活动。 
            .baoming-form
              .title 报名通道
              form
                .name.from-item
                  label 姓名
                  input(placeholder="请输入您的姓名" type="text" id="baoming-name")
                .number.from-item
                  label 手机号码
                  input(placeholder="请输入您的手机号码" type="text" id="baoming-number")
                .wantcar.from-item
                  label 意向品牌
                  input(placeholder="请输入您想要的爱车品牌" type="text" id="baoming-car")
                .submit.clearfix
                  input(placeholder="提  交" type="submit" id="baoming-submit")
          .map
        .car-sp
          a.car-1.sp-item(href="#")
          a.car-2.sp-item(href="#")
          a.car-3.sp-item(href="#")
      .wrap-car
        .car-content
         .title 参加活动车辆
         .car-list.clearfix
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
          .car-box
            a.car-img
              i
              img(src="http://res.souche.com/files/carpicture/143BF1636D95B47776BD7CD8A5F70FC0_690x460.jpg_700x10000.jpg")
            a.car-link 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
            .car-info.clearfix
              .price ￥35.6万
              .time 首次上牌：2007-12-19
            .car-ad PQ35平台车型  |  技术领先
         .foot
          a 查看更多>>
    #footer
      .wrapper
        .foot-detail.clearfix
            .buycarguide.detail-item
                a.title(href="#") 购车指南
                a.art-link(href="#") 二手车靠谱吗
                a.art-link(href="#") 如何挑选二手车
                a.art-link(href="#") 二手车评测
                a.art-link(href="#") 二手车保养注意事项
            .security.detail-item
                a.title(href="#") 服务保障
                a.art-link(href="#") 全方位车辆检测
                a.art-link(href="#") 1年2万公里质保
                a.art-link(href="#") 7天无理由退车
                a.art-link(href="#") 1对1顾问购车
            .about.detail-item
                a.title(href="#") 关于我们
                a.art-link(href="#") 大搜车理念
                a.art-link(href="#") 加入我们
                a.art-link(href="#") 车牛
                a.art-link(href="#") 买车神器
            .contact.detail-item
                a.title(href="#") 联系我们
                a.art-link(href="#") 官方微信
                a.art-link(href="#") 新浪微博
                a.art-link(href="#") 门店地址：北京市海淀区世纪金源购物中心东区广场
        .friendlinks.clearfix
            a.links(href="#") 二手车网
            a.links(href="#") 北京汽车网
            a.links(href="#") 车易拍
            a.links(href="#") 天津二手车网
            a.links(href="#") 米胖汽车
            a.links(href="#") 二手车
            a.links(href="#") 2014汽车报价
            a.links(href="#") 海南二手车
            a.links(href="#") 二手车资讯
            a.links(href="#") 180迈汽车保养
            a.links(href="#") 中山二手车
            a.links(href="#") 力洋VIN码识别
            a.links(href="#") 杭州二手车
            a.links(href="#") 成都二手车
            a.links(href="#") 车险信息网
        p Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号
  