doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/index.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css?t=129" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/act/lookcars.css?t=129" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
    
  body#lookcars
    #header
      .wrapper
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        .search
          form(action="")
            input.search-text(type="text",name="keyword",placeholder="提示")
            button.search-submit(type="submit") 搜 索
          .hot-keywords
            a(href="#") 热搜词
            a(href="#") 热搜词
            a(href="#") 热搜词
        .head-tel
          img(src="http://f2e.souche.com/assets/images/index/head-tel.png")
    #nav
      .wrapper
        span.main-navs
          a.active(href="#") 首页
          a(href="#") 我要买车
          a(href="#") 我要卖车
        span.other-navs
          a(href="#") 我的大搜车
          a(href="#") 登录
          a.last(href="#") 注册
    #content
      #banner.clearfix
        .send-to.
          <div class="send-to-link">
            <span>分享到</span>
            <a target="_blank" class="send-tosina" href="http://service.weibo.com/share/share.php?title=testtesttest&pic=&searchPic=false&url=http://f2e.souche.com/demo/act/lookcars#rule"></a>
            <a target="_blank" class="send-toqq" href="http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?title=&desc=&summary=&site=&pics=&url=http://f2e.souche.com/demo/act/lookcars#rule"></a>
            <a target="_blank" class="send-totenxun" href="http://share.v.t.qq.com/index.php?c=share&a=index&title=&pic=&url=http://f2e.souche.com/demo/act/lookcars#rule"></a>
          </div>
          <div class="rule-link">
            <a target="_blank" href="#rule"></a>
          </div>
      .wrapper
        .rule-head
        .car-content
          #car-suv.lookcars-wrapper
            .lookcars-title.clearfix.
              <a href="#" class="more" target="_blank">更多</a>
              <a href="#" id="baoming"></a>
              <div class="number">已有 <span>28</span> 位</div>
            .lookcar-box.clearfix
              .car-box.fenqicar
                a.car-img(href="#" target="_blank")
                  .fenqi-icon
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank" ) 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
          #car-success.lookcars-wrapper
              .lookcars-title.clearfix.
                <a href="#" class="more" target="_blank">更多</a>
                <a href="#" id="baoming"></a>
                <div class="number">已有 <span>28</span> 位</div>
              .lookcar-box.clearfix
                .car-box
                  a.car-img(href="#" target="_blank")
                    img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                  .car-detail
                    a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                    .car-price
                      .price-huodong 活动价：
                        span 22.53万
                        del 原价：22.53
                    .car-item.clearfix
                      .detail
                        .strong 4.26万公里
                        p 行驶里程
                      .detail
                        .strong 2009年3月
                        p 上牌时间
                      .detail
                        .strong 25.16万
                        p 新车价
                .car-box
                  a.car-img(href="#" target="_blank")
                    img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                  .car-detail
                    a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                    .car-price
                      .price-huodong 活动价：
                        span 22.53万
                        del 原价：22.53
                    .car-item.clearfix
                      .detail
                        .strong 4.26万公里
                        p 行驶里程
                      .detail
                        .strong 2009年3月
                        p 上牌时间
                      .detail
                        .strong 25.16万
                        p 新车价
                .car-box
                  a.car-img(href="#" target="_blank")
                    img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                  .car-detail
                    a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                    .car-price
                      .price-huodong 活动价：
                        span 22.53万
                        del 原价：22.53
                    .car-item.clearfix
                      .detail
                        .strong 4.26万公里
                        p 行驶里程
                      .detail
                        .strong 2009年3月
                        p 上牌时间
                      .detail
                        .strong 25.16万
                        p 新车价
                .car-box
                  a.car-img(href="#" target="_blank")
                    img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                  .car-detail
                    a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                    .car-price
                      .price-huodong 活动价：
                        span 22.53万
                        del 原价：22.53
                    .car-item.clearfix
                      .detail
                        .strong 4.26万公里
                        p 行驶里程
                      .detail
                        .strong 2009年3月
                        p 上牌时间
                      .detail
                        .strong 25.16万
                        p 新车价
                .car-box
                  a.car-img(href="#" target="_blank")
                    img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                  .car-detail
                    a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                    .car-price
                      .price-huodong 活动价：
                        span 22.53万
                        del 原价：22.53
                    .car-item.clearfix
                      .detail
                        .strong 4.26万公里
                        p 行驶里程
                      .detail
                        .strong 2009年3月
                        p 上牌时间
                      .detail
                        .strong 25.16万
                        p 新车价
                .car-box
                  a.car-img(href="#" target="_blank")
                    img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                  .car-detail
                    a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                    .car-price
                      .price-huodong 活动价：
                        span 22.53万
                        del 原价：22.53
                    .car-item.clearfix
                      .detail
                        .strong 4.26万公里
                        p 行驶里程
                      .detail
                        .strong 2009年3月
                        p 上牌时间
                      .detail
                        .strong 25.16万
                        p 新车价 
          #car-family.lookcars-wrapper
            .lookcars-title.clearfix.
              <a href="#" class="more" target="_blank">更多</a>
              <a href="#" id="baoming"></a>
              <div class="number">已有 <span>28</span> 位</div>
            .lookcar-box.clearfix
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价           
          #car-business.lookcars-wrapper
            .lookcars-title.clearfix.
              <a href="#" class="more" target="_blank">更多</a>
              <a href="#" id="baoming"></a>
              <div class="number">已有 <span>28</span> 位</div>
            .lookcar-box.clearfix
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价           
          #car-country.lookcars-wrapper
            .lookcars-title.clearfix.
              <a href="#" class="more" target="_blank">更多</a>
              <a href="#" id="baoming"></a>
              <div class="number">已有 <span>28</span> 位</div>
            .lookcar-box.clearfix
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#" target="_blank") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#" target="_blank")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价
              .car-box
                a.car-img(href="#")
                  img(src="http://f2e.souche.com/assets/images/acts/lookcars/car-img.png")
                .car-detail
                  a.car-title(href="#") 别克 2010款 君越3.0-手自一体旗舰型豪华型【进口】
                  .car-price
                    .price-huodong 活动价：
                      span 22.53万
                      del 原价：22.53
                  .car-item.clearfix
                    .detail
                      .strong 4.26万公里
                      p 行驶里程
                    .detail
                      .strong 2009年3月
                      p 上牌时间
                    .detail
                      .strong 25.16万
                      p 新车价  
          a.sell-car(href="http://www.souche.com/pages/caruser/sellCarNew.html" target="_blank")
            img(src="http://f2e.souche.com/assets/images/acts/lookcars/maiche.png")
          #rule
            .rule-title
            .rule-content
              p 1. 活动时间：4月12日-4月20日
              p 2. 活动期间报名看车团即可享受1000元购车优惠券，到店即可获赠小礼品。
              p 3. 优惠券仅限购买本次活动车辆，有效期截止至4月20日。
              p 4. 活动期间成交，即可额外获得价值688元行车记录仪一台，先到先得。
              p 5. 大搜车负责本活动的相关解释。   
    #nav-left
      .nav-title
      .nav-suv.nav-link-active.nav-link
        a(href="#car-suv") 年轻实惠
      .nav-success.nav-link
        a(href="#car-success") 成功个性
      .nav-family.nav-link
        a(href="#car-family") 家庭出游
      .nav-business.nav-link
        a(href="#car-business") 商务接待
      .nav-country.nav-link
        a(href="#car-country") 爱越野
      .nav-top
        a(href="#banner") 
    #baoming-success.hidden
      .wrapper
        .success-close
        h1 成功加入看车团 !
        .baoming-content
          .success-title 恭喜您已成功报名“全城大搜车——看车团”活动。
          .kanche.
            <div class="text">
            <span>看车时间：</span>
            <i>4月19日、4月20日 10:00-22:00</i>
            </div>
            <div class="text">
            <span>看车地点</span>
            <i>北京海淀区世纪金源购物中心东区北广场（西顶路火器营路口）大搜车品牌二手车馆，10号线长春桥站A口。</i>
            </div>
          .zixun.
            <div class="text">
            <span>资讯热线：</span>
            <i>4008-010-010 官网：www.souche.com</i>
            </div>
            <div class="text">
            <span>你的大搜车顾问:</span>
            <i>兔子（微信号：dasouche001）</i>
            </div>
          a.queding-but(href="#") 确 定
    #footer 
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>
    script.
      $(".nav-link").click(function(){
        $('.nav-link').removeClass('nav-link-active');
        $(this).addClass("nav-link-active")
        });
      $("#baoming").click(function{

        })
      $(".success-close").click(function(){

        $("#baoming-success").addClass("hidden");

        })
