doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/index.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/act/mother.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
    
  body#mother
    #header
      .wrapper
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        .search
          form(action="")
            input.search-text(type="text",name="keyword",placeholder="提示")
            button.search-submit(type="submit") 搜 索
          .hot-keywords
            a(href="#") 热搜词
            a(href="#") 热搜词
            a(href="#") 热搜词
        .head-tel
          img(src="http://f2e.souche.com/assets/images/index/head-tel.png")
    #nav
      .wrapper
        span.main-navs
          a.active(href="#") 首页
          a(href="#") 我要买车
          a(href="#") 我要卖车
        span.other-navs
          a(href="#") 我的大搜车
          a(href="#") 登录
          a.last(href="#") 注册
    #content
      .banner
      .wrapper
        .wrapper-box
          .paoxiao.mama-box.clearfix
            .image-left
            .car-right.clearfix
              .huapeng
              .mamatitle 咆哮帝妈妈表示：我的性格 就喜欢这个！
              p.car-int 领驭是上海大众在第五代帕萨特的基础上独自研发的一款5.5代PASSAT车型，在底盘、动力和车身结构上都还是PL45平台架构，但是在一些外观和配置上是向PQ46平台靠拢，所以被称之为大众5.5代帕特。虽然出身并不纯正，但是依靠强大的品牌号召力，领驭在国内获得了巨大成功，其销量甚至超越根正苗红的迈腾B6
              .list_content.clearfix 
                a.list_content_img(href="#" target="_blank")
                  img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="290px" height="190px")
                .list_content_carInfo
                  h1
                    a(href="#" target="_blank") 2013款 奔驰GLK300-4M自动IC-3.0 手自一体 豪华型
                  .list_content_price.clearfix
                    .list_content_price_new ￥50.57万
                    .list_content_price_old ￥60.57万
                  .list_content_other.clearfix.
                    <div><ins>0.80</ins><span>万</span>公里</div>
                    <div class="list_content_other_age"><ins>2013/12</ins><span></span>上牌</div>
                    <div><ins>23</ins><span>人</span>收藏</div>
                  .list_content_service.
                    <div><span></span>7天退货</div>
                    <div><span></span>保1年2万公里</div>
                    <div><span></span>分期付款</div>
              .car-bottom.clearfix
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
          .guangchang.clearfix
            .image-right
            .car-left.clearfix
              .yinxiang
              .mamatitle 广场舞妈妈表示：这个款 是我的菜！
              p.car-int 一款看着就想跳舞的车必须是她们的首选。车内循环播放《最炫民族风》，有轻微的抖动最佳...车型小巧玲珑，从家到楼下广场可以拉风的代个步，羡煞众多舞友大妈~
              .list_content.clearfix 
                a.list_content_img(href="#" target="_blank")
                  img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="290px" height="190px")
                .list_content_carInfo
                  h1
                    a(href="#" target="_blank") 2013款 奔驰GLK300-4M自动IC-3.0 手自一体 豪华型
                  .list_content_price.clearfix
                    .list_content_price_new ￥50.57万
                    .list_content_price_old ￥60.57万
                  .list_content_other.clearfix.
                    <div><ins>0.80</ins><span>万</span>公里</div>
                    <div class="list_content_other_age"><ins>2013/12</ins><span></span>上牌</div>
                    <div><ins>23</ins><span>人</span>收藏</div>
                  .list_content_service.
                    <div><span></span>7天退货</div>
                    <div><span></span>保1年2万公里</div>
                    <div><span></span>分期付款</div>
              .car-bottom.clearfix
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
          .furong.clearfix 
            .image-left
            .car-right.clearfix   
              .kouhong
              .mamatitle 芙蓉妈妈表示：只有这款才配得上我！
              p.car-int “性感” “敞篷” “小蛮腰”...只有这样的车才能配得上永远年轻的性感辣妹。车身越轻小越好，车座曲线分明，贴合妖娆的身材。车门稍推即开，细腿伸出车外，刚一落地，便行人侧面，闪光灯无数...
              .list_content.clearfix 
                a.list_content_img(href="#" target="_blank")
                  img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="290px" height="190px")
                .list_content_carInfo
                  h1
                    a(href="#" target="_blank") 2013款 奔驰GLK300-4M自动IC-3.0 手自一体 豪华型
                  .list_content_price.clearfix
                    .list_content_price_new ￥50.57万
                    .list_content_price_old ￥60.57万
                  .list_content_other.clearfix.
                    <div><ins>0.80</ins><span>万</span>公里</div>
                    <div class="list_content_other_age"><ins>2013/12</ins><span></span>上牌</div>
                    <div><ins>23</ins><span>人</span>收藏</div>
                  .list_content_service.
                    <div><span></span>7天退货</div>
                    <div><span></span>保1年2万公里</div>
                    <div><span></span>分期付款</div>
              .car-bottom.clearfix
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
          .aojiao.clearfix
            .image-right
            .car-left.clearfix
              .duihua
              .mamatitle 傲娇妈妈表示：这款的确比自家的好！
              p.car-int 这款和“别人家孩子”一样完美无瑕的车，确实比自家的要好那么一两个数量级，强劲的动力，流线型的外观，闪眼的色泽，连车灯都炯炯有神，充满自信。有了这辆车，老妈再也不夸别人家孩子，专等别人来夸自己啦！
              .list_content.clearfix 
                a.list_content_img(href="#" target="_blank")
                  img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="290px" height="190px")
                .list_content_carInfo
                  h1
                    a(href="#" target="_blank") 2013款 奔驰GLK300-4M自动IC-3.0 手自一体 豪华型
                  .list_content_price.clearfix
                    .list_content_price_new ￥50.57万
                    .list_content_price_old ￥60.57万
                  .list_content_other.clearfix.
                    <div><ins>0.80</ins><span>万</span>公里</div>
                    <div class="list_content_other_age"><ins>2013/12</ins><span></span>上牌</div>
                    <div><ins>23</ins><span>人</span>收藏</div>
                  .list_content_service.
                    <div><span></span>7天退货</div>
                    <div><span></span>保1年2万公里</div>
                    <div><span></span>分期付款</div>
              .car-bottom.clearfix
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
          .paiyou.clearfix
            .image-left
            .car-right.clearfix   
              .jiweijiu
              .mamatitle 牌友妈妈表示：这个型 还不赖！
              p.car-int 如果有一辆车，前座可以后转，然后中间可以升起一小桌。四个好姐妹堵在路上的间隙，就可以打一圈牌...那绝对畅销！
              .list_content.clearfix 
                a.list_content_img(href="#" target="_blank")
                  img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="290px" height="190px")
                .list_content_carInfo
                  h1
                    a(href="#" target="_blank") 2013款 奔驰GLK300-4M自动IC-3.0 手自一体 豪华型
                  .list_content_price.clearfix
                    .list_content_price_new ￥50.57万
                    .list_content_price_old ￥60.57万
                  .list_content_other.clearfix.
                    <div><ins>0.80</ins><span>万</span>公里</div>
                    <div class="list_content_other_age"><ins>2013/12</ins><span></span>上牌</div>
                    <div><ins>23</ins><span>人</span>收藏</div>
                  .list_content_service.
                    <div><span></span>7天退货</div>
                    <div><span></span>保1年2万公里</div>
                    <div><span></span>分期付款</div>
              .car-bottom.clearfix
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
                .car-box
                  a(href="#" target="_blank")
                    img(src="http://res.souche.com/files/carpicture/98DA9DDB67633D8F7E272E89E386C0A9_700x460.jpg_325x10000.jpg" width="235px" height="155px")
                    .car-price
                      .new-price 28.23万
                      .old-price 30.30万
          .weixin.clearfix
            .weixin-title
              h1 感恩母亲节
              h1 扫一扫，给你爱的妈妈点赞！
            .weixin-content.clearfix
              .weixin-box
                img.wx-code.mama1(src="../../assets/images/acts/mother/weixin1.png" width="200px" height="200px")
                .weixin-text
                  p 咆哮帝妈妈：
                  p 妈妈咆我千百遍
                  p 我待妈妈如初恋
                .dianzan
                  i
                  span 35
              .weixin-box
                img.wx-code.mama2(src="../../assets/images/acts/mother/weixin2.png" width="200px" height="200px")
                .weixin-text
                  p 广场舞妈妈：
                  p 要~要~切克闹！动起来！！
                .dianzan
                  i
                  span 35
              .weixin-box
                img.wx-code.mama3(src="../../assets/images/acts/mother/weixin3.png" width="200px" height="200px")
                .weixin-text
                  p 芙蓉妈妈：
                  p 专注火辣二十年
                  p 出门逛街就像姐
                .dianzan
                  i
                  span 35
              .weixin-box
                img.wx-code.mama4(src="../../assets/images/acts/mother/weixin4.png" width="200px" height="200px")
                .weixin-text
                  p 傲娇妈妈：
                  p 我们都有一个
                  p 无法超越的对象——
                  p 别人家的孩子
                .dianzan
                  i
                  span 35
              .weixin-box(style="margin-right:0;")
                img.wx-code.mama5(src="../../assets/images/acts/mother/weixin5.png" width="200px" height="200px")
                .weixin-text
                  p 牌友妈妈：
                  p 爱她，就陪她抽一根
                  p 喝一杯或者打一圈吧
                .dianzan
                  i
                  span 35
    #footer 
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>