doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css?t=129" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/act/zhuanpan.css?t=129" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#zhuanpan
    #header
      .wrapper
        a.logo(href="http://www.souche.com")
          img(src="http://f2e.souche.com/assets/images/index/logo-new.png")
        .city.clearfix 
          span 杭州
          i 
        .search
          form.index-search
            input.search-text(type="text" name="keyword" placeholder="搜索你想要的车")
            button.search-submit(type="submit")
            .recom
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
              a(href="#") 索塔纳
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
        .phone-number
          img(src="http://f2e.souche.com/assets/images/index/phone-number.png")
    #nav
      .wrapper.clearfix
        .main-navs
          a.nav-item.active(href="#") 首页
          a.nav-item(href="#") 我要买车
          a.nav-item(href="#") 我要卖车
          a.nav-item(href="#") 主题精选
        .other-navs
          a.nsv-item(href="#") 登陆
          a.nsv-item(href="#") 微博登陆
          a.nsv-item(href="#" style="border-right:none;") QQ登陆
    #content
      .banner
      .erweima
      .zhuanpan
        .warp
          .top
          .cont.clearfix
            .rule-text
              .text-item
                sapn 1.活动时间：
                em 9月15日-9月28日
              .text-item
                span 2.每个手机号在活动期间只可参与一次轮盘抽奖，此次活动暂不支持现场抽奖即时兑换形式，参与者需要在参与活动的24小时后，活动结束之前，到店进行领取。
              .text-item
                span 3.输入手机电话号码及感兴趣的车型即可参加线上抽奖活动，携带
                em 本人指标（复印件）+身份证（复印件）可到店领取额外礼品一份。
              .text-item
                span 4.活动期间参与者凭手机号到店兑换奖品，每个号码只可兑奖一次。
              .text-item
                span 5.此次活动不支持奖品带领，需本人到店领取。
              .text-item
                span 6.兑奖时间
                em 9月16日-9月28日 13:00-18:00
              .text-item
                span 7.凭手机号到店购车还有机会获得
                em 更多神秘大奖！
            .luck
              .pointer
              .bule-bottom
              .table
              .button
      .bottom
    #footer
      .wrapper
        .foot-detail.clearfix
            .buycarguide.detail-item
                a.title(href="#") 购车指南
                a.art-link(href="#") 二手车靠谱吗
                a.art-link(href="#") 如何挑选二手车
                a.art-link(href="#") 二手车评测
                a.art-link(href="#") 二手车保养注意事项
            .security.detail-item
                a.title(href="#") 服务保障
                a.art-link(href="#") 全方位车辆检测
                a.art-link(href="#") 1年2万公里质保
                a.art-link(href="#") 7天无理由退车
                a.art-link(href="#") 1对1顾问购车
            .about.detail-item
                a.title(href="#") 关于我们
                a.art-link(href="#") 大搜车理念
                a.art-link(href="#") 加入我们
                a.art-link(href="#") 车牛
                a.art-link(href="#") 买车神器
            .contact.detail-item
                a.title(href="#") 联系我们
                a.art-link(href="#") 官方微信
                a.art-link(href="#") 新浪微博
                a.art-link(href="#") 门店地址：北京市海淀区世纪金源购物中心东区广场
        .friendlinks.clearfix
            a.links(href="#") 二手车网
            a.links(href="#") 北京汽车网
            a.links(href="#") 车易拍
            a.links(href="#") 天津二手车网
            a.links(href="#") 米胖汽车
            a.links(href="#") 二手车
            a.links(href="#") 2014汽车报价
            a.links(href="#") 海南二手车
            a.links(href="#") 二手车资讯
            a.links(href="#") 180迈汽车保养
            a.links(href="#") 中山二手车
            a.links(href="#") 力洋VIN码识别
            a.links(href="#") 杭州二手车
            a.links(href="#") 成都二手车
            a.links(href="#") 车险信息网
        p Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号
  