<!DOCTYPE html>
html
	head.
		<link href="http://f2e.souche.com/assets/css/mobile/mobile.css" rel="stylesheet" type="text/css" />
	body#fenqi
		
		.condition
			p.b 以下条件仅适用北京地区，其余地区请详询当地政策。
			p.b 【分期付款条件】：
			p.s 1、分期车辆需要同时符合以下标准：
			p.s	  ①车辆品牌是进口车或者合资车；（自主车也可以）
			p.s	②车辆使用年限不超过五年（初次上牌登记日为准）
			p.s	③车辆行驶里程不超过8万公里；
			p.s	④车辆交易价格在8万元以上（含8万元）。
			p.s 2、贷款人须符合以下条件之一：
			p.s	①贷款人为北京户口；
			p.s	②贷款人为异地户口，在京居住，在京有连续社保
			p.s	缴纳记录或银行代发工资记录满1年；
			p.s	③贷款人为异地户口，在京居住，在京有公司（持股
			p.s	满半年）且经营满1年；
			p.s	④贷款人为异地户口，在京有物业且物业持有时间
			p.s	满1年。
			p.s	注：若客户不满足以上任一条件，则需要追加一个
			p.s	北京户口且在北京有物业的人为其做担保才可以办
			p.s	理分期。
			