html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://f2e.souche.com/assets/css/mobile/h5-2/mobile.css" rel="stylesheet" type="text/css" />
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery-1.9.1.min.js?t=1"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery.flexslider-min.js?t=1"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery.cookie.js?t=1"></script>
  body#gouche-h5-2
    #page-1    
      .header
        .back-icon#back-icon-1
        .text#header-text 我的买车顾问
        .header-feature
          .search-icon#search-icon-1
          .search-icon-2
          a.tel-icon(href='tel:4008-010-010')
        .search-box
          .search-header 
            .input
              form#search-form-1(action='pages/mobile/list.html' method='get')
                input#keyword-1(type='text',name='keyword') 
                span.cancel-icon#cancel-icon-1
            .search-btn#search-btn-1
              span 搜索  
      .content
        .wrapper-320
          .gouche-info
            .photo
              img(src='../../../assets/images/mobile/h5-2/head-photo.png')
            .text
              p Hi~我是您的私人顾问，告诉我您的买车需求，帮您找到心仪的爱车
              .step
                .circle.active#step-circle-1
                .circle#step-circle-2
                .circle#step-circle-3
              p 您的预算范围是?
              .hi-img
          .btns
            button.next-btn 下一步
    
    #page-2
      .header
        .back-icon#back-icon-1
        .text#header-text 我的买车顾问
        .header-feature
          .search-icon#search-icon-1
          .search-icon-2
          a.tel-icon(href='tel:4008-010-010')
        .search-box
          .search-header 
            .input
              form#search-form-1(action='pages/mobile/list.html' method='get')
                input#keyword-1(type='text',name='keyword') 
                span.cancel-icon#cancel-icon-1
            .search-btn#search-btn-1
              span 搜索
      .content
        .wrapper-320
          .gouche-info
            .photo
              img(src='../../../assets/images/mobile/h5-2/head-photo.png')
            .text
              .step
                .circle#step-circle-1
                .circle.active#step-circle-2
                .circle#step-circle-3
              p 您喜欢的品牌是?
              .hi-img
        #brand
          .selected-brand
            

          #brand-icons-container
            .icon-group
              .icon-item(data-code='1' data-index='1')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 宝马
             
              .icon-item(data-code='2' data-index='2')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 奔驰

              .icon-item(data-code='3' data-index='3')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 奥迪

              .icon-item(data-code='4' data-index='4')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 大众
              .fold-series(data-index='1')
                .wrapper
                  .series-item(data-code='' data-hidden-text='宝马') 
                    .text 全部车系
                  .series-item(data-code='2') 
                    .text 宝马3系
                  .series-item(data-code='3')
                    .text 全部7系
                  .series-item(data-code='4')
                    .text 宝马3系
                  .series-item(data-code='5') 
                    .text 全部7系
                  .series-item(data-code='6') 
                    .text 宝马3系
              .fold-series(data-index='2')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item(data-code='1')
                    .text 宝马3系
              .fold-series(data-index='3')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item(data-code='1') 
                    .text 宝马3系                    
              .fold-series(data-index='4')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item(data-code='1')  
                    .text 宝马3系 

            .icon-group
              .icon-item(data-code='5' data-index='1')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 宝马
             
              .icon-item(data-code='6' data-index='2')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 奔驰
              
              .icon-item(data-code='7' data-index='3')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 奥迪
                           
              .icon-item(data-code='8' data-index='4')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 大众
              .fold-series(data-index='1')
                .wrapper
                  .series-item(data-code='')  
                    .text 全部车系
                  .series-item(data-code='1') 
                    .text 宝马3系
              .fold-series(data-index='2')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item(data-code='1') 
                    .text 宝马3系
              .fold-series(data-index='3')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item(data-code='1') 
                    .text 宝马3系                    
              .fold-series(data-index='4')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item(data-code='1')  
                    .text 宝马3系 

            .icon-group
              .icon-item(data-code='9' data-index='1')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 宝马
              .icon-item(data-code='10' data-index='2')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 奔驰
              .icon-item(data-code='11' data-index='3')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 奥迪
              .icon-item(data-code='12' data-index='4')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 大众
              .fold-series(data-index='1')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item 
                    .text 宝马3系
              .fold-series(data-index='2')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item 
                    .text 宝马3系
              .fold-series(data-index='3')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item 
                    .text 宝马3系                    
              .fold-series(data-index='4')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item 
                    .text 宝马3系 

            .icon-group#group-has-more
              .icon-item(data-code='13' data-index='1')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 宝马
              .icon-item(data-code='14' data-index='2')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 奔驰
              .icon-item(data-code='15' data-index='3')
                .brand-img
                  img(src="http://souche.cdn.aliyuncs.com/files/brand/brand-20.jpg_100x10000.jpg")
                  .brand-array
                .brand-name 奥迪
              .icon-item
                #more-brand
                  .more-circle
                    .more-inner-circle
                    .more-inner-circle
                    .more-inner-circle
                  .text 更多
              .fold-series(data-index='1' )
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item 
                    .text 宝马3系
              .fold-series(data-index='2')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item 
                    .text 宝马3系
              .fold-series(data-index='3')
                .wrapper
                  .series-item(data-code='') 
                    .text 全部车系
                  .series-item 
                    .text 宝马3系 
                
                .fold-series
                  .wrapper
                    .series-item 
                      .text 全部车系
                    .series-item 
                      .text 宝马3系
        .btns
          .wrapper-320
            button.next-btn 下一步

    #page-3
      .header
        .back-icon#back-icon-1
        .text#header-text 我的买车顾问
        .header-feature
          .search-icon#search-icon-1
          .search-icon-2
          a.tel-icon(href='tel:4008-010-010')
        .search-box
          .search-header 
            .input
              form#search-form-1(action='pages/mobile/list.html' method='get')
                input#keyword-1(type='text',name='keyword') 
                span.cancel-icon#cancel-icon-1
            .search-btn#search-btn-1
              span 搜索
      .content
        .wrapper-320
          .gouche-info
            .photo
              img(src='../../../assets/images/mobile/h5-2/head-photo.png')
            .text
              .step
                .circle#step-circle-1
                .circle#step-circle-2
                .circle.active#step-circle-3
              p 您期望的车龄是?
              .hi-img

        #carYearContainer
            .year-group
              .year-item(data-code='')
                .text 不限
              .year-item(data-code='') 
                .text 不限
              .year-item(data-code='')
                .text 不限
            .year-group(data-code='')
              .year-item(data-code='')
                .text 不限
              .year-item(data-code='')
                .text 不限
              .year-item(data-code='')
                .text 不限
        .btns
          .wrapper-320
            button#submit-btn 完成定制
    <div class="loading-cover-layer hidden"></div>

    script(src='../../../assets/js/mobile/h5-2/gouche.js')

      

      








