html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://f2e.souche.com/assets/css/mobile/h5-2/mobile.css" rel="stylesheet" type="text/css" />
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery-1.9.1.min.js?t=1"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery.flexslider-min.js?t=1"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery.cookie.js?t=1"></script>
  body#guwen-list
    #page-1
      .header
        .back-icon
          .img
          .back-text
        .text#header-text 我的买车顾问
        .header-feature
          .search-icon#search-icon-1
          .search-icon-2
          a.tel-icon(href='tel:4008-010-010')
        .search-box
          .search-header 
            .input
              form#search-form-1(action='pages/mobile/list.html' method='get')
                input#keyword-1(type='text',name='keyword') 
                span.cancel-icon#cancel-icon-1
            .search-btn#search-btn-1
              span 搜索  
      .content
        .wrapper-320
          .gouche-info
            .photo
              img(src='../../../assets/images/mob/h5-2/head-photo.png')
            .text
              p Hi~小车今天为您找到了5辆好车。
          .modify-demand
            button#change-btn 修改需求
        .all-group
          .car-group
            .guwen-circle
            .title 2014-3-27
              span.today (今天)
            .car-item
              .left
                img(src='http://souche.cdn.aliyuncs.com/files/carpicture/88DF39FC6121BD3FF0C4A034DEF05F4B_700x460.jpg_325x10000.jpg')
                .time-icon
              .right
                .brand
                  span.good 荐
                  span.new 新
                  现代2009款 悦动1.6-AT舒适型
                .bottom
                  .price 35.75万
                  .time 上牌：2007年8月
            .car-item
              .left
                img(src='http://souche.cdn.aliyuncs.com/files/carpicture/88DF39FC6121BD3FF0C4A034DEF05F4B_700x460.jpg_325x10000.jpg')
                .time-icon
              .right
                .brand
                  span.good 荐
                  span.new 新
                  现代2009款 悦动1.6-AT舒适型
                .bottom
                  .price 35.75万
                  .time 上牌：2007年8月
            .car-item
              .left
                img(src='http://souche.cdn.aliyuncs.com/files/carpicture/88DF39FC6121BD3FF0C4A034DEF05F4B_700x460.jpg_325x10000.jpg')
                .time-icon
              .right
                .brand
                  span.good 荐
                  span.new 新
                  现代2009款 悦动1.6-AT舒适型
                .bottom
                  .price 35.75万
                  .time 上牌：2007年8月
          .car-group
            .guwen-circle
            .title 2014-3-27
              span.today 
            .car-item
              .left
                img(src='http://souche.cdn.aliyuncs.com/files/carpicture/88DF39FC6121BD3FF0C4A034DEF05F4B_700x460.jpg_325x10000.jpg')
                .time-icon
              .right
                .brand
                  span.good 荐
                  span.new 新
                  现代2009款 悦动1.6-AT舒适型
                .bottom
                  .price 35.75万
                  .time 上牌：2007年8月
            .car-item
              .left
                img(src='http://souche.cdn.aliyuncs.com/files/carpicture/88DF39FC6121BD3FF0C4A034DEF05F4B_700x460.jpg_325x10000.jpg')
                .time-icon
              .right
                .brand
                  span.good 荐
                  span.new 新
                  现代2009款 悦动1.6-AT舒适型
                .bottom
                  .price 35.75万
                  .time 上牌：2007年8月
            .car-item
              .left
                img(src='http://souche.cdn.aliyuncs.com/files/carpicture/88DF39FC6121BD3FF0C4A034DEF05F4B_700x460.jpg_325x10000.jpg')
                .time-icon
              .right
                .brand
                  span.good 荐
                  span.new 新
                  现代2009款 悦动1.6-AT舒适型
                .bottom
                  .price 35.75万
                  .time 上牌：2007年8月
