head.
    <link rel="stylesheet" href="../../../assets/css/mobile/walk-around.css">
body#walk-around
    .head
    .content
        .block
            .hd
                span.title 限时优惠
                a.more 更多 
            .bd.clearfix
                a.col-1-2
                    .box
                        .img-box
                            img
                        .car-intro 现代2009款 悦动1.6-ATT舒适型现现艾弗的安123123123123123
                        .car-extra.clearfix
                            span.price 135.7万
                            .time-limit-price
                                i
                                span.down-price 8000元
                        .hr-wrapper
                            .hr-1-gray
                        .time-limit 12天12时12分12.1秒

                a.col-1-2
                    .box
                        .img-box
                            img
                        .car-intro 现代2009款 悦动1.6-ATT舒适型现现艾弗的安                      
                        .car-extra.clearfix
                            span.price 9.61万
                            .time-limit-price
                                i
                                span.down-price 8000元
                        .hr-wrapper
                            .hr-1-gray
                        .time-limit 12天12时12分12.1秒

        .hr-10-gray
        
        .block.clearfix
            .hd
                span.title 收藏TOP10
                a.more 更多
            .bd.clearfix
                a.col-1-2
                    .box
                        .img-box
                            img
                        .car-intro 现代2009款 悦动1.6-ATT舒适型现现艾弗的安
                        .car-extra.clearfix
                            .col-1-2.border-r
                                span.price 9.61万
                            .col-1-2
                                .fav
                                    i
                                    span.fav-num 35

                a.col-1-2
                   .box
                        .img-box
                            img
                        .car-intro 现代2009款 悦动1.6-ATT舒适型现现艾弗的安
                        .car-extra.clearfix
                            .col-1-2.border-r
                                .price 9.61万
                            .col-1-2
                                .fav
                                    i
                                    span.fav-num 35

                a.col-1-2
                    .box
                        .img-box
                            img
                        .car-intro 现代2009款 悦动1.6-ATT舒适型现现艾弗的安
                        .car-extra.clearfix
                            .col-1-2.border-r
                                span.price 9.61万
                            .fav
                                i
                                span.fav-num 35

                a.col-1-2
                    .box
                        .img-box
                            img
                        .car-intro 现代2009款 悦动1.6-ATT舒适型现现艾弗的安
                        .car-extra.clearfix
                            .col-1-2.border-r
                                span.price 9.61万
                            .col-1-2
                                .fav
                                    i
                                    span.fav-num 35
        .block.clearfix
            .hd.border-b
                span.title 特色标签
            .bd.clearfix
                .tag-wrapper
                    a.col-1-4.tag-text 分期付款
                    a.col-1-4.tag-text 准新车
                    a.col-1-4.tag-text 质检A+
                    a.col-1-4.tag-text 女性最爱
                    a.col-1-4.tag-text 空间宽敞
                    a.col-1-4.tag-text 经济省油
                    a.col-1-4.tag-text 内饰精致
                    a.col-1-4.tag-text 外观时尚
                    a.col-1-4.tag-text 加速快
        .block.clearfix
            .hd.border-b
                .title 热门品牌
                a.more
                    span 更多
                    img
            .bd.clearfix.
                  <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-20&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-20.jpg_100x10000.jpg">
                            <div class="name">宝马</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#1d9185">14.0万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-25&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-25.jpg_100x10000.jpg">
                            <div class="name">奔驰</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#1d6991">18.3万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-15&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-15.jpg_100x10000.jpg">
                            <div class="name">奥迪</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#4b883d">12.9万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-41&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-41.jpg_100x10000.jpg">
                            <div class="name">大众</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#b56f1d">5.23万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-49&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-49.jpg_100x10000.jpg">
                            <div class="name">丰田</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#b56f1d">5.93万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-27&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-27.jpg_100x10000.jpg">
                            <div class="name">本田</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#d9a005">7.25万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-121&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-121.jpg_100x10000.jpg">
                            <div class="name">日产</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#b56f1d">5.93万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-151&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-151.jpg_100x10000.jpg">
                            <div class="name">现代</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#b56f1d">4.93万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-30&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-30.jpg_100x10000.jpg">
                            <div class="name">别克</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#b56f1d">5.74万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-102&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-102.jpg_100x10000.jpg">
                            <div class="name">马自达</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#d9a005">6.99万起</div>
                        
                        
                        
                    </a>
               
                   <a class="brand" href="/soucheweb/pages/mobile/list.html?carBrand=brand-53&amp;sortName=price&amp;sortType=ASC">
                        <div class="lft">
                            <img src="http://res.souche.com/files/brand/brand-53.jpg_100x10000.jpg">
                            <div class="name">福特</div>
                        </div>
                         
                        
                        <div class="rht" style="color:#d9a005">6.43万起</div>
                        
                        
                        
                    </a>
               
                    <a class="brand brand-more" href="allbrands.html">全部品牌</a>
                   
                </div>
                

        .block.clearfix
            .hd.border-b
                span.title 价格
            .bd.clearfix
                .tag-wrapper
                    a.col-1-4.price-text 5万以下
                    a.col-1-4.price-text 5-8万
                    a.col-1-4.price-text 8-12万
                    a.col-1-4.price-text 12-16万
                    a.col-1-4.price-text 16-20万
                    a.col-1-4.price-text 20-25万
                    a.col-1-4.price-text 25-30万
                    a.col-1-4.price-text 30万以上

        .block.clearfix
            .hd.border-b
                span.title 热门车形
            .bd.clearfix
                .tag-wrapper
                    a.col-1-4.model-text 两厢车
                    a.col-1-4.model-text 三厢车
                    a.col-1-4.model-text SUV
                    a.col-1-4.model-text MPV
            
            
                   
                    
            
                    