.head
.content
	.block.clearfix
		.hd
			.title 限时优惠
			a.more 
				span 更多
				img
		.bd
			.col-1-2
				a.box(href=)
					img
					.car-intro
					.price
						.now
						.sale
					.hr-1
					.time-limit
			.col-1-2
				a.box
					img
					.car-intro
					.price
						.now
						.sale
					.hr-1
					a.time-limit
						.down-bg
						span 8000元
	
	.block.clearfix
		.hd
			.title 收藏TOP10
			a.more
				span 更多
				img
		.bd
			.col-1-2
				a.box
					img
					.car-intro
					.price
						.now
						.fav
							.fav-bg
							.fav-num
				
			.col-1-2
			
					