*{
  box-sizing: border-box;
}
.card-area{
  padding: 0 16px;
  border-bottom: 1px solid #e6e6e6;
}
.card-item{
  border-bottom: 1px solid #e6e6e6;
}
.card-item:last-child{
  border-bottom: none;
}
.car-order-action{
  height: 44px;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .order-action-item{
    width:33.3%;
    text-align: center;
    padding:0 5px;
    .oai-btn{
      height: 28px;
      line-height: 28px;
      color:#666;
      border:1px solid #ccc;
      border-radius: 4px;
      width: 100%;
    }
  }
}
