*{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  font-family: '黑体';
}
.card-area{
  border-bottom: 1px solid #e6e6e6;
  padding:0 16px ;
}
.card-item{
  border-bottom: 1px solid #e6e6e6;
}
.card-item:last-child{
  border-bottom: none;
}
.order-state-area{
  background: #fffee9;
  border-color: #f7d5a8;
}

.order-state {
  padding: 16px 0;
  color: #ff5719;
  .os-desc{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .os-remark{
    font-size: 14px;
    line-height: 16px;
  }
}

.order-user-profile{
  height: 44px;
  line-height: 44px;
  color:#333;
}
.car-order-action{
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  .order-action-item{
    text-align: center;
    padding:0 5px;
    .oai-btn{
      height: 28px;
      line-height: 28px;
      color:#666;
      border:1px solid #ccc;
      border-radius: 4px;
      padding: 0 5px;
    }
  }
}

.protect-time{
  color:#999;
  font-size: 12px;
  padding: 12px 16px;
}
#guard-reason{
  width: 100%;
  resize: none;
  padding:16px;
  border:1px solid #ccc;
  border-radius: 4px;
}


.car-card-2 .rht .sc-price {
  color: #333;
}

.car-owner-info {
  overflow: hidden;

  .car-owner-item {
    float: left;
    display: block;
    width: 50%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #333;

    &:first-child {
      border-right: 1px solid #e6e6e6;
    }
  }
}

.car-order {
  padding: 16px;
  color: #999;
  span {
    font-family: "Helvetica Neue"
  }
}

.icon-auth-location {
  display: inline-block;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
  line-height: 1;
  width: 12px;
  height: 16px;
  background: url(../../../images/mob/authorization/location.png);
  background-size: 100%;
}

.call-icon {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
  line-height: 1;
  width: 12px;
  height: 16px;
  background: url('../../../images/mob/h5-3/call.png') no-repeat center;
  background-size: 100%;
}

.car-contact {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f5f5f5;
  height: 55px;

  .car-contact-item {
    display: block;
    border: 1px solid #ccc;
    width: 49%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #333;
    background-color: #fff;
    border-radius: 4px;
  }
}