doctype html
html
    head.
        <script type="text/javascript" src="http://res.souche.com/assets/js/lib/jquery-1.7.1.min.js?t=11"></script>
        <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
          <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
          <link href="http://f2e.souche.com/assets/css/ui/brand-series-select.css" rel="stylesheet" type="text/css" />
          <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
          <script>
          var contextPath = "http://localhost:8080/soucheweb/";
          require.config({
            baseUrl: "http://f2e.souche.com/assets/js"
          });
          </script>
          <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>

    body