html
	head
		<link rel="stylesheet" href="http://f2e.souche.com/assets/css/mobile/wx/gua.css?t=12">
		<script src="http://f2e.souche.com/assets/js/mobile/jquery-1.9.1.min.js?t=11"></script>
		
	body#guajiang
		.img-container
			img(src='../../assets/images/mob/wx/bind-mobile.png')
		.gua
			#canvas-container
				.before-bind
					.wrapper-btn
						button.bind 开始刮奖
		
		.intro
			span.action-detail 夺宝小攻略
			.text
				.text-item.clearfix
					.seq 1.
					p 你只需要绑定手机号码，就能获得中百万大奖的机会，100%中奖。	
				.text-item.clearfix
					.seq 2.
					p 一个奖不过瘾？你可以点击右上角的分享按钮，分享到朋友圈，你将获得再一次刮奖的机会！	
				.text-item.clearfix  
					.seq 3.
					p 刮刮卡活动有效时间2014.4.25-2014.5.25，全天24小时均可刮奖！ps：中午12点前后，大奖出来溜达的机会比较多哦。	
				.text-item.clearfix  
					.seq 4.
					p 要问大奖有哪些：3000元旅行基金、100元话费、50元话费、30元话费、500元购车券、300元购车券等。
				.text-item.clearfix 
					.seq 5.
					p 其他注意事项：刮奖前可以洗手、吃饭、逛逛大搜车，均能增加中大奖概率。
		<script src="http://f2e.souche.com/assets/js/mobile/wx/Lottery.js"></script>
		<script src="http://f2e.souche.com/assets/js/mobile/wx/gua.js"></script>