.compose-ctn .compose-preview-img{
  position: absolute;
  right: 0;
  top: 0;
  width: 0px;

  &.active{
    width: 150px;
    &:hover{
      opacity: 1;
    }
  }

  img.img-previewer{
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
    .tst(opacity 200ms ease;);

    &:hover{
      opacity: 1;
    }
  }
  .compose-priview-img-removeimg{
    position: absolute;
    right: 1em;
    top: 1em;
  }
}