.compose-ctn .compose-input{
    position: absolute;
    top: @toobarH;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    padding: 0.5em;
    outline: none;
    background-color: #f5f5f5;
    z-index: 50;

    .tst(background-color 200ms ease;);

    &:focus{
        outline: none;
        background-color: #fff;
        // border: 2px solid #22B2EA;
    }
}