doctype html
head
    meta(charset="UTF-8")
    title html5实现转盘旋转和停留
    script(src="/assets/js/lib/jquery-1.9.1.min.js")
    style.
        .table{
            width: 300px;
            height: 300px;
            border-radius: 150px;
            background-color: #f5f5f5;
            //- background-image: linear-gradient( 45deg, #fff, #586C5D );
            background-image: url('/assets/images/index/mm.png');
            background-repeat: no-repeat;
            background-position: center center;
        }
        .turnto{
            list-style: none;
        }
        .turn-target{
            display: inline-block;
            line-height: 1.5em;
            padding: 0 2em;
            background-color: #ddd;
            margin-right: 1em;
            cursor: pointer;
        }
body
    .truntable
        .pointer
        .table
    .button#start-turn 开始抽奖
    p#console
        
    script(src="./turntable.js")