#floatLayer {
  position: fixed;
  bottom: 60px;
  right: 0;
  z-index: 10000;
}
#toTop {
  width: 60px;
  height: 56px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  cursor: pointer;
  display: none;
  background: url(../../images/common/float-layer3.png) no-repeat -38px -394px;
}
#toTop.toTopActive {
  background-position: -101px -394px;
  background-color: #d9d9d9;
}
#BizQQWPA {
  background: url(../../images/common/float-layer3.png) no-repeat -34px -451px !important;
  width: 60px;
  height: 99px;
  border: 1px solid #ddd;
  border-bottom: 0;
  cursor: pointer;
}
#erweima {
  position: relative;
}
#erweima .erweima-small {
  width: 60px;
  height: 100px;
  border: 1px solid #ddd;
  background: url(../../images/common/float-layer3.png) no-repeat -76px -229px;
}
#erweima .erweima-active {
  background-position: -1px -229px;
  background-color: #d9d9d9;
}
#erweima .erweima-big {
  width: 245px;
  height: 256px;
  background: url(../../images/common/float-layer3.png) no-repeat 42px 36px #ffffff;
  position: absolute;
  top: -99px;
  left: -246px;
  border: 1px solid #bbb;
  display: none;
}
#erweima .erweima-big span {
  float: right;
  background-position: 0 -353px;
  width: 7px;
  height: 13px;
  margin-right: -7px;
  margin-top: 130px;
}
#suggest .suggest-tag {
  width: 60px;
  height: 90px;
  border: 1px solid #ddd;
  border-top: none;
  background: url(../../images/common/float-layer3.png) no-repeat -36px -555px;
  cursor: pointer;
}
#suggest .suggest-tag-active {
  background-position: -102px -555px;
  background-color: #d9d9d9;
}
#suggest .suggest-popup {
  position: fixed;
  z-index: 100000;
  top: 100px;
  left: 50%;
  margin-left: -290px;
  width: 580px;
  height: 387px;
  background-color: #eee;
}
#suggest .suggest-popup .suggest-close {
  float: right;
  width: 30px;
  height: 30px;
  margin: 20px 13px;
  cursor: pointer;
  background: url(../../images/common/float-layer3.png) no-repeat 0px -560px;
}
#suggest .suggest-popup .suggest-close:hover {
  background-position: 0px -597px;
}
#suggest .suggest-popup .suggest-title {
  margin: 20px 0 20px 17px;
  color: #666;
}
#suggest .suggest-popup .suggest-title ins {
  font-size: 24px;
  font-weight: bold;
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  color: #333;
  padding-right: 5px;
}
#suggest .suggest-popup .suggest-area {
  width: 528px;
  height: 235px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  margin-left: 15px;
  color: #b5b5b5;
  font-size: 14px;
  resize: none;
}
#suggest .suggest-popup .suggest-area-active {
  color: #333333;
}
#suggest .suggest-popup .suggest-num {
  float: left;
  color: #666;
  line-height: 50px;
  margin-left: 15px;
}
#suggest .suggest-popup .suggest-num ins {
  color: #ee7700;
}
#suggest .suggest-popup .suggest-remind {
  float: left;
  margin-left: 15px;
  color: #ff0000;
  line-height: 50px;
}
#suggest .suggest-popup .suggest-button {
  float: right;
  width: 130px;
  margin-right: 16px;
  margin-top: 10px;
  line-height: 35px;
  height: 35px;
  background-color: #a0a0a0;
  border: none;
  font-weight: bold;
  color: #fff;
  font-size: 14px;
  text-align: center;
}
#suggest .suggest-popup .suggest-submit {
  cursor: pointer;
  background-color: #33b600;
}
#suggest .suggest-result {
  position: fixed;
  z-index: 100000;
  top: 180px;
  left: 50%;
  margin-left: -290px;
  width: 580px;
  padding: 25px 0;
  background-color: #eee;
  text-align: center;
  font-size: 20px;
  color: #313131;
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  font-weight: bold;
}
.popup_remind {
  width: 340px;
  padding: 50px 0 20px;
  text-align: center;
  background-color: #fcfcfc;
  position: fixed;
  top: 230px;
  left: 50%;
  margin-left: -170px;
  z-index: 11000;
}
.popup_close {
  float: right;
  margin: -43px 14px 0 0;
  width: 20px;
  height: 20px;
  background: url(../../images/fed/souche_sprite1.png) no-repeat 4px -240px;
  cursor: pointer;
}
#BDBridgeIconWrap {
  bottom: 309px !important;
  top: auto !important;
  margin: 0 !important;
  border: 1px solid #ddd !important;
  width: 60px !important;
}
#bridgehead {
  background: url(../../images/common/float-layer3.png) no-repeat -34px -451px !important;
}
#BaiduBridgePigeon .BdBridgeLogo {
  display: none;
}
#BDBridgeIconWrap .BDActive {
  background: url(../../images/common/float-layer3.png) no-repeat -101px -451px !important;
}
body {
  font-family: 'Microsoft YaHei', Tahoma, Verdana;
}
#header {
  height: 115px;
  background: #fff;
}
#header .wrapper {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  height: 115px;
}
#header .logo {
  display: block;
  position: absolute;
  top: 40px;
  left: 0px;
}
#header .search {
  position: absolute;
  left: 300px;
  top: 40px;
}
#header .search .search-text {
  width: 490px;
  height: 35px;
  border: 2px solid #FC7000;
  line-height: 35px;
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  padding: 7px 0;
  padding-left: 10px;
}
#header .search .search-submit {
  background: #fc7000;
  color: #fff;
  font-size: 16px;
  width: 88px;
  height: 38px;
  border: none;
  vertical-align: top;
  margin-left: -5px;
  cursor: pointer;
}
#header .search .hot-keywords {
  line-height: 30px;
}
#header .search .hot-keywords a {
  color: #666;
  margin-left: 10px;
}
#header .search .hot-keywords a:hover {
  color: #fc7000;
}
#header .head-tel {
  position: absolute;
  right: 0;
  top: 40px;
}
#nav {
  height: 45px;
  line-height: 50px;
  border-bottom: 2px solid #fc7000;
  background: #fff;
}
#nav .wrapper {
  width: 1190px;
  margin: 0 auto;
}
#nav .main-navs a {
  font-size: 16px;
  color: #333;
  margin-right: 50px;
  font-weight: bold;
}
#nav .main-navs a:hover {
  color: #fc7000;
}
#nav .main-navs a.active {
  color: #fc7000;
}
#nav .other-navs {
  float: right;
  *margin-top: -50px;
}
#nav .other-navs a {
  font-size: 12px;
  padding: 0 8px;
  border-right: 1px solid #666;
}
#nav .other-navs a.last {
  border: none;
}
#footer {
  margin-top: 30px;
  height: auto;
}
#footer .wrapper {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}
#footer .friendlinks {
  text-align: center;
  margin-top: 20px;
}
#footer .friendlinks a {
  font-size: 12px;
  color: #999;
  padding: 0 10px;
  border-right: 1px solid #e6e6e6;
}
#footer .friendlinks a.last {
  border: none;
}
#footer .footer-content {
  background: #f5f5f5;
  border-top: 1px solid #e6e6e6;
}
#footer .performance {
  padding: 40px 0;
  border-bottom: 1px solid #e6e6e6;
  width: 1400px;
}
#footer .performance i {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 20px;
}
#footer .performance .per {
  float: left;
  width: 465px;
}
#footer .performance .per a {
  display: block;
}
#footer .performance .per-1 a {
  background: url(../../images/index/per-1.png) no-repeat;
  background-position: left;
}
#footer .performance .per-2 a {
  background: url(../../images/index/per-2.png) no-repeat;
  background-position: left;
}
#footer .performance .per-3 a {
  background: url(../../images/index/per-3.png) no-repeat;
  background-position: left;
}
#footer .performance .t {
  font-size: 16px;
  line-height: 30px;
  color: #666;
  margin-left: 50px;
}
#footer .performance .st {
  font-size: 14px;
  color: #999;
  line-height: 20px;
  margin-left: 50px;
}
#footer .company_info {
  padding: 20px 0px;
}
#footer .company_info .wrap {
  text-align: center;
}
#footer .company_info .wrap a {
  color: #666;
  padding: 0 10px;
}
#footer .company_info p {
  text-align: center;
  line-height: 30px;
  color: #999;
}
#simple-header {
  height: 115px;
  background: #fff;
}
#simple-header .wrapper {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
#simple-header .wrapper .logo {
  display: block;
  position: absolute;
  top: 40px;
  left: 0px;
}
#simple-header .wrapper .search {
  position: absolute;
  left: 300px;
  top: 40px;
}
#simple-header .wrapper .search .search-text {
  width: 490px;
  height: 18px;
  border: 2px solid #FC7000;
  vertical-align: top;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
}
#simple-header .wrapper .search .search-submit {
  background: #fc7000;
  color: #fff;
  font-size: 16px;
  width: 88px;
  height: 38px;
  border: none;
  vertical-align: top;
  margin-left: -5px;
  cursor: pointer;
}
#simple-header .wrapper .search .hot-keywords {
  line-height: 30px;
}
#simple-header .wrapper .search .hot-keywords a {
  color: #666;
  margin-left: 10px;
}
#simple-header .wrapper .search .hot-keywords a:hover {
  color: #fc7000;
}
#simple-header .wrapper .adviser {
  position: absolute;
  right: 0;
  top: 40px;
  width: 180px;
  height: 35px;
  color: #7d7d7d;
}
#simple-header .wrapper .adviser #pulldown {
  position: absolute;
  top: 16px;
  left: 165px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #666;
}
#simple-header .wrapper .adviser .adviser-list {
  width: 80px;
  height: 98px;
  border: 1px solid #e6e6e6;
  position: absolute;
  top: 35px;
  left: 94px;
  background: #fff;
  z-index: 100;
}
#simple-header .wrapper .adviser .adviser-list ul {
  padding: 10px;
}
#simple-header .wrapper .adviser .adviser-list ul li {
  height: 30px;
}
#simple-header .wrapper .adviser .text {
  float: right;
  font-size: 12px;
  border-right: 1px solid #7d7d7d;
  padding-right: 20px;
  margin-top: 10px;
  height: 20px;
  color: #7d7d7d;
}
#simple-header .wrapper .adviser .text:hover {
  color: #fc7000;
}
#simple-header .wrapper .adviser .myadviser {
  float: right;
  width: 65px;
  height: 20px;
  margin-left: 20px;
  padding-top: 10px;
  color: #7d7d7d;
  border: none;
}
#simple-header .other-navs {
  float: right;
  margin-top: 50px;
}
#simple-header .other-navs a {
  font-size: 12px;
  padding: 0 8px;
  border-right: 1px solid #666;
}
#simple-header .other-navs a.last {
  border: none;
}
.guwen-slider-global {
  width: 100%;
  background: #fff2e1;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11001;
  top: -560px;
  height: 510px;
  overflow: hidden;
  box-shadow: 1px 1px 3px #aaa;
  border-bottom: 1px solid #aaa;
}
.guwen-slider-global.small-global {
  height: 390px;
}
.guwen-slider-global iframe {
  width: 100%;
  margin: 0 auto;
  height: 510px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}
.guwen-slider-global .wrapper {
  height: 0;
  line-height: 0;
  font-size: 0;
  position: relative;
}
.guwen-slider-global .close {
  background: url(../../images/common/guwen-slides/close.png);
  width: 40px;
  height: 40px;
  position: absolute;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  z-index: 2;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
.guwen-slider-global .close:hover {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
.guwen-slider-global .guwen-flexslider {
  height: 410px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #fff2e1;
}
.guwen-slider-global .guwen-flexslider .slides {
  height: 410px;
}
.guwen-slider-global .guwen-flexslider .slides li {
  background: #fff2e1;
  float: left;
  width: 100%;
  height: 410px;
  background-repeat: no-repeat;
  background-position: center center;
}
.guwen-slider-global .flex-control-nav {
  position: absolute;
  bottom: 10px;
  width: 400px;
  text-align: center;
  margin-left: -200px;
  left: 50%;
  *margin-left: -50px;
}
.guwen-slider-global .flex-control-nav li {
  display: inline-block;
  *float: left;
  *display: inline;
}
.guwen-slider-global .flex-control-nav a {
  overflow: hidden;
  text-indent: 1000px;
  float: left;
  display: inline;
  width: 15px;
  height: 15px;
  line-height: 12px;
  text-align: center;
  color: #fff;
  background-color: #666;
  margin-right: 12px;
  cursor: pointer;
  border-radius: 50%;
}
.guwen-slider-global .flex-control-nav a:hover {
  background-color: #e70;
}
.guwen-slider-global .flex-control-nav .flex-active {
  background-color: #e70;
}
.guwen-slider-global .flex-direction-nav {
  display: none;
}
.guwen-slider-global .link {
  height: 100px;
  background: #fff;
  display: block;
}
.guwen-slider-global .link .text-box {
  height: 100px;
  margin: 0 auto;
  width: 525px;
}
.guwen-slider-global .link .label {
  font-size: 26px;
  color: #fc7000;
  line-height: 100px;
  float: left;
  display: block;
}
.guwen-slider-global .link .btn {
  font-size: 20px;
  color: #fff;
  background: #fc7000;
  border-radius: 10px;
  height: 45px;
  line-height: 45px;
  display: block;
  width: 200px;
  text-align: center;
  float: left;
  margin-top: 28px;
  margin-left: 20px;
}
.guwen-slider-global.small-global {
  height: 390px;
}
.guwen-slider-global.small-global .guwen-flexslider {
  height: 290px;
}
.guwen-slider-global.small-global .guwen-flexslider .slides {
  height: 290px;
}
.guwen-slider-global.small-global .guwen-flexslider .slides li {
  height: 290px;
}
.guwen-show-global {
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9000;
  width: 41px;
  cursor: pointer;
  height: 40px;
  text-indent: -10000px;
  overflow: hidden;
  display: block;
  background: url(../../images/common/guwen-slides/hover.png) no-repeat 0 -41px;
}
.guwen-show-global:hover {
  background: url(../../images/common/guwen-slides/hover.png) no-repeat 0 0;
}
