.sc-option{
    display:inline-block;
    border:1px solid #d9d9d9;
    height:25px;
    background:#fff;
    line-height:25px;
    width:145px;
    position:relative;
}
.sc-option-hd{
    text-align:left;
    padding-left:10px;
    position:relative;font-size:12px;
    color:#aaa;
    font-weight:normal;
}
.sc-option-action{
    width:25px;height:25px;
    position:absolute;
    right:0;
    top:0;
    *top:-4px;
    background:#d9d9d9;
    cursor:pointer;
    font-size:0px;
    line-height:0px;
    _right:-1px;
}
.sc-option-action i{
    margin-left:8px;
    margin-top:10px;
    display:block;
    width:0; height:0; border:5px solid; border-color:#555 #d9d9d9 #d9d9d9 #d9d9d9;
    font-size:0px;
    line-height:0px;
    
}
.sc-option-list{
    width:100%;
    border:1px solid #d9d9d9;
    left:-1px;
    position:absolute;
        overflow:auto;
    z-index:10000;
    overflow-x:hidden;
}
.sc-option-list .panel{
    font-size:12px;
    color:#aaa;
    padding-left:10px;
    line-height:25px;
    background:#fff;
}
.sc-option-list li{
    display:block  !important;
    float:none !important;
    
    width:100% !important;
    line-height:30px;
    background:#fff;
}
.sc-option-list li a{
    padding-left:20px;
    display:block;
    font-weight:normal;
    font-size:12px;
    color:#404040;
}
.sc-option-list li a:hover{
    background:#ff6700;
    color:#fff !important;
}

.sc-select{
    display:inline-block;
    border:1px solid #d9d9d9;
    height:30px;
    background:#fff;
    line-height:30px;
    width:145px;
    position:relative;
}
.sc-multi-select{
  height:auto;
  min-height: 30px;
}
.sc-multi-select .sc-select-hd{
padding-left: 0;
  }
  .sc-custom-select .sc-select-hd{
padding-left: 0;
  }
.sc-select-hd{
    text-align:left;
    position:relative;font-size:12px;
    color:#aaa;
    font-weight:normal;
    height:30px;
}

.sc-select-hd .sc-selected-item{
  border-radius: 3px;
  margin:5px;
  background: #f1f1f1;
  line-height: 18px;
  padding:0 5px;
  float:left;
  color:#666;
  padding-right:15px;
  position: relative;
  border:1px solid #bababa;
}
.sc-select.sc-active .sc-select-hd .sc-selected-item{
background: #fff7ec;
border:1px solid #ed9763;
color: #ed9763;
    }
.sc-select-hd .sc-selected-item .sc-close{
  font-style: normal;
  position: absolute;
  right:5px;
  top:0px;
  font-size: 12px;
  line-height: 18px;
  color:#bababa;
}
.sc-select-content{
    padding-left: 10px;
}
.sc-select-content .placeholder{
  line-height: 30px;
}
.sc-select-action{
    width:30px;height:30px;
    position:absolute;
    right:0;
    top:0;
    *top:-4px;
    background:#d9d9d9;
    cursor:pointer;
    font-size:0px;
    line-height:0px;
    _right:-1px;
}
.sc-select-action i{
    margin-left:10px;
    margin-top:12px;
    display:block;
    width:0; height:0; border:5px solid; border-color:#555 #d9d9d9 #d9d9d9 #d9d9d9;
    font-size:0px;
    line-height:0px;
    
}
.sc-select-list{
    width:100%;
    border:1px solid #d9d9d9;
    left:-1px;
    position:absolute;
        overflow:auto;
    z-index:10000;
    overflow-x:hidden;
    background: #fff;
}
.sc-select-list .panel{
    font-size:12px;
    color:#aaa;
    padding-left:10px;
    line-height:25px;
    background:#fff;
}
.sc-select-list li{
    display:block  !important;
    float:none !important;
    
    width:100% !important;
    line-height:30px;
    background:#fff;
}
.sc-select-list li a{
    padding-left:10px;
    display:block;
    font-weight:normal;
    font-size:12px;
    color:#404040;
}
.sc-select-list li a:hover{
    background:#ff6700;
    color:#fff !important;
}


.sc-popup{
    border:2px solid #f15d1f;
    background: #fff;
    padding:10px 20px;
    box-shadow: 0px 0px 4px #aaa;

}
.sc-popup .sc-popup-hd{
    color:#111;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}
.sc-popup .sc-popup-bd{
    overflow: auto;
    padding:10px 0;
}