.sc-option{
    display:inline-block;
    border:1px solid #d9d9d9;
    height:25px;
    background:#fff;
    line-height:25px;
    width:145px;
    position:relative;
}
.sc-option-hd{
    text-align:left;
    padding-left:10px;
    position:relative;font-size:12px;
    color:#aaa;
    font-weight:normal;
}
.sc-option-action{
    width:25px;height:25px;
    position:absolute;
    right:0;
    top:0;
    *top:-4px;
    background:#fff;
    cursor:pointer;
    font-size:0px;
    line-height:0px;
    _right:-1px;
}
.sc-option-action i{
    margin-left:0px;
    margin-top:0px;
    display:block;
     width:30px;
    height:30px;
    font-size:0px;
    line-height:0px;
    background: url(../../images/common/select-action-trigger.png) no-repeat center center;
}
.sc-option-list{
    width:100%;
    border:1px solid #d9d9d9;
    left:-1px;
    position:absolute;
        overflow:auto;
    z-index:10000;
    overflow-x:hidden;
}
.sc-option-list .panel{
    font-size:12px;
    color:#aaa;
    padding-left:10px;
    line-height:25px;
    background:#fff;
}
.sc-option-list li{
    display:block  !important;
    float:none !important;
    
    width:100% !important;
    line-height:30px;
    background:#fff;
}
.sc-option-list li a{
    padding-left:20px;
    display:block;
    font-weight:normal;
    font-size:12px;
    color:#404040;
}
.sc-option-list li a:hover{
    background:#ff6700;
    color:#fff !important;
}

.sc-select{
    display:inline-block;
    border:1px solid #d9d9d9;
    height:30px;
    background:#fff;
    line-height:25px;
    width:145px;
    position:relative;
}
.sc-multi-select{
  height:auto;
  min-height: 30px;
}
.sc-multi-select .sc-select-hd{
padding-left: 0;
  }
  .sc-custom-select .sc-select-hd{
padding-left: 0;
  }
.sc-select-hd{
    text-align:left;
    position:relative;font-size:12px;
    color:#aaa;
    font-weight:normal;
    height:auto;
    
}

.sc-select-hd .sc-selected-item{
  border-radius: 3px;
  margin:5px;
  margin-top: 0px;
  margin-right: 0px;
  background: #f1f1f1;
  line-height: 18px;
  padding:0 5px;
  float:left;
  color:#666;
  padding-right:15px;
  position: relative;
  border:1px solid #bababa;
  cursor:pointer;
}
.sc-select.sc-active .sc-select-hd .sc-selected-item{
background: #fff7ec;
border:1px solid #ed9763;
color: #ed9763;
    }
.sc-select-hd .sc-selected-item .sc-close{
  font-style: normal;
  position: absolute;
  right:5px;
  top:0px;
  font-size: 12px;
  line-height: 18px;
  color:#bababa;
}
.sc-select.sc-active .sc-select-hd .sc-close{
color: #ed9763;
    }
.sc-select-content{
    padding-left: 10px;
    padding-top: 5px;
    line-height: 20px;
}
.sc-select-content .placeholder{
  line-height: 20px;
  display: block;
  height:25px;
}
.sc-select-action{
    width:30px;height:30px;
    position:absolute;
    right:0;
    top:0;
    *top:-4px;
    background:#fff;
    cursor:pointer;
    font-size:0px;
    line-height:0px;
    _right:-1px;
}
.sc-select-action i{
    margin-left:0px;
    margin-top:0px;
    display:block;
    width:30px;
    height:30px;
    font-size:0px;
    line-height:0px;
    background: url(../../images/common/select-action-trigger.png) no-repeat center center;
}
.sc-select-list{
    width:100%;
    border:1px solid #d9d9d9;
    left:-1px;
    position:absolute;
        overflow:auto;
    z-index:10000;
    overflow-x:hidden;
    background: #fff;
}
.sc-select-list .panel{
    font-size:12px;
    color:#aaa;
    padding-left:10px;
    line-height:25px;
    background:#fff;
}
.sc-select-list li{
    display:block  !important;
    float:none !important;
    
    width:100% !important;
    line-height:30px;
    background:#fff;
}
.sc-select-list li a{
    padding-left:10px;
    display:block;
    font-weight:normal;
    font-size:12px;
    color:#404040;
}
.sc-select-list li a:hover{
    background:#ff6700;
    color:#fff !important;
}


.sc-popup{
    border:2px solid #f15d1f;
    background: #fff;
    padding:10px 20px;
    box-shadow: 0px 0px 4px #aaa;

}
.sc-popup .sc-popup-hd{
    color:#111;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
}
.sc-popup .sc-popup-bd{
    overflow: auto;
    padding:10px 0;
}
.apply_popup .tip{line-height: 40px;font-size: 20px;color: #111;}
.apply_popup{
  width:600px;
  height:290px;
  position: fixed;
  left: 50%;
  top: 160px;
margin-left: -300px;
background-color: #f1f1f1;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
z-index: 100000;
}
.apply_popup .popup-title{
    font-size: 22px;
color: #111;
font-family: "\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;
line-height: 60px;
width: 710px;
margin: 0 auto;
text-indent: 20px;
}
.apply_popup .apply_close {
position: absolute;
width: 35px;
height: 35px;
background: url("../../images/common/popup-close.png") no-repeat ;
right: 10px;
top: 10px;
cursor: pointer;
}
.apply_popup .phone{
  margin-left: 150px;
text-align: left;
width: 400px;
}
.apply_popup .tip {
line-height: 30px;
font-size: 20px;
color: #111;
}
.apply_popup .phone{
  margin-top: 10px;
  margin-bottom: 15px;
  width:640px;
}
.apply_popup label{
  font-size: 12px;
  padding-right: 10px;
}
.apply_popup input{
  line-height: 27px;
  width:184px;
  height:27px;
}
.apply_popup .result_p{
  width:auto;
  margin:0 20px;
  padding:30px 0;
  text-align: center;
  background-color: #fff;
border: 1px dotted #9d9d9d;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}
.apply_popup .result_p .warning{
  text-decoration: none;
  color:#ff0000;
  font-size: 12px;
  margin-left: 10px;
}
.apply_popup .submit{
  width:120px;
  display: block;
  height:40px;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  background: #ff8914;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 3px;
}
.wrapGrayBg {
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 0;
background-color: #000;
z-index: 10000;
}