doctype html
html
    head
        meta(charset="utf-8")
        title 大搜车聊天工具
        link(rel="stylesheet" href="http://f2e.souche.com/assets/css/chat/layout.css")
        script(src="http://f2e.souche.com/assets/js/lib/jquery-1.9.1.min.js")
    body
        #chat-ctn
        script(src="/assets/js/chat/bundle.js")