@url: url(../../../images/fed/acts/timebuy/xianshi.png);
@green: #41ac90;
@font: "\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;

body {
	background-color: #eddec2;
}
.banner {
	width: 100%;
	height: 390px;
	background:url(../../../images/fed/acts/timebuy/xianshi_banner.jpg) no-repeat center bottom #71d3b8;
	position: relative;
	margin-bottom: 20px;
	.message {
		width: 131px;
		height: 37px;
		position: absolute;
		left: 50%;
		margin-left: 301px;
		margin-top: 20px;
		background: @url no-repeat -184px -63px;
		text-align: center;
		color: #fff;
		font-size: 16px;
		line-height: 37px;
		font-weight: bold;
	}
	.shareTo {
		position: absolute;
		left: 50%;
		margin-left: 287px;
		margin-top: 67px;
		.bds_more {
			color: #fff;
		}
	}
	.galaxy {
		position: absolute;
		width: 87px;
		height: 54px;
		left: 50%;
		margin-left: 442px;
		margin-top: 56px;
		background: @url no-repeat -362px -346px;
	}
	.banner_rule {
		position: absolute;
		width: 136px;
		height: 116px;
		left: 50%;
		margin-left: -488px;
		margin-top: 277px;
		background: @url no-repeat -224px -287px;
	}
}
.wrap {
	width: 1000px;
	margin: 0 auto;
}
.contain {
	background-color: #fff;
	margin-bottom: 20px;

	.title {
		height: 70px;
		background: url(../../../images/fed/acts/timebuy/title.png) no-repeat -332px -79px #f18b36;
		overflow: hidden;
		ins {
			float: left;
			width: 216px;
			height: 44px;
			background: @url no-repeat -0px -131px;
			margin-top: 14px;
			margin-left: 24px;
		}
		p {
			color: #fff;
			font-size: 18px;
			font-family: @font;
			float: left;
			margin-left: 30px;
			line-height: 97px;
			a {
				color: #fff;
				font-size: 14px;
				padding: 3px 10px;
				background-color: @green;
			}
		}
	}
	.content {
		padding: 30px 0 30px 25px;

	}
	.car_list {
		position: relative;
		float: left;
	}
	.more {
		float: right;
		line-height: 70px;
		color: #fff;
		font-size: 18px;
		margin-right: 20px;
		font-family: @font;
	}
	.report {
		span {
			float: left;
			width: 158px;
			height: 20px;
			background: @url no-repeat -70px 0px;
		}
		a {
			color: #429aec;
			line-height: 23px;
		}
		a:hover {
			text-decoration: underline;
		}
		
	}
}
#zhendian {
	.content {
		padding-top: 0;
		padding-bottom: 0;
	}
	.title {
		background-position: -212px 0px;
		ins {
			width: 334px;
		}
		p{
			line-height: 78px;
		}
		span {
			font-size: 36px;
		}
	}
	.zhendian_left {
		margin-top: 30px;
		.car_pic {
			width: 350px;
			height: 230px;
		}
		.car_info dt {
			font-size: 16px;
			width: 350px;
		}
		
	}
	.zhendian_main {
		margin-top: 30px;
		width: 340px;
		float: left;
		margin-left: 20px;
		li {
			float: left;
			width: 156px;
			line-height: 32px;
			font-size: 14px;
			color: #666;
		}
		.leaveTime {
			margin-top: 24px;
			color: #999;
			font-size: 14px;
			line-height: 20px;
			ins {
				float: left;
				width: 60px;
				height: 21px;
				background: @url no-repeat 0px 0px;
				color: #fff;
				line-height: 20px;
				text-align: center;
				padding-right: 10px;
			}
			span {
				color: #ff4301;
				font-size: 18px;
				font-family: @font;
				padding: 0 3px;
			}
			#downCounter {
				float: left;
			}
		}
		.price {
			color: #ff4301;
			font-family: @font;
			font-size: 48px;
			font-weight: bold;
			margin-top: 7px;
			p{
				float: left;
			}
			span {
				font-size: 18px;
				font-weight: normal;
			}
			ins {
				float: left;
				width: 121px;
				height: 26px;
				background: @url no-repeat 0px -28px;
				font-weight: normal;
				color: #fff;
				font-size: 12px;
				line-height: 25px;
				text-align: center;
				margin-top: 23px;
				margin-left: 8px;
			}
		}
		.people {
			width: 340px;
			height: 104px;
			background-color: #eddec2;
			margin: 0 auto;
			margin-top: 20px;
			color: #333;
			font-size: 14px;
			font-family: @font;
			text-align: center;
			padding-top: 10px;
			ins {
				color: #fb4f58;
				font-size: 30px;
			}
			.qiang-button {
				display: block;
				width: 173px;
				height: 41px;
				margin: 0 auto;
				margin-top: 10px;
				background: @url no-repeat 0px -70px;
				cursor: pointer;

			}
			.qiang-before {
				background-position: -187px -407px; 
				cursor: default;
			}
			.qiang-after {
				background-position: -1px -407px; 
				cursor: default;
			}
			.qiang-get {
				background-position: -1px -450px; 
				cursor: default;
			}
		}
	}
	.zhendian_next {
		width: 225px;
		height: 350px;
		margin-left: 20px;
		padding-top: 28px;
		padding-left: 20px;
		background: url(../../../images/fed/acts/timebuy/xianshi_border.png) repeat-y #e5e5e5;
		.notice {
			font-size: 16px;
			color: #666;
			font-family: @font;
			margin-bottom: 20px;
			span {
				float: left;
				width: 42px;
				height: 26px;
				background: @url no-repeat -362px 0;
				text-align: center;
				color: #fff;
				margin-right: 5px;
			}
		}
		.car_pic {
			width: 210px;
			height: 130px;
		}
		.car_info {
			height: 95px;
		}
		.zhendian_next_price {
			background: url(../../../images/fed/acts/timebuy/xianshi_tangle.png) no-repeat right bottom;
			font-family: @font;
			height: 81px;
			width: 229px;
			.next_price_new {
				float: left;
				*width: 98px;
				div {
					width: 59px;
					height: 20px;
					color: #fff;
					text-align: center;
					margin: 0 auto;
					background: @url no-repeat -280px 0;
					line-height: 20px;
				}
				p {
					color: #41ac90;
					font-size: 18px;
					line-height: 1.5em;
				}
			}
			.next_price_old {
				float: right;
				margin-right: 22px;
				color: #999;
				line-height: 2em;
			}
		}
	}
}

#xianliang {
	.title {
		ins {
			background-position: 0px -311px;
		}
		p span {
			display: inline-block;
			width: 107px;
			height: 52px;
			background: @url no-repeat -348px -43px;
			*margin-top: -30px;
		}
	}
	li {
		width: 465px;
		border: 1px solid #d9d9d9;
		background-color: #f3f3f3;
		padding: 25px 0;
		float: left;
		display: inline;
		margin-right: 19px;
		margin-bottom: 20px;
		.car_list {
			.car_pic {
				width: 210px;
				height: 136px;
				margin-left: 20px;
			}
			dt {
				width: 200px;
			}
		}
		.report {
			margin-left: 20px;
			text-align: center;
			width: 210px;
			span {
				margin: 20px 20px 5px 24px;
			}
		}
		.xianliang_info {
			margin-left: 20px;
			float: left;
			width: 214px;
			dt {
				font-size: 12px;
				line-height: 20px;
				margin-bottom: 10px;
			}
			.car_price {
				color: #333;
				font-size: 18px;
				margin-bottom: 8px;
			}
		}
		.num {
			color: #666;
			margin-bottom: 10px;
			span {
				color: #ff4301;
				font-family: @font;
				font-size: 24px;
			}
		}
		.ticket {
			width: 230px;
			height: 52px;
			background: url(../../../images/fed/acts/timebuy/xianshi_price.png) no-repeat;
			color: #fff;
			line-height: 52px;
			text-indent: 20px;
			ins {
				font-size: 32px;
				font-family: @font;
				font-weight: bold;

			}
			a {
				float: right;
				margin-right: 19px;
				margin-top: 10px;
				width: 64px;
				height: 32px;
			}
		}
		.ticket_no {
			background: url(../../../images/fed/acts/timebuy/xianshi_price_gray.png) no-repeat;
		}
		.ticket_get {
			background: url(../../../images/fed/acts/timebuy/ticket_get.png) no-repeat;
		}
	}
}
.smallContain {
	.carSmallBox li {
		padding: 0;
		padding-top: 10px;
		margin-right: 24px;
		border: none;
	}
	.carSmallBox .marginRight0 {
		margin-right: 0;
	}
	.car_tag_yushou {
		right: 0;
	}
}
#zhide {
	.title {
		ins {
			background-position: 0px -190px;
		}
	}
	.tab {
		width: 219px;
		line-height: 27px;
		text-align: center;
		color: #fff;
		position: absolute;
		top: 148px;
		background-color: rgba(75, 163, 163, .5);
		//background-color: rgb(75, 163, 163)\9;
	}

}

#qiangzou {
	.title {
		ins {
			background-position: 0px -251px;
		}
	}
	li {
		background-color: #ebebeb;
		padding-top: 0;
		cursor: default;
		dt a:hover {
			color: #ff4301;
		}
		dl {
			margin-left: 5px;
		}
	}
	.tag {
		width: 93px;
		line-height: 112px;
		text-align: center;
		color: #fff;
		position: absolute;
		top: 50px;
		left: 64px;
		background: url(../../../images/fed/acts/timebuy/xianshi_tag.png) no-repeat;
		opacity: 0.9;
	}
	.car_price {
		color: #ff4301;
	}
}
#rule {
	.title {
		ins {
			background-position: -281px -190px;
		}
	}

	h2 {
		color: #fff;
		font-size: 14px;
		font-family: @font;
		float: left;
		padding: 3px 8px;
		background-color: #f18b36;
		margin-bottom: 8px;
		margin-left: 20px;
	}
	p {
		clear: both;
		color: #666;
		line-height: 1.8em;
		margin-bottom: 10px;
		margin-left: 20px;
		span {
			color: #333;
		}
		ins {
			float: right;
			padding-top: 2px;
			padding-left: 5px;
			margin-right: 627px;
			*margin-top: -22px;
		}
	}
	.shareTo {
		float: right;
		width: 175px;
	}
}
.brand_show{background-color:#fff;padding:27px 0 5px 37px;border-top:1px solid #dadada}
.brand_show li{float:left;display:inline;width:147px;color:#333;font-size:14px;text-align:center;margin-right:10px;margin-bottom:35px;height:152px}
.brand_show img{margin:0 auto;display:block}
#includedBrand .brand_info{width:69px;margin:0 auto;text-align:left;color:#666;font-size:12px;line-height:1.6em}
#includedBrand .brand_info a{color:#333;font-size:14px}
#includedBrand .brand_info a:hover{text-decoration:underline;font-weight:bold}
#includedBrand .brand_info .brand_on{color:#ff4301}
#includedBrand .brand_name{color:#333;margin-bottom:15px}

.popup {
	width: 620px;
	height: 350px;
	background-color: #fff;
	border: 2px solid #f18b36;
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -310px;
	z-index: 100000;
	text-align: center;
	.popup-close {
		position: absolute;
		width: 30px;
		height: 30px;
		background: @url no-repeat -140px -26px;
		right: 10px;
		top: 10px;
		cursor: pointer;
		&:hover {
			background-position: -192px -26px;
		}
	}
	h2 {
		color: #111;
		font-size: 30px;
		font-family: @font;
		clear: both;
		margin-top: 85px;
	}
	h3 {
		color: #fff;
		font-size: 18px;
		font-family: @font;
		margin-top: 5px;
		padding: 3px 0px;
		text-align: center;
		width: 207px;
		margin: 0 auto;
		background-color: #41ac90;
	}
	h4 {
		color: #111;
		font-size: 16px;
		font-family: @font;
		margin-top: 10px;
	}
	.desc {
		color: #333;
		font-size: 14px;
		margin-top: 40px;
		line-height: 1.8em;
		ins {
			display: inline-block;
			width: 120px;
			line-height: 30px;
			color: #fff;
			text-align: center;
			background-color: #f18b36;
			font-size: 12px;
			margin: 0 8px;
			margin-top: 10px;
			span {
				font-size: 23px;
				font-family: @font;
			}
		}
	}
	.addr {
		color: #666;
		font-size: 14px;
		margin-top: 30px;
	}
	.ticket-button {
		display: block;
		width: 88px;
		height: 25px;
		margin: 0 auto;
		background: @url no-repeat -238px -30px;
	}
}
.message-popup {
	width: 411px;
	height: 94px;
	margin-left: -205px;
	h4 {
		margin-top: 34px;
	}
	.desc{
		margin-top: 2px;
	}
}
#timebuy_nav {
	position: fixed;
	right: 20px;
	top: 20px;
	padding-top: 58px;
	background: url(../../../images/fed/acts/timebuy/xianshi_nav.png) no-repeat;
	display: none;
	ul {
		border-top: 3px solid #41ac90;
	}
	li {
		a {
			display: block;
			width: 120px;
			line-height: 45px;
			color: #fff;
			font-size: 15px;
			font-family: @font;
			text-indent: 14px;
			border-bottom: 1px solid #6bbca7;
			background: url(../../../images/fed/acts/timebuy/xianshi_nav.png) no-repeat 105px -215px #41ac90;
			&:hover {
				background-color: #f18b36;
			}
		}
		.timebuy_nav_active {
				background-color: #f18b36;
			}
	}
	.top {
		width: 120px;
		height: 80px;
		background: url(../../../images/fed/acts/timebuy/xianshi_nav.png) no-repeat 0px -128px #41ac90;
		cursor: pointer;
		&:hover {
			background-position: 0px -270px;
		}
	}
}