*{
    box-sizing: border-box;
}
header{
    height: 44px;
    line-height: 44px;
    color:#fff;
    background: #ff571a;
}
.logo{
    width:81px;
    height: 20px;
    background: url(../../../images/mob/h5-3/logo.png) no-repeat center;
    background-size: 100%;
}
.hd-logo{
    float: left;
    margin: 12px 17px 0 10px;
}
.hd-city{
    float: left;
    font-size: 13px;
}
.hd-city .svg-down-arrow{
    vertical-align: 3px;
}
.hd-search{
    float: right;
    background: url(../../../images/mob/h5-3/hd-search.png) no-repeat center;
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin: 12px 17px 0 0;
}
.other-topic{
    float: right;
    width: 18px;
    margin:12px 16px 0 0;
}
.icon-bar{
    background:#fff;
    width: 18px;
    height: 1px;
    margin-top: 4px;
}
#J_tabNavbar{
    height: 44px;
    line-height: 44px;
    color:#666;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}
nav .nav-item{
    width: 33.3%;
    float: left;
    text-align: center;
    font-size: 13px;
}
#J_navbar_underline{
    height: 4px;
    background: #ff571a;
    width: 33.3%;
    position: absolute;
    bottom: 0;
    left: 0;
}
#J_tabCover{
    overflow: hidden;
}
#J_tabContainer{
    -webkit-transition:-webkit-transform 0.4s linear;
    transition:transform 0.4s linear;
}
.tab-panel{
    float: left;
}
.car-area{
    padding: 10px 5px;
    width: 320px;
    margin:0 auto;
}
.car-card{
    width: 145px;
    float: left;
    margin: 0 5px;
}
.car-card img{
    width: 145px;
    height: 98px;
}
.car-card .car-info{
    padding: 10px 8px;
    font-size:12px;
}
.car-card .car-introduction{
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    margin-bottom: 6px;
}
.car-card .car-time{
    color:#999;
    float: right;
    margin-top: 6px;
}
.car-card .car-price{
    font-size: 14px;
    float: left;
    color:#ff571a;
    line-height: 22px;
}
.car-card .price-num{
    font-weight: bold;
}
.car-card .car-price-down{
    float: right;
    padding:4px;
    background: #FF571A;
    color: #fff;

}
