*{
    box-sizing: border-box;
}
header{
    height: 45px;
    line-height: 45px;
    color:#fff;
    background: #BCC4C7;
}
#hd-other-feature{
    display: inline-block;
    width: 18px;
}
.heng{
    display: block;
    width: 100%;
    height: 1px;
    background: #fff;
    margin:4px 0;
}
#hd-right{
    float:right;
}

#tab-nav-bar{
    position: relative;
    width: 100%;
}
#tab-cover{
    margin-top: 30px;
}
#tab-container{
    -webkit-transition:-webkit-transform 0.4s linear;
    transition:transform 0.4s linear;
}

.tab-panel{
    float: left;
}
.nav-item{
    float: left;
    width: 33.3%;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
#nav-bar-underline{
    position: absolute;
    height: 2px;
    width:33.3%;
    background: red;
    bottom: 0;
}
.car-card{
    float: left;
    margin:0 10px;
}
#pan-2-content .lft{
    width: 150px;
    float:left;
}
#pan-2-content img{
    width: 100%;
}

#pan-2-content .rht{
    margin-left: 150px;
}