*{
    box-sizing: border-box;
}
header{
    height: 44px;
    line-height: 44px;
    color:#fff;
    background: #ff571a;
}
.logo{
    width:81px;
    height: 20px;
    background: url(../../../images/mob/h5-3/logo.png) no-repeat center;
    background-size: 100%;
}
.hd-logo{
    float: left;
    margin: 12px 17px 0 10px;
}
.hd-city{
    float: left;
    font-size: 13px;
}
.hd-city .svg-down-arrow{
    vertical-align: 3px;
}
.hd-search{
    float: right;
    background: url(../../../images/mob/h5-3/hd-search.png) no-repeat center;
    background-size: 100%;
    width: 20px;
    height: 20px;
    margin: 12px 17px 0 0;
}
.other-topic{
    float: right;
    width: 18px;
    margin:12px 16px 0 0;
}
.icon-bar{
    background:#fff;
    width: 18px;
    height: 1px;
    margin-top: 4px;
}
#J_tabNavbar{
    height: 44px;
    line-height: 44px;
    color:#666;
}
nav .nav-item{
    width: 33.3%;
    float: left;
    text-align: center;
    font-size: 13px;
}
