#car-life{
  background: #f2f2f2;
  padding:30px 0;
  .wrapper{
    width:1180px;
    margin:0 auto;
  }

  .go-list{
    margin-top: 20px;
    width:1300px;
  }
  .go-card{
    width:570px;
    height: 240px;
    float:left;
    margin-right: 40px;
    background: #fff;
    text-align: center;
    margin-bottom: 40px;
    .pic{
      float:left;
      width:285px;
      overflow: hidden;
      height: 100%;
      img{
        -moz-transition: margin 0.3s;
        -webkit-transition: margin 0.3s;
        -o-transition: margin 0.3s;
        transition: margin 0.3s;
        width: 285px;
        height: 100%;
      }
    }
    .infos{
      float:left;
      width:285px;
      .title{
        font-size:20px;
        margin-top: 20px;
        line-height: 30px;
      }
      .desc{
        line-height: 25px;
        font-size: 14px;
        margin-top: 10px;
        color:#999;
        height:60px;
      }
    }
  }
  .go-card:hover{
    box-shadow: 0px 0px 3px #aaa;
    .pic {
      img {
        margin-left:-10px;
      }
    }
  }
}