#choose-nav{
  .wrapper{
    width:1180px;
    margin: 0 auto;

  }
  height:100px;
  background: #fff;
  padding:20px;
  .item-brand{
    width:440px;
    float:left;
    height:100px;
    border-right:1px solid #eee;
    overflow: hidden;
    .hd{
      font-size: 16px;
      line-height: 40px;
      padding-left: 15px;
    }
    .brand-item{
      float:left;
      width:55px;

      img{
        width:35px;
        display: block;
        margin:0 auto;
      }
      span{
        text-align: center;
        line-height: 30px;
        display: block;
        color:#666;
      }
    }
  }
  .item-model{
    width:440px;
    float:left;
    height:100px;
    border-right:1px solid #eee;
    .hd{
      font-size: 16px;
      line-height: 40px;
      padding-left: 15px;
    }
    .model-item{
      float:left;
      width:55px;

      img{
        width:35px;
        display: block;
        margin:0 auto;
      }
      span{
        text-align: center;
        line-height: 30px;
        display: block;
        color:#666;
      }
    }
  }
  .item-price{
    width:290px;
    float:left;
    height:100px;
    .hd{
      font-size: 16px;
      line-height: 40px;
      padding-left: 15px;
    }
    .price-item{
      margin-left: 15px;
      margin-right: 10px;
      display: inline-block;
      word-break: break-all;
      margin-top: 5px;
      margin-bottom: 3px;
      color:#666;
    }
  }
}