.flexslider{
    position: relative;
    width: 100%;

    &:hover{
        .flex-direction-nav{
            .opacity(0.4);
        }
    }

    .flex-direction-nav{
        .tst();
        .opacity(0);

        &:hover{
            .opacity(1);
        }

        .flex-prev,
        .flex-next{
            width: 26px;
            height:44px;
            margin: -40px 0 0;
            display: block;
            position: absolute;
            top: 50%;
            opacity: 1;
            cursor: pointer;
            text-indent: -9999px;
            -webkit-transition: all .3s ease;
            z-index: 100;
        }
        .flex-prev{
            background: url(../../images/index_11/flex-prev.png?123) no-repeat;
            left: 60px;
        }
        .flex-next{
            background: url(../../images/index_11/flex-next.png?123) no-repeat;
            right: 60px;
        }
    }
}