#header{
  height:80px;
  background: #fff;
  margin-top: 0px;
  width:100%;
  border-top: 4px solid @soucheOrange;
  border-bottom: 1px solid #dcdcdc;

  .h-lft{
    float:left;
    width:700px;
    .logo{
      margin-left:37px;
      padding-top:25px;
      float:left;
    }
    .city{
      font-size: 14px;
      color: #999;

      margin-right: 0px;
      float: left;
      width: 60px;
      height: 20px;
      position: relative;
      margin-top: 30px;
      margin-left:30px;
      .J_city{
        cursor: pointer;
      }
      .J_hotcity{
        color: #FF5719;
        margin-left: 10px;
        cursor: pointer;
      }
      .active-city{
        background: #ff5517 ;
        color: #fff !important;
      }
      span{
        display: block;
        float: left;

      }
      i{
        display: block;
        float: left;
        width: 10px;
        height: 6px;
        background: url(../../images/index/city-chose.png) no-repeat;
        margin-top: 8px;
        margin-left: 5px;
        cursor: pointer;
      }
      .city-open{
        position: absolute;
        top: 31px;
        z-index: 100000;
        width: 362px;
        overflow: hidden;
        border: 1px solid #FF581A;
        background:#fff;
      }
      .city-wrap{
        width: 725px;
        position: relative;
        height: 57px;
      }
      .area-box{
        position: absolute;
        width: 320px;
        height: 260px;

        background: #fff;
        padding: 20px;

        .hot-city{
          border-bottom: 1px solid #ededed;
          color: #777;
          padding-bottom: 20px;
          font-size: 13px;
          .title{
            color: #777;
            margin-right: 15px;
          }
          .hot-item{
            color: #FF5719;
            margin-left: 10px;
            cursor: pointer;
          }
        }
        .area-city{
          margin-top: 20px;
          font-size: 13px;
          .area-line{
            margin-bottom: 10px;
            .area{
              color: #777;
              padding-right: 15px;
              border-right: 1px solid #ededed;
            }
            .province-item{
              margin-left: 15px;
              color: #333;
              cursor: pointer;
            }
            .province-item:hover{
              color: #FF5719;
            }
          }
        }
      }
      .city-box{
        width: 320px;
        padding: 20px;
        height: 140px;
        background: #fff;
        position: absolute;
        left: 362px;
        .tit{
          border-bottom: 1px solid #ededed;
          padding-bottom: 20px;
          .city-return{
            display: block;
            background: url(../../images/index/city-return.png) no-repeat 0 center;
            padding-left: 12px;
            color: #999;
            float: left;
            line-height: 13px;
            height: 13px;
            font-size: 13px;
            cursor: pointer;
          }
          .province{
            display: block;
            float: left;
            margin-left: 95px;
            height: 14px;
            font-size: 15px;
            line-height: 12px;
            color: #333;
          }
          .city-close{
            display: block;
            float: right;
            width: 9px;
            height: 9px;
            background:url(../../images/index/city-close.png) no-repeat;
            margin-top: 5px;
            cursor: pointer;
          }
        }
        .city-list{
          margin-top: 20px;
          .city-item{
            display: block;
            margin-bottom: 10px;
            margin-right: 15px;
            font-size: 13px;
            color: #333;
            float: left;
            cursor: pointer;
          }
          .city-item:hover{
            color: #FF5719;
          }
        }
      }
    }
    .main-navs{
      a{
        line-height: 80px;
        padding:0 25px;
        font-size: 14px;
        color:#333;
      }
      a:hover,a.active{
        color:@soucheOrange;
      }
    }
  }
  .h-rht{
    float:right;
    .phone-number{
      padding:25px 30px;
      float:right;
    }
    .user{
      float:right;
      margin-top: 20px;
      .headpic{
        img{
          border-radius:30px;
          width:30px;
          height:30px;
          border:3px solid #fff;
          box-shadow: 1px 1px 3px #999;
        }
        vertical-align: -10px;
        display: inline-block;
      }
      .username{
        padding-left: 10px;
        color:#666;

      }
    }
  }
}

#top-head{
  height:500px;
  width:100%;
  background-position: center center;
  .wrapper{
    width:1180px;
    margin:0 auto;

  }
  .p{
    font-size: 48px;
    color:#f5f5f5;
    line-height: 60px;
    text-align: center;
    width:600px;
    margin:0 auto;
    padding-top: 60px;
  }
  .p2{
    font-size: 24px;
    color:#f5f5f5;
    line-height: 50px;
    text-align: center;
    width:410px;
    margin:0 auto;
    margin-top: 20px;
  }
  .more{
    margin:50px auto;
    width:150px;
    height:40px;
    border:3px solid #f5f5f5;
    font-size: 16px;
    color:#f5f5f5;
    line-height: 40px;
    display: block;
    text-align: center;
    border-radius: 5px;
  }
  .more:hover{
    background:rgba(255,255,255,0.3);
  }
  .search{
    height: 40px;
    width:600px;
    margin:0 auto;
    .index-search{
      height: 40px;
      position: relative;
      .search-text{
        height: 20px;
        padding: 10px;
        line-height: 20px;
        border: 1px solid #E6E6E6;
        display: block;
        float: left;
        width:520px;
      }
      .search-submit{
        border: 1px solid #D94A16;
        width: 42px;
        height: 42px;
        background: #FF5A00;
        display: block;
        float: left;
        cursor: pointer;
        i{
          background: #FF5A00 url(../../images/index/index_sprite_v2.png) no-repeat;
          background-position: -120px 0;
          display: block;
          width: 20px;
          height: 20px;
          margin-left: 10px;
        }
      }
      .search-submit:hover{
        background: #FF4600;
        border: 1px solid #CA2E16;
        i{
          background-position: -120px -20px;
        }
      }
      .recom{
        width: 295px;
        height: 20px;
        position: absolute;
        top: 9px;
        right: 60px;
        a{
          color: #666;
          background: #F8F8F7;
          padding: 4px 7px;
          margin-right: 9px;
          display: block;
          float: right;
        }
        a:hover{
          color: @soucheOrange;
        }
      }
    }
  }
}