#social{
  margin-top: 70px;
  margin-bottom:70px;
  .wrapper{
    border-top:1px solid #e6e6e6;
    padding-top: 70px;
  }
  .social-item{
    height:150px;
    width:33%;
    float:left;
    overflow: hidden;
    border-right:1px solid #e6e6e6;
    .social-inner{
      padding-right:20px;
    }
    .social-title{
      font-size: 20px;
      color:#333;
      line-height: 30px;
      .go{
        font-size: 14px;
        float:right;
        color:@orange;
        margin-right: 20px;
        line-height: 30px;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .social-content{
      margin-top:30px ;
    }
  }
  .social-bbs .social-inner{
    padding-left: 30px;
  }
  .bbs-pic{
    width:120px;
    height:90px;
    overflow: hidden;
    position: relative;
    float:left;
    img{
      width:120px;
      height:90px;
    }
    .t{
      position: absolute;
      bottom:0;
      left:0;
      width:100%;
      height:30px;
      line-height: 30px;
      color:#fff;
      background: #333;
      opacity: 0.7;
      text-align: center;
    }
  }
  .bbs-list{
    float:left;
    width:198px;
    overflow: hidden;
    margin-top:-5px;
    a{
      display: block;
      line-height: 25px;
      padding-left: 20px;
      font-size:14px;
      color:#666;
      
      &:hover{
        color: @soucheOrange;
      }
    }
  }
  @socialImgW: 60px;
  .social-tencent{
    border:none;
    .social-inner{
      padding-left: 30px;
    }
  }
  .social-sub-item{
    margin-bottom: 20px;
    overflow: hidden;

    .socila-img{
      float: left;
      width: @socialImgW;
      height: @socialImgW;
    }
    .social-title,
    .social-content{
      margin-left: @socialImgW + 30px;
    }
    .social-title{
      font-size: 16px;
      line-height: 1;
    }
    .social-content{
      margin-top: 10px;
      color: #999;
    }
    .num{
      margin-bottom: 4px;
    }
  }
}

@buyerAvatarW: 40px;
.buyer-item{
  height: 50px;
  margin-top: -10px;
  margin-bottom: 18px;
  // bfc
  overflow: hidden;
  
  .buyer-avatar{
    float: left;
    height: @buyerAvatarW;
    width: @buyerAvatarW;
    border-radius: @buyerAvatarW/2;
  }
  .buyer-name,
  .buyer-title{
    margin-left: @buyerAvatarW + 12px;
  }
  .buyer-name{
    margin-bottom: 6px;
    font-size: 14px;
    color: #666;
  }
  .buyer-title{
    width: auto;
    font-size: 12px;
    color: #999;
    .text-collapse();
  }
}