#who-buy{
    padding-bottom: 80px;
    
    .module-hd{
        padding-bottom: 48px;
    }
    .banners{
        position: relative;
        width: 1180px;
        overflow: hidden;
    }
    .flexslider{
        position: relative;
    }
    .slides li{
        position: relative;
    }
    .dots {
        position: absolute;
        bottom: 20px;
        text-align: center;
        margin-left:-20px;
        left: 50%;
        z-index: 100;
    }
    .dots li {
        display: inline-block;
        position: relative;
    }
    .dots li {
        overflow: hidden;
        text-indent: 1000px;
        float: left;
        display: inline;
        width: 12px;
        height: 12px;
        line-height: 12px;
        text-align: center;
        color: #fff;
        background-color: #c2c2c2;
        margin-right: 5px;
        cursor: pointer;
        border-radius: 50%;
    }
    .dots .active {
        background-color: @soucheOrange;
    }

    .weibo-button{
        margin-top: -40px;
        position: relative;
        z-index:10;
    }

}
.story-cont{
    position: absolute;
    top: 60px;
    left: 515px;
    h1{
        margin-bottom: 60px;
        margin-left: -11px;
        font-size: 25px;
        color: #fff;
    }
    p{
       font-size: 16px;
       color: #fff;
       line-height: 25px;
       margin-left: 10px;
    }
    .story-name{
        font-size: 12px;
        color: #fff;
        margin-top: 25px;
        margin-left: 10px;
    }
    .read-more{
        display: block;
        width: 80px;
        height: 33px;
        background: #FF5417;
        line-height: 33px;
        text-align: center;
        color: #fff;
        font-size: 13px;
        border-radius: 2px;
        margin-top: 50px;
        margin-left: 10px;
    }
    .read-more:hover{
      background: #FF6630;
      
    }
}
.flex-direction-nav{
        top: 0;
        width: 100%;
        height: 0;
        overflow: visible;
        .tst();
        .opacity(0);

        &:hover{
            .opacity(1);
        }

        .slide-prev,
        .slide-next{
            position: absolute;
            width: 160px;
            height: 460px;
            margin: 0;
            display: block;
            top: 0;
            opacity: 1;
            cursor: pointer;
            text-indent: -9999px;
            .tst( all .3s ease;);
            background-position: center;
            background-repeat: no-repeat;
            z-index: 100;
        }
        .slide-prev{
            background-image: url(../../images/index_11/flex-prev.png?123);
            left: 0px;
        }
        .slide-next{
            background-image: url(../../images/index_11/flex-next.png?123);
            right: 0px;
        }
    }