#koubei_svg{
    margin: 0px auto;
    width:500px;
    height:500px;
}
.net-koubei{
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
    position: relative;
  padding-bottom: 10px;
  padding-top: 20px;
    .koubei-title{
        font-size: 20px;
        line-height: 50px;
        margin-top:20px;
    }
    .koubei-desc{
        margin:0px 80px;
        background: #f9f9f9;
        border:1px solid #eee;
        padding:20px;
        text-align: center;
        .koubei-l{
            font-size: 16px;
            line-height:40px;
        }
        .koubei-labels{
            label{
                background: #70b86f;
                color:#fff;
                font-size: 18px;
                line-height: 30px;
                padding:0 10px;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .all-score{
        width:100px;
        text-align: center;
        font-size: 16px;
        color:#51944f;
        position: absolute;
        top:320px;
        left:544px;
        em{
            font-size: 30px;
            font-weight: bold;
            display: block;
        }
    }
    .koubei-content{
        position: relative;
        padding:68px 0;
    }
    .koubei-item{
        position: absolute;
        top:0;
        left:0;
        .koubei-item-title{
            font-size: 14px;
            color:#444;
            .rate{
                height:20px;
                background: url(../../images/detail/rate-star.png) repeat-x;
                width:70px;
                display: inline-block;
                margin:0 5px;
                vertical-align: top;
                margin-top:2px;
                .rate-real{
                    display: block;
                    height:20px;
                background: url(../../images/detail/rate-star-light.png) repeat-x;
                overflow: hidden;

                }
            }
        }
        .koubei-item-labels{
            display: block;
            width:280px;

            .koubei-label{
                background: #f8f8f8;
                border:1px solid #eee;
                line-height: 20px;
                color:#999;
                padding:0 5px;
                display: inline-block;
                margin-bottom: 5px;
            }
        }
    }
    .float-left-item{
        .koubei-item-title{
            text-align: right;
            label{
                float:right;
            }
            .rate{
                float:right;
            }
        }
        .koubei-item-labels{
text-align: right;
        }
    }
    .koubei-series{
        text-align: center;
        padding:40px 0;
        .series-wrapper{
            display: inline-block;

        }
        .series-t{
            padding-right: 10px;
            float:left;
            line-height: 25px;
        }
        .series-tab{
            float:left;
            border:1px solid #dcdcdc;
            border-radius: 3px;
            .series-tab-item{
                padding:0 15px;
                line-height: 25px;
                font-size: 12px;
                color:#999;
                border-right:1px solid #dcdcdc;
                float:left;
                cursor: pointer;

            }
            .item-active,.series-tab-item:hover{
                background: #f2f2f2;

            }
        }
    }
    .koubei-advantage{
        background: #f9f9f9;
        border:1px solid #eee;
        margin:20px 80px;
        padding:20px;
        li{
            margin-top: 10px;
        }
        .advantage-title{
            font-size:18px;
            line-height:40px;
        }
        .advantage-left{
            float:left;
            width:45%;
            border-right:1px solid #eee;
            padding:20px;
            font-size: 14px;
            line-height: 20px;
            color:#666;
            .advantage-title{
                color:#fa7022;
                i{
                    background: url(../../images/detail/koubei_good.png) no-repeat;
                    display: inline-block;
                    width:20px;
                    height:20px;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }

        }
        .advantage-right{
            float:left;
            width:45%;
            font-size: 14px;
            line-height: 20px;
            padding:20px;
            color:#666;
             .advantage-title{
                color:#8c5476;
                i{
                    background: url(../../images/detail/koubei_bad.png) no-repeat;
                    display: inline-block;
                    width:20px;
                    height:20px;
                    vertical-align: middle;
                    margin-right: 10px;
                }
            }
        }
    }
}