body
{
  background-color: #ffffff !important;
}

#content {
  .wrapper{
    width: 1190px;
    margin: 0 auto;
    #map {
      padding: 10px 0px;
      span{
        font-size: 15px;
      }
    }
    #productInfo
    {
      height: 180px;
      padding: 20px 0px 10px 0px;
      >div {
        height: 160px;
        #imgInfo {
          display: inline-block;
          _zoom:1;
          *zoom:1;
          *display:inline;
          _display:inline;
          width: 280px;
          vertical-align: middle;
          height: 100%;
          text-align: left;
          >img
          {
            display: inline-block;
            _zoom:1;
            *zoom:1;
            *display:inline;
            _display:inline;
            margin: 5% auto;
            vertical-align: middle;
          }
        }
        #contentInfo {
          display: inline-block;
          _zoom:1;
          *zoom:1;
          *display:inline;
          _display:inline;
          width: 330px;
          border-left: 1px solid #e6e6e6;
          height: 100%;
          vertical-align: top;
          > div {
            padding: 0px 30px;
            vertical-align: middle;
            margin: 8% auto;
            .proName {
              font-size: 30px;
              vertical-align: middle;
              font-weight: 500;

            }
            .proPrice {
              color: #fc7000;
              font-weight: bold;
              font-size: 35px;
              vertical-align: middle;
              margin-left: -9px;
            }
            .proNewPrice {
              font-size: 15px;
              color: #9D9D9D;
              line-height: 20px;
              overflow: hidden;
            }
          }
        }
        #productChexiConfigure {
          display: inline-block;
          _zoom:1;
          *zoom:1;
          *display: inline;
          width: 300px;
          border-left: 1px solid #e6e6e6;
          height: 100%;
          vertical-align: top;
          > ul {
            padding: 0px 30px;
            vertical-align: top;
            margin: 8% auto;
            li{
              font-size: 15px;
              padding: 3px;
              color: #7B7B7B;
            }
          }
        }
        #productChexingConfigure {
          display: inline-block;
          _zoom:1;
          *zoom:1;
          *display: inline;
          width: 500px;
          border-left: 1px solid #e6e6e6;
          height: 100%;
          vertical-align: top;
          > ul {
            padding: 0px 0px;
            vertical-align: middle;
            margin: 4% auto;
            overflow: auto;
            li{
              font-size: 15px;
              padding: 3px;
              color: #7B7B7B;
              float: left;
              margin-left: 30px;
              width: 185px;
            }
          }
        }
      }
    }
    #productDetailInfo
    {
      position: relative;
      //height: 550px;
      overflow: hidden;

      .configure {
        .config_nav{
          display: inline-block;
          *display: inline;
          *zoom: 1;
          padding-left: 50px;
          padding-top: 50px;
          ul{
            li{
              font-size: 14px;
              color: #7B7B7B;
              height: 32px;
              background:url(../../images/index/gun.png) repeat-y 6px;
              span{
                display: inline-block;
                *display: inline;
                *zoom: 1;
                vertical-align: middle;
                font-size: 20px;
                color: #CDC9C9;
              }
              span.active{
                color: #fc7000;
              }
              a{
                display: inline-block;
                *display: inline;
                *zoom: 1;
                vertical-align: middle;
              }

            }
            .first_nav{
              background:url(../../images/index/gun.png) no-repeat 6px 15px;
            }
            .end_nav{
              background:url(../../images/index/gun.png) no-repeat 6px -5px;
            }
          }
        }
        .config_content {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          margin-left: 200px;
          vertical-align: top;
          padding-top: 50px;
          table
          {
            thead
            {
              td{
                font-size: 16px;
                font-weight: bolder;
                >div{
                  display: inline-block;
                  *display: inline;
                  *zoom: 1;
                  vertical-align: middle;
                }
                .border {
                  height: 1px;
                  border-bottom: 1px solid #000000;
                  width: 640px;
                  margin-left: 30px;
                }
              }
            }
            tbody {
                div
                {
                  border-bottom: 1px solid #e6e6e6;
                  padding: 15px 0px;
                  a
                  {
                    font-size: 14px;
                  }
                }
              .firstCol
              {
                 margin-left: 20px;
              }
            }
          }
        }
      }
      .productImg>div
      {
        position: relative;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: top;

      }
      img
      {
        cursor: pointer;
      }
      .photosSmallWrap
      {
        width: 530px;
        padding-top: 45px;
        margin-left: 20px;
        vertical-align: middle;
        .year
        {
          height: 30px;
          padding-left: 10px;
          a,span
          {
            padding: 0px 10px 0px 0px;
            color: black;
          }
          span{
            cursor: pointer;
          }
        }
        .photosSmall
        {
          li{
            margin-left: 5px;
            padding: 0px;
          }
          img:hover
          {
            border: 2px solid #fc7000;
          }
          img
          {
            width: 95px;
            border: 2px solid #ffffff;
          }
        }
        .color
        {
          height: 50px;
          padding-left: 10px;
          a{
            display: inline-block;
            *display: inline;
            *zoom: 1;
            width: 40px;
            height: 20px;
            position: relative;
            position: relative;
            top: 6px;
            margin-left: 10px;
            i{
              display: block;
              position: absolute;
              width: 40px;
              height: 3px;
              background-color: #666666;
              top: 25px;
            }
          }
        }
        ul {

          li {
            float: left;
          }
        }
      }
      .nav {
        list-style: none;
        width: 100%;
        height: 43px;
        background: white;
        border-bottom: 1px solid #e6e6e6;
        li {
          float: left;
          border-top: 3px solid white;
          font-size: 16px;
          padding: 0 50px;
          cursor: pointer;
          line-height: 36px;
          height: 40px;
          background: white;
          border-left: 1px solid white;
          border-right: 1px solid white;
        }
        li.active {
          border-top: 3px solid #ef5c1e;
          height: 40px;
          border-bottom: 1px solid white;
          border-left: 1px solid #e6e6e6;
          border-right: 1px solid #e6e6e6;
        }
      }
      .photosWrap
      {
        margin-top: 40px;
        .introduce_div
        {
          position: relative;
          height: 50px;
          width: 620px;
          background: #000000;
          opacity: 0.6;
          filter:alpha(opacity=60);
          top:-53px;
        }
        .introduce_content
        {
          position: relative;
          top:-103px;
          width: 600px;
          color: #ffffff;
          padding: 15px 0px 0px 25px;
          a{
            color: #ffffff;
            vertical-align: middle;
          }
        }
      }
      .photoTab {
        position: absolute;
        z-index: 4;
        top: 220px;
        cursor: pointer;

        span {
          float: left;
          width: 20px;
          height: 67px;
          background: url(../../images/fed/photoTab.png) no-repeat -78px 0 #888;
          opacity: .5;
          filter:alpha(opacity=50);
          cursor: pointer
        }
        span:hover {
          background-position: -56px 0
        }
        span.photoNext {
          margin-left: 580px;
          background-position: -2px 0
        }
        span.photoNext:hover {
          background-position: -26px 0
        }
      }

    }
    .clearBoth
    {
      clear: both;
    }

    #allProduct {
      position: relative;
      padding: 0px 0px 60px 0px;
      table {
        width: 100%;
        caption{
          font-weight: bolder;
          font-size: 20px;
          padding-bottom: 20px;
        }
        .firstCol {
          padding-left: 0px;
          cursor: pointer;
          a {
            color: #FF5809 !important;
          }
        }
        thead {
          border-top: 1px solid #000000;
          th {
            height: 53px;
            font-weight: bolder;
            font-size: 15px;
            border-bottom: 1px solid #e6e6e6;
          }
          .more{
            font-weight: bold;
            font-size: 13px;
            background: url(../../images/index/left-arrow.png) no-repeat center center;
            padding: 10px;
            cursor: pointer;
          }
        }
        tbody {
          td {
            height: 53px;
            font-size: 13px;
            border-bottom: 1px solid #e6e6e6;
            padding-left: 15px;
          }
        }
      }
      #advantage
      {
        width: 960px;
        position: absolute;
        right: 0px;
        border-left:1px solid #e6e6e6 ;
        box-shadow: 2px 2px 1px #888888;
        top: 95px;
        background: white;
        >table
        {
          th, td
          {
            text-align: center;
            padding: 0px 10px;
            height: 55px;
            border-bottom: 1px solid #e6e6e6;
          }
          .advantageConfig
          {
            background-color:#FCFCFC ;
          }
        }
      }
    }

    #newProduct {
      float: left;
      width: 960px;
      overflow: auto;
      >h1{
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 20px;
      }
      .item {
        width: 215px;
        height: 300px;
        float: left;
        border: 1px solid #e6e6e6;
        margin-right: 20px;
        margin-bottom: 20px;
        .itemContent {
          border-bottom: 1px solid #e6e6e6;
          height: 270px;
          cursor: pointer;
          h1{
            margin: 2px 15px;
            font-size: 14px;
            font-weight: bolder;
          }
          .currentPrice {
            margin: 2px 15px;
            color:#ef5c1e;
            font-size: 13px;
            font-weight: bolder;
          }
          .oldPrice {
            text-decoration: line-through;
          }
          .other
          {
            margin: 14px 14px 14px 10px;

            span{
              padding: 2px;
              margin: 0px 3px;
              border:  1px solid #e6e6e6;
              border-radius: 2px;
              background-color: #e6e6e6;
            }
          }
          .detail{
            margin: 2px 15px;
            .shangpai{
              padding: 0px 10px 0px 0px;
            }
            .gongli{
              padding: 0px 0px 0px 10px;
            }
          }
        }
        .itemTail {
          position: relative;
          padding-top: 3px;
          background-color:#f9f9f9 ;
          height: 26px;
          *
          {
            vertical-align: middle;
          }
          .carCollect {
            margin: 0px 10px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            background: url(../../images/index/normal.png) no-repeat;
            background-position: 0px 3px;
            padding-left: 20px;
            vertical-align: middle;
          }
          .carCollect.hover{
            background: url(../../images/index/hover.png) no-repeat;
            background-position: 0px 3px;
          }
          .carCollect.active{
            background: url(../../images/index/active.png) no-repeat;
            background-position: 0px 3px;
          }
          .carConstrast {
            margin: 0px 15px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            span{
              padding-left: 4px;
            }
          }
          .contrast-waring
          {
            right: -30px !important;
          }
        }
      }
    }

    #newProductList {
      float: left;
      width: 940px;
      overflow: auto;
      padding-right: 20px;
      padding-bottom: 50px  ;
      > h1 {
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 10px;
        border-bottom: 3px solid #B0B0B0;
      }
      li{
        padding: 25px 0px;
        border-bottom: 1px solid #e6e6e6;
        >img
        {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: middle;
        }
        .itemInfo
        {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: top;
          margin-left: 10px;
          width: 255px;
          .car{
            padding: 2px;
            a{
              font-size: 15px;
              font-weight: bolder;
            }
          }
          .opteration
          {
            position: relative;
            .contrast-waring
            {
              right: -20px !important;
            }
          }
          .detail
          {
            color: #8E8E8E;
            padding: 2px;
            margin-left: -10px;
            a{
              color: #8E8E8E;
              padding:0px 10px;
            }
          }
          .carCollect , .carConstrast
          {
            padding: 2px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: middle;
            color: #8E8E8E;
          }
          .carCollect{
            background: url(../../images/index/car-nocollect.png) no-repeat;
            background-position: -1px 1px;
            padding-left: 20px;
            vertical-align: middle;
            cursor: pointer;
          }
          .carCollect.hover{
            background: url(../../images/index/hover.png) no-repeat;
            background-position: 0px 3px;
          }
          .carCollect.active{
            background: url(../../images/index/car-collect.png) no-repeat;
            background-position: -1px 1px;
          }
          .carConstrast {
            margin: 0px 5px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            cursor: pointer;
            span{
              padding-left: 4px;
            }
            input{
              vertical-align: middle;
            }
            .contrast-waring
            {
              right: -30px !important;
            }

          }
        }
        .itemPrice
        {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: top;
          width: 250px;
          padding: 0px 50px;

          .currentPrice {
            font-size: 16px;
            color: #ef5c1e;
            font-weight: bolder;
            a {
              color: #ef5c1e;
              font-weight: bolder;
            }
          }
          .oldPrice {
            color: #8E8E8E;
          }
          .discountContainer
          {
            margin-top: 20px;
            color: #ef5c1e;
            vertical-align: middle;
            a{
              color: #fc7000;
            }
            .discount{
              vertical-align: middle;
              img
              {
                padding-right: 5px;
              }
            }
          }
        }
        .itemServer {
          display: inline-block;
          *display: inline;
          *zoom: 1;
          vertical-align: top;
          .tuihuo span, .bao span, .fenqi span {
            padding: 6px 10px;
            background: url("../../images/fed/service-icon.png") no-repeat;
            background-position: 0px 7px;
          }
          .tuihuo, .bao, .fenqi {
             margin-bottom: 10px;
          }
        }
      }
    }

    #productSilder
    {
      float: left;
      width: 222px;
      height: 500px;
      >.relationImg
      {
        padding-top: 45px;
      }
      #latestInfo
      {
        >ul{
          >a{
            font-weight: bolder;
            font-size: 18px;
            display: block;
            margin: 20px 0px 0px 0px;
            padding-bottom: 12px;
            border-bottom: 3px solid #B0B0B0;
          }
          li{
            margin: 14px 0px;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
      #relationInfo {
        > ul {
          > a {
            font-weight: bolder;
            font-size: 18px;
            display: block;
            padding-bottom: 12px;
            border-bottom: 3px solid #B0B0B0;
          }
        }
        li {
          margin: 14px 0px;
          font-size: 14px;
          cursor: pointer;
          .relationImg {
            display: inline-block;
            *display: inline;
            *zoom: 1;
          }
          .relationContent {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: top;
            padding:5px 0px 0px 5px;
            a{

            }
            a.relationPrice
            {
              color: #ef5c1e;
              padding-right: 7px;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
}
body {

  #fav-popup .tip {
    line-height: 40px;
    font-size: 20px;
    color: #111;
  }
  #fav-popup {
    width: 600px;
    height: 270px;
  }
  #fav-popup .phone {
    margin-left: 150px;
    text-align: left;
    width: 400px;
  }
  #fav-popup .yuyue-con {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 640px;
  }
  #fav-popup label {
    font-size: 12px;
    padding-right: 10px;
  }
  #fav-popup input {
    line-height: 27px;
    width: 184px;
    height: 27px;
  }
  #fav-popup .result_p {
    width: auto;
    margin: 0 20px;
    padding: 30px 0;
  }
  #fav-popup .result_p .warning {
    text-decoration: none;
    color: #ff0000;
    font-size: 12px;
    margin-left: 10px;
  }
  #fav-popup .fav-submit {
    width: 120px;
    display: block;
    height: 40px;
    border: none;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    background: #ff8914;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 3px;
  }
}

@import "baoyang.less";
@import "koubei.less";
@import "price-distribution.less";
