body {
  background-color: #ffffff !important;
}
#content .wrapper {
  width: 1190px;
  margin: 0 auto;
}
#content .wrapper #map {
  padding: 10px 0px;
}
#content .wrapper #map span {
  font-size: 15px;
}
#content .wrapper #productInfo {
  height: 180px;
  padding: 20px 0px 10px 0px;
}
#content .wrapper #productInfo > div {
  height: 160px;
}
#content .wrapper #productInfo > div #imgInfo {
  display: inline-block;
  _zoom: 1;
  *zoom: 1;
  *display: inline;
  _display: inline;
  width: 280px;
  vertical-align: middle;
  height: 100%;
  text-align: left;
}
#content .wrapper #productInfo > div #imgInfo > img {
  display: inline-block;
  _zoom: 1;
  *zoom: 1;
  *display: inline;
  _display: inline;
  margin: 5% auto;
  vertical-align: middle;
}
#content .wrapper #productInfo > div #contentInfo {
  display: inline-block;
  _zoom: 1;
  *zoom: 1;
  *display: inline;
  _display: inline;
  width: 330px;
  border-left: 1px solid #e6e6e6;
  height: 100%;
  vertical-align: top;
}
#content .wrapper #productInfo > div #contentInfo > div {
  padding: 0px 30px;
  vertical-align: middle;
  margin: 8% auto;
}
#content .wrapper #productInfo > div #contentInfo > div .proName {
  font-size: 30px;
  vertical-align: middle;
  font-weight: 500;
}
#content .wrapper #productInfo > div #contentInfo > div .proPrice {
  color: #fc7000;
  font-weight: bold;
  font-size: 35px;
  vertical-align: middle;
  margin-left: -9px;
}
#content .wrapper #productInfo > div #contentInfo > div .proNewPrice {
  font-size: 15px;
  color: #9D9D9D;
  line-height: 20px;
  overflow: hidden;
}
#content .wrapper #productInfo > div #productChexiConfigure {
  display: inline-block;
  _zoom: 1;
  *zoom: 1;
  *display: inline;
  width: 300px;
  border-left: 1px solid #e6e6e6;
  height: 100%;
  vertical-align: top;
}
#content .wrapper #productInfo > div #productChexiConfigure > ul {
  padding: 0px 30px;
  vertical-align: top;
  margin: 8% auto;
}
#content .wrapper #productInfo > div #productChexiConfigure > ul li {
  font-size: 15px;
  padding: 3px;
  color: #7B7B7B;
}
#content .wrapper #productInfo > div #productChexingConfigure {
  display: inline-block;
  _zoom: 1;
  *zoom: 1;
  *display: inline;
  width: 500px;
  border-left: 1px solid #e6e6e6;
  height: 100%;
  vertical-align: top;
}
#content .wrapper #productInfo > div #productChexingConfigure > ul {
  padding: 0px 0px;
  vertical-align: middle;
  margin: 4% auto;
  overflow: auto;
}
#content .wrapper #productInfo > div #productChexingConfigure > ul li {
  font-size: 15px;
  padding: 3px;
  color: #7B7B7B;
  float: left;
  margin-left: 30px;
  width: 185px;
}
#content .wrapper #productDetailInfo {
  position: relative;
  overflow: hidden;
}
#content .wrapper #productDetailInfo .configure .config_nav {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding-left: 50px;
  padding-top: 50px;
}
#content .wrapper #productDetailInfo .configure .config_nav ul li {
  font-size: 14px;
  color: #7B7B7B;
  height: 32px;
  background: url(../../images/index/gun.png) repeat-y 6px;
}
#content .wrapper #productDetailInfo .configure .config_nav ul li span {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 20px;
  color: #CDC9C9;
}
#content .wrapper #productDetailInfo .configure .config_nav ul li span.active {
  color: #fc7000;
}
#content .wrapper #productDetailInfo .configure .config_nav ul li a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
#content .wrapper #productDetailInfo .configure .config_nav ul .first_nav {
  background: url(../../images/index/gun.png) no-repeat 6px 15px;
}
#content .wrapper #productDetailInfo .configure .config_nav ul .end_nav {
  background: url(../../images/index/gun.png) no-repeat 6px -5px;
}
#content .wrapper #productDetailInfo .configure .config_content {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-left: 200px;
  vertical-align: top;
  padding-top: 50px;
}
#content .wrapper #productDetailInfo .configure .config_content table thead td {
  font-size: 16px;
  font-weight: bolder;
}
#content .wrapper #productDetailInfo .configure .config_content table thead td > div {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
#content .wrapper #productDetailInfo .configure .config_content table thead td .border {
  height: 1px;
  border-bottom: 1px solid #000000;
  width: 640px;
  margin-left: 30px;
}
#content .wrapper #productDetailInfo .configure .config_content table tbody div {
  border-bottom: 1px solid #e6e6e6;
  padding: 15px 0px;
}
#content .wrapper #productDetailInfo .configure .config_content table tbody div a {
  font-size: 14px;
}
#content .wrapper #productDetailInfo .configure .config_content table tbody .firstCol {
  margin-left: 20px;
}
#content .wrapper #productDetailInfo .productImg > div {
  position: relative;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
#content .wrapper #productDetailInfo img {
  cursor: pointer;
}
#content .wrapper #productDetailInfo .photosSmallWrap {
  width: 530px;
  padding-top: 45px;
  margin-left: 20px;
  vertical-align: middle;
}
#content .wrapper #productDetailInfo .photosSmallWrap .year {
  height: 30px;
  padding-left: 10px;
}
#content .wrapper #productDetailInfo .photosSmallWrap .year a,
#content .wrapper #productDetailInfo .photosSmallWrap .year span {
  padding: 0px 10px 0px 0px;
  color: black;
}
#content .wrapper #productDetailInfo .photosSmallWrap .year span {
  cursor: pointer;
}
#content .wrapper #productDetailInfo .photosSmallWrap .photosSmall li {
  margin-left: 5px;
  padding: 0px;
}
#content .wrapper #productDetailInfo .photosSmallWrap .photosSmall img:hover {
  border: 2px solid #fc7000;
}
#content .wrapper #productDetailInfo .photosSmallWrap .photosSmall img {
  width: 95px;
  border: 2px solid #ffffff;
}
#content .wrapper #productDetailInfo .photosSmallWrap .color {
  height: 50px;
  padding-left: 10px;
}
#content .wrapper #productDetailInfo .photosSmallWrap .color a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 40px;
  height: 20px;
  position: relative;
  top: 6px;
  margin-left: 10px;
}
#content .wrapper #productDetailInfo .photosSmallWrap .color a i {
  display: block;
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #666666;
  top: 25px;
}
#content .wrapper #productDetailInfo .photosSmallWrap ul li {
  float: left;
}
#content .wrapper #productDetailInfo .nav {
  list-style: none;
  width: 100%;
  height: 43px;
  background: white;
  border-bottom: 1px solid #e6e6e6;
}
#content .wrapper #productDetailInfo .nav li {
  float: left;
  border-top: 3px solid white;
  font-size: 16px;
  padding: 0 50px;
  cursor: pointer;
  line-height: 36px;
  height: 40px;
  background: white;
  border-left: 1px solid white;
  border-right: 1px solid white;
}
#content .wrapper #productDetailInfo .nav li.active {
  border-top: 3px solid #ef5c1e;
  height: 40px;
  border-bottom: 1px solid white;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
#content .wrapper #productDetailInfo .photosWrap {
  margin-top: 40px;
}
#content .wrapper #productDetailInfo .photosWrap .introduce_div {
  position: relative;
  height: 50px;
  width: 620px;
  background: #000000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  top: -53px;
}
#content .wrapper #productDetailInfo .photosWrap .introduce_content {
  position: relative;
  top: -103px;
  width: 600px;
  color: #ffffff;
  padding: 15px 0px 0px 25px;
}
#content .wrapper #productDetailInfo .photosWrap .introduce_content a {
  color: #ffffff;
  vertical-align: middle;
}
#content .wrapper #productDetailInfo .photoTab {
  position: absolute;
  z-index: 4;
  top: 220px;
  cursor: pointer;
}
#content .wrapper #productDetailInfo .photoTab span {
  float: left;
  width: 20px;
  height: 67px;
  background: url(../../images/fed/photoTab.png) no-repeat -78px 0 #888888;
  opacity: .5;
  filter: alpha(opacity=50);
  cursor: pointer;
}
#content .wrapper #productDetailInfo .photoTab span:hover {
  background-position: -56px 0;
}
#content .wrapper #productDetailInfo .photoTab span.photoNext {
  margin-left: 580px;
  background-position: -2px 0;
}
#content .wrapper #productDetailInfo .photoTab span.photoNext:hover {
  background-position: -26px 0;
}
#content .wrapper .clearBoth {
  clear: both;
}
#content .wrapper #allProduct {
  position: relative;
  padding: 0px 0px 60px 0px;
}
#content .wrapper #allProduct table {
  width: 100%;
}
#content .wrapper #allProduct table caption {
  font-weight: bolder;
  font-size: 20px;
  padding-bottom: 20px;
}
#content .wrapper #allProduct table .firstCol {
  padding-left: 0px;
  cursor: pointer;
}
#content .wrapper #allProduct table .firstCol a {
  color: #FF5809 !important;
}
#content .wrapper #allProduct table thead {
  border-top: 1px solid #000000;
}
#content .wrapper #allProduct table thead th {
  height: 53px;
  font-weight: bolder;
  font-size: 15px;
  border-bottom: 1px solid #e6e6e6;
}
#content .wrapper #allProduct table thead .more {
  font-weight: bold;
  font-size: 13px;
  background: url(../../images/index/left-arrow.png) no-repeat center center;
  padding: 10px;
  cursor: pointer;
}
#content .wrapper #allProduct table tbody td {
  height: 53px;
  font-size: 13px;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 15px;
}
#content .wrapper #allProduct #advantage {
  width: 960px;
  position: absolute;
  right: 0px;
  border-left: 1px solid #e6e6e6 ;
  box-shadow: 2px 2px 1px #888888;
  top: 95px;
  background: white;
}
#content .wrapper #allProduct #advantage > table th,
#content .wrapper #allProduct #advantage > table td {
  text-align: center;
  padding: 0px 10px;
  height: 55px;
  border-bottom: 1px solid #e6e6e6;
}
#content .wrapper #allProduct #advantage > table .advantageConfig {
  background-color: #FCFCFC ;
}
#content .wrapper #newProduct {
  float: left;
  width: 960px;
  overflow: auto;
}
#content .wrapper #newProduct > h1 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}
#content .wrapper #newProduct .item {
  width: 215px;
  height: 300px;
  float: left;
  border: 1px solid #e6e6e6;
  margin-right: 20px;
  margin-bottom: 20px;
}
#content .wrapper #newProduct .item .itemContent {
  border-bottom: 1px solid #e6e6e6;
  height: 270px;
  cursor: pointer;
}
#content .wrapper #newProduct .item .itemContent h1 {
  margin: 2px 15px;
  font-size: 14px;
  font-weight: bolder;
}
#content .wrapper #newProduct .item .itemContent .currentPrice {
  margin: 2px 15px;
  color: #ef5c1e;
  font-size: 13px;
  font-weight: bolder;
}
#content .wrapper #newProduct .item .itemContent .oldPrice {
  text-decoration: line-through;
}
#content .wrapper #newProduct .item .itemContent .other {
  margin: 14px 14px 14px 10px;
}
#content .wrapper #newProduct .item .itemContent .other span {
  padding: 2px;
  margin: 0px 3px;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  background-color: #e6e6e6;
}
#content .wrapper #newProduct .item .itemContent .detail {
  margin: 2px 15px;
}
#content .wrapper #newProduct .item .itemContent .detail .shangpai {
  padding: 0px 10px 0px 0px;
}
#content .wrapper #newProduct .item .itemContent .detail .gongli {
  padding: 0px 0px 0px 10px;
}
#content .wrapper #newProduct .item .itemTail {
  position: relative;
  padding-top: 3px;
  background-color: #f9f9f9 ;
  height: 26px;
}
#content .wrapper #newProduct .item .itemTail * {
  vertical-align: middle;
}
#content .wrapper #newProduct .item .itemTail .carCollect {
  margin: 0px 10px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: url(../../images/index/normal.png) no-repeat;
  background-position: 0px 3px;
  padding-left: 20px;
  vertical-align: middle;
}
#content .wrapper #newProduct .item .itemTail .carCollect.hover {
  background: url(../../images/index/hover.png) no-repeat;
  background-position: 0px 3px;
}
#content .wrapper #newProduct .item .itemTail .carCollect.active {
  background: url(../../images/index/active.png) no-repeat;
  background-position: 0px 3px;
}
#content .wrapper #newProduct .item .itemTail .carConstrast {
  margin: 0px 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#content .wrapper #newProduct .item .itemTail .carConstrast span {
  padding-left: 4px;
}
#content .wrapper #newProduct .item .itemTail .contrast-waring {
  right: -30px !important;
}
#content .wrapper #newProductList {
  float: left;
  width: 940px;
  overflow: auto;
  padding-right: 20px;
  padding-bottom: 50px  ;
}
#content .wrapper #newProductList > h1 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 3px solid #B0B0B0;
}
#content .wrapper #newProductList li {
  padding: 25px 0px;
  border-bottom: 1px solid #e6e6e6;
}
#content .wrapper #newProductList li > img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
#content .wrapper #newProductList li .itemInfo {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin-left: 10px;
  width: 255px;
}
#content .wrapper #newProductList li .itemInfo .car {
  padding: 2px;
}
#content .wrapper #newProductList li .itemInfo .car a {
  font-size: 15px;
  font-weight: bolder;
}
#content .wrapper #newProductList li .itemInfo .opteration {
  position: relative;
}
#content .wrapper #newProductList li .itemInfo .opteration .contrast-waring {
  right: -20px !important;
}
#content .wrapper #newProductList li .itemInfo .detail {
  color: #8E8E8E;
  padding: 2px;
  margin-left: -10px;
}
#content .wrapper #newProductList li .itemInfo .detail a {
  color: #8E8E8E;
  padding: 0px 10px;
}
#content .wrapper #newProductList li .itemInfo .carCollect,
#content .wrapper #newProductList li .itemInfo .carConstrast {
  padding: 2px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  color: #8E8E8E;
}
#content .wrapper #newProductList li .itemInfo .carCollect {
  background: url(../../images/index/car-nocollect.png) no-repeat;
  background-position: -1px 1px;
  padding-left: 20px;
  vertical-align: middle;
  cursor: pointer;
}
#content .wrapper #newProductList li .itemInfo .carCollect.hover {
  background: url(../../images/index/hover.png) no-repeat;
  background-position: 0px 3px;
}
#content .wrapper #newProductList li .itemInfo .carCollect.active {
  background: url(../../images/index/car-collect.png) no-repeat;
  background-position: -1px 1px;
}
#content .wrapper #newProductList li .itemInfo .carConstrast {
  margin: 0px 5px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  cursor: pointer;
}
#content .wrapper #newProductList li .itemInfo .carConstrast span {
  padding-left: 4px;
}
#content .wrapper #newProductList li .itemInfo .carConstrast input {
  vertical-align: middle;
}
#content .wrapper #newProductList li .itemInfo .carConstrast .contrast-waring {
  right: -30px !important;
}
#content .wrapper #newProductList li .itemPrice {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  width: 250px;
  padding: 0px 50px;
}
#content .wrapper #newProductList li .itemPrice .currentPrice {
  font-size: 16px;
  color: #ef5c1e;
  font-weight: bolder;
}
#content .wrapper #newProductList li .itemPrice .currentPrice a {
  color: #ef5c1e;
  font-weight: bolder;
}
#content .wrapper #newProductList li .itemPrice .oldPrice {
  color: #8E8E8E;
}
#content .wrapper #newProductList li .itemPrice .discountContainer {
  margin-top: 20px;
  color: #ef5c1e;
  vertical-align: middle;
}
#content .wrapper #newProductList li .itemPrice .discountContainer a {
  color: #fc7000;
}
#content .wrapper #newProductList li .itemPrice .discountContainer .discount {
  vertical-align: middle;
}
#content .wrapper #newProductList li .itemPrice .discountContainer .discount img {
  padding-right: 5px;
}
#content .wrapper #newProductList li .itemServer {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}
#content .wrapper #newProductList li .itemServer .tuihuo span,
#content .wrapper #newProductList li .itemServer .bao span,
#content .wrapper #newProductList li .itemServer .fenqi span {
  padding: 6px 10px;
  background: url("../../images/fed/service-icon.png") no-repeat;
  background-position: 0px 7px;
}
#content .wrapper #newProductList li .itemServer .tuihuo,
#content .wrapper #newProductList li .itemServer .bao,
#content .wrapper #newProductList li .itemServer .fenqi {
  margin-bottom: 10px;
}
#content .wrapper #productSilder {
  float: left;
  width: 222px;
  height: 500px;
}
#content .wrapper #productSilder > .relationImg {
  padding-top: 45px;
}
#content .wrapper #productSilder #latestInfo > ul > a {
  font-weight: bolder;
  font-size: 18px;
  display: block;
  margin: 20px 0px 0px 0px;
  padding-bottom: 12px;
  border-bottom: 3px solid #B0B0B0;
}
#content .wrapper #productSilder #latestInfo > ul li {
  margin: 14px 0px;
  font-size: 14px;
  cursor: pointer;
}
#content .wrapper #productSilder #relationInfo > ul > a {
  font-weight: bolder;
  font-size: 18px;
  display: block;
  padding-bottom: 12px;
  border-bottom: 3px solid #B0B0B0;
}
#content .wrapper #productSilder #relationInfo li {
  margin: 14px 0px;
  font-size: 14px;
  cursor: pointer;
}
#content .wrapper #productSilder #relationInfo li .relationImg {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
#content .wrapper #productSilder #relationInfo li .relationContent {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  padding: 5px 0px 0px 5px;
}
#content .wrapper #productSilder #relationInfo li .relationContent a.relationPrice {
  color: #ef5c1e;
  padding-right: 7px;
  font-weight: bolder;
}
body #fav-popup .tip {
  line-height: 40px;
  font-size: 20px;
  color: #111;
}
body #fav-popup {
  width: 600px;
  height: 270px;
}
body #fav-popup .phone {
  margin-left: 150px;
  text-align: left;
  width: 400px;
}
body #fav-popup .yuyue-con {
  margin-top: 10px;
  margin-bottom: 15px;
  width: 640px;
}
body #fav-popup label {
  font-size: 12px;
  padding-right: 10px;
}
body #fav-popup input {
  line-height: 27px;
  width: 184px;
  height: 27px;
}
body #fav-popup .result_p {
  width: auto;
  margin: 0 20px;
  padding: 30px 0;
}
body #fav-popup .result_p .warning {
  text-decoration: none;
  color: #ff0000;
  font-size: 12px;
  margin-left: 10px;
}
body #fav-popup .fav-submit {
  width: 120px;
  display: block;
  height: 40px;
  border: none;
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  background: #ff8914;
  color: #fff;
  border-radius: 3px;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 3px;
}
