.car_report{
  margin:auto;
  background: #fff;
  width:1144px;
  .report_module{
    border:1px solid @moduleBC;
    .report_hd{
      height:90px;
      background: @moduleHeadBGC;
      .num{
        width:20px;
        background: @red;
        color:#fff;
        height:90px;
        font-size: 60px;
        line-height: 90px;
        text-align: center;
        float: left;
      }
      .title{
        float: left;
        margin-left:20px;
        padding-top: 20px;
        .main_title{
          font-size: 18px;
          line-height: 25px;
          color:#444;
        }
        .sub_title{
          font-size: 14px;
          line-height: 25px;
          color:#444;
        }
      }
      .promise{
        float: right;
        width:140px;
        .desc{
          width:80px;
          float: left;
          font-size: 14px;
          color:#999;
          padding-top: 25px;
        }
        .icon{
          float: right;
          border-radius: 100px;
          width:60px;
          height:60px;
          font-size: 20px;
          text-align: center;
          line-height: 60px;
          background: @green;
          color:#fff;
          margin-top: 15px;
        }
      }
    }
  }

}


.clear-flt{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}