@media screen and (max-width:1250px){
  .car_report{
    width:1022px;
  }
  .onsale-summary .onsale-tab{
    width:1022px;
  }
  .onsale-summary .onsale-tab .sub-item{
    width:1008px;
  }
  .report_summary .level-card{
    width: 338px;
  }
  .car_report .report_module .report_hd .promise .desc{
    font-size:20px;
  }
  .car_report .report_module .report_hd .title .sub_title{
    font-size: 12px;
  }
  .car_report .report_config .report_bd .config-table .config-detail .config-left{
    margin-right:110px;
  }
  .car_report .report_config .report_bd .config-table .config-detail .detail-box .config-item .config-name{
    width:150px;
  }
  .car_report .report_config .report_bd .config-table .config-detail .detail-box .config-item .config-cont{
    width:240px;
  }
  .car_report .report_config .report_bd .config-table .config-detail .detail-box{
    width:410px;
  }
}