.report_important{
  .item{
    .wrapper{
      padding:50px;
    }
    .hd {
  color:#333;
      .num {
        float: left;
        font-size: 50px;
        line-height: 50px;
      }
      .title {
        margin-left: 40px;
        font-size: 14px;
        line-height: 20px;
        color: #333;
      }
      .sub-title {
        font-size: 18px;
        margin-left: 40px;
        line-height: 30px;
        color: #333;
      }
    }
  }
  .con{
    .item{
      border-bottom:1px solid #eee;
    }
  }
  .con-3{
    .banjin{
      border-bottom: none;
    }
  }
  .con-1-1{
    width:104%;

    .item{
      width:48%;
      float: left;
      
    }
    .item:last-child{
      border-right:none;
    }
    .fadongji{
      border-right:none;
    }
  }
  .banjin{
    img{
      display: block;
      margin: 30px auto;
    }
  }
  .tips{
    line-height: 30px;
    margin: 20px 0;
    font-size: 14px;
    margin-left: 40px;
    color:#999;
      .normal i,.nonormal i{
        width:15px;
        height:15px;
        vertical-align: middle;
        background: #fff;
        border:1px solid #999;
        display: inline-block;
        border-radius: 20px;
        margin-right: 8px;
      }
      .nonormal i{
        background: @blue;
        border:1px solid @blue;
      }
      .desc{
        color:#999;
        i{
          color:#999;
          display: inline-block;
          width:15px;
        }
      }
  }
  .pics{
    position: relative;
    height:494px;
    .pic{
      width:954px;
      height:494px;
      position: absolute;
      top:0;
      left:0;
      opacity: 0;
    }
    .pic-main{
      width:954px;
      height:494px;
      position: absolute;
      top:0;
      left:0;
      background: url('../../images/detail/report-i1-main.png?t=20141223') no-repeat;
    }
    .pic-1{
      background: url('../../images/detail/report-i1-1.png?t=20141223') no-repeat;

    }
    .pic-2{
      background: url('../../images/detail/report-i1-2.png?t=20141223') no-repeat;

    }
    .pic-3{
      background: url('../../images/detail/report-i1-3.png?t=20141223') no-repeat;
    }
    .pic-4{
      background: url('../../images/detail/report-i1-4.png?t=20141223') no-repeat;

    }
    .pic-5{
      background: url('../../images/detail/report-i1-5.png?t=20141223') no-repeat;
    }
    .trigger{
      position: absolute;
      width:200px;
      height:100px;
    }
    .trigger-1{
      left: 80px;
      top: 370px;
    }
    .trigger-2{
      left: 730px;
      top: 370px;
    }
    .trigger-3{
      left: 30px;
      top: 30px;
    }
    .trigger-4{

      left: 730px;
      top: 30px;
    }
    .trigger-5{
      left: 430px;
      top: 370px;
    }
  }
  .row2{
    .huoshao{
      .hd{
        background: url('../../images/detail/report_i1-icon1.png?t=20141223') no-repeat right center;
      }
    }
    .shuijin{
      .hd{
        background: url('../../images/detail/report_i1-icon2.png?t=20141223') no-repeat right center;
      }
    }
    .fadongji{
      .hd{
        background: url('../../images/detail/report_i1-icon3.png?t=20141223') no-repeat right center;
      }
    }
  }
}