.report_important{
  .item{
    .wrapper{
      padding:50px;
    }
    .hd{

      .num{
        float:left;
        font-size: 50px;
        line-height: 50px;
      }
      .title{
        margin-left:40px;
        font-size: 14px;
        line-height: 20px;
      }
      .sub-title{
        font-size: 16px;
        margin-left:40px;
        line-height: 30px;
      }
      .report-tip{
        display: inline-block;
        width: 16px;
        height:16px;
        background: url(../../images/detail/report-tip.png) no-repeat;
        vertical-align: middle;
      }
    }
  }
  .con-3{
    .item{
      border-bottom:1px solid #eee;
    }
  }
  .con-1-1-1{
    width:103%;

    .item{
      width:33%;
      float: left;
      border-right:1px solid #eee;
    }
  }
}