.wrapper{
    // 承诺报告
    &.report-type-promise-report{
        .report_module .report_hd .num{
            background-color: #666;
        }
        .report_summary{
            height: 420px;
            .summary-box{
                position: relative;
                float: left;
                margin-left: 450px;
                width: 670px;
                padding-top: 70px;
                .title {
                    position: absolute;
                    left: -450px;
                }
                .summary-cont{
                    margin-top: 0px;
                }
            }
        }
        .report_important .item .hd{
            min-height: 50px;
        }
    }

    // 质检报告 -> 服务承诺
    // 默认显示质检报告
    // &.report-type-detect-reprot{
    .report_summary .summary-box .title .text{
        &.detect-reprot-text{
            display: block;
        }
        &.promise-reprot-text{
            display: none;
        }
    }
    &.report-type-promise-report{
        .report_summary .summary-box{
            .title{
                .text.detect-reprot-text{
                    display: none;
                }
                .text.promise-reprot-text{
                    display: block;
                }
            }
        }
    }
}