.wrapper{
    // 类型1
    // 小车商
    &.report-type-1{
        // 没有质检summary
        .report_summary{
            display: none;
        }
        .report_safety.report_module{
            border-top: none;
        }
    }


    &.report-type-2{
        .report_summary .level-card{
            .card-stage .card-box .card-cont{
                background: url(../../images/detail/special-shop-report-icon.png) no-repeat;
                background-position: center;

                *{
                    display: none;
                }
            }
            .card-rule{
                display: none !important;
            }
            .look-rule{
                display: none;
            }
        }
    }
    


    // 质检报告 -> 服务承诺
    // 默认显示质检报告
    .report_summary .summary-box .title .text{
        &.quality-report{
            display: block;
        }
        &.service-promise{
            display: none;
        }
    }
    &.report-type-1{
        .report_summary .summary-box .title .text{
            &.quality-report{
                display: none;
            }
            &.service-promise{
                display: block;
            }
        }
    }
}