util.print: Use console.log instead
.qiugou {
  border: 1px solid #e6e6e6;
  background: #f9f9f9;
  position: relative;
}
.qiugou .inner {
  padding-left: 30px;
  padding-top: 30px;
}
.qiugou .person-bg {
  background: #f9f9f9 url(../images/index/qiugou-bg.jpg?454) no-repeat 0 0;
  position: absolute;
  bottom: 0;
  right: 1px;
  width: 365px;
  height: 377px;
  z-index: 2;
}
.qiugou .head {
  height: 60px;
  overflow: hidden;
  position: relative;
  z-index: 2;
  width: 540px;
}
.qiugou .title {
  font-size: 28px;
  color: #222;
  line-height: 35px;
}
.qiugou .title em {
  color: #fc7000;
}
.qiugou .sub-title {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
.qiugou .searching-sub-title {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
.qiugou .success-title {
  font-size: 28px;
  color: #222;
  line-height: 35px;
  height: 60px;
}
.qiugou .searching-title {
  font-size: 27px;
  color: #222;
  line-height: 35px;
  height: 35px;
  width: 540px;
}
.qiugou .searching-title em {
  color: #fc7000;
}
.qiugou .result {
  position: absolute;
  left: 30px;
  top: 0px;
  width: 886px;
  height: 400px;
  background: #f9f9f9;
  z-index: 1;
  overflow: hidden;
}
.qiugou .result .result-inner {
  margin-left: 950px;
  width: 890px;
  height: 250px;
  margin-top: 130px;
}
.qiugou .result .cars {
  margin-left: 3px;
}
.qiugou .result .redo {
  color: #fc7000;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 750px;
  top: 45px;
  width: 120px;
  cursor: pointer;
}
.qiugou .result .redo i {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../images/index/index_sprite.png?123);
  background-position: 0 -20px;
  vertical-align: -8px;
}
.qiugou .result .car {
  background: #fff;
  box-shadow: 0px 0px 3px #aaa;
  float: left;
  width: 210px;
  margin-right: 10px;
  position: relative;
}
.qiugou .result .car .pic {
  width: 210px;
  height: 135px;
  overflow: hidden;
}
.qiugou .result .car .pic img {
  width: 210px;
}
.qiugou .result .car .title {
  font-size: 12px;
  padding: 0 10px;
  padding-top: 10px;
  line-height: 20px;
  height: 40px;
  overflow: hidden;
}
.qiugou .result .car .price {
  padding: 0 10px;
  padding-bottom: 10px;
}
.qiugou .result .car .price em {
  color: #db2400;
  font-size: 18px;
  line-height: 30px;
}
.qiugou .result .car .price .time {
  font-size: 12px;
  float: right;
  line-height: 30px;
  color: #666;
}
.qiugou .result .more {
  background: #ffffff url(../images/index/qiugou-more.png?1) no-repeat center center;
  width: 210px;
  height: 225px;
}
.qiugou .result .no {
  background: #fffcf6 url(../images/index/qiugou-no.png?1) no-repeat center center;
  width: 210px;
  height: 225px;
}
.qiugou .result .icon {
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 2px;
  vertical-align: -1px;
}
.qiugou .result .icon-jian {
  background-image: url(../images/index/index_sprite.png?123);
  background-position: -70px 0;
}
.qiugou .result .icon-new {
  background-image: url(../images/index/index_sprite.png?123);
  background-position: -90px 0;
}
.qiugou .result .zhijiang {
  position: relative;
  width: 65px;
  height: 19px;
  background-color: #FC7000;
  border-radius: 3px;
  color: #fff;
  top: -160px;
  left: 144px;
  text-align: center;
  line-height: 19px;
}
.qiugou .result .zhijiang .triangle {
  display: block;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid #FC7000;
  position: relative;
  left: 8px;
  top: 0;
}
.qiugou .result .price-down {
  background: url(../images/index/zhijiang.png?1);
  height: 75px;
  width: 40px;
  position: absolute;
  top: 0;
  right: 0;
}
.qiugou .result .price-down i {
  color: #FFFFFF;
  display: block;
  font-family: 'Microsoft YaHei', Tahoma, Verdana;
  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  padding-top: 40px;
}
.qiugou .form {
  padding-bottom: 40px;
  margin-left: 30px;
  position: relative;
  z-index: 5;
}
.qiugou .form .form-item {
  margin-top: 10px;
}
.qiugou .form .form-item label {
  color: #444;
  font-size: 14px;
  float: left;
  line-height: 30px;
  font-weight: bold;
  width: 30px;
  height: 30px;
}
.qiugou .form .form-item .input {
  margin-left: 20px;
  float: left;
  color: #444;
  font-size: 14px;
}
.qiugou .form .form-item .warning {
  color: #fc7000;
  font-weight: bold;
  line-height: 30px;
  font-size: 14px;
}
.qiugou .form .brand-select {
  width: 257px;
  height: auto;
  display: block;
}
.qiugou .form .brand-select .close {
  background: #fc7000;
  color: #fff;
  font-size: 12px;
  float: right;
  margin-right: 10px;
  line-height: 25px;
  padding: 0 10px;
  cursor: pointer;
  *margin-top: -30px;
}
.qiugou .form .brand-select .close:hover {
  color: #fff;
}
.qiugou .form .brand-select .sc-select-list {
  overflow: hidden;
  width: 500px;
  height: 400px !important;
}
.qiugou .form .brand-select .sc-select-content {
  padding-left: 0;
}
.qiugou .form .brand-select .placeholder {
  padding-left: 10px;
}
.qiugou .form .brand-select .sc-popup-bd {
  height: 370px;
  padding-bottom: 60px;
}
.qiugou .form .brand-select .word-title {
  float: left;
  color: #fc7000;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
}
.qiugou .form .brand-select .word-brands {
  float: left;
  display: inline;
  width: 450px;
}
.qiugou .form .brand-select .option {
  padding: 0 5px;
  margin-left: 7px;
  color: #666;
  display: inline-block;
  font-size: 12px;
  border: 2px solid #fff;
  line-height: 20px;
  margin-top: 3px;
}
.qiugou .form .brand-select .word-container:last-child {
  margin-bottom: 60px;
}
.qiugou .form .brand-select .option.active {
  border: 2px solid #fc7000;
  background: #ffedda url(../images/index/popup-active.png?1) no-repeat right bottom;
  color: #fc7000;
}
.qiugou .form .brand-select .option:hover {
  color: #fc7000;
}
.qiugou .form .brand-select .sc-popup {
  padding-right: 0;
}
.qiugou .form .series-select {
  width: 257px;
  height: auto;
  display: block;
}
.qiugou .form .series-select .sc-select-list {
  overflow: hidden;
  width: 500px;
  height: 400px !important;
}
.qiugou .form .series-select .close {
  background: #fc7000;
  color: #fff;
  font-size: 12px;
  float: right;
  margin-right: 10px;
  line-height: 25px;
  padding: 0 10px;
  cursor: pointer;
  *margin-top: -30px;
}
.qiugou .form .series-select .sc-select-content {
  padding-left: 0;
}
.qiugou .form .series-select .placeholder {
  padding-left: 10px;
}
.qiugou .form .series-select .sc-popup-bd {
  height: 370px;
}
.qiugou .form .series-select .brand-title {
  color: #fc7000;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
.qiugou .form .series-select .option {
  padding: 0 5px;
  margin-right: 5px;
  color: #333;
  display: inline-block;
  font-size: 12px;
  border: 2px solid #fff;
  line-height: 20px;
  margin-top: 5px;
}
.qiugou .form .series-select .option.active {
  border: 2px solid #fc7000;
  background: #ffedda url(../images/index/popup-active.png?1) no-repeat right bottom;
  color: #fc7000;
}
.qiugou .form .series-select .word-container:last-child {
  margin-bottom: 60px;
}
.qiugou .form .series-select .option:hover {
  color: #fc7000;
}
.qiugou .form .series-select .sc-popup {
  padding-right: 0;
}
.qiugou .form .age-select,
.qiugou .form .model-select {
  display: inline;
  float: left;
  width: 256px;
}
.qiugou .form .age-zhi {
  float: left;
  padding: 0 7px;
  line-height: 30px;
}
.qiugou .form .age-select .option,
.qiugou .form .model-select .option {
  display: block;
  float: none;
  padding-left: 15px;
  font-size: 12px;
  line-height: 25px;
  color: #333;
}
.qiugou .form .age-select .option:hover,
.qiugou .form .model-select .option:hover {
  background: #fc7000;
  color: #fff;
}
.qiugou .form .price-select-low {
  width: 103px;
  padding-left: 10px;
  color: #666;
  margin-right: 5px;
  height: 30px;
  margin-left: 0;
  border: 1px solid #ddd;
  *margin-left: -20px;
}
.qiugou .form .price-select-high {
  width: 103px;
  padding-left: 10px;
  color: #666;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  border: 1px solid #ddd;
}
.qiugou .form .submit {
  background: #fc7000;
  color: #fff;
  height: 35px;
  border: none;
  width: 165px;
  font-size: 16px;
  cursor: pointer;
}
.qiugou .form .submit.loading {
  background: #ffa053;
}
.qiugou .form .go-login {
  margin-left: 30px;
  font-size: 12px;
}
.qiugou .form .go-login a {
  color: #fc7000;
  text-decoration: underline;
}
.buyforme {
  background: #fff;
  height: 427px;
  border: 1px solid #e6e6e6;
  overflow: hidden;
}
.buyforme .go {
  display: block;
  width: 260px;
  height: 338px;
  background: url(../images/index/wantbuy.png?123) no-repeat;
  overflow: hidden;
}
.buyforme .flex-control-nav,
.buyforme .flex-direction-nav {
  display: none;
}
.buyforme .flex-viewport {
  height: 55px;
}
.buyforme .qiugou-history {
  font-size: 12px;
  color: #666;
  height: 60px;
  overflow: hidden;
  padding: 10px 30px;
}
.buyforme .qiugou-history .slide {
  width: 300px;
  height: 100px;
  line-height: 25px;
  overflow: hidden;
}
.buyforme .qiugou-history .slide li {
  height: 25px;
  display: block;
  padding-left: 10px;
}
.buyforme .qiugou-history .item {
  color: #666;
  line-height: 23px;
}
.has-qiugou .person-bg {
  background-position: 427px 50%;
}
.has-qiugou .head-inner {
  margin-top: -130px;
}
.has-qiugou .result .result-inner {
  margin-left: 0px;
}
.has-qiugou .form .form-inner {
  margin-top: 335px;
}
.no-result .head-inner {
  margin-top: -190px;
}
