doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="<sc:assets value='/assets/css/mobile/h5-3/brand.css'/>" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/mobile/slide/slide.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="<sc:assets value='/assets/js/mobile/lib/af.touchEvents.js'/>"></script>
    <script src="<sc:assets value="/assets/js/lib/require.js"/>"></script>
    <script>
        var contextPath = "<%=request.getContextPath() %>";
        require.config({
          baseUrl: '<sc:assets value="/assets/js"/>',
          urlArgs: 'bust=v13' 
        });
    </script>
  body
    #slide
      #content
        section.slide-active(data-index=1) 
          .user-info 
            img(src="", alt="")
            span xxxx
          .text 
            p 车轮碾过的印记  
            p 是飞逝的时光 也是陪伴的记忆…
          .ft 
            p 我有一个这样的故事 
            p 或许你也曾经历…
        section.slide-bottom(data-index=2) 
          .text 
            p 小时候，温暖是一辆自行车 
            p.mb10 父亲在前面，我躲在后边。  
            p 车轮留下的是幸福的记忆 
            p 爸爸说：抓紧一点哦！ 
          .ft 
            p 我也曾 
            p ……
          .bg 
            img(src="/assets/images/mob/slide/s2.png")
        section.slide-bottom(data-index=3) 
          .text
            p  上大学，离别是一辆火车 
            p 父母在窗外，我在窗内 
            p.mb10 车轨留下了我“不懂珍惜”的痕迹  
            p 妈妈说：水果都带上吧！ 
            p 我却说：不用了！太麻烦了！
          .ft 
            p 我也曾
            p ……
          .bg 
            img(src="/assets/images/mob/slide/s3.png")
        section.slide-bottom(data-index=4) 
          .text
            p  工作后，距离抵不过一辆公交 
            p 母亲在电话那头盼我，我却在这头等车 
            p.mb10 驶来的车轮碾碎了母亲的关心  
            p 我不耐烦的说：知道了，挂了吧。
          .ft 
            p 我曾想 
            p ……
          .bg 
            img(src="/assets/images/mob/slide/s4.png")
        section.slide-bottom(data-index=5) 
          .text
            p 然而 
            p 不管何时何地 
            p.mb10 有父母的地方从不缺少温馨 
            p 爸妈说：孩子爱吃鱼，挑最大的那个！
          .ft 
            p 后来 
            p …… 
          .bg 
            img(src="/assets/images/mob/slide/s5.png")
        section.slide-bottom(data-index=6) 
          .text
            p 如果车轮也有记忆，希望有一天 
            p 可以开车带他们到天涯海角 
            p 留下他们幸福的微笑 
            p 在每分每秒 
            p ……
          .ft 
            p 后来 
            p ……
          .bg 
            img(src="/assets/images/mob/slide/s6.png")
        section.slide-bottom(data-index=7) 
          .text
            p 于是 
            p.mb10 我买了属于自己的第一辆车
          form#slide-form
            .form-control
              #slide-brand.form-item 品牌
            .form-control
              #slide-model.form-item 车型
            .form-control
              label 行驶公里
              input.form-item.form-input 
              span 万公里
            .form-control
              label 上牌时间
              select#slide-time.form-item(name="")
              span 年
            button#slide-btn 为爱车点赞!
          .ft 
            p 我没有车 
            p 但这样的美好也许会迟到，但从不缺席
          .text.hidden.diff
            p.mb10 我拥有了自己的奥迪A4L  
            p 8万公里的车轮印迹 
            p 也见证了4年来 
            p 汽车带来的幸福记忆… 
          .bg 
            img(src="/assets/images/mob/slide/s7.png")         
        section.slide-bottom(data-index=8)
          .text 
            p TA已为我的家庭奉献了  
            p 
              span 35% 
            p.mb10 的青春（汽车的折损率）  
            p 然而汽车的耗损， 
            p.mb10 也见证了幸福感的与日俱增  
            p 怎能为那些难免的磕碰
            p.mb10 忘却Ta曾经为你遮风挡雨的日子
            p 怎能因那些难免的争吵
            p.mb10 忽视父母带给你无与伦比的关爱
            p 我来自山川湖海
            p 唯有家庭与爱不可辜负
          a.btn 举手之劳 传递亲情
          .text.hidden
            p 怎能为那些难免的磕碰 
            p 忘却TA曾经为你遮风挡雨的日子  
            p 怎能因那些难免的争吵 
            p 忽视父母带给你无与伦比的关爱  
            p 我来自山川湖海 
            p 唯有家庭与爱不可辜负
          .ft 
            p 千万不要往下看...
          .bg 
            img(src="/assets/images/mob/slide/s8.png")
        section.slide-bottom(data-index=9)
          .text 
            p  嗯！你没看错！ 
            p.mb10 这就是一条赤果果的广告！  
            p 我们这么拼 
            p 只是想让你买车而已 
            p 就是这么任性！
          a#btn-link.btn 看看我的dream car
          a#btn-link.btn.hidden 我!要!卖!车!
          .bg 
            img(src="/assets/images/mob/slide/s9.png")
      div.speaker.playaround
      a#next
      arudio(id="audio" class="playing" src="http://3glogo.gtimg.com/wxgc/_events/20141120-spring-festival/music/bgm.mp3" loop preload="auto" autoplay="true")
    #popup.hidden
      .content
        p 爱车信息缺失
        p 你真的有诚意为TA点赞吗？
        a.btn 补充爱车信息
  script.
    // 简单的滑块实现
    ;(function($, window) {

      var maxItem = $('[data-index]').length;

      var action = {
        moveTop: function() {
          if ($(this).data('index') == maxItem) return null;
          $(this).removeClass().addClass('slide-top');
          $(this).next().removeClass().addClass('slide-active');
          action.displayBtn();
        },
        moveDown: function() {
          if ($(this).data('index') == 1) return null;
          $(this).removeClass().addClass('slide-bottom');
          $(this).prev().removeClass().addClass('slide-active');
          action.displayBtn();
        },
        move: function(e) {
          e.preventDefault();
          var $active = $('.slide-active');
          if ($active.data('index') == maxItem) return null;
          $active.removeClass().addClass('slide-top');
          $active.next().removeClass().addClass('slide-active');
          action.displayBtn();
        },
        displayBtn: function() {
          if ($('.slide-active').data('index') == maxItem) {
            $('#next').addClass('hidden');
          } else {
            $('#next').removeClass('hidden');
          }
        },
        init: function(current) {
          var $item = $('[data-index]');
          $item.filter(function(index) {
            return index > current;
          }).removeClass().addClass('slide-bt');
          $item.filter(function(index) {
            return index < current;
          }).removeClass().addClass('slide-t');
          action.displayBtn();
        },
        goto: function(num) {
          return function() {
            var $currentItem = $('.slide-active');
            var current = $currentItem.data('index');
            if (current == num) return null;
            $('[data-index]').eq(num - 1).removeClass().addClass('slide-active');
            if (num < current) {
              $currentItem.removeClass().addClass('slide-bottom');
            } else {
              $currentItem.removeClass().addClass('slide-top');
            }
            action.init(num - 1);
          }
        }
      }

      $('#next').on('click', action.move);

      $('.speaker').on('click', action.goto(8));
        
      $('[data-index]').swipeDown(action.moveDown).swipeUp(action.moveTop);

      //- setTimeout(function() {
      //-   if (window.history && history.pushState) {
      //-     history.pushState(null, "", "slide?lan=en");
      //-   }
      //- }, 2000)

      //- $('#audio').on('click', function() {
      //-   if ($(this).hasClass('playing')) {
      //-     $(this).pause().toggleClass('playing');
      //-   } else {
      //-     $(this).play().toggleClass('playing');
      //-   }
      //- });

    })(jQuery, window);

    ;(function() {
      
      // 选品牌 ＋ 车型
      require(['mobile/index/brand2'], function (Brand){
      
        $('#slide-brand').on('click', function() {
          
          $('#brand').removeClass('hidden');

          function brandInfo(b, bn, s, sn) {
            $('#slide-brand').attr('data-brand', b).attr('data-series', s)
                  .text(bn + ' ' + sn);
            $('#car-model').removeClass('no-active').text('');
            $('#car-models').empty();

            var modelUrl = contextPath + '/pages/dicAction/loadNextLevel.json?type=car-subdivision';

            $.getJSON(modelUrl, { code: s }, function(data) {
              var obj = {};
              var data = data.items;
              for (var i = 0, len = data.length; i < len; i ++) {
                var t = data[i].name.slice(0,4);
                var d = data[i].name.trim();
                var c = data[i].code;
                if (!obj[t]) {
                  obj[t] = [];
                }
                obj[t].push({title: d, code: c});
              }
              createModel(obj);
            });

            // 车型弹窗
            function createModel(obj) {
              $('#car-models').empty();
              var str = '';
              for (var p in obj) {
                // str += '<div class="item"><h4>' + p + '</h4>';
                str += '<div class="item">';
                for (var i = 0, arr = obj[p], len = arr.length; i < len; i ++) {
                  str += '<li data-code="' +  arr[i].code + '">' +  arr[i].title + '<span class="left-arrow"></span></li>'
                }
                str += '</div>'
              }
              $('#car-models').append(str);
            }

          }

          Brand.bind(brandInfo);
        });

        // 年月
        function createDate(y) {
          var n = new Date().getFullYear();
          var $form = $('#slide-form');
          var $year = $form.find('#slide-time');
          var year = '';

          year += '<option value="">年</option>'

          for (var j = y; j < n + 1; j ++) {
            year += '<option value="' + j + '">' + j + '年</option>';
          }

          $year.html(year);
        }
        
        $('#slide-model').on('click', function() {
          if ($(this).hasClass('no-active')) return;
          $('#car-models').removeClass('hidden');

          $('#car-models').on('click', '.item li', function() {
              $('#car-models .item li').removeClass('active');
              $(this).addClass('active');
              $('#slide-model').attr('data-code', $(this).attr('data-code'));
              $('#slide-model').text($(this).text())
              setTimeout(function() {
                  $('#car-models').addClass('hidden');
              }, 500);
              var y = parseInt($(this).text()) - 1;
              createDate(y);
          })
        });
      
      });

    })();

    
    



    
    
      
      
    
