#advance
{
  
#tagSection{padding:12px 9px}#tagSection .tag ins{display:inline-block;position:relative;padding:5px 16px;text-align:center;color:#fff;font-size:13px}#tagSection .tag ins span{position:absolute;right:-4px;top:11px;z-index:10;border-left-width:4px;border-top-width:4px;border-bottom-width:4px;border-style:solid;border-right:none}
#tagSection .tag .tag-fx{background-color:#0099bf;border-top-left-radius:3px;border-bottom-left-radius:3px}#tagSection .tag .tag-fx span{border-left-color:#0099bf;border-top-color:#db4666;border-bottom-color:#db4666}
#tagSection .tag .tag-fb{background-color:#db4666}#tagSection .tag .tag-fb span{border-left-color:#db4666;border-top-color:#f0a900;border-bottom-color:#f0a900}
#tagSection .tag .tag-ws{background-color:#f0a900}#tagSection .tag .tag-ws span{border-left-color:#f0a900;border-top-color:#cfcfcf;border-bottom-color:#cfcfcf}
#tagSection .tag .tag-es{width:90px;background-color:#cfcfcf;color:#df5d16;border-top-right-radius:3px;border-bottom-right-radius:3px}
.banner-title{color:#fff;font-size:18px;padding-top:20px;padding-left:39px}.banner-title span{float:left;margin-top:2px;margin-right:3px;width:21px;height:21px;background-repeat:no-repeat}.banner-title span.title-tag1{background-image:url(./../images/mob/adv-title1.png)}
.banner-title span.title-tag2{background-image:url(./../images/mob/adv-title2.png)}
.intro-content{margin:15px 0}.intro-content li{background-image:url(./../images/mob/list-style.png);background-repeat:no-repeat;background-position:10px 5px;padding-left:23px;padding-right:10px;margin-bottom:15px;color:#444;font-size:14px}.intro-content li ins{color:#ff4301}
.introBanner{margin:25px 0 9px;padding:15px 0 30px}
.banner-content{font-size:13px;color:#fff;padding-left:60px}
#doorSection .door1{height:130px;background-image:url(./../images/mob/adv-door1.png);background-position:left bottom;background-repeat:no-repeat;background-color:#886c90}
#doorSection .door2{width:304px;height:190px;margin:0 auto;background-image:url(./../images/mob/adv-door2.jpg);background-repeat:no-repeat}
#shijianSection .introBanner{background-color:#4398ca}
#shijianSection .shijia{width:304px;height:100px;margin:0 auto;background-image:url(./../images/mob/adv-door3.jpg);background-repeat:no-repeat}
#checkSection .introBanner{background-color:#a98c7b}
#checkSection .check{width:304px;height:233px;margin:0 auto;background-image:url(./../images/mob/adv-check.jpg);background-repeat:no-repeat}
#newCarSection .introBanner{background-color:#72954f}
#newCarSection .newCar{width:304px;height:111px;margin:0 auto;background-image:url(./../images/mob/adv-door4.jpg);background-repeat:no-repeat}
#fenqiSection{margin-top:25px}#fenqiSection .banner-title{padding-top:28px}
#fenqiSection .fenqi{height:225px;background-image:url(./../images/mob/adv-fenqi.jpg);background-position:left bottom;background-repeat:no-repeat;background-color:#4398ca}
#zhibaoSection .introBanner{background-color:#93715d}
#zhibaoSection .zhibao-intro{width:288px;margin:0 auto}#zhibaoSection .zhibao-intro span{display:block;width:45px;height:45px;margin:14px auto 4px;background-image:url(./../images/mob/adv-server1.png);background-repeat:no-repeat}
#zhibaoSection .zhibao-intro .zhibao-title{color:#333;font-size:14px;text-align:center;width:103px;margin:0 auto;background-color:#eaeaea;position:relative;z-index:10}
#zhibaoSection .zhibao-intro .zhibao-content{padding:14px;margin-top:-10px;border:1px dotted #a3a3a3;border-radius:3px;font-size:13px;color:#6a6a6a}
#zhibaoSection .zhibao-180 span{background-image:url(./../images/mob/adv-server2.png)}
#jishouSection{padding-bottom:30px}#jishouSection .introBanner{background-color:#72954f}
#jishouSection{

  ul{
      border-radius: 5px;
      font-size: 13px;
      margin:0 5px;
      li{
        color:#666;
        line-height: 20px;
        background: #f6f6f6;
        border:1px solid #ddd;
        border-bottom: none;
        i{
          width:20px;
          height:23px;
          background: url(./../images/mob/sell-arrow.png) no-repeat;
          background-size: 100%;
          display: inline-block;
          padding:3px;
          padding-top: 0;
          color:#fff;
          font-style: normal;
          vertical-align: top;
          font-size: 12px;
        }
       em{
        color:#df5d16;
        font-size:14px;
        font-style:italic;
        padding-top: 5px;
        display: inline-block;
      }
      .l{
        width:30%;
        float: left;
      }
      .r{
        width:70%;
        float: left;
        padding-top:5px;
        padding-bottom: 5px;
      }
      
      }
      
    }
}
}
@media only screen and (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
  #advance{
  .banner-title span.title-tag1{background-image:url(./../images/mob/adv-title1.png);background-size:21px 24px} .banner-title span.title-tag2{background-image:url(./../images/mob/adv-title2.png);background-size:23px 22px} .intro-content li{background-image:url(./../images/mob/list-style.png);background-size:13px 12px} #doorSection .door1{height:130px;background-image:url(./../images/mob/adv-door1.png);background-size:320px 83px} #doorSection .door2{background-image:url(./../images/mob/adv-door2.jpg);background-size:304px 190px} #shijianSection .shijia{background-image:url(./../images/mob/adv-door3.jpg);background-size:304px 100px} #checkSection .check{background-image:url(./../images/mob/adv-check.jpg);background-size:304px 234px} #newCarSection .newCar{background-image:url(./../images/mob/adv-door4.jpg);background-size:305px 110px} #fenqiSection .fenqi{background-image:url(./../images/mob/adv-fenqi.jpg);background-size:319px 163px} #zhibaoSection .zhibao-intro span{background-image:url(./../images/mob/adv-server1.png);background-size:45px 43px} #zhibaoSection .zhibao-180 span{background-image:url(./../images/mob/adv-server2.png);background-size:45px 43px}
}
}
