#center{
  .index-group{
    .item{
      height:50px;
      line-height: 50px;
      padding-left: 20px;
      font-size: 14px;
      color: #666;
      display: block;
      border-bottom: 1px solid #ccc;
      position: relative;
      i{
        background: url(./../images/mob/center-cur.png) no-repeat;
        background-size:100%;
        display: block;
        width:15px;
        height:15px;
        position: absolute;
        right:15px;
        top:15px;
      }
    }
  }
}