#config{

  *{
    font-size:14px;
  }
  #content{
    padding:7px;
    
    color:#444;
  }
  .car-title{
    line-height: 20px;

  }
  .main-info{
    h2{
      font-size:14px;
      line-height: 20px;
      margin:0 10px 5px 0;
    }
    table{
      width:100%;
      td{
        font-size: 14px;
        border:1px solid #ccc;
        padding:7px;
      }
      .k{
        background: #dedede;
      }
    }
  }
  table{
      width:100%;
      background: #efefef;
      td{
        font-size: 14px;
        border:1px solid #ccc;
        padding:7px;
        text-align: left;
        line-height: 20px;
      }
      .key{
        background: #ddd;
        width:50%;
        span{
          color:#999;
        }
      }

    }
  .mod{
    margin-top:10px;
    border:1px solid #ccc;
    font-size:14px;
    .hd{
      font-size: 16px;
      background: #ccc;
      padding-left: 5px;
      line-height: 25px;
    }
    .bd{
     .check_green{
       display: inline-block;
       width:10px;
       height:10px;
       border-radius: 10px;
       background: #409f1b;
       margin-right: 5px;
     } 
     .check_red{
       display: inline-block;
       width:10px;
       height:10px;
       border-radius: 10px;
       background: #dd5d25;
       margin-right: 5px;
     } 
     .result{
      padding:7px;
      line-height: 18px;
    }
   }
 }
 #actions{
    margin:5px;
    padding:10px 0;
    .btn{
      background: #e68322;
      color:#fff;
      line-height: 35px;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      display: block;
      margin:0 5px;
    }
    .fav{
      float:left;
      vertical-align: middle;
      width:35%;
      text-align: center;
      label{
        font-size: 14px;
        color: #666;
        line-height: 20px;
        em{
          font-weight: bold;
          color:#e68322;
        }
      }
      .fav-btn.disabled{
        background: #eec18b;
        color:#de5d26;
      }
      .fav-btn.no{
        background: #aaa;
      }
    }
    .lft{
      float:left;
      vertical-align: middle;
      width:45%;
      text-align: center;
      label{
        font-size: 14px;
        color: #666;
        line-height: 20px;
        em{
          font-weight: bold;
          color:#e68322;
        }
      }
      .yuyue-btn.disabled{
        background: #eec18b;
        color:#de5d26;
      }
      .yuyue-btn.no{
        background: #aaa;
      }
    }
    .rht{
      float:left;
      vertical-align: top;
      width:20%;
      text-align: center;
      .tel-btn{
        margin-right: 0px;
        vertical-align: middle;
        background: url(./../images/mob/detail-action-call.png) no-repeat;
        background-size:100%;
        width:35px;
        height:35px;
        display: inline-block;
        text-indent: -10000px;
        overflow: hidden;

      }
      label{
        font-size: 14px;
        color: #666;
        line-height: 20px;
        display: block;
        em{
          font-weight: bold;
          color:#e68322;
        }
      }
    }
  }
}