#detail{
  #detail-main{
    .top-info{
      margin:10px;
      height:55px;
      .lft{
        width:100%;
        float:left;
      }
      .rht{
        width:150px;
        float: left;
        margin-left: -150px;
        height:80px;
        position: relative;
        .pic{
          display: block;
          height:100px;
          overflow: hidden;
        }
        .i-shanggou{
        position: absolute;
        top:2px;
        left:2px;
        display: block;
        width:25px;
        height:25px;
        background: url(./../images/mob/i-shangou.png) no-repeat;
        background-size: 100%;
      }
      .i-yushou{
        position: absolute;
        top:2px;
        left:2px;
        display: block;
        width:25px;
        height:25px;
        background: url(./../images/mob/i-yushou.png) no-repeat;
        background-size: 100%;
      }
      }
      .title{
        font-size: 14px;
        color:#333;
        line-height: 18px; 
        padding-right:10px;
        padding-right: 160px;
      }
      .pic{
        position: relative;
        img{
          width:150px;
        }
        span{
          position: absolute;
          bottom:0;
          left:0;
          height:20px;
          line-height: 20px;
          background: #000;
          opacity: 0.7;
          display: block;
          color:#fff;
          width:100%;
          text-align: center;
        }
      }
      .price{

      }
    }

    .sec-info{
      margin:0 5px;

      .price{
        s{
          font-size: 14px;
        }
        padding-bottom: 5px;
        em{
          font-size: 18px;
          color:#dd5e25;
          margin-right: 10px;
        }
      }
      .item{
        border-bottom: 1px solid #ddd;
        line-height: 25px;
        font-size:14px;
        color:#666;
        padding-left: 8px;
        span{
          margin-right: 20px;
font-size:13px;
        }
        .light{
          color:#dd5e25;
        }
      }
    }
    .base-info{
      margin:0 5px;
      border:1px solid #ccc;
      table{
      width:100%;
      background: #efefef;
      border:none;
      td{
        font-size: 14px;
        border:1px solid #ccc;
        padding:3px;
        color:#666;
        text-align: left;
        line-height: 30px;
      }
      .key{
        background: #e3e3e3;
        span{
          color:#999;
        }
      }

    
    img{
      width:100%;
    }
    .pic{
      text-align: center;
      background: #fff;
      padding-bottom:10px;
    }
    .i{
      font-size: 12px;
      color:#999;
    }
  }
      .t{
        line-height: 30px;
        background: #d5d5d5;
        font-size: 16px;
        padding-left: 8px;
        color:#333;
      }
      .item{
        border-top: 1px solid #ddd;
        line-height: 25px;
        font-size:14px;
        color:#666;
        padding-left: 8px;
        span{
          margin-right: 30px;
font-size:13px;
        }
      }
      .go-config{
        float: right;
        background: #efcfa6;
        border-radius: 5px;
        line-height: 22px;
        margin-top: 4px;
        padding:0 10px;
        color: #e88300;
      }
    }
  }
  #actions{
    margin:5px;
    padding:10px 0;
    .btn{
      background: #e68322;
      color:#fff;
      line-height: 35px;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      display: block;
      margin:0 5px;
    }
    .fav{
      float:left;
      vertical-align: middle;
      width:35%;
      text-align: center;
      label{
        font-size: 14px;
        color: #666;
        line-height: 20px;
        em{
          font-weight: bold;
          color:#e68322;
        }
      }
      .fav-btn.disabled{
        background: #eec18b;
        color:#de5d26;
      }
      .fav-btn.no{
        background: #aaa;
      }
    }
    .lft{
      float:left;
      vertical-align: middle;
      width:45%;
      text-align: center;
      label{
        font-size: 14px;
        color: #666;
        line-height: 20px;
        em{
          font-weight: bold;
          color:#e68322;
        }
      }
      .yuyue-btn.disabled{
        background: #eec18b;
        color:#de5d26;
      }
      .yuyue-btn.no{
        background: #aaa;
      }
    }
    .rht{
      float:left;
      vertical-align: top;
      width:20%;
      text-align: center;
      .tel-btn{
        margin-right: 0px;
        vertical-align: middle;
        background: url(./../images/mob/detail-action-call.png) no-repeat;
        background-size:100%;
        width:35px;
        height:35px;
        display: inline-block;
        text-indent: -10000px;
        overflow: hidden;

      }
      label{
        font-size: 14px;
        color: #666;
        line-height: 20px;
        display: block;
        em{
          font-weight: bold;
          color:#e68322;
        }
      }
    }
  }
  #quality-test{
    margin:10px 5px;
     border:1px solid #91ad2d;
    .cube{
      .h{
        line-height: 30px;
        .l{
          width:60%;
          display: inline-block;
          background: #91ad2d;
          text-align: left;
          font-size: 16px;
          color:#fff;
           height:31px;
          .w{
            padding-left: 8px;
            font-size: 14px;
          }
          
        }
        .r{
         width:40%;
         display: inline-block;
         text-align: center;
         background: #698517;
         font-size: 14px;
         color:#fff;
         height:31px;
         vertical-align: top;
         i{
        display: inline-block;
        width:15px;
        height:15px;
        background: url(./../images/mob/detail-qa.png?1) no-repeat;
        background-size: 100%;
        vertical-align: -3px;
        margin-left:5px;
      }
       }
     }
     .s{
      padding:8px;
      padding-right:30%;
      border-bottom: 1px solid #ddd;
      margin-top: -1px;
      position: relative;
      span{
        font-size: 13px;
        margin-right: 10px;
        color:#333;
        line-height: 25px;
      }
      em{
        color:#e68322;
        font-size: 13px;
      }
      .icon{
        width:60px;
        height:60px;
        background: url(./../images/mob/cqi.png?dd) no-repeat;
        background-size: 100%;
        display: block;
        position: absolute;
        right:20px;
        top:5px;
      }
      .ok{
        width:16px;
        height:16px;
        background: url(./../images/mob/detail-check-ok.png) no-repeat;
        background-size: 100%;
        display: inline-block;
        vertical-align: -7px;
        margin-left: 5px;
      }
      .nook{
        width:10px;
        height:20px;
        background: url(./../images/mob/detail-check-fail.png) no-repeat;
        background-size: 100%;
        display: inline-block;
        vertical-align: -7px;
        margin-left: 5px;
      }
    }
    
  }
  .b{
      line-height: 20px;
      padding:5px;
      border-top:none;
      span{
        color: #333;
        font-size: 14px;
        cursor: pointer;
      }
      
      a{
        background: #91ad2d;
        line-height: 23px;
        font-size: 14px;
        color: #fff;
        padding:0 10px;
        border-radius: 5px;
        display: inline-block;
        float: right;
        margin-top: -2px;
      }
    }
  .mod{
    font-size:14px;
    border:1px solid #ddd;
    border-top:none;
    margin:5px 5px;
    color:#444;
    .result-ok{
      i{
        width:16px;
        height:16px;
        background: url(./../images/mob/detail-check-ok.png) no-repeat;
        background-size: 100%;
        display: inline-block;
        vertical-align: -7px;
        margin-right: 5px;
      }

    }
    .result-error{
      i{
         width:10px;
        height:20px;
        background: url(./../images/mob/detail-check-fail.png) no-repeat;
        background-size: 100%;
        display: inline-block;
        vertical-align: -7px;
        margin-right: 5px;
      }
     
    }
    i.circle{
      background: #df5d16;
      color:#fff;
      border-radius: 20px;
    padding:5px 5px;    
    font-style: normal;  
    }
    .hd{
      font-size: 16px;
      background: #ccc;
      padding-left: 5px;
      line-height: 25px;
    }
    .bd{
     .check_green{
       display: inline-block;
       width:10px;
       height:10px;
       border-radius: 10px;
       background: #409f1b;
       margin-right: 5px;
     } 
     .check_red{
       display: inline-block;
       width:10px;
       height:10px;
       border-radius: 10px;
       background: #dd5d25;
       margin-right: 5px;
     } 
     .result{
      padding:7px;
      line-height: 18px;
      font-size: 13px;
      color:#666;
      span{
        font-size: 13px;
      }
    }
   }
 }
  .dipan{
    table{
      width:100%;
      background: #efefef;
      td{
        font-size: 14px;
        border:1px solid #ccc;
        padding:7px;
        text-align: left;
        line-height: 20px;
      }
      .k{
        background: #ddd;
        width:50%;
        span{
          color:#999;
        }
      }

    }
    
    img{
      width:100%;
    }
    .pic{
      text-align: center;
      background: #fff;
      padding-bottom:10px;
    }
    .i{
      font-size: 12px;
      color:#999;
    }
  }
}

#howtogo{
  margin:5px;
  .h{
    line-height: 30px;
    background: #ddd;
    padding-left:8px;
    font-size: 16px;
    color: #333;
  }
  .b a{
    position: relative;
    border:1px solid #ddd;
    padding:8px;
    padding-right: 92px;
    color: #333;
    display: block;
    font-size: 13px;
    line-height: 20px;
    background:url(./../images/mob/daohanggo.png) no-repeat right top;
    background-size: 90px;
    height:65px;
    span{
      font-size: 12px;
      line-height: 20px;

    }
    a{
      display: inline-block;
      width:90px;
      height:90px;
      background-size: 100%;
      position: absolute;
      top:0;
      right:0;
    }
  }
}
#whyus{
  margin:5px;
  .h{
    line-height: 30px;
    background: #ddd;
    padding-left:8px;
    font-size: 16px;
    color: #333;
  }
  .b{
    position: relative;
    border:1px solid #ddd;
    padding:8px;
    .l-1{
      i{
        background: url(./../images/mob/why-1.png) no-repeat;
        background-size: 100%;
      }
    }
    .l-2{
      i{
        background: url(./../images/mob/why-2.png) no-repeat;
        background-size: 100%;
      }
    }
    .l{
      i{
        display: inline-block;
        vertical-align: top;
        width:20px;
        height:20px;

      }
      .hh{
        display: inline-block;
        margin-bottom:10px;
        font-size: 14px;
        color:#333;
        line-height: 20px;
        .bb{
          color: #999;
        }
      }
    }
  }
}
#wait-test{
  color:#0d8baa;
  font-size: 16px;
  background: #d5d5d5;
  line-height: 30px;
  margin:10px 5px;
  padding:0 10px;
}
.yushou-shuoming{
  margin:5px;
  .hd{
    line-height: 30px;
    background: #ddd;
    padding-left:8px;
    font-size: 16px;
    color: #333;
  }
  .bd{
    padding: 10px 10px;
  }
  .item{
    i{
      font-size: 16px;
      font-weight: bold;
      background: #eedecb;
      float:left;
      width:20px;
      text-align: center;
      line-height: 30px;
      font-style: normal;
      height:60px;
      margin-right:10px;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      color:#e88300;
      border-right: 1px solid #e88300;
      position: absolute;
      left:0px;
      top:0px;
    }
    position: relative;
    border:1px solid #e88300;
    line-height: 20px;
    overflow: hidden;
    border-radius: 5px;
    font-size: 14px;
    color:#666;
    margin-bottom: 0px;
    .red{
      color:#e88300;
    }
    .blue{
      color:#0d8baa;
    }
    .r{
      float: left;
      width:84%;
      padding:5px 0;
      padding-left: 30px;
    }
  }
  .arrow{
    background: url(./../images/mob/yushou-detail-arrow1.png) no-repeat center center;
    background-size: auto 50%;
    height:20px;
  }
}
.recommend{
  margin:5px;
  .hd{
    line-height: 30px;
    background: #ddd;
    padding-left:8px;
    font-size: 16px;
    color: #333;
  }
  .bd{
    position: relative;
    border:1px solid #ddd;
    .i-shanggou{
        position: absolute;
        top:12px;
        left:2px;
        display: block;
        width:25px;
        height:25px;
        background: url(./../images/mob/i-shangou.png) no-repeat;
        background-size: 100%;
      }
    .rec-price{
      width:90%;margin:0 auto;
            s{
              color:#999;
              font-size:14px;
            }
            em{
              color:#df5d16;
              font-size:14px;
            }
            line-height: 20px;
          }
  }
}
.recommend .bd a{display:inline-block;width:49%;color:#444;position: relative;vertical-align: top;} 
.recommend .bd a img{width:90%;display:block;margin:10px auto}
.recommend .bd .rec-show{text-align: left;font-size: 12px;line-height:16px;width:90%;margin:0 auto;color:#333;height:50px;overflow: hidden;}

.standard_layer{
  background: #000;
  opacity: 0.7;
  position: absolute;
  z-index: 1000;
  left:0;
  top:0;
}
.standard{
  width:95%;
  margin:0 auto;
  background: #eaeaea;;
  border-radius: 10px;
  position: fixed;
  z-index: 1001;
  span{display:inline-block;vertical-align:-5px;width:16px;height:25px;background:url("./../images/fed/onsale_sprite3.png") no-repeat -469px -46px;}
  .check_right{background:url(./../images/mob/test_right.png) no-repeat 0 7px;background-size:100%;}
  .check_error{background:url(./../images/mob/test_error.png) no-repeat 0 7px;background-size:100%;}
  table{
    span{
      margin:0 auto;
    }
  }
  .check-title{
    font-size: 18px;
    line-height: 40px;
    text-align: center;

  }
  table{background:#fff;width:95%;height:210px;border:2px solid #b6c494;margin-top:10px;margin: 10px auto;} 
  table td, table th{line-height:30px;text-align:center;color:#666;border:1px solid #dfe0e0}
  table tbody th{font-family:"\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;font-size:14px}
  table thead th{color:#333;background: url(./../images/mob/test-hd-bg.png?dd) no-repeat 10px 5px;
    background-size: 50px;background-color:#eaeaea;padding-left: 70px;text-align: left;}
    table thead .t{
      line-height: 60px;
font-size: 14px;
color:#7ca000;
    }
    table thead .r{
      float:right;
      margin-right: 10px;
    }
  table .hd th{background:#e4f9b2; }
  table .table_bg{background-color:#f1f1f1;height:40px;}
  table .report-no{background:url("./../images/mob/test-right.png") no-repeat}
  table .currentStand{background-color:#e4f9b2;}
  table .currentStand td, table .currentStand th{border-right-color:#fed498;}
  button{
    width:130px;
    height:35px;
    line-height: 35px;
    color:#fff;
    font-size: 16px;
    background: #698517;
    border:none;
    margin:10px auto;
    display: block;
    border-radius: 5px;
  }
}
}
#detail-pics{
  .pics{
    margin:10px;
  }
  img{
    width:49%; 
  }
}
#detail.yushou-detail #detail-main .top-info .rht{
  height:90px;
}
