#intro{
text-align: center;
background-color:#e16e12;
.f26{font-size:26px}
.f21{font-size:21px}
.f24{font-size:24px}
.f42{font-size:42px}
.f53{font-size:53px}
.f22{font-size:22px}
.f15{font-size:15px}
.f39{font-size:39px}
.f27{font-size:27px}
.f30{font-size:30px}
.f17{font-size:17px}
.fb{font-weight:bold}
.fl{float:left}
.fr{float:right}
.h105{height:105px}
.h50{height:50px}
.h145{height:145px}
.h100{height:100px}
.h121{height:121px}
.h100{height:100px}
.h79{height:79px}
.c1{background-color:#f18025}
.c2{background-color:#df6616}
.c3{background-color:#e98e0b}
.c4{background-color:#e16e12}
.packup{background-image:url(./../images/mob/ad-shouqi.png);background-size: 100%;width:50px;
      height:50px;
      display: block;
      position: absolute;
      top:0px;
      right:0px;
      cursor:pointer;}
header{height:45px;padding-top:5px;background-image:url(./../images/mob/intro/logo.png);background-repeat:no-repeat;background-position:11px 10px;background-color:#eaeaea}header .packup{width:40px;height:40px;margin-left:266px;background-color:#f1cd9e;border-radius:50%;font-size:13px;color:#a45023;text-align:center;line-height:36px;position:relative;cursor:pointer}header .packup span{position:absolute;top:28px;left:10px;display:block;width:0;height:0;border-left:10px solid #f1cd9e;border-right:10px solid #f1cd9e;border-bottom:4px solid #dcaf8a}
#serviceSection{padding-left:10px}#serviceSection .service{width:147px;float:left;margin-top:11px;margin-right:5px;padding-top:11px;border-radius:5px;background-color:#cf5800}
#serviceSection .service-top{height:104px;background-color:#cf5800}#serviceSection .service-top .service-name{width:75px;height:75px;margin:0 auto;background-color:#f18025;line-height:75px;color:#ffc770;border-radius:50%;font-size:15px;font-family:"黑体",Tahoma,Verdana}#serviceSection .service-top .service-name i{font-style:normal;font-size:30px;font-family:"Impact"}
#serviceSection .service-top .service-item{color:#ffc770;font-size:15px;line-height:25px}
#serviceSection .service-bottom{height:70px;background-color:#ff9c00;font-size:15px;color:#7a3400;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:-moz-box;-moz-box-orient:horizontal;-moz-box-pack:center;-moz-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center;border-bottom-left-radius:5px;border-bottom-right-radius:5px}
#numSection{margin-top:34px;color:#fff5de}#numSection i{font-style:normal;font-family:"Arial"}
#linkSection{width:320px;height:128px;background-image:url(./../images/mob/intro/car.png);background-repeat:no-repeat;background-position:center}#linkSection .goto-click{color:#8f4c23;font-size:11px;line-height:12px}#linkSection .goto-click ins{display:inline-block;width:12px;height:12px;border-radius:50%;background-color:#e16e12}
#linkSection .goto-click span{display:inline-block;margin-left:2px;width:0;height:0;border-top:4px solid #e16e12;border-left:4px solid #ffe13d;border-bottom:4px solid #e16e12}
#linkSection p{line-height:10px;padding-top:46px;padding-left:144px}
#yuyueSection{color:#ffefc8}#yuyueSection .pos-tag{display:block;width:22px;height:30px;margin:10px auto;background-image:url(./../images/mob/intro/ditu.jpg);background-repeat:no-repeat;background-position:center}
#yuyueSection .ditu{width:280px;line-height:25px;margin:0 auto;text-align:center;color:#8f4c23;font-size:14px;background-color:#ff9600;border-radius:20px}
#doorSection{margin:40px 0 20px}#doorSection .doorTitle{color:#fff;margin-bottom:10px}
#doorSection .doorService{width:245px;line-height:52px;margin:0 auto;margin-bottom:5px;background-color:#f18025;border-radius:30px;color:#8f4c23}#doorSection .doorService i{font-style:normal}
#doorSection .doorService span{display:block;float:left;width:54px;height:53px;margin-left:-1px;margin-top:1px;background-image:url(./../images/mob/intro/door-tag.png);background-repeat:no-repeat;background-position:center}
#doorSection .doorImg{width:252px;height:163px;margin:0 auto;margin-top:15px;border:1px solid #f18025;border-radius:10px;background-image:url(./../images/mob/intro/door.jpg);background-repeat:no-repeat;background-position:center}#doorSection .doorImg p{padding:86px 0 0 120px;color:#fff;font-size:15px}
#carsSection .carsTitle{color:#fff6df;font-size:15px;text-align:left;line-height:25px;text-indent:10px}
#carsSection .carList{width:300px;height:300px;margin:0 auto;border:2px solid #f0a153;font-family:Arial,"\5FAE\8F6F\96C5\9ED1"}
#carsSection .carList li{width:100px;line-height:18px;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:-moz-box;-moz-box-orient:horizontal;-moz-box-pack:center;-moz-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center}
#carsSection .carList .carList-left{width:100px}
#carsSection .carList a{
  display: block;
  width:100%;
  height:100%;
  display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;display:-moz-box;-moz-box-orient:horizontal;-moz-box-pack:center;-moz-box-align:center;display:box;box-orient:horizontal;box-pack:center;box-align:center
}
#carsSection .carList .carList-right{width:200px}
#carsSection .carList .w200{width:200px}#carsSection .carList .w200 .carValue{font-size:26px}
#carsSection .carList .w200 .carName,#carsSection .carList .w200 .carValueOld{font-size:14px}
#carsSection .carList .carName{font-size:12px;color:#fff6df}
#carsSection .carList .carValue{font-size:17px;color:#fff6df}
#carsSection .carList .carValueOld{font-size:12px;color:#f3db9d}
#carsSection .carList .carValueSmall{font-size:13px}
#gotoSection{width:320px;height:190px;background-image:url(./../images/mob/intro/goto.jpg);background-repeat:no-repeat;background-position:center;text-align:left;text-indent:93px}#gotoSection .goto-click{color:#8f4c23;font-size:15px;line-height:150px;font-weight:bold}#gotoSection .goto-click span{display:inline-block;margin-left:5px;border-top:5px solid #ff9c00;border-left:5px solid #8f4c23;border-bottom:5px solid #ff9c00}
}
@media only screen and (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){
  #intro{
  header{background-image:url(./../images/mob/intro/logo@2x.png);background-size:214px 30px} 
  #linkSection{background-image:url(./../images/mob/intro/car@2x.png);background-size:320px;} 
  #yuyueSection .pos-tag{background-image:url(./../images/mob/intro/ditu@2x.jpg);background-size:24px 30px} 
  #doorSection .doorService span{background-image:url(./../images/mob/intro/door-tag@2x.png);background-size:52px 54px} 
  #doorSection .doorImg{background-image:url(./../images/mob/intro/door@2x.jpg);background-size:242px 153px} 
  #gotoSection{background-image:url(./../images/mob/intro/goto@2x.jpg);background-size:270px 104px}
}
}
