#login{
  .back{
    background: url(./../images/mob/login-back.png) no-repeat;
    background-size: 100%;
    display: block;
    position: absolute;
    left:10px;
    top:10px;
    width:35px;
    height:35px;
    
  }
  img{
    width: 45%;
    margin:10px auto;

    display: block;
    margin-bottom: 0px;
  }
  .login-form{
    margin:20px;
  }
  .input-group{
    margin-bottom: 10px;
    input{
      height:38px;
      width:77%;
       background: #fff;
      border:1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
      padding-left: 10px;
    }
    label{
      line-height: 38px;
      width:16%;
      display: inline-block;
      font-size: 14px;
      color:#666;
      height:38px;
    }
    .sms-button{
    background: #68a447;
    color:#fff;
    height:38px;
      width:80%;
      border:1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
      padding-left: 10px;
      display: inline-block;
      vertical-align: top;
      margin-top: 2px;
  }
  .sms-button:disabled{
    background: #aaa;
  }

  }
  
  .actions{
    margin-top:20px;
  }
  .submit-reg{
    width:98%;
    display: inline-block;
    height:45px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    line-height: 45px;
    vertical-align: top;
    background: #dd5d25;
    border:none;
  }
  .go-reg{
    display: inline-block;
    height:45px;
    width:39%;
    background: #68a447;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 45px;
    vertical-align: top;
  }
  .go-login{
    line-height: 40px;
    font-size: 14px;
    color: #999;
    text-align: right;
    a{
      color:#dd5e25;
      font-size: 14px;
    }
  }
  .submit{
    display: inline-block;
    height:45px;
    width:58%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    line-height: 45px;
    vertical-align: top;
    background: #dd5d25;
    border:none;
  }
}