#report{
  .loading{
    text-align: center;
    line-height: 30px;
    color:#999;
    font-size: 12px;
  }
  *{
    font-size:14px;
  }
  #content{
    padding:7px;
    
    color:#444;
  }
  .main-info{
    h2{
      font-size:14px;
      line-height: 20px;
      margin:0 10px 5px 0;
    }
    table{
      width:100%;
      td{
        font-size: 14px;
        border:1px solid #ccc;
        padding:7px;
      }
      .k{
        background: #dedede;
      }
    }
  }
  .mod{
    margin-top:10px;
    border:1px solid #ccc;
    font-size:14px;
    .hd{
      font-size: 16px;
      background: #ccc;
      padding-left: 5px;
      line-height: 25px;
    }
    .bd{
     .check_green{
       display: inline-block;
       width:10px;
       height:10px;
       border-radius: 10px;
       background: #409f1b;
       margin-right: 5px;
     } 
     .check_blue{
       display: inline-block;
       width:10px;
       height:10px;
       border-radius: 10px;
       background: #66a8f2;
       margin-right: 5px;
     } 
     .check_gray{
       display: inline-block;
       width:10px;
       height:10px;
       border-radius: 10px;
       background: #aaa;
       margin-right: 5px;
     } 
     .check_red{
       display: inline-block;
       width:10px;
       height:10px;
       border-radius: 10px;
       background: #dd5d25;
       margin-right: 5px;
     } 
     .result{
      padding:7px;
      line-height: 18px;
    }
    .tip .line{
      margin-top:5px;
      margin-bottom: 5px;
      margin-left: 5px;
    }
   }
 }
 .dipan{
    table{
      width:100%;
      background: #efefef;
      td{
        font-size: 14px;
        border:1px solid #ccc;
        padding:7px;
        text-align: left;
        line-height: 20px;
      }
      .k{
        background: #ddd;
        width:50%;
        span{
          color:#999;
        }
      }

    }
    
    img{
      width:100%;
    }
    .pic{
      text-align: center;
      background: #fff;
      padding-bottom:10px;
    }
    .i{
      font-size: 12px;
      color:#999;
    }
  }
  .qimian{
    table{
      width:100%;
      background: #efefef;
      td{
        font-size: 14px;
        border:1px solid #ccc;
        padding:7px;
        text-align: left;
        line-height: 20px;
      }
      .k{
        background: #ddd;
        width:50%;
        span{
          color:#999;
        }
      }

    }
    
    img{
      width:100%;
    }
    .pic{
      text-align: center;
      background: #fff;
      padding-bottom:10px;
    }
    .i{
      font-size: 12px;
      color:#999;
    }
  }
  .engine{
    .item{
      height:30px;
      line-height: 30px;
      border-top:1px solid #ccc;
      span{
        border:1px solid #44a022;
        display: inline-block;
        width:12px;
        height:12px;
        border-radius: 10px;
        background: #fff;
        vertical-align: -8px;
        margin:0 5px;
        s{
          display: inline-block;
          width:10px;
          height:10px;
          background: #44a022;
          vertical-align: top;
          margin-top:1px;
          margin-left:1px;
          border-radius: 10px;
        }
      }
    }
    .blue {
      span{
         border:1px solid #69a9ef;
        s{
          background: #69a9ef;
        }
      }
    }
    .red {
      span{
         border:1px solid #dd5d25;
        s{
          background: #dd5d25;
        }
      }
    }
    .item:nth-child(2n){
      background: #ddd;
    }
  }
  .neishi{
    .neishi-pic{
      position: relative;
      img{
        width:100%;
      }
    }
    .nspoint{
      display: block;
      width:10px;
      height:10px;
      background: #69a9ef;
      position:absolute;
    }
  }
  .drive{
    table{
      width:100%;
      background: #efefef;
      td{
        font-size: 14px;
        border:1px solid #ccc;
        padding:7px;
        text-align: left;
        line-height: 20px;
      }
      .k{
        background: #ddd;
        width:30%;
        span{
          color:#999;
        }
      }
      .val{
        .item{
          display: inline-block;
          width:45%;
          i{
            display: inline-block;
          width:8px;
          height:8px;
          background: #44a022;
          vertical-align: middle;
          margin-top:1px;
          margin-left:1px;
          border-radius: 10px;
          margin-right:5px;
          }

        }
        .orange{
          i{
            background: #dd5e27;
          }
        }
      }

    }
    .tip{
      text-align: center;
      padding:10px;
      i{
        margin-left: 10px;
      }
    }
  }
  #actions{
    margin:5px;
    padding:10px;
    .btn{
      background: #e68322;
      color:#fff;
      line-height: 35px;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      margin-right:10px;
      display: block;
    }
    .lft{
      float:left;
      vertical-align: middle;
      width:60%;
      text-align: center;
      label{
        font-size: 14px;
        color: #666;
        line-height: 20px;
        em{
          font-weight: bold;
          color:#e68322;
        }
      }
      .yuyue-btn.disabled{
         background: #eec18b;
        color:#de5d26;
      }
      .yuyue-btn.no{
        background: #aaa;
      }
    }
    .rht{
      float:left;
      vertical-align: top;
      width:40%;
      text-align: center;
      .tel-btn{
        margin-right: 0px;
        vertical-align: middle;
        background: url(./../images/mob/detail-action-call.png) no-repeat;
        background-size:100%;
        width:35px;
        height:35px;
        display: inline-block;
        text-indent: -10000px;
        overflow: hidden;

      }
      label{
        font-size: 14px;
        color: #666;
        line-height: 20px;
        display: block;
        em{
          font-weight: bold;
          color:#e68322;
        }
      }
    }
  }
}