#wantbuy{
  .terms{
    margin:5px;
    margin-top: 10px;
    .hd{
      font-size: 14px;
      line-height: 30px;
      color:#444;
    }
    ul{
      border-radius: 5px;
      font-size: 13px;
      li{
        color:#666;
        line-height: 20px;
        background: #f6f6f6;
        border:1px solid #ddd;
        border-bottom: none;
        i{
          width:20px;
          height:23px;
          background: url(./../images/mob/sell-arrow.png) no-repeat;
          background-size: 100%;
          display: inline-block;
          vertical-align: top;
          padding:3px;
          padding-top: 0;
          color:#fff;
          font-style: normal;
          font-size: 12px;
        }
        em{
        color:#df5d16;
        font-size:14px;
        font-style:italic;
        padding-top: 5px;
        display: inline-block;
      }
      .l{
        width:30%;
        float: left;
      }
      .r{
        width:70%;
        float: left;
        padding-top:5px;
        padding-bottom: 5px;
      }
      
      }
      
    }
  }
  .methods{
    margin:5px;
    margin-top: 10px;
    .title{
      font-size: 14px;
      line-height: 30px;
      color:#444;
    }
    .method {
      border:1px solid #ddd;
      border-radius: 5px;
      margin-bottom: 10px;
      .hd{
        background: #dbdbdb;
        line-height: 40px;
        font-size: 14px;
        color: #444;
        padding-left: 10px;
        a{
          float:right;
          margin-right: 10px;
        }
      }
      .bd{
        padding:10px;
        color:#666;
        background: #f6f6f6;
        font-size: 13px;
      }
    }
    .method1{
      .bd{
        line-height: 20px;
        color:#666;
      }
      img{
        vertical-align: -16px;
      }
    }
    .method2{
      .bd{
        line-height: 40px;
        color:#666;
      }
      img{
        vertical-align: -16px;
      }
    }
    .method3{
      .bd{
        padding:0;

      }
    }
  }
  .group{
    
    .option{
      height:40px;
      line-height: 40px;
      position: relative;
      background: #f6f6f6;
      border-bottom:1px solid #ccc;
      select{
        background: none;
        width:100%;
        height:40px;
        position: absolute;
        top:0;
        left:0;
        z-index: 2;
        opacity: 0;
      }
      .name{
        padding-left: 10px;
        font-size: 14px;
        color:#666;
        overflow: hidden;
        height:40px;
      }
      .value{
        position: absolute;
        right:30px;
        top:0px;
        font-size: 14px;
        color:#666;
        height:40px;
        overflow: hidden;
        color:#999;
      }
      i{
        position: absolute;
        top:13px;
        right:10px;
        width:10px;
        height:15px;
        display: inline-block;
        background: url(./../images/mob/filter-i.png) no-repeat;
        background-size: 100%;
      }
      label{
      padding-left: 10px;
        font-size: 14px;
        color:#666;
        overflow: hidden;
        height:40px;
    }
    input{
      border:none;
      height:30px;
      line-height: 30px;
      border: 1px solid #ddd;
      padding-left: 5px;
      width:200px;
      margin-left: 5px;
    }
    textarea{
      border:none;
      height:30px;
      line-height: 30px;
      border: 1px solid #ddd;
      padding-left: 5px;
      width:200px;
      margin-left: 5px;
      height:50px;
      vertical-align: top;
    }
    }
    .option.textarea{
      height:60px;
    }
  }
  .action{
    background: #dbdbdb;
    padding-bottom: 20px;
    margin-bottom: 30px;
    .tip{
      line-height: 25px;
      color:#999;
      text-align: center;
    }
    button{
      height:40px;
      line-height: 40px;
      background: #df5e16;
      font-size: 18px;
      color:#fff;
      border-radius: 5px;
      border:none;
      width:95%;
      text-align: center;
      margin:0 auto;
      
      display: block;
    }

  }
}