.act-box {
  width: 220px;
  height: 320px;
  border: 1px solid #E4E3E3;
  float: left;
  margin-right: 15px;
  margin-bottom: 20px;
}
.act-box .tit {
  color: #333;
  font-size: 14px;
  display: block;
}
.act-box .tit:hover {
  color: #fc7000;
}
.act-box .cont {
  height: 250px;
  padding: 15px;
}
.act-box .act-info {
  height: 20px;
  border-top: 1px solid #E4E3E3;
  padding: 10px;
  color: #999;
}
.act-box .act-info span {
  margin-right: 20px;
}
.act-box p {
  color: #999;
  margin: 15px 0;
  font-size: 13px;
}
.act-box img {
  width: 95px;
  display: block;
  float: left;
}
.detail-art{
  background: #fff;
  .wrapper{
    width: 945px;
    margin: 0 auto;
    padding: 40px 0;
    .title{
      margin-bottom: 20px;
      h1{
        display: block;
        float: left;
        font-weight: bold;
        font-size: 25px;
        color: #333;
      }
      .art-num{
        float: right;
        font-size: 15px;
        color: #999;
        line-height: 45px;
        margin-right: 12px;
      }
    }
  }
}