.baoyang{
    .baoyang-title{
        font-size: 20px;
        line-height: 50px;
        margin-top:20px;
    }
    .baoyang-filter{
        font-size: 18px;
        text-align: center;
        color:#444;
        em{
            color:#fc5a34;
            font-weight: bold;
        }
    }
    .distance-select{
        width:120px;
        .sc-select-content{
            font-size: 16px;
        }
        .sc-select-list{
            a{
                display: block;
                font-size: 14px;
                line-height: 30px;

            }
        }
    }
    .baoyang-main{
        background: #f9f9f9;
        border:1px solid #ddd;
        margin: 30px 70px;
        position: relative;
        .baoyang-projects{
            width:930px;
            margin:20px auto;
            .t{
                line-height: 30px;
                font-size: 14px;
                color:#444;
            }
            .baoyang-project{
                float:left;
                text-align: center;
                line-height: 30px;
                color:#444;
                margin-right: 15px;
                i{
                    width:46px;
                    height:44px;
                    margin:0 auto;
                    background: url(../../images/detail/baoyang-icons.png) no-repeat;
                    display: block;
                }
                i.icon-1{
                    background-position-x: 0;
                }
                i.icon-2{
                    background-position-x: -53px;
                }
                .icon-3{
                    background-position-x: -106px;
                }
                i.icon-4{
                    background-position-x: -161px;
                }
            }
            .baoyang-project-disabled{
                i{
                    background-position-y:-52px;
                }
            }
        }
        .baoyang-chart{
            margin-top: 80px;
        }
        .price-point{
            width:90px;
            position: absolute;
            top:240px;
            left:270px;
        }
         .price-tag{
                font-size: 12px;
                text-align: center;

            }
             .sr-tag{
                border:1px solid #FC7000;
                color:#FC7000;
            }
             .new-tag{
                border:1px solid #60B25E;
                color:#60B25E;
            }
             .guide-tag{
                border:1px solid #5AB6A2;
                color:#5AB6A2;
            }
             .price-value{
                font-weight: bold;
                padding:2px 5px;
                font-size: 13px;
                background: #63b162;
                color:#fff;
            }
             .tri{
                position: relative;
                width:8px;
                height:4px;
                margin:0 auto;
                margin-top: 0px;
            }
             
             .tri.new-tri{
                background: url(../../images/detail/baoyang-cursor.png);
            }
             .tri.guide-tri{
                background: url(../../images/detail/guide-price-tri.png);
            }
             .tip{
                background: url(../../images/detail/price-tip.png) no-repeat;
                width: 14px;
                height: 14px;
                display:inline-block;
                vertical-align: -3px;
                margin-right: 8px;
            }
    }
}