.net-brand{
  .brand-title{
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-top: 20px;
  }
  .brand-wrapper{
    width: 100%;
    margin-top: 30px;
  }
  .brand-nav{
    width: 16%;
    float: left;

    .brand-list{
      position: fixed;
      top:1100px;
      li{
        height: 25px;
        i{
          display: block;
          width: 8px;
          height: 25px;
          background: url(../../images/detail/brand-navbg.png) no-repeat;
          margin-right: 5px;
          float: left;
        }
        a{
          color: #666;
          font-size: 12px;
        }
      }
    }
  }
  .brand-cont{
    width: 78%;
    float: right;
    .brand-item{
      width: 100%;
      border-bottom: 1px solid #E6E6E6;
      margin-top: 30px;
      .content-title{
        font-weight: bold;
        font-size: 20px;
        color: #333;
        }
        .content-text{
          line-height: 20px;
          font-size: 14px;
        }
    }
    .background{
      width: 100%;
      border-bottom: 1px solid #E6E6E6;
      .bron-image{
        margin-bottom: 30px;
      }
      .born-text{
        margin-bottom: 30px;
        .content-title{
          float: left;
          width: 30%;
        }
        .content-text{
          float: right;
          width: 70%;
        }
      }
    }
    .brand-next{
      width: 100%;
      .next-box{
        float: left;
        width: 400px;
        padding: 20px;
        .next-image{
          margin-bottom: 30px;
        }
        .next-text{
          margin-bottom: 30px;
          .content-title{
            margin-bottom: 30px;
          }
          .content-text{
            margin-bottom: 30px;
          }
        }
      }
    }
    .brand-age{
      width: 100%;
      .age-title{
        width: 35%;
        float: left;
      }
      .age-content{
        width: 65%;
        float: right;
        margin-bottom: 50px;
        .one-image{
          width: 100%;
          margin-top: 30px;
        }
      }
    }
  }
}