#price-distribution{

    position: relative;
}
#price-distribution .price-point{
    position:absolute;
    top:176px;
}
#price-distribution .price-circle{
    width:32px;
    height: 32px;
    margin:0 auto;
}
#price-distribution .sc-circle{
    background: url(../../images/detail/sc-price.png) no-repeat;
}
#price-distribution .new-circle{
    background: url(../../images/detail/new-price.png) no-repeat;
}
#price-distribution .guide-circle{
    background: url(../../images/detail/guide-price.png) no-repeat;
}
#price-distribution .price-title{
    padding:5px;
    color:#fff;
}
#price-distribution .sc-title{
    background: #FC7000;
}
#price-distribution .new-title{
    background: #60B25E;
}
#price-distribution .guide-title{
    background: #5AB6A2;
}
#price-distribution .price-tag{
    font-size: 12px;
    text-align: center;

}
#price-distribution .sr-tag{
    border:1px solid #FC7000;
    color:#FC7000;
}
#price-distribution .new-tag{
    border:1px solid #60B25E;
    color:#60B25E;
}
#price-distribution .guide-tag{
    border:1px solid #5AB6A2;
    color:#5AB6A2;
}
#price-distribution .price-value{
    font-weight: bold;
    padding:2px 5px;
    font-size: 13px;
}
#price-distribution .tri{
    position: relative;
    width:8px;
    height:4px;
    margin:0 auto;
    margin-top: 8px;
}
#price-distribution .tri.sc-tri{
    background: url(../../images/detail/sc_price_tri.png);
}
#price-distribution .tri.new-tri{
    background: url(../../images/detail/new-price-tri.png);
}
#price-distribution .tri.guide-tri{
    background: url(../../images/detail/guide-price-tri.png);
}
#price-distribution .tip{
    background: url(../../images/detail/price-tip.png) no-repeat;
    width: 14px;
    height: 14px;
    display:inline-block;
    vertical-align: -3px;
    margin-right: 8px;
}
#price-distribution #price-rate{
    position: absolute;
    width:100px;
    bottom: -30px;
    font-size: 13px;
    left:-15px
}
#price-distribution #price-chart-area{
    height: 300px;
    float:left;
    width: 642px;
    background: url(../../images/detail/price-distribution-bg.png) no-repeat;
}
#price-distribution #price-comment-area{
    float:left;
    border-left:1px solid #e4e3e3;
    margin-left: 60px;
    padding:40px 0 0 35px;
    font-size:13px;
}
#price-distribution #price-comment-area .souche-price-text{
    color:#ff4400;
    font-weight: 900;
    font-size: 19px;
}
#price-distribution #price-comment-area .souche-price{
    margin-bottom: 15px;
}
#price-distribution .comment-tip1{
    margin-top:75px;
    color:#999;
}
#price-distribution .comment-tip2{
    color:#999;
    margin-top: 20px;
}

#price-distribution .formula-3,
#price-distribution .formula-1{
    float:left;
    line-height: 40px;
}
#price-distribution .formula-2{
    float:left;
    margin-left: 10px;
    text-align: center;
}
#price-distribution .fenzi{
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}
#price-distribution .fenmu{
    padding:5px;
}
#price-distribution .formula-3{
    float:left;
    margin-left: 10px;
    text-align: center;
}
#price-distribution .comment-tip2 .tip{
    float: left;
}
#price-distribution .comment-tip2 .text{
    float: left;
    width: 275px
}