.onsale-summary{
    padding:30px;
    background: #fff;
    border:1px solid #eee;
    margin-bottom: 20px;
    .onsale-tab{
        border-bottom:1px solid #eee;
        padding-bottom: 20px;
        .onsale-tab-item{
            font-size:18px;
            padding:10px;
            margin-right: 30px;
            color:#666;
            line-height: 30px;
            
        }
        .onsale-tab-item.active{
            color:#e70;
        }
    }
    .onsale-content{
        .onsale-content-item{

        }
    }

    .price-report{
        .report-title{
            font-size: 24px;
            line-height: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .report-item{
            margin-bottom: 40px;
        }
        .report-item-title{
            font-size: 18px;
            color:#444;

            hr{
                background: #ddd;
                border:none;
                height:2px;
                font-size: 0;
                line-height: 0;
                float: right;
                width: 1010px;
                margin-top: 13px;

            }
        }
    }
}