//
   Created by Administrator on 2014/7/3.
#header
  .wrapper
    a.logo(href="http://www.souche.com")
      img(src="http://f2e.souche.com/assets/images/index/logo-new.png")
    .city.clearfix 
      span 杭州
      i 
    .search
      form.index-search
        input.search-text(type="text" name="keyword" placeholder="搜索你想要的车")
        button.search-submit(type="submit")
        .recom
          a(href="#") 科鲁兹
          a(href="#") 伊兰特
          a(href="#") 索塔纳
          a(href="#") 科鲁兹
          a(href="#") 伊兰特
    .phone-number
      img(src="http://f2e.souche.com/assets/images/index/phone-number.png")


