//
   Created by Administrator on 2014/7/3.
#qcode
  .weixin-code
    .title
      i 
      span 微信服务号
    .code-cont.clearfix
      img.weixin(src="http://f2e.souche.com/assets/images/index/code-new.png")
      p.code-text 100%真人回复！能陪你聊汽车、聊感情、聊生活的微信服务号！
  .app-code
    .title 买家移动客户端
    .code-cont.clearfix
      img.app(src="http://f2e.souche.com/assets/images/index/code-new.png")
      p.code-text 随时随地随看
      p.code-text 为你全城搜车
      p.code-text 严格质检免费质保
      p.code-text
        a.app-more 了解更多 »