//
   Created by Administrator on 2014/7/3.
#hotsell
  .title 
    span HOT
    em 本周热销排行榜
  ul.hotlist
    li.hot-item
      span 1
      a(href="#") 标致307
      i.hot-state
    li.hot-item
      span 2
      a(href="#") 君威
      i.hot-state
    li.hot-item
      span 3
      a(href="#") 君越
      i.hot-state
    li.hot-item-b
      span 4
      a(href="#") 朗逸
      i.hot-state
    li.hot-item-b
      span 5
      a(href="#") 马自达6
      i.hot-state.hot-rise
    li.hot-item-b
      span 6
      a(href="#") 福克斯两厢
      i.hot-state
    li.hot-item-b
      span 7
      a(href="#") 奥迪A6L
      i.hot-state.hot-down
    li.hot-item-b
      span 8
      a(href="#") 凯越
      i.hot-state
    li.hot-item-b
      span 9
      a(href="#") 指南者
      i.hot-state
    li.hot-item-b
      span 10
      a(href="#") 明锐
      i.hot-state
