//
   Created by Administrator on 2014/7/3.
#service
  .sevice-slide
    .right-slide
      .slide-viewport
        ul.slides
          li
            a(href="#")
              img(src="http://f2e.souche.com/assets/images/index/sevice-slide.png")
          li
            a(href="#")
              img(src="http://res.souche.com/images/fed/check4.jpg")
          li
            a(href="#")
              img(src="http://res.souche.com/images/fed/hall5.jpg")
       
