//Created by Administrator on 2014/7/3.


div#carsNav
    ul
        li#myAdviser
            span
                |我的顾问
        li#hotNewCars.active
            span
                |热门新车
div.clearBoth
div#carsContent
    div.carsItem.operationItem
        div.opItemTitle.opItemTitleTop
            | 告知购车需求
        div.opItemTitle
            | 我们每天为你
        div.important.opItemTitle
            | 推荐好车！
        div.dataContainer
            span
                | 购车预算
            div
                div.inputContainer.leftContainer
                    input
                    a 万元
                a  —
                div.inputContainer.rightContainer
                    input
                    a 万元
            div.submit
                | 开始选车

    div.carsItem.carItem
        a.carImg(href="#")
          img(src="http://res.souche.com/files/carpicture/99FEA070DA7AEDAA1C7D9D46D49B21BE_690x460.jpg_325x10000.jpg",height=182)
        a.car-link(href="#") 2013款 奥迪A4L个性运动版3款 奥迪A4L个性运动版
        div.info
            span.price ￥12.33万
            span.shangpai 上牌：2012-3-4
        div.other
            div.discount 优惠：
                span 3000元
            div.downCounter
                span 剩余时间
            div.recommended.hidden 推荐理由：
                span 质检等级A+，车况非常好。质检等级A+，车况非常好。质检等级A+，车况非常好。
        div.carTail
            span.collect.ative 收藏 10
            span.recommendedToday 今日推荐

    div.carsItem.carItem
        a.carImg(href="#")
            img(src="http://res.souche.com/files/carpicture/99FEA070DA7AEDAA1C7D9D46D49B21BE_690x460.jpg_325x10000.jpg",height=182)
        a.car-link(href="#") 2013款 奥迪A4L个性运动版3款 奥迪A4L个性运动版
        div.info
            span.price ￥12.33万
            span.shangpai 上牌：2012-3-4
        div.other
            div.discount.hidden 优惠：
                span 3000元
            div.downCounter.hidden
                span 剩余时间
            div.recommended(title="质检等级A+，车况非常好。质检等级A+，车况非常好。质检等级A+，车况非常好。")
                span 推荐理由：质检等级A+，车况非常好。质检等级A+，车况非常好。质检等级A+，车况非常好。
        div.carTail
            span.collect.ative 收藏 10
            span.recommendedToday 今日推荐
    div.carsItem.carItem
        a.carImg(href="#")
            img(src="http://res.souche.com/files/carpicture/99FEA070DA7AEDAA1C7D9D46D49B21BE_690x460.jpg_325x10000.jpg",height=182)
        a.car-link(href="#") 2013款 奥迪A4L个性运动版3款 奥迪A4L个性运动版
        div.info
            span.price ￥12.33万
            span.shangpai 上牌：2012-3-4
        div.other
            div.discount.hidden 优惠：
                span 3000元
            div.downCounter.hidden
                span 剩余时间
            div.recommended(title="质检等级A+，车况非常好。质检等级A+，车况非常好。质检等级A+，车况非常好。")
                span 推荐理由：质检等级A+，车况非常好。质检等级A+，车况非常好。质检等级A+，车况非常好。
        div.carTail
            span.collect.ative 收藏 10
            span.recommendedToday 今日推荐

    div.carsItem.infoItem
        a!='<span>资讯</span> 2013款 奥迪A4L个性运动版提车作业'
        div.infoContent
           p
              |2013款 奥迪A4L个性运动版提车作业2013款 奥迪A4L个性运动版提车作业2013款 奥迪A4L个性运动版提车作业2013款 奥迪A4L个性运动版提车作业2013款 奥迪A4L个性运动版提车作业2013款 奥迪A4L个性运动版提车作业
        div.infoImg
            img.leftImg(src="http://res.souche.com/files/carpicture/99FEA070DA7AEDAA1C7D9D46D49B21BE_690x460.jpg_325x10000.jpg",width=90,height=65)
            img.rightImg(src="http://res.souche.com/files/carpicture/99FEA070DA7AEDAA1C7D9D46D49B21BE_690x460.jpg_325x10000.jpg",width=90,height=65)
        div.infoTail
            span.readed!=' 阅读(58)'
            span.recommendedToday 今日推荐

    div.carsItem.bindLoginInfo.hidden
        h1 根据您的浏览记录为您推荐
        div.yusuan
            div 购车预算
            span 8-15万元
        div.interestCar
            div 感兴趣的车
            span 宝马3系
            span 奥迪Q1
            span 日产天籁
            span 凯迪拉克
            span 宝马3系
        div.year
            div 年份
            span 2012-2014
        div.modify
            span.submit 修改

    div.carsItem.bindunLoginInfo.hidden
        h1 根据您的浏览记录为您推荐
        div.yusuan
            div 购车预算
            span 8-15万元
        div.interestCar
            div 感兴趣的车
            span 宝马3系
            span 奥迪Q1
            span 日产天籁
            span 凯迪拉克
            span 宝马3系
        div.year
            div 年份
            span 2012-2014
        div.modify
            span.ps!=' <a>登陆</a>即可保存心愿卡'
            span.submit 修改

    div.dialogContentContainer
        div.dialogContent.hidden
            div.carBudget
                h1 购车预算
                div.dataContainer
                    div.inputContainer.leftContainer
                        input
                        a 万元
                    a —
                    div.inputContainer.rightContainer
                        input
                        a 万元
            div.carinstrest
                h1 感兴趣的车
                div.carinstrestItem
                   a 奥迪A4
                   span
                div.carinstrestItem
                    a 奥迪A4
                    span
                div.carinstrestItem
                    a 奥迪A4
                    span
                div.carinstrestItem
                    a 奥迪A4
                    span
                div.carinstrestItem
                    a 奥迪A4
                    span
                div.addCarinstrestItem
                    a 添加
                    span +
            div.caryear
                h1 年份
                div.dataContainer
                    div.selectContainer.leftContainer
                        input
                    a —
                    div.selectContainer.rightContainer
                        input
            div.submit
                span 确定
        div.addInstrestCar.hidden
            div.addInstrestCarTilte
                span.instrestCarItem.title 添加感兴趣的车：
                span.instrestCarItem
                    a 奥迪A4
                    span
                span.instrestCarItem
                    a 奥迪A4
                    span
                span.instrestCarItem
                    a 奥迪A4
                    span
                span.instrestCarItem
                    a 奥迪A4
                    span
                span.instrestCarItem
                    a 奥迪A4
                    span
                span.instrestCarItem
                    a 奥迪A4
                    span
                span.instrestCarItem
                    a 奥迪A4
                    span
                span.instrestCarItem
                    a 奥迪A4
                    span
                span.instrestCarItem
                    a 奥迪A4
                    span
                span.instrestCarItem
                    a 奥迪A4
                    span

            div.addInstrestCarSubmit
                span.submit
                    |确定
            div.addInstrestCarContent
                div.brand
                    div.hot
                      span 热门
                      div
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                          a 哈弗H6
                    div.brandList
                      ul
                        li
                           span A
                           a 哈弗H6
                           a 哈弗H6
                           a 哈弗H6
                        li
                           span A
                           a 哈弗H6
                           a 哈弗H6
                           a 哈弗H6
                        li
                           span A
                           a 哈弗H6
                           a 哈弗H6
                           a 哈弗H6
                        li
                           span A
                           a 哈弗H6
                           a 哈弗H6
                           a 哈弗H6
                        li
                           span A
                           a 哈弗H6
                           a 哈弗H6
                           a 哈弗H6
                        li
                           span A
                           a.active 哈弗H6
                           a 哈弗H6
                           a 哈弗H6
                        li
                            span A
                            a 哈弗H6
                            a 哈弗H6
                            a 哈弗H6
                        li
                            span A
                            a 哈弗H6
                            a 哈弗H6
                            a 哈弗H6
                        li
                            span A
                            a 哈弗H6
                            a 哈弗H6
                            a 哈弗H6
                        li
                            span A
                            a 哈弗H6
                            a 哈弗H6
                            a 哈弗H6
                div.chexi
                    div.chexiContent
                       div.chexiTitle  福特全部车系
                       ul
                         li
                            h1 长安福特
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                         li
                            h1 长安福特
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span.active A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
                            span A1
div#carsMore
    span 查看更多