//
   Created by Administrator on 2014/7/3.

div#carsNav
    ul
        li#myAdviser.active
            span
                |我的顾问
        li#hotNewCars
            span
                |热门新车
div.clearBoth
div#carsContent
    div.carsItem.operationItem
        div.opItemTitle
            | 告知购车需求
        div.opItemTitle
            | 我们每天为你
        div.important.opItemTitle
            | 推荐好车！
        div.dataContainer
            span
                | 购车预算
            div.inputContainer
                input
                a 万元
            a —
            div.inputContainer
                input
                a 万元
            div.submit
                | 开始选车

    div.carsItem.carItem
        img(src="http://res.souche.com/files/carpicture/99FEA070DA7AEDAA1C7D9D46D49B21BE_690x460.jpg_325x10000.jpg",width=238,height=182)
        h1 2013款 奥迪A4L个性运动版3款 奥迪A4L个性运动版
        div.info
            span.price ￥12.33万
            span.shangpai 上牌：2012-3-4
        div.other
            div 优惠：
                span 3000元
            div.down-counter
                span 剩余时间
            div.recommended 推荐理由：
                span 质检等级A+，车况非常好。质检等级A+，车况非常好。质检等级A+，车况非常好。
        div.carTail
            span 收藏 10
            span 今日推荐

    div.carsItem.carItem
        img(src)
        h1 2013款 奥迪A4L个性运动版
        div
            span ￥12.33万
            span 上牌：2012-3-4
        div.other
            div 优惠：
                span 3000元
            div.down-counter
                span 剩余时间
            div.recommended 推荐理由：
                span 质检等级A+，车况非常好。质检等级A+，车况非常好。质检等级A+，车况非常好。
        div.carTail
            span 收藏 10
            span 今日推荐


    div.carsItem.infoItem
        h1!='<span>资讯</span> 2013款 奥迪A4L个性运动版提车作业'
        div xoxoxoxoxoxoxox
        div.infoImg
            img(src)
            img(src)
        div.infoTail
            span 阅读（58）
            span 今日推荐
