//
   Created by Administrator on 2014/7/3.
#service
  .sevice-slide
    .flexslider
      .flex-viewport
        ul.slides
          li
            a(href="#")
              img
          li
            a(href="#")
              img
          li
            a(href="#")
              img
