//
   Created by Administrator on 2014/7/3.
#qa
  .title 车神在线问答
  .cheshen-nav
    .nav-but.nav-active 木石
      .chenshen-cont
        .head
          img.head-img(src="http://f2e.souche.com/assets/images/index/cheshen.png")
          .head-tit
            h1 车神-木石
            p 真实体验说话
            p 态度鲜明
        .cheshen-detail
          .status 特邀汽车频道资深编辑
          .feat 专长：自主品牌/德系/日系/美系
          .introduce 专注汽车媒体10余年，试驾过几乎所有市面上销售的车型！
          a.ask 我要提问
    .nav-but(style="border-left:none;") 关耳
      .chenshen-cont.hidden
        .head
          img.head-img(src="http://f2e.souche.com/assets/images/index/cheshen.png")
          .head-tit
            h1 车神-关耳
            p 真实体验说话
            p 态度鲜明
        .cheshen-detail
          .status 特邀汽车频道资深编辑
          .feat 专长：自主品牌/德系/日系/美系
          .introduce 专注汽车媒体10余年，试驾过几乎所有市面上销售的车型！
          button.ask 我要提问
    .nav-but(style="border-left:none;") 三水 
      .chenshen-cont.hidden
        .head
          img.head-img(src="http://f2e.souche.com/assets/images/index/cheshen.png")
          .head-tit
            h1 车神-三水
            p 真实体验说话
            p 态度鲜明
        .cheshen-detail
          .status 特邀汽车频道资深编辑
          .feat 专长：自主品牌/德系/日系/美系
          .introduce 专注汽车媒体10余年，试驾过几乎所有市面上销售的车型！
          button.ask 我要提问 