.module.clearfix
  .mod-main
    .timebuy
     .hd
       h1 限时优惠
       a(href='#') 更多 > 
     .timebuy-wrap
      .timebuy-box
        .timebuy-list
         a.car-image(href='#')
         .down-counter(start='false' endyear='2014' endmonth='2' endday='5' endhour='22'
              serveryear='2014' servermonth='2' serverday='4' serverhour='11' servermin='13' serversec='3')
         .timebuy-price
           .price-down
             i 直降
             i 5000元
           .car-price
             h2 宝马1系
             .price-now 23.7万
             .price-old 23.2万
        .timebuy-list
         a.car-image(href='#')
         .down-counter(start='false' endyear='2014' endmonth='2' endday='5' endhour='22'
              serveryear='2014' servermonth='2' serverday='4' serverhour='11' servermin='13' serversec='3')
         .timebuy-price
           .price-down
             i 直降
             i 5000元
           .car-price
             h2 宝马1系
             .price-now 23.7万
             .price-old 23.2万
        .timebuy-list
         a.car-image(href='#')
         .down-counter(start='false' endyear='2014' endmonth='2' endday='5' endhour='22'
              serveryear='2014' servermonth='2' serverday='4' serverhour='11' servermin='13' serversec='3')
         .timebuy-price
           .price-down
             i 直降
             i 5000元
           .car-price
             h2 宝马1系
             .price-now 23.7万
             .price-old 23.2万
        .timebuy-list
         a.car-image(href='#')
         .down-counter(start='false' endyear='2014' endmonth='2' endday='5' endhour='22'
              serveryear='2014' servermonth='2' serverday='4' serverhour='11' servermin='13' serversec='3')
         .timebuy-price
           .price-down
             i 直降
             i 5000元
           .car-price
             h2 宝马1系
             .price-now 23.7万
             .price-old 23.2万
    .hd 
      h2 听听大家买二手车的理由
  .mod-side  
   .starbuy
     .hd 
       h1 达人推车
     .starbuy-box
       .starbuy-star
         .star-image
         .star
           .star-name 达人
             i 范东东
           .star-post 原搜狐二手车特邀评论员
       a.car-image(href='#')
       .car-reason 推荐理由：
         i 这辆宝马系车子的方向盘的手感，悬挂硬度什么的都可以感到较运 