.module.clearfix
  .mod-main
    .filter-nav
      .inner
        .nav-item(style='position:relative;')
          .nav-item-hd
            i.item1
            span 品牌
          .right-arrow
          .nav-item-bd.clearfix
            a(href='#') 大众
            a(href='#') 福特
            a(href='#') 宝马
            a(href='#') 奔驰
            a(href='#') 别克
            a(href='#') 雪弗兰
            a(href='#') 现代
            a(href='#') 本田
            a(href='#') 福特
            a(href='#') 沃尔沃
            a(href='#') 日产
          .hr

        .nav-item
          .nav-item-hd
            i.item2     
            span 价格
          .nav-item-bd.clearfix
            a(href='#') 5万以下
            a(href='#') 5-8万
            a(href='#') 8-12万
            a(href='#') 12-16万
            a(href='#') 16-20万
            a(href='#') 20-25万
            a(href='#') 25-30万
            a(href='#') 30万以上
          .hr
        .nav-item
          .nav-item-hd
            i.item3
            span 车型
          .nav-item-bd.clearfix
            a(href='#') SUV
            a(href='#') MPV
            a(href='#') 敞篷车
            a(href='#') 跑车
            a(href='#') 两厢车
            a(href='#') 三厢车
            a(href='#') 旅行车
            a(href='#') 皮卡
          .hr
        .nav-item
          .nav-item-hd
            i.item4
            span 车龄 
          .nav-item-bd.clearfix
            a(href='#') 1年以内
            a(href='#') 1-2年
            a(href='#') 2-3年
            a(href='#') 3-5年
            a(href='#') 5年以上


    .main-slider
      .flexslider
          ul.slides
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
      .performance
        .per-item
          a(href='#')
            img(src="http://f2e.souche.com/assets/images/index/per-item-1.png")
        .per-item
          a(href='#')
            img(src="http://f2e.souche.com/assets/images/index/per-item-1.png")
        .per-item.last
          a(href='#')
            img(src="http://f2e.souche.com/assets/images/index/per-item-1.png")
  .mod-side
      .service
        .inner
          .per-1.per
              i 
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
          .per-2.per
            i 
            .t 180天免费质保
            .st 二手车享受新车质保服务
          .per-3.per
            i 
            .t 分期付款
            .st 提供最长3年分期付款服务
      .address
        img(src="http://f2e.souche.com/assets/images/index/souche-beijing.jpg")
        .inner
          p.t 大搜车北京门店
          p.a 北京海淀区世纪金源购物中心东区北广场
          a.sendadd 发送地址到手机

  script.
    $('.flexslider').flexslider({
      animation: "slide",
      animationSpeed: 300,
      initDelay: 0,
      slideshowSpeed: 5000
    });
   
    $(".flexslider").mouseenter(function(){
      $(this).flexslider("stop");
    }).mouseleave(function(){
      $(this).flexslider("play");
    });
