.module.clearfix
  .carlife
    //- 我的生活我的车

.module.clearfix
  .banners
    a
      img(src='http://f2e.souche.com/assets/images/index/banner-item-1.jpg')
    a
      img(src='http://f2e.souche.com/assets/images/index/banner-item-1.jpg')
    a
      img(src='http://f2e.souche.com/assets/images/index/banner-item-1.jpg')
    a
      img(src='http://f2e.souche.com/assets/images/index/banner-item-1.jpg')
    a
      img(src='http://f2e.souche.com/assets/images/index/banner-item-1.jpg')
    


