.module.clearfix
  .carlife
    .hd 我的生活我的车
    .bd
      a.carlife-item.upper(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师&nbsp;&nbsp;&nbsp;&nbsp;29岁
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 处于事业上升期，生活压力大。爱好户外运动，热衷极限挑战。
            .look 
              去看看
              span 
      a.carlife-item.upper(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师&nbsp;&nbsp;&nbsp;&nbsp;29岁
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 处于事业上升期，生活压力大。爱好户外运动，热衷极限挑战。
            .look 
              去看看
              span 
      a.carlife-item.upper(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师&nbsp;&nbsp;&nbsp;&nbsp;29岁
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 处于事业上升期，生活压力大。爱好户外运动，热衷极限挑战。
            .look 
              去看看
              span 
      a.carlife-item(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师&nbsp;&nbsp;&nbsp;&nbsp;29岁
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 处于事业上升期，生活压力大。爱好户外运动，热衷极限挑战。
            .look 
              去看看
              span 
      a.carlife-item(href='#')
        .front 
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师&nbsp;&nbsp;&nbsp;&nbsp;29岁
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 处于事业上升期，生活压力大。爱好户外运动，热衷极限挑战。
            .look 
              去看看
              span 
      a.carlife-item(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师&nbsp;&nbsp;&nbsp;&nbsp;29岁
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 处于事业上升期，生活压力大。爱好户外运动，热衷极限挑战。
            .look 
              去看看
              span 
    //- 我的生活我的车

.module.clearfix
  .banners
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-1.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-2.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-3.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-4.jpg')
    


