.module.clearfix
  .mod-main
    .filter-nav
      #brand 
        .inner
          .brand-title 所有车辆品牌
          .brand-text-wrap
            .brand-text-left
              .bt-item
                .alpha A
                .details
                  a(href='#') 奥迪
              .bt-item
                .alpha B
                .details
                  a(href='#') 宝马
                  a(href='#') 保时捷
                  a(href='#') 北京汽车
                  a(href='#') 奔驰
                  a(href='#') 奔腾
                  a(href='#') 本田
                  a(href='#') 标致
                  a(href='#') 别克
                  a(href='#') 比亚迪
              .bt-item
                .alpha C
                .details
                  a(href='#') 长安
                  a(href='#') 长城
                  a(href='#') 长丰
              .bt-item
                .alpha D
                .details
                  a(href='#') 道奇
                  a(href='#') 大众
                  a(href='#') 帝豪
                  a(href='#') 东风
                  a(href='#') 东南
              .bt-item
                .alpha F
                .details
                  a(href='#') 菲亚特
                  a(href='#') 丰田
                  a(href='#') 福特
              .bt-item
                .alpha G
                .details
                  a(href='#') GMC
              .bt-item
                .alpha H
                .details
                  a(href='#') 海马
                  a(href='#') 华泰
              .bt-item
                .alpha J
                .details
                  a(href='#') 江淮
                  a(href='#') 捷豹
                  a(href='#') 吉利
                  a(href='#') 吉普
              .bt-item
                .alpha K
                .details
                  a(href='#') 凯迪拉克
                  a(href='#') 克莱斯勒
              .bt-item
                .alpha L
                .details
                  a(href='#') 雷克萨斯
                  a(href='#') 雷诺
                  a(href='#') 铃木
                  a(href='#') 陆风
                  a(href='#') 路虎
            .brand-text-right
              .bt-item
                .alpha M
                .details
                  a(href='#') 马自达                                                   
                  a(href='#') 名爵                                                   
                  a(href='#') 迷你
              .bt-item
                .alpha N
                .details
                  a(href='#') 纳智捷
              .bt-item
                .alpha O
                .details
                  a(href='#') 欧宝                                                   
                  a(href='#') 讴歌                                                   
              .bt-item
                .alpha Q
                .details
                  a(href='#') 奇瑞                                                   
                  a(href='#') 起亚                                                   
              .bt-item
                .alpha R
                .details
                  a(href='#') 日产                                                   
                  a(href='#') 荣威                                                   
              .bt-item
                .alpha S
                .details
                  a(href='#') 三菱                                                   
                  a(href='#') 斯巴鲁                                                   
                  a(href='#') 斯柯达                                                                                               
                  a(href='#') Smart
              .bt-item
                .alpha W
                .details
                  a(href='#') 威兹曼                                                   
                  a(href='#') 沃尔沃
              .bt-item
                .alpha X
                .details
                  a(href='#') 现代                                                   
                  a(href='#') 雪弗兰                                                   
                  a(href='#') 雪铁龙
              .bt-item
                .alpha Y
                .details
                  a(href='#') 英菲尼迪                                                   
              .bt-item
                .alpha Z
                .details
                  a(href='#') 中华  
          .hr
          .brand-show-hd
            推荐品牌                                                                                              
          ul.brand_show.feature_brand_show
            li(style='margin-left:0')
              a(target='_blank' href='#') 
                img(src="http://souche.cdn.aliyuncs.com/images/fed/skd.png")
                斯柯达
            li
              a(target='_blank' href='#') 
                img(src="http://souche.cdn.aliyuncs.com/images/fed/xd.png")
                奥迪
            li 
              a(target='_blank' href='#')
                img(src="http://souche.cdn.aliyuncs.com/images/fed/ms.png")
                日产
            li 
              a(target='_blank' href='#')
                img(src="http://souche.cdn.aliyuncs.com/images/fed/ft.png")
                丰田
            li
              a(target='_blank' href='#') 
                img(src="http://souche.cdn.aliyuncs.com/images/fed/dz.png")
                大众
            li
              a(target='_blank' href='#') 
                img(src="http://souche.cdn.aliyuncs.com/images/fed/fute.png")
                福特
            li 
              a(target='_blank' href='#')
                img(src="http://souche.cdn.aliyuncs.com/images/fed/lm.png")
                铃木
            li 
              a(target='_blank' href='#')
                img(src="http://souche.cdn.aliyuncs.com/images/fed/kdlk.png")
                凯迪拉克
            li 
              a(target='_blank' href='#')
                img(src="http://souche.cdn.aliyuncs.com/images/fed/mzd.png")
                马自达
      .inner
        .nav-item(style='position:relative;')#nav-item-brand
          .nav-item-hd
            i.item1
            span 品牌
          .right-arrow
          .nav-item-bd.clearfix
            a(href='#') 大众
            a(href='#') 福特
            a(href='#') 宝马
            a(href='#') 奔驰
            a(href='#') 别克
            a(href='#') 雪弗兰
            a(href='#') 现代
            a(href='#') 本田
            a(href='#') 福特
            a(href='#') 沃尔沃
            a(href='#') 日产
          .hr
        .nav-item
          .nav-item-hd
            i.item2     
            span 价格
          .nav-item-bd.clearfix
            a(href='#') 5万以下
            a(href='#') 5-8万
            a(href='#') 8-12万
            a(href='#') 12-16万
            a(href='#') 16-20万
            a(href='#') 20-25万
            a(href='#') 25-30万
            a(href='#') 30万以上
          .hr
        .nav-item
          .nav-item-hd
            i.item3
            span 车型
          .nav-item-bd.clearfix
            a(href='#') SUV
            a(href='#') MPV
            a(href='#') 敞篷车
            a(href='#') 跑车
            a(href='#') 两厢车
            a(href='#') 三厢车
            a(href='#') 旅行车
            a(href='#') 皮卡
          .hr
        .nav-item(style='border:none')
          .nav-item-hd
            i.item4
            span 车龄 
          .nav-item-bd.clearfix
            a(href='#') 1年以内
            a(href='#') 1-2年
            a(href='#') 2-3年
            a(href='#') 3-5年
            a(href='#') 5年以上


    .main-slider
      .flexslider
          ul.slides
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
            li(style='background-image:url(http://f2e.souche.com/assets/images/index/main-slider-1.jpg)')
              a(target='_blank' href='#')
      .performance
        .per-item
          a(href='#')
            img(src="http://f2e.souche.com/assets/images/index/per-item-1.png")
        .per-item
          a(href='#')
            img(src="http://f2e.souche.com/assets/images/index/per-item-1.png")
        .per-item.last
          a(href='#')
            img(src="http://f2e.souche.com/assets/images/index/per-item-1.png")
  .mod-side
      .service
        .inner
          .per-1.per
              i 
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
          .per-2.per
            i 
            .t 180天免费质保
            .st 二手车享受新车质保服务
          .per-3.per
            i 
            .t 分期付款
            .st 提供最长3年分期付款服务
      .address
        img(src="http://f2e.souche.com/assets/images/index/souche-beijing.jpg")
        .inner
          p.t 大搜车北京门店
          p.a 北京海淀区世纪金源购物中心东区北广场
          a.sendadd 发送地址到手机

  script.
    $('.flexslider').flexslider({
      animation: "slide",
      animationSpeed: 300,
      initDelay: 0,
      slideshowSpeed: 5000,
      useCSS:true
    });
   
    $(".flexslider").mouseenter(function(){
      $(this).flexslider("stop");
    }).mouseleave(function(){
      $(this).flexslider("play");
    });
