.module.clearfix
  .mod-main
    .qiugou
      .inner
        .title 定制您的购车需求，全城搜车立即启动
        .sub-title 毫无疑问，这是最省心、最有效的购车方式
        .form
          .form-item.clearfix
            label 品牌
            .input. 
              <div class="sc-select sc-custom-select brand-select" id="brand_select">
                <div class="sc-select-hd">
                  <div class="sc-select-content clearfix"></div>
                  <div class="sc-select-action hidden"><i></i></div>
                </div>
                <div class="sc-select-list hidden sc-popup">
                  <a href="#" data-value="5" class="option"><input type="checkbox" class="hidden"/><span class='value'>5万以下</span></a>
                  <a href="#" data-value="4" class="option"><input type="checkbox" class="hidden"/><span class='value'>4万以下</span></a>
                </div>
                <input type="hidden" name="2,3,4" class="selected_values"/>
              </div>
          .form-item.clearfix
            label 车系
            .input. 
              <div class="sc-select sc-multi-select series-select" id="series_select">
                <div class="sc-select-hd">
                  <div class="sc-select-content clearfix"></div>
                  <div class="sc-select-action hidden"><i></i></div>
                </div>
                <ul class="sc-select-list hidden sc-popup">
                    <a href="#" data-value="5" class="option"><input type="checkbox" class="hidden"/><span class='value'>5万以下</span></a>
                </ul>
                <input type="hidden" name="" class="selected_values"/>
              </div>
          .form-item.clearfix
            label 

  .mod-side
    .buyforme
      a.go(href="#")
        img(src="")
      .qiugou-history
        .item 李小姐 134*****123 求购 奥迪A4
        .item 李小姐 134*****123 求购 奥迪A4
        .item 李小姐 134*****123 求购 奥迪A4