.module.clearfix
  //- 购车指南
  .wrapper
    .hd 购车指南
    .bd 
      .buy-guide.clearfix
        .inner
          .col
            .title 如何挑选二手车
            .head
              img(src="http://f2e.souche.com/assets/images/index/guide-simple.png")
              .tip 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱
            .list
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
          .col
            .title 如何挑选二手车
            .head
              img(src="http://f2e.souche.com/assets/images/index/guide-simple.png")
              .tip 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱
            .list
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
          .col
            .title 如何挑选二手车
            .head
              img(src="http://f2e.souche.com/assets/images/index/guide-simple.png")
              .tip 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱
            .list
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
          .col
            .title 如何挑选二手车
            .head
              img(src="http://f2e.souche.com/assets/images/index/guide-simple.png")
              .tip 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱
            .list
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f
              a.item 购车陷阱购车陷阱购车陷阱购车陷阱购车陷阱f