.module.clearfix
  .carlife
    .hd 我的生活我的车
    .bd
      .carlife-item.upper
        i
          img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
        .person
          .title 设计师（29岁）
            .name 张女士
          .info 
            span 经常开车玩    
            span 喜欢旅游
            span 个性时尚
            span 有越野能力
      .carlife-item.upper
        i
          img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
        .person
          .title 设计师（29岁）
            .name 张女士
          .info 
            span 经常开车玩    
            span 喜欢旅游
            span 个性时尚
            span 有越野能力
      .carlife-item.upper
        i
          img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
        .person
          .title 设计师（29岁）
            .name 张女士
          .info 
            span 经常开车玩    
            span 喜欢旅游
            span 个性时尚
            span 有越野能力
      .carlife-item
        i
          img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
        .person
          .title 设计师（29岁）
            .name 张女士
          .info 
            span 经常开车玩    
            span 喜欢旅游
            span 个性时尚
            span 有越野能力
      .carlife-item
        i
          img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
        .person
          .title 设计师（29岁）
            .name 张女士
          .info 
            span 经常开车玩    
            span 喜欢旅游
            span 个性时尚
            span 有越野能力
      .carlife-item
        i
          img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
        .person
          .title 设计师（29岁）
            .name 张女士
          .info 
            span 经常开车玩    
            span 喜欢旅游
            span 个性时尚
            span 有越野能力
    //- 我的生活我的车

.module.clearfix
  .banners
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-1.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-2.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-3.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-4.jpg')
    


