.module.clearfix
  .carlife
    .hd 我的生活我的车
    .bd
      a.carlife-item.upper(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师（29岁）
            .name 张女士
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 霸气的外观，硬朗的线条，超强的操控性能，以及彰显品质的品牌血统、外形、内饰性能。基本都所有的特征都代表了成功男士标签
            .look 
              去看看
              span 
      a.carlife-item.upper(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师（29岁）
            .name 张女士
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 霸气的外观，硬朗的线条，超强的操控性能，以及彰显品质的品牌血统、外形、内饰性能。基本都所有的特征都代表了成功男士标签
            .look 
              去看看
              span 
      a.carlife-item.upper(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师（29岁）
            .name 张女士
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 霸气的外观，硬朗的线条，超强的操控性能，以及彰显品质的品牌血统、外形、内饰性能。基本都所有的特征都代表了成功男士标签
            .look 
              去看看
              span 
      a.carlife-item(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师（29岁）
            .name 张女士
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 霸气的外观，硬朗的线条，超强的操控性能，以及彰显品质的品牌血统、外形、内饰性能。基本都所有的特征都代表了成功男士标签
            .look 
              去看看
              span 
      a.carlife-item(href='#')
        .front 
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师（29岁）
            .name 张女士
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 霸气的外观，硬朗的线条，超强的操控性能，以及彰显品质的品牌血统、外形、内饰性能。基本都所有的特征都代表了成功男士标签
            .look 
              去看看
              span 
      a.carlife-item(href='#')
        .front
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-front-1.png')
          .person
            .title 设计师（29岁）
            .name 张女士
            .info 工资不高，首付家里出，自己月供还贷也没压力。不讲究性能，买车就图个代步舒服，更倾向于自动档和方便停车的小车型
        .back
          i(href='#')
            img(src='http://f2e.souche.com/assets/images/index/carlife-1.jpg')
          .person
            .title 适合她的车：
            .info 霸气的外观，硬朗的线条，超强的操控性能，以及彰显品质的品牌血统、外形、内饰性能。基本都所有的特征都代表了成功男士标签
            .look 
              去看看
              span 
    //- 我的生活我的车

.module.clearfix
  .banners
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-1.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-2.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-3.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-4.jpg')
    


