.module
  .mod-main
    //- 限时优惠
    .timebuy
      .hd
      	h1 限时优惠
      	a 更多 
        .timebuy-wrap
         .timebuy-box
          .car-image
           img
            .last-time 剩余时间：27时36分28.5秒
            .timebuy-price
            	.price-img
               .car-price
                h2 宝马1系
                .price-now 23.7万
                .mod-side
    //- 达人推车
    .starbuy 
