.module.clearfix
  .carlife
    .carlife-hd 我的生活我的车
    .carlife-bd

    //- 我的生活我的车

.module.clearfix
  .banners
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-1.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-2.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-3.jpg')
    a(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-4.jpg')
    a.last(href='#')
      img(src='http://f2e.souche.com/assets/images/index/banner-item-5.jpg')
    


