.module.clearfix
  .mod-main
    .timebuy
     .hd
       h1 限时优惠
       a 更多 
     .timebuy-wrap
      .timebuy-box
       .car-image
         img
       .last-time 剩余时间：27时36分28.5秒
       .timebuy-price
         .price-img
           .car-price
         h2 宝马1系
         .price-now 23.7万
      .timebuy-box
       .car-image
         img
       .last-time 剩余时间：27时36分28.5秒
       .timebuy-price
         .price-img
           .car-price
         h2 宝马1系
         .price-now 23.7万
      .timebuy-box
       .car-image
         img
       .last-time 剩余时间：27时36分28.5秒
       .timebuy-price
         .price-img
           .car-price
         h2 宝马1系
         .price-now 23.7万
         .mod-side  
      .timebuy-box
       .car-image
         img
       .last-time 剩余时间：27时36分28.5秒
       .timebuy-price
         .price-img
           .car-price
         h2 宝马1系
         .price-now 23.7万
  .mod-side  
   .starbuy
    .starbuy-box
      h1 达人推车
      .starbuy-star
        .star-image
        .star
          .star-name 达人
            i 范东东
          .star-post 原搜狐二手车特邀评论员
        .car-image
        .car-reason 推荐理由：
          p 这辆宝马系车子的方向盘的手感，悬挂硬度什么的都可以感到较运动 