.module.clearfix
  .mod-main
    .filter-nav
      .inner
        .nav-item
          .nav-item-hd
            img(src='http://f2e.souche.com/assets/images/index/r-small.png')
            品牌
          .nav-item-bd.clearfix
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
          .hr

        .nav-item
          .nav-item-hd
            img(src='http://f2e.souche.com/assets/images/index/m-small.png')
            品牌
          .nav-item-bd.clearfix
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
          .hr
        .nav-item
          .nav-item-hd
            img(src='http://f2e.souche.com/assets/images/index/c-small.png')
            品牌
          .nav-item-bd.clearfix
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
          .hr
        .nav-item
          .nav-item-hd
            img(src='')
            品牌
          .nav-item-bd.clearfix
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众
            a(href='#') 沃尔沃
            a(href='#') 大众

    .main-slider
      .slider
        img
      .performance
        .per-item
          img
        .per-item
          img
        .per-item
          img
  .mod-side
      .service
        img
      .address
        .inner
          img
          p.t 大搜车北京门店
          p.a 北京海淀区世纪金源购物中心东区北广场
          a 发送到手机