//
   Created by Administrator on 2014/7/3.
#nav
  .wrapper.clearfix
    .main-navs
      a.nav-item.active(href="#") 首页
      a.nav-item(href="#") 我要买车
      a.nav-item(href="#") 我要卖车
      a.nav-item(href="#") 主题精选
    .other-navs
      a.nsv-item(href="#") 登陆
      a.nsv-item(href="#") 微博登陆
      a.nsv-item(href="#" style="border-right:none;") QQ登陆