.sidetoolbar-top
  .suggestside
    a.suggest-box(href='#')
      .suggest-img
      i 建议
  .customerside
    a.customer-box(href='#')
      .customer-img
      i 客服
.sidetoolbar-bottom
  .collectside
    a.collect-box(href='#')
      .collect-img
      i 收藏
  .reserveside
    a.reserve-box(href='#')
      .reserve-img
      i 预约
  .sellside
    a.sell-box(href='#')
      .sell-img
      i 降价
  .scanside
    a.scan-box(href='#')
      .scan-img
      i 浏览