//
   Created by Administrator on 2014/7/3.
#top-info.clearfix
  .filter-nav
    .car-brand
      .title 品牌
      #brand-open
      .brand-list
        .brand-line
          a.brand-item(href="#") 宝马
          a.brand-item(href="#") 大众
          a.brand-item(href="#") 奥迪
          a.brand-item(href="#") 奔驰
          a.brand-item(href="#") 丰田
          a.brand-item(href="#") 本田
          a.brand-item(href="#") 日产
          a.brand-item(href="#") 别克
          a.brand-item(href="#") 现代
          a.brand-item(href="#") 福特
        .brand-line
          a.brand-item(href="#") 标致
          a.brand-item(href="#") 路虎
          a.brand-item(href="#") 吉普
          a.brand-item(href="#") 雪铁龙
          a.brand-item(href="#") 斯柯达
          a.brand-item(href="#") 沃尔沃
          a.brand-item(href="#") 斯巴鲁
          a.brand-item(href="#") 雪佛兰
      .brand-inner
        .brand-conf
          .title 品牌
          .brand-line
            a.brand-item(href="#") 宝马
            a.brand-item(href="#") 大众
            a.brand-item(href="#") 奥迪
            a.brand-item(href="#") 奔驰
            a.brand-item(href="#") 丰田
            a.brand-item(href="#") 本田
            a.brand-item(href="#") 日产
            a.brand-item(href="#") 别克
            a.brand-item(href="#") 现代
            a.brand-item(href="#") 福特
          .brand-line
            a.brand-item(href="#") 标致
            a.brand-item(href="#") 路虎
            a.brand-item(href="#") 吉普
            a.brand-item(href="#") 雪铁龙
            a.brand-item(href="#") 斯柯达
            a.brand-item(href="#") 沃尔沃
            a.brand-item(href="#") 斯巴鲁
            a.brand-item(href="#") 雪佛兰
        .brand-all
          .title 所有品牌
          .brand-list.clearfix
            .left-list
              .brand-item-l.clearfix
                span.letter A
                a.brand-item(href="#") 奥迪
              .brand-item-l.clearfix
                .letter B
                .brand-letter
                  a.brand-item(href="#") 宝马
                  a.brand-item(href="#") 保时捷
                  a.brand-item(href="#") 北京汽车
                  a.brand-item(href="#") 奔驰
                  a.brand-item(href="#") 奔腾
                  a.brand-item(href="#") 本田
                  a.brand-item(href="#") 标致
                  a.brand-item(href="#") 别克
                  a.brand-item(href="#") 宾利
                  a.brand-item(href="#") 比亚迪
              .brand-item-l.clearfix
                .letter C
                .brand-letter
                  a.brand-item(href="#") 长安
                  a.brand-item(href="#") 长城
                  a.brand-item(href="#") 长丰
              .brand-item-l.clearfix
                .letter D
                .brand-letter
                  a.brand-item(href="#") 道奇
                  a.brand-item(href="#") 大众
                  a.brand-item(href="#") 东风
                  a.brand-item(href="#") 东南
              .brand-item-l.clearfix
                .letter F
                .brand-letter
                  a.brand-item(href="#") 法拉利
                  a.brand-item(href="#") 菲亚特
                  a.brand-item(href="#") 丰田
                  a.brand-item(href="#") 福特
              .brand-item-l.clearfix
                .letter G
                .brand-letter
                  a.brand-item(href="#") GMC
              .brand-item-l.clearfix
                .letter H
                .brand-letter
                  a.brand-item(href="#") 海马
                  a.brand-item(href="#") 悍马
                  a.brand-item(href="#") 红旗
                  a.brand-item(href="#") 华泰
                  a.brand-item(href="#") 汇众
              .brand-item-l.clearfix
                .letter J
                .brand-letter
                  a.brand-item(href="#") 江淮
                  a.brand-item(href="#") 捷豹
                  a.brand-item(href="#") 吉普
              .brand-item-l.clearfix
                .letter K
                .brand-letter
                  a.brand-item(href="#") 凯迪拉克
                  a.brand-item(href="#") 克莱斯勒
              .brand-item-l.clearfix
                .letter L
                .brand-letter
                  a.brand-item(href="#") 兰博基尼
                  a.brand-item(href="#") 劳斯莱斯
                  a.brand-item(href="#") 雷克萨斯
                  a.brand-item(href="#") 雷诺
                  a.brand-item(href="#") 林肯 
                  a.brand-item(href="#") 路风
                  a.brand-item(href="#") 路虎
                  a.brand-item(href="#") 铃木
            .right-list
              .brand-item-l.clearfix
                .letter M
                .brand-letter
                  a.brand-item(href="#") 玛莎拉蒂
                  a.brand-item(href="#") 马自达
                  a.brand-item(href="#") 名爵
                  a.brand-item(href="#") 迷你
              .brand-item-l.clearfix
                .letter N
                .brand-letter
                  a.brand-item(href="#") 纳智捷
              .brand-item-l.clearfix
                .letter O
                .brand-letter
                  a.brand-item(href="#") 欧宝
                  a.brand-item(href="#") 讴歌
              .brand-item-l.clearfix
                .letter Q
                .brand-letter
                  a.brand-item(href="#") 奇瑞
                  a.brand-item(href="#") 起亚
              .brand-item-l.clearfix
                .letter R
                .brand-letter
                  a.brand-item(href="#") 日产
                  a.brand-item(href="#") 荣威
              .brand-item-l.clearfix
                .letter S
                .brand-letter
                  a.brand-item(href="#") 萨博
                  a.brand-item(href="#") 三菱
                  a.brand-item(href="#") 双环
                  a.brand-item(href="#") 斯巴鲁
                  a.brand-item(href="#") 斯柯达
                  a.brand-item(href="#") Smart
              .brand-item-l.clearfix
                .letter W
                .brand-letter
                  a.brand-item(href="#") 威兹曼
                  a.brand-item(href="#") 沃尔沃
              .brand-item-l.clearfix
                .letter X
                .brand-letter
                  a.brand-item(href="#") 现代
                  a.brand-item(href="#") 雪佛兰
                  a.brand-item(href="#") 雪铁龙
              .brand-item-l.clearfix
                .letter Y
                .brand-letter
                  a.brand-item(href="#") 英菲尼迪
              .brand-item-l.clearfix
                .letter Z
                .brand-letter
                  a.brand-item(href="#") 中华
    .car-models
      .title 车系
      #models-open
      .models-list
        .models-line
          a.models-item-m(href="#") SUV
          a.models-item(href="#") 长安CS75
          a.models-item(href="#") 帕杰罗
          a.models-item(href="#") 中泰T600
          a.models-item(href="#") 哈弗 H6
          a.models-item(href="#") 奇骏
          a.models-item(href="#") 瑞虎5
          a.models-item(href="#") 奔驰GLK级
          
        .models-line
          a.models-item-m(href="#") 紧凑型
          a.models-item(href="#") 标致308 
          a.models-item(href="#") 福克斯
          a.models-item(href="#") 马自达3
          a.models-item(href="#") 速腾
          a.models-item(href="#") 明锐
          a.models-item(href="#") 科鲁兹
          a.models-item(href="#") 高尔夫
          a.models-item(href="#") 朗逸
        .models-line
          a.models-item-m(href="#") 中型车
          a.models-item(href="#") 蒙迪欧 
          a.models-item(href="#") 奥迪A4L
          a.models-item(href="#") 马自达6阿特兹
          a.models-item(href="#") 宝马3系
          a.models-item(href="#") 雅阁
          a.models-item(href="#") 迈腾
          a.models-item(href="#") 奔驰CLS级
      .models-inner
        .title 车系
        .models-all
          .models-line
            a.models-item-m(href="#") SUV
            a.models-item(href="#") 长安CS75
            a.models-item(href="#") 帕杰罗
            a.models-item(href="#") 中泰T600
            a.models-item(href="#") 哈弗 H6
            a.models-item(href="#") 奇骏
            a.models-item(href="#") 瑞虎5
            a.models-item(href="#") 奔驰GLK级
            a.models-item(href="#") TRAX创酷
          .models-line
            a.models-item-m(href="#") 紧凑型
            a.models-item(href="#") 标致308 
            a.models-item(href="#") 福克斯
            a.models-item(href="#") 马自达3
            a.models-item(href="#") 速腾
            a.models-item(href="#") 明锐
            a.models-item(href="#") 科鲁兹
            a.models-item(href="#") 高尔夫
            a.models-item(href="#") 朗逸
          .models-line
            a.models-item-m(href="#") 中型车
            a.models-item(href="#") 蒙迪欧 
            a.models-item(href="#") 奥迪A4L
            a.models-item(href="#") 马自达6阿特兹
            a.models-item(href="#") 宝马3系
            a.models-item(href="#") 雅阁
            a.models-item(href="#") 迈腾
            a.models-item(href="#") 奔驰CLS级
            a.models-item(href="#") 皇冠
          .models-line
            a.models-item-m(href="#") 豪华型
            a.models-item(href="#") 奔驰S级 
            a.models-item(href="#") 宝马7系
            a.models-item(href="#") Panamera
            a.models-item(href="#") 捷豹XJ
            a.models-item(href="#") 奥迪A8
            a.models-item(href="#") 飞驰
            a.models-item(href="#") 迈巴赫
            a.models-item(href="#") 红旗L5
            a.models-item(href="#") 雅科仕
          .models-line
            a.models-item-m(href="#") 小型车
            a.models-item(href="#") 威驰
            a.models-item(href="#") 飞度
            a.models-item(href="#") POLO
            a.models-item(href="#") 欧力威
            a.models-item(href="#") 启辰R30
            a.models-item(href="#") 瑞纳
            a.models-item(href="#") 嘉年华
            a.models-item(href="#") 北京汽车E系列
            a.models-item(href="#") 悦翔V3
          .models-line
            a.models-item-m(href="#") MPV
            a.models-item(href="#") 奥德赛
            a.models-item(href="#") 途安
            a.models-item(href="#") SAVANA
            a.models-item(href="#") 宝骏730
            a.models-item(href="#") 别克GL8
            a.models-item(href="#") 逸致
            a.models-item(href="#") 夏朗
            a.models-item(href="#") 菱智
            a.models-item(href="#") 艾力绅
            a.models-item(href="#") 普力马
          .models-line
            a.models-item-m(href="#") 跑车
            a.models-item(href="#") 威航
            a.models-item(href="#") 标致RCZ
            a.models-item(href="#") 野马
            a.models-item(href="#") Aventador
            a.models-item(href="#") 保时捷911
            a.models-item(href="#") 日产GT-R
            a.models-item(href="#") 奥迪R8
            a.models-item(href="#") 斯巴鲁BRZ
         
    .car-price
      .title 价格
      .price-list
        a.price-item(href="#") 5万以下
        a.price-item(href="#") 5-8万
        a.price-item(href="#") 8-10万
        a.price-item(href="#") 10-15万
        a.price-item(href="#") 15-20万
        a.price-item(href="#") 20-30万
        a.price-item(href="#") 30-50万
        a.price-item(href="#") 50万以上
  .main-slider
    .flexslider
      .flex-viewport
        ul.slides
          li
            a(href="#")
              img
          li
            a(href="#")
              img
          li
            a(href="#")
              img
          li
            a(href="#")
              img
          li
            a(href="#")
              img


