.star-box{
  height: 370px;
  .star{
    width: 227px;
    height: 340px;
    border: 1px dashed #c0c0c0;
    border-right: none;
    border-bottom: none;
    float: left;
    ul{
      li{
        .starli{
          width: 74px;height: 84px;float: left;border-right: 1px dashed #c0c0c0;border-bottom: 1px dashed #c0c0c0; 
          cursor: pointer;
        }
        .star1{background: url(../images/girl/girl-sprite.png) no-repeat 0 0;}
        .star1:hover{background: url(../images/girl/girl-sprite.png) no-repeat -250px 0;}
        .star2{background: url(../images/girl/girl-sprite.png) no-repeat -75px 0;}
        .star2:hover{background: url(../images/girl/girl-sprite.png) no-repeat -325px 0;}
        .star3{background: url(../images/girl/girl-sprite.png) no-repeat -150px 0;}
        .star3:hover{background: url(../images/girl/girl-sprite.png) no-repeat -400px 0;}
        .star4{background: url(../images/girl/girl-sprite.png) no-repeat 0 -84px;}
        .star4:hover{background: url(../images/girl/girl-sprite.png) no-repeat -250px -84px;}
        .star5{background: url(../images/girl/girl-sprite.png) no-repeat -75px -84px;}
        .star5:hover{background: url(../images/girl/girl-sprite.png) no-repeat -325px -84px;}
        .star6{background: url(../images/girl/girl-sprite.png) no-repeat -150px -84px;}
        .star6:hover{background: url(../images/girl/girl-sprite.png) no-repeat -400px -84px;}
        .star7{background: url(../images/girl/girl-sprite.png) no-repeat 0 -168px;}
        .star7:hover{background: url(../images/girl/girl-sprite.png) no-repeat -250px -168px;}
        .star8{background: url(../images/girl/girl-sprite.png) no-repeat -75px -168px;}
        .star8:hover{background: url(../images/girl/girl-sprite.png) no-repeat -325px -168px;}
        .star9{background: url(../images/girl/girl-sprite.png) no-repeat -150px -168px;}
        .star9:hover{background: url(../images/girl/girl-sprite.png) no-repeat -400px -168px;}
        .star10{background: url(../images/girl/girl-sprite.png) no-repeat 0 -252px;}
        .star10:hover{background: url(../images/girl/girl-sprite.png) no-repeat -250px -252px;}
        .star11{background: url(../images/girl/girl-sprite.png) no-repeat -75px -252px;}
        .star11:hover{background: url(../images/girl/girl-sprite.png) no-repeat -325px -252px;}
        .star12{background: url(../images/girl/girl-sprite.png) no-repeat -150px -252px;}
        .star12:hover{background: url(../images/girl/girl-sprite.png) no-repeat -400px -252px;}
      }
    }
  }
  .detail{
    height: 337px;
    width: 580px;
    float: left;
    img{
      height: 337px;
      width: 600px;
    }

  }
}