.star-box{
  height: 370px;
  .star{
    width: 227px;
    height: 337px;
    border: 1px dashed #c0c0c0;
    float: left;
  }
  .detail{
    height: 337px;
    width: 600px;
    background: url(../images/girl/star-cn.png);
  }
}