@orange:#fc7000;
.brand-select{
      width:257px;height:auto;display:block;
      .close{
        background: @orange;
        color:#fff;
        font-size: 12px;
        float:right;
        margin-right: 10px;
        line-height: 25px;
        padding:0 10px;
        cursor: pointer;
      }
      .sc-select-list{
        overflow: hidden;
        width:500px;
        height:400px !important;
      }
      .sc-select-content{
       padding-left:0;
      }
      .placeholder{
        padding-left: 10px;
      }
      .sc-popup-bd{
        height:370px;
      }
      .word-title{
        float:left;
        color:#5bb0b3;
        font-size: 20px;
        line-height: 30px;
        width:30px;
      }
      .word-brands{
        float: left;
        display: inline;
        width:450px;
      }
      .option{
        padding:0 5px;
        margin-left:7px;
        color:#666;
        float:left;
        display: inline;
        font-size: 12px;
        border:2px solid #fff;
        line-height: 20px;
        margin-top:3px;
      }
      .option.active{
        border:2px solid @orange;
        background: #ffedda url(../images/index/popup-active.png) no-repeat right bottom;
        color:@orange;
        
      }
      .option:hover{
        color: @orange;
      }
      .sc-popup{
        padding-right: 0;
      }
    }
    .series-select{
      width:257px;height:auto;display:block;
      .sc-select-list{
        overflow: hidden;
        width:500px;
        height:400px !important;
      }
      .close{
        background: @orange;
        color:#fff;
        font-size: 12px;
        float:right;
        margin-right: 10px;
        line-height: 25px;
        padding:0 10px;
        cursor: pointer;
      }
      .sc-select-content{
        padding-left:0;
      }
      .placeholder{
        padding-left: 10px;
      }
      .sc-popup-bd{
        height:370px;
      }
      .brand-title{
        color:@orange;
        font-size: 14px;
        font-weight: bold;
        line-height: 30px;

      }
      .option{
        padding:0 5px;
        margin-right:5px;
        color:#333;
        float:left;
        display: inline;
        font-size: 12px;
        border:2px solid #fff;
        line-height: 20px;
        margin-top:5px;
      }
      .option.active{
        border:2px solid @orange;
        background: #ffedda url(../images/index/popup-active.png) no-repeat right bottom;
        color:@orange;
        
      }
      .option:hover{
        color: @orange;
      }
      .sc-popup{
        padding-right: 0;
      }
    }