.report_safety.report_module
  .report_hd.clearfix
    .num 
    .title
      .main_title 安全性评估
      .sub_title "经76项专业检测, 该车还是不要开了..."
    .promise
      .desc 若有不符，七天包出车祸
      .icon 退
  .report_bd
    ul.safety-list.clear-flt
        li.safety-item.lft.wheel-depth
            .safety-item-hd
                h3.safety-item-hd-index 1
                p.safety-item-hd-name 胎纹深度
                    .icon.icon-info
                h4.safety-item-hd-summary 左后轮磨损严重, 建议更换
            .safety-item-bd
                //- div.histogram.with-y.with-x
                //-     ul.y-axis
                //-         li.y-scale-item(style="top: 0%;") 1.9mm
                //-         li.y-scale-item(style="top: 50%;") 1.6mm
                //-         li.y-scale-item(style="top: 100%;") 1.2mm
                //-     ul.chart-content
                //-         li.chart-bar
                //-             .bar-value(style="height:60%;").normal
                //-             .guideLine
                //-         li.chart-bar
                //-             .bar-value(style="height:50%;").danger
                //-             .guideLine
                //-         li.chart-bar
                //-             .bar-value(style="height:75%;")
                //-             .guideLine
                //-         li.chart-bar
                //-             .bar-value(style="height:85%;")
                //-             .guideLine
                //-     ul.x-axis
                //-         li.x-scale-item 左前轮
                //-         li.x-scale-item 左后轮
                //-         li.x-scale-item 右前轮
                //-         li.x-scale-item 右后轮
        li.safety-item.rht
            .safety-item-hd
                h3.safety-item-hd-index 2
                p.safety-item-hd-name 刹车片厚度
                    .icon.icon-info
                h4.safety-item-hd-summary 左后轮刹车片磨损严重, 建议更换
            .safety-item-bd
        li.safety-item.lft
            .safety-item-hd
                h3.safety-item-hd-index 3
                p.safety-item-hd-name 电瓶
                    .icon.icon-info
                h4.safety-item-hd-summary 正常
            .safety-item-bd
        li.safety-item.rht
        li.safety-item.lft
        li.safety-item.rht
            .safety-item-hd
                h3.safety-item-hd-index 6
                p.safety-item-hd-name 制动系统
                    .icon.icon-info
                h4.safety-item-hd-summary 正常
            .safety-item-bd