#detail_para.report_config.report_module
  .report_hd.clearfix
    .num 
    .title
      .main_title 重要配置
      .sub_title "经16项专业检测，重要配置运行良好"
    .promise
      .icon.icon-tui
      .desc 与描述不符7天包退；配置损坏7天包修
  .report_bd
    .config-table
      .config_legend.clearfix
        .legenf-item
          i.biaopei
          span 标配
        .legenf-item
          i.jiapei
          span 加配
        .legenf-item
          i.nopei
          span 无此配置
        .legenf-item
          i.config-normal
          span 配置正常
        .legenf-item
          i.config-abnormal
          span 配置异常
      .config-detail.clearfix
        .detail-box.config-left
          .config-item.clearfix
            .config-name 防抱死制动系统
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 车载雷达
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 真皮座椅
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 导航系统
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 氙气大灯
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name DVD多媒体系统
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 倒车影像
            .config-cont
              .con-exist
                .jiapei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 电动调节前座椅
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
        .detail-box
          .config-item.clearfix
            .config-name 全景天窗
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 电动天窗
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 前后门电动升降窗
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 电动折叠后视镜
            .config-cont
              .con-exist
                .nopei
              .con-state
          .config-item.clearfix
            .config-name 安全气囊
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 自动独立恒温空调
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal
          .config-item.clearfix
            .config-name 一键启动
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-abnormal
          .config-item.clearfix
            .config-name 定速巡航
            .config-cont
              .con-exist
                .biaopei
              .con-state
                .config-normal