.report_control.report_module
  .report_hd.clearfix
    .num 
    .title
      .main_title 操控性评估
      .sub_title "经76项专业检测, 操控系统健康良好, 无操控障碍"
    .promise
      .desc 若有不符，七天包修
      .icon 修
  .report_bd
    .costum-slide-ctn
        ul.content
            li.control-start
                .car-and-info
                    .info-item.right-dir.fire-switch.good
                        .info-icon
                        .info-text
                            .info-text-title 点火开关
                            .info-text-detail 旋转正常, 无卡滞
                    .info-item.start-engine.good
                        .info-icon
                        .info-text
                            .info-text-title 启动马达及线路
                            .info-text-detail 马达启动正常, 无卡滞及异常声音. 接启动马达显露无破损和接触不良.
                    .info-item.fire-loops.warn
                        .info-icon
                        .info-text
                            .info-text-title 点火线圈
                            .info-text-detail 发动机怠速平稳, 在加速即负荷下动力正常(无加速迟滞, 无怠速抖动); 无漏电和启动不凉现象.
                    .info-item.spark-plug.good
                        .info-icon
                        .info-text
                            .info-text-title 火花塞
                            .info-text-detail 发动机转速平稳, 无抖动, 漏电现象. 正常电极间隙为(1.3-1.7mm)
                .road
            li.control-accelerate.active
                .car-and-info
                    .info-item.acc-hub.good
                        .info-icon
                        .info-text
                            .info-text-title 变速器总成
                            .info-text-detail
                                ol
                                    li 无明显挂档冲击, 无异响, 行驶中无明显闯档
                                    li 离合器片无打滑, 无抖动, 无烧焦味
                                    li 无机械故障, 电子故障
                    .info-item.petrol-pump.good
                        .info-icon
                        .info-text
                            .info-text-title 汽油泵
                            .info-text-detail 燃油压力正常值为230-250kpa, 在工作时无异常声音.
                    .info-item.fuel-pressure-regulator.warn
                        .info-icon
                        .info-text
                            .info-text-title 燃油压力调节器
                            .info-text-detail 燃油压力正常, 值为230-250kpa之间
                    .info-item.injection-nozzle.good
                        .info-icon
                        .info-text
                            .info-text-title 喷油嘴
                            .info-text-detail 喷油雾化正常, 怠速平稳, 发动机加速正常.
                .road
            li.control-steady
                .car-and-info
                .road
            li.control-turn
                .car-and-info
                .road
            li.control-brake
                .car-and-info
                .road
        ul.indicator
            li.idc-item.first.active
                p.idc-text(data-target="start") 启动
            li.idc-item
                span.idc-line
                p.idc-text(data-target="accelerate") 加速
            li.idc-item
                span.idc-line
                p.idc-text(data-target="steady") 匀速
            li.idc-item
                span.idc-line
                p.idc-text(data-target="turn") 转弯
            li.idc-item
                span.idc-line
                p.idc-text(data-target="brake") 制动