.report_important.report_module
  .report_hd.clearfix
    .num 
    .title
      .main_title 重大事故排除
      .sub_title 该车该车该车该车该车该车该车该车该车该车该车该车该车该车
    .promise
      .desc 若有不符，七天包退
      .icon 退
  .report_bd
    .con-3
       .item
           .wrapper
               .hd
                 .num 1
                 .title 排除车身重大撞击 <i class="report-tip" data-text="1234"></i>
                 .sub-title 无重大撞击
               .bd
    .con-1-1-1.clearfix
        .item
            .wrapper
              .hd
                  .num 1
                  .title 排查火烧车痕迹 <i class="report-tip" data-text="1234"></i>
                  .sub-title 非火烧车
              .bd
        .item
            .wrapper
                .hd
                    .num 1
                    .title 排查水浸车痕迹 <i class="report-tip" data-text="1234"></i>
                    .sub-title 无重大撞击
                .bd
        .item
            .wrapper
                .hd
                    .num 1
                    .title 排除车身重大撞击 <i class="report-tip" data-text="1234"></i>
                    .sub-title 无重大撞击
                .bd


