.report_important.report_module
  .report_hd.clearfix
    .num 
    .title
      .main_title 重大事故排除
      .sub_title "经113项专业检测，该车没有发生重大事故、不是火烧车，不是水浸车。共4处钣金修复，不影响安全性能。"
    .promise
      .desc 与描述不符7天包退
      .icon.icon-tui
  .report_bd
    .con-3.con
       .item
           .wrapper
               .hd
                 .num 1
                 .title 排查车身重大撞击 <i class="report-tip" data-title="排除车身重大撞击" data-summary="指排除车辆遭受猛烈撞击的事故车。正常情况车身都能保证一定的强度和刚度。事故车撞击后，车辆很容易散架，非常危险。"></i><span class="tip-text">点此查看判定标准</span>
                 .sub-title 无重大撞击，车身左右对称
               .bd.pics
                 .pic-main
                 .pic.pic-1
                 .pic.pic-2
                 .pic.pic-3(style="opacity:1;")
                 .pic.pic-4
                 .pic.pic-5
                 .trigger.trigger-1(data-pic="pic-1")
                 .trigger.trigger-2(data-pic="pic-2")
                 .trigger.trigger-3(data-pic="pic-3")
                 .trigger.trigger-4(data-pic="pic-4")
                 .trigger.trigger-5(data-pic="pic-5")

      .con-1-1-1.clearfix.con.row2
        .item.huoshao
            .wrapper
              .hd
                  .num 2
                  .title 排查火烧车痕迹 <i class="report-tip" data-title="排查火烧车痕迹" data-summary="指排除被高温烧灼过的车辆。火烧车易引起全车电路问题，且随时都有可能二次燃烧。"></i>
                  .sub-title 非火烧车
              .bd
        .item.shuijin
            .wrapper
                .hd
                    .num 3
                    .title 排查水浸车痕迹 <i class="report-tip" data-title="排查水淹车痕迹" data-summary="指排除被水淹过的车辆。水淹车的电器容易出现间接性故障，而且不容易排查，费钱费时。"></i>
                    .sub-title 非水浸车
                .bd
        .item.fadongji
            .wrapper
                .hd
                    .num 4
                    .title 排查发动机重要部件 <i class="report-tip" data-title="排查发动机重要部件" data-summary="指排除发动缸体、缸盖、活塞、曲轴连杆、轴承等关键部件受损。若发动机产生故障，维修麻烦且费用昂贵。"></i>
                    .sub-title 发动机正常
                .bd
      .con-3.con
          .item.banjin
              .wrapper
                  .hd
                      .num 5
                      .title 钣金修复 <i class="report-tip" data-title="钣金修复" data-summary="指车辆外观件受损变形后，进行的整形喷漆修复。主要保证金属不受腐蚀和美化外观的效果，对车辆行驶安全无影响。"></i><span class="tip-text">点此查看判定标准</span>
                      .sub-title.red 该车共 4 处钣金修复
                  .bd
                      .tips
                        .tip.normal
                            i
                            |原车漆或刮痕修复
                        .tip.nonormal
                          i
                          |钣金修复
                        .tip.desc
                          i *
                          |低于30毫米的划痕及小于30*30平方毫米的凹陷，不影响安全性能，对于外观影响也比较小，不在此处标出，请以实车为准
                      img(src="http://f2e.souche.com/assets/images/detail/report-i-allview.png")

