.report_safety.report_module
  .report_hd.clearfix
    .num 
    .title
      .main_title 安全性评估
      .sub_title "经76项专业检测, 该车无安全隐患"
    .promise
      .desc 若有不符，七天包修
      .icon 修
  .report_bd
    ul.safety-list.clear-flt
        li.safety-item.lft.wheel-depth
            .safety-item-hd
                h3.safety-item-hd-index 1
                p.safety-item-hd-name 胎纹深度
                    .icon.icon-info
                h4.safety-item-hd-summary 左后轮磨损严重, 建议更换
            //- 后端填充数据
            //-     胎纹深度
            //-     最大最小和警戒值
            .safety-item-bd(data-reportdata="1.7 1.55 1.78 1.65" data-edgedata="1.9 1.2 1.5")
                //- div.histogram.with-y.with-x
                //-     ul.y-axis
                //-         li.y-scale-item(style="top: 0%;") 1.9mm
                //-         li.y-scale-item(style="top: 50%;") 1.6mm
                //-         li.y-scale-item(style="top: 100%;") 1.2mm
                //-     ul.chart-content
                //-         li.chart-bar
                //-             .bar-value(style="height:60%;").normal
                //-             .guideLine
                //-         li.chart-bar
                //-             .bar-value(style="height:50%;").danger
                //-             .guideLine
                //-         li.chart-bar
                //-             .bar-value(style="height:75%;")
                //-             .guideLine
                //-         li.chart-bar
                //-             .bar-value(style="height:85%;")
                //-             .guideLine
                //-     ul.x-axis
                //-         li.x-scale-item 左前轮
                //-         li.x-scale-item 左后轮
                //-         li.x-scale-item 右前轮
                //-         li.x-scale-item 右后轮
        li.safety-item.rht.brake-thickness
            .safety-item-hd
                h3.safety-item-hd-index 2
                p.safety-item-hd-name 刹车片厚度
                    .icon.icon-info
                h4.safety-item-hd-summary 左后轮刹车片磨损严重, 建议更换
            .safety-item-bd
        li.safety-item.lft.liquid-level
            .safety-item-hd
                h3.safety-item-hd-index 3
                p.safety-item-hd-name 液位
                    .icon.icon-info
                h4.safety-item-hd-summary 正常
            .safety-item-bd
        li.safety-item.rht.antifreeze
            .safety-item-hd
                h3.safety-item-hd-index 4
                p.safety-item-hd-name 防冻液
                    .icon.icon-info
                h4.safety-item-hd-summary 正常
            .safety-item-bd
                .hist-ctn
                .bottom-ball
        li.safety-item.full.brake-system
            .safety-item-hd
                h3.safety-item-hd-index 5
                p.safety-item-hd-name 制动系统
                    .icon.icon-info
                h4.safety-item-hd-summary 正常
            .safety-item-bd
                ul.brake-system-list
                    li.brake-system-item.good.first
                        span.brake-system-icon
                        .item-name 刹车分泵, 总泵
                        .item-detail 总泵分泵回位正常, 无渗油
                    li.brake-system-item.good
                        span.brake-system-icon
                        .item-name 制动助理器及软管
                        .item-detail 液压制动助力泵组件, 管路安装牢靠,<br/>无渗漏情况
                    li.brake-system-item.warn
                        span.brake-system-icon
                        .item-name 刹车真空助力泵
                        .item-detail
                            ol.detail-list
                                li 真空助力泵外观没有腐蚀的情况
                                li 制动踏板无漏真空现象
                                li 真空助理正常
                    li.brake-system-item.good
                        span.brake-system-icon
                        .item-name 制动油管<br/>及ABS传感器
                        .item-detail
                            ol.detail-list
                                li 管路安装牢靠, 无渗漏情况
                                li ABS传感器牢靠, 感应信号正常, 无顺坏
