.report_summary.clearfix
  .level-card
    .card-stage
      .card-box
        .card-cont
          p A+
        .card-rule
    .look-rule 
      span.look 查看规则
      span.back.hidden 返回
  .summary-box
    .title.clearfix 
      .text 大搜车检测报告
      .report-num
        span 编号 ：
        em No.60140518
    .summary-info
      p 质检对象 ：福特2007款蒙迪欧致胜2.3-M/MT豪华运动型
      p 检测项目 ：154项国家标准检测及95项大搜车专项检测
      p 质检专员 ：范丁丁  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 质检时间 ：2014年9月5日
    .summary-cont
      .cont-item.clearfix
        .name 事故车排除
        .resule 不是事故车、火烧车、水浸车，共4处钣金修复
      .cont-item.clearfix
        .name 安全性评估
        .resule 无安全隐患
      .cont-item.clearfix
        .name 超控性能评估
        .resule 操控系统健康良好，无超控障碍
      .cont-item.clearfix
        .name 重要配置
        .resule 重要配置完好，功能正常
script.
  var summary_stage_time = 0;
  $(".level-card").mouseenter(function(){
        $(".card-box").addClass("card-trans");
    });
  $(".level-card").mouseleave(function(){
    $(".card-box").removeClass("card-trans");
    });
  $(".look-rule").click(function(){
    $(".look-rule .look").toggleClass("hidden");
    $(".look-rule .back").toggleClass("hidden");
    $(".card-cont").toggleClass("card-click");
    $(".card-box").toggleClass("card-trans");
    });
 