.report_important.report_module
  .report_hd.clearfix
    .num 
    .title
      .main_title 重大事故排除
      .sub_title “该车没有发生重大事故、不是火烧车，不是水浸车。共4处钣金修复，不影响安全性能。”
    .promise
      .desc 若有不符，七天包退
      .icon 退
  .report_bd
    .con-3.con
       .item
           .wrapper
               .hd
                 .num 1
                 .title 排除车身重大撞击 <i class="report-tip" data-text="1234"></i>
                 .sub-title 无重大撞击，车身左右对称
               .bd
    .con-1-1-1.clearfix.con
        .item
            .wrapper
              .hd
                  .num 2
                  .title 排查火烧车痕迹 <i class="report-tip" data-text="1234"></i>
                  .sub-title 非火烧车
              .bd
        .item
            .wrapper
                .hd
                    .num 3
                    .title 排查水浸车痕迹 <i class="report-tip" data-text="1234"></i>
                    .sub-title 非水浸车
                .bd
        .item
            .wrapper
                .hd
                    .num 4
                    .title 排查发动机重要部件 <i class="report-tip" data-text="1234"></i>
                    .sub-title 发动机正常
                .bd
      .con-3.con
          .item
              .wrapper
                  .hd
                      .num 5
                      .title 钣金修复 <i class="report-tip" data-text="1234"></i>
                      .sub-title.red 该车共 4 处钣金修复
                  .bd


