.report_module.report_important.report_versionb
    .versionb-hd
        h2.promise-title 大搜车承诺
        p.promise-content 购车后7天内发现是事故车/火烧车/水浸车/发动机异常，大搜车全款先行赔付    
    .report_bd
        .con-3.con
            .item
               .wrapper
                   .hd
                        .num 1
                        .title 排查车身重大撞击 <i class="report-tip" data-title="排除车身重大撞击" data-summary="1.以下部位未发生变形、扭曲、烧焊、更换或褶皱：<br>左A柱、左B柱、左C柱、右A柱、右B柱、右C柱、左前纵梁、右前纵梁、左前减震器悬挂部位、右前减震器悬挂部位、左后减震器悬挂部位、右后减震器悬挂部位、左前翼子板内板、右前翼子板内板、左后翼子板内板、右后翼子板内板、后底板左纵梁、后底板右纵梁、后底板横梁<br>2.以下部位未发生更换：<br>左后翼子板外板、右后翼子板外板、左裙围、右裙围<br>3.水箱框架（只包含有原厂焊点的框架）未发生更换<br>4.中底板、后底板无破损（超过直径5厘米）、未出现严重变形（凹陷直径大于20厘米）或更换"></i><span class="tip-text">点此查看判定标准</span>
                        .sub-title 无重大撞击，车身左右对称
                        .bd.pics
                            .pic-main
                            .pic.pic-1
                            .pic.pic-2
                            .pic.pic-3(style="opacity:1;")
                            .pic.pic-4
                            .pic.pic-5
                            .trigger.trigger-1(data-pic="pic-1")
                            .trigger.trigger-2(data-pic="pic-2")
                            .trigger.trigger-3(data-pic="pic-3")
                            .trigger.trigger-4(data-pic="pic-4")
                            .trigger.trigger-5(data-pic="pic-5")

        .con-1-1.clearfix.con.row2
            .item.huoshao
                .wrapper
                    .hd
                        .num 2
                        .title 排查火烧车痕迹 <i class="report-tip" data-title="排查火烧车痕迹" data-summary="火烧车是指符合以下任意一条描述的车辆：<br>1.发动机线束和车身线束更换新件及局部地方有火烧痕迹；<br>2.发动机线束和车身线束有火烧熔线及局部地方有火烧痕迹；<br>3.车身各夹层内有火烧熏黑的痕迹；<br>4.发动机舱、车厢内或尾箱内有烧黑痕迹。"></i>
                        .sub-title 非火烧车
                    .bd
            .item.shuijin
                .wrapper
                    .hd
                        .num 3
                        .title 排查水浸车痕迹 <i class="report-tip" data-title="排查水淹车痕迹" data-summary="水浸车是指同时符合以下任意两条或两条以上描述的车辆：<br>1.座椅底部的金属支架和滑轨有非自然锈蚀；<br>2.安全带抽到底，有水迹或霉斑；<br>3.车底板上有一层用来隔音隔热的棉毡，棉毡上有水渍或泥沙；<br>4.悬挂组件的固定螺丝及刹车挡板有非自然锈蚀；<br>5.备胎座有水渍或污泥；<br>6.驾驶舱内地胶或地毯有拆卸痕迹并有水迹、污渍。"></i>
                        .sub-title 非水浸车
                    .bd