.report_control.report_module
  .report_hd.clearfix
    .num 
    .title
      .main_title 操控性评估
      .sub_title "经76项专业检测, 操控系统健康良好, 无操控障碍"
    .promise
      .desc 若有不符，七天包修
      .icon 修
  .report_bd
    .costum-slide-ctn
        ul.content
            li.control-start.active
                .car-and-info
                .road
            li.control-accelerate
                .car-and-info
                .road
            li.control-steady
                .car-and-info
                .road
            li.control-turn
                .car-and-info
                .road
            li.control-brake
                .car-and-info
                .road
        ul.indicator
            li.idc-item(data-target="start") 启动
            li.idc-item(data-target="accelerate") 加速
            li.idc-item(data-target="steady") 匀速
            li.idc-item(data-target="turn") 转弯
            li.idc-item(data-target="brake") 制动