.report_safety.report_module
  .report_hd.clearfix
    .num 
    .title
      .main_title 安全性评估
      .sub_title "经76项专业检测, 该车还是不要开了..."
    .promise
      .desc 若有不符，七天包出车祸
      .icon 退
  .report_bd
    ul.safety-list.clear-flt
        li.safety-item.lft
            .safety-item-hd
                h3.safety-item-hd-index 1
                p.safety-item-hd-name 胎纹深度
                    .icon.icon-info
                h4.safety-item-hd-summary 左后轮磨损严重, 建议更换
            .safety-item-bd
                div.histogram
                    ul.y-axis
                    ul.x-axis
                    ul.chart-content

        li.safety-item.rht
            .safety-item-hd
                h3.safety-item-hd-index 2
                p.safety-item-hd-name 刹车片厚度
                    .icon.icon-info
                h4.safety-item-hd-summary 左后轮刹车片磨损严重, 建议更换
            .safety-item-bd
        li.safety-item.lft
            .safety-item-hd
                h3.safety-item-hd-index 3
                p.safety-item-hd-name 电瓶
                    .icon.icon-info
                h4.safety-item-hd-summary 正常
            .safety-item-bd
        li.safety-item.rht
        li.safety-item.lft
        li.safety-item.rht
            .safety-item-hd
                h3.safety-item-hd-index 6
                p.safety-item-hd-name 制动系统
                    .icon.icon-info
                h4.safety-item-hd-summary 正常
            .safety-item-bd
