#double11{
  .cars-mod{
    .wrapper{
      width:1150px;
      margin:0 auto;
    }

  }
  #banner{
    height: 580px;

  }
  #content{
    background: url(../../images/double11/bg.png) repeat-x;
    .wrapper{
      width: 1160px;
      margin: 0 auto;
    }
    .free-car{
      background: url(../../images/double11/free-bg.png) no-repeat;
      height: 1075px;
      padding:0 90px;
      .rule{
        height: 35px;
        padding:20px 0;
        a{
          display: block;
          float: right;
          font-size: 20px;
          color: #ffdd52;
          line-height: 35px;
          margin-right: 40px;
          margin-left: 10px;
        }
        i{
          display: block;
          float: right;
          width: 35px;
          height: 35px;
          border-radius: 35px;
          font-style: normal;
          font-weight: bold;
          background: #ffdd52;
          color: #7950b7;
          font-size: 25px;
          line-height: 35px;
          text-align: center;
        }
      } 
      .free-head{
        height: 80px;
        .title{
          float: left;
          margin-left: 10px;

          em{
            font-size: 45px;
            color: #381266;
            font-weight: bold;
          }
          span{
            font-size: 28px;
            color: #381266;
            font-weight: bold;

          }
        }
        .number{
          float: left;
          margin-left: 20px;
          h1{
           font-size: 17px;
           color:  #381266;
           em{
            color: #e05030;
           }
          }
        }
      }
    }
  }
}
@import "double11/popup.less";
