#gouchejie{
  #content{
    height: 4635px;
    background:#dfdfdf url(../../images/acts/gouchejie/bg.png) no-repeat top center;
    .wrapper{
      width: 1035px;
      margin: 0 auto;
      height: 2230px;
      position: relative;
      padding-top: 515px;
      .share{
        position: absolute;
        width: 160px;
        height: 126px;
        background: url(../../images/acts/gouchejie/weibo.png) no-repeat;
        top: 370px;
        right:20px;
        a{
          display: block;
          width: 100px;
          height: 100px;
          margin-top: 10px;
          margin-left: 45px;
        }
      }
      .erweima{
        width: 275px;
        height: 384px;
        background: url(../../images/acts/gouchejie/erweima.png) no-repeat;
        position: fixed;
        top: 300px;
        right: 50px;
      }
      .baoming{
        .head{
          width: 1032px;
          height: 191px;
          background: url(../../images/acts/gouchejie/head.png) no-repeat;
        }
        .content{
          width: 963px;
          height:401px;
          background: url(../../images/acts/gouchejie/baoming-bg.png) no-repeat;
          padding: 40px 35px;
          .explain{
            float: left;
            width: 390px;
            .timedown{
              width: 380px;
              height: 130px;
              background: #9d161c;
              border-radius: 5px;
            }
          }
          .baoming-form{
            float: right;
            width: 537px;
            height: 392px;
            background: url(../../images/acts/gouchejie/from-bg.png) no-repeat;
          }
        }
      }
    }
    .wrap-car{
      height: 1885px;
      background: #dfdfdf url(../../images/acts/gouchejie/foot-bg.png) no-repeat bottom center;
    }
  }
  #footer{
    margin-top: 0;
  }
}