#gouchejie{
  #content{
    height: 4635px;
    background:#dfdfdf url(../../images/acts/gouchejie/bg.png?123) no-repeat top center;
    .wrapper{
      width: 1035px;
      margin: 0 auto;
      height: 2230px;
      position: relative;
      padding-top: 525px;
      .share{
        position: absolute;
        width: 160px;
        height: 126px;
        background: url(../../images/acts/gouchejie/weibo.png) no-repeat;
        top: 150px;
        right:20px;
        a{
          display: block;
          width: 100px;
          height: 100px;
          margin-top: 10px;
          margin-left: 45px;
        }
      }
      .erweima{
        width: 275px;
        height: 384px;
        background: url(../../images/acts/gouchejie/erweima.png) no-repeat;
        position: fixed;
        top: 300px;
        right: 0px;
      }
      .baoming{
        .head{
          width: 1032px;
          height: 180px;
          background: url(../../images/acts/gouchejie/head.png) no-repeat;
        }
        .content{
          width: 963px;
          height:401px;
          background: url(../../images/acts/gouchejie/baoming-bg.png) no-repeat;
          padding: 40px 35px;
          .explain{
            float: left;
            width: 390px;
            .timedown{
              width: 375px;
              height: 90px;
              background: #9d161c;
              border-radius: 5px;
              padding: 20px;
              .title{
                font-size: 20px;
                color: #fcf1e1;
              }
              .time{
                margin-top: 15px;
                span{
                  display: block;
                  float: left;
                  width: 58px;
                  height: 48px;
                  border-radius: 5px;
                  background: #fcf1e1;
                  color: #c32021;
                  line-height: 48px;
                  text-align: center;
                  margin-right: 10px;
                  font-size: 25px;
                  font-weight: bold;
                }
                em{
                  display: block;
                  float: left;
                  font-size: 15px;
                  color: #fcf1e1;
                  margin-right: 10px;
                  line-height: 48px;
                  height: 48px;
                }
              }
            }
            .rule{
              margin-top: 18px;
              .title{
                font-size: 20px;
                color: #fcf1e1;
              }
              .text{
                margin-top: 10px;
                .text-item{
                  margin-bottom: 10px;
                  i{
                    font-style: normal;
                    display: block;
                    width: 22px;
                    height: 22px;
                    border-radius: 22px;
                    background: #fcf1e1;
                    color: #c32021;
                    font-size: 12px;
                    text-align: center;
                    line-height: 22px;
                    float: left;
                    margin-right: 10px;
                  }
                  span{
                    line-height: 20px;
                    color: #fcf1e1;
                    font-size: 14px;
                  }
                }
              }
            }
          }
          .baoming-form{
            float: right;
            width: 337px;
            height: 272px;
            background: url(../../images/acts/gouchejie/from-bg.png) no-repeat;
            padding: 60px 100px;
            .title{
              font-size: 32px;
              text-align: center;
              color: #c32021;
              font-family: "黑体",Tahoma, Verdana;
              font-weight: bold;
              margin-bottom: 15px;
            }
            .from-item{
              height: 35px;
              margin-bottom: 10px;
              label{
                display: block;
                float: left;
                width: 70px;
                color: #a69277;
                line-height: 35px;
                font-size: 14px;
              }
              input{
                height: 32px;
                border: none;
                width: 250px;
                padding-left: 7px;
                line-height: 18px;
                font-size: 14px;
              }
            }
            .submit{
              margin: 0 auto;
              width: 170px;
              padding-top: 30px;
              input{
                width: 170px;
                height: 40px;
                border: none;
                border-radius: 5px;
                background: #e73930;
                color: #fff;
                font-size: 20px;
              }
            }
          }
        }
      }
      .map{
        width: 1033px;
        height: 354px;
        background: url(../../images/acts/gouchejie/map.png) no-repeat right;
      }
    }
    .car-sp{
      margin-top: 60px;
      a{
        display: block;
        margin-bottom: 20px;
      }
      .car-1{
        width: 1026px;
        height: 333px;
        background:url(../../images/acts/gouchejie/car-1.png) no-repeat;
      }
      .car-2{
        width: 1026px;
        height: 317px;
        background:url(../../images/acts/gouchejie/car-2.png) no-repeat;
      }
      .car-3{
        width: 1026px;
        height: 320px;
        background:url(../../images/acts/gouchejie/car-3.png) no-repeat;
      }
    }
    .wrap-car{
      height: 1885px;
      background: #dfdfdf url(../../images/acts/gouchejie/foot-bg.png) no-repeat bottom center;
      .car-content{
        width: 1000px;
        margin: 0 auto;
        .title{
          height: 60px;
          line-height: 60px;
          color: #fff;
          font-size: 25px;
          text-align: center;
          background: #c83f3f;
        }
        .car-list{
          background: #f7f7f7;
          padding: 10px 0px 0px 10px;
          .car-box{
            margin-bottom: 10px;
            width: 320px;
            height: 350px;
            border: 1px solid #ededed;
            float: left;
            background: #fff;
            margin-right: 7px;
            .car-img{
              display: block;
              width: 320px;
              height: 215px;
              img{
                width: 320px;
                height: 215px;
              }
            }
            .car-link{
              font-size: 16px;
              margin: 12px 16px 0px 16px;
              height: 40px;
              overflow: hidden;
              display: block;
              color: #333;
              font-weight: bold;
            }
            .car-link:hover{
              color: #FF4400;
            }
            .car-info{
              margin: 12px 16px 0px 16px;
              height: 25px;
              .price{
                float: left;
                font-size: 25px;
                color: #f35b00;
                font-weight: bold;
              }
              .time{
                float: right;
                color: #999;
                font-size: 14px;
                margin-top: 10px;
              }
            }
            .car-ad{
              margin: 12px 16px 0px 16px;
              color: #999;
              font-size: 14px;
            } 
          }
        }
        .foot{
          height: 60px;
          line-height: 60px;
          color: #fff;
          font-size: 16px;
          text-align: right;
          background: #c83f3f;
          padding-right: 20px;
          a{
            color: #fcfcfc;
          }
        }
      }
    }
  }
  #footer{
    margin-top: 0;
  }
}