#gouchejie{
  #content{
    height: 4635px;
    background:#dfdfdf url(../../images/acts/gouchejie/bg.png) no-repeat top center;
    .wrapper{
      width: 1035px;
      margin: 0 auto;
      height: 2745px;
      position: relative;
      .share{
        position: absolute;
        width: 160px;
        height: 126px;
        background: url(../../images/acts/gouchejie/weibo.png) no-repeat;
        top: 100px;
        right:100px;
      }
    }
    .wrap-car{
      height: 1885px;
      background: #dfdfdf url(../../images/acts/gouchejie/foot-bg.png) no-repeat bottom center;
    }
  }
  #footer{
    margin-top: 0;
  }
}