#mother #content {
  width: 100%;
}
#mother #content .banner {
  background: url(../../images/acts/mother/banner.png?123) no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
}
#mother #content .wrapper {
  width: 100%;
  background: url(../../images/acts/mother/bg.jpg) repeat-y;
  height: 4360px;
}
#mother #content .wrapper .wrapper-box {
  width: 1215px;
  margin: 0 auto;
  height: 4360px;
}
#mother #content .wrapper .wrapper-box .paoxiao {
  width: 100%;
  height: 760px;
}
#mother #content .wrapper .wrapper-box .paoxiao .image-left {
  background: url(../../images/acts/mother/mama1.png) no-repeat;
  float: left;
  background-position: bottom;
  width: 500px;
  height: 690px;
  margin-top: 70px;
  z-index: 100;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right {
  float: left;
  height: 525px;
  margin-top: 235px;
  width: 715px;
  margin-left: -30px;
  position: relative;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .huapeng {
  position: absolute;
  background: url(../../images/acts/mother/huapeng.png) no-repeat;
  width: 75px;
  height: 113px;
  bottom: 0;
  z-index: 1000000;
  right: -50px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .mamatitle {
  width: 100%;
  height: 55px;
  background-color: #f6bf16;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 55px;
  font-family: Tahoma,Verdana;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .car-int {
  color: #6a4d2b;
  font-size: 18px;
  line-height: 25px;
  font-family: "黑体", Tahoma, Verdana;
  margin-top: 5px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content {
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content .list_content_img {
  display: block;
  float: left;
  width: 325px;
  height: 190px;
  overflow: hidden;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content_carInfo {
  float: left;
  width: 390px;
  position: relative;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content_carInfo h1 {
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  line-height: 1.5em;
  height: 60px;
  overflow: hidden;
  font-size: 19px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content_carInfo h1 a {
  color: #333;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content_carInfo .list_content_price {
  margin-bottom: 10px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content_carInfo .list_content_price .list_content_price_new {
  background-color: #f6bf16;
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content_carInfo .list_content_price .list_content_price_old {
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #898989;
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  float: left;
  text-decoration: line-through;
  text-decoration-color: #ff372d;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content_carInfo .list_content_other {
  margin-bottom: 5px;
  border: 1px solid #868686;
  border-left: none;
  margin-top: 15px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content_carInfo .list_content_other div {
  color: #030303;
  width: 127px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  float: left;
  border-left: 1px solid #868686;
  font-size: 18px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .list_content_carInfo .list_content_service div {
  color: #2a2826;
  width: 127px;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: center;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .car-bottom {
  width: 100%;
  height: 155px;
  margin-top: 5px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .car-bottom .car-box {
  width: 235px;
  height: 155px;
  float: left;
  margin-right: 3px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .car-bottom .car-box a {
  display: block;
  width: 235px;
  height: 155px;
  position: relative;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .car-bottom .car-box .car-price {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 35px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .car-bottom .car-box .car-price .new-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #f6bf16;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
}
#mother #content .wrapper .wrapper-box .paoxiao .car-right .car-bottom .car-box .car-price .old-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #898989;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
  text-decoration: line-through;
}
.guangchang {
  width: 100%;
  height: 720px;
}
.guangchang .car-left {
  float: right;
  height: 525px;
  margin-top: 190px;
  width: 715px;
  margin-right: 10px;
  position: relative;
}
.guangchang .car-left .yinxiang {
  position: absolute;
  background: url(../../images/acts/mother/yinxiang.png) no-repeat;
  width: 68px;
  height: 126px;
  bottom: 0;
  z-index: 1000000;
  left: -50px;
}
.guangchang .car-left .mamatitle {
  width: 100%;
  height: 55px;
  background-color: #6a4c97;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 55px;
  font-family: Tahoma,Verdana;
}
.guangchang .car-left .car-int {
  color: #6a4d2b;
  font-size: 18px;
  line-height: 25px;
  font-family: "黑体", Tahoma, Verdana;
  margin-top: 5px;
  margin-bottom: 50px;
}
.guangchang .car-left .list_content {
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.guangchang .car-left .list_content .list_content_img {
  display: block;
  float: left;
  width: 325px;
  height: 190px;
  overflow: hidden;
}
.guangchang .car-left .list_content_carInfo {
  float: left;
  width: 390px;
  position: relative;
}
.guangchang .car-left .list_content_carInfo h1 {
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  line-height: 1.5em;
  height: 60px;
  overflow: hidden;
  font-size: 19px;
}
.guangchang .car-left .list_content_carInfo h1 a {
  color: #333;
}
.guangchang .car-left .list_content_carInfo .list_content_price {
  margin-bottom: 10px;
}
.guangchang .car-left .list_content_carInfo .list_content_price .list_content_price_new {
  background-color: #6a4c97;
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
}
.guangchang .car-left .list_content_carInfo .list_content_price .list_content_price_old {
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #898989;
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  float: left;
  text-decoration: line-through;
  text-decoration-color: #ff372d;
}
.guangchang .car-left .list_content_carInfo .list_content_other {
  margin-bottom: 5px;
  border: 1px solid #868686;
  border-left: none;
  margin-top: 15px;
}
.guangchang .car-left .list_content_carInfo .list_content_other div {
  color: #030303;
  width: 127px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  float: left;
  border-left: 1px solid #868686;
  font-size: 18px;
}
.guangchang .car-left .list_content_carInfo .list_content_service div {
  color: #2a2826;
  width: 127px;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: center;
}
.guangchang .car-left .car-bottom {
  width: 100%;
  height: 155px;
  margin-top: 5px;
}
.guangchang .car-left .car-bottom .car-box {
  width: 235px;
  height: 155px;
  float: left;
  margin-right: 3px;
}
.guangchang .car-left .car-bottom .car-box a {
  display: block;
  width: 235px;
  height: 155px;
  position: relative;
}
.guangchang .car-left .car-bottom .car-box .car-price {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 35px;
}
.guangchang .car-left .car-bottom .car-box .car-price .new-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #6a4c97;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
}
.guangchang .car-left .car-bottom .car-box .car-price .old-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #898989;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
  text-decoration: line-through;
}
.guangchang .image-right {
  float: right;
  background: url(../../images/acts/mother/mama2.png) no-repeat;
  background-position: right;
  width: 436px;
  height: 584px;
  margin-top: 120px;
  z-index: 100;
}
.furong {
  width: 100%;
  height: 715px;
}
.furong .image-left {
  float: left;
  background: url(../../images/acts/mother/mama3.png) no-repeat;
  background-position: right;
  width: 487px;
  height: 594px;
  margin-top: 120px;
  z-index: 100;
}
.furong .car-right {
  float: left;
  height: 525px;
  margin-top: 180px;
  width: 715px;
  margin-right: 10px;
  position: relative;
  margin-left: -20px;
}
.furong .car-right .kouhong {
  position: absolute;
  background: url(../../images/acts/mother/kouhong.png) no-repeat;
  width: 68px;
  height: 67px;
  bottom: 0;
  z-index: 1000000;
  right: -50px;
}
.furong .car-right .yinxiang {
  position: absolute;
  background: url(../../images/acts/mother/yinxiang.png) no-repeat;
  width: 68px;
  height: 126px;
  bottom: 0;
  z-index: 1000000;
  left: -50px;
}
.furong .car-right .mamatitle {
  width: 100%;
  height: 55px;
  background-color: #ff4d43;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 55px;
  font-family: Tahoma,Verdana;
}
.furong .car-right .car-int {
  color: #6a4d2b;
  font-size: 18px;
  line-height: 25px;
  font-family: "黑体", Tahoma, Verdana;
  margin-top: 5px;
  margin-bottom: 45px;
}
.furong .car-right .list_content {
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.furong .car-right .list_content .list_content_img {
  display: block;
  float: left;
  width: 325px;
  height: 190px;
  overflow: hidden;
}
.furong .car-right .list_content_carInfo {
  float: left;
  width: 390px;
  position: relative;
}
.furong .car-right .list_content_carInfo h1 {
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  line-height: 1.5em;
  height: 60px;
  overflow: hidden;
  font-size: 19px;
}
.furong .car-right .list_content_carInfo h1 a {
  color: #333;
}
.furong .car-right .list_content_carInfo .list_content_price {
  margin-bottom: 10px;
}
.furong .car-right .list_content_carInfo .list_content_price .list_content_price_new {
  background-color: #ff4d43;
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
}
.furong .car-right .list_content_carInfo .list_content_price .list_content_price_old {
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #898989;
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  float: left;
  text-decoration: line-through;
  text-decoration-color: #ff372d;
}
.furong .car-right .list_content_carInfo .list_content_other {
  margin-bottom: 5px;
  border: 1px solid #868686;
  border-left: none;
  margin-top: 15px;
}
.furong .car-right .list_content_carInfo .list_content_other div {
  color: #030303;
  width: 127px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  float: left;
  border-left: 1px solid #868686;
  font-size: 18px;
}
.furong .car-right .list_content_carInfo .list_content_service div {
  color: #2a2826;
  width: 127px;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: center;
}
.furong .car-right .car-bottom {
  width: 100%;
  height: 155px;
  margin-top: 5px;
}
.furong .car-right .car-bottom .car-box {
  width: 235px;
  height: 155px;
  float: left;
  margin-right: 3px;
}
.furong .car-right .car-bottom .car-box a {
  display: block;
  width: 235px;
  height: 155px;
  position: relative;
}
.furong .car-right .car-bottom .car-box .car-price {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 35px;
}
.furong .car-right .car-bottom .car-box .car-price .new-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #ff4d43;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
}
.furong .car-right .car-bottom .car-box .car-price .old-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #898989;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
  text-decoration: line-through;
}
.aojiao {
  width: 100%;
  height: 710px;
}
.aojiao .car-left {
  float: right;
  height: 525px;
  margin-top: 175px;
  width: 715px;
  margin-right: 10px;
  position: relative;
}
.aojiao .car-left .duihua {
  position: absolute;
  background: url(../../images/acts/mother/duihua.png) no-repeat;
  width: 68px;
  height: 75px;
  bottom: 0;
  z-index: 1000000;
  left: -50px;
}
.aojiao .car-left .mamatitle {
  width: 100%;
  height: 55px;
  background-color: #575757;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 55px;
  font-family: Tahoma,Verdana;
}
.aojiao .car-left .car-int {
  color: #6a4d2b;
  font-size: 18px;
  line-height: 25px;
  font-family: "黑体", Tahoma, Verdana;
  margin-top: 5px;
  margin-bottom: 32px;
}
.aojiao .car-left .list_content {
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.aojiao .car-left .list_content .list_content_img {
  display: block;
  float: left;
  width: 325px;
  height: 190px;
  overflow: hidden;
}
.aojiao .car-left .list_content_carInfo {
  float: left;
  width: 390px;
  position: relative;
}
.aojiao .car-left .list_content_carInfo h1 {
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  line-height: 1.5em;
  height: 60px;
  overflow: hidden;
  font-size: 19px;
}
.aojiao .car-left .list_content_carInfo h1 a {
  color: #333;
}
.aojiao .car-left .list_content_carInfo .list_content_price {
  margin-bottom: 10px;
}
.aojiao .car-left .list_content_carInfo .list_content_price .list_content_price_new {
  background-color: #575757;
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
}
.aojiao .car-left .list_content_carInfo .list_content_price .list_content_price_old {
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #898989;
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  float: left;
  text-decoration: line-through;
  text-decoration-color: #ff372d;
}
.aojiao .car-left .list_content_carInfo .list_content_other {
  margin-bottom: 5px;
  border: 1px solid #868686;
  border-left: none;
  margin-top: 15px;
}
.aojiao .car-left .list_content_carInfo .list_content_other div {
  color: #030303;
  width: 127px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  float: left;
  border-left: 1px solid #868686;
  font-size: 18px;
}
.aojiao .car-left .list_content_carInfo .list_content_service div {
  color: #2a2826;
  width: 127px;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: center;
}
.aojiao .car-left .car-bottom {
  width: 100%;
  height: 155px;
  margin-top: 5px;
}
.aojiao .car-left .car-bottom .car-box {
  width: 235px;
  height: 155px;
  float: left;
  margin-right: 3px;
}
.aojiao .car-left .car-bottom .car-box a {
  display: block;
  width: 235px;
  height: 155px;
  position: relative;
}
.aojiao .car-left .car-bottom .car-box .car-price {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 35px;
}
.aojiao .car-left .car-bottom .car-box .car-price .new-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #575757;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
}
.aojiao .car-left .car-bottom .car-box .car-price .old-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #898989;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
  text-decoration: line-through;
}
.aojiao .image-right {
  float: right;
  background: url(../../images/acts/mother/mama4.png) no-repeat;
  background-position: right;
  width: 436px;
  height: 584px;
  margin-top: 140px;
  z-index: 100;
}
.paiyou {
  width: 100%;
  height: 775px;
}
.paiyou .image-left {
  float: left;
  background: url(../../images/acts/mother/mama5.png) no-repeat;
  background-position: right;
  width: 487px;
  height: 775px;
  z-index: 100;
}
.paiyou .car-right {
  float: left;
  height: 540px;
  margin-top: 215px;
  width: 715px;
  margin-right: 10px;
  position: relative;
  margin-left: -20px;
}
.paiyou .car-right .jiweijiu {
  position: absolute;
  background: url(../../images/acts/mother/jiweijiu.png) no-repeat;
  width: 90px;
  height: 75px;
  bottom: 0;
  z-index: 1000000;
  right: -50px;
}
.paiyou .car-right .yinxiang {
  position: absolute;
  background: url(../../images/acts/mother/yinxiang.png) no-repeat;
  width: 68px;
  height: 126px;
  bottom: 0;
  z-index: 1000000;
  left: -50px;
}
.paiyou .car-right .mamatitle {
  width: 100%;
  height: 55px;
  background-color: #ff6600;
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 55px;
  font-family: Tahoma,Verdana;
}
.paiyou .car-right .car-int {
  color: #6a4d2b;
  font-size: 18px;
  line-height: 25px;
  font-family: "黑体", Tahoma, Verdana;
  margin-top: 5px;
  margin-bottom: 76px;
}
.paiyou .car-right .list_content {
  margin-top: 5px;
  position: relative;
  cursor: pointer;
}
.paiyou .car-right .list_content .list_content_img {
  display: block;
  float: left;
  width: 325px;
  height: 190px;
  overflow: hidden;
}
.paiyou .car-right .list_content_carInfo {
  float: left;
  width: 390px;
  position: relative;
}
.paiyou .car-right .list_content_carInfo h1 {
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  line-height: 1.5em;
  height: 60px;
  overflow: hidden;
  font-size: 19px;
}
.paiyou .car-right .list_content_carInfo h1 a {
  color: #333;
}
.paiyou .car-right .list_content_carInfo .list_content_price {
  margin-bottom: 10px;
}
.paiyou .car-right .list_content_carInfo .list_content_price .list_content_price_new {
  background-color: #ff6600;
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  float: left;
}
.paiyou .car-right .list_content_carInfo .list_content_price .list_content_price_old {
  color: #fff;
  font-size: 24px;
  width: 195px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background-color: #898989;
  font-family: "\5FAE\8F6F\96C5\9ED1", Tahoma, Verdana;
  float: left;
  text-decoration: line-through;
  text-decoration-color: #ff372d;
}
.paiyou .car-right .list_content_carInfo .list_content_other {
  margin-bottom: 5px;
  border: 1px solid #868686;
  border-left: none;
  margin-top: 15px;
}
.paiyou .car-right .list_content_carInfo .list_content_other div {
  color: #030303;
  width: 127px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  float: left;
  border-left: 1px solid #868686;
  font-size: 18px;
}
.paiyou .car-right .list_content_carInfo .list_content_service div {
  color: #2a2826;
  width: 127px;
  height: 38px;
  line-height: 38px;
  float: left;
  text-align: center;
}
.paiyou .car-right .car-bottom {
  width: 100%;
  height: 155px;
  margin-top: 5px;
}
.paiyou .car-right .car-bottom .car-box {
  width: 235px;
  height: 155px;
  float: left;
  margin-right: 3px;
}
.paiyou .car-right .car-bottom .car-box a {
  display: block;
  width: 235px;
  height: 155px;
  position: relative;
}
.paiyou .car-right .car-bottom .car-box .car-price {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 35px;
}
.paiyou .car-right .car-bottom .car-box .car-price .new-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #ff6600;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
}
.paiyou .car-right .car-bottom .car-box .car-price .old-price {
  float: left;
  width: 50%;
  color: #fff;
  background-color: #898989;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 17px;
  text-decoration: line-through;
}
.weixin {
  width: 100%;
  height: 620px;
  margin-top: 90px;
}
.weixin .weixin-title {
  width: 100%;
  font-size: 40px;
  color: #000000;
  text-align: center;
  line-height: 50px;
}
.weixin .weixin-content {
  width: 100%;
  height: 310px;
  margin-top: 20px;
}
.weixin .weixin-content .weixin-box {
  float: left;
  margin-right: 50px;
}
.weixin .weixin-content .weixin-box .weixin-text {
  width: 200px;
  height: 90px;
}
.weixin .weixin-content .weixin-box .weixin-text p {
  font-size: 13px;
  color: #222;
  text-align: center;
  line-height: 20px;
}
.weixin .weixin-content .weixin-box .dianzan {
  width: 50px;
  height: 20px;
  margin: 0 auto;
}
.weixin .weixin-content .weixin-box .dianzan i {
  display: block;
  float: left;
  width: 21px;
  height: 18px;
  background: url(../../images/acts/mother/zan.png) no-repeat;
  margin-right: 5px;
}
.weixin .weixin-content .weixin-box .dianzan span {
  font-size: 13px;
  color: #222;
}
