@orange:#fc7000;
#taqing{
  background: #efefef;
  a{
    color:#444;
  }
  a:hover{
  color:@orange;
  }
  #content{
    background: #efefef;
    width: 100%;
    height: 1772px;
    #banner{
      background: url("../../images/acts/taqing/banner.jpg") no-repeat;
      width: 100%;
      height: 648px;
      background-position: center;
    }
    .wrapper{
      width: 1258px;
      margin: 0 auto;
     .model1{
      width: 100%;
      height: 253px;
      background: url("../../images/acts/taqing/img1.jpg") no-repeat;
      position: relative;
      .act-link{
       position: absolute;
       width: 85px;
       height: 30px;
       top:95px;
       right: 300px;
       a{
        display: block;
        width: 85px;
        height: 30px;
       }
      }
     }
     .model2{
      width: 100%;
      height: 290px;
      background: url("../../images/acts/taqing/img2.jpg") no-repeat;
     }
     .model3{
      width: 100%;
      height: 368px;
      background: url("../../images/acts/taqing/img3.jpg") no-repeat;
     }
     .erweima{
      width: 100%;
      height: 215px;
      background: url("../../images/acts/taqing/img4.jpg") no-repeat;
     }
    }
  }
}