#volkswagen {
  background-color: #322826;
}
#volkswagen #content {
  background: url(../../images/acts/volkswagen/foot.jpg) no-repeat;
  background-position: bottom;
}
#volkswagen #content #banner {
  width: 100%;
  height: 885px;
  background: url(../../images/acts/volkswagen/banner.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper {
  width: 1234px;
  margin: 0 auto;
}
#volkswagen #content .wrapper .model {
  height: 294px;
  width: 100%;
  padding-top: 27px;
}
#volkswagen #content .wrapper .model a {
  display: block;
  width: 1110px;
  height: 238px;
  margin: 0 auto;
}
#volkswagen #content .wrapper .model1 {
  background: url(../../images/acts/volkswagen/img1.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model2 {
  background: url(../../images/acts/volkswagen/img2.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model3 {
  background: url(../../images/acts/volkswagen/img3.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model4 {
  background: url(../../images/acts/volkswagen/img4.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model5 {
  background: url(../../images/acts/volkswagen/img5.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model6 {
  background: url(../../images/acts/volkswagen/img6.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model7 {
  background: url(../../images/acts/volkswagen/img7.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model8 {
  background: url(../../images/acts/volkswagen/img8.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model9 {
  background: url(../../images/acts/volkswagen/img9.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model10 {
  background: url(../../images/acts/volkswagen/img10.jpg) no-repeat;
  background-position: center;
}
#volkswagen #content .wrapper .model11 {
  background: url(../../images/acts/volkswagen/img11.jpg) no-repeat;
  background-position: center;
  margin-bottom: 500px;
}
