#zhuanpan{
  #content{
    .banner{
      width: 100%;
      background: url(../../images/acts/dazhuanpan/banner.png) no-repeat center;
      height: 579px;
    }
    .zhuanpan{
      width: 100%;
      background: url(../../images/acts/dazhuanpan/bg-1.png) no-repeat center;
      height: 747px;
      .warp{
        width: 950px;
        margin: 0 auto;

        .top{
          width: 100%;
          height: 153px;
          background:url(../../images/acts/dazhuanpan/top.png) no-repeat center; 
          border-top: 1px solid #fff;
        }
        .cont{
          background: #fff;
          .rule-text{
            width: 380px;
          }
        }
      }
    }
    .bottom{
      width: 100%;
      background: url(../../images/acts/dazhuanpan/bu-2.png) no-repeat center;
      height: 474px;
    }
  }
}
#footer{
  margin-top: 0px;
}