@orange:#ff571a;
@route:"../..";
@import "../config.less";
@import "../index/mod/car-life.less";
@import "../index/mod/carItem.less";
#head-banner{
  height:360px;
  width:100%;
  background-size: cover;
  background-position: center;
  .wrapper{
    width:980px;
    margin:0 auto;
    text-align: center;
    .t{
      font-size: 48px;
      color:#fff;
      line-height: 60px;
      padding-top: 89px;
    }
    .con{
      p{
        margin-top: 19px;
        line-height: 24px;
        color:#fff;
        font-size: 14px;
      }
    }
  }
}
.list_main{
  width:1180px;
  margin:0 auto;
  margin-top: 20px;
}

/*

a.carImg
  img
  .timebuy.hidden

a.car-link(target='_blank', href='/pages/choosecarpage/choose-car-detail.html?carId=0388PhM1E3')
  | 雪佛兰 2013款  科帕奇2.4-A/MT七座城市版前驱

.car-price
  span.price ￥18.36万
  span.recommended 直降5000元

.car-info
  span.info-item 2012-04  上牌
  span.info-item 6.4万公里
  span.info-item 杭州

.carTail.clearfix
  a.collect.carCollect(data-carid='0388PhM1E3', data-num='7')
    | 收藏
    span 7
  .carConstrast(contrastid='null', carid='0388PhM1E3')
    input(type='checkbox')
    span 加入对比
  .contrast-waring.hidden 对比栏已满！你可以删除不需要的车辆，再继续添加。

.car-type
  .type-icon
  .up-time 三天前

*/

.list-box{
  margin-top: -10px;
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  @paddingTB: 20px;
  @bc: #ccc;

}

// 已售列表, 图片上显示已售的遮罩
.car-wrap.sold{
  .carItem .carImg{
    position: relative;
    &:after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      background-image: url('../../images/list/soldtag.png');
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
}

.car-nav{
  margin-bottom: 20px;
  background: #fff;
  border:1px solid #E6E6E6;
  *{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .cat-nav-upper{
    background-color: #F5F5F5;
    border-bottom: 1px solid #E6E6E6;
    height:44px;

    .car-tab,
    .view-switch{
      height: 100%;
    }

    .car-tab{
      float: left;
      .tab-item{
        float: left;
        min-width: 90px;
        height: 40px;
        padding: 0 1em;
        border-right: 1px solid #E6E6E6;
        border-bottom: 1px solid #E6E6E6;

        line-height: 40px;
        text-align: center;
        cursor: pointer;

        a{
          text-decoration: none;
          color: #666;
          font-size: 14px;
        }

        &.active{
          border-bottom: 1px solid #fff;
          background-color: #fff;
          .tab-item-carstatus{
            color: @soucheOrange;
          }
        }
      }
    }
    .orderby-ctn{
      float: right;
      margin-top: 12px;
      padding: 2px 4px 2px 20px;
      border-left: 1px solid #E6E6E6;

      .orderby-text{
        float: left;
      }
      .car-orderby{
        float: left;
        .orderby-item{
          float: left;
          margin:0 10px;
          cursor: pointer;

          .order-arrow{
            display: inline-block;
            width: 7px;
            height: 9px;
            margin: 2px 0 0 1px;
            // background-color: #ccc;
            background-image: url('../../images/list/arrow-down.png');
          }

          &.active{
            a{
              color: @soucheOrange;
            }
            &.asc .order-arrow{
              background-image: url('../../images/list/arrow-up-active.png');
            }
            &.desc .order-arrow{
              background-image: url('../../images/list/arrow-down-active.png');
            }
          }

          &.asc .order-arrow{
            background-image: url('../../images/list/arrow-up.png');
          }
          &.desc .order-arrow{
            background-image: url('../../images/list/arrow-down.png');
          }
        }
      }

    }
    .view-switch{
      float: right;
      width: 80px;
      height: 100%;
      .view-item{
        float: left;
        width: 40px;
        height: 100%;
        border-left: 1px solid #E6E6E6;
        cursor: pointer;

        a{
          display: block;
          width: 100%;
          height: 100%;
        }

        &.card{
          background-image: url('../../images/list/view-card.png');
        }
        &.list{
          background-image: url('../../images/list/view-list.png');
        }
        &.active{
          background-color: #fff;
          &.card{
            background-image: url('../../images/list/view-card-active.png');
          }
          &.list{
            background-image: url('../../images/list/view-list-active.png');
          }
        }
      }
    }

  }
  .car-filter-group{
    padding-left: 10px;

    .car-filter-item{
      line-height: 40px;
      display: inline-block;
      margin: 0 10px;
      cursor: pointer;

      position: relative;
      .mask-link{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
      }

      input, label{
        cursor: pointer;
      }
      input[type="checkbox"],
      input[type="radio"]{
        vertical-align: middle;
        margin-bottom: 1px;
        margin-top: -2px;
      }
    }
  }
}
.car-nav-fixed{
  position: fixed;
  top:0;
  z-index:100;
}


.card-box{
 
}


#other-go{
  background: #f2f2f2;
  padding:30px 0;
  .wrapper{
    width:1180px;
    margin:0 auto;
  }
  .other-hd{
    font-size:24px;
    line-height: 40px;
  }
  .go-list{
    margin-top: 20px;
    width:1300px;
  }
  .go-card{
    width:570px;
    height: 240px;
    float:left;
    margin-right: 40px;
    background: #fff;
    text-align: center;
    margin-bottom: 40px;
    .pic{
      float:left;
      width:285px;
      overflow: hidden;
      height: 100%;
      img{
        width: 295px;
        height: 100%;
      }
    }
    .infos{
      float:left;
      width:285px;
      .title{
        font-size:20px;
        margin-top: 20px;
        line-height: 30px;
      }
      .desc{
        line-height: 25px;
        font-size: 14px;
        margin-top: 10px;
        color:#999;
        height: 55px;
      }
      .car-pic{
        display: table-cell;
        width: 285px;
        height: 120px;
        vertical-align: middle;
        overflow: hidden;
        img{
          max-width: 210px;
          max-height: 110px;
        }
      }
    }
  }
}

.scenario-tip{
  float: left;
  padding-left: 20px;
  font-size: 14px;
  line-height: 44px;
  color: #666;
  .scenario-amount,
  .scenario-name{
    color: #333;
    margin-right: 15px;
  }
  .scenario-amount{
    color: @soucheOrange;
    margin: 0 3px;
  }
  .scenario-name{
    margin-left: 0px; 
  }
}

.car-nav.no-filter{
  .cat-nav-upper{
    border-bottom: none;
  }
}
.car-nav.car-nav-fixed{
  width: 1180px;
}
.car-wrap.card-box{
  margin-left: 0px;
  margin-right: -20px;
}

#footer{
  margin-top: 0px;
}