*{
  box-sizing: border-box;
}
#com-list{
  .wrapper{
    width: 1180px;
    margin: 0 auto;
    position: relative;
  }
  .list-map{
    margin-top: 15px;
    color: #666;
    font-size: 14px;
  }
  .list-wrap{
    margin-top: 22px;
    .arts-search{
      width: 300px;
      float: left;
      h1{
        color: #333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      form{
        width: 180px;
        position: relative;
        input{
          width: 180px;
          height: 32px;
          border: 1px solid #E6E6E6;
          padding: 5px 10px;
        }
        button{
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(../../images/index/head-sprite.png) no-repeat;
          background-position: 0 -35px;
          border: none;
          position: absolute;
          top: 9px;
          right: 10px;
          cursor: pointer;
          opacity: 0.45;
          filter: alpha(opacity=45);
        }
        button:hover{
          opacity: 1;
          filter: alpha(opacity=100);
          background: url(../../images/index/head-sprite.png) no-repeat;
          background-position: 0 -55px;
        }
      }
    }
    .arts-list{
      width: 880px;
      float: left;
      .art-box{
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 25px;
        .art-images{
          float: left;
          width: 300px;
          margin-right: 30px;
          img{
            width: 100%;
          }
        }
        .art-cont{
          width: 545px;
          float: left;
          .title{
            font-size: 20px;

            span{
              color: #FF5417;
            }
            em{
              color: #333;
            }
          } 
          .art-info{
            font-size: 12px;
            color: #999;
            margin-top: 10px;
            margin-bottom: 10px;
            em{
              margin-left: 15px;
            }
            i{
              font-style: normal;
              margin-right: 5px;
            }
          }
          .art-sum{
            p{
              font-size: 16px;
              color: #666;
              line-height: 27px;
            }
          }
        }
      }
    }
  }
}