.compose-ctn .compose-input{
    height: 100%;
    padding: 0.5em;
    padding-top: 14px * 0.5 + @toobarH;
    font-size: 14px;
    outline: none;
    background-color: #f5f5f5;

    .tst(background-color 200ms ease;);

    &:focus{
        outline: none;
        background-color: #fff;
        // border: 2px solid #22B2EA;
    }
}