doctype html
html
  head.
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/news.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery-1.7.1.min.js?t=1"></script>
    <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery.flexslider-min.js?t=1"></script>
    <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/require.js?t=1"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#news
    #header
      .wrapper.clearfix
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        ul.head-tel
          li.souche
            a(href="#") 大搜车首页
          li.buycar
            a(href="#") 我要买车 
          li.sellcar
            a(href="#") 我要卖车
          li.qiugou
            a(href="#") 我的买车顾问
          li.welcome
            span 王小王，欢迎您
            a(href="#") [退出]
    #nav
      .wrapper.clearfix
        .navlist
          a.index(href="#") 资讯首页
          a.news(href="#") 新闻资讯
          a.suggest(href="#") 购车推荐
          a.test(href="#") 试驾评测
          a.models(href="#") 车型详解
          a.maintain(href="#") 用车保养
          a.culture(href="#") 汽车文化
          a.figure(href="#") 人物座驾
          a.mouth(href="#") 口碑点评
          a.driving(href="#") 自驾游
          a.resolve(href="#") 名词解释
          a.answer(href="#") 问答
    #second-nav
      .wrapper.clearfix
        .navlist
          a.second-link(href="#") 政策法规
          a.second-link(href="#") 新车动态
          a.second-link(href="#") 行业数据
          a.second-link(href="#") 行业新闻
    #content-list
      .wrapper.clearfix
        .mod-main
          .list-nav
            a(href="#") 大搜车 >
            a(href="#") 大搜车资讯 >
            a(href="#") 新闻资讯 >
            a(href="#") 政策法规
          .news-centent
            .list-title 政策法规
            .news-box
              img.news-image(src="http://f2e.souche.com/assets/images/news/infor-image.png")
              .news-text
                a.text-title(href="#") 加州一买家用比特币购买特斯拉电动汽车
                p 12月9日消息，据国外媒体报道，一位走带时代前沿的客户周日直接用比特币购买了一辆特斯拉S型汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。
                span 2014-04-02
                  a(href="#") 查看详情 »
            .news-box
              img.news-image(src="http://f2e.souche.com/assets/images/news/infor-image.png")
              .news-text
                a.text-title(href="#") 加州一买家用比特币购买特斯拉电动汽车
                p 12月9日消息，据国外媒体报道，一位走带时代前沿的客户周日直接用比特币购买了一辆特斯拉S型汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。
                span 2014-04-02
                  a(href="#") 查看详情 »
            .news-box
              img.news-image(src="http://f2e.souche.com/assets/images/news/infor-image.png")
              .news-text
                a.text-title(href="#") 加州一买家用比特币购买特斯拉电动汽车
                p 12月9日消息，据国外媒体报道，一位走带时代前沿的客户周日直接用比特币购买了一辆特斯拉S型汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。
                span 2014-04-02
                  a(href="#") 查看详情 »
            .news-box
              img.news-image(src="http://f2e.souche.com/assets/images/news/infor-image.png")
              .news-text
                a.text-title(href="#") 加州一买家用比特币购买特斯拉电动汽车
                p 12月9日消息，据国外媒体报道，一位走带时代前沿的客户周日直接用比特币购买了一辆特斯拉S型汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。
                span 2014-04-02
                  a(href="#") 查看详情 »
            .news-box
              img.news-image(src="http://f2e.souche.com/assets/images/news/infor-image.png")
              .news-text
                a.text-title(href="#") 加州一买家用比特币购买特斯拉电动汽车
                p 12月9日消息，据国外媒体报道，一位走带时代前沿的客户周日直接用比特币购买了一辆特斯拉S型汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。
                span 2014-04-02
                  a(href="#") 查看详情 »
            .news-box
              img.news-image(src="http://f2e.souche.com/assets/images/news/infor-image.png")
              .news-text
                a.text-title(href="#") 加州一买家用比特币购买特斯拉电动汽车
                p 12月9日消息，据国外媒体报道，一位走带时代前沿的客户周日直接用比特币购买了一辆特斯拉S型汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。
                span 2014-04-02
                  a(href="#") 查看详情 »
            .news-box
              img.news-image(src="http://f2e.souche.com/assets/images/news/infor-image.png")
              .news-text
                a.text-title(href="#") 加州一买家用比特币购买特斯拉电动汽车
                p 12月9日消息，据国外媒体报道，一位走带时代前沿的客户周日直接用比特币购买了一辆特斯拉S型汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。
                span 2014-04-02
                  a(href="#") 查看详情 »
            .news-box
              img.news-image(src="http://f2e.souche.com/assets/images/news/infor-image.png")
              .news-text
                a.text-title(href="#") 加州一买家用比特币购买特斯拉电动汽车
                p 12月9日消息，据国外媒体报道，一位走带时代前沿的客户周日直接用比特币购买了一辆特斯拉S型汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。
                span 2014-04-02
                  a(href="#") 查看详情 »
            .news-box
              img.news-image(src="http://f2e.souche.com/assets/images/news/infor-image.png")
              .news-text
                a.text-title(href="#") 加州一买家用比特币购买特斯拉电动汽车
                p 12月9日消息，据国外媒体报道，一位走带时代前沿的客户周日直接用比特币购买了一辆特斯拉S型汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。这辆特斯拉是从加利福尼亚州长滩的兰博基尼经销商处购买。这是第一辆用比特币购买的特斯拉汽车。
                span 2014-04-02
                  a(href="#") 查看详情 »
            .news-pag
              ul.pagings
                li
                  .paglasta(href="#")
                li 
                  a(href="#") 1
                li 
                  a(href="#") 2
                li 
                  a(href="#") 3
                li 
                  a(href="#") 4
                li 
                  a(href="#") 5
                li 
                  a(href="#") 6
                li 
                  a(href="#") 7
                li 
                  a(href="#") 8
                li 
                  a(href="#") 9
                li 
                  a(href="#") 10
                li
                  a.pagnext(href="#")
        .mod-side
          .top
            .title-box
              i
              span 热门品牌
            .brand-box.clearfix
              a.brand 大众
              a.brand 奔驰
              a.brand 奥迪
              a.brand 日产
              a.brand 宝马
              a.brand 斯柯达
              a.brand 丰田
              a.brand 雪佛兰
              a.brand 本田
              a.brand 马自达
              a.brand 别克
              a.brand 起亚
              a.brand 现代
              a.brand 福特
              a.brand 标致
          .act-img2
            img(src="http://f2e.souche.com/assets/images/news/qiya.png")
          .policy
            .title-box
              i
              span 政策法规
            ul.newest-list
              li
                a(href="#") 自己动手不求人（15）换原厂车窗镀铬亮条
              li
                a(href="#") 昨天抢到的车未必划算 车价优惠可能抵过
              li
                a(href="#") 20款最热卖车型最低成交价曝光！
              li
                a(href="#") 自动档停车千万不要先挂P档！
              li
                a(href="#") 自己动手不求人（15）换原厂车窗镀铬亮条
          .newcar
            .title-box
              i
              span 新车动态
            ul.newest-list
              li
                a(href="#") 自己动手不求人（15）换原厂车窗镀铬亮条
              li
                a(href="#") 昨天抢到的车未必划算 车价优惠可能抵过
              li
                a(href="#") 20款最热卖车型最低成交价曝光！
              li
                a(href="#") 自动档停车千万不要先挂P档！
              li
                a(href="#") 自己动手不求人（15）换原厂车窗镀铬亮条
    #footer
      .friendlinks
        .wrapper
          <a href="http://2sc.sohu.com/" rel="nofollow" target="_blank">搜狐二手车</a>
          <a href="http://www.51auto.com/" rel="nofollow" target="_blank">51二手车</a>
          <a href="http://www.cheyipai.com/" target="_blank">车易拍</a>
          <a href="http://www.che168.com/" rel="nofollow" target="_blank">二手车之家</a>
          <a href="http://www.hx2car.com/" rel="nofollow" target="_blank">华夏二手车</a>
          <a href="http://www.taoche.com" target="_blank">二手车</a>
          <a href="http://www.iautos.cn/" rel="nofollow" target="_blank">第一车网</a>
          <a href="http://hainan.273.cn/" target="_blank">海南二手车</a>
          <a href="http://news.souche.com" target="_blank" class="last">二手车资讯</a>
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>