doctype html
html
  head.
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/news.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery-1.7.1.min.js?t=1"></script>
    <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery.flexslider-min.js?t=1"></script>
    <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/require.js?t=1"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#news
    #header
      .wrapper.clearfix
        a.logo(herf="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        ul.head-tel
          li.souche
            a(herf="#") 大搜车首页
          li.buycar
            a(herf="#") 我要买车 
          li.sellcar
            a(herf="#") 我要卖车
          li.qiugou
            a(herf="#") 我的买车顾问
          li.welcome
            span 王小王，欢迎您
            a(herf="#") [退出]
    #nav
      .wrapper.clearfix
        .navlist
          a.index(herf="#") 资讯首页
          a.news(herf="#") 新闻资讯
          a.suggest(herf="#") 购车推荐
          a.test(herf="#") 试驾评测
          a.models(herf="#") 车型详解
          a.maintain(herf="#") 用车保养
          a.culture(herf="#") 汽车文化
          a.figure(herf="#") 人物座驾
          a.mouth(herf="#") 口碑点评
          a.driving(herf="#") 自驾游
          a.resolve(herf="#") 名词解释
          a.answer(herf="#") 问答
    #content
      .wrapper.clearfix
        .model1.clearfix
          .mod-main
            a.banner(herf="#")
              img(src="http://f2e.souche.com/assets/images/news/banner.png")
            .nav-list
              .list-box
                i.arrow
                .text-box
                  a(herf="#") 奥迪A4L最高优惠2.6万元 少量现车供应中
                  span 唐唯实出任标致雪铁龙CEO，通用反思召回拟简化流程
              .list-box
                i.arrow
                .text-box
                  a 奥迪A4L最高优惠2.6万元 少量现车供应中
                  span 唐唯实出任标致雪铁龙CEO，通用反思召回拟简化流程
              .list-box
                i.arrow
                .text-box
                  a 奥迪A4L最高优惠2.6万元 少量现车供应中
                  span 唐唯实出任标致雪铁龙CEO，通用反思召回拟简化流程
              .list-box
                i.arrow
                .text-box
                  a 奥迪A4L最高优惠2.6万元 少量现车供应中
                  span 唐唯实出任标致雪铁龙CEO，通用反思召回拟简化流程
          .mod-side
            .wrapper-top
              .suggest
                i
                span 购车推荐
              ul.suggest-list
                li
                  a(herf="#") 新福克斯2.0AT豪华运动提车作业
                li
                  a(herf="#") 北京周边油菜花田景区逐一盘点
                li
                  a(herf="#") 2013款至酷卡罗拉运动版提车作业
                li
                  a(herf="#") 塞班岛上陶醉于风起云涌（组图）
                li
                  a(herf="#") 摄影师镜头下的多彩南疆（组图）
            .wrapper-bottom
              a(herf="#") 福克斯
              a(herf="#") 路虎
              a(herf="#") 朗逸
              a(herf="#") 思域
              a(herf="#") 君威
              a(herf="#") 凯迪拉克XLR
              a(herf="#") A4L
              a(herf="#") 牧马人
              a(herf="#") 极光
        .model2.clearfix
          .mod-main
            .infor.clearfix
              .infor-title
                .title 新闻资讯
                .more 
                  a(herf="#") 更多 »
              .infor-left
                .infor-box
                  .infor-img
                    img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .infor-content
                    h1 通用反思召回拟简化流程
                    p 这个在华21年的欧洲品牌，突然以这种方式告别如今炙手可热的中国市场，颇感意外之余更多的遗憾
                    a(herf="#") 查看详情 »
                .infor-box
                  .infor-img
                    img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .infor-content
                    h1 通用反思召回拟简化流程
                    p 这个在华21年的欧洲品牌，突然以这种方式告别如今炙手可热的中国市场，颇感意外之余更多的遗憾
                    a(herf="#") 查看详情 »
                .infor-box
                  .infor-img
                    img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .infor-content
                    h1 通用反思召回拟简化流程
                    p 这个在华21年的欧洲品牌，突然以这种方式告别如今炙手可热的中国市场，颇感意外之余更多的遗憾
                    a(herf="#") 查看详情 »
              .infor-right.clearfix
                .infor-img
                  a.imgbox
                    img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                    .title-bg
                    .img-title 揽胜加长版日前接受预定
                  a.imgbox
                    img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                    .title-bg
                    .img-title 揽胜加长版日前接受预定
                ul.news-list
                  li
                    a(herf="#") 外观不变 大切诺基3.0柴油版4月9日上市 
                    span 2014-04-01
                  li
                    a(herf="#") 外观不变 大切诺基3.0柴油版4月9日上市 
                    span 2014-04-01
                  li
                    a(herf="#") 外观不变 大切诺基3.0柴油版4月9日上市 
                    span 2014-04-01
                  li
                    a(herf="#") 外观不变 大切诺基3.0柴油版4月9日上市 
                    span 2014-04-01
                  li
                    a(herf="#") 外观不变 大切诺基3.0柴油版4月9日上市 
                    span 2014-04-01
                  li
                    a(herf="#") 外观不变 大切诺基3.0柴油版4月9日上市 
                    span 2014-04-01
                  li
                    a(herf="#") 外观不变 大切诺基3.0柴油版4月9日上市 
                    span 2014-04-01
          .mod-side
             .hotsell
                .hd 
                  h1 热销排行榜
                .hotsell-wrap
                  .hotsell-box
                    ul.hotsell-list
                      li.kempcar
                        .triangle
                        .car-list
                          span 01
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a.kempcar-price(href='#') 10万元起 >
                      li
                        .car-list
                          span 02
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a(href='#') 10万元起 >
                      li
                        .car-list
                          span 03
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a(href='#') 10万元起 >
                      li
                        .car-list
                          span 04
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a(href='#') 10万元起 >
                      li
                        .car-list
                          span 05
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a(href='#') 10万元起 >
                      li
                        .car-list
                          span 06
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a(href='#') 10万元起 >
                      li
                        .car-list
                          span 07
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a(href='#') 10万元起 >
                      li
                        .car-list
                          span 08
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a(href='#') 10万元起 >
                      li
                        .car-list
                          span 09
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a(href='#') 10万元起 >
                      li
                        .car-list
                          span 10
                          a.car-icon
                            img(src="http://f2e.souche.com/assets/images/index/carlogo.png")
                          i 
                            a(href='#') 宝马1系
                          a(href='#') 10万元起 >
        img.long-pic(src="http://f2e.souche.com/assets/images/news/long.png")
        .model3.clearfix
          .mod-main.clearfix
            .content-box.models(style=" margin-right: 100px;")
              .title-box
                .tiltle 车型详解
                .more 
                  a 更多 »
              .news-box
                .pic-news.clearfix
                  a.news-img
                    img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .news-text
                    a 通用反思召回拟简化流程
                    p 这个在华21年的欧洲品牌，突然以这种方式告别如今炙手可热的中国市场，颇感意外之余更多的遗憾
                ul.car-news
                  li
                    a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                  li
                    a(herf="#") 长安CS75领衔，四月重磅上市新车提前看
                  li
                    a(herf="#") 售5.88-7.23万元 北汽幻速S2/S3正式上市  
            .content-box.test
              .title-box
                .tiltle 试驾评测
                .more 
                  a 更多 »
              .news-box
                .pic-news.clearfix
                  a.news-img
                    img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .news-text
                    a 通用反思召回拟简化流程
                    p 这个在华21年的欧洲品牌，突然以这种方式告别如今炙手可热的中国市场，颇感意外之余更多的遗憾
                ul.car-news
                  li
                    a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                  li
                    a(herf="#") 长安CS75领衔，四月重磅上市新车提前看
                  li
                    a(herf="#") 售5.88-7.23万元 北汽幻速S2/S3正式上市 
            .content-box.figure(style=" margin-right: 100px;")
              .title-box
                .tiltle 人物座驾
                .more 
                  a 更多 »
              .news-box
                .pic-news.clearfix
                  a.news-img
                    img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .news-text
                    a 通用反思召回拟简化流程
                    p 这个在华21年的欧洲品牌，突然以这种方式告别如今炙手可热的中国市场，颇感意外之余更多的遗憾
                ul.car-news
                  li
                    a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                  li
                    a(herf="#") 长安CS75领衔，四月重磅上市新车提前看
                  li
                    a(herf="#") 售5.88-7.23万元 北汽幻速S2/S3正式上市 
            .content-box.mouth
              .title-box
                .tiltle 口碑点评
                .more 
                  a 更多 »
              .news-box
                .pic-news.clearfix
                  a.news-img
                    img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .news-text
                    a 通用反思召回拟简化流程
                    p 这个在华21年的欧洲品牌，突然以这种方式告别如今炙手可热的中国市场，颇感意外之余更多的遗憾
                ul.car-news
                  li
                    a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                  li
                    a(herf="#") 长安CS75领衔，四月重磅上市新车提前看
                  li
                    a(herf="#") 售5.88-7.23万元 北汽幻速S2/S3正式上市 
            .content-box.answer(style=" margin-right: 100px;")
                .title-box
                  .tiltle 汽车问答
                  .more 
                    a 更多 » 
                ul.answer-list
                  li
                    a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                    span 2014-04-01
                  li
                    a(herf="#") 长安CS75领衔，四月重磅上市新车提前看
                    span 2014-04-01
                  li
                    a(herf="#") 售5.88-7.23万元 北汽幻速S2/S3正式上市
                    span 2014-04-01 
                  li
                    a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                    span 2014-04-01
            .content-box.culture
                .title-box
                  .tiltle 汽车文化
                  .more 
                    a 更多 » 
                .culture-box.clearfix
                  ul.culture-list
                    li
                      a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                    li
                      a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                    li
                      a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                    li
                      a(herf="#") 或售170.8万起，揽胜加长版日前接受预定
                  .culture-img
                    img(src="http://f2e.souche.com/assets/images/news/samll.png")
                    img(src="http://f2e.souche.com/assets/images/news/samll.png")
            .driving.clearfix
              .title-box
                .tiltle 自驾游
                .more 
                  a 更多 » 
              .driving-img
                a(herf="#").driving-image
                  img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .title-bg
                  .img-title 揽胜加长版日前接受预定
                a(herf="#").driving-image
                  img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .title-bg
                  .img-title 揽胜加长版日前接受预定
                a(herf="#").driving-image
                  img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .title-bg
                  .img-title 揽胜加长版日前接受预定
                a(herf="#").driving-image
                  img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .title-bg
                  .img-title 揽胜加长版日前接受预定
                a(herf="#").driving-image
                  img(src="http://f2e.souche.com/assets/images/news/infor-image.png")
                  .title-bg
                  .img-title 揽胜加长版日前接受预定
          .mod-side
