doctype html
html
  head.
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/news.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery-1.7.1.min.js?t=1"></script>
    <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery.flexslider-min.js?t=1"></script>
    <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/require.js?t=1"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#news
    #header
      .wrapper.clearfix
        a.logo(herf="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        ul.head-tel
          li.souche
            a(herf="#") 大搜车首页
          li.buycar
            a(herf="#") 我要买车 
          li.sellcar
            a(herf="#") 我要卖车
          li.qiugou
            a(herf="#") 我的买车顾问
          li.welcome
            span 王小王，欢迎您
            a(herf="#") [退出]
    #nav
      .wrapper.clearfix
        .navlist
          a.index(herf="#") 资讯首页
          a.news(herf="#") 新闻资讯
          a.suggest(herf="#") 购车推荐
          a.test(herf="#") 试驾评测
          a.models(herf="#") 车型详解
          a.maintain(herf="#") 用车保养
          a.culture(herf="#") 汽车文化
          a.figure(herf="#") 人物座驾
          a.mouth(herf="#") 口碑点评
          a.driving(herf="#") 自驾游
          a.resolve(herf="#") 名词解释
          a.answer(herf="#") 问答
    #content-detail
      .wrapper.clearfix
        .mod-main
          .details-nav
            a(herf="#") 大搜车 >
            a(herf="#") 大搜车资讯 >
            a(herf="#") 新闻资讯
          .news-article
            .art-title
              h1 自动驾驶/远程操控 互联科技让汽车更智能
              span 来自：www.souche.com
              span 浏览量：1524
              span 2014-04-02
            .art-detail
              p 125年前，奔驰夫人进行了人类历史上首次汽车长途旅行的试验，距离为100公里。如今，奔驰公司推出的S500智能驾驶汽车在一个月前成功完成了约100公里的实际道路自动驾驶试验，路线为奔驰夫人当年行驶的路线。奔驰希望成为全球第一家推出自动驾驶汽车的生产商，并将在2020年之前完成这一目标。
              br
              p 在奔驰S级车的基础上，试验车增加了一个立体摄像头，使汽车与其他物体间的距离不仅由雷达测量，还可以通过视频接收信号来计算。两个附加的远程雷达被安装在车辆前保险杠的侧面，以提供来自路口左右两侧的预警信息。另外一个远程雷达则观测后方的情况。四个近距离雷达可采集车辆周围以及其他道路使用者的情况。
              br
              p 此外，前挡风玻璃后面有一个90度视角的彩色摄像机，用来监测交通信号等情况。后窗玻璃上还有一个摄像头用来获取环境特征以便给车辆更加精确的定位。这些环境特征是事先输入到数字地图中的。通过相机即时获取的环境特征与地图中存储的信息进行比较，车辆可以比只用GPS定位显著提高定位精度。
              img(src="http://f2e.souche.com/assets/images/news/news-detail.png")
              p 德尔福与Verizon电信开发出可用于跟踪车辆信息的设备将能让车主跟踪他们的车辆，并获取车辆诊断结果以及远程锁定和解锁的功能。
              br
              p 车主还可以在智能手机上安装软件或通过网页来控制车辆及获取车辆信息。该设备包括一个CDMA数据连接到Verizon电信的网络以及蓝牙，此外还包含一个GPS芯片，通过Verizon电信数据连接可以报告其位置。作为一项方便车主的功能，手机上的软件模拟遥控钥匙可以为车辆上锁和解锁甚至可以启动车辆。但与遥控钥匙不同，这套设备允许车主在世界任何一个有手机信号的角落实施上述操作。而在没有手机信号的地下车库，车主可以使用手机蓝牙功能实施上述操作。
            .art-share
              .share-tit 分享到：
              .con
                i.douban
                i.sina
                i.qq
                i.weixin
                i.tenxun
          .news-tag
            .tag-title.clearfix
              .title 标签
              .tag.clearfix
                .tag-name
                  a(herf="#") 2014新款
                .tag-name
                  a(herf="#") 2014新款
                .tag-name
                  a(herf="#") 2014新款
            .tag-news.clearfix
              ul.list-left
                li
                  a(herf="#") 新福克斯2.0AT豪华运动提车作业
                  span 2014-04-01
                li
                  a(herf="#") 北京周边油菜花田景区逐一盘点
                  span 2014-04-01
                li
                  a(herf="#") 2013款至酷卡罗拉运动版提车作业
                  span 2014-04-01
                li
                  a(herf="#") 塞班岛上陶醉于风起云涌（组图）
                  span 2014-04-01
                li
                  a(herf="#") 摄影师镜头下的多彩南疆（组图）
                  span 2014-04-01
              ul.list-right
                li
                  a(herf="#") 新福克斯2.0AT豪华运动提车作业
                  span 2014-04-01
                li
                  a(herf="#") 北京周边油菜花田景区逐一盘点
                  span 2014-04-01
                li
                  a(herf="#") 2013款至酷卡罗拉运动版提车作业
                  span 2014-04-01
                li
                  a(herf="#") 塞班岛上陶醉于风起云涌（组图）
                  span 2014-04-01
                li
                  a(herf="#") 摄影师镜头下的多彩南疆（组图）
                  span 2014-04-01
            .tag-news.clearfix.hidden
              ul.list-left
                li
                  a(herf="#") 新福克斯2.0AT豪华运动提车作业2
                  span 2014-04-01
                li
                  a(herf="#") 北京周边油菜花田景区逐一盘点2
                  span 2014-04-01
                li
                  a(herf="#") 2013款至酷卡罗拉运动版提车作业2
                  span 2014-04-01
                li
                  a(herf="#") 塞班岛上陶醉于风起云涌（组图）2
                  span 2014-04-01
                li
                  a(herf="#") 摄影师镜头下的多彩南疆（组图）
                  span 2014-04-01
              ul.list-right
                li
                  a(herf="#") 新福克斯2.0AT豪华运动提车作业
                  span 2014-04-01
                li
                  a(herf="#") 北京周边油菜花田景区逐一盘点
                  span 2014-04-01
                li
                  a(herf="#") 2013款至酷卡罗拉运动版提车作业
                  span 2014-04-01
                li
                  a(herf="#") 塞班岛上陶醉于风起云涌（组图）
                  span 2014-04-01
                li
                  a(herf="#") 摄影师镜头下的多彩南疆（组图）
                  span 2014-04-01
          .related
            .related-title
              .title 相关文章
            .related-list
              ul.list-left
                li
                  a(herf="#") 新福克斯2.0AT豪华运动提车作业
                  span 2014-04-01
                li
                  a(herf="#") 北京周边油菜花田景区逐一盘点
                  span 2014-04-01
                li
                  a(herf="#") 2013款至酷卡罗拉运动版提车作业
                  span 2014-04-01
                li
                  a(herf="#") 塞班岛上陶醉于风起云涌（组图）
                  span 2014-04-01
                li
                  a(herf="#") 摄影师镜头下的多彩南疆（组图）
                  span 2014-04-01
              ul.list-right
                li
                  a(herf="#") 新福克斯2.0AT豪华运动提车作业
                  span 2014-04-01
                li
                  a(herf="#") 北京周边油菜花田景区逐一盘点
                  span 2014-04-01
                li
                  a(herf="#") 2013款至酷卡罗拉运动版提车作业
                  span 2014-04-01
                li
                  a(herf="#") 塞班岛上陶醉于风起云涌（组图）
                  span 2014-04-01
                li
                  a(herf="#") 摄影师镜头下的多彩南疆（组图）
                  span 2014-04-01
        .mod-side
          .act-img2
              img(src="http://f2e.souche.com/assets/images/news/qiya.png")
          .newest
            .title-box
              i
              span 最新资讯
            ul.newest-list
              li
                a(herf="#") 自己动手不求人（15）换原厂车窗镀铬亮条
              li
                a(herf="#") 昨天抢到的车未必划算 车价优惠可能抵过
              li
                a(herf="#") 20款最热卖车型最低成交价曝光！
              li
                a(herf="#") 自动档停车千万不要先挂P档！
              li
                a(herf="#") 自己动手不求人（15）换原厂车窗镀铬亮条
              li
                a(herf="#") 昨天抢到的车未必划算 车价优惠可能抵过
              li
                a(herf="#") 20款最热卖车型最低成交价曝光！
              li
                a(herf="#") 自动档停车千万不要先挂P档！
              li
                a(herf="#") 自己动手不求人（15）换原厂车窗镀铬亮条
              li
                a(herf="#") 昨天抢到的车未必划算 车价优惠可能抵过
          .related.clearfix
            .title-box
              i
              span 相关车型
            .related-box.clearfix
              a.car-img(herf="#")
                img(src="http://f2e.souche.com/assets/images/news/little.png")
              .related-text
                a.related-car 现代-现代ix35-2010款 现代
                a.related-car 现代-现代ix35-2010款 现代
            .related-box.clearfix
              a.car-img(herf="#")
                img(src="http://f2e.souche.com/assets/images/news/little.png")
              .related-text
                a.related-car 现代-现代ix35-2010款 现代
                a.related-car 现代-现代ix35-2010款 现代
            .related-box.clearfix
              a.car-img(herf="#")
                img(src="http://f2e.souche.com/assets/images/news/little.png")
              .related-text
                a.related-car 现代-现代ix35-2010款 现代
                a.related-car 现代-现代ix35-2010款 现代
            .related-box.clearfix
              a.car-img(herf="#")
                img(src="http://f2e.souche.com/assets/images/news/little.png")
              .related-text
                a.related-car 现代-现代ix35-2010款 现代
                a.related-car 现代-现代ix35-2010款 现代
            .related-box.clearfix
              a.car-img(herf="#")
                img(src="http://f2e.souche.com/assets/images/news/little.png")
              .related-text
                a.related-car 现代-现代ix35-2010款 现代
                a.related-car 现代-现代ix35-2010款 现代
    #footer
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>
    script.
      $('.tag-name').each(function(index){
        $(this).click(function(e){
          $('.tag-news').each(function(_index){
            if(_index==index){
              $(this).removeClass('hidden');
            }else{
              $(this).addClass('hidden');
            }
          })
        })
      })