.wrapper-1190 {
    width: 1190px;
    margin: 0 auto;
}
.car-box {
    background-color: #FFFFFF;
    border: 1px solid #E4E3E3;
    float: left;
    margin-bottom: 15px;
    margin-right: 14px;
    width: 385px;
    position: relative;
}
.car-box.row-last {
    margin-right: 0px;
}
.car-box .car-image {
    display: block;
    height: 260px;
    position: relative;
    width: 385px;
}
.car-box .car-image .jiangjia {
    background-color: #333333;
    bottom: 0;
    left: 0;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
    position: absolute;
    width: 385px;
}
.car-box .car-image .jiangjia i {
    background: url("../images/mylist/jiangjia.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 14px;
    margin-left: 15px;
    margin-top: 13px;
    width: 14px;
}
.car-box .car-image .jiangjia span {
    display: block;
    float: left;
    margin-left: 10px;
}
.car-box .car-image .jiangjia em {
    display: block;
    float: left;
}
.car-box .car-image .youhui {
    background-color: #333333;
    bottom: 0;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
    position: absolute;
    width: 385px;
}
.car-box .car-image .youhui i {
    background: url("../images/mylist/youhui.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 14px;
    margin-left: 15px;
    margin-top: 13px;
    width: 14px;
}
.car-box .car-image .youhui span {
    display: block;
    float: left;
    margin-left: 10px;
}
.car-box .car-image .youhui em {
    display: block;
    float: left;
}
.car-box .car-image .youhui .down-counter {
    float: left;
    margin-left: 10px;
}
.car-box .car-image .xinche {
    background-color: #333333;
    bottom: 0;
    color: #FFFFFF;
    height: 40px;
    line-height: 40px;
    opacity: 0.8;
    position: absolute;
    width: 385px;
}
.car-box .car-image .xinche i {
    background: url("../images/mylist/xin.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 14px;
    margin-left: 15px;
    margin-top: 13px;
    width: 14px;
}
.car-box .car-image .xinche span {
    display: block;
    float: left;
    margin-left: 10px;
}
.car-box .car-detail {
    border-bottom: 1px solid #E4E3E3;
    height: 100px;
    padding: 15px;
    width: 355px;
}
.car-box .car-detail .car-title {
    color: #333333;
    font-size: 17px;
    font-weight: bold;
}
.car-box .car-detail .car-title:hover {
    color: #FC7000;
}
.car-box .car-detail .car-price {
    margin-top: 10px;
}
.car-box .car-detail .car-price .price-now {
    border-right: 1px solid #E4E3E3;
    float: left;
    width: 120px;
}
.car-box .car-detail .car-price .price-now .price {
    color: #FC7000;
    font-size: 20px;
    font-weight: bold;
}
.car-box .car-detail .car-price .price-now .price-caption {
    color: #999999;
    font-size: 13px;
}
.car-box .car-detail .car-price .price-save {
    float: left;
    margin-left: 20px;
    width: 200px;
}
.car-box .car-detail .car-price .price-save .save {
    color: #FC7000;
    font-size: 18px;
}
.car-box .car-detail .car-price .price-save .save span {
    font-weight: bold;
}
.car-box .car-detail .car-price .price-save .price-old {
    color: #999999;
    font-size: 13px;
    margin-top: 2px;
}
#car-list {
    margin-top: 15px;
}
#acts_tpl {
    background: #dfdfdf;
    padding-bottom: 50px;
    .wrapper-1190 {
        margin-top: 5px;
    }
    .banner {
        position: relative;
        .act-nav {
            position: absolute;
            top: 50%;
            margin-top: -65px;
            width: 65px;
            height: 130px;
        }
        .pre-act {
            left: 0;
            background: url(../images/acts/template/pre-act.png) no-repeat center;
            background-size: 100% 100%;
        }
        .next-act {
            right: 0;
            background: url(../images/acts/template/next-act.png) no-repeat center;
            background-size: 100% 100%;
        }
        .banner-img {
            width: 778px;
            float: left;
            img {
                height: 300px;
                width: 778px;
            }
        }
        .banner-desc {
            height: 300px;
            background: #272727;
            float: left;
            width: 412px;
            color: #fff;
            .inner {
                padding: 50px 100px 0 75px;
            }
            .banner-title {
                font-size: 30px;
                font-weight: 900;
            }
            .banner-sub-title {
                font-size: 14px;
                margin-top: 25px;
            }
            .banner-content {
                font-size: 12px;
                line-height: 18px;
                margin-top: 12px;
            }
        }
    }
    #op-board {
        line-height: 40px;
        background: #fff;
        margin-top: 10px;
        border-radius: 8px;
        #how-many {
            color: #fff;
            float: left;
            padding: 0 20px;
            background: #403f3d;
            border-radius: 8px 0 0 8px;
            span {
                margin: 0 2px;
            }
        }
        #order {
            float: right;
            .order-item {
                color: #c8c8c8;
                float: left;
                margin: 0 15px;
                .down {
                    background: url(../images/acts/template/down.png) no-repeat center;
                    background-size: 100% 100%;
                }
                .up {
                    background: url(../images/acts/template/up.png) no-repeat center;
                    background-size: 100% 100%;
                }
            }
            .order-item.active {
                color: #2a2a2a;
                .down {
                    background: url(../images/acts/template/down_active.png) no-repeat center;
                    background-size: 100% 100%;
                }
                .up {
                    background: url(../images/acts/template/up_active.png) no-repeat center;
                    background-size: 100% 100%;
                }
            }
            .bg {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: -3px;
                margin-right: 6px;
            }
            .arrow {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: -3px;
                margin-right: 6px;
            }
            .new .bg {
                background: url(../images/acts/template/new.png) no-repeat center;
                background-size: 100% 100%;
            }
            .new.active .bg {
                background: url(../images/acts/template/new_active.png) no-repeat center;
                background-size: 100% 100%;
            }
            .price .bg {
                background: url(../images/acts/template/price.png) no-repeat center;
                background-size: 100% 100%;
            }
            .price.active .bg {
                background: url(../images/acts/template/price_active.png) no-repeat center;
                background-size: 100% 100%;
            }
            .mile .bg {
                background: url(../images/acts/template/mile.png) no-repeat center;
                background-size: 100% 100%;
            }
            .mile.active .bg {
                background: url(../images/acts/template/mile_active.png) no-repeat center;
                background-size: 100% 100%;
            }
        }
    }
    #more-acts {
        a {
            color: #212121;
            font-size: 14px;
        }
        .acts-img {
            margin-top: 25px;
        }
        .acts-img a {
            margin-right: 6px;
        }
        .acts-img a.row-last {
            margin-right: 0px;
        }
    }
}