#adviser {
  background: #F5F5F5;
}
#adviser #content {
  background: #F5F5F5;
}
#adviser #content .banner {
  height: 432px;
  background: url(../images/adviser/banner.png?1) no-repeat center;
}
#adviser #content .fixedSubNav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
#adviser #content .empty-placeholder {
  height: 135px;
}
#adviser #content .content-nav {
  height: 89px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 1px 4px #999;
}
#adviser #content .content-nav .wrap {
  width: 1190px;
  margin: 0 auto;
  height: 89px;
}
#adviser #content .content-nav .adv_active .active {
  background: #ff4400;
  color: #fff;
}
#adviser #content .content-nav .nav-box {
  float: left;
  width: 163px;
  height: 89px;
  margin-left: 8px;
  cursor: pointer;
  display: block;
}
#adviser #content .content-nav .find-car {
  background: url(../images/adviser/aiche-a.png?1) no-repeat center;
}
#adviser #content .content-nav .find-car:hover {
  background: url(../images/adviser/aiche-n.png?1) no-repeat center;
}
#adviser #content .content-nav .adv_active .find-car {
  background: url(../images/adviser/aiche-n.png?1) no-repeat center;
}
#adviser #content .content-nav .test-car {
  background: url(../images/adviser/test-a.png?1) no-repeat center;
}
#adviser #content .content-nav .test-car:hover {
  background: url(../images/adviser/test-n.png?1) no-repeat center;
}
#adviser #content .content-nav .adv_active .test-car {
  background: url(../images/adviser/test-n.png?1) no-repeat center;
}
#adviser #content .content-nav .bargain-car {
  background: url(../images/adviser/bargain-a.png?1) no-repeat center;
}
#adviser #content .content-nav .bargain-car:hover {
  background: url(../images/adviser/bargain-n.png?1) no-repeat center;
}
#adviser #content .content-nav .adv_active .bargain-car {
  background: url(../images/adviser/bargain-n.png?1) no-repeat center;
}
#adviser #content .content-nav .staging-car {
  background: url(../images/adviser/staging-a.png?1) no-repeat center;
}
#adviser #content .content-nav .staging-car:hover {
  background: url(../images/adviser/staging-n.png?1) no-repeat center;
}
#adviser #content .content-nav .adv_active .staging-car {
  background: url(../images/adviser/staging-n.png?1) no-repeat center;
}
#adviser #content .content-nav .back-car {
  background: url(../images/adviser/back-a.png?1) no-repeat center;
}
#adviser #content .content-nav .back-car:hover {
  background: url(../images/adviser/back-n.png?1) no-repeat center;
}
#adviser #content .content-nav .adv_active .back-car {
  background: url(../images/adviser/back-n.png?1) no-repeat center;
}
#adviser #content .content-nav .qa-car {
  background: url(../images/adviser/qa-a.png?1) no-repeat center;
}
#adviser #content .content-nav .qa-car:hover {
  background: url(../images/adviser/qa-n.png?1) no-repeat center;
}
#adviser #content .content-nav .adv_active .qa-car {
  background: url(../images/adviser/qa-n.png?1) no-repeat center;
}
#adviser #content .content-nav .shop-car {
  background: url(../images/adviser/shop-a.png?1) no-repeat center;
}
#adviser #content .content-nav .shop-car:hover {
  background: url(../images/adviser/shop-n.png?1) no-repeat center;
}
#adviser #content .content-nav .adv_active .shop-car {
  background: url(../images/adviser/shop-n.png?1) no-repeat center;
}
#adviser #content #aiche {
  height: 1777px;
}
#adviser #content #aiche .aiche-tit {
  background: #ff4400 url(../images/adviser/aiche.png?1) no-repeat center;
  height: 165px;
}
#adviser #content #aiche .aiche-cont {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
#adviser #content #aiche .aiche-cont .pic-1-1 {
  width: 100%;
  height: 1612px;
  background: url(../images/adviser/1-1.png?1) no-repeat;
  z-index: 1;
  position: absolute;
  top: 0px;
  right: 1px;
}
#adviser #content #aiche .aiche-cont .pic-1-4 {
  width: 100%;
  height: 0px;
  background: url(../images/adviser/1-4.png?1) no-repeat;
  z-index: 2;
  position: absolute;
  top: 0px;
  right: 0px;
}
#adviser #content #aiche .aiche-cont .pic-1-5 {
  width: 100%;
  height: 0px;
  background: url(../images/adviser/1-5.png?1) no-repeat;
  z-index: 2;
  position: absolute;
  top: 406px;
  right: 0px;
}
#adviser #content #aiche .aiche-cont .pic-1-6 {
  width: 100%;
  height: 0px;
  background: url(../images/adviser/1-6.png?1) no-repeat;
  z-index: 2;
  position: absolute;
  top: 985px;
  right: -4px;
}
#adviser #content #aiche .aiche-cont .pic-1-3 {
  width: 455px;
  height: 251px;
  background: url(../images/adviser/1-3.png?1) no-repeat;
  z-index: 3;
  position: absolute;
  top: 510px;
  right: -130px;
}
#adviser #content #test {
  height: 895px;
}
#adviser #content #test .test-tit {
  background: #ff4400 url(../images/adviser/test-car.png?1) no-repeat center;
  height: 165px;
}
#adviser #content #test .test-cont {
  padding-top: 185px;
  width: 800px;
  margin: 0 auto;
  position: relative;
  height: 480px;
}
#adviser #content #test .test-cont .pic-2-1 {
  position: absolute;
  background: url(../images/adviser/2-1.png?1) no-repeat;
  width: 106px;
  height: 105px;
  right: 350px;
  z-index: 3;
  top: 185px;
}
#adviser #content #test .test-cont .pic-2-2 {
  position: absolute;
  background: url(../images/adviser/2-2.png?1) no-repeat;
  width: 91px;
  height: 91px;
  right: 357px;
  top: 192px;
  z-index: 2;
  opacity: 1;
}
#adviser #content #test .test-cont .pic-2-3 {
  position: absolute;
  background: url(../images/adviser/2-3.png?1) no-repeat;
  width: 80px;
  height: 80px;
  right: 360px;
  top: 198px;
  z-index: 1;
  opacity: 1;
}
#adviser #content #test .test-cont .testcar {
  width: 800px;
  margin: 0 auto;
  height: 115px;
  padding-top: 150px;
  position: relative;
}
#adviser #content #test .test-cont .testcar .car {
  width: 118px;
  height: 107px;
  background: url(../images/adviser/2-4.png?1) no-repeat;
  position: absolute;
}
#adviser #content #test .test-cont .testcar .car-1 {
  left: 0;
}
#adviser #content #test .test-cont .testcar .car-2 {
  left: 170px;
}
#adviser #content #test .test-cont .testcar .car-3 {
  left: 340px;
}
#adviser #content #test .test-cont .testcar .car-4 {
  left: 510px;
}
#adviser #content #test .test-cont .testcar .car-5 {
  left: 680px;
}
#adviser #content #test .test-cont .test-text {
  width: 760px;
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
  height: 70px;
}
#adviser #content #test .test-cont .test-text .text-1 {
  width: 100%;
  height: 70px;
  background: url(../images/adviser/2-5.png?1) no-repeat;
  position: absolute;
  z-index: 3;
}
#adviser #content #test .test-cont .test-text .text-2 {
  width: 100%;
  height: 70px;
  background: url(../images/adviser/2-6.png?1) no-repeat;
  position: absolute;
  z-index: 2;
}
#adviser #content #test .test-cont .test-text .text-3 {
  width: 100%;
  height: 70px;
  background: url(../images/adviser/2-7.png?1) no-repeat;
  position: absolute;
  z-index: 1;
}
#adviser #content #bargain {
  height: 2030px;
}
#adviser #content #bargain .bargain-tit {
  background: #ff4400 url(../images/adviser/bargain.png?1) no-repeat center;
  height: 165px;
}
#adviser #content #bargain .bargain-cont {
  width: 1183px;
  margin: 0 auto;
  position: relative;
}
#adviser #content #bargain .bargain-cont .pic-3-1 {
  background: url(../images/adviser/angle.gif) no-repeat;
  width: 567px;
  height: 160px;
  position: absolute;
  top: 75px;
  left: 300px;
  z-index: 10;
}
#adviser #content #bargain .bargain-cont .pic-3-2-1 {
  background: url(../images/adviser/3-2-1.png?1) no-repeat;
  width: 1182px;
  height: 0px;
  position: absolute;
  z-index: 5;
  left: 7px;
}
#adviser #content #bargain .bargain-cont .pic-3-2-2 {
  background: url(../images/adviser/3-2-2.png?1) no-repeat;
  width: 1182px;
  height: 0px;
  position: absolute;
  top: 353px;
  z-index: 5;
  left: 7px;
}
#adviser #content #bargain .bargain-cont .pic-3-2-3 {
  background: url(../images/adviser/3-2-3.png?1) no-repeat;
  width: 1026px;
  height: 0px;
  position: absolute;
  top: 730px;
  z-index: 5;
  left: 193px;
}
#adviser #content #bargain .bargain-cont .pic-3-2-4 {
  background: url(../images/adviser/3-2-4.png?1) no-repeat;
  width: 1182px;
  height: 0px;
  position: absolute;
  top: 1097px;
  z-index: 5;
  left: 7px;
}
#adviser #content #bargain .bargain-cont .pic-3-2-5 {
  background: url(../images/adviser/3-2-5.png?1) no-repeat;
  width: 1182px;
  height: 0px;
  position: absolute;
  top: 1452px;
  z-index: 5;
  left: 7px;
}
#adviser #content #bargain .bargain-cont .pic-3-3 {
  background: url(../images/adviser/3-3.png?1) no-repeat;
  width: 1216px;
  height: 1865px;
  position: absolute;
  z-index: 3;
}
#adviser #content #bargain .bargain-cont .imac {
  background: url(../images/adviser/3-6.png?1) no-repeat;
  width: 377px;
  height: 312px;
  position: absolute;
  top: 470px;
  right: 0px;
  z-index: 10;
}
#adviser #content #bargain .bargain-cont .imac .car {
  background: url(../images/adviser/car.gif) no-repeat;
  width: 340px;
  height: 185px;
  margin-top: 17px;
  margin-left: 19px;
}
#adviser #content #bargain .bargain-cont .imac .souche {
  background: url(../images/adviser/souche.png?1) no-repeat;
  width: 88px;
  height: 19px;
  z-index: 10;
  position: absolute;
  bottom: 130px;
  left: 140px;
}
#adviser #content #bargain .bargain-cont .pic-3-4 {
  position: absolute;
  background: url(../images/adviser/3-4.png?1) no-repeat;
  width: 426px;
  height: 290px;
  top: 900px;
  left: 0px;
  z-index: 5;
}
#adviser #content #bargain .bargain-cont .pic-3-5 {
  position: absolute;
  background: url(../images/adviser/3-5.png?1) no-repeat;
  width: 361px;
  height: 321px;
  top: 1270px;
  right: 0px;
  z-index: 5;
}
#adviser #content #staging {
  height: 920px;
}
#adviser #content #staging .staging-tit {
  background: #ff4400 url(../images/adviser/staging-car.png?1) no-repeat center;
  height: 165px;
}
#adviser #content #staging .staging-cont {
  width: 1188px;
  margin: 0 auto;
  position: relative;
  height: 756px;
}
#adviser #content #staging .staging-cont .pic-4-1 {
  position: absolute;
  width: 291px;
  height: 31px;
  background: url(../images/adviser/4-1.png?1) no-repeat;
  top: 100px;
  left: 450px;
  z-index: 1;
}
#adviser #content #staging .staging-cont .pic-4-2 {
  position: absolute;
  width: 0px;
  height: 31px;
  background: url(../images/adviser/4-2.png?1) no-repeat;
  top: 100px;
  left: 450px;
  z-index: 2;
}
#adviser #content #staging .staging-cont .pic-4-3 {
  position: absolute;
  width: 1188px;
  height: 349px;
  background: url(../images/adviser/4-3.png?1) no-repeat;
  top: 218px;
}
#adviser #content #back .back-tit {
  background: #ff4400 url(../images/adviser/back-car.png?1) no-repeat center;
  height: 165px;
}
#adviser #content #back .back-cont {
  width: 1190px;
  margin: 0 auto;
}
#adviser #content #back .back-cont .pic-5-1 {
  width: 1190px;
  background: url(../images/adviser/5-1.png?2) no-repeat;
  height: 1325px;
  position: relative;
}
#adviser #content #back .back-cont .pic-5-1-2 {
  width: 545px;
  height: 0px;
  background: url(../images/adviser/5-1-2.png?2) no-repeat;
  position: absolute;
  left: 52px;
}
#adviser #content #back .back-cont .pic-5-1-3 {
  width: 552px;
  height: 0px;
  background: url(../images/adviser/5-1-3.png?1) no-repeat;
  position: absolute;
  left: 223px;
  top: 454px;
}
#adviser #content #back .back-cont .pic-5-1-4 {
  width: 337px;
  height: 0px;
  background: url(../images/adviser/5-1-4.png?1) no-repeat;
  left: 593px;
  top: 1056px;
  position: absolute;
}
#adviser #content #back .back-cont .pix-5-car-1{
  width: 494px;
  height: 323px;
  background: url(../images/adviser/5-car-1.png?1) no-repeat;
  left:620px;
  top: 135px;
  position: absolute;

}
#adviser #content #back .back-cont .back-detail {
  width: 600px;
  float: right;
  margin-bottom: 60px;
}
#adviser #content #back .back-cont .back-detail .tit {
  color: #373838;
  font-size: 30px;
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 10px;
}
#adviser #content #back .back-cont .back-detail .qu-box {
  padding: 10px 5px;
  border-bottom: 1px solid #a0a0a0;
  position: relative;
}
#adviser #content #back .back-cont .back-detail .qu-box .down {
  width: 18px;
  height: 18px;
  background: url(../images/adviser/down.png?1) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#adviser #content #back .back-cont .back-detail .qu-box .down-active {
  background: url(../images/adviser/an-up.png?1) no-repeat !important;
}
#adviser #content #back .back-cont .back-detail .qu-box .down:hover {
  background: url(../images/adviser/up.png?1) no-repeat;
}
#adviser #content #back .back-cont .back-detail .qu-box .qu {
  color: #383838;
  font-size: 18px;
}
#adviser #content #back .back-cont .back-detail .qu-box .active {
  color: #fc7000 !important;
}
#adviser #content #back .back-cont .back-detail .qu-box .an {
  font-size: 14px;
  line-height: 20px;
  color: #383838;
  margin-top: 10px;
}
#adviser #content #qa .qa-tit {
  background: #ff4400 url(../images/adviser/qa-car.png?1) no-repeat center;
  height: 165px;
}
#adviser #content #qa .qa-cont {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
#adviser #content #qa .qa-cont .pic-6-1 {
  width: 1189px;
  background: url(../images/adviser/6-1.png?1) no-repeat;
  height: 566px;
  margin: 0 auto;
  position: relative;
}
#adviser #content #qa .qa-cont .pic-6-1-2 {
  width: 601px;
  height: 250px;
  background: url(../images/adviser/6-1-2.png?1) no-repeat;
  position: absolute;
  top: 70px;
  left: 0px;
  z-index: 10;
}
#adviser #content #qa .qa-cont .pic-6-1-3 {
  width: 1178px;
  height: 0px;
  position: absolute;
  background: url(../images/adviser/6-1-3.png?1) no-repeat;
  top: 0px;
  left: 12px;
}
#adviser #content #qa .qa-cont .pic-6-3-1 {
  width: 732px;
  height: 212px;
  background: url(../images/adviser/6-3-1.png?1) no-repeat;
  position: absolute;
  top: 310px;
  z-index: 10;
  left: 138px;
}
#adviser #content #qa .qa-cont .pic-6-3-2 {
  width: 646px;
  height: 0px;
  background: url(../images/adviser/6-3-2.png?1) no-repeat;
  position: absolute;
  top: 16px;
  left: 126px;
}
#adviser #content #qa .qa-cont .pic-6-2 {
  background: url(../images/adviser/6-2.png?1) no-repeat;
  width: 658px;
  height: 398px;
  position: absolute;
  top: 465px;
  right: -150px;
}
#adviser #content #qa .qa-cont .qa-detail {
  width: 590px;
  margin-bottom: 20px;
}
#adviser #content #qa .qa-cont .qa-detail .tit {
  color: #373838;
  font-size: 30px;
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 10px;
}
#adviser #content #qa .qa-cont .qa-detail .qu-box {
  padding: 10px 5px;
  border-bottom: 1px solid #a0a0a0;
  position: relative;
}
#adviser #content #qa .qa-cont .qa-detail .qu-box .down {
  width: 18px;
  height: 18px;
  background: url(../images/adviser/down.png?1) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#adviser #content #qa .qa-cont .qa-detail .qu-box .down-active {
  background: url(../images/adviser/an-up.png?1) no-repeat !important;
}
#adviser #content #qa .qa-cont .qa-detail .qu-box .down:hover {
  background: url(../images/adviser/up.png?1) no-repeat;
}
#adviser #content #qa .qa-cont .qa-detail .qu-box .qu {
  color: #383838;
  font-size: 18px;
}
#adviser #content #qa .qa-cont .qa-detail .qu-box .active {
  color: #fc7000 !important;
}
#adviser #content #qa .qa-cont .qa-detail .qu-box .an {
  font-size: 14px;
  line-height: 20px;
  color: #383838;
  margin-top: 10px;
}
#adviser #content #qa .qa-cont .pic-6-3 {
  width: 991px;
  height: 623px;
  background: url(../images/adviser/6-3.png?1) no-repeat;
  margin: 0 auto;
  position: relative;
}
#adviser #content #shop {
  height: 2560px;
}
#adviser #content #shop .shop-tit {
  background: #ff4400 url(../images/adviser/shop-car.png?1) no-repeat center;
  height: 165px;
}
#adviser #content #shop .shop-cont {
  position: relative;
}
#adviser #content #shop .shop-cont .images {
  height: 880px;
  width: 1300px;
  margin: 0 auto;
  position: relative;
}
#adviser #content #shop .shop-cont .images .img-but {
  position: absolute;
  bottom: 5px;
  height: 225px;
  width: 100%;
}
#adviser #content #shop .shop-cont .images .img-but .but {
  width: 144px;
  height: 144px;
  float: left;
  margin-right: 32px;
  border: 40.5px solid #F5F5F5;
  border-radius: 225px;
  cursor: pointer;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail {
  position: absolute;
  top: -610px;
  height: 625px;
  width: 835px;
  right: 230px;
  cursor: default;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail .img-box {
  height: 500px;
  position: relative;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail .img-box .img-last {
  position: absolute;
  width: 23px;
  height: 71px;
  background: url(../images/adviser/last.png?1) no-repeat;
  cursor: pointer;
  top: 200px;
  left: 0;
  display: none;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail .img-box .img-next {
  position: absolute;
  width: 23px;
  height: 71px;
  background: url(../images/adviser/next.png?1) no-repeat;
  cursor: pointer;
  top: 200px;
  right: 0;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail .img-box .img-list {
  width: 564px;
  height: 492px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail .img-box .img-list .img-scroll {
  width: 1689px;
  height: 492px;
  position: absolute;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail .img-box .img-list .img-1 {
  background: url(../images/adviser/7-8-1.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail .img-box .img-list .img-2 {
  background: url(../images/adviser/7-8-2.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail .img-box .img-list .img-3 {
  background: url(../images/adviser/7-8-3.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but .but-detail p {
  text-align: center;
  font-size: 25px;
  color: #373838;
  margin-top: 20px;
}
#adviser #content #shop .shop-cont .images .img-but .but:hover {
  width: 225px;
  height: 225px;
  border: none;
}
#adviser #content #shop .shop-cont .images .img-but .but-1 {
  background: url(../images/adviser/s-1.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-2 {
  background: url(../images/adviser/s-2.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-2 .but-detail .img-box .img-list .img-1 {
  background: url(../images/adviser/7-8-4.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-2 .but-detail .img-box .img-list .img-2 {
  background: url(../images/adviser/7-8-5.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-2 .but-detail .img-box .img-list .img-3 {
  background: url(../images/adviser/7-8-6.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-3 {
  background: url(../images/adviser/s-3.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-3 .but-detail .img-box .img-list .img-1 {
  background: url(../images/adviser/7-9-1.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-3 .but-detail .img-box .img-list .img-2 {
  background: url(../images/adviser/7-9-2.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-3 .but-detail .img-box .img-list .img-3 {
  background: url(../images/adviser/7-9-3.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-4 {
  background: url(../images/adviser/s-4.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-4 .but-detail .img-box .img-list .img-1 {
  background: url(../images/adviser/7-10-1.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-4 .but-detail .img-box .img-list .img-2 {
  background: url(../images/adviser/7-10-2.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-5 {
  background: url(../images/adviser/s-5.png?1) no-repeat;
  margin-right: 0px;
}
#adviser #content #shop .shop-cont .images .img-but .but-5 .but-detail .img-box .img-list .img-1 {
  background: url(../images/adviser/7-11-1.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-5 .but-detail .img-box .img-list .img-2 {
  background: url(../images/adviser/7-11-2.png?1) no-repeat;
  width: 563px;
  height: 492px;
  float: left;
}
#adviser #content #shop .shop-cont .images .img-but .but-1:hover {
  background: url(../images/adviser/b-1.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-2:hover {
  background: url(../images/adviser/b-2.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-3:hover {
  background: url(../images/adviser/b-3.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-4:hover {
  background: url(../images/adviser/b-4.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-5:hover {
  background: url(../images/adviser/b-5.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-1.but-active {
  width: 225px;
  height: 225px;
  border: none;
  background: url(../images/adviser/b-1.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-2.but-active {
  width: 225px;
  height: 225px;
  border: none;
  background: url(../images/adviser/b-2.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-3.but-active {
  width: 225px;
  height: 225px;
  border: none;
  background: url(../images/adviser/b-3.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-4.but-active {
  width: 225px;
  height: 225px;
  border: none;
  background: url(../images/adviser/b-4.png?1) no-repeat;
}
#adviser #content #shop .shop-cont .images .img-but .but-5.but-active {
  width: 225px;
  height: 225px;
  border: none;
  background: url(../images/adviser/b-5.png?1) no-repeat;
}
#adviser #content #img7 {
  width: 908px;
  margin: 0 auto;
  position: relative;
  padding-top: 20px;
}
#adviser #content #img7 .img-7-1 {
  width: 908px;
  height: 872px;
  background: url(../images/adviser/7-1.png?1) no-repeat;
  z-index: 1;
}
#adviser #content #img7 .img-7-2 {
  width: 908px;
  height: 0px;
  background: url(../images/adviser/7-2.png?1) no-repeat;
  margin: 0 auto;
  z-index: 2;
  position: absolute;
  top: 20px;
}
#adviser #content #address {
  width: 733px;
  margin: 0 auto;
  height: 495px;
  padding-top: 50px;
  position: relative;
}
#adviser #content #address .img-7-3 {
  width: 799px;
  height: 487px;
  background: url(../images/adviser/7-3.png?1) no-repeat;
  display: block;
}
#adviser #content #address .img-7-4 {
  width: 385px;
  height: 80px;
  background: url(../images/adviser/7-4.png?1) no-repeat;
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://res.souche.com/assets/images/adviser/7-4.png');
}
#adviser #content #address .img-7-5 {
  width: 195px;
  height: 40px;
  background: url(../images/adviser/7-5.png?1) no-repeat;
  position: absolute;
  right: 60px;
  bottom: 220px;
}
#adviser #content #address .img-7-6 {
  width: 44px;
  height: 73px;
  background: url(../images/adviser/7-6.png?1) no-repeat;
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://res.souche.com/assets/images/adviser/7-6.png');
}
#adviser #content #address .img-7-7 {
  width: 50px;
  height: 17px;
  background: url(../images/adviser/7-7.png?1) no-repeat;
  filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://res.souche.com/assets/images/adviser/7-7.png');
}
#adviser #content .wrapper{
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
#adviser #content #address .wrap7-4{
  position: absolute;
  width: 385px;
  height: 80px;
  bottom: 0px;
  left: 250px;
}
.wrap7-6{
  width: 44px;
  height: 73px;
  top: 5px;
  left: 295px;
  position: absolute;
}
.wrap7-7{
  width: 50px;
  height: 17px;
  position: absolute;
  top: 128px;
  left: 293px;
}