#adviser{
  background: #f3f0ee;
  #content{
    background: #f3f0ee;
    .banner{
      height: 356px;
      background: url(../images/adviser/banner.png) no-repeat center;
     }
    .content-nav{
        height: 135px;
        width: 1190px;
        margin: 0 auto;
        position: relative;
        .nav-box{
          float: left;
          width: 162px;
          height: 135px;
          background: #fff;
          margin-left: 9px;
          color: #262626;
          cursor: pointer;
          display: block;
          .nav-cont{
            margin-top: 30px;
            font-size: 16px;
            text-align: center;
          }
          .nav-tit{
            font-size: 26px;
            text-align: center;
            margin-top: 30px;
          }
        }
        .nav-box:hover{
          background: #ff4400;
          color: #fff;
        }
      }
    #aiche{
      height: 1780px;
      .aiche-tit{
        background: #ff4400 url(../images/adviser/aiche.png) no-repeat center;
        height: 165px;
      }
     
    }
    #test{
      height: 895px;
      .test-tit{
        background:  #ff4400 url(../images/adviser/test-car.png) no-repeat center;
        height: 165px;
      }
    }
    #bargain{
      height: 2030px;
      .bargain-tit{
        background:  #ff4400 url(../images/adviser/bargain.png) no-repeat center;
        height: 165px;
      }
    }
    #staging{
      height: 920px;
      .staging-tit{
        background:  #ff4400 url(../images/adviser/staging-car.png) no-repeat center;
        height: 165px;
      }
    }
    #back{
      height: 2090px;
      .back-tit{
        background:  #ff4400 url(../images/adviser/back-car.png) no-repeat center;
        height: 165px;
      }
    }
    #qa{
      height: 1920px;
      .qa-tit{
        background:  #ff4400 url(../images/adviser/qa-car.png) no-repeat center;
        height: 165px;
      }
    }
    #shop{
      height: 2725px;
      .shop-tit{
        background:  #ff4400 url(../images/adviser/shop-car.png) no-repeat center;
        height: 165px;
      }
    }
    .wrapper{
      width: 1190px;
      margin: 0 auto;
      position: relative;
    }
  }
}