#adviser {
  background: #f3f0ee;
}
#adviser #content {
  background: #f3f0ee;
}
#adviser #content .banner {
  height: 356px;
  background: url(../images/adviser/banner.png) no-repeat center;
}
#adviser #content .content-nav {
  height: 135px;
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
#adviser #content .content-nav .nav-box {
  float: left;
  width: 162px;
  height: 135px;
  background: #fff;
  margin-left: 9px;
  color: #262626;
  cursor: pointer;
  display: block;
}
#adviser #content .content-nav .nav-box .nav-cont {
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
}
#adviser #content .content-nav .nav-box .nav-tit {
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
}
#adviser #content .content-nav .nav-box:hover {
  background: #ff4400;
  color: #fff;
}
#adviser #content #aiche {
  height: 1780px;
}
#adviser #content #aiche .aiche-tit {
  background: #ff4400 url(../images/adviser/aiche.png) no-repeat center;
  height: 165px;
}
#adviser #content #test {
  height: 895px;
}
#adviser #content #test .test-tit {
  background: #ff4400 url(../images/adviser/test-car.png) no-repeat center;
  height: 165px;
}
#adviser #content #bargain {
  height: 2030px;
}
#adviser #content #bargain .bargain-tit {
  background: #ff4400 url(../images/adviser/bargain.png) no-repeat center;
  height: 165px;
}
#adviser #content #staging {
  height: 920px;
}
#adviser #content #staging .staging-tit {
  background: #ff4400 url(../images/adviser/staging-car.png) no-repeat center;
  height: 165px;
}
#adviser #content #back {
  height: 2090px;
}
#adviser #content #back .back-tit {
  background: #ff4400 url(../images/adviser/back-car.png) no-repeat center;
  height: 165px;
}
#adviser #content #qa {
  height: 1920px;
}
#adviser #content #qa .qa-tit {
  background: #ff4400 url(../images/adviser/qa-car.png) no-repeat center;
  height: 165px;
}
#adviser #content #shop {
  height: 2725px;
}
#adviser #content #shop .shop-tit {
  background: #ff4400 url(../images/adviser/shop-car.png) no-repeat center;
  height: 165px;
}
#adviser #content .wrapper {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
