#adviser{
  background: #f3f0ee;
  #content{
    background: #f3f0ee;
    .banner{
      height: 356px;
      background: url(../images/adviser/banner.png) no-repeat center;
     }
    .content-nav{
        height: 135px;
        width: 1190px;
        margin: 0 auto;
        position: relative;
        .nav-box{
          float: left;
          width: 162px;
          height: 135px;
          background: #fff;
          margin-left: 9px;
          color: #262626;
          cursor: pointer;
          display: block;
          .nav-cont{
            margin-top: 30px;
            font-size: 16px;
            text-align: center;
          }
          .nav-tit{
            font-size: 26px;
            text-align: center;
            margin-top: 30px;
          }
        }
        .nav-box:hover{
          background: #ff4400;
          color: #fff;
        }
      }
    #aiche{
      height: 1777px;
      .aiche-tit{
        background: #ff4400 url(../images/adviser/aiche.png) no-repeat center;
        height: 165px;
      }
      .aiche-cont{
        width: 900px;
        margin: 0 auto;
        position: relative;
        .pic-1-1{
          width: 100%;
          height: 1612px;
          background: url(../images/adviser/1-1.png) no-repeat;
          z-index: 1;
          position: absolute;
          top: 0px;
          right: 1px;
        }
        .pic-1-2{
          width: 100%;
          height: 0px;
          background: url(../images/adviser/1-2.png) no-repeat;
          z-index: 2;
          position: absolute;
          top: 0px;
          right: 0px;
        }
        .pic-1-3{
          width: 455px;
          height: 251px;
          background: url(../images/adviser/1-3.png) no-repeat;
          z-index: 3;
          position: absolute;
          top:510px;
          right: -130px;
        }
      }
    }
    #test{
      height: 895px;
      .test-tit{
        background:  #ff4400 url(../images/adviser/test-car.png) no-repeat center;
        height: 165px;
      }
      .test-cont{
        padding-top: 185px;
        width: 800px;
        margin: 0 auto;
        position: relative;
        height: 480px;
        .pic-2-1{
          position: absolute;
          background: url(../images/adviser/2-1.png) no-repeat;
          width: 106px;
          height: 105px;
          right: 350px;
          z-index: 1;
        }
      }
    }
    #bargain{
      height: 2030px;
      .bargain-tit{
        background:  #ff4400 url(../images/adviser/bargain.png) no-repeat center;
        height: 165px;
      }
    }
    #staging{
      height: 920px;
      .staging-tit{
        background:  #ff4400 url(../images/adviser/staging-car.png) no-repeat center;
        height: 165px;
      }
    }
    #back{
      height: 2090px;
      .back-tit{
        background:  #ff4400 url(../images/adviser/back-car.png) no-repeat center;
        height: 165px;
      }
    }
    #qa{
      height: 1920px;
      .qa-tit{
        background:  #ff4400 url(../images/adviser/qa-car.png) no-repeat center;
        height: 165px;
      }
    }
    #shop{
      height: 2725px;
      .shop-tit{
        background:  #ff4400 url(../images/adviser/shop-car.png) no-repeat center;
        height: 165px;
      }
    }
    .wrapper{
      width: 1190px;
      margin: 0 auto;
      position: relative;
    }
  }
}
