#buyer{
  #content{
    position: relative;
    .push-fix{
      display: block;
      width: 363px;
      height: 477px;
      position: fixed;
      top: 150px;
      right: 2px;
      background: url(../images/pc/button-fix.png) no-repeat;
    }
    .banner{
      background: url(../images/pc/banner.png) no-repeat;
      background-position: center;
      height: 1015px;
      .banner-cont{
        width: 1280px;
        margin: 0 auto;
        position: relative;
        height: 1015px;
        .ueser-num{
          height: 60px;
          width: 345px;
          float: right;
          line-height: 60px;
          span{
            font-size: 20px;
            color: #9b97ea;
            margin-right: 10px;
          }
          em{
            padding: 5px;
            margin-right: 5px;
            font-size: 20px;
            color: #333;
            background: #fff;
          }
        }
        .what-buyer{
          width: 1024px;
          height: 257px;
          background: url(../images/pc/what-buyer.png) no-repeat;
          position: absolute; 
          bottom: 150px; 
          left: 100px;
          padding-top: 80px;
          padding-right: 40px;
          .cont{
            width: 890px;
            margin: 0 auto;
            
            h1{
              font-size: 40px;
              color: #ea5525;
              
              font-weight: bold;
            }
            .buyer-ex{
              line-height: 35px;
              span{
                font-size: 22px;
                color: #000;
              }
              em{
                color: #ea5525;
                font-size: 22px;
                margin: 10px;
                font-weight: bold;
              }
            }
            .button{
              width: 340px;
              height: 70px;
              color: #fff;
              text-align: center;
              margin: 0 auto;
              background: #ea5525;
              line-height: 70px;
              font-size: 30px;
              font-weight: bold;
              border-radius: 5px;
              display: block;
              cursor: pointer;
            }
          }
        }
      }
    }
    .buyer-detail{
      background: #f6e3b8;
    }
  }
}