#contrast #content .wrapper {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
#contrast #content .wrapper .contrast-title {
  margin-top: 20px;
  font-size: 25px;
  color: #333;
  font-weight: bold;
}
#contrast #content .wrapper .contrast-title label {
  font-size: 14px;
  color: #666;
  font-weight: normal;
  line-height: 20px;
}
#contrast #content .wrapper .contrast-nav {
  width: 125px;
  border: 1px solid #E4E3E3;
  position: fixed;
  top: 200px;
  left: 20px;
  background: #F9F9F9;
}
#contrast #content .wrapper .contrast-nav .nav-list {
  padding: 20px 15px;
  line-height: 43px;
  cursor: pointer;
  margin-bottom: 20px;
}
#contrast #content .wrapper .contrast-nav .nav-list li {
  height: 25px;
}
#contrast #content .wrapper .contrast-nav .nav-list li .frist-nav {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-top: 17px;
  display: block;
  background: #CCCCCC;
}
#contrast #content .wrapper .contrast-nav .nav-list li i {
  display: block;
  width: 8px;
  height: 25px;
  background: url(../images/contrast/nav-bg.png) no-repeat;
  float: left;
  margin-right: 5px;
}
#contrast #content .wrapper .contrast-nav .nav-list li:hover i {
  background: url(../images/contrast/nav-bg-hover.png) no-repeat;
}
#contrast #content .wrapper .contrast-nav .nav-list li:hover .frist-nav {
  background: #FC7000;
}
#contrast #content .wrapper .contrast-table {
  margin-top: 20px;
  width: 100%;
}
#contrast #content .wrapper .contrast-table .basic-info {
  table-layout: fixed;
  width: 1190px;
  border: 1px solid #D9D9D9;
}
#contrast #content .wrapper .contrast-table .basic-info th {
  padding-left: 10px;
}
#contrast #content .wrapper .contrast-table .basic-info .table-head {
  background: #FBFBFB;
  border-right: 1px solid #D9D9D9;
  color: #666;
  font-size: 14px;
  padding-left: 25px;
}
#contrast #content .wrapper .contrast-table .basic-info .tab-tit {
  border-right: 1px solid #D9D9D9;
  font-size: 16px;
  color: #333;
}
#contrast #content .wrapper .contrast-table .basic-info .tab-tit i {
  display: block;
  width: 13px ;
  height: 13px;
  border-radius: 13px;
  background: #FC7000;
  float: left;
  margin-top: 6px;
  margin-right: 5px;
}
#contrast #content .wrapper .contrast-table .basic-info .car-title {
  height: 80px;
  border-bottom: 1px solid #D9D9D9;
}
#contrast #content .wrapper .contrast-table .basic-info .car-title .title {
  font-size: 14px;
  color: #333;
  padding-right: 30px;
  font-weight: bold;
  border-right: 1px solid #D9D9D9;
  position: relative;
}
#contrast #content .wrapper .contrast-table .basic-info .car-title .title .carNameHover {
  cursor: pointer;
}
#contrast #content .wrapper .contrast-table .basic-info .car-title .title .close-contrast {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background: url(../images/contrast/close-contrast.png) no-repeat;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
#contrast #content .wrapper .contrast-table .basic-info .car-title .title .more-detail {
  display: block;
  position: absolute;
  width: 9px;
  height: 17px;
  background: url(../images/contrast/more-detail.png) no-repeat;
  top: 33px;
  right: 10px;
}
#contrast #content .wrapper .contrast-table .basic-info .car-pic {
  height: 180px;
  border-bottom: 1px solid #D9D9D9;
  text-align: center;
}
#contrast #content .wrapper .contrast-table .basic-info .tr-item {
  height: 45px;
  border-bottom: 1px solid #D9D9D9;
}
#contrast #content .wrapper .contrast-table .basic-info .tr-item td {
  padding-left: 10px;
  font-size: 14px;
  color: #333;
}
#contrast #content .wrapper .table-name {
  height: 50px;
  background: #E8E8E8;
  line-height: 50px;
  padding-left: 20px;
  font-size: 16px;
  color: #333;
}
#contrast #content .wrapper .table-name i {
  width: 13px;
  height: 13px;
  background: #B4B4B4;
  display: block;
  border-radius: 13px;
  float: left;
  margin-top: 19px;
  margin-right: 5px;
}
#contrast #content .wrapper .koubie {
  border: 1px solid #D9D9D9;
}
#contrast #content .wrapper .koubie .table-head {
  border-right: 1px solid #D9D9D9;
  padding-left: 20px;
  background: #FBFBFB;
  color: #666;
  font-size: 14px;
}
#contrast #content .wrapper .koubie td {
  padding: 10px;
  color: #666;
  font-size: 13px;
  text-align: top;
}
#contrast #content .wrapper .koubie tr {
  border-bottom: 1px solid #D9D9D9;
}
#contrast #content .wrapper .koubie .impression .koubie-tag {
  padding: 10px;
}
#contrast #content .wrapper .koubie .impression .koubie-tag .tag-box {
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  background: #60B25E;
  color: #fff;
  float: left;
  padding: 0 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}
#contrast #content .wrapper .koubie .advantage .ad-text {
  color: #666;
  font-size: 13px;
}
#contrast #content .wrapper .parameter {
  border: 1px solid #D9D9D9;
  table-layout: fixed;
  width: 1190px;
}
#contrast #content .wrapper .parameter .table-head {
  border-right: 1px solid #D9D9D9;
  padding-left: 20px;
  background: #FBFBFB;
  color: #666;
  font-size: 14px;
}
#contrast #content .wrapper .parameter td {
  padding: 0 10px;
  color: #666;
  font-size: 13px;
}
#contrast #content .wrapper .parameter tr {
  border-bottom: 1px solid #D9D9D9;
  height: 45px;
}
#contrast #content .wrapper .config {
  border: 1px solid #D9D9D9;
  table-layout: fixed;
  width: 1190px;
}
#contrast #content .wrapper .config .table-head {
  border-right: 1px solid #D9D9D9;
  padding-left: 20px;
  background: #FBFBFB;
  color: #666;
  font-size: 14px;
}
#contrast #content .wrapper .config td {
  padding: 0 10px;
  color: #666;
  font-size: 13px;
}
#contrast #content .wrapper .config td span {
  width: 10px;
  height: 10px;
  display: block;
  background: #000;
  border-radius: 10px;
}
#contrast #content .wrapper .config td .matching {
  width: 10px;
  height: 10px;
  display: block;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #000;
}
#contrast #content .wrapper .config tr {
  border-bottom: 1px solid #D9D9D9;
  height: 45px;
}
.matching {
  width: 10px;
  height: 10px;
  display: block;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #000;
}
.best {
  color: #fc7000 !important;
}
.best-2 {
  width: 10px;
  height: 10px;
  display: block;
  background: #fc7000 !important;
  border-radius: 10px;
}
.tempalte {
  width: 50px !important;
}
