#index{
  .module{
    margin-top:10px;
    .mod-main{
      width:920px;
      float:left;
    }
    .mod-side{
      width:259px;
      float:left;
      margin-left:10px;
    }
  }
  #content{
    .wrapper{
      width:1190px;
      margin:0 auto;
    }
  }
  @import '../../less/index/qiugou.less';
}

@import '../../less/index/mod1.less';