@orange:#fc7000;

#index{
  font-family: 'Microsoft YaHei',Tahoma,Verdana;
  color:#333;
  a{
    color:#444;
  }
  a:hover{
  color:@orange;
}
  .module{
    margin-top:10px;
    .mod-main{
      width:920px;
      float:left;
      display:inline;
    }
    .mod-side{
      width:260px;
      float:left;
      margin-left:10px;
      display:inline;
    }
    .hd{
      font-size: 16px;
      line-height: 35px;
      color:#222;
      font-weight: bold;
    }
  }
  
  #content{
    .wrapper{
      width:1191px;
      margin:0 auto;
      position: relative;
      _zoom:1;
      .sidetoolbar{
      width: 50px;
      height: 430px;
      position: fixed;
      right:10px;
      top: 172px;
      background-color: #fff;
    }
   }
  }
  #footer{
    margin-top: 30px;
    .wrapper{
      width:1190px;
      margin:0 auto;
      overflow: hidden;
    }
    .friendlinks{
      text-align: center;
      margin-top:20px;
      a{
        font-size:12px;
        color:#999;
        padding:0 10px;
        border-right: 1px solid #e6e6e6;
      }
      a.last{
        border:none;
      }
    }
    .footer-content{
      background: #f5f5f5;
      border-top:1px solid #e6e6e6;
    }
    .performance{
      padding: 40px 0;
      border-bottom: 1px solid #e6e6e6;
      width:1400px;
      i{
        display: block;
        width:40px;
        height:40px;
        position: absolute;
        top:8px;
        left:20px;

      }
      .per{
        position: relative;
        float:left;
        width:380px;
        padding-left:70px;
        a{
          display: block;
        }
      }
      .t{
        font-size: 16px;
        line-height: 30px;
        color:#666;
      }
      .st{
        font-size: 14px;
        color:#999;
        line-height: 20px;
      }
      .per-1{

        i{
          background: url(../images/index/per-1.png) no-repeat;
        }
      }
      .per-2{
        i{
          background: url(../images/index/per-2.png) no-repeat;
        }
      }
      .per-3{
        i{
          background: url(../images/index/per-3.png) no-repeat;
        }
      }
    }
    .company_info{
      padding:20px 0px;
      .wrap{
        text-align: center;
        a{
          color:#666;
          padding:0 10px;
        }
      }
      p{
        text-align: center;
        line-height: 30px;
        color:#999;
      }
    }
  }
  @import '../../less/index/qiugou.less';
  @import '../../less/index/mod3.less';
  @import '../../less/index/mod4.less';
  @import '../../less/index/buy-guide.less';
  @import '../../less/index/sidetoolbar.less';
  @import '../../less/index/module1.less';
  @import '../../less/index/module5.less';
}

@import '../../less/index/mod1.less';


