// 购车心愿卡 页面样式

@import "config.less";

@import "wish-card/wish-car-list.less";
@import "wish-card/wish-card-item.less";
@import "wish-card/wish-fill-form.less";


// 先写在这里吧
@newIndexW: 1280px;

*{
    .box-sizing();

    &:before,
    &:after{
        .box-sizing();
    }
}


.wish-card-main{
    position: relative;
    width: 1180px;
    min-height: 330px;
    margin: 0 auto;
    margin-top: 20px;
    // background-color: #f0f0f0;
}