body {background-color: #fff;}
#footer {border-top: 1px solid #d9d9d9;}

#login_header {border-bottom: 1px solid #d9d9d9;padding: 35px 0 10px;}
#login_header h1 {float:left;}
#login_header h1 a {float:left;width: 186px;height: 45px;text-indent: -9999em;background: url(../../images/fed/souche_sprite1.png);}
#login_header h2 {float: left;margin-top: 8px;margin-left: 40px;color: #666;font-size: 30px;font-family: Tahoma,Verdana,"\5FAE\8F6F\96C5\9ED1";}
#login_header .linkToRegister {float: right;margin-top: 29px;}

#login {width: 460px;margin: 0 auto;padding-top: 75px;margin-bottom: 117px;}

#register {width: 670px;margin: 0 auto;padding-top: 75px;margin-bottom: 117px;}
#register .input_remind {float: left;width: 240px;height: 34px;border: 1px solid #7abd54;background-color: #eeffe5;line-height: 34px;padding: 0 15px;color: #333;margin-right: 10px;}
#register .register_remind {float: left;width: 240px;height: 34px;line-height: 34px;}
#register .login_controller {margin-bottom: 19px;}
#register .login_button {margin-top: 10px;}
.login_button_disabled{width:270px;border:none;height:35px;line-height:35px;margin-left:87px;background-color:#CCCCCC;font-size:14px;font-weight:bold;text-align:center;color:#fff;letter-spacing:8px;border:none;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.testCode {margin-top: -15px;margin-bottom: 15px;margin-left: 82px;*margin-left: 41px;}
.testCode input {float: left;width: 162px;height: 30px;line-height: 30px;text-align:center;background: url(../../images/fed/souche_sprite1.png) -190px -241px;color: #999;margin-right: 67px;border: none;cursor: pointer;}
.testCode .getCode {color: #000}

.login_controller ins {float: left;width: 22px;height: 36px;background: url(../../images/fed/souche_sprite1.png) -149px -235px;}
.createRemind {color: #333;font-size: 14px;margin: -30px 0 26px 84px;}
.linkToRegister a {padding-left: 10px;}

.op_success {width: 500px;margin: 100px auto 325px;color: #333;font-size: 14px;}
.op_success p {margin-bottom: 30px;}
.op_success div {line-height: 35px;}
.login_start {float: left;width: 116px;height: 35px;font-size:14px;line-height:35px;margin-right:30px;background-color: #ee7700;text-align: center;color: #fff;border: none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.login_start:hover {color:#fff;font-size:14px;}
.return_home {color: #df5d15;font-size: 14px;text-decoration: underline;padding-left: 13px;}