#match_car_list {
  background-color: #f9f9f9;
  font-family: 'Microsoft YaHei', Tahoma, Verdana;
}
#match_car_list #content {
  background-color: #f9f9f9;
  min-height: 400px;
}
#match_car_list #content .wrapper {
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
#match_car_list #content .wrapper .qiugou-head {
  width: 100%;
  height: 60px;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
#match_car_list #content .wrapper .qiugou-head .qiugou-title {
  float: left;
  margin-left: 25px;
}
#match_car_list #content .wrapper .qiugou-head .qiugou-title span {
  font-size: 15px;
  color: #222;
  line-height: 60px;
  margin-right: 15px;
}
#match_car_list #content .wrapper .qiugou-head .qiugou-title span em {
  color: #fc7000;
  margin: 0 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 60px;
}
#match_car_list #content .wrapper .qiugou-head .chosecar {
  float: right;
  position: relative;
}
#match_car_list #content .wrapper .qiugou-head .chosecar .button {
  background: url("../images/mylist/choseagain.png") no-repeat;
  width: 130px;
  height: 25px;
  cursor: pointer;
  margin-right: 120px;
  margin-top: 17px;
  display: block;
}
#match_car_list #content .wrapper .qiugou-head .chosecar img {
  position: absolute;
  top: -10px;
  right: 10px;
}
#match_car_list #content .wrapper .pushcar .pushcar-today .pushcar-title {
  height: 55px;
  width: 100%;
  margin-top: 25px;
}
#match_car_list #content .wrapper .pushcar .pushcar-today .pushcar-title .push-date {
  float: left;
  width: 56px;
  height: 53px;
  background: url("../images/mylist/date.png") no-repeat;
  margin-right: 15px;
}
#match_car_list #content .wrapper .pushcar .pushcar-today .pushcar-title .push-date .years {
  color: #fff;
  text-align: center;
  width: 100%;
}
#match_car_list #content .wrapper .pushcar .pushcar-today .pushcar-title .push-date .days {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  line-height: 33px;
}
#match_car_list #content .wrapper .pushcar .pushcar-today .pushcar-title .title {
  float: left;
  font-size: 25px;
  color: #424242;
  line-height: 55px;
}
#match_car_list #content .wrapper .pushcar .pushcar-today .todaycar {
  margin-top: 15px;
}
.pushcar-box {
  width: 385px;
  height: 460px;
  border: 1px solid #e4e3e3;
  background-color: #fff;
  margin-bottom: 15px;
  float: left;
  margin-right: 9px;
}
.pushcar-box .push-content {
  height: 270px;
  width: 100%;
  border-bottom: 1px solid #e4e3e3;
}
.pushcar-box .push-content .pushcar-image {
  background: url("../images/mylist/next-advise.png") no-repeat;
  width: 158px;
  height: 55px;
  margin-top: 120px;
  margin-left: 110px;
}
.pushcar-box .push-content h1 {
  margin-top: 30px;
  font-size: 18px;
  color: #6f6f6f;
  margin-left: 110px;
}
.pushcar-box .push-content .push-time {
  margin-left: 125px;
  font-size: 14px;
  color: #6f6f6f;
  margin-top: 10px;
}
.pushcar-box .push-content .push-time .down-counter {
  font-size: 14px;
  color: #6f6f6f;
}
.pushcar-box .push-content .push-time .down-counter ins {
  color: #fc7000;
}
.pushcar-box .choseagain {
  background-color: #fcfcfc;
}
.pushcar-box .choseagain .title {
  float: left;
  line-height: 69px;
  color: #666;
  font-size: 14px;
  margin-left: 35px;
}
.pushcar-box .choseagain #again-button {
  float: left;
  margin-left: 15px;
  color: #fff;
  border: 6px solid #fc7000;
  border-radius: 25px;
  height: 28px;
  width: 180px;
  margin-top: 15px;
  background: url("../images/mylist/chose.png") no-repeat;
  background-position: right;
  background-color: #fc7000;
  line-height: 28px;
  padding-left: 10px;
  font-size: 18px;
  cursor: pointer;
  display: block;
}
.pushcar-box .choseagain #again-button:hover {
  border: 6px solid #fb560d;
  background: url("../images/mylist/chose-hover.png") no-repeat;
  background-position: right;
  background-color: #fb560d;
}
.push-history {
  margin-top: 40px;
  position: relative;
}
.push-history .push-title {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}
.push-history .title {
  float: left;
  height: 40px;
}
.push-history .title i {
  display: block;
  width: 20px;
  height: 21px;
  background: url("../images/mylist/history.png") no-repeat;
  float: left;
  margin-top: 12px;
  margin-right: 10px;
}
.push-history .title span {
  float: left;
  font-size: 25px;
  color: #424242;
  line-height: 40px;
}
.push-history .fliter-box {
  float: right;
  margin-right: 10px;
}
.push-history .fliter-box .fliter {
  margin-top: 15px;
  font-size: 14px;
}
.push-history .fliter-box .fliter .showall {
  float: left;
  margin-right: 25px;
  cursor: pointer;
}
.push-history .fliter-box .fliter .showsell {
  float: left;
  cursor: pointer;
}
.car-box {
  width: 385px;
  height: 460px;
  border: 1px solid #e4e3e3;
  background-color: #fff;
  margin-bottom: 15px;
  float: left;
  margin-right: 9px;
}
.car-box .car-image {
  display: block;
  width: 385px;
  height: 260px;
  position: relative;
}
.car-box .car-image .faver {
  position: absolute;
  background: url("../images/mylist/faver.png") no-repeat;
  width: 50px;
  height: 20px;
  top: 15px;
  right: 75px;
}
.car-box .car-image .faver:hover {
  background: url("../images/mylist/faver-hover.png") no-repeat;
}
.car-box .car-image .hadfav {
  position: absolute;
  background: url("../images/mylist/hadfav.png") no-repeat;
  width: 50px;
  height: 20px;
  top: 15px;
  right: 75px;
  opacity: 0.8;
}
.car-box .car-image .hadfav:hover {
  background: url("../images/mylist/hadfav-hover.png") no-repeat;
}
.car-box .car-image .hate {
  position: absolute;
  background: url("../images/mylist/hate.png") no-repeat;
  width: 60px;
  height: 20px;
  top: 15px;
  right: 10px;
  opacity: 0.8;
}
.car-box .car-image .hate:hover {
  background: url("../images/mylist/hate-hover.png") no-repeat;
}
.car-box .car-image .jiangjia {
  position: absolute;
  bottom: 0px;
  background-color: #333333;
  opacity: 0.8;
  width: 385px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.car-box .car-image .jiangjia i {
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  background: url("../images/mylist/jiangjia.png") no-repeat;
  margin-left: 15px;
  margin-top: 13px;
}
.car-box .car-image .jiangjia span {
  display: block;
  float: left;
  margin-left: 10px;
}
.car-box .car-image .jiangjia em {
  display: block;
  float: left;
}
.car-box .car-image .youhui {
  position: absolute;
  bottom: 0px;
  background-color: #333333;
  opacity: 0.8;
  width: 385px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.car-box .car-image .youhui i {
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  background: url("../images/mylist/youhui.png") no-repeat;
  margin-left: 15px;
  margin-top: 13px;
}
.car-box .car-image .youhui span {
  display: block;
  float: left;
  margin-left: 10px;
}
.car-box .car-image .youhui em {
  display: block;
  float: left;
}
.car-box .car-image .youhui .down-counter {
  float: left;
  margin-left: 10px;
}
.car-box .car-image .xinche {
  position: absolute;
  bottom: 0px;
  background-color: #333333;
  opacity: 0.8;
  width: 385px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
.car-box .car-image .xinche i {
  display: block;
  float: left;
  width: 14px;
  height: 14px;
  background: url("../images/mylist/xin.png") no-repeat;
  margin-left: 15px;
  margin-top: 13px;
}
.car-box .car-image .xinche span {
  display: block;
  float: left;
  margin-left: 10px;
}
.car-box .car-detail {
  height: 100px;
  width: 355px;
  border-bottom: 1px solid #e4e3e3;
  padding: 15px;
}
.car-box .car-detail .car-title {
  font-size: 17px;
  color: #333333;
  font-weight: bold;
}
.car-box .car-detail .car-title:hover {
  color: #fc7000;
}
.car-box .car-detail .car-price {
  margin-top: 10px;
}
.car-box .car-detail .car-price .price-now {
  float: left;
  width: 120px;
  border-right: 1px solid #e4e3e3;
}
.car-box .car-detail .car-price .price-now .price {
  font-size: 20px;
  color: #fc7000;
  font-weight: bold;
}
.car-box .car-detail .car-price .price-now .price-caption {
  font-size: 13px;
  color: #999999;
}
.car-box .car-detail .car-price .price-save {
  margin-left: 20px;
  float: left;
  width: 200px;
}
.car-box .car-detail .car-price .price-save .save {
  font-size: 18px;
  color: #fc7000;
}
.car-box .car-detail .car-price .price-save .save span {
  font-weight: bold;
}
.car-box .car-detail .car-price .price-save .price-old {
  font-size: 13px;
  color: #999999;
  margin-top: 2px;
}
.car-box .car-advise {
  background-color: #fcfcfc;
  height: 39px;
  width: 355px;
  padding: 15px;
  position: relative;
}
.car-box .car-advise .selled {
  position: absolute;
  width: 33px;
  height: 20px;
  font-size: 14px;
  background-color: #cccccc;
  color: #fcfcfc;
  top: 14px;
  right: 15px;
  padding-left: 5px;
}
.car-box .car-advise .title {
  position: absolute;
  right: 15px;
  top: 40px;
  color: #999;
}
.car-box .car-advise p {
  color: #666;
  font-size: 14px;
}
#qiugou-container {
  background-color: #fff;
  width: 100%;
  border: 1px solid #e5e5e5;
  position: relative;
  margin-top: 20px;
}
#qiugou-container .wrapper {
  background-color: #fff;
  width: 1191px;
  margin: 0 auto;
  position: relative;
}
#qiugou-container .wrapper .qiugou-filter {
  background: url("../images/index/qiugou-container.png?123") no-repeat scroll right bottom;
  position: relative;
}
#qiugou-container .wrapper .qiugou-filter .erweima {
  width: 155px;
  float: right;
}
#qiugou-container .wrapper .qiugou-filter .erweima .erweima-img {
  width: 100px;
  height: 173px;
  background: url("../images/index/erweima-img.png") no-repeat;
}
.qiugou {
  background: #fff;
  position: relative;
}
.qiugou .inner {
  margin: 30px;
  width: 885px;
  float: left;
  border-right: 1px solid #d9d9d9;
  padding-left: 70px;
}
.qiugou .person-bg {
  background: url(../images/mylist/qiugou.png?123) no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  right: 170px;
  width: 386px;
  height: 377px;
  z-index: 2;
}
.qiugou .head {
  height: 50px;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.qiugou .title {
  font-size: 25px;
  color: #222;
  line-height: 35px;
}
.qiugou .title em {
  color: #fc7000;
  margin: 10px;
}
.qiugou .sub-title {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
.qiugou .searching-sub-title {
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
.qiugou .success-title {
  font-size: 28px;
  color: #222;
  line-height: 35px;
  height: 60px;
}
.qiugou .searching-title {
  font-size: 28px;
  color: #222;
  line-height: 35px;
  height: 35px;
  width: 540px;
}
.qiugou .searching-title em {
  color: #fc7000;
}
.qiugou .form {
  z-index: 5;
  width: 801px;
  background-color: #fff;
  border-bottom: none;
}
.qiugou .form img.no-result {
  width: 277px;
  height: 263px;
  position: absolute;
  top: 125px;
  left: 475px;
  display: none;
}
.qiugou .form .shadow {
  width: 22px;
  height: 136px;
  position: absolute;
  top: 105px;
  right: 366px;
  background: url(../images/index/shadow.png?123) no-repeat 0 0;
  z-index: 200;
}
.qiugou .form .form-inner {
  margin-left: 20px;
  margin-bottom: 20px;
}
.qiugou .form .form-inner .form-title {
  font-size: 15px;
  color: #666;
  line-height: 30px;
}
.qiugou .form-item {
  margin-top: 10px;
}
.qiugou .form-item label {
  color: #444;
  font-size: 14px;
  float: left;
  line-height: 30px;
  width: 60px;
  text-align: right;
  height: 30px;
}
.qiugou .form-item .input {
  margin-left: 10px;
  float: left;
  color: #444;
  font-size: 14px;
}
.qiugou .form-item .warning {
  color: #fc7000;
  font-weight: bold;
  line-height: 30px;
  font-size: 14px;
}
.qiugou .brand-select {
  width: 257px;
  height: auto;
  display: block;
}
.qiugou .brand-select .close {
  background: #fc7000;
  color: #fff;
  font-size: 12px;
  float: right;
  margin-right: 10px;
  line-height: 25px;
  padding: 0 10px;
  cursor: pointer;
  *margin-top: -30px;
}
.qiugou .brand-select .sc-select-list {
  overflow: hidden;
  width: 500px;
  height: 400px !important;
}
.qiugou .brand-select .sc-select-content {
  padding-left: 0;
}
.qiugou .brand-select .placeholder {
  padding-left: 10px;
}
.qiugou .brand-select .sc-popup-bd {
  height: 370px;
  padding-bottom: 60px;
}
.qiugou .brand-select .word-title {
  float: left;
  color: #fc7000;
  font-size: 18px;
  line-height: 30px;
  width: 30px;
}
.qiugou .brand-select .word-brands {
  float: left;
  display: inline;
  width: 450px;
}
.qiugou .brand-select .option {
  padding: 0 5px;
  margin-left: 7px;
  color: #666;
  display: inline-block;
  font-size: 12px;
  border: 2px solid #fff;
  line-height: 20px;
  margin-top: 3px;
}
.qiugou .brand-select .word-container:last-child {
  margin-bottom: 60px;
}
.qiugou .brand-select .option.active {
  border: 2px solid #fc7000;
  background: #ffedda url(../images/index/popup-active.png) no-repeat right bottom;
  color: #fc7000;
}
.qiugou .brand-select .option:hover {
  color: #fc7000;
}
.qiugou .brand-select .sc-popup {
  padding-right: 0;
  z-index: 5px;
}
.form-item {
  margin-top: 10px;
}
.form-item label {
  color: #444;
  font-size: 14px;
  float: left;
  line-height: 30px;
  width: 30px;
  height: 30px;
}
.form-item .input {
  margin-left: 20px;
  float: left;
  color: #444;
  font-size: 14px;
}
.form-item .warning {
  color: #fc7000;
  font-weight: bold;
  line-height: 30px;
  font-size: 14px;
}
.go-login {
  margin-left: 30px;
  font-size: 12px;
}
.go-login a {
  color: #fc7000;
  text-decoration: underline;
}
.series-select {
  width: 257px;
  height: auto;
  display: block;
}
.series-select .sc-select-list {
  overflow: hidden;
  width: 500px;
  height: 400px !important;
}
.series-select .close {
  background: #fc7000;
  color: #fff;
  font-size: 12px;
  float: right;
  margin-right: 10px;
  line-height: 25px;
  padding: 0 10px;
  cursor: pointer;
  *margin-top: -30px;
}
.series-select .sc-select-content {
  padding-left: 0;
}
.series-select .placeholder {
  padding-left: 10px;
}
.series-select .sc-popup-bd {
  height: 370px;
}
.series-select .brand-title {
  color: #fc7000;
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
}
.series-select .option {
  padding: 0 5px;
  margin-right: 5px;
  color: #333;
  display: inline-block;
  font-size: 12px;
  border: 2px solid #fff;
  line-height: 20px;
  margin-top: 5px;
}
.series-select .option.active {
  border: 2px solid #fc7000;
  background: #ffedda url(../images/index/popup-active.png?123) no-repeat right bottom;
  color: #fc7000;
}
.series-select .word-container:last-child {
  margin-bottom: 60px;
}
.series-select .option:hover {
  color: #fc7000;
}
.series-select .sc-popup {
  padding-right: 0;
}
.age-select,
.model-select {
  width: 113px;
  display: inline;
  float: left;
}
.age-zhi {
  float: left;
  padding: 0 7px;
  line-height: 30px;
}
.age-select .option,
.model-select .option {
  display: block;
  float: none;
  padding-left: 15px;
  font-size: 12px;
  line-height: 25px;
  color: #333;
}
.age-select .option:hover,
.model-select .option:hover {
  background: #fc7000;
  color: #fff;
}
.price-select-low {
  width: 103px;
  padding-left: 10px;
  color: #666;
  margin-right: 5px;
  height: 30px;
  margin-left: 0;
  border: 1px solid #ddd;
  *margin-left: -20px;
}
.price-select-high {
  width: 103px;
  padding-left: 10px;
  color: #666;
  margin-left: 5px;
  margin-right: 5px;
  height: 30px;
  border: 1px solid #ddd;
}
.submit {
  background: #fc7000;
  color: #fff;
  height: 35px;
  border: none;
  width: 165px;
  font-size: 16px;
  cursor: pointer;
}
.submit.loading {
  background: #ffa053;
}
.wedo {
  width: 70px;
  height: 174px;
  position: absolute;
  right: 465px;
  top: 0;
  cursor: pointer;
  background: url("../images/index/wedo.png") no-repeat scroll;
  background-position: 0 -40px;
  z-index: 100;
}
.load-more {
  height: 40px;
  background: url(../images/mylist/loading.gif) no-repeat center center;
}
.erweima {
  float: right;
  width: 130px;
  padding-top: 125px;
  padding-right: 35px;
  text-align: center;
  color: #a9a9a9;
  font-size: 14px;
}
.erweima img {
  margin-bottom: 15px;
}
.load-more {
  height: 40px;
  background: url(../images/mylist/loading.gif) no-repeat center center;
}
