@orange:#fc7000;
#match_car_list{
  background-color: #f5f5f5;
  font-family: 'Microsoft YaHei',Tahoma,Verdana;
  #content{
    background-color: #f5f5f5;
    .wrapper{
      width: 1190px;
      margin: 0 auto;
      position: relative;
      .qiugou-head{
        width: 100%;
        height: 60px;
        margin-top: 20px;
        border: 1px solid #e6e6e6;
        background-color: #fff;
        .qiugou-title{
          float: left;
          margin-left: 25px;
          span{
            font-size: 15px;
            color: #222;
            line-height: 60px;
            margin-right: 15px;
            em{
             color: @orange;
             margin: 0 5px;
             font-size: 14px;
             font-weight: bold;
             line-height: 60px;
            }
          }
        }
        .choseagain{
          float: right;
          position: relative;
          .button{
            background: url("../images/mylist/choseagain.png") no-repeat;
            width: 130px;
            height: 25px;
            cursor: pointer;
            margin-right: 120px;
            margin-top: 17px;
          }
          img{
            position: absolute;
            top: -10px;
            right: 10px;
          }
        }
      }
      .pushcar{
        .pushcar-today{
          .pushcar-title{
            height: 55px;
            width: 100%;
            margin-top: 25px;
            .push-date{
              float: left;
              width: 56px;
              height: 53px;
              background: url("../images/mylist/date.png") no-repeat;
              margin-right: 15px;
              .years{
                color: #fff;
                text-align: center;
                width: 100%;
              }
              .days{
                color: #333;
                font-size: 30px;
                font-weight: bold;
                width: 100%;
                text-align: center;
                line-height: 33px;
              }
            }
            .title{
              float: left;
              font-size: 25px;
              color: #424242;
              line-height: 55px;
            }
          }
          .todaycar{
            margin-top: 15px;
            .car-box{
              width: 385px;
              height: 460px;
              border: 1px solid #e4e3e3;
              background-color: #fff;
              margin-bottom: 15px;
              float: left;
              margin-right: 9px;
              .car-image{
                display: block;
                width: 385px;
                height: 260px;
                position: relative;
                .faver{
                  position: absolute;
                  background: url("../images/mylist/faver.png") no-repeat;
                  width: 50px;
                  height: 20px;
                  top: 15px;
                  right: 75px;
                }
                .faver:hover{
                  background: url("../images/mylist/faver-hover.png") no-repeat;
                }
                .hadfav{
                  position: absolute;
                  background: url("../images/mylist/hadfav.png") no-repeat;
                  width: 50px;
                  height: 20px;
                  top: 15px;
                  right: 75px;
                  opacity: 0.8;
                }
                .hadfav:hover{
                  background: url("../images/mylist/hadfav-hover.png") no-repeat;
                }
                .hate{
                  position: absolute;
                  background: url("../images/mylist/hate.png") no-repeat;
                  width: 60px;
                  height: 20px;
                  top: 15px;
                  right: 10px;
                  opacity: 0.8;
                }
                .hate:hover{
                  background: url("../images/mylist/hate-hover.png") no-repeat;

                }
                .jiangjia{
                  position: absolute;
                  bottom: 0px;
                  background-color: #333333;
                  opacity: 0.8;
                  width: 385px;
                  height: 40px;
                  line-height: 40px;
                  color: #fff;
                  i{
                    display: block;
                    float: left;
                    width: 14px;
                    height: 14px;
                    background: url("../images/mylist/jiangjia.png") no-repeat;
                    margin-left: 15px;
                    margin-top: 13px;
                  }
                  span{
                    display: block;
                    float: left;
                    margin-left: 10px;
                  }
                  em{
                    display: block;
                    float: left;
                  }
                }
                .youhui{
                  position: absolute;
                  bottom: 0px;
                  background-color: #333333;
                  opacity: 0.8;
                  width: 385px;
                  height: 40px;
                  line-height: 40px;
                  color: #fff;
                  i{
                    display: block;
                    float: left;
                    width: 14px;
                    height: 14px;
                    background: url("../images/mylist/youhui.png") no-repeat;
                    margin-left: 15px;
                    margin-top: 13px;
                  }
                  span{
                    display: block;
                    float: left;
                    margin-left: 10px;
                  }
                  em{
                    display: block;
                    float: left;
                  }
                  .down-counter{
                    float: left;
                    margin-left: 10px;
                  }
                }
                .xinche{
                  position: absolute;
                  bottom: 0px;
                  background-color: #333333;
                  opacity: 0.8;
                  width: 385px;
                  height: 40px;
                  line-height: 40px;
                  color: #fff;
                  i{
                    display: block;
                    float: left;
                    width: 14px;
                    height: 14px;
                    background: url("../images/mylist/xin.png") no-repeat;
                    margin-left: 15px;
                    margin-top: 13px;
                  }
                  span{
                    display: block;
                    float: left;
                    margin-left: 10px;
                  }
                }
              }
              .car-detail{
                height: 100px;
                width: 355px;
                border-bottom: 1px solid #e4e3e3;
                padding: 15px;
                .car-title{
                  font-size: 17px;
                  color: #333333;
                  font-weight: bold;
                }
                .car-title:hover{
                  color: @orange;
                }
                .car-price{
                  margin-top: 10px;
                  .price-now{
                    float: left;
                    width: 120px;
                    border-right: 1px solid #e4e3e3;
                    .price{
                      font-size: 20px;
                      color: @orange;
                      font-weight: bold;
                    }
                    .price-caption{
                      font-size: 13px;
                      color: #999999;
                    }
                  }
                  .price-save{
                    margin-left: 20px;
                    float: left;
                    width: 200px;
                    .save{
                      font-size: 18px;
                      color: @orange;
                      span{
                        font-weight: bold;
                      }
                    }
                    .price-old{
                      font-size: 13px;
                      color: #999999;
                      margin-top: 2px;
                    }
                  }
                }
              }
              .car-advise{
                background-color: #fcfcfc;
                height: 39px;
                width: 355px;
                padding: 15px;
               
                position: relative;
                .title{
                  position: absolute;
                  right: 15px;
                  top: 40px;
                  color: #999;
                }
                p{
                  color: #666;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.pushcar-box{
  width: 385px;
  height: 460px;
  border: 1px solid #e4e3e3;
  background-color: #fff;
  margin-bottom: 15px;
  float: left;
  margin-right: 9px;
  .push-content{
    height: 270px;
    width: 100%;
    border-bottom: 1px solid #e4e3e3;
    .pushcar-image{
      background: url("../images/mylist/next-advise.png") no-repeat;
      width: 158px;
      height: 55px;
      margin-top:120px;
      margin-left: 110px; 
    }
    h1{
      margin-top: 30px;
      font-size: 18px;
      color: #6f6f6f;
      margin-left: 110px;
    }
    .push-time{
      margin-left: 125px;
      font-size: 18px;
      color: #6f6f6f;
      margin-top: 10px;
      span{
        color: @orange;
      }
    }
  }
  .choseagain{
    background-color: #fcfcfc;
    .title{
      float: left;
      line-height: 69px;
      color: #666;
      font-size: 14px;
      margin-left: 35px;
    }
    .button{
      float: left;
      margin-left: 15px;
      color: #fff;
      border: 6px solid @orange;
      border-radius: 25px;
      height: 28px;
      width: 180px;
      margin-top: 15px;
      background: url("../images/mylist/chose.png") no-repeat;
      background-position: right;
      background-color: @orange;
      line-height: 28px;
      padding-left: 10px;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
.push-history{
  margin-top: 40px;
  position: relative;
  .title{
    float: left;
    height: 40px;
    i{
      display: block;
    }
  }
  .fliter-box{
   float: right;
   margin-right: 10px;
  }
}