*{
  box-sizing: border-box;
}
#sellCarNew{
  #content{
    .sell-banner{
      width: 100%;
      height: 460px;
      background: url(../images/sellcar-new/banner.jpg) no-repeat center;
      .wrapper{
        width: 980px;
        margin: 0 auto;
        position: relative;
        .sell-title{
          float: left;
          margin-top: 100px;
          h1{
            font-size: 48px;
            color: #fff;
            margin-bottom: 8px;
          }
          h2{
            font-size: 20px;
            color: #fff;
            margin-bottom: 32px;
          }
          .sell-history{
            font-size: 14px;
            color: #fff;
            line-height: 22px;
            margin-bottom: 18px;
            .history-box{
              width: 335px;
              height: 85px;
              overflow: hidden;
              position: relative;
            }
          }
          .serv-num{
            font-size: 14px;
            color: #fff;
          }
        }
        .sell-form{
          float: right;
          width: 380px;
          height: 330px;
          margin-top: 60px;
          padding: 24px 35px;
          background: #fff;
          .title{
            color: #333;
            font-size: 20px;
            margin-bottom: 19px;
          }
          .sell-info{
            .select-item{
              height: 32px;
              margin-bottom: 10px;
              font-size: 12px;
              color: #999;
              position: relative;
              .unit{
                position: absolute;
                top: 8px;
                right: 10px;
              }
              .select{
                padding: 6px 8px;
                height: 32px;
                border: 1px solid #DDDDDD;
                position: relative;
                .open-icon{
                  position: absolute;
                  width: 7px;
                  height: 4px;
                  background: url(../images/sellcar-new/select-open.png) no-repeat;
                  top: 14px;
                  right: 15px;
                }
                .display-text{
                  overflow: hidden;
                  height:18px;
                  display: block;
                  padding-right: 15px;
                }

              }
              .select-open{
                position: absolute;
                border: 2px solid #FF5517;
                padding: 10px 11px;
                background: #fff;
                z-index: 100;
                top: 31px;
                .cont-default{
                  line-height: 30px;
                  font-size: 12px;
                  color:#999;
                  padding-left: 10px;
                }
                .open-item{
                  float: left;
                  margin-right: 22px;
                  .open-tit{
                    font-size: 12px;
                    color: #999;
                    margin-bottom: 10px;
                  }
                  .choose-box{
                    overflow-y: scroll;
                    border: 1px solid #ddd;
                    .cont-tit{
                      line-height: 28px;
                      color: #333;
                      font-size: 14px;
                      background: #F7F7F7;
                      padding-left: 10px;
                    }
                    .choose-cont{
                      line-height: 32px;
                      font-size: 12px;
                      color: #666;
                      padding-left: 10px;
                      cursor: pointer;

                    }
                    .choose-cont:hover{
                      color: #fff;
                      background:#F44B0B ;
                    }
                    .choose-cont.active{
                      color: #fff;
                      background:#F44B0B ;
                    }
                    .cont-choosed{
                      color: #fff;
                      background:#F44B0B ;
                    }
                  }
                }
              }
              #car-open{
                width: 705px;
                height: 444px;
                right:-1px;
                .choose-box{
                  height: 375px;
                }
                #choose-brand{
                  width: 171px;
                  .choose-box{
                    margin-left: 22px;

                    .choose-cont{
                      background: url(../images/sellcar-new/cont-item.png) no-repeat 120px center;
                    }
                    .choose-cont:hover{
                      background: #F44B0B url(../images/sellcar-new/cont-item-ho.png) no-repeat 120px center;
                    }
                  }
                }
                #choose-set{
                  width: 169px;

                  .choose-cont{
                    background: url(../images/sellcar-new/cont-item.png) no-repeat 140px center;
                  }
                  .choose-cont:hover{
                    background: #F44B0B url(../images/sellcar-new/cont-item-ho.png) no-repeat 140px center;
                  }
                }
                #choose-type{
                  width: 280px;
                  margin-right: 0px;
                }
              }
              #area-open{
                width: 310px;
                height: 390px;
                padding-left: 20px;
                right:-1px;
                .choose-box{
                  height: 325px;
                }
                #choose-area{
                  width: 122px;
                }
                #choose-city{
                  width: 120px;
                  margin-right: 0px;
                }
              }
              #time-open{
                width: 310px;
                padding-left: 20px;
                left: -1px;
                height: 220px;
                top: 33px;
                #choose-years{
                  width: 120px;
                  .choose-box{
                    height: 160px;
                  }

                }
                #choose-mouth{
                  width: 120px;
                  margin-right: 0px;
                  .choose-box{
                    height: 160px;
                  }
                }
              }
              #select-time{
                width: 150px;
                float: left;
                margin-right: 10px;
              }
              #input-mile{
                width: 150px;
                float: left;
                padding: 6px 8px;
                height: 32px;
                border: 1px solid #DDDDDD;
                position: relative;
              }
              #select-hope{
                width: 150px;
                float: left;
                margin-right: 10px;
              }
              #input-reason{
                padding: 6px 8px;
                display: block;
                width: 150px;
                float: left;
                height: 32px;
                border: 1px solid #DDDDDD;
                position: relative;
              }
            }
            .form-sub{
              margin-top: 12px;
              #sell-submit{
                display: block;
                float: left;
                width: 150px;
                height: 40px;
                margin-right: 10px;
                border-radius: 2px;
                background: #FF5517;
                border: none;
                font-size: 16px;
                line-height: 40px;
                color: #fff;
                text-align: center;
              }
              .judge-link{
                display: block;
                float: left;
                height: 40px;
                line-height: 40px;
                font-size: 16px;
                color: #333;
                width: 150px;
                text-align: center;
              }
            }
          }
        }
      }
    }
    .sell-flow{
      
      
      .wrapper{
        padding: 40px 0;
        width: 1180px;
        margin: 0 auto;
        border-bottom: 1px solid #F2F2F2;
        .flow-item{
          float: left;
          width: 295px;
          .flow-icon{
            float: left;
          }
          .flow-text{
            float: left;
            margin-left: 10px;
            .flow-tit{
              margin-top: 15px;
              margin-bottom: 1px;
              color: #FF5517;
              font-size: 20px;
            }
            .flow-des{
              font-size: 14px;
              color: #666;
            }
          }
        }
      }
    }
    .sell-detail{
      background: #fff;
      .wrapper{
        width: 1180px;
        margin: 0 auto;
        position: relative;
        .detail-item{
          padding-top: 78px;
          padding-bottom: 80px;
          border-bottom: 1px solid #F2F2F2;
          .tit{
            font-size: 32px;
            color: #333;
            text-align: center;
            margin-bottom: 8px;
          }
          p{
            color: #999;
            font-size: 16px;
            line-height: 25px;
            text-align: center;
          }
          .item-pic{
            width: 680px;
            margin: 0 auto;
            margin-top: 55px;
          }
          .price-table{
            margin-top: 80px;
            .price-pic{
              float: left;
              width: 537px;
              height: 376px;
              background: url(../images/sellcar-new/price-table.png) no-repeat;
              margin-right: 90px;
            }
            .price-ds{
              float: left;
              margin-top: 68px;
              .text-item{
                margin-bottom: 35px;
                .title{
                  margin-bottom: 19px;
                  i{
                    display: block;
                    float: left;
                  }
                  .tuoguan{
                    width: 20px;
                    height: 20px;
                    margin-top: 5px;
                    background: url(../images/sellcar-new/tg-icon.png) no-repeat;
                  }
                  .paimai{
                    width: 19px;
                    height: 18px;
                    background: url(../images/sellcar-new/qw-icon.png) no-repeat;
                    margin-top: 6px;
                  }
                  span{
                    display: block;
                    color: #333;
                    font-size: 20px;
                    float: left;
                    margin-left: 10px;
                  }
                }
                p{
                  font-size: 14px;
                  color: #999;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}
.questions{
  width: 510px;
  margin: 0 auto;
  padding-top: 77px;
  h1{
    font-size: 32px;
    color: #333;
    text-align: center;
    margin-bottom: 52px;
  }
  .sellcar-up{
    margin-top: 80px;
    a{
      display: block;
      width: 150px;
      height: 40px;
      border-radius: 2px;
      background: #FF5517;
      line-height: 40px;
      text-align: center;
      color: #fff;
      font-size: 16px;
      margin: 0 auto;
    }
  }
  .ques-box{
    padding-bottom: 100px;
    .ques-item{
      padding-bottom: 20px;
      border-bottom: 1px solid #F2F2F2;
      .ques-cont{
        line-height: 26px;
        font-size: 20px;
        color: #333;
        background: url(../images/sellcar-new/qa-down.png) no-repeat right center;
        margin-top: 23px;
        cursor: pointer;
      }
      .an-up{
        background: url(../images/sellcar-new/qa-up.png) no-repeat right center;
      }
      .answer{
        margin-top: 18px;
        line-height: 19px;
        font-size: 14px;
        color: #333;
      }
    }
    .quer-or{
      .ques-cont{
        color: #FF5417;
        background: url(../images/sellcar-new/qa-down-or.png) no-repeat right center;
      }
      .an-up{
        background: url(../images/sellcar-new/qa-up-or.png) no-repeat right center;
      }
    }
  }
}