a {
  color: #444;
  cursor: pointer;
}
a:hover {
  color: #fc7000;
}
#news {
  font-family: 'Microsoft YaHei', Tahoma, Verdana;
  color: #333;
}
#news #header {
  height: 80px;
}
#news #header .wrapper {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#news #header .wrapper .logo {
  float: left;
  margin: 18px 0;
}
#news #header .wrapper .head-tel {
  float: right;
  margin-top: 35px;
}
#news #header .wrapper .head-tel li {
  float: left;
  padding: 0 15px;
  border-right: 1px solid #e4e4e4;
}
#news #header .wrapper .head-tel .welcome {
  border-right: none;
}
#news #nav {
  background-color: #333;
  height: 40px;
}
#news #nav .wrapper {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#news #nav .wrapper .navlist a {
  display: block;
  font-size: 16px;
  color: #fff;
  text-align: center;
  height: 40px;
  line-height: 40px;
  padding: 0 19px;
  float: left;
}
#news #nav .wrapper .navlist a:hover {
  color: #fff;
  background-color: #fc7000;
}
#news #second-nav {
  height: 34px;
  background-color: #f0f0f0;
}
#news #second-nav .wrapper {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#news #second-nav .wrapper .navlist a {
  display: block;
  font-size: 14px;
  color: #666;
  text-align: center;
  height: 34px;
  line-height: 34px;
  padding: 0 19px;
  float: left;
}
#news #second-nav .wrapper .navlist a:hover {
  color: #fc7000;
}
#news #content .wrapper {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#news #content .wrapper .model1 .mod-main {
  margin-top: 25px;
  width: 890px;
  float: left;
  display: inline;
}
#news #content .wrapper .model1 .mod-main .banner {
  display: block;
  float: left;
  width: 490px;
  height: 325px;
}
#news #content .wrapper .model1 .mod-main .banner img {
  width: 490px;
  height: 325px;
}
#news #content .wrapper .model1 .mod-main .nav-list {
  width: 398px;
  height: 325px;
  border: 1px solid #e4e4e4;
  border-bottom: none;
  border-left: none;
  float: left;
}
#news #content .wrapper .model1 .mod-main .nav-list .list-box {
  height: 80px;
  border-bottom: 1px solid #e4e4e4;
}
#news #content .wrapper .model1 .mod-main .nav-list .list-box .arrow {
  width: 7px;
  height: 80px;
  background-color: #e6e6e6;
  display: block;
  float: left;
  border-right: 5px solid #fff;
}
#news #content .wrapper .model1 .mod-main .nav-list .list-box .text-box {
  padding: 18px;
  float: left;
}
#news #content .wrapper .model1 .mod-main .nav-list .list-box .text-box a {
  font-size: 14px;
  color: #3f3f3f;
  display: block;
}
#news #content .wrapper .model1 .mod-main .nav-list .list-box .text-box span {
  font-size: 12px;
  color: #b2b2b2;
}
#news #content .wrapper .model1 .mod-main .nav-list .list-box:hover {
  background-color: #f9f9f9;
}
#news #content .wrapper .model1 .mod-main .nav-list .list-box:hover .arrow {
  background: url(../images/news/arrow.png) no-repeat;
  border-right: none;
  width: 12px;
}
#news #content .wrapper .model1 .mod-main .nav-list .list-box:hover .text-box a {
  font-size: 15px;
}
#news #content .wrapper .model1 .mod-side {
  margin-top: 25px;
  width: 288px;
  height: 323px;
  float: left;
  margin-left: 10px;
  display: inline;
  border: 1px solid #e4e4e4;
}
#news #content .wrapper .model1 .mod-side .wrapper-top {
  height: 205px;
  border-bottom: 1px solid #e4e4e4;
  padding: 20px;
}
#news #content .wrapper .model1 .mod-side .wrapper-top .suggest {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 8px;
}
#news #content .wrapper .model1 .mod-side .wrapper-top .suggest i {
  width: 3px;
  height: 18px;
  background-color: #fc7000;
  margin-left: 5px;
  display: block;
  float: left;
}
#news #content .wrapper .model1 .mod-side .wrapper-top .suggest span {
  padding-left: 10px;
  font-size: 17px;
  color: #333333;
  line-height: 17px;
}
#news #content .wrapper .model1 .mod-side .wrapper-top .suggest-list {
  padding-left: 20px;
  padding-top: 5px;
}
#news #content .wrapper .model1 .mod-side .wrapper-top .suggest-list li {
  list-style-type: disc;
  color: #e4e4e4;
  margin: 16px 0;
}
#news #content .wrapper .model1 .mod-side .wrapper-top .suggest-list li a {
  color: #666666;
  font-size: 13px;
}
#news #content .wrapper .model1 .mod-side .wrapper-top .suggest-list li a:hover {
  color: #fc7000;
}
#news #content .wrapper .model1 .mod-side .wrapper-bottom {
  background-color: #f9f9f9;
  height: 62px;
  padding-left: 20px;
  padding-top: 15px;
}
#news #content .wrapper .model1 .mod-side .wrapper-bottom a {
  padding-right: 15px;
  padding-top: 5px;
  display: block;
  float: left;
}
#news #content .wrapper .model2 {
  margin-top: 15px;
}
#news #content .wrapper .model2 .mod-main {
  width: 890px;
  float: left;
  display: inline;
  margin-top: 10px;
}
#news #content .wrapper .model2 .mod-main .infor {
  height: 456px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-title {
  height: 47px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-title .title {
  width: 80px;
  font-size: 19px;
  color: #434343;
  border-bottom: 3px solid #fc7000;
  float: left;
  height: 44px;
  line-height: 44px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-title .more {
  width: 810px;
  float: left;
  text-align: right;
  font-size: 13px;
  color: #999;
  border-bottom: 3px solid #e6e6e6;
  height: 44px;
  line-height: 44px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-title .more a {
  color: #999;
}
#news #content .wrapper .model2 .mod-main .infor .infor-title .more a:hover {
  color: #fc7000;
}
#news #content .wrapper .model2 .mod-main .infor .infor-left {
  width: 490px;
  float: left;
}
#news #content .wrapper .model2 .mod-main .infor .infor-left .infor-box {
  height: 100px;
  margin-top: 30px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-left .infor-box .infor-img {
  width: 150px;
  height: 100px;
  float: left;
  display: block;
}
#news #content .wrapper .model2 .mod-main .infor .infor-left .infor-box .infor-img img {
  width: 150px;
  height: 100px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-left .infor-box .infor-content {
  padding-left: 15px;
  height: 100px;
  float: left;
  width: 300px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-left .infor-box .infor-content h1 {
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  margin-bottom: 10px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-left .infor-box .infor-content p {
  color: #666;
  font-size: 12px;
  line-height: 25px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-left .infor-box .infor-content a {
  display: block;
  float: right;
  color: #fc7000;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right {
  width: 400px;
  float: left;
  margin-top: 25px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .infor-img {
  height: 100px;
  width: 100%;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .infor-img .imgbox {
  float: left;
  margin-left: 40px;
  position: relative;
  display: block;
  width: 150px;
  height: 100px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .infor-img .imgbox img {
  width: 150px;
  height: 100px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .infor-img .imgbox .title-bg {
  height: 30px;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 70px;
  width: 100%;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .infor-img .imgbox .img-title {
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 70px;
  line-height: 30px;
  width: 100%;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .news-list {
  height: 280px;
  margin-top: 25px;
  margin-left: 40px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .news-list li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 15px;
  position: relative;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .news-list li a {
  color: #6a6a6a;
  font-size: 13px;
  line-height: 20px;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .news-list li a:hover {
  color: #fc7000;
}
#news #content .wrapper .model2 .mod-main .infor .infor-right .news-list li span {
  color: #a9a9a9;
  position: absolute;
  font-size: 12px;
  left: 276px;
}
#news #content .wrapper .model2 .mod-side {
  width: 288px;
  height: 487px;
  float: left;
  margin-left: 10px;
  display: inline;
}
#news #content .wrapper .model2 .mod-side .hotsell {
  height: 485px;
  width: 288px;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}
#news #content .wrapper .model2 .mod-side .hotsell .hd {
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hd i {
  width: 3px;
  height: 18px;
  background-color: #fc7000;
  margin-left: 5px;
  display: block;
  float: left;
}
#news #content .wrapper .model2 .mod-side .hotsell .hd span {
  padding-left: 10px;
  font-size: 17px;
  color: #333333;
  line-height: 17px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap {
  height: 440px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box {
  padding: 0 10px 0 10px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list li {
  height: 43px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list li .car-list {
  height: 25px;
  padding: 8px 10px 8px 10px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list li .car-list span {
  font-size: 14px;
  color: #444;
  float: left;
  display: block;
  width: 30px;
  height: 25px;
  line-height: 25px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list li .car-list .car-icon {
  width: 25px;
  height: 25px;
  background: url(../images/index/carlogo.png);
  float: left;
  margin-right: 10px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list li .car-list a {
  text-align: right;
  display: block;
  color: #959595;
  font-size: 12px;
  line-height: 25px;
  cursor: pointer;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list li .car-list a:hover {
  color: #fc7000;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list li .car-list i {
  font-size: 14px;
  color: #444;
  font-style: normal;
  float: left;
  display: block;
  line-height: 25px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list li .car-list i a {
  cursor: pointer;
  font-size: 14px;
  color: #444;
  font-style: normal;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list .kempcar {
  border-top: 1px solid #e6e6e6;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list .kempcar .triangle {
  width: 10px;
  height: 7px;
  font-size: 0;
  line-height: 0;
  background: url(../images/index/triangle.png);
  position: relative;
  top: -7px;
  left: 15px;
}
#news #content .wrapper .model2 .mod-side .hotsell .hotsell-wrap .hotsell-box .hotsell-list .kempcar .car-list span {
  font-size: 14px;
  color: #FC7000;
  float: left;
  display: block;
  width: 30px;
  height: 25px;
  line-height: 25px;
}
#news #content .wrapper .long-pic {
  margin-top: 25px;
}
#news #content .wrapper .model3 .mod-main {
  width: 890px;
  float: left;
  display: inline;
  margin-top: 15px;
}
#news #content .wrapper .model3 .mod-main .content-box {
  margin-top: 15px;
  height: 260px;
  width: 395px;
  float: left;
  overflow: hidden;
}
#news #content .wrapper .model3 .mod-main .content-box .title-box {
  height: 47px;
  width: 395px;
}
#news #content .wrapper .model3 .mod-main .content-box .title-box .tiltle {
  width: 80px;
  font-size: 19px;
  color: #434343;
  border-bottom: 3px solid #fc7000;
  float: left;
  height: 44px;
  line-height: 44px;
}
#news #content .wrapper .model3 .mod-main .content-box .title-box .more {
  width: 315px;
  float: left;
  text-align: right;
  font-size: 13px;
  color: #999;
  border-bottom: 3px solid #e6e6e6;
  height: 44px;
  line-height: 44px;
}
#news #content .wrapper .model3 .mod-main .content-box .title-box .more a {
  color: #999;
}
#news #content .wrapper .model3 .mod-main .content-box .title-box .more a:hover {
  color: #fc7000;
}
#news #content .wrapper .model3 .mod-main .content-box .news-box {
  margin-top: 20px;
}
#news #content .wrapper .model3 .mod-main .content-box .news-box .pic-news {
  height: 100px;
}
#news #content .wrapper .model3 .mod-main .content-box .news-box .pic-news .news-img {
  display: block;
  float: left;
  height: 100px;
  width: 150px;
}
#news #content .wrapper .model3 .mod-main .content-box .news-box .pic-news .news-img img {
  height: 100px;
  width: 150px;
  float: left;
}
#news #content .wrapper .model3 .mod-main .content-box .news-box .pic-news .news-text {
  float: left;
  height: 100px;
  width: 230px;
  padding-left: 15px;
}
#news #content .wrapper .model3 .mod-main .content-box .news-box .pic-news .news-text a {
  font-size: 19px;
  color: #666666;
}
#news #content .wrapper .model3 .mod-main .content-box .news-box .pic-news .news-text a:hover {
  color: #fc7000;
}
#news #content .wrapper .model3 .mod-main .content-box .news-box .pic-news .news-text p {
  color: #666;
  font-size: 12px;
  margin-top: 10px;
  line-height: 20px;
}
#news #content .wrapper .model3 .mod-main .content-box .car-news {
  margin-top: 10px;
  padding-left: 15px;
}
#news #content .wrapper .model3 .mod-main .content-box .car-news li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 5px;
}
#news #content .wrapper .model3 .mod-main .content-box .car-news li a {
  color: #666666;
  font-size: 14px;
}
#news #content .wrapper .model3 .mod-main .content-box .car-news li a:hover {
  color: #fc7000;
}
#news #content .wrapper .model3 .mod-main .answer .answer-list {
  margin-top: 20px;
  padding-left: 16px;
}
#news #content .wrapper .model3 .mod-main .answer .answer-list li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 15px;
  position: relative;
}
#news #content .wrapper .model3 .mod-main .answer .answer-list li a {
  color: #666;
  font-size: 14px;
}
#news #content .wrapper .model3 .mod-main .answer .answer-list li a:hover {
  color: #fc7000;
}
#news #content .wrapper .model3 .mod-main .answer .answer-list li span {
  color: #a9a9a9;
  position: absolute;
  font-size: 12px;
  left: 310px;
  line-height: 20px;
}
#news #content .wrapper .model3 .mod-main .culture .culture-box {
  margin-top: 20px;
}
#news #content .wrapper .model3 .mod-main .culture .culture-box .culture-list {
  width: 280px;
  float: left;
  padding-left: 16px;
}
#news #content .wrapper .model3 .mod-main .culture .culture-box .culture-list li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 15px;
}
#news #content .wrapper .model3 .mod-main .culture .culture-box .culture-list li a {
  color: #666;
  font-size: 14px;
}
#news #content .wrapper .model3 .mod-main .culture .culture-box .culture-list li a:hover {
  color: #fc7000;
}
#news #content .wrapper .model3 .mod-main .culture .culture-box .culture-img a img {
  width: 80px;
  height: 54px;
  margin-bottom: 10px;
}
#news #content .wrapper .model3 .mod-main .driving {
  height: 200px;
  float: left;
  display: inline;
}
#news #content .wrapper .model3 .mod-main .driving .title-box {
  height: 47px;
  width: 100%;
}
#news #content .wrapper .model3 .mod-main .driving .title-box .title {
  width: 80px;
  font-size: 19px;
  color: #434343;
  border-bottom: 3px solid #fc7000;
  float: left;
  height: 44px;
  line-height: 44px;
}
#news #content .wrapper .model3 .mod-main .driving .title-box .more {
  width: 790px;
  float: left;
  text-align: right;
  font-size: 13px;
  color: #999;
  border-bottom: 3px solid #e6e6e6;
  height: 44px;
  line-height: 44px;
}
#news #content .wrapper .model3 .mod-main .driving .title-box .more a {
  color: #999999;
  font-size: 14px;
}
#news #content .wrapper .model3 .mod-main .driving .title-box .more a:hover {
  color: #fc7000;
}
#news #content .wrapper .model3 .mod-main .driving .driving-img {
  height: 155px;
  margin-top: 20px;
}
#news #content .wrapper .model3 .mod-main .driving .driving-img a {
  display: block;
  width: 195px;
  height: 130px;
  position: relative;
  float: left;
  margin-right: 25px;
}
#news #content .wrapper .model3 .mod-main .driving .driving-img a img {
  width: 195px;
  height: 130px;
}
#news #content .wrapper .model3 .mod-main .driving .driving-img a .title-bg {
  height: 30px;
  background-color: #000;
  opacity: 0.6;
  position: absolute;
  top: 100px;
  width: 100%;
}
#news #content .wrapper .model3 .mod-main .driving .driving-img a .img-title {
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  top: 100px;
  line-height: 30px;
  width: 100%;
}
#news #content .wrapper .model3 .mod-main .nav-sort {
  height: 275px;
  float: left;
  display: inline;
  margin-top: 20px;
  width: 100%;
}
#news #content .wrapper .model3 .mod-main .nav-sort .title-box {
  height: 47px;
  width: 100%;
}
#news #content .wrapper .model3 .mod-main .nav-sort .title-box .title {
  width: 80px;
  font-size: 19px;
  color: #434343;
  border-bottom: 3px solid #fc7000;
  float: left;
  height: 44px;
  line-height: 44px;
}
#news #content .wrapper .model3 .mod-main .nav-sort .title-box .more {
  width: 790px;
  float: left;
  color: #999;
  border-bottom: 3px solid #e6e6e6;
  height: 44px;
  line-height: 44px;
}
#news #content .wrapper .model3 .mod-main .nav-sort .nav-box {
  width: 100%;
  height: 210px;
  margin-top: 20px;
}
#news #content .wrapper .model3 .mod-main .nav-sort .nav-box .nav-left {
  width: 50%;
  float: left;
}
#news #content .wrapper .model3 .mod-main .nav-sort .nav-box .nav-right {
  width: 50%;
  float: left;
}
#news #content .wrapper .model3 .mod-main .nav-sort .nav-box .nav-list {
  width: 100%;
  font-size: 14px;
  color: #525252;
  font-weight: bold;
  line-height: 27px;
  min-height: 30px;
}
#news #content .wrapper .model3 .mod-main .nav-sort .nav-box .nav-list .label {
  width: 70px;
  float: left;
}
#news #content .wrapper .model3 .mod-main .nav-sort .nav-box .nav-list .con {
  width: 300px;
  float: left;
  margin-left: 20px;
}
#news #content .wrapper .model3 .mod-main .nav-sort .nav-box .nav-list .con a {
  font-weight: normal;
  font-size: 13px;
  color: #6a6a6a;
  margin-right: 10px;
}
#news #content .wrapper .model3 .mod-main .nav-sort .nav-box .nav-list .con a:hover {
  color: #fc7000;
}
#news #content .wrapper .model3 .mod-side {
  width: 288px;
  float: left;
  margin-left: 10px;
  display: inline;
}
#news #content .wrapper .model3 .mod-side .maintain {
  margin-top: 20px;
  height: 355px;
  border: 1px solid #e6e6e6;
  padding: 15px;
}
#news #content .wrapper .model3 .mod-side .maintain .title-box {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 8px;
}
#news #content .wrapper .model3 .mod-side .maintain .title-box i {
  width: 3px;
  height: 18px;
  background-color: #fc7000;
  margin-left: 5px;
  display: block;
  float: left;
}
#news #content .wrapper .model3 .mod-side .maintain .title-box span {
  padding-left: 10px;
  font-size: 17px;
  color: #333333;
  line-height: 17px;
}
#news #content .wrapper .model3 .mod-side .maintain .maintain-list {
  margin-top: 15px;
  padding-left: 15px;
}
#news #content .wrapper .model3 .mod-side .maintain .maintain-list li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 15px;
}
#news #content .wrapper .model3 .mod-side .maintain .maintain-list li a {
  color: #666;
}
#news #content .wrapper .model3 .mod-side .maintain .maintain-list li a:hover {
  color: #fc7000;
}
#news #content .wrapper .model3 .mod-side .act-img1 {
  width: 290px;
  height: 145px;
  margin-top: 25px;
}
#news #content .wrapper .model3 .mod-side .resolve {
  height: 400px;
  margin-top: 20px;
  border: 1px solid #e6e6e6;
  padding: 15px;
}
#news #content .wrapper .model3 .mod-side .resolve .title-box {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 8px;
}
#news #content .wrapper .model3 .mod-side .resolve .title-box i {
  width: 3px;
  height: 18px;
  background-color: #fc7000;
  margin-left: 5px;
  display: block;
  float: left;
}
#news #content .wrapper .model3 .mod-side .resolve .title-box span {
  padding-left: 10px;
  font-size: 17px;
  color: #333333;
  line-height: 17px;
}
#news #content .wrapper .model3 .mod-side .resolve .resolve-list {
  margin-top: 25px;
  padding-left: 10px;
  color: #666;
}
#news #content .wrapper .model3 .mod-side .resolve .resolve-list a {
  margin-bottom: 10px;
  font-size: 12px;
  display: block;
  color: #666;
}
#news #content .wrapper .model3 .mod-side .resolve .resolve-list a:hover {
  color: #fc7000;
}
#news #content .wrapper .model3 .mod-side .resolve .resolve-list .list-left {
  width: 50%;
  float: left;
}
#news #content .wrapper .model3 .mod-side .resolve .resolve-list .list-right {
  width: 50%;
  float: left;
}
#news #content .wrapper .model3 .mod-side .act-img2 {
  width: 290px;
  height: 240px;
  margin-top: 25px;
}
#news #footer {
  background-color: #f5f5f5;
  margin-top: 30px;
  border-top: 1px solid #e6e6e6;
}
#news #footer .wrapper {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
}
#news #footer .friendlinks {
  text-align: center;
  margin: 25px 0;
}
#news #footer .friendlinks .wrapper {
  width: 1190px;
  margin: 0 auto;
}
#news #footer .friendlinks .wrapper a {
  font-size: 12px;
  color: #333;
  padding: 0 20px;
  border-right: 1px solid #e6e6e6;
}
#news #footer .friendlinks .wrapper a.last {
  border: none;
}
#news #footer .footer-content {
  background: #f5f5f5;
  border-top: 1px solid #e6e6e6;
}
#news #footer .performance {
  padding: 40px 0;
  border-bottom: 1px solid #e6e6e6;
  width: 1400px;
}
#news #footer .performance i {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 8px;
  left: 20px;
}
#news #footer .performance .per {
  position: relative;
  float: left;
  width: 380px;
  padding-left: 70px;
  display: inline;
}
#news #footer .performance .t {
  font-size: 16px;
  line-height: 30px;
  color: #666;
}
#news #footer .performance .st {
  font-size: 14px;
  color: #999;
  line-height: 20px;
}
#news #footer .performance .per-1 i {
  background: url(../images/index/per-1.png) no-repeat;
}
#news #footer .performance .per-2 i {
  background: url(../images/index/per-2.png) no-repeat;
}
#news #footer .performance .per-3 i {
  background: url(../images/index/per-3.png) no-repeat;
}
#news #footer .company_info {
  padding: 20px 0px;
}
#news #footer .company_info .wrap {
  text-align: center;
}
#news #footer .company_info .wrap a {
  color: #666;
  padding: 0 10px;
}
#news #footer .company_info p {
  text-align: center;
  line-height: 30px;
  color: #999;
}
#news #content-detail {
  margin-top: 5px;
}
#news #content-detail .wrapper {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#news #content-detail .wrapper .mod-main {
  width: 890px;
  float: left;
  display: inline;
}
#news #content-detail .wrapper .mod-main .details-nav {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
  line-height: 40px;
}
#news #content-detail .wrapper .mod-main .details-nav a {
  color: #666;
  font-size: 12px;
}
#news #content-detail .wrapper .mod-main .news-article .art-title {
  height: 120px;
  border-bottom: 1px solid #e6e6e6;
}
#news #content-detail .wrapper .mod-main .news-article .art-title h1 {
  color: #333;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 0;
}
#news #content-detail .wrapper .mod-main .news-article .art-title span {
  color: #666;
  padding-right: 15px;
}
#news #content-detail .wrapper .mod-main .news-article .art-detail {
  width: 700px;
  padding-top: 20px;
}
#news #content-detail .wrapper .mod-main .news-article .art-detail p {
  padding-bottom: 15px;
  font-size: 14px;
  color: #666;
  line-height: 30px;
}
#news #content-detail .wrapper .mod-main .news-article .art-share {
  margin: 20px 0;
  height: 30px;
}
#news #content-detail .wrapper .mod-main .news-article .art-share .share-tit {
  line-height: 30px;
  width: 60px;
  color: #666;
  font-size: 12px;
  float: left;
}
#news #content-detail .wrapper .mod-main .news-article .art-share .con {
  width: 500px;
  float: left;
  height: 30px;
}
#news #content-detail .wrapper .mod-main .news-article .art-share .con i {
  display: block;
  width: 25px;
  height: 25px;
  margin-top: 2px;
  float: left;
  margin-right: 15px;
}
#news #content-detail .wrapper .mod-main .news-article .art-share .con .douban {
  background: url(../images/news/douban.png) no-repeat;
}
#news #content-detail .wrapper .mod-main .news-article .art-share .con .sina {
  background: url(../images/news/sina.png) no-repeat;
}
#news #content-detail .wrapper .mod-main .news-article .art-share .con .qq {
  background: url(../images/news/qq.png) no-repeat;
}
#news #content-detail .wrapper .mod-main .news-article .art-share .con .weixin {
  background: url(../images/news/weixin.png) no-repeat;
}
#news #content-detail .wrapper .mod-main .news-article .art-share .con .tenxun {
  background: url(../images/news/tenxun.png) no-repeat;
}
#news #content-detail .wrapper .mod-main .news-tag {
  height: 270px;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-title {
  height: 47px;
  width: 100%;
  border-bottom: 3px solid #e6e6e6;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-title .title {
  width: 80px;
  font-size: 19px;
  color: #434343;
  float: left;
  height: 44px;
  line-height: 44px;
  top: 3px;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-title .tag {
  float: left;
  height: 44px;
  line-height: 44px;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-title .tag .tag-name {
  width: 80px;
  float: left;
  position: relative;
  height: 44px;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-title .tag .tag-name a {
  font-size: 14px;
  color: #434343;
  display: block;
  position: absolute;
  width: 80px;
  height: 44px;
  top: 3px;
  border-bottom: 3px solid #e6e6e6;
  text-align: center;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-title .tag .tag-name a:hover {
  border-bottom: 3px solid #fc7000;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-news {
  margin-top: 20px;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-news ul {
  padding-left: 15px;
  width: 385px;
  margin-right: 40px;
  float: left;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-news ul li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 15px;
  position: relative;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-news ul li a {
  color: #666;
  font-size: 14px;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-news ul li a:hover {
  color: #fc7000;
}
#news #content-detail .wrapper .mod-main .news-tag .tag-news ul li span {
  color: #a9a9a9;
  position: absolute;
  font-size: 12px;
  left: 290px;
  line-height: 20px;
}
#news #content-detail .wrapper .mod-main .related {
  height: 270px;
}
#news #content-detail .wrapper .mod-main .related .related-title {
  height: 44px;
  width: 100%;
  border-bottom: 3px solid #e6e6e6;
}
#news #content-detail .wrapper .mod-main .related .related-title .title {
  width: 80px;
  font-size: 19px;
  color: #434343;
  float: left;
  height: 44px;
  line-height: 44px;
}
#news #content-detail .wrapper .mod-main .related .related-list {
  margin-top: 20px;
}
#news #content-detail .wrapper .mod-main .related .related-list ul {
  padding-left: 15px;
  width: 385px;
  margin-right: 40px;
  float: left;
}
#news #content-detail .wrapper .mod-main .related .related-list ul li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 15px;
  position: relative;
}
#news #content-detail .wrapper .mod-main .related .related-list ul li a {
  color: #666;
  font-size: 14px;
}
#news #content-detail .wrapper .mod-main .related .related-list ul li a:hover {
  color: #fc7000;
}
#news #content-detail .wrapper .mod-main .related .related-list ul li span {
  color: #a9a9a9;
  position: absolute;
  font-size: 12px;
  left: 290px;
  line-height: 20px;
}
#news #content-detail .wrapper .mod-side {
  width: 288px;
  float: left;
  margin-left: 10px;
  display: inline;
}
#news #content-detail .wrapper .mod-side .act-img2 {
  width: 290px;
  height: 240px;
  margin-top: 25px;
}
#news #content-detail .wrapper .mod-side .act-img2 img {
  width: 290px;
  height: 240px;
}
#news #content-detail .wrapper .mod-side .newest {
  margin-top: 20px;
  height: 355px;
  border: 1px solid #e6e6e6;
  padding: 15px;
}
#news #content-detail .wrapper .mod-side .newest .title-box {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 8px;
}
#news #content-detail .wrapper .mod-side .newest .title-box i {
  width: 3px;
  height: 18px;
  background-color: #fc7000;
  margin-left: 5px;
  display: block;
  float: left;
}
#news #content-detail .wrapper .mod-side .newest .title-box span {
  padding-left: 10px;
  font-size: 17px;
  color: #333333;
  line-height: 17px;
}
#news #content-detail .wrapper .mod-side .newest .newest-list {
  margin-top: 15px;
  padding-left: 15px;
}
#news #content-detail .wrapper .mod-side .newest .newest-list li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 15px;
}
#news #content-detail .wrapper .mod-side .newest .newest-list li a {
  color: #666;
}
#news #content-detail .wrapper .mod-side .newest .newest-list li a:hover {
  color: #fc7000;
}
#news #content-detail .wrapper .mod-side .related {
  margin-top: 20px;
  height: 355px;
  border: 1px solid #e6e6e6;
  padding: 15px;
}
#news #content-detail .wrapper .mod-side .related .title-box {
  width: 100%;
  padding-bottom: 8px;
}
#news #content-detail .wrapper .mod-side .related .title-box i {
  width: 3px;
  height: 18px;
  background-color: #fc7000;
  margin-left: 5px;
  display: block;
  float: left;
}
#news #content-detail .wrapper .mod-side .related .title-box span {
  padding-left: 10px;
  font-size: 17px;
  color: #333333;
  line-height: 17px;
}
#news #content-detail .wrapper .mod-side .related .related-box {
  border-top: 1px solid #e6e6e6;
  padding-top: 15px;
  padding-bottom: 10px;
}
#news #content-detail .wrapper .mod-side .related .related-box .car-img {
  display: block;
  float: left;
  width: 60px;
  height: 40px;
}
#news #content-detail .wrapper .mod-side .related .related-box .car-img img {
  width: 60px;
  height: 40px;
}
#news #content-detail .wrapper .mod-side .related .related-box .related-text {
  float: left;
  padding-left: 20px;
}
#news #content-detail .wrapper .mod-side .related .related-box .related-text .related-car {
  display: block;
  color: #666;
  padding-bottom: 5px;
}
#news #content-detail .wrapper .mod-side .related .related-box .related-text a:hover {
  color: #fc7000;
}
#news #content-list .wrapper {
  width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
#news #content-list .wrapper .mod-main {
  margin-top: 25px;
  width: 870px;
  float: left;
  display: inline;
}
#news #content-list .wrapper .mod-main .list-nav {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #e6e6e6;
  line-height: 40px;
}
#news #content-list .wrapper .mod-main .list-nav a {
  color: #666;
  font-size: 12px;
}
#news #content-list .wrapper .mod-main .list-nav a:hover {
  color: #fc7000;
}
#news #content-list .wrapper .mod-main .news-centent {
  margin-top: 10px;
}
#news #content-list .wrapper .mod-main .news-centent .list-title {
  font-size: 19px;
  font-weight: bold;
  color: #333;
}
#news #content-list .wrapper .mod-main .news-centent .news-box {
  height: 140px;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 25px;
  padding-bottom: 15px;
}
#news #content-list .wrapper .mod-main .news-centent .news-box img {
  width: 180px;
  height: 120px;
  float: left;
}
#news #content-list .wrapper .mod-main .news-centent .news-box .news-text {
  float: left;
  width: 670px;
  height: 120px;
  margin-left: 15px;
}
#news #content-list .wrapper .mod-main .news-centent .news-box .news-text .text-title {
  font-size: 16px;
  color: #222;
  margin-bottom: 10px;
  display: block;
}
#news #content-list .wrapper .mod-main .news-centent .news-box .news-text p {
  font-size: 13px;
  color: #666;
  line-height: 30px;
}
#news #content-list .wrapper .mod-main .news-centent .news-box .news-text span {
  float: right;
}
#news #content-list .wrapper .mod-main .news-centent .news-box .news-text span a {
  color: #fc7000;
  margin-left: 15px;
}
#news #content-list .wrapper .mod-main .news-centent .news-pag {
  height: 40px;
  margin: 20px 0;
}
#news #content-list .wrapper .mod-main .news-centent .news-pag .pagings {
  margin: 0 auto;
  width: 490px;
  height: 40px;
}
#news #content-list .wrapper .mod-main .news-centent .news-pag .pagings li {
  float: left;
  width: 32px;
  height: 32px;
  border: 1px solid #e6e6e6;
  margin-right: 5px;
  overflow: hidden;
}
#news #content-list .wrapper .mod-main .news-centent .news-pag .pagings li a {
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  padding-top: 8px;
}
#news #content-list .wrapper .mod-main .news-centent .news-pag .pagings li .paglasta {
  width: 11px;
  height: 11px;
  background: url(../images/news/pag-last.png) no-repeat 0 0;
  margin-top: 10px;
  margin-left: 10px;
}
#news #content-list .wrapper .mod-main .news-centent .news-pag .pagings li .pagnext {
  width: 11px;
  height: 11px;
  margin-top: 10px;
  margin-left: 10px;
  background: url(../images/news/pag-next.png) no-repeat 0 0;
}
#news #content-list .wrapper .mod-side {
  margin-top: 25px;
  width: 288px;
  float: left;
  margin-left: 30px;
  display: inline;
}
#news #content-list .wrapper .mod-side .top {
  height: 235px;
  border: 1px solid #e6e6e6;
  padding: 15px;
}
#news #content-list .wrapper .mod-side .top .title-box {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 8px;
}
#news #content-list .wrapper .mod-side .top .title-box i {
  width: 3px;
  height: 18px;
  background-color: #fc7000;
  margin-left: 5px;
  display: block;
  float: left;
}
#news #content-list .wrapper .mod-side .top .title-box span {
  padding-left: 10px;
  font-size: 17px;
  color: #333333;
  line-height: 17px;
}
#news #content-list .wrapper .mod-side .top .brand-box {
  margin-top: 10px;
  width: 100%;
  margin-left: 8px;
}
#news #content-list .wrapper .mod-side .top .brand-box .brand {
  float: left;
  font-size: 13px;
  color: #666;
  line-height: 40px;
  width: 85px;
  display: block;
}
#news #content-list .wrapper .mod-side .top .brand-box a:hover {
  color: #fc7000;
}
#news #content-list .wrapper .mod-side .act-img2 {
  margin-top: 20px;
}
#news #content-list .wrapper .mod-side .policy {
  margin-top: 20px;
  height: 195px;
  border: 1px solid #e6e6e6;
  padding: 15px;
}
#news #content-list .wrapper .mod-side .policy .title-box {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 8px;
}
#news #content-list .wrapper .mod-side .policy .title-box i {
  width: 3px;
  height: 18px;
  background-color: #fc7000;
  margin-left: 5px;
  display: block;
  float: left;
}
#news #content-list .wrapper .mod-side .policy .title-box span {
  padding-left: 10px;
  font-size: 17px;
  color: #333333;
  line-height: 17px;
}
#news #content-list .wrapper .mod-side .policy .newest-list {
  margin-top: 15px;
  padding-left: 15px;
}
#news #content-list .wrapper .mod-side .policy .newest-list li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 15px;
}
#news #content-list .wrapper .mod-side .policy .newest-list li a {
  color: #666;
}
#news #content-list .wrapper .mod-side .policy .newest-list li a:hover {
  color: #fc7000;
}
#news #content-list .wrapper .mod-side .newcar {
  margin-top: 20px;
  height: 195px;
  border: 1px solid #e6e6e6;
  padding: 15px;
}
#news #content-list .wrapper .mod-side .newcar .title-box {
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 8px;
}
#news #content-list .wrapper .mod-side .newcar .title-box i {
  width: 3px;
  height: 18px;
  background-color: #fc7000;
  margin-left: 5px;
  display: block;
  float: left;
}
#news #content-list .wrapper .mod-side .newcar .title-box span {
  padding-left: 10px;
  font-size: 17px;
  color: #333333;
  line-height: 17px;
}
#news #content-list .wrapper .mod-side .newcar .newest-list {
  margin-top: 15px;
  padding-left: 15px;
}
#news #content-list .wrapper .mod-side .newcar .newest-list li {
  list-style-type: disc;
  color: #e4e4e4;
  margin-bottom: 15px;
}
#news #content-list .wrapper .mod-side .newcar .newest-list li a {
  color: #666;
}
#news #content-list .wrapper .mod-side .newcar .newest-list li a:hover {
  color: #fc7000;
}
