@orange:#fc7000;
body{
  font-family: 'Microsoft YaHei',Tahoma,Verdana;
}
.wrapper{
  width: 1191px;
  margin: 0 auto;
  position: relative;
}
#sellcar{
  #content{
   .banner{
    width: 100%;
    height: 538px;
    background: url(../images/sellcar/banner.png) no-repeat;
    background-position: center;
    background-color: #ffb722;
    .wrapper{
      height: 538px;
      #J_sellcarform{
      width: 330px;
      height: 360px;
      background-color: #fff;
      padding: 30px;
      position: absolute;
      right: 20px;
      top: 50px;
      h1{
        font-size: 22px;
        color: #262626;
        font-family: 'Microsoft YaHei',Tahoma,Verdana;
        text-align: center;
        margin-bottom: 30px;
      }
      #sellcar-form{
        clear: both;
        .from-list{
          height: 35px;
          width: 100%;
          margin-bottom: 10px;
          label{
            font-size: 16px;
            color: #545454;
            line-height: 35px;
          }
          select{
            width: 250px;
            margin-left: 10px;
            border: 1px solid #d1d1d1;
            height: 33px;
            padding-left: 5px;
          }
          input{
            border: 1px solid #d1d1d1;
            width: 243px;
            margin-left: 3px;
            height: 33px;
            padding-left: 5px;
          }
          .sell-phone{
            margin-bottom: 20px;
          }
        }
        .sellcar-submit{
          margin-top: 30px;
          button{
          display: block;
          width: 185px;
          height: 35px;
          background-color: @orange;
          font-size: 16px;
          color: #fff;
          border: none;
          margin-top: 20px;
          margin-left: 64px;
          }
        }
      }
      .qiugou-history{
        font-size: 12px;
        color: #666;
        height: 20px;
        overflow: hidden;
        width: 100%;
        text-align: center;
        margin-top: 40px;
        }
      }
    }
  }
  .sell-mod{
    .mod-title{
      font-size: 42px;
      color: #000;
      font-weight: bold;
      margin-bottom: 20px;
    }
    p{
      color: #929292;
      font-size: 16px;
      line-height: 25px;
    }
  }
  #findbuyer{
    height: 550px;
    background-color: #f3f3f3;
    position: relative;
    .mod-text{
      width: 355px;
      margin-left: 110px;
      float: left;
      margin-top: 180px;
    }
    .mod-pics{
      position: absolute;
      width:580px;
      left:570px;
      top:0;
      img{
        position: absolute;
      }
      .pic1-1{
        top:90px;
        z-index:3;
      }
      .pic1-2{
        top:145px;
        z-index:2;
      }
      .pic1-3{
        top:287px;
        z-index:4;
        left:-10px;
      }
      .pic1-4{
        top:374px;
        z-index:3;
      }
      .layer1-1{
        background: #f3f3f3;
        position: absolute;
        top:90px;
        height:200px;
        width:580px;
        z-index:2;
      }
      .layer1-2{
        background: #f3f3f3;
        position: absolute;
        top:250px;
        height:200px;
        width:580px;
        z-index:3;
      }
    }
  }
  #realvalue{
    height: 540px;
    background-color: #fff;
    position: relative;
    .mod-text{
      width: 426px;
      float: right;
      margin-right: 40px;
      margin-top: 195px;
    }
    .mod-pics{
      position: absolute;
      width:580px;
      left:0px;
      top:0;
      img{
        position: absolute;
      }
      .pic2-1{
        top:140px;
        z-index:3;
        left:-500px;
        opacity: 0;
      }
      .pic2-2{
        top:-100px;
        z-index:4;
        left:350px;
        opacity: 0;
      }
      .pic2-3{
        top:158px;
        z-index:5;
        left:-500px;
        opacity: 0;
      }
    }
  }
  #helpsell{
    height: 550px;
    background-color: #f3f3f3;
    position: relative;
    .mod-text{
      width: 385px;
      margin-top: 220px;
      float: left;
      margin-left: 75px;
    }
    .mod-pics{
      position: absolute;
      width:580px;
      left:580px;
      top:0;
      img{
        position: absolute;
      }
      .pic3-1{
        top:400px;
        z-index:3;
        left:-0;
        opacity:0;
      }
      .pic3-2{
        top:180px;
        z-index:4;
        left:-5px;
        opacity:0;
      }
      
    }
  }
  #timeandprice{
    height: 755px;
    background-color: #fff;
    .title{
      padding-top: 80px;
      width: 430px;
      margin: 0 auto;
      h1{
        font-size: 42px;
        color: #000000;
        text-align: center;
      }
    }
    .mod-pics{
      position: absolute;
      width:580px;
      left:300px;
      top:250px;
      img{
        position: absolute;
      }
      .pic4-1{
      }
      .pic4-2{
        left: 115px;
        top: 300px;
        opacity: 0;
      }
      .pic4-3{
        left: 189px;
        top: 300px;
        opacity: 0;
      }
      .pic4-4{
        left: 277px;
        top:300px;
        opacity: 0;
      }
      .pic4-5{
        left: 362px;
        top: 300px;
        opacity: 0;
      }
      
    }
  }
  #sellstep{
    height: 300px;
    background-color: #f3f3f3;
    .title{
      padding-top: 40px;
      width: 280px;
      margin: 0 auto;
      h1{
        color: #262626;
        font-size: 28px;
        font-weight: bold;
        text-align: center;
      }
    }
    .mod-pics{
      position: absolute;
      width:580px;
      left:150px;
      top:0;
      
      img{
        position: absolute;
      }
      .pic5-1{
        left:0;
        top:130px;
        z-index:2;
        position: absolute;
        -webkit-mask-image: url(http://f2e.souche.com/assets/images/sellcar/5-layer.png); 
        width:0;
        height:90px;
      }
      .pic5-2{
        left:0;
        top:128px;
        z-index:1;
      }
      .pic5-3{
        left:0;
        top:210px;
      }
      .layer5-1{
        position: absolute;
        top:130px;
        height:90px;
        width:100%;

      }
    }
  }
  #faq{
    height: 1110px;
    background-color: #fff;
    .title{
      margin-top: 100px;
      margin-left: 30px;
      margin-bottom: 60px;
      h1{
        font-size: 36px;
        font-weight: bold;
        color: #262626;
      }
    }
    .faq-content{
      width: 1015px;
      margin: 0 auto;
      .faq-left{
        width: 510px;
        float: left;
        .question{
          margin-bottom: 80px;
          .q-title{
            height: 40px;
            border-bottom: 3px solid #262626;
            width: 100%;
            i{
              display: block;
              width: 32px;
              height: 32px;
              background: url(../images/sellcar/q.png) no-repeat;
              float: left;
              margin-right: 5px;
            }
            span{
              display: block;
              float: left;
              font-size: 24px;
              color: #262626;

            }
          }
          .q-answer{
            margin-top: 15px;
            p{
              font-size: 14px;
              color: #444444;
              line-height: 25px;
              a{
                color: #0090cc;
                cursor: pointer;
              }
            }
          }

        }
        .q2{
          .q-answer{
            h2{
              font-size: 14px;
              font-weight: bold;
              color: #444444;
              margin-top: 15px;
            }
          }
        }
        .q3{
          .q-answer{
            ul{
              li{
                font-size: 14px;
                color: #444444;
                line-height: 25px;
              }
            }
            .answer-left{
              float: left;
              margin-right: 60px;
            }
            .answer-right{
              float: left;
            }
          }
        }
      }
      .faq-right{
        float: right;
        width: 300px;
        .faq-button{
          width: 298px;
          height: 298px;
          background: url(../images/sellcar/sellcar.png) no-repeat;
          margin-top: 100px;
          a{
            width: 298px;
            height: 298px;
            display: block;
          }
        }
      }
    }
  }
  }
}

.slide{
  height:13px;
}