.sidebar-top{
  height: 131px;
  border: 1px solid #e6e6e6;
  margin-bottom: 35px;
  .suggestside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .suggest-box{
      padding: 11px;
      display: block;
      .suggest-img{
        width: 29px;
        height: 27px;
        background: url(../images/index/suggest.png?1);
      }
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .customerside{
    height: 65px;
    .customer-box{
      padding: 11px;
      display: block;
      .customer-img{width: 29px;height: 27px;background: url(../images/index/customer.png?1);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
}
.sidebar-bottom{
  height: 263px;
  border: 1px solid #e6e6e6;
  .collectside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .collect-box{
      padding: 11px;
      display: block;
      .collect-img{width: 29px;height: 27px;background: url(../images/index/toolbar_sprite.png?123);background-position: 0 0;}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .reserveside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .reserve-box{
      padding: 11px;
      display: block;
      .reserve-img{width: 29px;height: 27px;background: url(../images/index/reserve.png?1);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .sellside{
    height: 65px;
    border-bottom: 1px solid #e6e6e6;
    .sell-box{
      padding: 11px;
      display: block;
      .sell-img{width: 29px;height: 27px;background: url(../images/index/sell.png?1);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
  .scanside{
    height: 65px;
    .scan-box{
      padding: 11px;
      display: block;
      .scan-img{width: 29px;height: 27px;background: url(../images/index/scan.png?1);}
      i{font-size: 13px;color: #666;font-style: normal;line-height: 20px;}
    }
  }
}
#my-advisor{
  width: 60px;
  height:90px;
  position: fixed;
  right: 0px;
  bottom: 250px;
  z-index: 10000;
  img{
    display:block;
    width:42px;
    height:42px;
    margin:0px auto;
    margin-bottom: 5px;
  }
  a:hover{
    color:#fff;
  }
  .my-advisor-box{
    background: #fc7000;
    width: 60px;
  height:85px;
  display: block;
  color:#fff;
  padding-top: 5px;
  position: relative;
  z-index: 2;
  span{
    margin-left: 18px;
  }
  p{
    margin-left: 5px;
  }
  .point-num{
      border-radius: 15px;
      border: 2px solid #fff;
      background: #FC7000;
     position: absolute;
      top: -5px;
      left: -5px;
      font-size: 12px;color: #fff;font-style: normal;text-align: center;
      padding:0 5px;
    }
  }
  .my-advisor-tip{
    background: #fd9243;
    color:#fff;
    width:180px;
    position: absolute;
    height:50px;
    left:-220px;
    font-size: 14px;
    line-height: 26px;
    top:0;
    padding:20px;
    i{
      color:#fff;
      font-size: 12px;
      cursor: pointer;
      position: absolute;
      right:0px;
      top:0px;
      display: block;
      width:20px;
      height:20px;
      line-height: 20px;
      text-align: center;
      font-style: normal;
    }
  }
}
#my-advisor.active{
  width:80px !important;
  -moz-transition: width 0.2s ease-in;
  -webkit-transition: width 0.2s ease-in;
  -o-transition: width 0.2s ease-in;
  transition: width 0.2s ease-in;
  .my-advisor-box{
    width: 80px !important;
    img{
        margin-left: 9px;
        margin-right: 29px;
      }
    span{
      
    }
    p{

    }
  }
}
.sidebar{
  width: 58px;
  height: 160px;
  background: #f7f7f7;
  position: fixed;
  right: 0px;
  bottom: 20px;
  border: 1px solid #dedede;
  
  z-index: 10001;
  background-color: #F2F2F2;
  overflow: hidden;
  .side-box{
    height: 53px;
    border-bottom: 1px solid #dedede;
    position: relative;
    .point-num{
      border-radius: 15px;
      border: 2px solid #fff;
      background: #FC7000;
      position: absolute;
      top: -5px;
      left: -10px;
      font-size: 12px;color: #fff;font-style: normal;text-align: center;
      padding:0 5px;
    }
    a{
      padding: 6px 5px;display: block;
      .icon{width: 27px;height: 25px;margin-left:10px;background: url(../images/index/toolbar_sprite.png?123);}
      i{margin-left:11px;display: block;color: #666;width:30px;font-size: 12px;text-align: left;font-style: normal;height:18px;overflow: hidden;}
    }
    .collect-box{
      .collect-img{background-position: 0 0;}
    }
    .reserve-box{
      .reserve-img{background-position: -40px 0;}
    }
    .sell-box{
      .sell-img{background-position: -80px 0;}
    }
    .scan-box{
      .scan-img{background: url(../images/index/scan.png?1) no-repeat 0px 0px;}
    }

  }
  .side-box.flash{
    background: #FC7000;
    
    a{
      i{color: #fff8dd;}
    }
    .collect-box{
      .collect-img{background: url(../images/index/collect-hover.png?1) no-repeat 0px 0px;}
    }
  }
  .side-box:hover{
    background: #FC7000;
    

    a{
      i{color: #fff8dd;}
    }
    .collect-box{
      .collect-img{background-position: -120px 0;}
    }
    .reserve-box{
      .reserve-img{background-position: -160px 0;}
    }
    .sell-box{
      .sell-img{background-position: -200px 0;}
    }
    .scan-box{
      .scan-img{}
    }
  }
}
.sidebar.active{
  width:80px !important;
  -moz-transition: width 0.2s ease-in;
    -webkit-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
  .side-box{
    width: 80px !important;
    a{
      i{
        width:70px !important;
      }
    }
  }
}


.sidebar{
  // width: 910px;height:652px;
  .sidebar-nav{

    width: 58px;
    height: 500px;
    float: left;
    
    .sidebar-list{
      height: 224px;
      
    }
  }
  
  
}
.sidebar-active{
  width:58px;
  border-left: none;
  
  .sidebar-nav{
    background-color: #FC7000;
    
    .side-box{
      box-shadow: none;
      border-bottom: 1px solid #d15001;
      height: 55px;
      border:1px solid #FC7000;
      border-right: none;
      a{
        display: block;
        padding: 9px 5px;
        .icon{width: 27px;height: 25px;margin: 0 auto;}
        i{
          display: block;color:#fff8dd;
          font-size: 12px;text-align: center;
          font-style: normal;width:30px;
        }
      }
    }
    .side-box:hover,.side-box.active{
      border: 1px solid #d15001;
      border-right:0;
    }
    .collectside{
      border-top:  1px solid transparent;
      a{.icon{background: url(../images/index/toolbar_sprite.png?123); background-position: -120px 0;}}
    }
    .collectside:hover,.collectside.active{
      border-bottom: 1px solid #dedede;
      border-right: none;
      border-left: 1px solid #f2f2f2;
      border-top:  1px solid #f2f2f2;
      background: #f2f2f2;
      a{
        .icon{background: url(../images/index/toolbar_sprite.png?123); background-position: 0 -30px;}
        i{color: #666;}
      }
    }
    .reserveside{a{.icon{background: url(../images/index/toolbar_sprite.png?123); background-position: -160px 0;}}}
    .reserveside:hover,.reserveside.active{
      border-bottom: 1px solid #dedede;
      border-left: 1px solid #f2f2f2;

      border-right: none;
      background: #f2f2f2;
      a{
        .icon{background: url(../images/index/toolbar_sprite.png?123); background-position: -40px -30px;}
        i{color: #666;}
      }
    }
    .sellside{a{.icon{background: url(../images/index/toolbar_sprite.png?123); background-position: -200px 0;}}}
    .sellside:hover,.sellside.active{
      border-bottom: 1px solid #dedede;
      border-left: 1px solid #f2f2f2;
      border-right: none;
      background: #f2f2f2;
      a{
        .icon{background: url(../images/index/toolbar_sprite.png?123); background-position: -80px -30px;}
        i{color: #666;}
      }
    }
    .scanside{a{.icon{background: url(../images/index/scan-hover.png?1);}}}
    .scanside:hover,.scanside.active{
      border-bottom: 1px solid #dedede;border-right: none;
      background: #f2f2f2;
      a{
        .icon{background: url(../images/index/scan-active.png?1);}
        i{color: #666;}
      }
    }
  }
  .toolbar-content{
    width: 845px;
    height: 500px;
    border-left: none;
    float: left;
    overflow: hidden;
      background-color: #F2F2F2;
    i{cursor:pointer;float: right;width: 11px;height: 11px;background: url(../images/index/toolbar_sprite.png?123) no-repeat; background-position: -240px 0;display: block;margin-top: 9px;margin-right: 9px;}
    .iframe-loading{
      width: 845px;
      height: 500px;
      background: url(../images/index/ajax-loader.gif) no-repeat center;
      position: fixed;
      background-color: #f2f2f2;
    }
    iframe{}
  }
}

.sidebar-active:hover{
  width:57px;
  .side-box{
    width: 57px;
    a{
      i{
        width:30px;
      }
    }
  }
  
}
.advisor-unfold{
  width: 0px;
  height: 0px;
  position: fixed;
  right: -50px;
  bottom: 430px;
  z-index: 20000;
  background-color: #fff;
  border: 1px solid #dedede;
  border-right: none;
  

  .wrapper-bg{
  background: url("../images/common/advisor-bg.png") no-repeat;
  background-position: right bottom;
  z-index: 10000;
  padding-left: 80px;
  padding-top: 40px;
  }
  
  .advisor-close{
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background: url("../images/common/popup-close2.png") no-repeat;
    right: 20px;
    top: 20px;
    cursor: pointer;
      }
  .unfold-title{
    span{
      font-size: 16px;
      color: #333;
      line-height: 30px;
    }
    em{
      font-size: 16px;
      color: #fc7000;
      line-height: 30px;
    }
    p{
      font-size: 16px;
      color: #333;
      line-height: 30px;
    }
  }
  .frosted{
    margin: 25px 0;
  }
  .unfolf-form{
    width: 250px;
    form{
      position: relative;
     p{
      font-size: 14px;
      color: #333;
      line-height: 30px;
     }
     #unfold-phone{
      width: 240px;
      height: 35px;
      border: 1px solid #d1d1d1;
      padding-left: 10px;
      margin-top: 10px;
      background: url("../images/common/unfold-phone.png") no-repeat;
      background-position: right center;
      width: 245px;
      height: 21px;
      padding: 7px 0;
      padding-left: 5px;
      line-height: 20px;
     }
     #unfold-submit{
      width: 165px;
      height: 35px;
      background: url("../images/common/unfold-submit.png") no-repeat;
      margin-top: 20px;
      cursor: pointer;
      border: none;
      font-size: 0px;
     }
    }
  }
}

