#service{
  width: 240px;
  height:420px;
  background: #fc7000;
  .sevice-slide{
    .flexslider{
      overflow: hidden;
      width: 100%;
      height: 335px;
      position: relative;
      z-index: 10;
    }
  }
}
#hotsell{
  width: 208px;
  height: 340px;
  padding: 15px;
  border: 1px solid #EDEDED;
  background: #fff;
  border-bottom: none;
  border-top: none;
  .title{
    margin: 10px 0;
    font-size: 16px;
    span{
      color: #fc7000;
      font-weight: bold;
      margin-right: 10px;
    }
    em{
      color: #333;
      font-weight: bold;
    }
  }
  .hotlist{
    margin-top: 20px;
    font-size: 13px;
    margin-right: 10px;
    li{
      margin-bottom: 10px;
      span{
        margin-right: 15px;
        font-weight: bold;
        color: #8C8C8C;
      }
      a{
        color: #8C8C8C;
      }
      a:hover{
         color: #fc7000;
      }
      i{
        display: block;
        float: right;
        width: 6px;
        height: 1px;
        background: #BFBFBF;
        margin-top: 5px;
        margin-right: 2px;
      }
      .hot-rise{
        width: 0px;
        height: 0px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid #fc7000;
        background: #fff;
        margin-right: 0px;
      }
      .hot-down{
        width: 0px;
        height: 0px;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #BFBFBF;
        background: #fff;
        margin-right: 0px;
      }
    }
    .hot-item{
      span{
        color: #fc7000;
        font-weight: bold;
      }
      a{
        color:  #8C8C8C;
      }
      a:hover{
        color: #fc7000;
      }
    }
  }
}
#qcode{
  width: 238px;
  border: 1px solid #EDEDED;
  border-top: none;
  
  .weixin-code{
    border-bottom:1px solid #EDEDED;
    height: 135px;
    padding: 15px;
    border-bottom: none;
    .title{
      margin-top: 10px;
      margin-bottom: 20px;
      i{
        display: block;
        width: 22px;
        height: 18px;
        background:url(../images/index/q-code.png) no-repeat;
        float: left;
        margin-right: 5px;
      }
      span{
        font-size: 16px;
        color: #333;
        font-weight: bold;
      }
    }
    .code-cont{
      img{
        display: block;
        float: left;
        width: 74px;
        height:74px;
      }
      p{
        float: left;
        width: 105px;
        margin-left: 20px;
        font-size: 13px;
        color: #555;
        line-height: 19px;
      }
    }
  }
  .app-code{
    height: 150px;
    padding: 15px;
    .title{
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 16px;
      color: #222;
      font-weight: bold;
    }
      .code-cont{
      img{
        display: block;
        float: left;
        width: 74px;
        height:74px;
      }
      p{
        float: left;
        width: 105px;
        margin-left: 20px;
        font-size: 13px;
        color: #222;
        line-height: 19px;
      }
      a{
       color: #fc7000;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
#qa{
  padding: 15px;
  border: 1px solid #EDEDED;
  border-bottom: none;
  height: 300px;
  .title{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #222;
    font-weight: bold;
  }
  .cheshen-nav{
    width: 210px;
    height: 30px;
    .nav-but{
      position: relative;
      width: 68px;
      border: 1px solid #E4E3E3;
      background: #F0F0F0;
      float: left;
      height: 28px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      .chenshen-cont{
        position: absolute;
        width: 210px;
        height: 200px;
        top:45px;
        left: 0px;
        text-align: left;
        .head{
          height: 60px;
          img{
            width: 60px;
            height: 60px;
            display: block;
            float: left;
            margin-right:10px;
          }
          .head-tit{
            float: left;
            
            h1{
              font-size: 16px;
              font-weight: bold;
              line-height: 20px;
              margin-bottom: 5px;
            }
            p{
              color: #B2B2B2;
              font-size: 12px;
              line-height: 17px;
            }
          }
        }
        .cheshen-detail{
          color: #797979;
          line-height: 18px;
          margin-top: 15px;
          .status{
            margin-bottom: 10px;
          }
          .ask{
            display: block;
            width: 70px;
            height: 30px;
            padding-left: 30px;
            border-radius: 3px;
            background: #5C9BEF url(../images/index/ask.png) no-repeat left center;
            color: #fff;
            line-height: 31px;
            margin-top: 15px;
          }
          .ask:hover{
            background: #3784EC url(../images/index/ask-hover.png) no-repeat left center;
          }
        }
      }
    }
    .nav-but:hover{
      border-bottom: none;
      background: #fff;
      color: #333;
    }
    .nav-active{
      border-bottom: none;
      background: #fff;
      color: #333;
    }
  }
}