#top-info{
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
  .filter-nav{
    float: left;
    display: inline-block;
    height: 305px;
    border: 1px solid #E6E6E6;
    background: #F5F5F5;
    padding: 15px;

    .car-brand{
      border-bottom: 1px solid #E6E6E6;
      position: relative;
      .title{
        color: #333;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      #brand-open{
        width: 9px;
        height: 7px;
        background: url(../images/index/open.png) no-repeat;
        position: absolute;
        top: 10px;
        right: 15px;
      }
      .brand-list{
        color: #666;
        font-size: 12px;
        margin-bottom: 5px;
        
        .brand-line{
          .brand-item{
            margin-right: 15px;
            margin-bottom: 10px;
            float: left;
            display: block;
          }
        }
      }
      .brand-inner{
        position: absolute;
        width: 598px;
        display: none;
        border: 1px solid #fc7000;
        top: -16px;
        left:-16px;
        background: #fff;
        z-index: 100000;
        padding:15px;
        .brand-conf{
          margin-bottom: 15px;
          .title{
            color: #333;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 15px;
          }
          .brand-line{
            color: #666;
            font-size: 12px;
            margin-bottom: 10px;
            height: 17px;
            width: 80%;
            .brand-item{
              margin-right: 15px;
              margin-bottom: 10px;
              float: left;
              display: block;
            }
          }
        }
        .brand-all{
          .brand-list{
            .left-list{
              float: left;
              margin-right: 50px;
            }
            .right-list{
              float: left;
            }
            .brand-item-l{
              margin-bottom: 10px;
              width: 270px;
              .letter{
                color: #fc7000;
                font-weight: bold;
                font-size: 14px;
                float: left;
                width: 40px;
              }
              .brand-letter{
                float: left;
                width: 225px;
                .brand-item{
                margin-right: 13px;
                margin-bottom: 5px;
                display: block;
                float: left;
              }
              }
              
            }
          }
        }
      }
    }
    .car-models{
      border-bottom: 1px solid #E6E6E6;
      position: relative;
      margin-top: 15px;
      .title{
        color: #333;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      #models-open{
        width: 9px;
        height: 7px;
        background: url(../images/index/open.png) no-repeat;
        position: absolute;
        top: 10px;
        right: 15px;
      }
      .models-list{
        color: #666;
        font-size: 12px;
        margin-bottom: 15px;
        .models-line{
          margin-bottom: 10px;
          overflow: hidden;
          height: 17px;
          .models-item-m{
            color: #333;
            width: 55px;
            border-right: 1px solid #E6E6E6;
            margin-right: 10px;
            font-weight: bold;
            display: block;
            float: left;
          }
          .models-item-m:hover{
            color: #fc7000;
          }
          .models-item{
            margin-right: 15px;
            display: block;
            float: left;
          }
        }
      }
      .models-inner{
        width: 600px;
        background: #fff;
        border:1px solid #fc7000;
        position: absolute;
        z-index: 100000;
        top: -16px;
        left: -16px;
        padding: 15px;
        display: none;
        .models-all{
          .models-line{
            margin-bottom: 10px;
            overflow: hidden;
            height: 17px;
          .models-item-m{
            color: #333;
            width: 55px;
            border-right: 1px solid #E6E6E6;
            margin-right: 10px;
            font-weight: bold;
            display: block;
            float: left;
          }
          .models-item-m:hover{
            color: #fc7000;
          }
          .models-item{
            margin-right: 15px;
            display: block;
            float: left;
          }
        }
        }
      }
    }
    .car-price{
      position: relative;
      margin-top: 15px;
      .title{
        color: #333;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
      }
      .price-open{
        position: absolute;
        width: 6px;
        height: 10px;
        background: url(../images/index/open-down.png) no-repeat;
        top: 10px;
        right: 15px;
      }
      .price-list{
        color: #666;
        font-size: 12px;
        margin-bottom: 15px;
        overflow: hidden;
        height: 17px;
        .price-item{
          margin-right: 12px;
          display: block;
          float: left;

        }
      }
      .price-inner{
        width: 470px;
        height: 68px;
        border: 1px solid #fc7000;
        background: #fff;
        position: absolute;
        top: -16px;
        left: -16px;
        padding: 15px;
        z-index: 100;
        display: none;
      }
    }
  }
  .main-slider{
    float: left;
    width: 500px;
    height: 337px;
    margin-left: 18px;
    background: #999;
    .flexslider {
    overflow: hidden;
    width: 100%;
    height: 337px;
    position: relative;
    z-index: 10;
    }
  }
}
.main-slider .flex-control-nav {
position: absolute;
bottom: 10px;
width: 90px;
text-align: center;
margin-left:-30px;
left: 50%;
z-index: 100;
}
.main-slider .flex-control-nav li {
display: inline-block;
}
.main-slider .flex-control-nav a {
overflow: hidden;
text-indent: 1000px;
float: left;
display: inline;
width: 12px;
height: 12px;
line-height: 12px;
text-align: center;
color: #fff;
background-color: #000000;
margin-right: 5px;
cursor: pointer;
border-radius: 50%;
}
.main-slider .flex-control-nav .flex-active {
background-color: #e70;
}

.realTimeDown {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #d9d9d9;
  position: absolute;
  overflow: auto;
  z-index: 10000;
  overflow-x: hidden;
  background: #fff;
}
.realTimeDown span {
  display: block;
  float: none;
  padding: 3px 0px;
  padding-left: 15px;
  font-size: 12px;
  line-height: 25px;
  color: #B4B4B4;
  cursor: pointer;
  font-size: 13px;
  a{
    display: block;
    color:  #B4B4B4;
  }
}

.realTimeDown span .enterChexi {
  float: right;
  margin-right: 20px;
  font-size: 12px;
  color: #FF5719;
  font-weight: bolder;
  margin-top:-5px;
}
.realTimeDown .hover {
  background: #F8F8F6;
}