#top-info{
  .filter-nav{
    float: left;
    width: 470px;
    height: 305px;
    border: 1px solid #E6E6E6;
    background: #F5F5F5;
    padding: 15px;
    .car-brand{
      border-bottom: 1px solid #E6E6E6;
      position: relative;
      .title{
        color: #333;
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      #brand-open{
        width: 9px;
        height: 7px;
        background: url(../images/index/open.png) no-repeat;
        position: absolute;
        top: 10px;
        right: 15px;
      }
    }
  }
}