.onsale-summary{
    #onsale_report{
        padding-top:30px;
      padding-bottom: 30px;
    }

    .onsale_wrap .onsale_content .checker{color:#666;padding-bottom:4px;}.onsale_wrap .onsale_content .checker .check_report{float:right;color:#999}.onsale_wrap .onsale_content .checker .check_report a{float:right;color:#429aec}.onsale_wrap .onsale_content .checker .check_report a span{float:left;width:25px;height:20px;margin-top:-5px;background:url("../../images/fed/onsale_sprite3.png") no-repeat -224px -115px}
    .onsale_wrap .onsale_content .check_explain{border-bottom:1px solid #dfe0e0;color: #999;font-size: 12px;padding-bottom:8px;}
    .onsale_wrap .onsale_content .img_title{color:#333;font-family:"\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;font-size:14px;font-weight:bold;line-height:56px;text-align:center}

    .onsale_wrap .onsale_content .check_callout{color: #999;margin-top: 5px;}
    #onsale_sum{background:url(../../images/fed/check_tag.png) no-repeat 981px 18px #fff;}#onsale_sum h1{text-indent:-9999em;width:235px;height:33px;background:url("../../images/fed/onsale_sprite3.png") no-repeat -224px -169px;margin-bottom:23px}
    #onsale_sum .check_tag{float:left;width:105px;height:75px;background:url("../../images/fed/onsale_sprite3.png") no-repeat 0 -103px;color:#e70;font-size:35px;font-family:Arial;padding-top:60px;text-align:center;margin:85px 0 0 236px}
    #onsale_sum .check_desc{position: absolute;top:350px;left:0;text-align: center;width:630px;font-size: 14px;line-height: 20px;}
    #onsale_sum .standard{float:right;margin-top:34px;}
    #onsale_sum .standard span{opacity:0.5;display:block;width:23px;height:20px;background:url("../../images/fed/onsale_sprite3.png") no-repeat -469px -46px;margin:0 auto}
    #onsale_sum .standard .check_right{background-position:-353px -52px}
    #onsale_sum .standard .check_error{background-position:-353px -73px}
    #onsale_sum .standard table{width:525px;height:210px;border:1px solid #dfe0e0;margin-top:10px}#onsale_sum .standard table td,#onsale_sum .standard table th{width:110px;line-height:30px;text-align:center;color:#666;border-right:1px solid #dfe0e0;border-bottom:1px solid #dfe0e0}
    #onsale_sum .standard table tbody th{text-align:left;text-indent:42px;font-family:"\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;font-size:16px}
    #onsale_sum .standard table thead th{color:#333}
    #onsale_sum .standard table tbody td{
      color: #999;
    }
    #onsale_sum .standard table .table_bg{background-color:#f1f1f1}
    #onsale_sum .standard table .report-no{background:url("../../images/fed/report_no.png") no-repeat}
    #onsale_sum .standard table .currentStand{background-color:#fed498;}
    #onsale_sum .standard table .currentStand span{
      opacity: 1;
    }
    #onsale_sum .standard table .currentStand td,#onsale_sum .standard table .currentStand th{border-right-color:#fed498;color:#666;}
    #onsale_sum .standard table .currentStand .check_right{background-position:-472px -372px;}
    #onsale_sum .standard table .currentStand .check_error{background-position:-472px -402px;}

    


    .onsale_wrap .onsale_content .check_group p{color:#666;font-family:"\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;font-size:14px;float:left;font-weight:bold;margin-right:10px}
    .onsale_wrap .onsale_content .check_group div{float:left;color:#999;line-height:21px;padding-right:40px}.onsale_wrap .onsale_content .check_group div span{float:left;width:23px;height:20px;background:url("../../images/fed/onsale_sprite3.png") no-repeat -469px -46px}
    .onsale_wrap .onsale_content .check_group div .check_red{background-position:-469px -71px}
    .onsale_wrap .onsale_content .check_group div .check_blue{background-position:-469px -123px}
    .onsale_wrap .onsale_content .check_group div .check_orange{background-position:-469px -97px}
    .onsale_wrap .onsale_content .check_group div .check_gray{background-position:-469px -149px}
    .onsale_wrap .onsale_content .check_group div .check_dis{width:31px;background-position:-431px -71px}
    .onsale_wrap .onsale_content .check_group div .check_dir{width:28px;background-position:-431px -46px}
    .onsale_wrap .onsale_content .check_group div .check_right{background-position:-353px -52px}
    .onsale_wrap .onsale_content .check_group div .check_error{background-position:-353px -73px}
    .onsale_wrap .onsale_content .check_group div .check_ok{background-position:-435px -136px}
    .onsale_wrap .onsale_content .check_group div .check_wrong{background-position:-435px -103px}





    #onsale_dipan .files_dipan{width:460px;height:350px;overflow:hidden;margin-top:40px;margin-left:115px;float:left}
    #onsale_dipan .dipan_point{float:right;width:372px;margin-top:45px;margin-right: 70px;}#onsale_dipan .dipan_point li{width:81px;line-height:24px;float:left;background-color:#d8d8d8;border:1px solid #cecece;text-align:center;margin:0 10px 4px 0;font-family:"\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;*text-align:left;*text-indent:6px}#onsale_dipan .dipan_point li ins{float:right;width:57px;line-height:24px;background-color:#f2f2f2;border-left:1px solid #cecece;color:#348d00;*margin-top:-24px}
    #onsale_dipan .dipan_point .dipan_error{color:#f00;text-align:left;text-indent:20px;background:url("../../images/fed/onsale_sprite3.png") no-repeat -466px -263px #f2f2f2}
    #onsale_dipan .dipan_point .dipan_up{background-position:-466px -178px}
    #onsale_dipan .dipan_point .dipan_right{background-position:-466px -203px}
    #onsale_dipan .dipan_point .dipan_down{background-position:-466px -234px}
    #onsale_dipan .dipan_point .dipan_ahead{background-position:-466px -289px}
    #onsale_dipan .dipan_point .dipan_behind{background-position:-467px -314px}
    #onsale_dipan .dipan_point p{color:#999;line-height:43px}#onsale_dipan .dipan_point p ins{color:#666;font-size:14px;font-weight:bold}
    #onsale_dipan .dipan_point table{width:363px;border:1px solid #cecece;background-color:#f2f2f2;margin-top:20px}#onsale_dipan .dipan_point table td{height:30px;line-height:30px;color:#666}
    #onsale_dipan .dipan_point table ins{float:left;width:40px;height:20px;margin-top:2px;margin-left:12px}
    #onsale_fadongji .fadongji_views{margin:54px 0 0 119px}#onsale_fadongji .fadongji_views .fadongji_view{float:left;display:inline;width:180px;margin-right:43px;margin-bottom:20px}#onsale_fadongji .fadongji_views .fadongji_view .fadongji_title{background:url(../../images/fed/onsale_fadongji.png) no-repeat;line-height:30px;color:#fff;text-align:center}
    #onsale_fadongji .fadongji_views .fadongji_view .fadongji_rule{width:180px;height:130px}
    #onsale_fadongji .fadongji_views .fadongji_view .fadongji_viewImg{float:left;position:relative}#onsale_fadongji .fadongji_views .fadongji_view .fadongji_viewImg div{width:90px;height:65px;overflow:hidden;cursor:pointer}
    #onsale_fadongji .fadongji_views .fadongji_view .fadongji_viewImg p{line-height:25px;width:90px;background-color:rgba(82,142,20,0.6);*background-color:#5a941e;color:#fff;text-align:center;position:absolute;bottom:0}
    #onsale_qimian .qimian_img{width:100%;height:430px;border:1px solid #ddd;background-color:#FFFFFF;margin-top:25px}#onsale_qimian .qimian_img img{display:block;margin:0 auto;margin-top:15px}
    #onsale_perform .perform_img{width:522px;margin-top:85px;margin-left:52px;float:left;position:relative;z-index:90;}#onsale_perform .perform_img img{display:block;margin:0 auto}
    #onsale_perform .perform_img .perform-contain{height:229px;position:relative;width:390px;margin:0 auto;}#onsale_perform .perform_img .perform-contain .perform-point{position:absolute;width:26px;height:26px;cursor:pointer;background-color:#fff;opacity:0;filter:alpha(opacity=0);}
    #onsale_perform .perform_img .perform-contain .perform-intro{position:absolute;left:0;z-index:100;padding:10px;background-color:#fff;border:1px solid #d9d9d9;display:none;*width:360px;}
    #onsale_perform .perform_img .perform-contain .perform-intro .perform-close{float:right;width:30px;height:30px;background:url("../../images/fed/onsale_sprite3.png") no-repeat -340px -114px;cursor:pointer;margin-bottom:10px;display:none;}
    #onsale_perform .perform_img .perform-contain .perform-intro .perform-intro-p{line-height:19px;height:40px;font-size:14px;color:#666}#onsale_perform .perform_img .perform-contain .perform-intro .perform-intro-p span{float:left;width:19px;height:20px;color:#fff;font-size:14px;text-align:center;margin-right:10px;background:url("../../images/fed/onsale_sprite3.png") no-repeat -435px -103px}
    #onsale_perform .perform_img .perform-contain .perform-intro .perform-close:hover{background-position:-297px -114px}
    #onsale_perform .perform_img .perform-contain .perform-intro .perform-tangle{position:absolute;width:61px;height:129px;left:-61px;top:94px;background:url("../../images/fed/perform-tangle.png") no-repeat}
    #onsale_perform .perform_neishi{width:399px;z-index:10;}#onsale_perform .perform_neishi .perform-contain{height:174px;margin-top:28px;margin-bottom:27px;}
    #onsale_perform .perform_neishi .perform-contain .perform-intro{left:-500px}#onsale_perform .perform_neishi .perform-contain .perform-intro .perform-tangle{background:url("../../images/fed/perform-tangle2.png") no-repeat;left:auto;right:-61px;}
    #onsale_perform .explain{clear:both}
    #onsale_ride .ride_step span,#onsale_ride .explain span{float:right;width:20px;height:20px;background:url("../../images/fed/onsale_sprite3.png") no-repeat;text-align:center;color:#fff;*margin-top:-20px}
    #onsale_ride .explain span{*margin-top:-27px}
    #onsale_ride .ride_step .check_ok{background-position:-435px -136px}
    #onsale_ride .ride_step .check_wrong,#onsale_ride .explain .check_wrong{background-position:-435px -103px}
    #onsale_ride .ride_steps{width:1070px;height:370px;margin-top:45px;margin-left: 56px;}
    #onsale_ride .ride_step{float:left;width:182px;height:333px;margin-right:30px;display:inline;background:url("../../images/fed/onsale_sprite3.png") no-repeat 0 -245px}
    #onsale_ride li{color:#333;width:81px;margin:0 auto;line-height:20px;margin-bottom:8px}
    #onsale_ride .ride_title{width:182px;height:120px;text-indent:-9999em;margin-bottom:15px;background:url(../../images/fed/onsale_ride.jpg) no-repeat 0 0}
    #onsale_ride .ride_step2{background-position:-191px 0}
    #onsale_ride .ride_step3{background-position:-381px 0}
    #onsale_ride .ride_step4{background-position:-571px 0}
    #onsale_ride .ride_step5{background-position:-761px 0}


    
    .onsale_wrap .onsale_title{line-height:46px;height:46px;background-color:#fea932;color:#fff;font-size:16px;font-family:"\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana}.onsale_wrap .onsale_title h2{float:left;width:220px;height:46px;background-color:#333;font-size:20px;padding-left:30px;margin-right:6px}
    .onsale_wrap .onsale_title h2 span{float:right;width:10px;height:19px;margin-right:-10px;margin-top:12px;background:url("../../images/fed/onsale_sprite3.png") no-repeat -396px -47px;*margin-top:-34px}
    .onsale_wrap .onsale_title p span{float:left;width:32px;height:33px;background:url("../../images/fed/onsale_sprite3.png") no-repeat -388px -117px;margin:6px 15px}
    .onsale_wrap .onsale_title .title_error{background-position:-388px -69px}


}