.search-car{
    .search-result,
    .searchby-price,
    .searchby-brand{

    }
    .searchby-brand{
        .searchby-content .brand-list .brand-item{

            cursor: pointer;
            
            .brand-img{
                width: 20px;
                height: auto;
            }
            .brand-name{

            }
        }
        
    }
}