// shop-location.less
.shop-location{
    // width: 500px;
    // padding: 
    margin-top: 20px;
    border: 1px solid @bc;

    #shop-map{
        height: 250px;
        // height: 500px;
    }
    .location-intro{
        padding: 10px 15px
    }
}