- var allBrand = ['大众', '奥迪', '本田', '奔驰', '标致', '宝马', '别克']


div.shop-left
    div.search-car
        .search-result
        .searchby-price
            .search-title 价格
            .searchby-content
                input#min-price(type="text")
                span -
                input#max-price(type="text")
                a#btn.btn-primary 确定
        .searchby-brand
            .search-title 品牌
            .searchby-content
                ul.brand-list
                    each brand in allBrand
                        li.brand-item
                            a
                                //- brand-img图片文件来自res服务器...?
                                img.brand-img(src="http://res.souche.com/files/carproduct/brand/brand-118.png")
                                span.brand-name= brand
   
    .shop-detail
      .detail-tit 海华二手车精品店
        span 授权店
      .info
        .info-item
          span 电话：
          em 0571-85350333
        .info-item
          span 手机：
          em 1571-85350333
        .info-item
          span 营业： 
          em 9:00-17:00  周一至周六 
      h1 门店介绍： 
      p 车辆置换,价格评估,车辆寄售,分期贷款,延长质保,整备翻新,车辆美容,试乘试驾车辆置换,价格评估,车辆寄售,分期贷款,延长质保,整备翻新,车辆美容
    .shop-map
     
            

    div.shop-intro
