form#form.form-horizontal
  .row-fluid
    .span3
      .control-group
        input#sel_souchenum.m-wrap.span12(type='text', placeholder='搜车号', name='sel_souchenum')
    .span3
      .control-group
        input#sel_vinnum.m-wrap.span12(type='text', placeholder='车架号', name='sel_vinnum')
    .span3
      .control-group
        input#sel_id.m-wrap.span12(type='text', placeholder='carID', name='sel_id')
    .span3
      .control-group
        input#sel_plateNumber.m-wrap.span12(type='text', placeholder='车牌号', name='sel_plateNumber')
  // row
  .row-fluid
    .span3
      .control-group
        select#sel_store.span12(tabindex='1')
          option(value='') -所属门店-
          option(value='58866697589') 北京车牛黑老大大哥店
          option(value='33368897589') 北京车牛黑老大大哥店
          option(value='18868897859') 车牛测试数据
          option(value='18868897589') 18868897589
          option(value='18868123456') 湖北车牛尼玛店
          option(value='18668170958') 葛亮
          option(value='18667932551') 杭州恒生
          option(value='18667433587') ggg
          option(value='18658866328') 周峰
          option(value='18553492539') 杨秀梅
          option(value='18268098750') 汪红霞
          option(value='15980701442') xm
          option(value='15934622886') 关羽
          option(value='15730299276') 谭巧
          option(value='15676161396') longli
          option(value='15248185555') 任强
          option(value='15110042174') 北京优途旧机动车经纪有限公司
          option(value='15101103548') dxz
          option(value='15088615333') 15088615333
          option(value='15088615310') 陈兴
          option(value='13918113155') zr
          option(value='13814392760') 辛东海
          option(value='13735854173') 洪文明
          option(value='13601391873') 关羽
          option(value='13540752795') 蔡宣日
          option(value='13241104000') 易车之道
          option(value='13071851598') 龙军成
          option(value='000036') 拍卖授权店
          option(value='000035') 大搜车总部1234567
          option(value='000034') 北京第一站旧机动车经纪公司(花乡店)
          option(value='000033') 北京第一站旧机动车经纪公司(总部)
          option(value='000032') 大搜车总部2344
          option(value='000031') 大搜车总部124589
          option(value='000030') 大搜车总部123456
          option(value='000029') 这是一个测试，12e3
          option(value='000028') 大搜车总部哈哈哈
          option(value='000027') 大搜车存储总部123
          option(value='000026') 大搜车总部
          option(value='000025') 大搜车总部1
          option(value='000024') 大搜车总部123
          option(value='000023') 山西理想二手车B
          option(value='000022') 镖镖必达-全网第一
          option(value='000021') 山西杏花村汾酒有限公司A
          option(value='000020') 这是一个测试你信不信1
          option(value='000019') B级标准授权店刘文静测试
          option(value='000018') 全球稀奇买手店
          option(value='000017') 哈尔滨测试经销商店
          option(value='000016') 江苏诚信二手车
          option(value='000015') 经典汽车-李境测试
          option(value='000014') nealyoung二手车馆
          option(value='000013') 河北搜车有限公司
          option(value='000012') 山西壶口瀑布
          option(value='000011') 湖北大车有限公司
          option(value='000010') 武汉大搜车二号店
          option(value='000009') 武汉大搜车汽车服务店
          option(value='000008') 南京宏达汽车服务有限公司
          option(value='000007') 杭州杭州
          option(value='000006') 河北宏荣店
          option(value='000005') 海南大搜车有限公司
          option(value='000004') 上海荣光汽车店
          option(value='000003') 浙江宏发汽车公司
          option(value='000002') 上海荣光总店
          option(value='000001') 大搜车北京旗舰店
          option(value='000000') 大搜车总部
    .span3
      .control-group
        select#sel_sellType.span12(tabindex='1')
          option(value='') -售卖类型-
          option(value='1') 寄售
          option(value='2') 收购
    .span3
      .control-group
        select#sel_brand.span12(tabindex='1')
          option(value='') -品牌-
          option(value='brand-12') A 阿尔法罗米欧
          option(value='brand-15') A 奥迪
          option(value='brand-13') A 阿斯顿马丁
          option(value='brand-18') B 宝骏
          option(value='brand-20') B 宝马
          option(value='brand-22') B 保时捷
          option(value='brand-23') B 北京汽车
          option(value='brand-24') B 北汽制造
          option(value='brand-25') B 奔驰
          option(value='brand-26') B 奔腾
          option(value='brand-27') B 本田
          option(value='brand-29') B 标致
          option(value='brand-30') B 别克
          option(value='brand-31') B 宾利
          option(value='brand-28') B 比亚迪
          option(value='brand-33') B 布加迪
          option(value='brand-164') C 长安
          option(value='brand-165') C 长城
          option(value='brand-166') C 长丰
          option(value='brand-35') C 昌河
          option(value='brand-42') D 道奇
          option(value='brand-41') D 大众
          option(value='brand-43') D 帝豪
          option(value='brand-44') D 东风
          option(value='brand-45') D 东南
          option(value='brand-46') F 法拉利
          option(value='brand-48') F 菲亚特
          option(value='brand-49') F 丰田
          option(value='brand-52') F 福迪
          option(value='brand-53') F 福特
          option(value='brand-54') F 福田
          option(value='brand-3') G GMC
          option(value='brand-56') G 广汽
          option(value='brand-57') H 哈飞
          option(value='brand-465') H 海格
          option(value='brand-58') H 海马
          option(value='brand-59') H 悍马
          option(value='brand-62') H 红旗
          option(value='brand-68') H 黄海
          option(value='brand-64') H 华普
          option(value='brand-65') H 华泰
          option(value='brand-69') H 汇众
          option(value='brand-75') J 江淮
          option(value='brand-76') J 江铃
          option(value='brand-71') J 吉奥
          option(value='brand-78') J 捷豹
          option(value='brand-72') J 吉利
          option(value='brand-79') J 金杯
          option(value='brand-74') J 吉普
          option(value='brand-84') K 凯迪拉克
          option(value='brand-82') K 开瑞
          option(value='brand-86') K 克莱斯勒
          option(value='brand-88') L 兰博基尼
          option(value='brand-89') L 蓝旗亚
          option(value='brand-91') L 劳斯莱斯
          option(value='brand-92') L 雷克萨斯
          option(value='brand-93') L 雷诺
          option(value='brand-94') L 力帆
          option(value='brand-97') L 铃木
          option(value='brand-96') L 林肯
          option(value='brand-98') L 陆风
          option(value='brand-99') L 路虎
          option(value='brand-100') L 路特斯
          option(value='brand-104') M 迈巴赫
          option(value='brand-103') M 玛莎拉蒂
          option(value='brand-102') M 马自达
          option(value='brand-109') M 名爵
          option(value='brand-108') M 迷你
          option(value='brand-111') N 纳智捷
          option(value='brand-114') O 欧宝
          option(value='brand-113') O 讴歌
          option(value='brand-95') Q 青年莲花
          option(value='brand-118') Q 奇瑞
          option(value='brand-119') Q 起亚
          option(value='brand-121') R 日产
          option(value='brand-122') R 荣威
          option(value='brand-123') R 瑞麒
          option(value='brand-124') S 萨博
          option(value='brand-126') S 三菱
          option(value='brand-130') S 世爵
          option(value='brand-131') S 双环
          option(value='brand-132') S 双龙
          option(value='brand-134') S 斯巴鲁
          option(value='brand-135') S 斯柯达
          option(value='brand-10') S Smart
          option(value='brand-138') T 天津一汽
          option(value='brand-144') W 威麟
          option(value='brand-145') W 威兹曼
          option(value='brand-146') W 沃尔沃
          option(value='brand-148') W 五菱
          option(value='brand-151') X 现代
          option(value='brand-401') X 新龙马
          option(value='brand-150') X 西雅特
          option(value='brand-154') X 雪佛兰
          option(value='brand-155') X 雪铁龙
          option(value='brand-158') Y 英菲尼迪
          option(value='brand-160') Y 英伦
          option(value='brand-156') Y 一汽
          option(value='brand-157') Y 依维柯
          option(value='brand-161') Y 永源汽车
          option(value='brand-167') Z 中华
          option(value='brand-172') Z 众泰
          option(value='brand-170') Z 中兴
    .span3
      .control-group
        select#sel_series.span12(tabindex='1')
          option(value='') -系列-
  // row
  .row-fluid
    .span3
      .control-group
        label(style='display:inline;') 车辆状态：
        select#sel_status.span12(tabindex='1')
          option(value='') -车辆状态-
          option(value='xinjian') 新建
          option(value='yushou') 预售
          option(value='yishou') 已售
          option(value='zaishou') 在售
          option(value='tuihuo') 退货
          option(value='xiajia') 下架
          option(value='tuiku') 退库
          option(value='detect_passed') 检测通过
          option(value='detect_error') 检测未通过
          option(value='wuxiao') 无效
    .span3
      .control-group
        label(style='display:inline;') 省份：
        select#sel_province.span12(tabindex='1')
          option(value='') -不限-
          option(value='00001') 北京
          option(value='03095') 新疆
          option(value='00530') 辽宁
          option(value='01840') 湖南
          option(value='02914') 甘肃
          option(value='00105') 河北
          option(value='00419') 内蒙古
          option(value='00043') 天津
          option(value='02245') 海南
          option(value='01193') 福建
          option(value='02799') 陕西
          option(value='00974') 浙江
          option(value='03231') 台湾
          option(value='02272') 四川
          option(value='02718') 西藏
          option(value='02474') 贵州
          option(value='02572') 云南
          option(value='00021') 上海
          option(value='00289') 山西
          option(value='01288') 江西
          option(value='02122') 广西
          option(value='00714') 黑龙江
          option(value='03066') 宁夏
          option(value='00858') 江苏
          option(value='01075') 安徽
          option(value='03206') 香港
          option(value='00644') 吉林
          option(value='01725') 湖北
          option(value='00063') 重庆
          option(value='01398') 山东
          option(value='03222') 澳门
          option(value='01556') 河南
          option(value='03014') 青海
          option(value='01977') 广东
    .span3
      .control-group
        label(style='display:inline;') 城市：
        select#sel_city.span12( tabindex='1')
          option(value='') -不限-
  // row
  .row-fluid
    .span12
      .control-group
        label(style='display:inline;')
        input#sel_beginDate.m-wrap.span3.date-picker(type='text', placeholder='到店开始时间', name='sel_vinnum')
        span(style="line-height:40px;margin:0 5px;") 一
        input#sel_endDate.m-wrap.span3.date-picker(type='text', placeholder='到店结束时间', name='sel_vinnum')
  // row
  .row-fluid
      button#search.btn.green.start(type='button')
        i.icon-search
        span 查询
      button#resetSearch.btn.gray.cancel(type='button')
        i.icon-ban-circle.icon-white
        span 重置
  br
