form#form.form-horizontal(name='form', method='post', enctype='multipart/form-data')
  input(type='hidden', name='token', value='true')
  h3.form-section 公司基本信息
  .row-fluid
    .span6
      .control-group
        label.control-label 公司名称:
        .controls
          input#name.input-medium.span12(type='text', name='name', value='', placeholder='公司全称，详细，如北京大搜车汽车服务西苑北店')
          span#name_err.help-inline(style='color: #B94A48;')
    //
      /span
    .span6
      .control-group
        label.control-label 公司简称:
        .controls
          input#nickname.input-medium.span12(type='text', name='nickname', value='', placeholder='简称，如：北京大搜车')
          span#nickname_err.help-inline(style='color: #B94A48;')
    //
      /span
  //
     /row
  .row-fluid
    .span6
      .control-group
        label.control-label 固定电话:
        .controls
          input#addresscall.input-medium.span12(type='text', value='', name='addresscall', placeholder='固定电话。如：0577-65899785')
          span#addresscall_err.help-inline(style='color: #B94A48;')
    //
      /span
    .span6
      .control-group
        label.control-label 移动电话:
        .controls
          input#phone.input-medium.span12(type='text', value='', name='phone', placeholder='手机号码,如：18869987598')
          span#phone_err.help-inline(style='color: #B94A48;')
    //
      /span
  //
     /row
  .row-fluid
    .span6
      .control-group
        label.control-label 地址:
        .controls
          input#place.input-medium.span12(type='text', value='', name='place', placeholder='公司详细地址，精确到门牌号')
          span#place_err.help-inline(style='color: #B94A48;')
    //
      /span
    //
      /span
  //
     /row
  .row-fluid
    .span6
      .control-group
        label.control-label 省份城市:
        .controls
          select#province.input-medium(style='width: 80px;', name='province', tabindex='1')
            option(value='') -不限-
            option(value='00001') 北京
            option(value='03095') 新疆
            option(value='00530') 辽宁
            option(value='01840') 湖南
            option(value='02914') 甘肃
            option(value='00105') 河北
            option(value='00419') 内蒙古
            option(value='00043') 天津
            option(value='02245') 海南
            option(value='01193') 福建
            option(value='02799') 陕西
            option(value='00974') 浙江
            option(value='03231') 台湾
            option(value='02272') 四川
            option(value='02718') 西藏
            option(value='02474') 贵州
            option(value='02572') 云南
            option(value='00021') 上海
            option(value='00289') 山西
            option(value='01288') 江西
            option(value='02122') 广西
            option(value='00714') 黑龙江
            option(value='03066') 宁夏
            option(value='00858') 江苏
            option(value='01075') 安徽
            option(value='03206') 香港
            option(value='00644') 吉林
            option(value='01725') 湖北
            option(value='00063') 重庆
            option(value='01398') 山东
            option(value='03222') 澳门
            option(value='01556') 河南
            option(value='03014') 青海
            option(value='01977') 广东
          select#city.input-medium( name='city', tabindex='1')
            option(value='') -不限-
          span#province_err.help-inline(style='color: #B94A48;')
          span#city_err.help-inline(style='color: #B94A48;')
          input#provinceCode(type='hidden', value='')
          input#cityCode(type='hidden', value='')
    //
      /span
    .span6
      .control-group
        label.control-label 门店检测标准:
        .controls
          select#standard.small.input-medium(name='standard')
            option(value='A') A级检测
            option(value='B') B级检测
  //
     /row
  .row-fluid
    .span6
      .control-group
        label.control-label 总库存数:
        .controls
          input#carSum.input-small.span12(type='text', value='', name='carSum', placeholder='具体库存数量，单位：台')
          span#carSum_err.help-inline(style='color: #B94A48;')
    //
      /span
    .span6
      .control-group
        label.control-label 开店日期:
        .controls
          .input-append#openDate.date(data-date="12-02-2012",data-date-format="dd-mm-yyyy")
            input.m-wrap.date-picker.span12(type='text', value='', name='openDate', placeholder='yyyy-mm-dd')
            span.add-on
              i.icon-calendar
          span#openDate_err.help-inline(style='color: #B94A48;')
    //
      /span
  //
     /row
  .row-fluid
    .span6
      .control-group
        label.control-label 开始营业时间:
        .controls
          .input-append
            input#startTime.m-wrap.span12(type='text', value='', name='startTime', placeholder='hh:mm')
            span.add-on
              i.icon-time
          span#startTime_err.help-inline(style='color: #B94A48;')
    //
      /span
    .span6
      .control-group
        label.control-label 结束营业时间:
        .controls
          .input-append
            input#endTime.m-wrap.span12(type='text', value='', name='endTime', placeholder='hh:mm')
            span.add-on
              i.icon-time
          span#endTime_err.help-inline(style='color: #B94A48;')
    //
      /span
  //
     /row
  .row-fluid
    .span12
      .control-group
        label.control-label 公司介绍:
        .controls
          textarea#introduce.span10.input-medium(name='introduce', rows='7', wrap='physical')
          span#introduce_err.help-inline(style='color: #B94A48;')
    //
      /span
  //
     /row
  h3.form-section 公司银行账户信息
  .row-fluid
    .span6
      .control-group
        label.control-label 银行账户:
        .controls
          input#bankAccount.input-medium.span12(type='text', name='bankAccount', value='', placeholder='小心小心再小心')
          span#bankAccount_err.help-inline(style='color: #B94A48;')
    //
      /span
    .span6
      .control-group
        label.control-label 开户名:
        .controls
          input#accountName.input-medium.span12(type='text', name='accountName', value='', placeholder='开户名')
          span#accountName_err.help-inline(style='color: #B94A48;')
    //
      /span
  //
     /row
  .row-fluid
    .span6
      .control-group
        label.control-label 开户银行:
        .controls
          input#bankName.input-medium.span12(type='text', name='bankName', value='', placeholder='详细银行名，如：中国农业银行')
          span#bankName_err.help-inline(style='color: #B94A48;')
    //
      /span
  //
     /row
  .row-fluid
    .span6
      .control-group
        label.control-label 协议有效开始时间:
        .controls
          .input-append.date
            input#validStartDate.m-wrap.small.date-picker(name='validStartDate', value='', size='10', type='text', placeholder='yyyy-mm-dd')
            span.add-on
              i.icon-calendar
          span#validStartDate_err.help-inline(style='color: #B94A48;')
    //
      /span
    .span6
      .control-group
        label.control-label 协议有效结束时间:
        .controls
          .input-append.date
            input#validEndDate.m-wrap.small.date-picker(name='validEndDate', value='', size='10', type='text', placeholder='yyyy-mm-dd')
            span.add-on
              i.icon-calendar
          span#validEndDate_err.help-inline(style='color: #B94A48;')
    //
      /span
  //
     /row
  h3.form-section 地图设置
  .row-fluid
    .span6
      .control-group
        label.control-label 图层级别:
        .controls
          input#level.input-medium.span12(type='text', name='level', value='', placeholder='建议13级，里面填写:13')
          span#level_err.help-inline(style='color: #B94A48;')
    //
      /span
    .span6
      .control-group
        label.control-label 坐标值:
        .controls
          input#coordinate.input-medium.span12(type='text', name='coordinate', value='', placeholder='将地址坐标复制进来')
          span#coordinate_err.help-inline(style='color: #B94A48;')
    //
      /span
  //
     /row
  .row-fluid
    .alert
      p 使用说明:
      p 1、访问
        a(href='http://api.map.baidu.com/lbsapi/getpoint/', target='_black') http://api.map.baidu.com/lbsapi/getpoint/
      p 2、搜索到公司实际地址
      p 3、复制坐标点及当前图层
  .row-fluid
    .span12
      .control-group
        label.control-label 地图分享地址:
        .controls
          input#mapUrl.input-medium.span12(type='text', name='mapUrl', value='', placeholder='使用百度地图查询到店铺名，复制地图中的分享链接,例如：http://j.map.baidu.com/KQsWp')
          span#mapUrl_err.help-inline(style='color: #B94A48;')

  .row-fluid
    .span6
      .control-group
        label.control-label 单选：
        .controls
          label.radio
            input(name='orderType', value='', type='radio', checked='checked')
            | 全部
          label.radio
            input(name='orderType', value='0', type='radio')
            | 大搜车
          label.radio
            input(name='orderType', value='1', type='radio')
            | 非大搜车
    .span6
      .control-group
        label.control-label 多选：
        .controls
          label.checkbox
            input(name='orderType', value='', type='checkbox', checked='checked')
            | 全部
          label.checkbox
            input(name='orderType', value='0', type='checkbox')
            | 大搜车
          label.checkbox
            input(name='orderType', value='1', type='checkbox')
            | 非大搜车

