table.table.table-bordered.table-striped
  colgroup
    col.span1
    col.span7
  thead
    tr
      th Class
      th Description
  tbody
    tr
      td
        code .success
      td 表示成功或积极的行为。
    tr
      td
        code .error
      td 表示一个危险或存有潜在危险的行为。
    tr
      td
        code .warning
      td 表示警告，可能需要注意。
    tr
      td
        code .info
      td 作为一个默认样式的一个替代样式。
.alert
  p 用colgroup来定义单元格的宽度
  p 不需要给表格加排序功能
  p 表格同步渲染
table.table.table-bordered.table-striped
  colgroup
    col(style="")
    col(style="")
    col(style="")
    col(style="")
    col(style="")
    col(style="")
    col(style="")
    col(style="width:10%;")
  thead
    tr
      th
          input(type='checkbox')
      th 编号
      th 名称
      th 父授权店
      th 所属地区
      th 联系电话
      th 地址
      th 操作
  tbody

    tr
      td
        input(type='checkbox')
      td
        label 000034 
      td
        label 北京第一站旧机动车经纪公司(花乡店) 
      td
        label 北京第一站旧机动车经纪公司(总部) 
      td
        label 贵州 遵义市 
      td
        label 18868898967 
      td
        label 北京市南四环花乡旧机动车交易市场 
      td
        label
          a(href='javascript:openShopAddWindow("000034","0")') 修改
          br
          a(href='javascript:openShopAddWindow("000034","1")') 添加子店
    tr
      td
        input(type='checkbox')
      td
        label 000036 
      td
        label 大搜车总部12345678 
      td
        label  
      td
        label 西藏 拉萨市 
      td
        label 18868898966 
      td
        label 这是一个测试 
      td
        label
          a(href='javascript:openShopAddWindow("000036","0")') 修改
          br
          a(href='javascript:openShopAddWindow("000036","1")') 添加子店
    tr
      td
        input(type='checkbox')
      td
        label 000035 
      td
        label 大搜车总部1234567 
      td
        label  
      td
        label 辽宁 抚顺市 
      td
        label 13628678467 
      td
        label 北京朝阳区王朝路281号 
      td
        label
          a(href='javascript:openShopAddWindow("000035","0")') 修改
          br
          a(href='javascript:openShopAddWindow("000035","1")') 添加子店
    tr
      td
        input(type='checkbox')
      td
        label 000033 
      td
        label 北京第一站旧机动车经纪公司(总部) 
      td
        label  
      td
        label 贵州 遵义市 
      td
        label 18868898968 
      td
        label 北京朝阳区王朝路281号 
      td
        label
          a(href='javascript:openShopAddWindow("000033","0")') 修改
          br
          a(href='javascript:openShopAddWindow("000033","1")') 添加子店
    tr
      td
        input(type='checkbox')
      td
        label 000032 
      td
        label 大搜车总部2344 
      td
        label  
      td
        label 台湾 台湾 
      td
        label 18868898960 
      td
        label 北京朝阳区王朝路281号 
      td
        label
          a(href='javascript:openShopAddWindow("000032","0")') 修改
          br
          a(href='javascript:openShopAddWindow("000032","1")') 添加子店
    tr
      td
        input(type='checkbox')
      td
        label 000031 
      td
        label 大搜车总部124589 
      td
        label  
      td
        label 云南 昭通市 
      td
        label 13628678467 
      td
        label 北京朝阳区王朝路281号 
      td
        label
          a(href='javascript:openShopAddWindow("000031","0")') 修改
          br
          a(href='javascript:openShopAddWindow("000031","1")') 添加子店


