.alert
  p 翻页使用同步的翻页，所以数字a标签上面直接写跳转链接

.paging_bootstrap.pagination
  ul
    li
      span(style='border-left-width:0;border-top-width: 0;border-bottom-width: 0') 共[37]条记录
    // <li class="prev disabled"><a href="javascript:void(0)"><span class='hidden-480'>首页</span></a></li>
    li.disabled
      a(href='javascript:void(0)')
        span.hidden-480
          | <
          // 上一页
    li.active
      a(href='javascript:void(0)') 1
    li
      a(href='javascript:mmda.grid.refresh("shopmanager-grid",2)') 2
    li
      a(href='javascript:mmda.grid.refresh("shopmanager-grid",3)') 3
    li
      a(href='javascript:mmda.grid.refresh("shopmanager-grid",4)') 4
    li.next
      a(href='javascript:mmda.grid.refresh("shopmanager-grid",2)')
        span.hidden-480
          | >
          // 下一页
    li(style='border：0px solid #fff;padding: 5px 12px;') 跳到
    li(style='border：0px solid #ffffff;padding: 5px 12px;')
      select(onchange='mmda.grid.refresh("shopmanager-grid",$(this).val())', style='width: 70px;')
        option(value='1', selected='') 1
        option(value='2') 2
        option(value='3') 3
        option(value='4') 4
  input#page_result_size(type='hidden', value='10')
