a(href="#myModal",role="button",class="btn",data-toggle="modal") 打开演示弹窗
.modal.fade#myModal
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
    h3 对话框标题
  .modal-body
    p One fine body…
  .modal-footer
    a.btn(href='#') 关闭
    a.btn.btn-primary(href='#') Save changes
