#header {
	background: #fff;
	.wrapper {
		width: 1180px;
		height: 75px;
		margin: 0 auto;
		padding-top: 45px;
		.logo {
			display: block;
			width: 235px;
			height: 52px;
			float: left;
			margin-right: 30px;
			margin-top: -5px;
			img {
				width: 247px;
			}
		}
		.search {
			margin-left: 0;
			float: left;
			height: 40px;
			.index-search {
				width: 630px;
				height: 40px;
				position: relative;
				.search-text {
					border: 1px solid #0F448E;
					height: 20px;
					padding: 10px;
					line-height: 20px;
					display: block;
					float: left;
					width: 560px;
				}
				.search-submit {
					border: 1px solid #0F448E;
					background: #0F448E;
					width: 42px;
					height: 42px;
					display: block;
					float: left;
					cursor: pointer;
					i {
						background: url(../../../../images/index/search-bg.png) no-repeat;
						display: block;
						width: 20px;
						height: 20px;
						margin-left: 5px;
					}
				}
				.recom {
					width: 295px;
					height: 20px;
					position: absolute;
					top: 9px;
					right: 60px;
				}
			}

		}
		.phone-number {
			width: 136px;
			height: 34px;
			float: right;
		}
		.cord-h5 {
			width: 82px;
			height: 20px;
			float: right;
			margin-top: 14px;
			margin-right: 30px;
			line-height: 20px;
			color: #666;
			font-size: 12px;
			position: relative;
			z-index: 10000;
			.phone-icon {
				width: 7px;
				height: 12px;
				display: block;
				float: left;
				background: url(../../../../images/index/index_sprite_v2.png) no-repeat scroll 0 -100px;
				margin-right: 8px;
				margin-top: 4px;
			}
			.open-icon {
				width: 8px;
				height: 5px;
				display: block;
				float: right;
				background: url(../../../../images/index/index_sprite_v2.png) no-repeat scroll 0 -115px;
				margin-left: 10px;
				margin-top: 8px;
			}
			// .h5-open {
			// 	position: 
			// }
		}
	}
}