#buyer-flow{
  #header{
    height: 44px;
    background: #ea5525;
    padding-left: 10px;
    font-size: 16px;
    line-height: 44px;
    color: #fff;
    a{
      color: #fff;
    }
  }
  #content{
    margin: 20px 0;
    img{
        width: 100%;
    }
  }
  .foot{
      height: 44px;
      font-size: 18px;
      line-height: 44px;
      text-align: center;
      color:#fff;
      background: #ea5525;
      a{
        color: #fff;
      }
    }
}