#choose-nav
  .wrapper
    .item-brand
      .hd 品牌
      .bd
        .brand-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .brand-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .brand-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .brand-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .brand-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .brand-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .brand-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .brand-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
    .item-model
      .hd 品牌
      .bd
        .model-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .model-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .model-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .model-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .model-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .model-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .model-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
        .model-item
          img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
          span 宝马
    .item-price
      .hd 价格
      .bd
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=0-8', click_type='nav_price_1') 8万以下
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=8-10', click_type='nav_price_3') 8-10万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=10-15', click_type='nav_price_4') 10-15万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=15-20', click_type='nav_price_5') 15-20万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=20-30', click_type='nav_price_6') 20-30万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=30-50', click_type='nav_price_7') 30-50万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=50-1000', click_type='nav_price_8') 50万以上



