#choose-nav
  .wrapper
    .item-brand#choose_brand
      .trigger-icon

      .brand-wrapper
        .hd 品牌
        .bd.clearfix
          a.brand-item(href="#")
            img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
            span 宝马
          a.brand-item(href="#")
            img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
            span 宝马
          a.brand-item(href="#")
            img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
            span 宝马
          a.brand-item(href="#")
            img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
            span 宝马
          a.brand-item(href="#")
            img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
            span 宝马
          a.brand-item(href="#")
            img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
            span 宝马
          a.brand-item(href="#")
            img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
            span 宝马
          a.brand-item(href="#")
            img(src="http://res.souche.com/files/carproduct/brand/brand-20.png")
            span 宝马
      div.brand-all.clearfix
        div.title 所有品牌
        div.brand-list.clearfix
          div.left-list
            div.brand-item-l.clearfix
              div.letter A
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-15', click_type='nav-brand-inner-brand-15') 奥迪
            div.brand-item-l.clearfix
              div.letter B
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-18', click_type='nav-brand-inner-brand-18') 宝骏
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-20', click_type='nav-brand-inner-brand-20') 宝马
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-22', click_type='nav-brand-inner-brand-22') 保时捷
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-23', click_type='nav-brand-inner-brand-23') 北京汽车
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-25', click_type='nav-brand-inner-brand-25') 奔驰
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-26', click_type='nav-brand-inner-brand-26') 奔腾
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-27', click_type='nav-brand-inner-brand-27') 本田
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-29', click_type='nav-brand-inner-brand-29') 标致
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-30', click_type='nav-brand-inner-brand-30') 别克
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-31', click_type='nav-brand-inner-brand-31') 宾利
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-28', click_type='nav-brand-inner-brand-28') 比亚迪
            div.brand-item-l.clearfix
              div.letter C
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-164', click_type='nav-brand-inner-brand-164') 长安
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-165', click_type='nav-brand-inner-brand-165') 长城
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-166', click_type='nav-brand-inner-brand-166') 长丰
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-35', click_type='nav-brand-inner-brand-35') 昌河
            div.brand-item-l.clearfix
              div.letter D
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-42', click_type='nav-brand-inner-brand-42') 道奇
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-41', click_type='nav-brand-inner-brand-41') 大众
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-43', click_type='nav-brand-inner-brand-43') 帝豪
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-44', click_type='nav-brand-inner-brand-44') 东风
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-45', click_type='nav-brand-inner-brand-45') 东南
            div.brand-item-l.clearfix
              div.letter F
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-48', click_type='nav-brand-inner-brand-48') 菲亚特
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-49', click_type='nav-brand-inner-brand-49') 丰田
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-53', click_type='nav-brand-inner-brand-53') 福特
            div.brand-item-l.clearfix
              div.letter G
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-3', click_type='nav-brand-inner-brand-3') GMC
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-56', click_type='nav-brand-inner-brand-56') 广汽
            div.brand-item-l.clearfix
              div.letter H
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-58', click_type='nav-brand-inner-brand-58') 海马
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-62', click_type='nav-brand-inner-brand-62') 红旗
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-65', click_type='nav-brand-inner-brand-65') 华泰
            div.brand-item-l.clearfix
              div.letter J
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-75', click_type='nav-brand-inner-brand-75') 江淮
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-78', click_type='nav-brand-inner-brand-78') 捷豹
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-72', click_type='nav-brand-inner-brand-72') 吉利
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-79', click_type='nav-brand-inner-brand-79') 金杯
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-74', click_type='nav-brand-inner-brand-74') 吉普
            div.brand-item-l.clearfix
              div.letter K
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-84', click_type='nav-brand-inner-brand-84') 凯迪拉克
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-86', click_type='nav-brand-inner-brand-86') 克莱斯勒
            div.brand-item-l.clearfix
              div.letter L
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-88', click_type='nav-brand-inner-brand-88') 兰博基尼
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-92', click_type='nav-brand-inner-brand-92') 雷克萨斯
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-93', click_type='nav-brand-inner-brand-93') 雷诺
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-94', click_type='nav-brand-inner-brand-94') 力帆
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-97', click_type='nav-brand-inner-brand-97') 铃木
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-98', click_type='nav-brand-inner-brand-98') 陆风
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-99', click_type='nav-brand-inner-brand-99') 路虎
          div.right-list
            div.brand-item-l.clearfix
              div.letter M
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-103', click_type='nav-brand-inner-brand-103') 玛莎拉蒂
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-102', click_type='nav-brand-inner-brand-102') 马自达
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-109', click_type='nav-brand-inner-brand-109') 名爵
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-108', click_type='nav-brand-inner-brand-108') 迷你
            div.brand-item-l.clearfix
              div.letter N
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-111', click_type='nav-brand-inner-brand-111') 纳智捷
            div.brand-item-l.clearfix
              div.letter O
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-114', click_type='nav-brand-inner-brand-114') 欧宝
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-113', click_type='nav-brand-inner-brand-113') 讴歌
            div.brand-item-l.clearfix
              div.letter Q
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-95', click_type='nav-brand-inner-brand-95') 青年莲花
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-118', click_type='nav-brand-inner-brand-118') 奇瑞
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-119', click_type='nav-brand-inner-brand-119') 起亚
            div.brand-item-l.clearfix
              div.letter R
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-121', click_type='nav-brand-inner-brand-121') 日产
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-122', click_type='nav-brand-inner-brand-122') 荣威
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-123', click_type='nav-brand-inner-brand-123') 瑞麒
            div.brand-item-l.clearfix
              div.letter S
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-124', click_type='nav-brand-inner-brand-124') 萨博
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-126', click_type='nav-brand-inner-brand-126') 三菱
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-131', click_type='nav-brand-inner-brand-131') 双环
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-132', click_type='nav-brand-inner-brand-132') 双龙
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-134', click_type='nav-brand-inner-brand-134') 斯巴鲁
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-135', click_type='nav-brand-inner-brand-135') 斯柯达
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-10', click_type='nav-brand-inner-brand-10') Smart
            div.brand-item-l.clearfix
              div.letter T
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-138', click_type='nav-brand-inner-brand-138') 天津一汽
            div.brand-item-l.clearfix
              div.letter W
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-144', click_type='nav-brand-inner-brand-144') 威麟
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-146', click_type='nav-brand-inner-brand-146') 沃尔沃
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-148', click_type='nav-brand-inner-brand-148') 五菱
            div.brand-item-l.clearfix
              div.letter X
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-151', click_type='nav-brand-inner-brand-151') 现代
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-150', click_type='nav-brand-inner-brand-150') 西雅特
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-154', click_type='nav-brand-inner-brand-154') 雪佛兰
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-155', click_type='nav-brand-inner-brand-155') 雪铁龙
            div.brand-item-l.clearfix
              div.letter Y
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-158', click_type='nav-brand-inner-brand-158') 英菲尼迪
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-160', click_type='nav-brand-inner-brand-160') 英伦
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-156', click_type='nav-brand-inner-brand-156') 一汽
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-157', click_type='nav-brand-inner-brand-157') 依维柯
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-161', click_type='nav-brand-inner-brand-161') 永源汽车
            div.brand-item-l.clearfix
              div.letter Z
              div.brand-letter
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-167', click_type='nav-brand-inner-brand-167') 中华
                a.brand-item(target='_blank', href='/pages/onsale/sale_car_list.html?carBrand=brand-172', click_type='nav-brand-inner-brand-172') 众泰

    .item-model#choose_model
      .trigger-icon
      .model-wrapper
        .hd 车型
        .bd
          a.model-item(click_type='list-nav-body-suv', href='/pages/onsale/sale_car_list.html?emissionStandard=&country=&color=&maxYear=2014&minYear=&carEngineVolume=&transmissionType=&code=&fenqi=&match=&flash=&carBrand=&carSeries=&carPrice=&carModel=SUV&carMileage=&sortCreate=&sortName=&sortType=&viewType=&cbParam=&searchType=&bodyModels=')
            .car-modal-img.modal-suv
            span.car-modal-name SUV
          a.model-item(click_type='list-nav-body-mpv', href='/pages/onsale/sale_car_list.html?emissionStandard=&country=&color=&maxYear=2014&minYear=&carEngineVolume=&transmissionType=&code=&fenqi=&match=&flash=&carBrand=&carSeries=&carPrice=&carModel=MPV&carMileage=&sortCreate=&sortName=&sortType=&viewType=&cbParam=&searchType=&bodyModels=')
            .car-modal-img.modal-mpv
            span.car-modal-name MPV
          a.model-item(click_type='list-nav-body-xiaoxingche', href='/pages/onsale/sale_car_list.html?emissionStandard=&country=&color=&maxYear=2014&minYear=&carEngineVolume=&transmissionType=&code=&fenqi=&match=&flash=&carBrand=&carSeries=&carPrice=&carModel=tinyCar&carMileage=&sortCreate=&sortName=&sortType=&viewType=&cbParam=&searchType=&bodyModels=')
            .car-modal-img.modal-tinycar
            span.car-modal-name 微小型车
          a.model-item(click_type='list-nav-body-jincouxing', href='/pages/onsale/sale_car_list.html?emissionStandard=&country=&color=&maxYear=2014&minYear=&carEngineVolume=&transmissionType=&code=&fenqi=&match=&flash=&carBrand=&carSeries=&carPrice=&carModel=compactCar&carMileage=&sortCreate=&sortName=&sortType=&viewType=&cbParam=&searchType=&bodyModels=')
            .car-modal-img.modal-compactcar
            span.car-modal-name 紧凑型车
          a.model-item(click_type='list-nav-body-zhongxingche', href='/pages/onsale/sale_car_list.html?emissionStandard=&country=&color=&maxYear=2014&minYear=&carEngineVolume=&transmissionType=&code=&fenqi=&match=&flash=&carBrand=&carSeries=&carPrice=&carModel=midSize&carMileage=&sortCreate=&sortName=&sortType=&viewType=&cbParam=&searchType=&bodyModels=')
            .car-modal-img.modal-midsize
            span.car-modal-name 中型车
          a.model-item(click_type='list-nav-body-daxingche', href='/pages/onsale/sale_car_list.html?emissionStandard=&country=&color=&maxYear=2014&minYear=&carEngineVolume=&transmissionType=&code=&fenqi=&match=&flash=&carBrand=&carSeries=&carPrice=&carModel=PremiumMidsize&carMileage=&sortCreate=&sortName=&sortType=&viewType=&cbParam=&searchType=&bodyModels=')
            .car-modal-img.modal-premiummidsize
            span.car-modal-name 中大型车
          a.model-item(click_type='list-nav-body-paoche', href='/pages/onsale/sale_car_list.html?emissionStandard=&country=&color=&maxYear=2014&minYear=&carEngineVolume=&transmissionType=&code=&fenqi=&match=&flash=&carBrand=&carSeries=&carPrice=&carModel=SportsCar&carMileage=&sortCreate=&sortName=&sortType=&viewType=&cbParam=&searchType=&bodyModels=')
            .car-modal-img.modal-sportscar
            span.car-modal-name 跑车
          a.model-item(click_type='list-nav-body-paoche', href='/pages/onsale/sale_car_list.html?emissionStandard=&country=&color=&maxYear=2014&minYear=&carEngineVolume=&transmissionType=&code=&fenqi=&match=&flash=&carBrand=&carSeries=&carPrice=&carModel=&carMileage=&sortCreate=&sortName=&sortType=&viewType=&cbParam=&searchType=&bodyModels=5')
            .car-modal-img.modal-doublebox
            span.car-modal-name 两厢车
          a.model-item(click_type='list-nav-body-paoche', href='/pages/onsale/sale_car_list.html?emissionStandard=&country=&color=&maxYear=2014&minYear=&carEngineVolume=&transmissionType=&code=&fenqi=&match=&flash=&carBrand=&carSeries=&carPrice=&carModel=&carMileage=&sortCreate=&sortName=&sortType=&viewType=&cbParam=&searchType=&bodyModels=6')
            .car-modal-img.modal-sedan
            span.car-modal-name 三厢车
        div.model-all.clearfix
          .models-line
            a.models-item-m(target='_blank', href='/pages/onsale/sale_car_list.html?carModel=SUV', click_type='nav-series-inner-SUV') SUV
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-1932', click_type='nav-series-inner-series-1932') 途观
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=', click_type='nav-series-inner-')
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-1919', click_type='nav-series-inner-series-1919') 奥迪Q5
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-993', click_type='nav-series-inner-series-993') 本田CR-V
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-902', click_type='nav-series-inner-series-902') 森林人
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-1072', click_type='nav-series-inner-series-1072') 汉兰达
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-1168', click_type='nav-series-inner-series-1168') 奔驰GLK级
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-294', click_type='nav-series-inner-series-294') 途胜
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-1935', click_type='nav-series-inner-series-1935') 现代ix35
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-594', click_type='nav-series-inner-series-594') 奇骏
          .models-line
            a.models-item-m(target='_blank', href='/pages/onsale/sale_car_list.html?carModel=midSize', click_type='nav-series-inner-midSize') 中型车
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-317', click_type='nav-series-inner-series-317') 天籁
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=', click_type='nav-series-inner-')
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-595', click_type='nav-series-inner-series-595') 帕萨特
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-621', click_type='nav-series-inner-series-621') 奥迪A4L
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-422', click_type='nav-series-inner-series-422') 宝马3系
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-135', click_type='nav-series-inner-series-135') 迈腾
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-368', click_type='nav-series-inner-series-368') 君威
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-238', click_type='nav-series-inner-series-238') 锐志
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-100', click_type='nav-series-inner-series-100') 凯美瑞
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-564', click_type='nav-series-inner-series-564') 雅阁
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-83', click_type='nav-series-inner-series-83') 君越
          .models-line
            input(type='hidden', name='vehicleType', value='[Ljava.lang.String;@2d5614f0')
            a.models-item-m(target='_blank', href='/pages/onsale/sale_car_list.html?carModel=compactCar', click_type='nav-series-inner-compactCar') 紧凑型车
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-369', click_type='nav-series-inner-series-369') 凯越
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-448', click_type='nav-series-inner-series-448') 宝来
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-1979', click_type='nav-series-inner-series-1979') 福克斯两厢
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=', click_type='nav-series-inner-')
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-159', click_type='nav-series-inner-series-159') 卡罗拉
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-78', click_type='nav-series-inner-series-78') 思域
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-335', click_type='nav-series-inner-series-335') 悦动
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-566', click_type='nav-series-inner-series-566') 速腾
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-340', click_type='nav-series-inner-series-340') 朗逸
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-449', click_type='nav-series-inner-series-449') 捷达
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-1087', click_type='nav-series-inner-series-1087') 奔驰B级
          .models-line
            a.models-item-m(target='_blank', href='/pages/onsale/sale_car_list.html?carModel=tinyCar', click_type='nav-series-inner-tinyCar') 微小型车
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-330', click_type='nav-series-inner-series-330') POLO
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-2007', click_type='nav-series-inner-series-2007') 飞度
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-79', click_type='nav-series-inner-series-79') 乐风
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-382', click_type='nav-series-inner-series-382') 雨燕
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=', click_type='nav-series-inner-')
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-616', click_type='nav-series-inner-series-616') 晶锐
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-865', click_type='nav-series-inner-series-865') MINICooper
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-2418', click_type='nav-series-inner-series-2418') 奥迪A1
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-604', click_type='nav-series-inner-series-604') 标致207
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-239', click_type='nav-series-inner-series-239') 马自达2
          .models-line
            a.models-item-m(target='_blank', href='/pages/onsale/sale_car_list.html?carModel=PremiumMidsize', click_type='nav-series-inner-PremiumMidsize') 中大型车
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-269', click_type='nav-series-inner-series-269') 奥迪A6L
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-425', click_type='nav-series-inner-series-425') 宝马5系
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-142', click_type='nav-series-inner-series-142') 克莱斯勒300C
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-532', click_type='nav-series-inner-series-532') 奔驰E级
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=', click_type='nav-series-inner-')
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-361', click_type='nav-series-inner-series-361') 皇冠
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-997', click_type='nav-series-inner-series-997') 雷克萨斯ES
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-1155', click_type='nav-series-inner-series-1155') 奔驰S级
          .models-line
            a.models-item-m(target='_blank', href='/pages/onsale/sale_car_list.html?carModel=MPV', click_type='nav-series-inner-MPV') MPV
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-744', click_type='nav-series-inner-series-744') 大捷龙
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-1952', click_type='nav-series-inner-series-1952') 唯雅诺
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-452', click_type='nav-series-inner-series-452') 奥德赛
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-220', click_type='nav-series-inner-series-220') 别克GL8
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-2635', click_type='nav-series-inner-series-2635') 途安
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-726', click_type='nav-series-inner-series-726') 奔驰R级
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=', click_type='nav-series-inner-')
            a.models-item(target='_blank', href='/pages/onsale/sale_car_list.html?carSeries=series-314', click_type='nav-series-inner-series-314') 毕加索

    .item-price
      .hd 价格
      .bd
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=0-8', click_type='nav_price_1') 8万以下
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=8-10', click_type='nav_price_3') 8-10万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=10-15', click_type='nav_price_4') 10-15万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=15-20', click_type='nav_price_5') 15-20万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=20-30', click_type='nav_price_6') 20-30万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=30-50', click_type='nav_price_7') 30-50万
        a.price-item(target='_blank', href='/pages/onsale/sale_car_list.html?carPrice=50-1000', click_type='nav_price_8') 50万以上



