div#footer
  div.wrapper
    div.foot-detail.clearfix
      div.buycarguide.detail-item
        a.title 购车指南
        a.art-link(href='http://www.souche.com/pages/huodong/item.html?id=1cd45ea1-2457-4a26-a4dd-942a1cae360c', target='_blank') 如何挑选二手车
        a.art-link(href='http://www.souche.com/pages/huodong/item.html?id=VpqAVgwSiF', target='_blank') 安全购车流程
        a.art-link(href='http://www.souche.com/pages/huodong/item.html?id=CUO878x35t', target='_blank') 大搜车价格说明
        a.art-link(href='http://www.souche.com/pages/huodong/item.html?id=1Yc1r7jxxJ', target='_blank') 二手车指标问题
      div.security.detail-item
        a.title(target='_blank') 服务保障
        a.art-link(href='http://www.souche.com/pages/huodong/item.html?id=8AMtTWD6nA', target='_blank') 分期付款
        a.art-link(href='http://www.souche.com/pages/huodong/item.html?id=1GuoqcL0E6', target='_blank') 质保服务
        a.art-link(href='http://www.souche.com/pages/huodong/item.html?id=qvMzy8lXe9', target='_blank') 二手车外迁
        a.art-link(href='http://www.souche.com/pages/huodong/item.html?id=6hamwr0W14', target='_blank') 二手车置换
      div.about.detail-item
        a.title 关于我们
        a.art-link(href='http://www.souche.com/pages/details/soucheidea.html', target='_blank') 大搜车理念
        a.art-link(href='http://www.souche.com/pages/zhaopin/zhaopin_list.html', target='_blank') 加入我们
        a.art-link(href='http://d.souche.com/', target='_blank') 车牛
        a.art-link(href='http://app.souche.com/app/new/', target='_blank') 卖车神器
      div.contact.detail-item(style='width:290px;')
        a.title 联系我们
        a.art-link(href='http://www.souche.com/pages/huodong/item.html?id=d7u9K9H', target='_blank') 官方微信
        a.art-link(href='http://weibo.com/dasouche', target='_blank') 新浪微博
        a.art-link(href='http://map.baidu.com/?shareurl=1&poiShareUid=3091ded5cde9ad4cb5147f7b', target='_blank') 门店地址：北京市海淀区世纪金源购物中心东区北广场
    div.friendlinks.clearfix
      a(href='http://www.chexianinfo.com/', target='_blank') 车险信息网
      a(href='http://www.180mi.com/', target='_blank') 180迈汽车保养
      a(href='http://zhongshan.ganji.com/ershouche/', target='_blank') 中山二手车
      a(href='http://www.cheyipai.com/', target='_blank') 车易拍
      a(href='http://hainan.273.cn/', target='_blank') 海南二手车
      a(href='http://news.souche.com/', target='_blank') 二手车资讯
      a(href='http://guide.xgo.com.cn/', target='_blank') 汽车点评网
      a(href='http://hz.ganji.com/ershouche/', target='_blank') 杭州二手车
      a(href='http://price.qi-che.com/', target='_blank') 2014汽车报价
      a(href='http://bj.16888.com/', target='_blank') 北京汽车网
      a(href='http://hangzhou.auto.qq.com/', target='_blank') 大浙汽车
    p
      | Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号
