#good-car
  .wrapper
    .module-hd
      .main-title 生活的智慧，在于兼听则明
      .sub-title 为您推荐当前最好的一批车，值得关注
    .module-bd.clearfix

        .limit-sale.good-car-item
            .good-item-title 限时特价
            .good-item-bd
                .limit-info
                    .limit-sale-text 限时优惠
                    .limit-sale-amount
                        span.rmb-symbol ￥
                        span.amount-num 8000元
                    .limit-sale-left-time
                        span.left-time-text 剩余时间: 
                        span.left-time-data 21 时 xx 分 xx 秒
                a.car-info(href="#")
                    .img-ctn.clearfix
                        img.limit-sale-car-img(src="http://assets.souche.com/assets/images/index_11/demo-car-limit-sale.png")
                    .car-name(title="2013款 雷克萨斯GS") 2013款 雷克萨斯GS
                    .car-price
                        span.now-price ￥21万
                        span.original-price ￥23.2万

        .almost-new.good-car-item
            .good-car-sub-item.almost-new-item
                .good-item-title 准新车
                .good-item-sub-title 6个月，3500公里
                a.car-info.good-car-sub-bd(href="#")
                    img.item-car-img(src="http://assets.souche.com/assets/images/index_11/demo-car-almost-new.png")
                    p.item-car-name(title="2011款 凯迪拉克GTX") 2011款 凯迪拉克GTX
                    p.item-car-ptice ￥25.2万

            .good-car-sub-item.personal-zhuan
                .good-item-title 个人急转
                    sup.desc 急
                .good-item-sub-title 李先生 公司职员，第一辆车
                a.car-info.good-car-sub-bd(href="#")
                    img.item-car-img(src="http://assets.souche.com/assets/images/index_11/demo-car-zhuan.png")
                    p.item-car-name(title="2011款 别克林荫大道") 2011款 别克林荫大道
                    p.item-car-ptice ￥25.2万



        .car-journal.good-car-item
            .good-item-title 好车日报
            .good-item-bd
                .journal-info
                    .journal-title 原谅它这一生不羁放纵
                    .journal-content
                        p 1.纪念旗舰版, 超50万的豪华感
                        p 2.纪念旗舰版
                        p 3.超50万的豪华感
                    a.journal-link(href="#") 继续阅读日报 »
                a.car-info(href="#")
                    img.journal-car-img(src="http://assets.souche.com/assets/images/index_11/demo-car-journal.png")
                    .journal-car-name(title="2012款 沃尔沃S60") 2012款 沃尔沃S60
                    .journal-car-price ￥18万
