#header
  .h-lft
    h1.logo
      img(src="../../assets/images/index_11/logo.png")
    .city.clearfix.
      <span class="J_city" id="J_city_show">北京</span>
      <i class="J_city"></i>
      <div class="city-open hidden">
        <div class="city-wrap clearfix">
        <div class="area-box">
          <div class="hot-city">
            <span class="title">热门</span>
            <a class="hot-item hot-item-all" data-code="country">全国</a>
            <a data-code="00001" class="J_hotcity active-city">北京</a>
            <a class="J_hotcity" data-code="00989">宁波</a>
            <a class="J_hotcity" data-code="01991">深圳</a>
            <a class="J_hotcity" data-code="01208">厦门</a>
            <a class="J_hotcity" data-code="02273">成都</a>
            <a class="J_hotcity" data-code="other">其他</a>
          </div>
          <div class="area-city">
            <div class="area-line">
              <span class="area">华东</span>
              <a class="province-item" data-code="00974">浙江</a>
              <a class="province-item" data-code="00858">江苏</a>
              <a class="province-item" data-code="01075">安徽</a>
              <a class="province-item" data-code="01398">山东</a>
              <a class="province-item direct-item J_hotcity" data-code="00021">上海</a>
              </div>
              <div class="area-line">
                <span class="area">华南</span>
                  <a class="province-item" data-code="01977">广东</a>
                  <a class="province-item" data-code="01193">福建</a>
                  <a class="province-item" data-code="02122">广西</a>
                  <a class="province-item" data-code="02245">海南</a>
              </div>
                <div class="area-line">
                  <span class="area">东北</span>
                  <a class="province-item" data-code="00530">辽宁</a>
                  <a class="province-item" data-code="00714">黑龙江</a>
                  <a class="province-item" data-code="00644">吉林</a>
              </div>
                <div class="area-line">
                  <span class="area">中南</span>
                  <a class="province-item" data-code="01556">河南</a>
                  <a class="province-item" data-code="01840">湖南</a>
                  <a class="province-item" data-code="01725">湖北</a>
                  <a class="province-item" data-code="01288">江西</a>
              </div>
                <div class="area-line">
                  <span class="area">西南</span>
                  <a class="province-item" data-code="02272">四川</a>
                  <a class="province-item" data-code="02572">云南</a>
                  <a class="province-item" data-code="02474">贵州</a>
                  <a class="province-item direct-item J_hotcity" data-code="00063">重庆</a>
                  <a class="province-item" data-code="02718">西藏</a>
              </div>
                <div class="area-line">
                  <span class="area">华北</span>
                  <a class="province-item direct-item J_hotcity active-city" data-code="00001">北京</a>
                  <a class="province-item" data-code="00106">石家庄</a>
                  <a class="province-item" data-code="00289">山西</a>
                  <a class="province-item" data-code="00419">内蒙古</a>
                  <a class="province-item direct-item J_hotcity" data-code="00043">天津</a>
              </div>
              <div class="area-line">
                <span class="area">西北</span>
                <a class="province-item" data-code="02799">陕西</a>
                <a class="province-item" data-code="03095">新疆</a>
                <a class="province-item" data-code="02914">甘肃</a>
                <a class="province-item" data-code="03066">宁夏</a>
                <a class="province-item" data-code="03014">青海</a>
              </div>
              </div>
          </div>
          <div class="city-box">
            <div class="tit clearfix">
              <a class="city-return">返回</a>
              <span class="province" id="J_province_title">浙江省</span>
              <a class="city-close"></a>
            </div>
            <div class="city-list clearfix">
              <a class="city-item">全部地区</a>

            </div>
          </div>
      </div>
      </div>
      </div>
  .h-rht
