#car-life
  .wrapper
    .module-hd
      .main-title 生活的智慧，就是选我所爱
      .sub-title 总有一款车，能天衣无缝地融入你的生活
    .go-list.clearfix
      a.go-card(href="#")
        .pic
          img(src="../../assets/images/go/card-bg.png")
        .infos
          .title 精打细算
          .desc 根据热胀冷缩原理，早晨拉屎更容易
          .car-pic
            img(src="../../assets/images/go/card-car.png")
      a.go-card(href="#")
        .pic
          img(src="../../assets/images/go/card-bg.png")
        .infos
          .title 精打细算
          .desc 根据热胀冷缩原理，早晨拉屎更容易
          .car-pic
            img(src="../../assets/images/go/card-car.png")
      a.go-card(href="#")
        .pic
          img(src="../../assets/images/go/card-bg.png")
        .infos
          .title 精打细算
          .desc 根据热胀冷缩原理，早晨拉屎更容易
          .car-pic
            img(src="../../assets/images/go/card-car.png")
      a.go-card(href="#")
        .pic
          img(src="../../assets/images/go/card-bg.png")
        .infos
          .title 精打细算
          .desc 根据热胀冷缩原理，早晨拉屎更容易
          .car-pic
            img(src="../../assets/images/go/card-car.png")
      a.go-card(href="#")
        .pic
          img(src="../../assets/images/go/card-bg.png")
        .infos
          .title 精打细算
          .desc 根据热胀冷缩原理，早晨拉屎更容易
          .car-pic
            img(src="../../assets/images/go/card-car.png")
      a.go-card(href="#")
        .pic
          img(src="../../assets/images/go/card-bg.png")
        .infos
          .title 精打细算
          .desc 根据热胀冷缩原理，早晨拉屎更容易
          .car-pic
            img(src="../../assets/images/go/card-car.png")

