#car-life
  .wrapper
    .life-hd 其他生活方式
    .go-list.clearfix
      .go-card
        .pic
          img(src="../../assets/images/go/card-bg.png")
        .infos
          .title 精打细算
          .desc 根据热胀冷缩原理，早晨拉屎更容易
          .car-pic
            img(src="../../assets/images/go/card-car.png")
      .go-card
        .pic
          img(src="../../assets/images/go/card-bg.png")
        .infos
          .title 精打细算
          .desc 根据热胀冷缩原理，早晨拉屎更容易
          .car-pic
            img(src="../../assets/images/go/card-car.png")

