#main-service
  .wrapper
    .card-list
      .service-card.gift-card
        .title 购车心愿卡
        .icon
          img(src="../../assets/images/index_11/service-icon-1.png")
        .desc
          p 提交你的购车心愿卡
          p 每天实时给你找到惊喜
        a.go 立即填写
      .service-card.sell-card
        .title 我要卖车
        .icon
          img(src="../../assets/images/index_11/service-icon-2.png")
        .desc
          p 要卖车？
          p 大搜车帮你卖个公道价
        a.go 我要卖车
      .service-card.god-card
        .title 车神在线
        .icon
          img(src="../../assets/images/index_11/service-icon-3.png")
        .desc
          p 古小月
          p 特邀汽车频道资深编辑
        a.go 咨询车神
      .service-card.god-card
        .title 买家APP
        .icon
          img(src="../../assets/images/index_11/service-icon-4.png")
        .desc
          p 下载手机客户端
          p 随时随地看好车
        a.go 立即下载