#social
  .wrapper.clearfix
    .social-buyer-service.social-item
      .social-inner
        .social-title 专业买手服务
          a.go(href="#") 帮我找车 »
        .social-content
          .buyer-item
            img.buyer-avatar(src="http://assets.souche.com/assets/images/index_11/buyer-liu.png")
            .buyer-name 专业买手: 刘工
            .buyer-title 任职德国BOSCH从事动力总成标定
          .buyer-item
            img.buyer-avatar(src="http://assets.souche.com/assets/images/index_11/buyer-chen.png")
            .buyer-name 专业买手: 陈工
            .buyer-title 任职德国BOSCH从事动力总成标定
    .social-bbs.social-item
      .social-inner
        .social-title
          |大搜车微社区
          a.go(href="") 马上加入 »
        .social-content
          a.bbs-pic
            img(src="http://img.souche.com/files/carpicture/A96EEF17454C24D0F5D403359AFAF20E_690x460.jpg@1e_240w_160h_1c_0i_1o_90Q_1x.jpg")
            .t 克萨斯ES250
          .bbs-list
            a · 提雷凌1.8GS-L领先版
            a · 提雷克萨斯ES250
            a · 1.6T尊享版初体验
            a · 千里提普拉多2.7L中东版

    .social-tencent.social-item
      .social-inner
        .social-sub-item
          img.socila-img(src="http://assets.souche.com/assets/images/index_11/wx.png")
          .social-title 扫一扫，关注微信
          .social-content
            p 这是一个能陪你聊汽车、聊感情、聊生活的微信服务号！
        .social-sub-item
          img.socila-img(src="http://assets.souche.com/assets/images/index_11/qq-logo.png")
          .social-title 大搜车车友群
          .social-content
            p.num QQ群：856325694
            p 加入我们，一起分享淘车、用车的点滴