#special-car
  .wrapper
    .module-hd
      .main-title 大众专场，史上最低
      .sub-title 全新车限量特供，各地4S店可提车
      a.see-more(href="#") 查看更多
    .module-bd
      .car-list.clearfix
        .car
          a.pic
            img(src="../../assets/images/index_11/special-car-pic.png")
          a.title 2013款 福特福克斯
          .price ￥<em>21.56</em> 万
        .car
          a.pic
            img(src="../../assets/images/index_11/special-car-pic.png")
          a.title 2013款 福特福克斯
          .price ￥<em>21.56</em> 万
        .car
          a.pic
            img(src="../../assets/images/index_11/special-car-pic.png")
          a.title 2013款 福特福克斯
          .price ￥<em>21.56</em> 万
        .car
          a.pic
            img(src="../../assets/images/index_11/special-car-pic.png")
          a.title 2013款 福特福克斯
          .price ￥<em>21.56</em> 万