#who-buy
  .wrapper
    .module-hd
      .main-title 生活的智慧，远远不至于此
      .sub-title 找到自己的生活智慧，并坚持下去
    .module-bd
      .banners
        .b
          img(src="../../assets/images/index_11/who-buy.jpg")
          .weibo-button
            | <wb:follow-button uid="1717808700" type="red_3" width="100%" height="24" ></wb:follow-button>