.carsContent.myAdviserContent
    // 我的顾问
    .myAdviser.clearfix
        .carsItem.bindunLoginInfo
            h1 我的购车心愿卡
            .require-info
                .interestCar
                    .interestCarConatainer
                        .selected-item(code='series-2111')
                            img(src='http://res.souche.com/files/carproduct/series/series-2111.png')
                            | 307
                        .selected-item(code='series-246')
                            img(src='http://res.souche.com/files/carproduct/series/series-246.png')
                            | 奔驰C级
                .yusuan
                    div 预算
                    span 0-50万元
                .year
                    div 年份
                    span 2010-2014
            .modify
                span#J_card_edit.submit(click_type='xuqiu_45') 修改

        .carsItem.carItem(click_type='xuqiu-cars-item-xian-0')
            a.carImg(href='/pages/choosecarpage/choose-car-detail.html?carId=JXWIQU5Hsj', target='_blank')
                img.img(src='http://cheniu.u.qiniudn.com/13811249528/3ababd12a4c6cc8f76c2610b0ec1d104?imageView2/2/w/240', data-original='http://cheniu.u.qiniudn.com/13811249528/3ababd12a4c6cc8f76c2610b0ec1d104?imageView2/2/w/240', alt='2011款  奔驰C260-1.8T-A/MT优雅型CGI', style='display: inline; width: 100%; height: auto;')
                .timebuy.hidden
            a.car-link(href='/pages/choosecarpage/choose-car-detail.html?carId=JXWIQU5Hsj', target='_blank') 2011款  奔驰C260-1.8T-A/MT优雅型CGI
            .car-price
                span.price
                    | ￥
                    em 29.3
                    | 万
            .car-info
                span.info-item 2013-04 上牌
                em |
                span.info-item 3.40万公里
                em |
                span.info-item 北京
            .carTail.clearfix
                span.collect.carCollect(data-carid='JXWIQU5Hsj', data-num='7', click_type='xuqiu-cars-item-fav-2-0')
                    span 7
                .carConstrast(contrastid='', carid='JXWIQU5Hsj', click_type='xuqiu-cars-item-duibi-2-0')
                    span 对比
                .contrast-waring.hidden 对比栏已满！你可以删除不需要的车辆，再继续添加。
            .car-type.clearfix
                .baoxian(title='一年两万公里质保')
                .shouquan.hidden 授权店
                .up-time 昨日推荐
                
        .carsItem.carItem(click_type='xuqiu-cars-item-xian-1')
            a.carImg(href='/pages/choosecarpage/choose-car-detail.html?carId=N2eufb8hrh', target='_blank')
                img.img(src='http://img.souche.com/files/carpicture/84DF37004B657D2BD39AAFD968C6292E_690x460.jpg@240w', data-original='http://img.souche.com/files/carpicture/84DF37004B657D2BD39AAFD968C6292E_690x460.jpg@240w', alt='2010款奔驰C200-1.8T-A/MT-CGI 优雅型', style='display: inline; width: 100%; height: auto;')
                .timebuy.hidden
            a.car-link(href='/pages/choosecarpage/choose-car-detail.html?carId=N2eufb8hrh', target='_blank') 2010款奔驰C200-1.8T-A/MT-CGI 优雅型
            .car-price
                span.price
                    | ￥
                    em 21.5
                    | 万
            .car-info
                span.info-item 2010-12 上牌
                em |
                span.info-item 3.24万公里
                em |
                span.info-item 北京
            .carTail.clearfix
                span.collect.carCollect(data-carid='N2eufb8hrh', data-num='7', click_type='xuqiu-cars-item-fav-2-1')
                    span 7
                .carConstrast(contrastid='', carid='N2eufb8hrh', click_type='xuqiu-cars-item-duibi-2-1')
                    span 对比
                .contrast-waring.hidden 对比栏已满！你可以删除不需要的车辆，再继续添加。
            .car-type.clearfix
                .zhijian 检B+
                .baoxian(title='一年两万公里质保')
                .shouquan.hidden 授权店
                .up-time 昨日推荐