.slider-list,
.slide-nav-list {
	li {
		position: relative;
		h4 {
			position: absolute;
			bottom: 0;
			font-size: 18px;
			color: #fff;
			width: 100%;
			height: 100%;
			text-align: center;
			display: table;
			span {
				vertical-align: middle;
				display: table-cell;
				padding: 20px;
			}
		}
	}
}

.slider-list {
	li {
		h4 {
			font-size: 24px;
			span {
				padding: 40px;
			}
		}
	}
}