@import "./shoplist/carshop.less";
.shop-head{
  background: #F5F5F5;
  border-bottom: 1px solid #E6E6E6;
  padding: 20px 0px;
  .wrap{
    width: 1280px;
    margin: 0 auto;
  }
  .auth-icon{
    width: 60px;
    height: 60px;
    background: url(../../images/auth-shop/shop.png) no-repeat;
    float: left;
    margin-right: 10px;
    display: block;
    margin-left:20px;
  }
  .shop-logo {
        float: left;
        width: 100px;
        height: 50px;
        margin-right: 10px;
        text-align: center;
        .shop-logo-img {
            max-width: 100%;
            max-height: 100%;
        }
    }
  .shop-info{
    float: left;
    margin-top: 0;
    .shop-name{
//    font-size: 18px;
//    color: #333;
//    margin-bottom: 10px;
//    display: block;
        display: block;
        margin: 2px 0px;
        font-size: 16px;
        line-height: 23px;
        color: #333;
    }
    .shop-add{
      font-size: 12px;
      line-height: 19px;
      color: #666;
    }
    .shop-score{
      font-size: 12px;
      color: #333;
      .score-sum{
        float: left;
        span{
          font-size: 16px;
          color: #FF571A;
          margin-left: 5px;
        }
      }
      .score-item{
        float: left;
        margin-left: 25px;
        color: #333;
        font-size: 12px;
        width: 125px;
        line-height: 23px;
        i{
          display: block;
          width: 70px;
          height: 11px;
          float: right;
          margin-top: 6px;
        }
        .star-1{
          background: url(../../images/auth-shop/score-1.png) no-repeat;
        }
        .star-2{
          background: url(../../images/auth-shop/score-2.png) no-repeat;
        }
        .star-3{
          background: url(../../images/auth-shop/score-3.png) no-repeat;
        }
        .star-4{
          background: url(../../images/auth-shop/score-4.png) no-repeat;
        }
        .star-5{
          background: url(../../images/auth-shop/score-5.png) no-repeat;
        }
      }
    }

  }
  .shop-brand{
    float: right;
    margin-top: 8px;
    .brand-item{
      width: 45px;
      height: 45px;
      border-radius: 45px;
      border: 1px solid #E9E9E9;
      text-align: center;
      color: #666;
      font-size: 12px;
      margin-left: 20px;
      float: left;
      line-height: 45px;
    }
  }
}

#list_wrap .navContainer .historyRecord {
    width: 206px;
}