doctype html
html
  head
    
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/data.css" rel="stylesheet" type="text/css" />
  body#data
    .wrapper
      #header.clearfix
        .logo
        .time 2014年9月17日
      #content
        .top-item
          .online-num
            h1 今日累计在线人数
            .number.clearfix
              span 5500
              i.ren
            p 每十分钟刷新一次
          .online-table
        .people-box.clearfix
          .people-item.visit-people
            .tit
              i 
              span 访问人数
            .cont.clearfix 
              .number.clearfix
                span 20000
                i.ren
            .ratio.clearfix
              .last-week
                span 上周此时 ：
                em 9000
              .one-week
                span 一周对比 ：
                i.iup
                em.emup 30%
          .people-item.kehu-people
            .tit
              i 
              span 意向客户
            .cont.clearfix 
              .number.clearfix
                span 20000
                i.ren
            .ratio.clearfix
              .last-week
                span 上周此时 ：
                em 9000
              .one-week
                span.text 一周对比 ：
                i.idown
                em.emdown 30%
          .people-item.daodian-people
            .tit
              i 
              span 到店人数
            .cont.clearfix 
              .number.clearfix
                span 20000
                i.ren
            .ratio
              .last-week
                span 上周此时 ：
                em 9000
              .one-week.clearfix
                span 一周对比 ：
                i.iup
                em.emup 30%
          .people-item.success-people
            .tit
              i 
              span 成交人数
            .cont.clearfix 
              .number.clearfix
                span 20000
                i.ren
            .ratio.clearfix
              .last-week
                span 上周此时 ：
                em 9000
              .one-week.clearfix
                span 一周对比 ：
                i.idown
                em.emdown 30%
        .bottom-item.clearfix
          .trend-table
          .mouth-num
            .total-num
              h1 本月累计意向用户
              .number.clearfix
                span 20000
                i.ren
            .new-num
              h1 本月新增意向用户
              .number.clearfix
                span 800
                i.ren



