#chat-window{
    margin: 20px auto 0 auto;
    border-radius: 4px;
    border: 1px solid #eee;
    box-shadow: 0 0px 8px rgba(0,0,0,0.35);
    overflow: hidden;
}


.thread-list{
    height: 500px;
    margin: 0;
    // padding: 1em 0 0 1em;
    padding: 1em 0 0 0;
    list-style: none;
    overflow: auto;

    background-color: #f0f0f0;

    .thread-item.no-chat-yet{
        color: #ccc;
        font-size: 1.5em;
    }

    .thread-item{
        position: relative;
        padding: 0.375em 0 0.25em 0.75em;
        line-height: 1.5;
        color: #666;
        cursor: pointer;
        font-size: 14px;
        .text-collapse();
        .tst(all 100ms ease-in;);
        
        &:hover{
            background-color: rgba(57, 81, 117, 0.25);
            .friend-info-btn{
                display: inline-block;
            }
        }

        &.active{
            background-color: #425E88;
            color: #fff;
        }
        &.has-unread{
            .thread-unread-count{
                display: inline-block;
            }
        }

        .thread-name{}
        .thread-last-contact{
            float: right;
        }
        
        .friend-info-btn{
            display: none;
            position: absolute;
            right: 70px;
            top: 7px;
            z-index: 100;
        }
        .thread-unread-count{
            position: relative;
            display: none;
            top: -4px;
            left: 2px;
            height: 16px;
            min-width: 16px;
            text-align: center;
            color: #fff;
            line-height: 18px;
            border-radius: 8px;
            background-color: @soucheOrange;
        }
    }
}

.icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.icon-info{
    background-image: url("../../images/chat/person.png");
    background-size: 100%;
}

@import './msg-list.less';
@import "./compose/compose.less";