doctype html
html
  head.
    <meta charset="UTF-8">
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link href="http://f2e.souche.com/assets/css/mobile/reset.css" rel="stylesheet" type="text/css">
    <link href="http://f2e.souche.com/assets/css/mobile/ui.css" rel="stylesheet" type="text/css">
    <link href="http://f2e.souche.com/assets/css/h5-buyer/buyer-qa.css" rel="stylesheet" type="text/css">
  body#buyer-qa
    #header
      a.back(href="#") < 返回
    .title.clearfix
      img(src="../../assets/images/mob/h5-buyer/qa-head.png")
    #content
      .qa-box
        h1.ques Q：我不是北京用户，我可以享受买手服务吗？
        p A：买手服务可服务全国用户，具体地区要看具体车辆准入标准。
      .qa-box
        h1.ques Q：服务费需要支付多少？如何支付？
        p A：服务费的金额由买手决定，买手根据自身淘车能力的强弱设定服务费用，客户可以自行选择。服务费目前可通过支付宝的方式支付给大搜车，
        p 大搜车支付宝账号：souche@souche.com。
      .qa-box
        h1.ques Q：服务费可退吗？
        p A：1.如果所淘车辆存在质量问题，客户可无条件退车并退服务费。
        p.an 2.客户与买手协商并确定订单后，由于客户单方面原因想终止买手服务的，服务费不可退。（这也是为了尊重买手的辛勤劳动，相信大家可以理解！）
      .qa-box
        h1.ques Q：客户享受买手服务需要支付的费用有哪些？
        p A：1.服务费。支付给大搜车，大搜车安排买手帮助客户淘车，并作为第三方平台保障消费者权益。
        p.an 2.车款。支付给车商。
        p.an 3.其它可能产生的费用。客户根据自身需求所要产生的费用，例如：汽车整备、物流等。支付给服务提供方。
      .qa-box
        h1.ques Q：买手服务是不是会赚用户差价？
        p A：所有买手服务不赚车辆差价，只收取服务费用。
      .qa-box
        h1.ques Q：服务费是不是可优惠？
        p A：只要您在成功购车后写一篇购车日记发给大搜车微信号（微信账号：dasouche） ，立即返还部分服务费。
    .foot
      a.order-now(href="#") 立即下单