doctype html
html
  head.
    <meta charset="UTF-8">
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link href="http://f2e.souche.com/assets/css/mobile/reset.css" rel="stylesheet" type="text/css">
    <link href="http://f2e.souche.com/assets/css/mobile/ui.css" rel="stylesheet" type="text/css">
    <link href="http://f2e.souche.com/assets/css/h5-buyer/buyer-index.css" rel="stylesheet" type="text/css">
  body#buyer-index
    #header
      .logo.clearfix
        img(src="../../assets/images/mob/h5-buyer/logo.png")
      .banner.clearfix
        img(src="../../assets/images/mob/h5-buyer/banner.png")
        .ueser-num
          span 已有
          em 4
          em 3
          em 2
          em 1
          span 人 正在享受买手服务
      a.what.clearfix(href="#")
        img(src="../../assets/images/mob/h5-buyer/what-buyer.png")
    #content
      .mod-reason
        .title.clearfix
          img(src="../../assets/images/mob/h5-buyer/tit1.png")
        .reason-cont.clearfix
          .reason-box
            .reason-icon.clearfix
              img(src="../../assets/images/mob/h5-buyer/icon-1.png")
            h1 专业
            p 大搜车合作买手个个是汽车界神级人物，试遍天下车整修不是事儿。选车建议听他的没错！
          .reason-box
            .reason-icon.clearfix
              img(src="../../assets/images/mob/h5-buyer/icon-2.png")
            h1 承诺
            p 买手提供“火眼”看车，保障无事故车、火烧车、水浸车。如有发现大搜车帮助维权，全额赔付！
          .reason-box
            .reason-icon
              img(src="../../assets/images/mob/h5-buyer/icon-3.png")
            h1 质保
            p 通过买手服务购买的车辆，大搜车还免费提供1年或2万公里的超长质保，用车更安心。
          .reason-box
            .reason-icon
              img(src="../../assets/images/mob/h5-buyer/icon-4.png")
            h1 省心
            p 不用再东奔西走苦寻爱车在家躺着坐着吹空调，静候买手好消息！您不满意，买手不停息。
      .mod-buyer
        .title.clearfix
          img(src="../../assets/images/mob/h5-buyer/tit2.png")
        .buyer-cont.clearfix
          img(src="../../assets/images/mob/h5-buyer/buyer-mod.png")
      .foor-link.clearfix
        a.link-diary(href="#")
          img(src="../../assets/images/mob/h5-buyer/link-diary.png")
        a.link-flow(href="#")
          img(src="../../assets/images/mob/h5-buyer/link-flow.png")
        a.link-qa(href="#")
          img(src="../../assets/images/mob/h5-buyer/link-qa.png")
      .foot
        a.order-now(href="#") 立即下单
      
