doctype html
html
  head.
    <meta charset="UTF-8">
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
    <link href="http://f2e.souche.com/assets/css/mobile/reset.css" rel="stylesheet" type="text/css">
    <link href="http://f2e.souche.com/assets/css/mobile/ui.css" rel="stylesheet" type="text/css">
    <link href="http://f2e.souche.com/assets/css/h5-buyer/buyer-diary.css" rel="stylesheet" type="text/css">
  body#buyer-diary
    #header
      a.back(href="#") < 返回
    #content
      .buyer-diary.
          <div class="title">
            <img src="../../assets/images/mob/h5-buyer/diary.png" >
          </div>
          <div class="diary-item"><img src="../../assets/images/pc/car-pic2.png" class="car-pic">
            <div class="deal"></div>
            <div class="price">23.56万</div>
            <div class="diary-cont">
              <a href="http://manage.souche.com/pages/huodong/item.html?id=sRuK1kEZ5E" class="car-link">
                <img src="../../assets/images/pc/diary-pic2.png" class="buyer-pic">
              </a>
              <div class="buyer-name">买手：刘工 </div>
              <h1>买车需求：奥迪A4L 35TFSI 舒适型 无级8速 2013款 加装导航</h1>
              <h1>提交时间：2014年9月</h1>
              <p>【淘车作业】客户要求准新车，外观红色或白色，车况好，预算25万以下，其他没具体要求。Ok，运气好，在上海的4大电商平台等了3天，就拿到了一辆，搞定。车况良好，客户提车开往苏州…</p>
              <div class="read-more"><a href="http://manage.souche.com/pages/huodong/item.html?id=sRuK1kEZ5E">阅读更多&gt;&gt;</a></div>
            </div>
          </div>
          <div class="diary-item"><img src="../../assets/images/pc/car-pic1.png" class="car-pic">
            <div class="deal"></div>
            <div class="price">35.5万</div>
            <div class="diary-cont">
              <a href="http://manage.souche.com/pages/huodong/item.html?id=d4A74AmVLl" class="car-link">
                <img src="../../assets/images/pc/diary-pic1.png" class="buyer-pic">
              </a>
              <div class="buyer-name">买手：陈工</div>
              <h1>买车需求：宝马523li豪华型</h1>
              <h1>提交时间：2014年5月</h1>
              <p>【淘车作业】二手车鉴定，是一门细节与线索的艺术。不仅倚赖专业知识，也考验对各种‘蛛丝马迹’的判断，还需要丰富的维修经验，整个过程由外入内，如抽丝剥茧一般，十分有趣….</p>
              <div class="read-more"><a href="http://manage.souche.com/pages/huodong/item.html?id=d4A74AmVLl">阅读更多>></a></div>
            </div>
          </div>
          <div class="diary-item"><img src="../../assets/images/pc/car-pic2.png" class="car-pic">
            <div class="deal"></div>
            <div class="price">29.1万</div>
            <div class="diary-cont">
              <a href="http://manage.souche.com/pages/huodong/item.html?id=sRuK1kEZ5E" class="car-link">
                <img src="../../assets/images/pc/diary-pic2.png" class="buyer-pic">
              </a>
              <div class="buyer-name">买手：刘工 </div>
              <h1>买车需求：BMW X1 2013款xdrive20i 2.0T 8AT</h1>
              <h1>提交时间：2013年5月</h1>
              <p>【淘车作业】宝马X1现在是市面上很热门的一款SUV,深受大众喜爱。这次大搜车买手给用户淘的就是宝马X1 2.0T 2013款</p>
              <div class="read-more"><a href="http://manage.souche.com/pages/huodong/item.html?id=sRuK1kEZ5E">阅读更多&gt;&gt;</a></div>
            </div>
          </div>
          <div class="diary-item"><img src="../../assets/images/pc/car-pic1.png" class="car-pic">
            <div class="deal"></div>
            <div class="price">35.5万</div>
            <div class="diary-cont">
              <a href="http://manage.souche.com/pages/huodong/item.html?id=d4A74AmVLl" class="car-link">
                <img src="../../assets/images/pc/diary-pic1.png" class="buyer-pic">
              </a>
              <div class="buyer-name">买手：陈工</div>
              <h1>买车需求：标致308cc （进口）时尚版  （2009款）</h1>
              <h1>提交时间：2011年8月</h1>
              <p>【淘车作业】每个人都有一个跑车梦，今天我们的买手让普通人拥有跑车不再是梦想。这是一台充满乐趣的小车...</p>
              <div class="read-more"><a href="http://manage.souche.com/pages/huodong/item.html?id=d4A74AmVLl">阅读更多>></a></div>
            </div>
          </div>
    .foot
      a.order-now(href="#") 立即下单