.list-box{
    margin-top: -10px;
    *{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    @paddingTB: 20px;
    @bc: #ccc;
    .carItem{
        position: relative;
        margin-left: 20px;
        height: 120px + 2*@paddingTB;
        padding: @paddingTB 0;
        border-bottom: 1px solid #EDEDED;

        &:after{
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

        .carImg{
            float: left;
            margin-right: 20px;
            img{
                width: 180px;
                height: 120px;
            }
        }
        .timebuy{
            top: 20px;
            left: 96px;
        }
        
        .car-info,
        .car-type{
            margin-left: 200px;
            width: 290px;
        }
        .car-type{

            .car-type-wrapper{
                overflow: hidden;
            }
            .zhijian,
            .danbao,
            .baoxian{
                float: left;
            }
            .up-time{
                display: block;
                margin-top: 16px + 8px;
            }
        }
       

        .car-link{
            font-size: 14px;
            display: inline-block;
            margin-bottom: 8px;
            // height: 40px;
            line-height: 20px;
            width: auto;
            max-width: 290px;
            margin-left: 0;

            &:hover{
                color: @soucheOrange;
            }
        }
        .car-info{
            font-size: 12px;
            color: #999;
            height: 28px;
            
            @dis: 6px;
            .info-item{
                position: relative;

                .info-item-name{
                    display: inline;
                }
            }
            em{
                margin: 0 @dis;
            }
        }
  
        .car-price{
            position: absolute;
            left: 575px;
            top: @paddingTB;
            height: 120px;
            width: 200px;
            
            .price{
                display: block;
                margin-bottom: 6px;
                color: @soucheOrange;
            }
            .recommended{
                display: block;
                display: none;
            }
            .recommended,
            .recommanded-staging-price,
            .time-limit-offer{
                color: #999;
            }
            .recommanded-staging-price{
                .month-pay{
                    margin-left: 8px;
                }
            }
            .time-limit-offer{
                margin-top: 10px;
                line-height: 1.35;

                .offer-content,
                offer-countdown{
                    margin: 0;
                }
                .offer-content{
                    color: @soucheOrange;
                }
            }
        }


        .carTail{
            width: auto;
            height: auto;
            top: auto;
            bottom: 30px;
            left: 15px;
        }

        .national-car-info{
            position: absolute;
            right: 0;
            top: 20px;
            bottom: 20px;
            width: 170px;
            padding: 0 20px;
            border-left: 1px solid #ededed;
            text-align: center;

            .national-car-info-wrapper{
                position: relative;
                height: auto;
            }

            .shop-logo{
                display: block;
                height: 20px;
                overflow: visible;
                margin-bottom: 15px;
                img{
                    width: 100px;
                    height: 50px;
                }
            }
            .shop-name-text{
                display: block;
                margin-top: 48px;
                margin-bottom: 10px;
                text-align: center;
                .text-collapse();
            }
            .shop-approve-tag{
                position: absolute;
                left: 50%;
                top: auto;
                bottom: -25px;
                
                &.list-dealer-tag,
                &.list-realname-tag{
                    margin-left: -(56px/2);
                }
                &.list-fours-tag{
                    margin-left: -(34px/2);
                }

            }
        }
    }
}