// card-list-common.less



.card-box,
.list-box{
  .carItem{
    .timebuy,
    .whole-new{
        width: 84px;
        height: 84px;
        position: absolute;
        top: 0px;
        right: 0px;
        background-repeat: no-repeat;
    }
    .timebuy{
        background-image: url(../images/list/timebuy.png);
    }
    .whole-new{
        background-image: url(../images/list/new-car.png);
    }
    
    .car-price .price{
      // 多个inline元素间在代码缩进之后有间距
      // 既然子元素都单独定义了font-size
      // 就把父元素定义为0  解决这个问题
      font-size: 0;
      .rmb-symbol{
        font-family: @yahei;
        font-weight: bold;
        font-size: 16px;
      }
      .price-amount{
        font-family: 'Tahoma';
        font-weight: bold;
        font-size: 16px;
      }
      .price-unit{
        font-family: @yahei;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .carTail{
      .carCollect:hover,
      .carConstrast:hover{
        color: @soucheOrange;
      }
      .carConstrast{
        &.added{
          cursor: not-allowed;
          &:hover{
            color: #333;
          }
        }
      }
    }
    .carTail{
      position: absolute;
      width: 230px;
      height: 25px;
      top: 132px;
      left: 5px;
      .carCollect{
        float: left;
        display: block;
        min-width: 41px;
        height: 23px;
        padding-right: 4px;
        border-radius:2px;
        color: #333;
        background: #fff url(../images/list/collect.png) no-repeat 5px center;
        opacity: 0.5;
        filter:alpha(opacity=50);
        line-height: 24px;
        cursor: pointer;
        -webkit-transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        transition: opacity 200ms ease;

        span{
          margin-left: 25px;
        }
        .add-to-coll,
        .already-colled{
          display: none;
        }
      }
      
      .faved{
        background: #fff url(../images/list/colled.png) no-repeat 5px center !important;
      }
      .carConstrast{
        width: 45px;
        height: 23px;
        float: right;
        background: #fff;
        line-height: 23px;
        opacity: 0;
        filter:alpha(opacity=0);
        border-radius:2px;
        cursor: pointer;
        -webkit-transition: opacity 200ms ease;
        -moz-transition: opacity 200ms ease;
        transition: opacity 200ms ease;

        text-align: center;

        #addconst{
          display: none;
          // margin-top: 5px;
          // margin-left: 2px;
          // margin-right: 2px;
          // display: block;
        }
        span{
          line-height: 23px;
        }
        .constrast-notyet{
            display: inline-block;
        }
        .constrast-notyet-verbose,
        .constrast-added{
            display: none;
        }
        
        &.added{
          width: 55px;
          #addconst{
            display: none;
          }
          .constrast-notyet{
            display: none;
          }
          .constrast-added{
            display: inline-block;
          }
        }
      }
    }


    &:hover{
      .carTail{
        .carConstrast{
          opacity: 1;
          filter:alpha(opacity=100);
        }
        .carCollect{
          opacity: 1;
          filter:alpha(opacity=100);
        }
      }
    }
  }
}


// 已售列表, 图片上显示已售的遮罩
.car-wrap.sold{
    .carItem .carImg{
        position: relative;
        &:after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 5;
            background-image: url('../../assets/images/list/soldtag.png');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}

// 店铺认证标
.carItem{
    .shop-approve-tag{
        position: absolute;
        top: 18px;
        left: 18px;
    }
}