//猜你喜欢
.guess-like{
  margin: 0 auto;
  padding-top: 20px;

  &.loading{
    padding-top: 30px;
    padding-bottom: 20px;
    background-image: url('../../assets/images/index/ajax-loader1.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .title{
    margin-left: 20px;
    span{
      color: #ff5517;
      font-size: 16px;
    }
    line-height: 30px;
    border-bottom: 1px solid #EDEDED;
  }
  .tit{
    height: 25px;
    margin-left: 20px;
  }
  .tit-item{
    float: left;
    width:228px;
    margin-right: 13px;
    height: 25px;
    line-height: 40px;
    color: #999;
    font-size: 12px;
  }
  .like-line{
    height:331px;
    overflow: hidden;
  }
  .like-box{
    float: left;
  }
  .car-youlike{
    margin-top: 12px;
    width: 228px;
    margin-right: 13px;
    float: left;
    border: 1px solid #EDEDED;
    .list_content_img {
    position: relative;
    width: 100%;
    height: 160px;
    overflow: hidden;
    display: block;
    img{
      width:100%;
    }
    }
    .car-link {
    font-size: 14px;
    margin: 12px 16px 0px 16px;
    height: 40px;
    overflow: hidden;
    display: block;
    color: #333;
    }
    .car-link:hover {
    color: #ff571a;
    }
    .info {
    margin: 5px 16px 10px 16px;
    position: relative;
      .price {
      color: #FF4400;
      font-weight: bold;
      font-size: 14px;
      margin-right: 25px;
      em{
        font-family: Tahoma, Verdana;
        font-weight: bold;
        font-size: 14px;
      }
      }
      .shangpai {
      font-size: 12px;
      position: absolute;
      right: 0px;
      color: #8C8C8C;
      line-height: 18px;
      }
    }
    .collect {
      position: relative;
      padding-left: 20px;
      color: #999;
      cursor: pointer;
      font-size: 12px;
      line-height: 15px;
      float: right;
      margin-top: 5px;
      display: block;

      &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 20px;
        background: url(../images/index/index_sprite_v2.png) no-repeat center;
        background-position: -10px -40px;
      }
      a {
        color: #999;

      }
    }
    .collect:hover {
      &:before{
        background-position: -10px -60px;
      }
    }
    .collect.active {
      &:before{
        background-position: -10px -80px;
      }
    }
    .carTail {
    width: 206px;
    height: 31px;
    padding-top: 7px;
    border-top: 1px solid #EEEEEE;
    margin: 0 auto;
    }
    .nolike{
      float: left;
      width: 50px;
      height: 21px;
      border: 1px solid #ededed;
      border-radius: 2px;
      background: #fff;
      color: #999;
      text-align: center;
      line-height: 21px;
      font-size: 12px;
      cursor: pointer;
    }
    .nolike:hover{
      background: #F2F2F2;
      border: 1px solid #E1E1E1;

    }
  }
}
.carsContent .hotNewCars .adviserInitAnimate {
}
.guess-like .car-youlike{
    width: 240px;
    margin: 15px 0px 0px 18px;
    float: left;
    border: 1px solid #EDEDED;
}
.guess-like .tit-item{
    float: left;
    width:240px;
    margin-right: 18px;
    height: 25px;
    line-height: 40px;
    color: #999;
    font-size: 12px;
}
.hotCarImages{
    .hotImages{
        height: 320px;

        .imabox{
            height: 320px;
            margin-right: 20px;
        }
        .imgbox-b{
            width: 500px;
        }
        .imgbox-s{
            width: 240px;
        }
    }
}