doctype html
html
    head
        link(href="/assets/css/cheniu/main.css",rel="stylesheet",type="text/css")
        title 车牛
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        script(src="/assets/js/lib/jquery-2.1.1.min.js")
        script(src="/assets/js/lib/jquery.flexslider-min.js")
    body#car
        .mod-head
            .sliders.
                    <div class='clearfix flexslider'>
                        <ul class='slides'>
                            <li>
                                <img src="http://res.souche.com/files/carpicture/5E05F61A39E5EC900D9DFBF37C30B99B_700x460.jpg_325x10000.jpg"/>
                            </li>
                            <li>
                                <img src="http://res.souche.com/files/carpicture/5E05F61A39E5EC900D9DFBF37C30B99B_700x460.jpg_325x10000.jpg"/>
                            </li>
                            <li>
                                <img src="http://res.souche.com/files/carpicture/5E05F61A39E5EC900D9DFBF37C30B99B_700x460.jpg_325x10000.jpg"/>
                            </li>
                        </ul>
                    </div>      
        .mod-baseinfo
            .title 斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴
            .price ￥<em>23.52</em>万
            .item 
                .k 里程
                .v 2万公里
            .item 
                .k 首次上牌
                .v 2012-03-04
            .item 
                .k 排放标准
                .v 国三
            .item 
                .k 性质
                .v 非营运
            .item 
                .k 车架号
                .v HFSDFSDF34234234
            .item 
                .k 备注
                .v 二手的车二手的车二手的车二手的车二手的车二手的车二手的车
        a.goto-configs(href="config") 查看配置参数
        .mod-actions
            a.gotostore(href="") 
                i
                |去店铺
            a.call(href="") 
                i
                |打电话
            a.message(href="") 
                i
                |发短信
        script.
            $(".sliders").flexslider({
                animation: "slide", 
                useCSS :false,
                animationLoop: false,
                slideshowSpeed:2000
                })
