doctype html
html
    head
        link(href="/assets/css/cheniu/main.css",rel="stylesheet",type="text/css")
        title 车牛
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        script(src="/assets/js/lib/jquery-2.1.1.min.js")
        script(src="/assets/js/lib/jquery.flexslider-min.js")
    body#config.
        <div id="content">
        <div id="tab-params">
          <div class="base-info mod">
                        <div class="hd">基本信息</div>
                        <div class="bd">
                        <table>
                        <tr>
                  <td class="key">上牌时间</td>
                  <td class="val">2013-09-10</td>
                </tr>
                <tr>
                  <td class="key">里程(万公里)</td>
                  <td class="val">1.46</td>
                </tr>
                <tr>
                  <td class="key">排放标准</td>
                  <td class="val">国四</td>
                </tr>
                <tr>
                  <td class="key">变速方式</td>
                  <td class="val">无级变速</td>
                </tr>
                <tr>
                  <td class="key">交强险到期</td>
                  <td class="val">2014年08月</td>
                </tr>
                <tr>
                  <td class="key">年检到期</td>
                  <td class="val">2015年09月</td>
                </tr>
                <tr>
                  <td class="key">大搜车号</td>
                  <td class="val">E0904</td>
                </tr>
                        </table>
                        </div>
                    </div>
          <div class="mod">
            <div class="hd">基本参数</div>
            <div class="bd">
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <td class="key">车体形式</td>
                  <td class="val">SUV</td>
                </tr>
                <tr>
                  <td class="key">车辆颜色</td>
                  <td class="val">红色</td>         
                </tr>
                <tr>
                  <td class="key">变速箱</td>
                  <td class="val">无级变速</td>
                </tr>
                <tr> 
                  <td class="key">变速箱档位</td>
                  <td class="val">6档</td>
                </tr>
                <tr>          
                  <td class="key">车门数</td>
                  <td class="val">五门</td>
                </tr>
                 <tr>
                  <td class="key">座位数</td>
                  <td class="val">五座</td>
                </tr>
                <tr>
                  <td class="key">长*宽*高(mm)</td>
                  <td class="val">4522*1855*1715</td>
                </tr>       
                <tr>          
                  <td class="key">行李箱容积</td>
                  <td class="val">450</td>
                </tr>
              </table>
            </div>
            </div>
            <div class="mod">
            <div class="hd">发动机参数</div>    
            <div class="bd"> 
              <table cellpadding="0" cellspacing="0">        
                <tr>
                  <td class="key">百公里油耗(L)</td>
                  <td class="val"></td>
                </tr>  
                <tr>
                  <td class="key">排量</td>
                  <td class="val">2.5</td>
                </tr> 
                <tr>          
                  <td class="key">油箱容积(L)</td>
                  <td class="val">65</td>
                </tr>
                <tr>
                  <td class="key">进气方式</td>
                  <td class="val">自然</td>          
                </tr>
                <tr>         
                  <td class="key">最大扭矩(N.m)</td>
                  <td class="val">226.0</td>
                </tr>
                <tr>
                  <td class="key">燃油</td>
                  <td class="val">汽油</td>
                </tr>
                <tr>  
                  <td class="key">燃料标号</td>
                  <td class="val">93</td>
                </tr>
                <tr>
                  <td class="key">排放标准</td>
                  <td class="val">国四</td>
                </tr>  
              </table>  
            </div> 
            </div>
            <div class="mod">
            <div class="hd">外部配置</div>
            <div class="bd">
              <table cellpadding="0" cellspacing="0">  
                <tr>
                  <td class="key">前后电动升降窗</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">四门电动窗</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">电动天窗</td>
                  <td class="val">无</td>
                </tr>
                <tr>
                  <td class="key">轮毂材料</td>
                  <td class="val">铝合金</td>
                </tr>
                <tr>
                  <td class="key">电动折叠后视镜</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">全景天窗</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">卤素前大灯</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">氙气灯</td>
                  <td class="val">无</td>
                </tr>
              </table> 
            </div>   
            </div>
            <div class="mod">
            <div class="hd">底盘转向</div>
            <div class="bd"> 
              <table cellpadding="0" cellspacing="0">        
                <tr>
                  <td class="key">驱动方式</td>
                  <td class="val">四驱</td>
                </tr>
                <tr>  
                  <td class="key">转向系统</td>
                  <td class="val">电子液压助力</td>
                </tr>
                <tr>
                  <td class="key">后悬挂</td>
                  <td class="val">多连杆</td>
                </tr>
                <tr>
                  <td class="key">前悬挂</td>
                  <td class="val">麦弗逊式独立悬架+横向稳定杆</td>
                </tr>
              </table>
            </div>
            </div>
            <div class="mod">
            <div class="hd">车轮制动</div>
            <div class="bd">
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <td class="key">前制动</td>
                  <td class="val">盘式</td>
                </tr>
                <tr>  
                  <td class="key">后制动</td>
                  <td class="val">盘式</td>
                </tr>
                <tr>
                  <td class="key">轮胎规格（前）(mm)</td>
                  <td class="val">225</td>
                </tr>
                <tr>
                  <td class="key">轮胎规格（后）(mm)</td>
                  <td class="val">225</td>
                </tr>        
              </table>
            </div>  
            </div>
            <div class="mod">
            <div class="hd">内饰配置</div>
            <div class="bd"> 
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <td class="key">手动调节前座椅</td>
                  <td class="val">无</td>
                </tr>
                <tr>
                  <td class="key">电动调节前座椅</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">真皮座椅</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">倒车影像系统</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">自动恒温空调系统</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">手动空调</td>
                  <td class="val">无</td>
                </tr>
                <tr>
                  <td class="key">车载电话（蓝牙系统）</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">车载雷达</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">DVD多媒体语音导航系统</td>
                  <td class="val">加配</td>
                </tr>
                <tr>
                  <td class="key">智能语音导航系统</td>
                  <td class="val">无</td>
                </tr>
                <tr>
                  <td class="key">MP3播放器</td>
                  <td class="val">标配</td>
                </tr>
              </table>
            </div>
            </div>
            <div class="mod">
            <div class="hd">安全配置</div>
            <div class="bd"> 
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <td class="key">安全带未系提示</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">发动机启动防盗锁装置</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">车门关闭提示</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">车门自动落锁</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">遥控中控锁</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">遥控钥匙</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">安全气囊</td>
                  <td class="val">标配</td>
                </tr>
              </table>
            </div>  
            </div>
            <div class="mod">
            <div class="hd">操控配置</div>
            <div class="bd"> 
              <table cellpadding="0" cellspacing="0">
                <tr>
                  <td class="key">电子制动力分配系统</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">TRC牵引力控制系统</td>
                  <td class="val">标配</td>
                </tr>
                <tr>
                  <td class="key">防抱死制动系统</td>
                  <td class="val">标配</td>
                </tr>
              </table>
            </div>  
          </div>
          
          
        </div>
