doctype html
html
    head
        link(href="/assets/css/cheniu/main.css",rel="stylesheet",type="text/css")
        title 车牛
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        script(src="/assets/js/lib/jquery-2.1.1.min.js")
    body#store
        .mod-info
            .item
                .hd 店铺介绍
                .bd 斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴
            .item 
                .hd 店铺地址
                .bd 斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手
