doctype html
html
    head
        link(href="/assets/css/cheniu/main.css",rel="stylesheet",type="text/css")
        title 车牛
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        script(src="/assets/js/lib/jquery-2.1.1.min.js")
    body#store
        .mod-head
            .head-container(style="background-image:url(http://res.souche.com/files/carpicture/5E05F61A39E5EC900D9DFBF37C30B99B_700x460.jpg_325x10000.jpg);")
                .headpic
                    img(src="http://res.souche.com/files/default/1EA943E35340ABACC1B9020D8E940EF6_130x130.jpg")
            h1.store-title 苏州嘉城二手车
            .store-action
                a.lookinfo(href="store-info") 
                    i
                a.call(href="tel:18667046650")
                    i
                    |打电话
        .mod-cars
            a.car.clearfix(href="car")
                .pic
                    img(src="http://res.souche.com/files/carpicture/5E05F61A39E5EC900D9DFBF37C30B99B_700x460.jpg_325x10000.jpg")
                .infos
                    .title 斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴
                    .price ￥<em>23.52</em>万
                    .others 4.33万公里/2012年上牌
            a.car.clearfix(href="car")
                .pic
                    img(src="http://res.souche.com/files/carpicture/5E05F61A39E5EC900D9DFBF37C30B99B_700x460.jpg_325x10000.jpg")
                .infos
                    .title 斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴
                    .price ￥<em>23.52</em>万
                    .others 4.33万公里/2012年上牌

            a.car.clearfix(href="car")
                .pic
                    img(src="http://res.souche.com/files/carpicture/5E05F61A39E5EC900D9DFBF37C30B99B_700x460.jpg_325x10000.jpg")
                .infos
                    .title 斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴
                    .price ￥<em>23.52</em>万
                    .others 4.33万公里/2012年上牌
            a.car.clearfix(href="car")
                .pic
                    img(src="http://res.souche.com/files/carpicture/5E05F61A39E5EC900D9DFBF37C30B99B_700x460.jpg_325x10000.jpg")
                .infos
                    .title 斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴
                    .price ￥<em>23.52</em>万
                    .others 4.33万公里/2012年上牌
        .mod-info.hidden
            .item
                .hd 店铺介绍
                .bd 斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴
            .item 
                .hd 店铺地址
                .bd 斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手自一体逸俊版节能补贴斯柯达 2010款 明锐1.4T-手


       