doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/auth-shop/mycar.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <link href="http://f2e.souche.com/assets/css/list.css?t=10" rel="stylesheet" type="text/css" />

    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#mycar
    #header
      .wrapper
        a.logo(href="http://www.souche.com")
          img(src="http://f2e.souche.com/assets/images/index/logo-new.png")
        .city.clearfix 
          span 杭州
          i 
        .search
          form.index-search
            input.search-text(type="text" name="keyword" placeholder="搜索你想要的车")
            button.search-submit(type="submit")
            .recom
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
              a(href="#") 索塔纳
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
        .phone-number
          img(src="http://f2e.souche.com/assets/images/index/phone-number.png")
    #nav
      .wrapper.clearfix
        .main-navs
          a.nav-item.active(href="#") 首页
          a.nav-item(href="#") 我要买车
          a.nav-item(href="#") 我要卖车
          a.nav-item(href="#") 主题精选
        .other-navs
          a.nsv-item(href="#") 登陆
          a.nsv-item(href="#") 微博登陆
          a.nsv-item(href="#" style="border-right:none;") QQ登陆
    #content
      .wrapper.clearfix
        .car-nav
          h1.title 我的大搜车
          h2.stateAct.clearfix
            a(href="#") 预约看车
            span >
          h2.carFav.clearfix
            a(href="#") 收藏的车
            span >
        .car-state
          h1 你已收藏15量车
          .car-wrap.card-box.
            <div class="carsItem carItem">
              <a href="/soucheweb/pages/choosecarpage/choose-car-detail.html?carId=RKc3s66Nzx" target="_blank" class="carImg">
                <img src="http://img.souche.com/files/carpicture/767F9829560422D50111CD077F778DCD_690x460.jpg@180w" data-original="http://img.souche.com/files/carpicture/767F9829560422D50111CD077F778DCD_690x460.jpg@180w" alt="本田 2011款  雅阁EX-2.0-AT" width="325px" height="215px" style="display: inline;">
                <div class="timebuy  hidden"></div>
              </a>
              <a href="/soucheweb/pages/choosecarpage/choose-car-detail.html?carId=RKc3s66Nzx" target="_blank" class="car-link">本田 2011款  雅阁EX-2.0-自动</a>
              <div class="car-price">
                <span class="price">
                  <span class="rmb-symbol">￥</span>
                  <span class="price-amount">15.51</span>
                  <span class="price-unit">万</span>
                </span>
                <span class="recommended">节省 6.51万元</span>
                <div class="recommanded-staging-price">
                  <span class="first-pay">首付7.81万</span><span class="month-pay">月供2591元</span>
                </div>
              </div>
              <div class="car-info">
                <span class="info-item">2012/01  上牌</span>
                <em>|</em>
                <span class="info-item">5.05万公里</span>
                <em>|</em>
                <span class="info-item">
                  <span class="info-item-name">归属地:</span>
                北京
                </span>
              </div>
                  <div class="carTail clearfix">
                    <a data-carid="RKc3s66Nzx" click_type="sale-favs" data-num="7" title="收藏 7" class="fav carCollect ">
                      <span class="add-to-coll">收藏</span>
                      <span class="already-colled">已收藏</span>
                      <span class="fav-count" data-favcount="7">7</span>
                    </a>
                    <div class="carConstrast" contrastid="" carid="RKc3s66Nzx" click_type="list-add-duibi">
                      <input type="checkbox" id="addconst">
                      <span for="addconst" class="constrast-notyet">对比</span>  
                      <span for="addconst" class="constrast-notyet-verbose">加入对比</span>                          
                      <span for="addconst" class="constrast-added">已对比</span>
                      <div class="contrast-waring hidden">对比栏已满！你可以删除不需要的车辆，再继续添加。</div>
                    </div>
                  </div>
                  <div class="car-type clearfix">
                    <div class="zhijian">
                      <span class="type-icon">检B</span>
                      <span class="extra-text">质检 B</span>
                    </div>
                    <div class="baoxian">
                      <span class="type-icon"></span>
                      <span class="extra-text">一年或2万公里</span>
                    </div>
                    <div class="up-time">一周前</div>
                </div>
            </div>
            <div class="carsItem carItem">
              <a href="/soucheweb/pages/choosecarpage/choose-car-detail.html?carId=RKc3s66Nzx" target="_blank" class="carImg">
                <img src="http://img.souche.com/files/carpicture/767F9829560422D50111CD077F778DCD_690x460.jpg@180w" data-original="http://img.souche.com/files/carpicture/767F9829560422D50111CD077F778DCD_690x460.jpg@180w" alt="本田 2011款  雅阁EX-2.0-AT" width="325px" height="215px" style="display: inline;">
                <div class="timebuy  hidden"></div>
              </a>
              <a href="/soucheweb/pages/choosecarpage/choose-car-detail.html?carId=RKc3s66Nzx" target="_blank" class="car-link">本田 2011款  雅阁EX-2.0-自动</a>
              <div class="car-price">
                <span class="price">
                  <span class="rmb-symbol">￥</span>
                  <span class="price-amount">15.51</span>
                  <span class="price-unit">万</span>
                </span>
                <span class="recommended">节省 6.51万元</span>
                <div class="recommanded-staging-price">
                  <span class="first-pay">首付7.81万</span><span class="month-pay">月供2591元</span>
                </div>
              </div>
              <div class="car-info">
                <span class="info-item">2012/01  上牌</span>
                <em>|</em>
                <span class="info-item">5.05万公里</span>
                <em>|</em>
                <span class="info-item">
                  <span class="info-item-name">归属地:</span>
                北京
                </span>
              </div>
                  <div class="carTail clearfix">
                    <a data-carid="RKc3s66Nzx" click_type="sale-favs" data-num="7" title="收藏 7" class="fav carCollect ">
                      <span class="add-to-coll">收藏</span>
                      <span class="already-colled">已收藏</span>
                      <span class="fav-count" data-favcount="7">7</span>
                    </a>
                    <div class="carConstrast" contrastid="" carid="RKc3s66Nzx" click_type="list-add-duibi">
                      <input type="checkbox" id="addconst">
                      <span for="addconst" class="constrast-notyet">对比</span>  
                      <span for="addconst" class="constrast-notyet-verbose">加入对比</span>                          
                      <span for="addconst" class="constrast-added">已对比</span>
                      <div class="contrast-waring hidden">对比栏已满！你可以删除不需要的车辆，再继续添加。</div>
                    </div>
                  </div>
                  <div class="car-type clearfix">
                    <div class="zhijian">
                      <span class="type-icon">检B</span>
                      <span class="extra-text">质检 B</span>
                    </div>
                    <div class="baoxian">
                      <span class="type-icon"></span>
                      <span class="extra-text">一年或2万公里</span>
                    </div>
                    <div class="up-time">一周前</div>
                </div>
            </div>
            <div class="carsItem carItem">
              <a href="/soucheweb/pages/choosecarpage/choose-car-detail.html?carId=RKc3s66Nzx" target="_blank" class="carImg">
                <img src="http://img.souche.com/files/carpicture/767F9829560422D50111CD077F778DCD_690x460.jpg@180w" data-original="http://img.souche.com/files/carpicture/767F9829560422D50111CD077F778DCD_690x460.jpg@180w" alt="本田 2011款  雅阁EX-2.0-AT" width="325px" height="215px" style="display: inline;">
                <div class="timebuy  hidden"></div>
              </a>
              <a href="/soucheweb/pages/choosecarpage/choose-car-detail.html?carId=RKc3s66Nzx" target="_blank" class="car-link">本田 2011款  雅阁EX-2.0-自动</a>
              <div class="car-price">
                <span class="price">
                  <span class="rmb-symbol">￥</span>
                  <span class="price-amount">15.51</span>
                  <span class="price-unit">万</span>
                </span>
                <span class="recommended">节省 6.51万元</span>
                <div class="recommanded-staging-price">
                  <span class="first-pay">首付7.81万</span><span class="month-pay">月供2591元</span>
                </div>
              </div>
              <div class="car-info">
                <span class="info-item">2012/01  上牌</span>
                <em>|</em>
                <span class="info-item">5.05万公里</span>
                <em>|</em>
                <span class="info-item">
                  <span class="info-item-name">归属地:</span>
                北京
                </span>
              </div>
                  <div class="carTail clearfix">
                    <a data-carid="RKc3s66Nzx" click_type="sale-favs" data-num="7" title="收藏 7" class="fav carCollect ">
                      <span class="add-to-coll">收藏</span>
                      <span class="already-colled">已收藏</span>
                      <span class="fav-count" data-favcount="7">7</span>
                    </a>
                    <div class="carConstrast" contrastid="" carid="RKc3s66Nzx" click_type="list-add-duibi">
                      <input type="checkbox" id="addconst">
                      <span for="addconst" class="constrast-notyet">对比</span>  
                      <span for="addconst" class="constrast-notyet-verbose">加入对比</span>                          
                      <span for="addconst" class="constrast-added">已对比</span>
                      <div class="contrast-waring hidden">对比栏已满！你可以删除不需要的车辆，再继续添加。</div>
                    </div>
                  </div>
                  <div class="car-type clearfix">
                    <div class="zhijian">
                      <span class="type-icon">检B</span>
                      <span class="extra-text">质检 B</span>
                    </div>
                    <div class="baoxian">
                      <span class="type-icon"></span>
                      <span class="extra-text">一年或2万公里</span>
                    </div>
                    <div class="up-time">一周前</div>
                </div>
            </div>
            <div class="carsItem carItem">
              <a href="/soucheweb/pages/choosecarpage/choose-car-detail.html?carId=RKc3s66Nzx" target="_blank" class="carImg">
                <img src="http://img.souche.com/files/carpicture/767F9829560422D50111CD077F778DCD_690x460.jpg@180w" data-original="http://img.souche.com/files/carpicture/767F9829560422D50111CD077F778DCD_690x460.jpg@180w" alt="本田 2011款  雅阁EX-2.0-AT" width="325px" height="215px" style="display: inline;">
                <div class="timebuy  hidden"></div>
              </a>
              <a href="/soucheweb/pages/choosecarpage/choose-car-detail.html?carId=RKc3s66Nzx" target="_blank" class="car-link">本田 2011款  雅阁EX-2.0-自动</a>
              <div class="car-price">
                <span class="price">
                  <span class="rmb-symbol">￥</span>
                  <span class="price-amount">15.51</span>
                  <span class="price-unit">万</span>
                </span>
                <span class="recommended">节省 6.51万元</span>
                <div class="recommanded-staging-price">
                  <span class="first-pay">首付7.81万</span><span class="month-pay">月供2591元</span>
                </div>
              </div>
              <div class="car-info">
                <span class="info-item">2012/01  上牌</span>
                <em>|</em>
                <span class="info-item">5.05万公里</span>
                <em>|</em>
                <span class="info-item">
                  <span class="info-item-name">归属地:</span>
                北京
                </span>
              </div>
                  <div class="carTail clearfix">
                    <a data-carid="RKc3s66Nzx" click_type="sale-favs" data-num="7" title="收藏 7" class="fav carCollect ">
                      <span class="add-to-coll">收藏</span>
                      <span class="already-colled">已收藏</span>
                      <span class="fav-count" data-favcount="7">7</span>
                    </a>
                    <div class="carConstrast" contrastid="" carid="RKc3s66Nzx" click_type="list-add-duibi">
                      <input type="checkbox" id="addconst">
                      <span for="addconst" class="constrast-notyet">对比</span>  
                      <span for="addconst" class="constrast-notyet-verbose">加入对比</span>                          
                      <span for="addconst" class="constrast-added">已对比</span>
                      <div class="contrast-waring hidden">对比栏已满！你可以删除不需要的车辆，再继续添加。</div>
                    </div>
                  </div>
                  <div class="car-type clearfix">
                    <div class="zhijian">
                      <span class="type-icon">检B</span>
                      <span class="extra-text">质检 B</span>
                    </div>
                    <div class="baoxian">
                      <span class="type-icon"></span>
                      <span class="extra-text">一年或2万公里</span>
                    </div>
                    <div class="up-time">一周前</div>
                </div>
            </div>
      .sort.clearfix
        a.pre 上一页
        a.activeNumber(href="#") 1
        a 2
        span ...
        a.next(href="#") 下一页
    #footer
      .wrapper
        .foot-detail.clearfix
            .buycarguide.detail-item
                a.title(href="#") 购车指南
                a.art-link(href="#") 二手车靠谱吗
                a.art-link(href="#") 如何挑选二手车
                a.art-link(href="#") 二手车评测
                a.art-link(href="#") 二手车保养注意事项
            .security.detail-item
                a.title(href="#") 服务保障
                a.art-link(href="#") 全方位车辆检测
                a.art-link(href="#") 1年2万公里质保
                a.art-link(href="#") 7天无理由退车
                a.art-link(href="#") 1对1顾问购车
            .about.detail-item
                a.title(href="#") 关于我们
                a.art-link(href="#") 大搜车理念
                a.art-link(href="#") 加入我们
                a.art-link(href="#") 车牛
                a.art-link(href="#") 买车神器
            .contact.detail-item
                a.title(href="#") 联系我们
                a.art-link(href="#") 官方微信
                a.art-link(href="#") 新浪微博
                a.art-link(href="#") 门店地址：北京市海淀区世纪金源购物中心东区广场
        .friendlinks.clearfix
            a.links(href="#") 二手车网
            a.links(href="#") 北京汽车网
            a.links(href="#") 车易拍
            a.links(href="#") 天津二手车网
            a.links(href="#") 米胖汽车
            a.links(href="#") 二手车
            a.links(href="#") 2014汽车报价
            a.links(href="#") 海南二手车
            a.links(href="#") 二手车资讯
            a.links(href="#") 180迈汽车保养
            a.links(href="#") 中山二手车
            a.links(href="#") 力洋VIN码识别
            a.links(href="#") 杭州二手车
            a.links(href="#") 成都二手车
            a.links(href="#") 车险信息网
        p Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号
      .popup-adults.hidden
        .close
        .adults-cont
          .title 
            h1 请填写联系方式和维权原因
            h2 1小时内我们的客服会与你联系
          form.adults-form.clearfix
            h3 手机号：
            input#phone-num(type="text" placeholder="请输入你的手机号")
            h3 验证码：
            .yanzhen.clearfix
              input#yanzhen-num(type="text" placeholder="请查收短信")
              button 获取验证码
            h3 维权原因：
            .adults-text
              textarea(placeholder="维权原因")
            input.adults-submit(type="submit")
      .popup-adults-su.hidden
        .close
        .adults-succ
          .succ-icon
          .succ-text
            h1 您已成功申请维权
            p.day 大搜车客服人员会在1小时内联系您，请注意接听。
            p.other.hidden 大搜车客服人员会在明天上午10点前联系您，请注意接听
            p 呼出号码为：4008-010-010
      //.wrapGrayBg(style=" opacity: 0.5; filter: alpha(opacity=50);")
    script(src="http://f2e.souche.com/assets/js/list.js?t=10" type="text/javascript")
    script.
      $(".state-open").on("click",function(){

          if($(this).hasClass("open-box")){
            $(this).closest(".yuyue-state").find(".state-box").slideDown("slow");
            $(this).removeClass("open-box");
          }else{
            $(this).closest(".yuyue-state").find(".state-box").slideUp("slow");
            $(this).addClass("open-box");
          }
    
        });
      $(".adults").on("click",function(){
        $(".popup-adults").removeClass("hidden");
      });
      $(".popup-adults .close").on("click",function(){
        $(".popup-adults").addClass("hidden");
        });
      $(".popup-adults-su .close").on("click",function(){
        $(".popup-adults-su").addClass("hidden");
        })
      
