doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/auth-shop/mycar.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#mycar
    #header
      .wrapper
        a.logo(href="http://www.souche.com")
          img(src="http://f2e.souche.com/assets/images/index/logo-new.png")
        .city.clearfix 
          span 杭州
          i 
        .search
          form.index-search
            input.search-text(type="text" name="keyword" placeholder="搜索你想要的车")
            button.search-submit(type="submit")
            .recom
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
              a(href="#") 索塔纳
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
        .phone-number
          img(src="http://f2e.souche.com/assets/images/index/phone-number.png")
    #nav
      .wrapper.clearfix
        .main-navs
          a.nav-item.active(href="#") 首页
          a.nav-item(href="#") 我要买车
          a.nav-item(href="#") 我要卖车
          a.nav-item(href="#") 主题精选
        .other-navs
          a.nsv-item(href="#") 登陆
          a.nsv-item(href="#") 微博登陆
          a.nsv-item(href="#" style="border-right:none;") QQ登陆
    #content
      .wrapper.clearfix
        .car-nav
          h1.title 我的大搜车
          h2.stateAct.clearfix
            a(href="#") 预约看车
            span >
          h2.carFav.clearfix
            a(href="#") 收藏的车
            span >
        .car-state
          .yuyue-box
            .yuyue-time 预约时间：2014-9-23
            .car-box.clearfix
              a.car-image(href="#" target="_blank")
                img(src="http://img.souche.com/files/carpicture/F982A27B0A5C0C39FA7266369669C86D_690x460.jpg@325w")
              .car-detail
                a.car-title(href="#" target="_blank") 大众帕萨特2011款帕萨特新领域1.8T手动舒适版帕萨特新
                .car-info
                  span 2012-12 首次上牌
                  span 3.35万公里
                  span 归属地：北京
                .car-type.clearfix
                  .zhijian 检A+
                  .baoxian
                  .shouquan
                    .type-icon 授权店
                    .extra-text 老余杭小张汽车店
              .car-price ￥35.6万
              .order-state
                .title 订单状态：
                span 已预约看车，等待支付购车款
            .yuyue-state
              .state-open 
                span 显示详情
                i
              //yuyueBox表示已预约
              //payBox表示已付款
              //tranBox表示已过户
              //finBox表示交易完成
              .state-box.yuyueBox.hidden
                .title
                .flow-pic
                .state-cont  
          .yuyue-box
            .yuyue-time 预约时间：2014-9-23
            .car-box.clearfix
              a.car-image(href="#" target="_blank")
                img(src="http://img.souche.com/files/carpicture/F982A27B0A5C0C39FA7266369669C86D_690x460.jpg@325w")
              .car-detail
                a.car-title(href="#" target="_blank") 大众帕萨特2011款帕萨特新领域1.8T手动舒适版帕萨特新
                .car-info
                  span 2012-12 首次上牌
                  span 3.35万公里
                  span 归属地：北京
                .car-type.clearfix
                  .zhijian 检A+
                  .baoxian
                  .shouquan
                    .type-icon 授权店
                    .extra-text 老余杭小张汽车店
              .car-price ￥35.6万
              .order-state
                .title 订单状态：
                span 已支付购车款，等待提车过户
            .yuyue-state
              .state-open 
                span 显示详情
                i
              //yuyueBox表示已预约
              //payBox表示已付款
              //tranBox表示已过户
              //finBox表示交易完成
              .state-box.payBox.hidden
                .title
                .flow-pic
                .state-cont  
          .yuyue-box
            .yuyue-time 预约时间：2014-9-23
            .car-box.clearfix
              a.car-image(href="#" target="_blank")
                img(src="http://img.souche.com/files/carpicture/F982A27B0A5C0C39FA7266369669C86D_690x460.jpg@325w")
              .car-detail
                a.car-title(href="#" target="_blank") 大众帕萨特2011款帕萨特新领域1.8T手动舒适版帕萨特新
                .car-info
                  span 2012-12 首次上牌
                  span 3.35万公里
                  span 归属地：北京
                .car-type.clearfix
                  .zhijian 检A+
                  .baoxian
                  .shouquan
                    .type-icon 授权店
                    .extra-text 老余杭小张汽车店
              .car-price ￥35.6万
              .order-state
                .title 订单状态：
                span 已提车过户
                .servi
                  .adults 申请维权
                  .eval 评价
            .yuyue-state
              .state-open 
                span 显示详情
                i
              //yuyueBox表示已预约
              //payBox表示已付款
              //tranBox表示已过户
              //finBox表示交易完成
              .state-box.tranBox.hidden
                .title
                .flow-pic
                .state-cont  
          .yuyue-box
            .yuyue-time 预约时间：2014-9-23
            .car-box.clearfix
              a.car-image(href="#" target="_blank")
                img(src="http://img.souche.com/files/carpicture/F982A27B0A5C0C39FA7266369669C86D_690x460.jpg@325w")
              .car-detail
                a.car-title(href="#" target="_blank") 大众帕萨特2011款帕萨特新领域1.8T手动舒适版帕萨特新
                .car-info
                  span 2012-12 首次上牌
                  span 3.35万公里
                  span 归属地：北京
                .car-type.clearfix
                  .zhijian 检A+
                  .baoxian
                  .shouquan
                    .type-icon 授权店
                    .extra-text 老余杭小张汽车店
              .car-price ￥35.6万
              .order-state
                .title 订单状态：
                span 交易完成
                .servi
                  .eval 评价
            .yuyue-state
              .state-open 
                span 显示详情
                i
              //yuyueBox表示已预约
              //payBox表示已付款
              //tranBox表示已过户
              //finBox表示交易完成
              .state-box.finBox.hidden
                .title
                .flow-pic
                .state-cont
      .sort.clearfix
        a.pre 上一页
        a.activeNumber(href="#") 1
        a 2
        span ...
        a.next(href="#") 下一页
    #footer
      .wrapper
        .foot-detail.clearfix
            .buycarguide.detail-item
                a.title(href="#") 购车指南
                a.art-link(href="#") 二手车靠谱吗
                a.art-link(href="#") 如何挑选二手车
                a.art-link(href="#") 二手车评测
                a.art-link(href="#") 二手车保养注意事项
            .security.detail-item
                a.title(href="#") 服务保障
                a.art-link(href="#") 全方位车辆检测
                a.art-link(href="#") 1年2万公里质保
                a.art-link(href="#") 7天无理由退车
                a.art-link(href="#") 1对1顾问购车
            .about.detail-item
                a.title(href="#") 关于我们
                a.art-link(href="#") 大搜车理念
                a.art-link(href="#") 加入我们
                a.art-link(href="#") 车牛
                a.art-link(href="#") 买车神器
            .contact.detail-item
                a.title(href="#") 联系我们
                a.art-link(href="#") 官方微信
                a.art-link(href="#") 新浪微博
                a.art-link(href="#") 门店地址：北京市海淀区世纪金源购物中心东区广场
        .friendlinks.clearfix
            a.links(href="#") 二手车网
            a.links(href="#") 北京汽车网
            a.links(href="#") 车易拍
            a.links(href="#") 天津二手车网
            a.links(href="#") 米胖汽车
            a.links(href="#") 二手车
            a.links(href="#") 2014汽车报价
            a.links(href="#") 海南二手车
            a.links(href="#") 二手车资讯
            a.links(href="#") 180迈汽车保养
            a.links(href="#") 中山二手车
            a.links(href="#") 力洋VIN码识别
            a.links(href="#") 杭州二手车
            a.links(href="#") 成都二手车
            a.links(href="#") 车险信息网
        p Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号
      .popup-adults.hidden
        .close
        .adults-cont
          .title 
            h1 请填写维权原因
            h2 1小时内我们的客服会与你联系
          form.adults-form.clearfix
            .adults-text
              textarea
            input.adults-submit(type="submit")
        .adults-succ.hidden
          .succ-icon
          .succ-text
            h1 您已成功申请维权
            p.day 大搜车客服人员会在1小时内联系您，请注意接听。
            p.other.hidden 大搜车客服人员会在明天上午10点前联系您，请注意接听
            p 呼出号码为：4008-010-010
      //.wrapGrayBg(style=" opacity: 0.5; filter: alpha(opacity=50);")
    script.
      $(".state-open span").on("click",function(){
          $(this).closest(".yuyue-state").find(".state-box").toggleClass("hidden");
        })