.star-icon{
  width: 21px;
  height: 20px;
  background: url(../../../images/mob/h5-3/detail-fav-star.png) no-repeat center;
  background-size: 100%;
}
.star-icon.active{
  background: url(../../../images/mob/h5-3/fav-star-active.png) no-repeat center;
  background-size: 100%;
}
.score-stars{
  width: 184px;
  margin: 0 auto;
}