.star-box {
  height: 370px;
}
.star-box .star {
  width: 227px;
}
.star-box .star ul li .starli {
  width: 74px;
  height: 84px;
  float: left;
  border-right: 1px dashed #c0c0c0;
  border-bottom: 1px dashed #c0c0c0;
  cursor: pointer;
}
.star-box .star ul li .star1 {
  background: url(../images/girl/girl-sprite.png) no-repeat 0 0;
}
.star-box .star ul li .star1:hover,
.star-box .star ul li .star1.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -250px 0;
}
.star-box .star ul li .star2 {
  background: url(../images/girl/girl-sprite.png) no-repeat -75px 0;
}
.star-box .star ul li .star2:hover,
.star-box .star ul li .star2.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -325px 0;
}
.star-box .star ul li .star3 {
  background: url(../images/girl/girl-sprite.png) no-repeat -150px 0;
}
.star-box .star ul li .star3:hover,
.star-box .star ul li .star3.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -400px 0;
}
.star-box .star ul li .star4 {
  background: url(../images/girl/girl-sprite.png) no-repeat 0 -84px;
}
.star-box .star ul li .star4:hover,
.star-box .star ul li .star4.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -250px -84px;
}
.star-box .star ul li .star5 {
  background: url(../images/girl/girl-sprite.png) no-repeat -75px -84px;
}
.star-box .star ul li .star5:hover,
.star-box .star ul li .star5.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -325px -84px;
}
.star-box .star ul li .star6 {
  background: url(../images/girl/girl-sprite.png) no-repeat -150px -84px;
}
.star-box .star ul li .star6:hover,
.star-box .star ul li .star6.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -400px -84px;
}
.star-box .star ul li .star7 {
  background: url(../images/girl/girl-sprite.png) no-repeat 0 -168px;
}
.star-box .star ul li .star7:hover,
.star-box .star ul li .star7.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -250px -168px;
}
.star-box .star ul li .star8 {
  background: url(../images/girl/girl-sprite.png) no-repeat -75px -168px;
}
.star-box .star ul li .star8:hover,
.star-box .star ul li .star8.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -325px -168px;
}
.star-box .star ul li .star9 {
  background: url(../images/girl/girl-sprite.png) no-repeat -150px -168px;
}
.star-box .star ul li .star9:hover,
.star-box .star ul li .star9.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -400px -168px;
}
.star-box .star ul li .star10 {
  background: url(../images/girl/girl-sprite.png) no-repeat 0 -252px;
}
.star-box .star ul li .star10:hover,
.star-box .star ul li .star10.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -250px -252px;
}
.star-box .star ul li .star11 {
  background: url(../images/girl/girl-sprite.png) no-repeat -75px -252px;
}
.star-box .star ul li .star11:hover,
.star-box .star ul li .star11.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -325px -252px;
}
.star-box .star ul li .star12 {
  background: url(../images/girl/girl-sprite.png) no-repeat -150px -252px;
}
.star-box .star ul li .star12:hover,
.star-box .star ul li .star12.active {
  background: url(../images/girl/girl-sprite.png) no-repeat -400px -252px;
}
.star-box .detail {
  height: 337px;
  width: 570px;
  float: left;
  display: inline;
}
.star-box .detail img {
  height: 337px;
  width: 570px;
}
