@orange:#fc7000;


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.hr20{
  height: 20px;
  clear: both;
}

*{
  margin:0;
  padding:0;
}


#filterCar-h5-2{
  position: relative;
  @import '../../../../less/mobile/h5-2/xuan.less';
}

#sell-h5-2{
  position: relative;
  @import '../../../../less/mobile/h5-2/sell.less';
}

//下面两个公用


#guwen-h5-2{
  #page-1,#page-2,#page-3,#page-4{
  width:100%;
  position: absolute;
  top:0;
  }
  #page-1{
    /*left:0;*/
  }
  #page-2,#page-3,#page-4{
    left:100%;
    display: none;
  }
    position: relative;
}
@import '../../../../less/mobile/h5-2/gouche.less';

#guwen-list-h5-2{
 
  @import '../../../../less/mobile/h5-2/guwen-list.less';
}
#index-h5-2{
  @import '../../../../less/mobile/h5-2/index_new.less';
}

