@orange:#fc7000;


.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.hr20{
  height: 20px;
  clear: both;
}

*{
  margin:0;
  padding:0;
}


#filterCar-h5-2{
  position: relative;
  @import '../../../../less/mobile/h5-2/xuan.less';
}

#sell-h5-2{
  position: relative;
  @import '../../../../less/mobile/h5-2/sell.less';
}

//下面两个公用
@import '../../../../less/mobile/h5-2/gouche.less';
#guwen{
  position: relative;
}

#guwen-list{
  .content .gouche-info .text{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0; 
    padding-bottom: 0;
    p{
      line-height: 45px;
    }
  }
  @import '../../../../less/mobile/h5-2/guwen-list.less';
}
