.list-box{
  .talk-item{
    display: block;
    height: 65px;
    border-bottom: 1px solid #E6E6E6;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    .talk-name{
      margin-top: 16px;
      margin-bottom: 7px;
      span{
        font-size: 14px;
        color: #333;
        margin-right: 7px;
      }
      i{
        font-style: normal;
        background: #FF5517;
        color: #fff;
        border-radius: 14px;
        padding: 0 4px;
        font-size: 14px;
      }
    }
    .talk-cont{
      font-size: 12px;
      color: #999;
    }
    .talk-time{
      position: absolute;
      right: 15px;
      top:0px;
      font-size: 12px;
      color: #ccc;
    }
  }
}
.newly-contact{
  float: right;
  color: #fff;
  margin-right: 16px;
}

#talk-cont{
 background: #EDEDED;
 .talk-wrap{
   .talk-histary{
    padding: 0 10px;
    li{
      margin-bottom: 20px;
     .time{
       font-size: 12px;
       color: #ccc;
       text-align: center;
       margin-top: 16px;
     }
     .figure{
       font-size: 12px;
       color: #999;
       margin: 0 5px;
     }
     .talk-content{
      font-size: 14px;
      max-width: 210px;
      margin-top: 10px;
      padding: 8px;
      border-radius: 3px;
      position: relative;
      .cont-arrow {
        width: 12px;
        height: 6px;
        display: block;
        position: absolute;
        }
     }
     .car-card{
      width: 210px;
      margin-top: 10px;
      background: #fff;
      border: 1px solid #E7E7E7;
      padding: 8px;
      border-radius: 3px;
      position: relative;
      .cont-arrow {
        width: 12px;
        height: 6px;
        background: url(../../../images/common/talk-arrow-w.png) no-repeat;
        display: block;
        position: absolute;
        }
        .car-box{
          .car-img{
            float: left;
            width: 90px;
            height: 60px;
            margin-right:10px;
            img{
              width: 90px;
              height: 60px;
            }
          }
          .car-info{
            float: left;
            width: 105px;
            padding: 0px;
            .car-title{
              margin-top: 5px;
              font-size: 14px;
              a{color: #333;}
            }
          }
        }
     }
   }
   .my-cont{
    .figure{
      text-align: right;
    }
    .talk-content{
      float: right;
      background: #63b561;
      color: #fff;
      .cont-arrow{
        background: url(../../../images/common/talk-h5-g.png) no-repeat;
        top: -5px;
        right: 8px;
      } 
    }
    .car-card{
      float: right;
      .cont-arrow {
        top: -6px;
        right: 8px;
      }
    }
   }
   .shop-cont{
    .figure{
      text-align: left;
    }
    .talk-content{
      background: #fff;
      border: 1px solid #E7E7E7;
      float: left;
     
      .cont-arrow{
        background: url(../../../images/common/talk-arrow-w.png) no-repeat;
        top: -6px;
        left: 10px;
      } 
    }
    .car-card{
      float: left;
      .cont-arrow {
        top: -6px;
        left: 10px;
      }
    }
   }
 }
}
}
.foot-placeholder{
  height: 52px;
}
.foot-wrapper{
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  .talk-form{
    height: 44px;
    background: #F5F5F5;
    border-top:1px solid #CCCCCC;
    padding-top: 8px;
    padding-left: 10px;
    input{
      width: 190px;
      border:1px solid #CCCCCC;
      border-radius: 2px;
      background: #fff;
      padding: 8px;
      line-height: 20px;
      font-size: 14px;
      color: #333;
      margin-right: 10px;
    }
    button{
      
      height: 38px;
      border:1px solid #CCCCCC;
      border-radius: 2px;
      background: #fff;
      color: #333;
      font-size: 12px;
      line-height: 36px;
      text-align: center;
      width: 60px;
    }
  }
}