doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/adviser.css?t=129" rel="stylesheet" type="text/css" />
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>

    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    
  body#adviser
    #header
      .wrapper
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        .search
          form(action="")
            input.search-text(type="text",name="keyword",placeholder="提示")
            button.search-submit(type="submit") 搜 索
          .hot-keywords
            a(href="#") 热搜词
            a(href="#") 热搜词
            a(href="#") 热搜词
        .head-tel
          img(src="http://f2e.souche.com/assets/images/index/head-tel.png")
    #nav
      .wrapper
        span.main-navs
          a.active(href="#") 首页
          a(href="#") 我要买车
          a(href="#") 我要卖车
          a(href="#") 服务承诺
        span.other-navs
          a(href="#") 我的大搜车
          a(href="#") 登录
          a.last(href="#") 注册
    #content.clearfix
      .banner
      .content-nav.clearfix
        a.find-car.nav-box(style="margin-left:0px;" href="#aiche")
          .nav-cont 爱车，在哪里？
          .nav-tit 全城找车
        a.test-car.nav-box(href="#test")
          .nav-cont 找来的车靠谱么？
          .nav-tit 专业检测
        a.bargain-car.nav-box(href="#bargain")
          .nav-cont 花的少买到宝！
          .nav-tit 帮助议价
        a.staging-car.nav-box(href="#staging")
          .nav-cont 手头紧张，怎么办？
          .nav-tit 分期付款
        a.back-car.nav-box(href="#back")
          .nav-cont 买了后悔？不可能！
          .nav-tit 7天退车
        a.qa-car.nav-box(href="#qa") 
          .nav-cont 买了车还管我么？
          .nav-tit 超长质保
        a.shop-car.nav-box(href="#shop")
          .nav-cont OK，去店看看？
          .nav-tit 星级体验
      #aiche
        .aiche-tit
        .aiche-cont.clearfix
          .pic-1-1
          .pic-1-2
          .pic-1-3
      #test
        .test-tit
        .test-cont.clearfix
          .pic-2-1
          .pic-2-2
          .pic-2-3
          .testcar
            .car-1.car
            .car-2.car
            .car-3.car
            .car-4.car
            .car-5.car
          .test-text
            .text-1
            .text-2
            .text-3  
      #bargain
        .bargain-tit
      #staging
        .staging-tit
      #back
        .back-tit
      #qa
        .qa-tit
        .qa-cont
          
      #shop
        .shop-tit
      .wrapper.clearfix
    #footer.clearfix
      .friendlinks
        .wrapper
          <a href="http://2sc.sohu.com/" rel="nofollow" target="_blank">搜狐二手车</a>
          <a href="http://www.51auto.com/" rel="nofollow" target="_blank">51二手车</a>
          <a href="http://www.cheyipai.com/" target="_blank">车易拍</a>
          <a href="http://www.che168.com/" rel="nofollow" target="_blank">二手车之家</a>
          <a href="http://www.hx2car.com/" rel="nofollow" target="_blank">华夏二手车</a>
          <a href="http://www.taoche.com" target="_blank">二手车</a>
          <a href="http://www.iautos.cn/" rel="nofollow" target="_blank">第一车网</a>
          <a href="http://hainan.273.cn/" target="_blank">海南二手车</a>
          <a href="http://news.souche.com" target="_blank" class="last">二手车资讯</a>
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>