doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/adviser.css?t=129" rel="stylesheet" type="text/css" />
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
    
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://res.souche.com/assets/js/lib/require.js?t=12"></script>
     <script>
      require.config({
        baseUrl: "http://res.souche.com/assets/js",
        urlArgs:"bust=v6"
      }); 
    </script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/adviser.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    
  body#adviser
    #header
      .wrapper
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        .search
          form(action="")
            input.search-text(type="text",name="keyword",placeholder="提示")
            button.search-submit(type="submit") 搜 索
          .hot-keywords
            a(href="#") 热搜词
            a(href="#") 热搜词
            a(href="#") 热搜词
        .head-tel
          img(src="http://f2e.souche.com/assets/images/index/head-tel.png")
    #nav
      .wrapper
        span.main-navs
          a.active(href="#") 首页
          a(href="#") 我要买车
          a(href="#") 我要卖车
          a(href="#") 服务承诺
        span.other-navs
          a(href="#") 我的大搜车
          a(href="#") 登录
          a.last(href="#") 注册
    #content.clearfix
      .banner
      .content-nav.clearfix
        a.find-car.nav-box(style="margin-left:0px;" href="#aiche")
          .nav-cont 爱车，在哪里？
          .nav-tit 全城找车
        a.test-car.nav-box(href="#test")
          .nav-cont 找来的车靠谱么？
          .nav-tit 专业检测
        a.bargain-car.nav-box(href="#bargain")
          .nav-cont 花的少买到宝！
          .nav-tit 帮助议价
        a.staging-car.nav-box(href="#staging")
          .nav-cont 手头紧张，怎么办？
          .nav-tit 分期付款
        a.back-car.nav-box(href="#back")
          .nav-cont 买了后悔？不可能！
          .nav-tit 7天退车
        a.qa-car.nav-box(href="#qa") 
          .nav-cont 买了车还管我么？
          .nav-tit 超长质保
        a.shop-car.nav-box(href="#shop")
          .nav-cont OK，去店看看？
          .nav-tit 星级体验
      #aiche
        .aiche-tit
        .aiche-cont.clearfix
          .pic-1-1
          .pic-1-4
          .pic-1-5
          .pic-1-6
          .pic-1-3
      #test
        .test-tit
        .test-cont.clearfix
          .pic-2-1
          .pic-2-2
          .pic-2-3
          .testcar
            .car-1.car
            .car-2.car
            .car-3.car
            .car-4.car
            .car-5.car
          .test-text
            .text-1
            .text-2
            .text-3  
      #bargain
        .bargain-tit
        .bargain-cont.clearfix
          .pic-3-1
          .pic-3-2-1
          .pic-3-2-2
          .pic-3-2-3
          .pic-3-2-4
          .pic-3-2-5  
          .pic-3-3
          .imac
            .car
            .souche
          .pic-3-4
          .pic-3-5
      #staging
        .staging-tit
        .staging-cont
          .pic-4-1
          .pic-4-2
          .pic-4-3
      #back
        .back-tit
        .back-cont.clearfix
          .pic-5-1
          .back-detail
            .tit 您可能还需要关注以下：
            .qu-box 
              .down
              .qu 关于退货保障险？
              .an.hidden
                p 在大搜车买的车，只要购买了“退货保障险”，就在7天内享有退货选择权（车辆满足退货条件）；退货险价格为车辆成交价格的1.5%。
            .qu-box 
              .down
              .qu 退货需满足哪些条件？
              .an.hidden
                p ①  累计行驶里程不超过700公里；
                p ②  车况与检测报告（合同附件）相符；
                p ③  未经改装、增减配置；未经维修、更换部件；
                p ④  不存在任何权属上的纠纷或法律责任，亦不存在尚未处理完毕的道路安全违法行为或者交通事故。
                p ⑤  不得从事盈利性质的运输及参加各项竞赛及测试。
            .qu-box
              .down
              .qu 什么情况下退货保障失效？
              .an.hidden
                p ①  过户失效。退货期内车辆一旦发生过户，则“退货保障险”失效。
                p ②  到期失效。退货期满自然失效。期限开始日为提车日（即第一天），结束日为第七天的22时。
                p ③  事故失效。退货期内车辆一旦发生事故，则“退货保障险”失效。
            .qu-box
              .down
              .qu 办理退货所需的资料？
              .an.hidden
                p ①  检测报告（合同附件）
                p ②  行驶证正、副本
                p ③  购车合同
      #qa
        .qa-tit
        .qa-cont
          .pic-6-1
          .qa-detail.clearfix
            .tit 那么，都有哪些部件被保了？
            .qu-box
              .down
              .qu 汽油发动机气缸体和内部润滑部件
              .an.hidden
                p 包括：曲轴、连杆和轴瓦、凸轮轴、凸轮轴承、凸轮控制器、膨胀（冷冻）塞、连杆、活塞、活塞环、挺杆、汽缸盖（不含破裂或除积碳）、气门和导管（不包括气门烧蚀）、气门弹簧、摇臂（凸轮随动件）、推杆、正时导轨、正时链条和链轮齿、同步皮带轮、进气管和排气支管、飞轮及齿轮、平衡轴及平衡轴承、平衡器和螺栓、曲轴皮带轮、气门盖、油泵和减压阀、发动机油冷却管、发动机油传感器、水泵、燃油泵、真空泵，以及上述部件的紧固零件。
            .qu-box
              .down
              .qu 自动与手动变速器及变速箱体内的润滑部件
              .an.hidden
                p 包括：各种轴承、齿轮、变速叉、油泵、缓冲垫及轴承、液力变矩器、变速器连接杆、真空模块、电子控制装置、控制阀体、扭矩转换器、调速器、传速带、齿轮组、密封圈拉线、电磁阀、电子变速控制装置、变速器支架、冷却器、油尺和油尺导管、以及上述部件的紧固零件。
            .qu-box
              .down
              .qu 四轮驱动传动箱
              .an.hidden
                p 箱体和所有内部润滑部件、包括：主轴、齿轮组、链条和齿轮、轴承、轴衬、支架、上述部件的固定装置，以及电子和真空装置部件。
            .qu-box
              .down
              .qu 前驱总成
              .an.hidden
                p 主减速器和所有内部润滑部件。包括：壳体、齿轮组、链条和齿轮、轴承、轴衬、轮轴、万向节、前轮毂轴承、锁止式轮毂总成（四轮驱动）、驱动轴支架，以及上述部件的紧固零件（不含衬套）。
            .qu-box
              .down
              .qu 后桥总成
              .an.hidden
                p 桥壳和所有内部润滑部件。包括：主壳、齿轮组、轴承、轴衬、防滑差速器离合器、轮轴、后轮毂轴承、传动轴、万向节，驱动轴支架，以及上述部件的紧固部件（不含衬套）。
          .pic-6-2
          .pic-6-3
      #shop
        .shop-tit
        .shop-cont
          .images
            .img-but
              .but-1.but
                .but-detail
                  .img-box.clearfix
                    .img-last
                    .img-list
                      .img-1
                      .img-2
                      .img-3
                    .img-next
                  p 第一眼，大搜车独树一帜的品牌形象，你感受下:                                                                                                                      
              .but-2.but
                .but-detail.hidden
                  .img-box.clearfix
                    .img-last
                    .img-list
                      .img-4
                      .img-5
                      .img-6
                    .img-next
                  p 在大搜车门面的引导下，转入车辆区，近千台车，各大品牌各种价位俱全！
              .but-3.but
                .but-detail.hidden
                  .img-box.clearfix
                    .img-last
                    .img-list
                      .img-7
                      .img-8
                      .img-9
                    .img-next
                  p 如果您是汽车狂热粉，或许，可以找咱专业的检测师，和德国进口的检测设备聊一聊人生。
              .but-4.but
                .but-detail.hidden
                  .img-box.clearfix
                    .img-last
                    .img-list
                      .img-10
                      .img-11
                      
                    .img-next
                  p 如果您带了宝贝儿来逛店，儿童游乐区，您应该会喜欢！
              .but-5.but
                .but-detail.hidden
                  .img-box.clearfix
                    .img-last
                    .img-list
                      .img-12
                      .img-13
                      
                    .img-next
                  p 如果只是附近shopping路过，没关系，这里有一杯 免费的咖啡
          #img7
            .img-7-1
            .img-7-2
          #address
            .img-7-3
            .img-7-4
            .img-7-5
            .img-7-6
            .img-7-7
      .wrapper.clearfix
    #footer.clearfix
      .friendlinks
        .wrapper
          <a href="http://2sc.sohu.com/" rel="nofollow" target="_blank">搜狐二手车</a>
          <a href="http://www.51auto.com/" rel="nofollow" target="_blank">51二手车</a>
          <a href="http://www.cheyipai.com/" target="_blank">车易拍</a>
          <a href="http://www.che168.com/" rel="nofollow" target="_blank">二手车之家</a>
          <a href="http://www.hx2car.com/" rel="nofollow" target="_blank">华夏二手车</a>
          <a href="http://www.taoche.com" target="_blank">二手车</a>
          <a href="http://www.iautos.cn/" rel="nofollow" target="_blank">第一车网</a>
          <a href="http://hainan.273.cn/" target="_blank">海南二手车</a>
          <a href="http://news.souche.com" target="_blank" class="last">二手车资讯</a>
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>
    script.
      $(".down").click(function(){
        $(this).closest(".qu-box").find(".an").toggleClass("hidden");
        $(this).closest(".qu-box").find(".qu").toggleClass("active");
        });

      $(".img-but .but").click(function(){
          $(this).closest(".img-but").find(".but").removeClass("but-active");
          $(this).toggleClass("but-active");
          $(this).closest(".img-but").find(".but").find(".but-detail").addClass("hidden");
          $(this).find(".but-detail").toggleClass("hidden");
        });
    