doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/buyer.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
   

    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#buyer
    #header
      .wrapper
        a.logo(href="http://www.souche.com")
          img(src="http://f2e.souche.com/assets/images/index/logo-new.png")
        .city.clearfix 
          span 杭州
          i 
        .search
          form.index-search
            input.search-text(type="text" name="keyword" placeholder="搜索你想要的车")
            button.search-submit(type="submit")
            .recom
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
              a(href="#") 索塔纳
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
        .phone-number
          img(src="http://f2e.souche.com/assets/images/index/phone-number.png")
    #nav
      .wrapper.clearfix
        .main-navs
          a.nav-item.active(href="#") 首页
          a.nav-item(href="#") 我要买车
          a.nav-item(href="#") 我要卖车
          a.nav-item(href="#") 主题精选
        .other-navs
          a.nsv-item(href="#") 登陆
          a.nsv-item(href="#") 微博登陆
          a.nsv-item(href="#" style="border-right:none;") QQ登陆
    #content
      .banner
        .banner-cont
          .ueser-num
            span 已有
            em 3
            em 5
            em 7
            em 6
            span 人  正在享受买手服务
          .what-buyer
            .cont
              h1 什么是买手服务？
              .buyer-ex
                span 买手服务是大搜车联合专业团队为客户提供的
                em 一对一”私人定制淘车服务。
                span 客户通过支付一定金额服务费即可享受服务。通过买手服务购买的车辆可
                em 免费享受
                span 大搜车
                em 1年2万公里质保。
              a.button(href="www.souche.com/pages/push-fix.html") 立即享用
      a.push-fix(href="www.souche.com/pages/push-fix.html")
      .buyer-detail
        .buyer-reason.detail-item
          .title 
            span 选择买手服务的理由
            i 
          .reason-box.clearfix
            .reason-item
              img.reason-icon(src="../../assets/images/pc/reason-1.png")
              h1 专业
              p 大搜车合作买手个个是汽车界神级人物，试遍天下车，整修不是事儿。选车建议听他的没错！
            .reason-item
              img.reason-icon(src="../../assets/images/pc/reason-2.png")
              h1 承诺
              p 买手提供“火眼”看车，保障无事故车、火烧车、水浸车。如有发现大搜车帮助维权，全额赔付！
            .reason-item
              img.reason-icon(src="../../assets/images/pc/reason-3.png")
              h1 质保
              p 通过买手服务购买的车辆，大搜车还免费提供1年或2万公里的超长质保，用车更安心。
            .reason-item(style="margin-right:0px;")
              img.reason-icon(src="../../assets/images/pc/reason-4.png")
              h1 省心
              p 不用再东奔西走苦寻爱车，在家躺着坐着吹空调，静候买手好消息！您不满意，买手不停息。
        .buyer-recom.detail-item
          .title
            span 年度最受欢迎买手推荐
            i
          .recom-box
            .recom-icon
            .recom-item
              .item-cont.clearfix
                img.recom-pic(src="../../assets/images/pc/recom-pic.png")
                ul.recom-detail
                  li.recom-name.detail-item
                    span 专业买手：
                    em 刘工
                  li.recom-exper.detail-item
                    span 个人经历：
                    em 2002年本科毕业于西安交通大学能源与工程学院，同年进入本校汽车系公费读研。 2005年研究生毕业后任职于德国BOSCH从事动力总成标定暨整车及发动机标定调教工 作。德国BOSCH为所有德系车辆（宝马、奔驰、奥迪、保时捷及大众等）提供整车和 发动机调教和测试。
                  li.recom-sp.detail-item.clearfix
                    .sp
                      i
                      span 淘车特点：严谨  务实
                    .greet
                      i
                      span 受欢迎指数
                      .heart-4
            .recom-item
              .item-cont.clearfix
                img.recom-pic(src="../../assets/images/pc/recom-pic2.png")
                ul.recom-detail
                  li.recom-name.detail-item
                    span 专业买手：
                    em 陈工
                  li.recom-exper.detail-item
                    span 个人经历：
                    em 本科毕业于天津大学热能与动力工程专业。曾就职全球最大汽车技术与 零部件企业德国博世集团。有丰富的汽车动力系统开发经验，对国内各类汽车的技 术水平和质量状况有深刻了解。
                  li.recom-sp.detail-item.clearfix
                    .sp
                      i
                      span 淘车特点：犀利  亲和力
                    .greet
                      i
                      span 受欢迎指数
                      .heart-3


        .buyer-diary.detail-item
          .title
            span 精选淘车日记
            i
          .diary-item

            img.car-pic(src="../../assets/images/pc/car-pic1.png")
            .deal
            .price 35.5万
            .diary-cont
              a.car-link(href="http://manage.souche.com/pages/huodong/item.html?id=d4A74AmVLl")
                img.buyer-pic(src="../../assets/images/pc/diary-pic1.png")
              .buyer-name 买手：陈工
              h1 买车需求：宝马523li豪华型
              h1 提交时间：2014年5月
              p 【淘车作业】二手车鉴定，是一门细节与线索的艺术。不仅倚赖专业知识，也考验对各种‘蛛丝马迹’的判断，还需要丰富的维修经验，整个过程由外入内，如抽丝剥茧一般，十分有趣….
              .read-more
                a(href="http://manage.souche.com/pages/huodong/item.html?id=d4A74AmVLl") 阅读更多>>
          .diary-item
            img.car-pic(src="../../assets/images/pc/car-pic2.png")
            .deal
            .price 23.56万
            .diary-cont
              a.car-link(href="http://manage.souche.com/pages/huodong/item.html?id=sRuK1kEZ5E")
                img.buyer-pic(src="../../assets/images/pc/diary-pic2.png")
              .buyer-name 买手：刘工 
              h1 买车需求：奥迪A4L 35TFSI 舒适型 无级8速 2013款 加装导航
              h1 提交时间：2014年9月
              p 【淘车作业】客户要求准新车，外观红色或白色，车况好，预算25万以下，其他没具体要求。Ok，运气好，在上海的4大电商平台等了3天，就拿到了一辆，搞定。车况良好，客户提车开往苏州…
              .read-more
                a(href="http://manage.souche.com/pages/huodong/item.html?id=sRuK1kEZ5E") 阅读更多>>

      .buyer-flow
        .title 买手服务流程
        .liucheng-pic
      .q-a
        .qa-box
          .title 常见问题Q&A
          .title-border
          .qa-item
            h1 Q：我不是北京用户，我可以享受买手服务吗？
            h2 A：买手服务可服务全国用户，具体地区要看具体车辆准入标准。
          .qa-item
            h1 Q：服务费需要支付多少？如何支付？
            h2 A：服务费的金额由买手决定，买手根据自身淘车能力的强弱设定服务费用，客户可以自行选择。服务费目前可通过
            h2(style="margin-left:32px;") 支付宝的方式支付给大搜车，大搜车支付宝账号：souche@souche.com。
          .qa-item
            h1 Q：服务费可退吗？
            h2 A：1.如果所淘车辆存在质量问题，客户可无条件退车并退服务费。
            h2(style="margin-left:32px;") 2.客户与买手协商并确定订单后，由于客户单方面原因想终止买手服务的，服务费不可退。（这也是为了尊重买
            h2(style="margin-left:32px;") 手的辛勤劳动，相信大家可以理解！）
          .qa-item
            h1 Q：客户享受买手服务需要支付的费用有哪些？
            h2 A：1.服务费。支付给大搜车，大搜车安排买手帮助客户淘车，并作为第三方平台保障消费者权益。
            h2(style="margin-left:32px;") 2.车款。支付给车商
            h2(style="margin-left:32px;") 3.其它可能产生的费用。客户根据自身需求所要产生的费用，例如：汽车整备、物流等。支付给服务提供方。
          .qa-item
            h1 Q：买手服务是不是会赚用户差价？
            h2 A：所有买手服务不赚车辆差价，只收取服务费用。
          .qa-item
            h1 Q：服务费是不是可优惠？
            h2 A：只要您在成功购车后写一篇购车日记发给大搜车微信号（微信账号：dasouche） ，立即返还部分服务费。
          .buyer-bottom
        .buyer-foot

          .ueser-num
            span 已有
            em 3
            em 5
            em 7
            em 6
            span 人  正在享受买手服务
          .foot-text
            p 这么多人都启用了私人订制的买手服务，你还没心动吗？
            p 赶紧提交需求，在家等着最适合你的车车的到来吧！

   