doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/contrast.css?t=129" rel="stylesheet" type="text/css" />
    <link href="http://souche.cdn.aliyuncs.com/assets/css/souche/common.css?t=5" rel="stylesheet" type="text/css" />
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>

    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>

    
  body#contrast
    #header
      .wrapper
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        .search
          form(action="")
            input.search-text(type="text",name="keyword",placeholder="提示")
            button.search-submit(type="submit") 搜 索
          .hot-keywords
            a(href="#") 热搜词
            a(href="#") 热搜词
            a(href="#") 热搜词
        .head-tel
          img(src="http://f2e.souche.com/assets/images/index/head-tel.png")
    #nav
      .wrapper
        span.main-navs
          a.active(href="#") 首页
          a(href="#") 我要买车
          a(href="#") 我要卖车
          a(href="#") 服务承诺
        span.other-navs
          a(href="#") 我的大搜车
          a(href="#") 登录
          a.last(href="#") 注册
    #content
      .wrapper
        .contrast-title 车辆对比
          <input type="checkbox" id="hide-same" style="margin-left:30px;">
          <label>隐藏相同项</label style="margin-right:10px;">
          <input type="checkbox" id="show-best">
          <label>标示最优项</label>
        .contrast-nav
          ul.nav-list
            li
              i.frist-nav
              span 车辆基本信息
            li
              i
              span 口碑
            li
              i
              span 基本参数
            li
              i
              span 车身
            li
              i
              span 发动机
            li
              i
              span 电动机
            li
              i
              span 变速箱
            li
              i
              span 底盘转向
            li
              i
              span 车轮制动
        .contrast-table
          table.basic-info
            tr.car-title
              th.tab-tit(width="215px")
                i
                span 车辆基本信息
              th.title.carname(width="200px") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
                i.close-contrast.hidden
                span.more-detail
              th.title.carname(width="200px") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
                i.close-contrast.hidden
                span.more-detail
              th.title.carname(width="200px") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
                i.close-contrast.hidden
                span.more-detail
              th.title.carname(width="200px") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】
                i.close-contrast.hidden
                span.more-detail
            tr.car-pic
              th.table-head 车辆图片
              td.pic
                img(src="http://res.souche.com/files/carpicture/B51671AEEE1F8AE41C68E7D3EF92137A_700x460.jpg_700x10000.jpg" width="215px" height="140px")
              td.pic
                img(src="http://res.souche.com/files/carpicture/B51671AEEE1F8AE41C68E7D3EF92137A_700x460.jpg_700x10000.jpg" width="215px" height="140px")
              td.pic
                img(src="http://res.souche.com/files/carpicture/B51671AEEE1F8AE41C68E7D3EF92137A_700x460.jpg_700x10000.jpg" width="215px" height="140px")
              td.pic
                img(src="http://res.souche.com/files/carpicture/B51671AEEE1F8AE41C68E7D3EF92137A_700x460.jpg_700x10000.jpg" width="215px" height="140px")
            tr.souche-price.tr-item
              th.table-head 大搜车价
              td.price-s 37.2万元
              td.price-s 37.2万元
              td.price-s 37.2万元
              td.price-s 37.2万元
            tr.newcar-price.tr-item
              th.table-head 新车价
              td.price-n 8.9万+0.63万（购置税）
              td.price-n 8.9万+0.63万（购置税）
              td.price-n 8.9万+0.63万（购置税）
              td.price-n 8.9万+0.63万（购置税）
            tr.save-price.tr-item
              th.table-head 为你省了
              td.price-v 6.23万
              td.price-v 6.23万
              td.price-v 6.23万
              td.price-v 6.23万
            tr.discount.tr-item
              th.table-head 优惠
              td.price-d 优惠5000元
              td.price-d -
              td.price-d -
              td.price-d 优惠5000元
            tr.fenqi.tr-item
              th.table-head 分期付款
              td 首付17.8万元/月供12600元
              td 首付17.8万元/月供12600元
              td -
              td 首付17.8万元/月供12600元
            tr.sign.tr-item 
              th.table-head 首次上牌
              td 2012-12-02
              td 2012-12-02
              td 2012-12-02
              td 2012-12-02
            tr.mileage.tr-item
              th.table-head 行驶里程
              td 3.5万公里
              td 3.5万公里
              td 3.5万公里
              td 3.5万公里
            tr.emission.tr-item
              th.table-head 排放标准
              td 国四
              td 国四
              td 国四
              td 国四
          div.table-name 
            i
            span 口碑
          table.koubie
            tr.impression
              th.table-head(width="205px") 给人的印象
              td.koubie-tag(width="220px") 
                .tag-box 外观运动时尚
                .tag-box 配置不错
                .tag-box 空间灵活宽敞
              td.koubie-tag(width="220px") 
                .tag-box 外观运动时尚
                .tag-box 配置不错
                .tag-box 空间灵活宽敞
              td.koubie-tag(width="220px") 
                .tag-box 外观运动时尚
                .tag-box 性价比高
                .tag-box 安全性好
              td.koubie-tag(width="220px") 
                .tag-box 外观运动时尚
                .tag-box 配置不错
                .tag-box 空间灵活宽敞
            tr.advantage
              th.table-head 优点
              td.ad-text 外观造型时尚漂亮，整车线条流畅；内饰实用，布局合理，操作方便，空间宽敞够用，整体性能表现不错，维修方便，配件供给快，且费用较低，口碑好。
              td.ad-text 外观造型时尚漂亮，整车线条流畅；内饰实用，布局合理，操作方便，空间宽敞够用，整体性能表现不错，维修方便，配件供给快，且费用较低，口碑好。
              td.ad-text 外观造型时尚漂亮，整车线条流畅；内饰实用，布局合理，操作方便，空间宽敞够用，整体性能表现不错，维修方便，配件供给快，且费用较低，口碑好。
              td.ad-text 外观造型时尚漂亮，整车线条流畅；内饰实用，布局合理，操作方便，空间宽敞够用，整体性能表现不错，维修方便，配件供给快，且费用较低，口碑好。
            tr.short
              th.table-head 缺点
              td.sh-text 外观造型时尚漂亮，整车线条流畅；内饰实用，布局合理，操作方便，空间宽敞够用，整体性能表现不错，维修方便，配件供给快，且费用较低，口碑好。
              td.sh-text 外观造型时尚漂亮，整车线条流畅；内饰实用，布局合理，操作方便，空间宽敞够用，整体性能表现不错，维修方便，配件供给快，且费用较低，口碑好。
              td.sh-text 外观造型时尚漂亮，整车线条流畅；内饰实用，布局合理，操作方便，空间宽敞够用，整体性能表现不错，维修方便，配件供给快，且费用较低，口碑好。
              td.sh-text 外观造型时尚漂亮，整车线条流畅；内饰实用，布局合理，操作方便，空间宽敞够用，整体性能表现不错，维修方便，配件供给快，且费用较低，口碑好。
          div.table-name 
            i
            span 基本参数
          table.parameter
            tr
              th.table-head(width="205px") 厂商
              td(width="220px") 奥迪（进口）
              td(width="220px") 奥迪（进口）
              td(width="220px") 奥迪（进口）
              td(width="220px") 奥迪（进口）
            tr 
              th.table-head 级别
              td 豪华车
              td 豪华车
              td 豪华车
              td 豪华车
            tr
              th.table-head 发动机
              td 2.5L 204马力 V6
              td 2.5L 204马力 V6
              td 2.5L 204马力 V6
              td 2.5L 204马力 V6
            tr
              th.table-head 变速箱
              td 8档手自一体
              td 8档手自一体
              td 8档手自一体
              td 8档手自一体
            tr
              th.table-head 长*宽*高(mm)
              td 5267*1949*1460
              td 5267*1949*1460
              td 5267*1949*1460
              td 5267*1949*1460
            tr
              th.table-head 车身结构
              td 4门五座三厢车
              td 4门五座三厢车
              td 4门五座三厢车
              td 4门五座三厢车
            tr
              th.table-head 最快车速(km/h)
              td 237
              td 237
              td 237
              td 237
            tr
              th.table-head 最快车速(km/h)
              td 237
              td 237
              td 237
              td 237
            tr
              th.table-head 官方0-100km/h加速(s)
              td 9.6
              td 9.6
              td 9.6
              td 9.6
            tr
              th.table-head 实测0-100km/h加速(s)
              td -
              td -
              td -
              td -
            tr
              th.table-head 实测0-100km/h制动(m)
              td -
              td -
              td -
              td -
            tr
              th.table-head 实测油耗(L/100km)
              td -
              td -
              td -
              td -
            tr
              th.table-head 工信部综合油耗(L/100km)
              td 8.8
              td 8.8
              td 8.8
              td 8.8
          div.table-name 
            i
            span 外部配置
          table.config
            tr
              th.table-head(width="205px") 电动天窗
              td(width="220px")
                span
              td(width="220px")
                span
              td(width="220px")
                span
              td(width="220px")
                span
            tr
              th.table-head 全景天窗
              td -
              td -
              td -
              td -
            tr
              th.table-head 运动外观套件
              td -
              td -
              td -
              td -
            tr
              th.table-head 铝合金轮圈
              td -
              td -
              td -
              td -
            tr 
              th.table-head 电动吸合门
              td -
              td -
              td -
              td -
            tr
              th.table-head 侧滑门
              td -
              td -
              td -
              td -
            tr
              th.table-head 电动后备厢
              td -
              td -
              td -
              td -
    #footer
      .friendlinks
        .wrapper
          <a href="http://2sc.sohu.com/" rel="nofollow" target="_blank">搜狐二手车</a>
          <a href="http://www.51auto.com/" rel="nofollow" target="_blank">51二手车</a>
          <a href="http://www.cheyipai.com/" target="_blank">车易拍</a>
          <a href="http://www.che168.com/" rel="nofollow" target="_blank">二手车之家</a>
          <a href="http://www.hx2car.com/" rel="nofollow" target="_blank">华夏二手车</a>
          <a href="http://www.taoche.com" target="_blank">二手车</a>
          <a href="http://www.iautos.cn/" rel="nofollow" target="_blank">第一车网</a>
          <a href="http://hainan.273.cn/" target="_blank">海南二手车</a>
          <a href="http://news.souche.com" target="_blank" class="last">二手车资讯</a>
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/girl/index.js"></script>
    script.
      Index.init();
      BizQQWPA.addCustom([{aty: '0', a: '0', nameAccount: 4008010010, selector: 'J_zixunother'},{aty: '0', a: '0', nameAccount: 4008010010, selector: 'BizQQWPA'},{aty: '0', a: '0', nameAccount: 4008010010, selector: 'J_onlinezixun'}]);
    script.
      $(".carname").mouseenter(function(){
        $(".close-contrast",this).removeClass("hidden");
      }).mouseleave(function(){
        $(".close-contrast",this).addClass("hidden");
      })