html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://f2e.souche.com/assets/css/crm/crm.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/bootstrap/bootstrap3.css" rel="stylesheet" type="text/css" />
    <script src="http://f2e.souche.com/assets/js/bootstrap/bootstrap.min.js"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery-1.9.1.min.js?t=1"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery.cookie.js?t=1"></script>
  body#crm
    .wrapper
      #head
        .head-title CRM
      #nav
        .nav-title
          i
          span 呼叫中心
        ul.nav.nav-pills.nav-stacked
          li
            a(href="#") 我的工作台
          li
            a(href="#") 我的任务
          li
            a(href="#") 我的客户
          li
            a(href="#") 车辆信息
      #content.clearfix
        .cont
          ul.nav.nav-tabs
            li.active
              a(href="#") 张海峰
              i.close
        .content-box.clearfix
          .kehu-info
            .kehu-num
              .id-num 客户ID : 1234545
              .change-but 修改
            .info-box
              .kehu-name.clearfix
                .name 张海峰
                  span 非常重要
                .address 北京金源店
              .sex.clearfix
                .ago 先生/20-25岁
                .from 58同城
              .remarks 备注：客户不喜欢11点前打电话。
              .phone-level.clearfix
                .phone
                  .main-phone 12902903242
                    em 主号
                    i
                  .phone-aother 1988990808
                  .phone-aother 010-88990819
                .level
                  .buy H级 
                    span(style="margin-left:5px;") 买
                  .sell A级
                    span 卖
              .detail
                .detail-info
                  p 微信：小海峰
                  p 微博：小峰峰
                  p QQ: 20935135
                  p 邮箱：zhf@163.xom
                  p 所在地：北京市文一西路12312号楼2302室
                  p 身份证：312415235132212151
                  p 生日：1988-01-01
                .detail-hidden
              .detail-other
                .item-tit 指标：
                  span 有
                  em （截止日期2014-08-30）
                .item-tit 外户地：
                  span 外迁
                  em (黑龙江哈尔滨)
                .item-tit 付款方式：
                  span 全款
                .item-tit 车辆用途：
                  span 代步
                .item-tit 拥有车辆：
                  span 丰田/凯美瑞
                .item-tit.item-tit-s 是否卖车：
                  span 是
              .situation
                .situa-box
                  .title 到店情况
                  .cont 到店次数：
                    span 1次(最后到店2014-04-01)
                  .cont 试驾次数：
                    span 1次(最后试驾2014-04-01)
                  .cont 是否成交：
                    span 是
                .situa-box
                  .title 沟通情况
                  .cont 沟通次数：
                    span 1次(最近沟通 2014-04-01)
                  .cont 预约到店：
                    span 2014-04-01(本周六)
                .situa-box
                  .title 访问情况
                  .cont 录入情况：
                    span H5(2014-04-01)
                  .cont 访问网站：
                    span 23次(最近访问 2014-04-01)
                .situa-box
                  .title 归属情况
                  .cont 坐席顾问：
                    span 薛松
                  .cont 销售顾问：
                    span 陈国旗
                  .cont 卖车顾问：
                    span 张航程
              .card
                .idcar 身份证：
                  a(href="#")
                    img(src="../../assets/images/crm/idcar.png")
                .drivecar 驾驶证：
                  a(href="#")
                    img(src="../../assets/images/crm/drivecar.png")
                .download 合同：
                  a(href="#") 点击下载
          .content-right
            .topic
              .title 话题列表
              .topic-head
                span 话题来源
                input#all(type="checkbox")
                label 全部
                input#record(type="checkbox")
                label 沟通记录
                input#yuyue(type="checkbox")
                label 预约情况
                input#store(type="checkbox")
                label 客户门店行为
              table.topic-list
                tr.table-tit
                  th(width="90px") 创建时间
                  th(width="180px") 话题来源
                  th(width="560px") 话题信息
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 以下任务在2014-05-13前确认
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 以下任务在2014-05-13前确认以下任务在2014-05-13前确认
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 以下任务在2014-05-13前确认以下任务在2014-05-13前确认
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 以下任务在2014-05-13前确认
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 以下任务在2014-05-13前确认
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 
                    p 以下任务在2014-05-13前确认以下任务在
                    p 2014-05-13前确认以下任务在2014-05-13前确认
                    p 以下任务在2014-05-13前确认
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 以下任务在2014-05-13前确认
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 以下任务在2014-05-13前确认
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 以下任务在2014-05-13前确认
                tr.table-cont
                  td 2014-05-13
                  td 任务待确定
                  td 以下任务在2014-05-13前确认
              .paging.clearfix
                span 1
                a.page(href="#") 2
                a.page(href="#") 3
                em ...
                a.next(href="#") 下一页
                em 共100页，到第
                input
                em 页
                a.submit(href="#") 确定
            .multimeter
              ul.nav.nav-tabs
                li.active
                  a(href="#") 车辆需求万用表
              .screen
                from
                  span(style="margin-left:0px;") 预算：
                  input#pricelow(type="text")
                  em -
                  input#pricehigh(type="text")
                  em 万元
                  span 车体形式：
                  select#models
                    option(value="微小型车") 微小型车
                    option(value="中型车") 中型车
                    option(value="SUV") SUV
                    option(value="MPV") MPV
                    option(value="跑车") 跑车
                  span 国别：
                  select#country
                    option(value="德国") 德国
                    option(value="美国") 美国
                    option(value="日本") 日本
                    option(value="法国") 法国
                    option(value="国产") 国产
                  span 上牌时间：
                  select#age-old
                    option(value="2009") 2009
                    option(value="2010") 2010
                    option(value="2011") 2011
                    option(value="2012") 2012
                    option(value="2013") 2013
                  em -
                  select#age-new
                    option(value="2014") 2014
                    option(value="2009") 2009
                    option(value="2010") 2010
                    option(value="2011") 2011
                    option(value="2012") 2012
                    option(value="2013") 2013
                  span 里程：
                  select#miles
                    option(value="一万公里以内") 一万公里以内
                    option(value="五万公里以内") 五万公里以内
                    option(value="八万公里以内") 八万公里以内
                    option(value="不限") 不限
              .intent.clearfix
                .title 意向车型：
                .model-but
                  .btn-group.btn-group-justified 
                    a.btn.btn-default(role="button") 精准推荐15
                    a.btn.btn-default(role="button") 同类推荐46
                    a.btn.btn-default(role="button") 已删除7
                    a.btn.btn-default(role="button") 系统推荐12
                .add-carinfo + 添加意向车辆信息
              table.car-model
                tr.table-head
                  th
                    i 
                    span 大众POLP，白色，1.6L
                  th.time 2014-03-02
                  th.carnum 共12辆/已确认3辆
                  th.action 
                    span#modify 修改
                    span#delete 删除
                tr.cardetail
                  td.sold 
                    input(type="checkbox")
                    span 大众2009款crossPOLO-1.6L手自一体(已售)
                  td 13.99万
                  td 
                    span 关注度200 
                    span 坐席推荐
                  td.cancel 取消推荐
    #foot