html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://f2e.souche.com/assets/css/mobile/detail-brand.css" rel="stylesheet" type="text/css" />
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery-1.9.1.min.js?t=1"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery.cookie.js?t=1"></script>
  body#brand
    #content
      .wrapper
        h1.title 品牌历史
        img(src="../../assets/images/mob/contrast/brand-head.png" style="width:100%;")
        .bron.brand-box
          h2.title-2 MINI诞生背景
          p Mini的故事是从一个人的梦想开始
          p Mini诞生的时代晚于甲壳虫，它从一个人脑中的梦想开始到最终成为量产车型问世也并没有经历过太多曲折。上世纪50年代，埃及总统对于苏伊士运河的国有化使得石油无法正常运往欧洲市场，这也直接导致欧洲爆发石油危机。
          p 英国政府为应对危机而强制开始执行汽油配额供给制度，这一制度给了当时热衷制造大型豪华轿车的汽车制造商们当头一棒，迫使他们必须尽快推出经济性轿车来度过难关。而MINI就是在这样的战后背景下诞生的一款国民用车。
        .name.brand-box
          h2.title-2 命名原因
          img(src="../../assets/images/mob/contrast/name.png" style="width:100%;")
          p 要对抗Bubble Car，新车型就必须要一个小巧的车身，而且必须以四人车为前提；归根到成本与时间问题，引擎必须从现系列中流用。初代Mini就是根据这两个设计原点开发的。当时负责担任开发的总工程师的艾里克·伊斯戈尼斯（Alec Issigonis，设计出英国战后的微型车代表Morris Minor），选择了BMC里小排量车用的A-Seires 4缸引擎。要实现4人同时乘坐的前提，又必须具备对抗Bubble Car的小型体积，驱动形式必须是前置前驱，而且要顾及后座的空间，那就不能做成三厢车。不过，如果按照惯例，纵置四缸引擎难免会增加车身的长度，那么……
        .models.brand-box
          h2.title-2 车型识别特点
          img(src="../../assets/images/mob/contrast/models.png" style="width:100%;")
          p Mk I的车身总长只有3米左右，无尾的两厢设计，车内容纳四人卓卓有余。更令当时业界震撼的，是它紧凑的引擎舱：一个有限的空间内，完好地塞进一副横置四缸引擎同时，并实现出前置前驱的驱动布局。这款惊世设计，起草到完成由艾里克亲自执笔，他巧妙地将变速箱与引擎油底壳部分合并（油底壳内置变速箱，呈现上下两层式的齿轮布局，启发自摩托车变速箱），油底壳里的机油同时为引擎以及变速箱提供润滑机能，大幅度减少变速箱的占用空间。
        .brand-age.brand-box.dai1
          .title-2 
            img(src="../../assets/images/mob/contrast/dai1.png" style="width:28px;")
            span 第一代 1959-1967 
          img(src="../../assets/images/mob/contrast/models.png" style="width:100%;")
          img(src="../../assets/images/mob/contrast/name.png" style="width:100%;")
          p 2007年迷你推出了全新第二代的硬顶/掀背车款，在重新设计后的平台（platform）上结合了许多外观、工程和性能上的变更。它使用了“Prince”引擎，引擎的架构是和标致雪铁龙集团共享，是为了达到降低成本和节省油耗而设计。这个引擎是由宝马位于英国华威郡（Warwickshire）的工厂生产[16]。引擎的开发工程是由位于英格兰的宝马集团英国引擎工程（BMW Group UK Engineering）、德国慕尼黑宝马集团总部，和其他第三方厂商共同负责。
        .brand-end
          img(src="../../assets/images/mob/contrast/brand-end.png" style="width:125px;")