doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/girl.css?t=129" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    
  body#girl
    #header
      .wrapper
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        .search
          form(action="")
            input.search-text(type="text",name="keyword",placeholder="提示")
            button.search-submit(type="submit") 搜 索
          .hot-keywords
            a(href="#") 热搜词
            a(href="#") 热搜词
            a(href="#") 热搜词
        .head-tel
          img(src="http://f2e.souche.com/assets/images/index/head-tel.png")
    #nav
      .wrapper
        span.main-navs
          a.active(href="#") 首页
          a(href="#") 我要买车
          a(href="#") 我要卖车
          a(href="#") 服务承诺
        span.other-navs
          a(href="#") 我的大搜车
          a(href="#") 登录
          a.last(href="#") 注册
    #content
      .wrapper
        .banner
          .filter-nav
            .nav-box
              ul
                li
                  a(style="background-color:#f9d1e3",href="#") 
                    i 颜色绚丽
                  a(style="background-color:#facadd",href="#") 
                    i 迷你身材
                  a(style="background-color:#fab0c9",href="#")
                    i 只爱SUV
                li
                  a(style="background-color:#fba1bc",href="#") 
                    i 超大空间
                  a(style="background-color:#fc96b4",href="#") 
                    i 容易操作
                  a(style="background-color:#fc81a4",href="#") 
                    i 经济实用
                li
                  a(style="background-color:#fc759b",href="#") 
                    i 辣妈甄选
                  a(style="background-color:#f96d9c",href="#") 
                    i 个性熟女
                  a(style="background-color:#fe5983",href="#") 
                    i 简约知性
          .slide
            img(src="http://f2e.souche.com/assets/images/index/girl-banner.png")
        .dividing 
        .firstcar
          .hd
            .hd-image
          .car-box
            a(href="#")
              img(src="http://f2e.souche.com/assets/images/index/ingcar.png").car-image 
            img(src="http://f2e.souche.com/assets/images/index/incar-title.png").car-title 
            a.car-text 路上汽车何其多/超赞外观搏眼球
          .car-box
            a(href="#")
              img(src="http://f2e.souche.com/assets/images/index/bigroomcar.png").car-image
            img(src="http://f2e.souche.com/assets/images/index/bigroomcar-title.png").car-title
            a.car-text 出游 购物 送孩子/超大空间必须有
          .car-box
            a(href="#")
              img(src="http://f2e.souche.com/assets/images/index/personality.png").car-image
            img(src="http://f2e.souche.com/assets/images/index/personality-title.png").car-title
            a.car-text 个性内饰/细节装饰/增添行车好心情 
          .car-box
            a(href="#")
              img(src="http://f2e.souche.com/assets/images/index/exterior.png").car-image
            img(src="http://f2e.souche.com/assets/images/index/exterior-title.png").car-title
            a.car-text 骑白马的不一定是王子/但驾驶SUV的一定是女王 
        .mod-lower
          .mod-main
            .favorite
              .hd
                .hd-image
              .favorite-box
                 .hd
                    h1 >  第一期：日产骐达/家用轿车的时尚先锋
                 .car-box
                    .car-image
                      a(href="#")
                        img(src="http://f2e.souche.com/assets/images/index/favorite-car.png")
                      .title-image
                        a.title(href="#") 日产 2008款 骐达1.6-手动-GE智能型
                    .car-tips
                      .tips-box
                        .tips-image
                          .tips-qq Q我把 我在线哦
                      .text-box
                        h1 &nbsp&nbsp&nbsp&nbsp【 搜车美男更懂你 快来围观美男说 】
                        p &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp我得说骐达是日产家族中一款热门经济型两厢家轿，市场认可度高，车型保有量大。新骐达外观时尚运动，空间充足，操控轻盈舒适，燃油经济性好，性价比高，中控台设计简洁，操作简便；方向盘和挡位手感舒适，操控感较好，特别适合女性消费群体。
            .empirical
              .hd
                .hd-image
              .empirical-box
                .summary-box
                  .summary-text.bg1
                    .text-box
                      a(href="#")
                        h1 不容小觑，汽车颜色影响行车安全
                      p &nbsp&nbsp&nbsp&nbsp官方统计显示，车身为黑色的汽车，事故发生率最高，达到50%；其次是车身为绿色、棕色、红色的汽车，均分别达到了15%；事故率最低的是车身为白色和银灰色的汽车，只占2%左右。深颜色的车与环境色差小，其安全性相对差些。
                      i 【内容来自新浪网】
                  .car-box
                    a(href="#") 
                      img(src="http://souche.cdn.aliyuncs.com/files/carpicture/28C8E9BED9D5FF9F19933C8603F6812B_700x460.jpg_325x10000.jpg")
                    .title-image
                      a.title(href="#") 别克 2010款 君威2.4-手自一体舒适型
                .summary-box
                  .summary-text.bg2
                    .text-box
                      a(href="#")
                        h1 磨损事小，挂错档慌张事大
                      p &nbsp&nbsp&nbsp&nbsp偶尔挂错档也是正常的 ，不过女性在开车时由于操控的不便及频繁的换挡会导致经常性挂错档是很伤脑筋的。挂错档对汽车的寿命有所影响，尤其对汽车的齿轮影响很大。所以女车主尽量要选择自动挡的汽车呦！
                      i 【内容来自新浪网】
                  .car-box
                    a(href="#")
                      img(src="http://souche.cdn.aliyuncs.com/files/carpicture/28C8E9BED9D5FF9F19933C8603F6812B_700x460.jpg_325x10000.jpg")
                    .title-image
                      a.title(href="#") 起亚 2011款 福瑞迪1.6-手自一体-GLS
            .starcar
              .hd
                .hd-image
              
          .mod-side
            .timebuy
              .hd
              .timebuybox
                .timebuycar
                  h1 ————小伙伴们！再不下手就晚了！
                  .car-box
                    a.car-image(href="#")
                      img(src="http://souche.cdn.aliyuncs.com/files/carpicture/28C8E9BED9D5FF9F19933C8603F6812B_700x460.jpg_325x10000.jpg")
                    .down-counter
                    .timebuy-price
                      .price-down
                        i 直降
                        i 5000元
                      .car-price
                         a(href='#') 宝马1系
                          .price-now 23.7万
                          .price-old 23.2万
            .fenqi
            .story
            
    #footer
      .friendlinks
        .wrapper
          <a href="http://2sc.sohu.com/" rel="nofollow" target="_blank">搜狐二手车</a>
          <a href="http://www.51auto.com/" rel="nofollow" target="_blank">51二手车</a>
          <a href="http://www.cheyipai.com/" target="_blank">车易拍</a>
          <a href="http://www.che168.com/" rel="nofollow" target="_blank">二手车之家</a>
          <a href="http://www.hx2car.com/" rel="nofollow" target="_blank">华夏二手车</a>
          <a href="http://www.taoche.com" target="_blank">二手车</a>
          <a href="http://www.iautos.cn/" rel="nofollow" target="_blank">第一车网</a>
          <a href="http://hainan.273.cn/" target="_blank">海南二手车</a>
          <a href="http://news.souche.com" target="_blank" class="last">二手车资讯</a>
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>
   
