doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/judge.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>

    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#judge
    #header.
      <div class="wrapper">
        <div class="h-lft">
          <h1 class="logo"><a href="http://www.souche.com" click_type="logo"><img src="http://assets.souche.com/assets/images/index_11/logo.png?t=8"></a></h1>
          <div class="city clearfix">
            <span id="J_city_show" class="J_city">北京</span><i class="J_city"></i>
            <div class="city-open hidden">
              <div class="city-wrap clearfix">
                <div class="area-box">
                  <div class="hot-city">
                    <!-- <span class="title">热门</span> -->
                    <!-- <a data-code="country" class="hot-item hot-item-all">全国</a> -->
                    <a data-code="00001" class="J_hotcity active-city" click_type="city-00001">北京</a>
                    <a data-code="00043" class="province-item direct-item J_hotcity" click_type="city-00043">天津</a>
                    <!-- <a data-code="00989" class="J_hotcity">宁波</a>
                    <a data-code="01991" class="J_hotcity">深圳</a>
                    <a data-code="01208" class="J_hotcity">厦门</a>
                    <a data-code="02273" class="J_hotcity">成都</a>
                    <a data-code="other" class="J_hotcity">其他</a> -->
                  </div>
                  <!-- <div class="area-city">
                    <div class="area-line"><span class="area">华东</span><a data-code="00974" class="province-item">浙江</a><a data-code="00858" class="province-item">江苏</a><a data-code="01075" class="province-item">安徽</a><a data-code="01398" class="province-item">山东</a><a data-code="00021" class="province-item direct-item J_hotcity">上海</a></div>
                    <div class="area-line"><span class="area">华南</span><a data-code="01977" class="province-item">广东</a><a data-code="01193" class="province-item">福建</a><a data-code="02122" class="province-item">广西</a><a data-code="02245" class="province-item">海南</a></div>
                    <div class="area-line"><span class="area">东北</span><a data-code="00530" class="province-item">辽宁</a><a data-code="00714" class="province-item">黑龙江</a><a data-code="00644" class="province-item">吉林</a></div>
                    <div class="area-line"><span class="area">中南</span><a data-code="01556" class="province-item">河南</a><a data-code="01840" class="province-item">湖南</a><a data-code="01725" class="province-item">湖北</a><a data-code="01288" class="province-item">江西</a></div>
                    <div class="area-line"><span class="area">西南</span><a data-code="02272" class="province-item">四川</a><a data-code="02572" class="province-item">云南</a><a data-code="02474" class="province-item">贵州</a><a data-code="00063" class="province-item direct-item J_hotcity">重庆</a><a data-code="02718" class="province-item">西藏</a></div>
                    <div class="area-line"><span class="area">华北</span><a data-code="00001" class="province-item direct-item J_hotcity active-city">北京</a><a data-code="00106" class="province-item">石家庄</a><a data-code="00289" class="province-item">山西</a><a data-code="00419" class="province-item">内蒙古</a><a data-code="00043" class="province-item direct-item J_hotcity">天津</a></div>
                    <div class="area-line"><span class="area">西北</span><a data-code="02799" class="province-item">陕西</a><a data-code="03095" class="province-item">新疆</a><a data-code="02914" class="province-item">甘肃</a><a data-code="03066" class="province-item">宁夏</a><a data-code="03014" class="province-item">青海</a></div>
                  </div> -->
                </div>
                <div class="city-box">
                  <div class="tit clearfix"><a class="city-return">返回</a><span id="J_province_title" class="province">浙江省</span><a class="city-close"></a></div>
                  <div class="city-list clearfix"><a class="city-item">全部地区</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-navs" style="margin-left:20px;">
          <a click_type="index-navindex" href="http://www.souche.com"  class="active" >首页</a>
          <a click_type="index-navsalecarlist" href="/pages/onsale/sale_car_list.html" >我要买车</a>
          <a click_type="index-navsellCar" href="/pages/caruser/sellCarNew.html" >我要卖车</a>
          <a click_type="index-atcsAll" href="/pages/acts/theme-activity-all.html" >主题精选</a>
          <a click_type="index-danbaohaoche" href="/pages/adviser.html" >担保好车</a></div>
        </div>
        <div class="search">
          <form class="index-search" action="/pages/onsale/sale_car_list.html">
            <input placeholder="搜索" name="keyword" class="search-text" autocomplete="off" click_type="header-search-input">
            <input name="pfrom" type="hidden" value="search">
            <button class="search-submit"></button>
          </form>
        </div>
        <div class="h-rht">
          <div class="phone-number"><img src="http://assets.souche.com/assets/images/index_11/phone-num.png?t=5"></div>
          <!-- 已登录 -->
          
      <div class="user">
              <div class="headpic">
              <img src="http://assets.souche.com/assets/images/index_11/default-avatar.png?t=5">
              </div>
              <span class="username">..6844</span>
              <i class="trigger"></i>
              <ul id="user-menu" class="dropdown-menu">
                <li class="subscribe-car"><a href="/pages/myorder/my_order_list.html" target="_blank">我的大搜车</a></li>
                <li class="logout"><a id="J_logout" href="/pages/j_spring_security_logout?loginType=createUserLogin">退出</a></li>
              </ul>
          </div>
          
        </div>
      </div>
    #content
      .banner
        .wrapper
          .judge-form
            h1 二手车专业评估系统
            form.judge-car
              .error_remind.hidden
              .car-kind.select-item
                select#sell_brand
                  option(value="#") 请选择品牌
                select#sell_set
                  option(value="#") 车系
                select#sell_type
                  option(value="#") 型号
              .car-years.select-item
                select#sell_years
                  option(value="#") 请选择年份
              .car-area.select-item
                select#sell_area
                  option(value="#") 请选择地区
              .car-mile.select-item
                input#sell_mile(placeholder="行驶里程")
              .car-phone.select-item
                input#sell_phone(placeholder="请填写您的手机号码（必填）")
              .form-button
                button#submit-judge 开始估价
                a.sellcar(href="#") 我要卖车
      .wrapper
        .cont-head
          .explain-item
            .icon-1
            .ex-text
              h1 第三方估值平台
              p 公正透明独立第三方评估服务平台
          .explain-item
            .icon-2
            .ex-text
              h1 先进估价模型
              p 采用业内先进二手车评估车辆保值率模型
          .explain-item
            .icon-3
            .ex-text
              h1 海量车源数据
              p 每日追踪分析全网二手车海量交易价格
        .judge-result.clearfix
          .car-result
            .powerd
              .icon
              p Powerd By
            .car-box
              .car-info.clearfix
                .carimg.clearfix
                  img(src="../assets/images/judge/car-modle.png")
                .car-type
                  h1 奥迪A4L
                  p 2013款 35 TFSI 自动 技术型
              .car-detail.clearfix
                .detail-item 
                  .data 2013-03
                  p 上牌时间
                .detail-item
                  .data 3.00万公里
                  p 行驶里程
                .detail-item
                  .data 2.0L
                  p 排量 
                .detail-item 
                  .data 自动
                  p 变速箱
            .judge-price
              .price
                span 车辆评估价：
                em ￥20.56万
              .price-state.clearfix
                .newcar-price
                  span 新车指导价：
                  em 36.98万
                .price-level
                  span 保值率排名等级：
                  i.level-4
            .souche-judge.
              <p>根据大搜车实际交易统计，</p>
              <p>杭州平均买车周期为<span>12.6</span>天，看车次数为<span>3.5</span>次。大搜车提供我要卖车服务，帮您定个</p>
              <p>公道价的同时料理找买家、过户、打款、为买家提供后续服务等一系列转让的麻烦事。</p>
            .judge-button.clearfix
              a.sellcar(href="#") 我要卖车
              a.judge-again(href="#") 重新估价
            .share-judge
              span 将估价结果分享到：
              a.qq(href="#")
              a.sina(href="#")
              a.tenxun(href="#")
          .cargod
            h1 私人评估专家
            p 为您提供一对一评估服务
            .god-item.clearfix
              .god-boxs.clearfix
                .god-img.clearfix
                  img(src="../assets/images/judge/car-god.png")
                .god-info
                  .god-name 木石
                  p 真实体验说话/态度鲜明
              a.god-button(href="#") 咨询车神 
            .god-item.clearfix
              .god-boxs.clearfix
                .god-img.clearfix
                  img(src="../assets/images/judge/car-god2.png")
                .god-info
                  .god-name 古月
                  p 评估大师/专业性能测评
              a.god-button(href="#") 咨询车神 
            .god-item.clearfix(style="border-bottom:none;")
              .god-boxs.clearfix
                .god-img.clearfix
                  img(src="../assets/images/judge/car-god3.png")
                .god-info
                  .god-name 暮雨
                  p 外形甄选/犀利、爱挑刺
              a.god-button(href="#") 咨询车神 
        .price-analy
          .price-trend.clearfix
            .trend-chart
              ul.price-time
                li 2014年
                li 2015年
                li 2016年
              ul.car-price
                li 
                  i
                  span 0
                li 
                  i
                  span 2.5
                li 
                  i
                  span 5
                li 
                  i
                  span 7.5
                li 
                  i
                  span 10
                li 
                  i
                  span 12.5
                li 
                  i
                  span 15
                li 
                  i
                  span 17.5
              .price-unit （万）
              ul.price-block
                li.clearfix 
                  i.block-1
                  span.price-1 16.30
                li.clearfix
                  i.block-2
                  span.price-2 15.69
                li.clearfix
                  i.block-3
                  span.price-3 14.56
            .trend-text
              h1 未来两年价格趋势预测图
              p 根据千万二手车辆的真实成交价格，通过客观独立的数据
              p 分析及市场行情预测未来两年的车辆价格趋势。
          .price-chart
            .title
              span 此款车型价格分布图
              em 车辆的车况信息将对车辆价格产生一定的影响。
            .chare-box
              .buy-price.price-item
                .start
                  .dot
                  .price 14.12万
                .this-car
                  .tit 车商收购价
                  .price ￥14.22万
              .personal-price.price-item
                .start
                  .dot
                  .price 15.32万
                .this-car
                  .tit 个人交易价
                  .price ￥16.30万
                .end
                  .dot
                  .price 16.45万
              .retail-price.price-item
                .this-car
                  .tit 车商收购价
                  .price ￥16.52万
                .end
                  .dot
                  .price ￥17.04万
            .chare-text
              .price-text.clearfix
                i.blue-dot
                .text-box
                  h2 车商收购价
                  p 是指车商从车主收购或其它车商处批发的价格，绝大部分车商以此方式购入车辆。车主选择此方式交易周期最短，但价格不具备优势。
              .price-text.clearfix
                i.green-dot
                .text-box
                  h2 个人交易价
                  p 是指车主或小黄牛将车辆销售给个人购买者的价格。销售方式一般是通过互联网、张贴小广告或门店，交易周期较长，不能提供相关的售后服务和品牌担保，但价格较为真实反映车辆实际价值。
              .price-text.clearfix
                i.orange-dot
                .text-box 
                  h2 车商零售价
                  p 是指品牌车商或中介平台根据车辆自身价值及自身品牌信誉和售后服务，采用帮卖、寄售或直销等方式转卖给购车者的价格。一般根据车商的品牌信誉和提供的服务不同而加加幅度不同，或赚取差价或收取交易佣金。
    #footer.
      <div class="wrapper">
        <div class="foot-detail clearfix">
         <div class="security detail-item">
            <a class="title" target="_blank">服务保障</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=bMsjucY12Q" class="art-link" target="_blank">什么是[担保好车]</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=2TqEPJDFIu" class="art-link" target="_blank">如何使用大搜车免费检测</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=g4M94dWrZN" class="art-link" target="_blank">质保服务细则</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=pxq8CMaQX2" class="art-link" target="_blank">如何维权</a>
          </div>
          
          <div class="buycarguide detail-item">
            <a class="title">购车指南</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=ZZAfVCacBV" class="art-link" target="_blank">大搜车车辆准入标准</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=1cd45ea1-2457-4a26-a4dd-942a1cae360c" class="art-link" target="_blank">如何挑选二手车</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=ZkwpSvEWPG" class="art-link" target="_blank">如何判断事故火烧水浸车</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=1Yc1r7jxxJ" class="art-link" target="_blank">二手车指标说明</a>
          </div>
         
          <div class="about detail-item">
            <a class="title">关于我们</a>
            <a href="http://www.souche.com/pages/details/soucheidea.html" class="art-link" target="_blank">大搜车理念</a>
            <a href="http://d.souche.com/" class="art-link" target="_blank">车牛</a>
            <a href="http://app.souche.com/" class="art-link" target="_blank">买车app</a>
          </div>
          <div class="contact detail-item" style="width:290px;">
            <a class="title">联系我们</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=d7u9K9H" class="art-link" target="_blank">官方微信</a>
            <a href="http://weibo.com/dasouche" class="art-link" target="_blank">新浪微博</a>
          
            <a href="http://j.map.baidu.com/-9-In" class="art-link" target="_blank">北京服务中心：北京市海淀区世纪金源购物中心东区北广场</a>
            
            
          </div>
        </div>
        
        <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号</p>
      </div>
