doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/match_car_list.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#match_car_list
    #header
      .wrapper
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        .search
          form(action="")
            input.search-text(type="text",name="keyword",placeholder="提示")
            button.search-submit(type="submit") 搜 索
          .hot-keywords
            a(href="#") 热搜词
            a(href="#") 热搜词
            a(href="#") 热搜词
        .head-tel
          img(src="http://f2e.souche.com/assets/images/index/head-tel.png")
    #nav
      .wrapper
        span.main-navs
          a.active(href="#") 首页
          a(href="#") 我要买车
          a(href="#") 我要卖车
        span.other-navs
          a(href="#") 我的大搜车
          a(href="#") 登录
          a.last(href="#") 注册
    #content
      .wrapper
        .qiugou-head.clearfix
          .qiugou-title.
            <span>大搜车买车顾问</span>
            <span>每天为你找<em>5</em>辆车</span>
          .choseagain
            .button
            img(src="http://f2e.souche.com/assets/images/mylist/mylist-bg.png")
        .pushcar
          .pushcar-today
            .pushcar-title.clearfix
              .push-date
                .years 2014-04
                .days 30
              .title 今日推荐
            .todaycar.clearfix
              .car-box
                a.car-image(href="#")
                  img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
                  .faver
                  .hadfav.hidden
                  .hate
                  .jiangjia.clearfix
                    i 
                    span 昨日降价
                    em 2000元
                  .youhui.clearfix.hidden
                    i 
                    span 限时优惠
                    em 2000元
                    .down-counter 还剩：4小时53分16秒
                  .xinche.hidden
                    i
                    span 昨日正式开售
                .car-detail
                  a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                  .car-price.clearfix
                    .price-now
                      .price 35.6万
                      .price-caption 含过户费和税费
                    .price-save.
                       <div class="save">为你节省<span>7.32万</span></div>
                       <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
                .car-advise
                  .title 今日推荐
                  p 直降5000元，优惠力度大
                  p 质检等级A+级，车况非常好
              .car-box
                a.car-image(href="#")
                  img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
                .car-detail
                  a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                  .car-price.clearfix
                    .price-now
                      .price 35.6万
                      .price-caption 含过户费和税费
                    .price-save.
                       <div class="save">为你节省<span>7.32万</span></div>
                       <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
                .car-advise
                  .title 今日推荐
                  p 直降5000元，优惠力度大
                  p 质检等级A+级，车况非常好
              .car-box
                a.car-image(href="#")
                  img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
                .car-detail
                  a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                  .car-price.clearfix
                    .price-now
                      .price 35.6万
                      .price-caption 含过户费和税费
                    .price-save.
                       <div class="save">为你节省<span>7.32万</span></div>
                       <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
                .car-advise
                  .title 今日推荐
                  p 直降5000元，优惠力度大
                  p 质检等级A+级，车况非常好
              .car-box
                a.car-image(href="#")
                  img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
                .car-detail
                  a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                  .car-price.clearfix
                    .price-now
                      .price 35.6万
                      .price-caption 含过户费和税费
                    .price-save.
                       <div class="save">为你节省<span>7.32万</span></div>
                       <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
                .car-advise
                  .title 今日推荐
                  p 直降5000元，优惠力度大
                  p 质检等级A+级，车况非常好
              .car-box
                a.car-image(href="#")
                  img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
                .car-detail
                  a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                  .car-price.clearfix
                    .price-now
                      .price 35.6万
                      .price-caption 含过户费和税费
                    .price-save.
                       <div class="save">为你节省<span>7.32万</span></div>
                       <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
                .car-advise
                  .title 今日推荐
                  p 直降5000元，优惠力度大
                  p 质检等级A+级，车况非常好
              .pushcar-box
                .push-content
                  .pushcar-image
                  h1 距离下一次推荐还有
                  .push-time.
                    <span>21</span>时<span>53</span>分<span>38</span>秒
                .choseagain.clearfix
                  .title 想法有变化？
                  .button 修改我的购车需求
        .push-history.clearfix
          .push-title.clearfix
            .title 
              i
              span 历史推荐
            .fliter-box
              form.fliter.clearfix
                .showall
                  input#showall(type="radio" checked="checked" name="choes")
                  span 显示全部
                .showsell
                  input#showsell(type="radio" name="choes")
                  span 显示在售车辆
          .history-car.clearfix
            .car-box
              a.car-image(href="#")
                img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
              .car-detail
                a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                .car-price.clearfix
                  .price-now
                    .price 35.6万
                    .price-caption 含过户费和税费
                  .price-save.
                     <div class="save">为你节省<span>7.32万</span></div>
                     <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
              .car-advise
                .selled 已售
                .title 今日推荐
                p 直降5000元，优惠力度大
                p 质检等级A+级，车况非常好
            .car-box
              a.car-image(href="#")
                img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
              .car-detail
                a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                .car-price.clearfix
                  .price-now
                    .price 35.6万
                    .price-caption 含过户费和税费
                  .price-save.
                     <div class="save">为你节省<span>7.32万</span></div>
                     <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
              .car-advise
                .title 今日推荐
                p 直降5000元，优惠力度大
                p 质检等级A+级，车况非常好
            .car-box
              a.car-image(href="#")
                img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
              .car-detail
                a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                .car-price.clearfix
                  .price-now
                    .price 35.6万
                    .price-caption 含过户费和税费
                  .price-save.
                     <div class="save">为你节省<span>7.32万</span></div>
                     <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
              .car-advise
                .title 今日推荐
                p 直降5000元，优惠力度大
                p 质检等级A+级，车况非常好
            .car-box
              a.car-image(href="#")
                img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
              .car-detail
                a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                .car-price.clearfix
                  .price-now
                    .price 35.6万
                    .price-caption 含过户费和税费
                  .price-save.
                     <div class="save">为你节省<span>7.32万</span></div>
                     <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
              .car-advise
                .title 今日推荐
                p 直降5000元，优惠力度大
                p 质检等级A+级，车况非常好
            .car-box
              a.car-image(href="#")
                img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
              .car-detail
                a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                .car-price.clearfix
                  .price-now
                    .price 35.6万
                    .price-caption 含过户费和税费
                  .price-save.
                     <div class="save">为你节省<span>7.32万</span></div>
                     <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
              .car-advise
                .title 今日推荐
                p 直降5000元，优惠力度大
                p 质检等级A+级，车况非常好
            .car-box
              a.car-image(href="#")
                img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
              .car-detail
                a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                .car-price.clearfix
                  .price-now
                    .price 35.6万
                    .price-caption 含过户费和税费
                  .price-save.
                     <div class="save">为你节省<span>7.32万</span></div>
                     <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
              .car-advise
                .title 今日推荐
                p 直降5000元，优惠力度大
                p 质检等级A+级，车况非常好
            .car-box
              a.car-image(href="#")
                img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
              .car-detail
                a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                .car-price.clearfix
                  .price-now
                    .price 35.6万
                    .price-caption 含过户费和税费
                  .price-save.
                     <div class="save">为你节省<span>7.32万</span></div>
                     <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
              .car-advise
                .title 今日推荐
                p 直降5000元，优惠力度大
                p 质检等级A+级，车况非常好
            .car-box
              a.car-image(href="#")
                img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
              .car-detail
                a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                .car-price.clearfix
                  .price-now
                    .price 35.6万
                    .price-caption 含过户费和税费
                  .price-save.
                     <div class="save">为你节省<span>7.32万</span></div>
                     <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
              .car-advise
                .title 今日推荐
                p 直降5000元，优惠力度大
                p 质检等级A+级，车况非常好
            .car-box
              a.car-image(href="#")
                img(src="http://res.souche.com/files/carpicture/19FC48F2768ED1CD8958D09C955DA879_700x460.jpg_700x10000.jpg" width="385px" height="260px")
              .car-detail
                a.car-title(href="#") 2008款 奔驰ML级ML350-3.5-手自一体四驱动感型【进口】 
                .car-price.clearfix
                  .price-now
                    .price 35.6万
                    .price-caption 含过户费和税费
                  .price-save.
                     <div class="save">为你节省<span>7.32万</span></div>
                     <div class="price-old">新车价:7.9万+0.64万(购置税)</div>
              .car-advise
                .title 今日推荐
                p 直降5000元，优惠力度大
                p 质检等级A+级，车况非常好
    #footer         
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>
    