html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://f2e.souche.com/assets/css/mobile/acts/mini.css" rel="stylesheet" type="text/css" />
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery-1.9.1.min.js?t=1"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery.cookie.js?t=1"></script>
  body#mini-h5
    .wrapper
      img.fenxiang(src="../../assets/images/mob/huodong/mini/top.jpg")
      img.banner(src="../../assets/images/mob/huodong/mini/banner-1.jpg")
      .mini-danshen
        img.danshen(src="../../assets/images/mob/huodong/mini/danshen.jpg" style="width:100%;")
        p.content-text  &#12288;&#12288;大多数人说起MINI大概就是一辆cooper。其实MINI生于1956年的苏伊士运河危机，有一个土耳其父亲。3岁第一次下地走路，最早的乳名是Morris Mini Minor和Austin Seven。MINI挺过了黑暗的70年代，88年找到继父罗浮集团后存活下来。最后被宝马相中，拥入怀抱。50多年，MINI从蹒跚学步，到知会天命。MINI的一生是万人迷的一生。英女王，披头士，麦当娜，詹姆斯邦德女郎，都是她的前任。她是物质的短暂情人，也是精神的永恒象征。水，至柔则刚；MINI，至小则大。
      .mini-dashi
        img.dashi(src="../../assets/images/mob/huodong/mini/dashi.jpg" style="width:100%;margin-bottom:20px;")
        .wrapper
          .dashi-box.clearfix
            img(src="../../assets/images/mob/huodong/mini/mini-1.png" )
            .dashi-text 
              p MINI之父是一个叫Alec Issigonis的土耳其人
          .dashi-box.clearfix
            img(src="../../assets/images/mob/huodong/mini/mini-2.png" )
            .dashi-text 
              p 节油MINI诞生源于1956年苏伊士运河英国石油供需紧张时期
          .dashi-box.clearfix
            img(src="../../assets/images/mob/huodong/mini/mini-3.png" )
            .dashi-text 
              p 1959年8月26日
              p 世界上第一辆MINI下线
          .dashi-box.clearfix
            img(src="../../assets/images/mob/huodong/mini/mini-4.png" )
            .dashi-text 
              p 最早的MINI售价496英镑
              p 当时折合成美金约790元
          .dashi-box.clearfix
            img(src="../../assets/images/mob/huodong/mini/mini-5.png" )
            .dashi-text 
              p 起初未用MINI作为logo而是MorrisMini Minor或Austin Seven
          .dashi-box.clearfix
            img(src="../../assets/images/mob/huodong/mini/mini-6.png" )
            .dashi-text 
              p Mini Cooper S蝉联64、65、66、67四届蒙特卡罗拉力赛冠军
          .dashi-box.clearfix(style="height:185px;")
            img(src="../../assets/images/mob/huodong/mini/mini-7.png" )
            .dashi-text 
              p(style="margin-bottom:15px;") 70年代对于MINI来说是黑暗的，种种因素导致MINI的生产大受影响
              p(style="margin-bottom:15px;") 1986年为止MINI共生产了500万辆但是MINI的命运似乎走到了尽头
              p 1988年  罗孚集团的入主才保证了MINI的继续生产
          .dashi-box.clearfix
            img(src="../../assets/images/mob/huodong/mini/mini-8.png" )
            .dashi-text 
              p 1994年   宝马控制了罗孚集团
              p 1996年   MINI产量再破百万级大关
      .mini-suoyou
        img(src="../../assets/images/mob/huodong/mini/suoyouzhe.jpg" style="width:100%;margin-bottom:20px;")
        img(src="../../assets/images/mob/huodong/mini/pingpai.jpg" style="width:100%;")
      .foot.clearfix
        a(href="#")
          img(src="../../assets/images/mob/huodong/mini/logo.png")
   script.
    var h = $('.fenxiang').height();
    $('.banner').css({'margin-top':h});
    $(window).resize(function(){
      var h = $('.fenxiang').height();
      $('.banner').css({'margin-top':h});
    })