html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://f2e.souche.com/assets/css/mobile/acts/mini.css" rel="stylesheet" type="text/css" />
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery-1.9.1.min.js?t=1"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery.cookie.js?t=1"></script>
  body#mini-h5
    .wrapper
      img.fenxiang(src="../../assets/images/mob/huodong/mini/top.jpg")
      img.banner(src="../../assets/images/mob/huodong/mini/banner-1.jpg")
      .mini-mingreng
        img(src="../../assets/images/mob/huodong/mini/mingreng.jpg" style="width:100%;")
        img(src="../../assets/images/mob/huodong/mini/mingreng-1.jpg" style="width:100%;")
        img(src="../../assets/images/mob/huodong/mini/mingreng-2.jpg" style="width:100%;")
        img(src="../../assets/images/mob/huodong/mini/mingreng-3.jpg" style="width:100%;")
        .shishang
          p DSQUARED²、Versace、Missoni、Diesel、Gianfranco Ferré、Agent Provocateur等时尚大牌也都热衷于与MINI合作在每年的慈善晚会LifeBall上这些特别版的Designer MINI义卖总是最抢眼的焦点。
        .shishang-car
          img(src="../../assets/images/mob/huodong/mini/mingreng-4.jpg" style="width:100%;")
          img(src="../../assets/images/mob/huodong/mini/mingreng-5.jpg" style="width:100%;margin-top:20px;")
          img(src="../../assets/images/mob/huodong/mini/mingreng-6.jpg" style="width:100%;margin-top:40px;")
      .mini-movice
        img(src="../../assets/images/mob/huodong/mini/movice.jpg" style="width:100%;")
        img(src="../../assets/images/mob/huodong/mini/movice-1.jpg" style="width:100%;margin-top:20px;")
        .movice-text
          p &#12288;&#12288;1969年轰动一时的老版《The Italian Job》（中文译名《偷天换日》）中，3辆载满金砖的Austin Mini MK I飞驰于意大利都灵街头、地下道中的桥段，成为动作片中殿堂级的追车场面，也让MINI的魅力广为人知。三辆MINI Cooper S在好莱坞星光大道上狂奔，冲下洛杉矶地铁展台，地底隧道中玩命疾驰，直升机的旋翼下闪转腾挪……英姿让无数人尖叫、发狂，堪称MINI影史中的巅峰之作。在MINI FANS中，有不少就是因为此片爱上MINI。
        img(src="../../assets/images/mob/huodong/mini/movice-2.jpg" style="width:100%;margin-top:20px;")
        img(src="../../assets/images/mob/huodong/mini/movice-3.jpg" style="width:100%;")
        .movice-text
          p &#12288;&#12288;另外，MINI的粉丝们还可以在这些电影、剧集中找到MINI的踪影：《偷龙转凤》、《古墓丽影》、《我为蜜月狂》、《邦女郎》系列、《魔术般的神奇旅行》、《城市猎人》、《辛普森一家》、《瘦身男女》《谍影重重》……据不完全统计，MINI参演的影片超过百部。
      .foot.clearfix
        a(href="#")
          img(src="../../assets/images/mob/huodong/mini/logo.png")
script.
    var h = $('.fenxiang').height();
    $('.banner').css({'margin-top':h});
    $(window).resize(function(){
      var h = $('.fenxiang').height();
      $('.banner').css({'margin-top':h});
    })