html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://f2e.souche.com/assets/css/mobile/mother.css" rel="stylesheet" type="text/css" />
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery-1.9.1.min.js?t=1"></script>
    <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery.cookie.js?t=1"></script>
  body#mother-h5
    .wrapper
      img.fenxiang(src="../../assets/images/mob/huodong/mother/fenxiang.jpg")
      img.banner(src="../../assets/images/mob/huodong/mother/banner.jpg")
      #mama1.content
        .content-text
          p 有一种妈妈，总咆哮于你看动画片最投入的时刻：
          p “作业做完了没？！”
          p 刚在书桌前不到五分钟，又传来咆哮：
          p “挺直，坐好了，眼睛坏了怎么办！”
          p 再过五分钟厨房传来老妈的最后通牒：
          p “拖拖拉拉的，还没做好啊？先滚过来吃饭！”
          p 对于这样的妈妈，她们虐我千百遍，也要待之如初恋。
        .content-img
          img(src="../../assets/images/mob/huodong/mother/mama1.jpg" width="128px" height="153px")
        .zan
          i
          span 35
      #mama2.content
        .content-text
          p 有一种妈妈，新闻联播开始的时候她们准时甩门而出，
          p 她们只是准时奔赴一场约会，去市场跳舞。
          p 多年以前，当妈妈们年轻的时候，她们也在广场上跳舞，
          p 只不过那时是政治狂热，如今只是纯粹的热爱。
          p 她们用腰圆的身体提醒年轻人：我们还没老，
          p 世界还是我们的呦！要，要，切克闹！
        .content-img
          img(src="../../assets/images/mob/huodong/mother/mama2.jpg" width="149px" height="150px")
        .zan
          i
          span 35
      #mama3.content
        .content-text
          p 有一种妈妈，小时候抱着你出门遛弯，
          p 周围都惊叹其身材苗条，保养得那么好。
          p 随着你的长大，周围的惊讶赞美不绝于耳，
          p 都是在夸你妈，你就像隐身了一样，
          p 老同学见到你，说了一句：跟你姐出来逛街啊？
          p 你羞愧难当，而你的妈妈脸色红晕，挺了挺胸膛。
        .content-img
          img(src="../../assets/images/mob/huodong/mother/mama3.jpg" width="165px" height="162px")
        .zan
          i
          span 35
      #mama4.content
        .content-text
          p 茫茫宇宙中，有一种神奇的生物，它们不玩游戏，
          p 不聊qq,天天就知道学习，回回年级第一。
          p 它们啃着铁饭碗，月入过万；加了好老公，幸福美满。
          p 它们就是感动中国十大人物之一的“别人家的孩子”。
          p 这一切的一切都是妈妈告诉我的，
          p 那个看不见的“孩子”差点毁了我们一生
        .content-img
          img(src="../../assets/images/mob/huodong/mother/mama4.jpg" width="211px" height="162px")
        .zan
          i
          span 35
      #mama5.content
        .content-text
          p 大概年轻的时候是摇滚女主唱，或者看多了王家卫的电影，
          p 有这么一群深夜搓麻烟酒不离的酷毙老妈，
          p 让邻家小孩羡慕不已。
          p 她们不会管你是在做作业还是打游戏。
          p 偶尔玩累了的某个周末午后，
          p 她会叼一根万宝路，过来和你谈心
          p “孩子，人生苦短，我们得把生命浪费在喜欢的事情上！”
          p 如果你有这样的妈妈，要感谢上苍，
          p 因为你的青春叛逆期将得到她无条件的支持。
          p 爱她，就陪她抽一根，喝一杯或者打一圈吧。
        .content-img
          img(src="../../assets/images/mob/huodong/mother/mama5.jpg" width="162px" height="177px")
        .zan
          i
          span 35
      .foot
        img(src="../../assets/images/mob/huodong/mother/foot.jpg" width="86px" height="43px")

  script.
    var h = $('.fenxiang').height();
    $('.banner').css({'margin-top':h});
    $(window).resize(function(){
      var h = $('.fenxiang').height();
      $('.banner').css({'margin-top':h});
    })
    