doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/mylist.css?t=129" rel="stylesheet" type="text/css" />
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>

    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
  body#mylist
    #header
      .wrapper
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        .search
          form(action="")
            input.search-text(type="text",name="keyword",placeholder="提示")
            button.search-submit(type="submit") 搜 索
          .hot-keywords
            a(href="#") 热搜词
            a(href="#") 热搜词
            a(href="#") 热搜词
        .adviser
          .myadviser 王小王
          a.text(href="#") 我的买车顾问
          #pulldown
          .mylist.hidden
             ul
              li
                a.account(href="#") 账号设置
              li
                a.password(href="#") 修改密码
              li 
                a.quit(href="#") 退出
    #nav
      .wrapper
        .demand
          h1.demand-title 我的购车需求
          ul.chosecar.
            <li>品牌：
              <a class="chosecentent" (href="#")>奥迪</a>
              <a class="chosecentent" (href="#")>雪铁龙</a>
              <a class="chosecentent" (href="#")>大众</a>
              <a class="chosecentent" (href="#")>玛莎拉蒂</a>
              <a class="chosecentent" (href="#")>福特</a>
            </li>
            <li>车系：
              <a class="chosecentent" (href="#")>A7</a>
              <a class="chosecentent" (href="#")>A4</a>
              <a class="chosecentent" (href="#")>320</a>
              <a class="chosecentent" (href="#")>A7</a>
              <a class="chosecentent" (href="#")>幻影</a>
            </li>
            <li>车型：
              <a class="chosecentent" (href="#")>三厢车</a>
              <a class="chosecentent" (href="#")>两厢车</a>
              <a class="chosecentent" (href="#")>SUV</a>
              <a class="chosecentent" (href="#")>吉普</a>
              <a class="chosecentent" (href="#")>跑车</a>
            </li>
            <li>价格：
              <a class="chosecentent" (href="#")>5万元至15万元</a>
            </li>
            <li>车龄：
              <a class="chosecentent" (href="#")>一年以内</a>
            <li>
          .choseagain
            i
            a(href="#") 重新定制
        .erweima
          .erweima-img
    #content
      .wrapper
        .date-wrap
          .hourcar
            i.hour
            span.findcar 买车顾问正在找车，预计24小时内会有新信息
          .date-box
            .date-title. 
              <i class="today-yesterday"></i>
              <span class="day">今天</span>
              <span class="carnum">买车顾问为您找了</span>
              <span class="num">5</span>
              <span class="carnum">辆车</span>
            .car-wrap
              .car-box.zhijiangcar
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                  .zhijiang 直降500元
                    span.triangle
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box.timebuycar
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                  .price-down 
                    i 5000
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
          .date-box
            .date-title. 
              <i class="today-yesterday"></i>
              <span class="day">昨天</span>
              <span class="carnum">买车顾问为您找了</span>
              <span class="num">5</span>
              <span class="carnum">辆车</span>
            .car-wrap
              .car-box.zhijiangcar
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                  .zhijiang 直降500元
                    span.triangle
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box.timebuycar
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                  .price-down 
                    i 5000
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
          .date-box
            .date-title. 
              <i class="old"></i>
              <span class="day">3月12日</span>
              <span class="carnum">买车顾问为您找了</span>
              <span class="num">5</span>
              <span class="carnum">辆车</span>
            .car-wrap
              .car-box.zhijiangcar
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                  .zhijiang 直降500元
                    span.triangle
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box.timebuycar
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                  .price-down 
                    i 5000
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04
              .car-box
                a.car-image(herf="#")
                  img(src="http://souche.cdn.aliyuncs.com/files/carpicture/01440D614342C92192F227A939E0E6C5_700x460.jpg_700x10000.jpg")
                a.car-title(herf="#") 2011款 宝马1系Coupe 120i-2.0手自一体双门轿跑
                .car-price
                  .price 123.7万
                  .time 首次上牌：2013-04  
    #footer
      .friendlinks
        .wrapper
          <a href="http://2sc.sohu.com/" rel="nofollow" target="_blank">搜狐二手车</a>
          <a href="http://www.51auto.com/" rel="nofollow" target="_blank">51二手车</a>
          <a href="http://www.cheyipai.com/" target="_blank">车易拍</a>
          <a href="http://www.che168.com/" rel="nofollow" target="_blank">二手车之家</a>
          <a href="http://www.hx2car.com/" rel="nofollow" target="_blank">华夏二手车</a>
          <a href="http://www.taoche.com" target="_blank">二手车</a>
          <a href="http://www.iautos.cn/" rel="nofollow" target="_blank">第一车网</a>
          <a href="http://hainan.273.cn/" target="_blank">海南二手车</a>
          <a href="http://news.souche.com" target="_blank" class="last">二手车资讯</a>
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>
    script.
      $("#pulldown").on('mouseenter',function(e){$(".mylist").removeClass("hidden")});
      $(".mylist ul li a").click(function(){$(".mylist").addClass("hidden")});
      $("body").click(function(){$(".mylist").addClass("hidden")});
    