doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/new-sellcar.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#sellCarNew
    #header.
      <div class="wrapper">
        <div class="h-lft">
          <h1 class="logo"><a href="http://www.souche.com" click_type="logo"><img src="http://assets.souche.com/assets/images/index_11/logo.png?t=8"></a></h1>
          <div class="city clearfix">
            <span id="J_city_show" class="J_city">北京</span><i class="J_city"></i>
            <div class="city-open hidden">
              <div class="city-wrap clearfix">
                <div class="area-box">
                  <div class="hot-city">
                    <!-- <span class="title">热门</span> -->
                    <!-- <a data-code="country" class="hot-item hot-item-all">全国</a> -->
                    <a data-code="00001" class="J_hotcity active-city" click_type="city-00001">北京</a>
                    <a data-code="00043" class="province-item direct-item J_hotcity" click_type="city-00043">天津</a>
                    <!-- <a data-code="00989" class="J_hotcity">宁波</a>
                    <a data-code="01991" class="J_hotcity">深圳</a>
                    <a data-code="01208" class="J_hotcity">厦门</a>
                    <a data-code="02273" class="J_hotcity">成都</a>
                    <a data-code="other" class="J_hotcity">其他</a> -->
                  </div>
                  <!-- <div class="area-city">
                    <div class="area-line"><span class="area">华东</span><a data-code="00974" class="province-item">浙江</a><a data-code="00858" class="province-item">江苏</a><a data-code="01075" class="province-item">安徽</a><a data-code="01398" class="province-item">山东</a><a data-code="00021" class="province-item direct-item J_hotcity">上海</a></div>
                    <div class="area-line"><span class="area">华南</span><a data-code="01977" class="province-item">广东</a><a data-code="01193" class="province-item">福建</a><a data-code="02122" class="province-item">广西</a><a data-code="02245" class="province-item">海南</a></div>
                    <div class="area-line"><span class="area">东北</span><a data-code="00530" class="province-item">辽宁</a><a data-code="00714" class="province-item">黑龙江</a><a data-code="00644" class="province-item">吉林</a></div>
                    <div class="area-line"><span class="area">中南</span><a data-code="01556" class="province-item">河南</a><a data-code="01840" class="province-item">湖南</a><a data-code="01725" class="province-item">湖北</a><a data-code="01288" class="province-item">江西</a></div>
                    <div class="area-line"><span class="area">西南</span><a data-code="02272" class="province-item">四川</a><a data-code="02572" class="province-item">云南</a><a data-code="02474" class="province-item">贵州</a><a data-code="00063" class="province-item direct-item J_hotcity">重庆</a><a data-code="02718" class="province-item">西藏</a></div>
                    <div class="area-line"><span class="area">华北</span><a data-code="00001" class="province-item direct-item J_hotcity active-city">北京</a><a data-code="00106" class="province-item">石家庄</a><a data-code="00289" class="province-item">山西</a><a data-code="00419" class="province-item">内蒙古</a><a data-code="00043" class="province-item direct-item J_hotcity">天津</a></div>
                    <div class="area-line"><span class="area">西北</span><a data-code="02799" class="province-item">陕西</a><a data-code="03095" class="province-item">新疆</a><a data-code="02914" class="province-item">甘肃</a><a data-code="03066" class="province-item">宁夏</a><a data-code="03014" class="province-item">青海</a></div>
                  </div> -->
                </div>
                <div class="city-box">
                  <div class="tit clearfix"><a class="city-return">返回</a><span id="J_province_title" class="province">浙江省</span><a class="city-close"></a></div>
                  <div class="city-list clearfix"><a class="city-item">全部地区</a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="main-navs" style="margin-left:20px;">
          <a click_type="index-navindex" href="http://www.souche.com"  class="active" >首页</a>
          <a click_type="index-navsalecarlist" href="/pages/onsale/sale_car_list.html" >我要买车</a>
          <a click_type="index-navsellCar" href="/pages/caruser/sellCarNew.html" >我要卖车</a>
          <a click_type="index-atcsAll" href="/pages/acts/theme-activity-all.html" >主题精选</a>
          <a click_type="index-danbaohaoche" href="/pages/adviser.html" >担保好车</a></div>
        </div>
        <div class="search">
          <form class="index-search" action="/pages/onsale/sale_car_list.html">
            <input placeholder="搜索" name="keyword" class="search-text" autocomplete="off" click_type="header-search-input">
            <input name="pfrom" type="hidden" value="search">
            <button class="search-submit"></button>
          </form>
        </div>
        <div class="h-rht">
          <div class="phone-number"><img src="http://assets.souche.com/assets/images/index_11/phone-num.png?t=5"></div>
          <!-- 已登录 -->
          
      <div class="user">
              <div class="headpic">
              <img src="http://assets.souche.com/assets/images/index_11/default-avatar.png?t=5">
              </div>
              <span class="username">..6844</span>
              <i class="trigger"></i>
              <ul id="user-menu" class="dropdown-menu">
                <li class="subscribe-car"><a href="/pages/myorder/my_order_list.html" target="_blank">我的大搜车</a></li>
                <li class="logout"><a id="J_logout" href="/pages/j_spring_security_logout?loginType=createUserLogin">退出</a></li>
              </ul>
          </div>
          
        </div>
      </div>
    #content
      .sell-banner
        .wrapper.clearfix
          .sell-title
            h1 20000平米展厅帮您卖车
            h2 还原真实价值，不让爱车憋屈
            .sell-history
              .history-box
                .slide
                  ul.history-list
                    li.history-item 
                      span 王先生 
                      span 135*****326
                      span Mini-Cooper 17.3万上拍成交
                    li.history-item 
                      span 王先生 
                      span 135*****326
                      span Mini-Cooper 17.3万上拍成交
                    li.history-item 
                      span 王先生 
                      span 135*****326
                      span Mini-Cooper 17.3万上拍成交
                    li.history-item 
                      span 王先生 
                      span 135*****326
                      span Mini-Cooper 17.3万上拍成交
            .serv-num 服务热线：4008-010-010
          .sell-form
            .title 我要卖车
            form.sell-info
              .select-item.clearfix
                #select-area.select 浙江 杭州
                  .open-icon
                  #area-open.select-open.clearfixs.hidden
                    .open-item#choose-area
                      .open-tit 选择省份
                      .choose-box
                        .cont-item
                          .choose-cont 河北
                          .choose-cont 山西
                          .choose-cont 辽宁
                          .choose-cont 吉林
                          .choose-cont 黑龙江
                          .choose-cont 江苏
                          .choose-cont 浙江
                          .choose-cont 安徽
                          .choose-cont 福建
                          .choose-cont 江西
                          .choose-cont 山东
                    .open-item#choose-city
                      .open-tit 选择城市
                      .choose-box
                        .cont-item
                          .choose-cont 杭州
                          .choose-cont 宁波
                          .choose-cont 温州
                          .choose-cont 绍兴
                          .choose-cont 湖州
                          .choose-cont 嘉兴
                          .choose-cont 金华
                          .choose-cont 衢州
                          .choose-cont 舟山
                          .choose-cont 台州
                          .choose-cont 丽水
              .select-item.clearfix
                #select-car.select 选择车型
                  .open-icon
                  #car-open.select-open.clearfix.hidden
                    .open-item#choose-brand
                      .open-tit 请选择品牌
                      .choose-box
                        .cont-item
                          .cont-tit A
                          .choose-cont 奥迪
                          .choose-cont 阿斯顿马丁
                        .cont-item
                          .cont-tit B
                          .choose-cont 宝马
                          .choose-cont 保时捷
                          .choose-cont 奔驰
                          .choose-cont 别克
                          .choose-cont 宾利
                          .choose-cont 巴斯博
                          .choose-cont 宝骏
                          .choose-cont 北汽制造
                          .choose-cont 比亚迪
                        .cont-item
                          .cont-tit C 
                          .choose-cont 长安
                          .choose-cont 长城
                          .choose-cont 长河
                        .cont-item
                          .cont-tit D
                          .choose-cont 道奇
                          .choose-cont 大众
                          .choose-cont 帝豪
                          .choose-cont 东风
                          .choose-cont 东南
                    .open-item#choose-set
                      .open-tit 请选择车系
                      .choose-box 
                        .cont-item
                          .cont-tit 一汽-大众奥迪
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                        .cont-item
                          .cont-tit 奥迪(进口)
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3 
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3 
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3
                          .choose-cont 奥迪A3 
                    
                    .open-item#choose-type
                      .open-tit 请选择车型
                      .choose-box 
                        .cont-item
                          .cont-tit 2014款
                          .choose-cont 2014款 Sportback 35 TFSI 豪华型
                          .choose-cont 2014款 Sportback 35 TFSI 时尚型
                          .choose-cont 2014款 Sportback 35 TFSI 舒适型
                        .cont-item
                          .cont-tit 2013款
                          .choose-cont 2013款 Sportback 35 TFSI 豪华型
                          .choose-cont 2014款 Sportback 35 TFSI 时尚型
                          .choose-cont 2014款 Sportback 35 TFSI 舒适型
              .select-item.clearfix
                #select-time.select 上牌时间
                  .open-icon
                  #time-open.select-open.clearfixs.hidden
                    .open-item#choose-years
                      .open-tit 选择年份
                      .choose-box
                        .cont-item
                          .choose-cont 2014
                          .choose-cont 2013
                          .choose-cont 2012
                          .choose-cont 2011
                          .choose-cont 2010
                          .choose-cont 2009
                    .open-item#choose-mouth
                      .open-tit 选择年份
                      .choose-box
                        .cont-item
                          .choose-cont 1月
                          .choose-cont 2月
                          .choose-cont 3月
                          .choose-cont 4月
                          .choose-cont 5月
                          .choose-cont 6月
                          .choose-cont 7月
                          .choose-cont 8月
                          .choose-cont 9月
                          .choose-cont 10月
                          .choose-cont 11月
                          .choose-cont 12月
                input#input-mile(placeholder="行驶里程")
                .unit 公里
              .select-item.clearfix
                #select-hope.select 希望多久能卖掉
                  .open-icon
                input#input-reason(placeholder="卖车理由")
              .form-sub.clearfixs
                button#sell-submit 我要卖车
                a.judge-link(href="#") 估个价先 » 
      .sell-flow
        .wrapper.clearfix
          .flow-item.clearfix
            .flow-icon.clearfix
              img(src="../assets/images/sellcar-new/flow1.png")
            .flow-text
              .flow-tit 1 预约
              .flow-des 网上提交或电话预约
          .flow-item.clearfix
            .flow-icon.clearfix
              img(src="../assets/images/sellcar-new/flow2.png")
            .flow-text
              .flow-tit 2 检测
              .flow-des 上门检测或到店检测
          .flow-item.clearfix
            .flow-icon.clearfix
              img(src="../assets/images/sellcar-new/flow3.png")
            .flow-text
              .flow-tit 3 定价
              .flow-des 线上竞价或寄售定价
          .flow-item.clearfix
            .flow-icon.clearfix
              img(src="../assets/images/sellcar-new/flow4.png")
            .flow-text
              .flow-tit 4 成交
              .flow-des 交易成功，办理过户
      .sell-detail
        .wrapper
          .detail-item.daodian-item
            .tit 到店卖车
            p 免费清洗消毒 + 360项专业检测，还原爱车价值
            p 2万㎡展厅，让爱车以最美的样子遇见下一个真爱
            .item-pic.clearfix
              img(src="../assets/images/sellcar-new/daodian.jpg")
          .detail-item
            .tit 家门口卖车
            p 专家上门服务，对车辆进行检测、拍照并安排竞价
            p 交易成功后，帮助搞定过户、打款等麻烦事儿
            .item-pic.clearfix
              img(src="../assets/images/sellcar-new/shangmeng.jpg")
          .detail-item
            .tit 爱车值几钱，心里有个数
            p 已获取海量车源数据，采用业内最先进的二手车保值率评估模型
            p 每日追踪分析全网二手车交易价格。
            .item-pic.clearfix(style="width:480px")
              img(src="../assets/images/sellcar-new/price-modle.jpg")
          .detail-item
            .tit 更优价，更高效
            p 或是时间和价格的完美平衡
            .price-table.clearfix
              .price-pic
              .price-ds
                .text-item
                  .title.clearfix
                    i.tuoguan
                    span 托管寄售
                  p 20000平米寄售大厅，专业寄售员服务，避免黄牛骚扰
                  p 透明交易，不赚差价，寄卖不成功不产生任何费用 
                .text-item
                  .title.clearfix
                    i.paimai
                    span 全网拍卖
                  p 全国各地车商同时出价竞拍
                  p 电脑、平板、手机竞价工具畅通无阻  
          .questions
            h1 常见问题
            .ques-box
              .ques-item
                .ques-cont 支持提供上门检测的区域有哪些？
                .answer.hidden 
                  p 北京、天津、河南郑州、河北石家庄、山东济南
              .ques-item.quer-or
                .ques-cont 哪些车不属于大搜车二手车服务范围？
                .answer.hidden 
                  p 事故车、火烧车、水浸车不属于大搜车二手车的服务范围。
                  p 大搜车只接收6年以内，12万公里以下的车。
              .ques-item
                .ques-cont 如何预约检测？
                .answer.hidden 
                  p 网上提交信息预约或者电话预约
              .ques-item
                .ques-cont 为什么要进行专业的车辆评估？
                .answer.hidden 
                  p 网上提交信息预约或者电话预约
              .sellcar-up 
                a(href="#") 我要卖车

    #footer.
      <div class="wrapper">
        <div class="foot-detail clearfix">
         <div class="security detail-item">
            <a class="title" target="_blank">服务保障</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=bMsjucY12Q" class="art-link" target="_blank">什么是[担保好车]</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=2TqEPJDFIu" class="art-link" target="_blank">如何使用大搜车免费检测</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=g4M94dWrZN" class="art-link" target="_blank">质保服务细则</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=pxq8CMaQX2" class="art-link" target="_blank">如何维权</a>
          </div>
          
          <div class="buycarguide detail-item">
            <a class="title">购车指南</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=ZZAfVCacBV" class="art-link" target="_blank">大搜车车辆准入标准</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=1cd45ea1-2457-4a26-a4dd-942a1cae360c" class="art-link" target="_blank">如何挑选二手车</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=ZkwpSvEWPG" class="art-link" target="_blank">如何判断事故火烧水浸车</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=1Yc1r7jxxJ" class="art-link" target="_blank">二手车指标说明</a>
          </div>
         
          <div class="about detail-item">
            <a class="title">关于我们</a>
            <a href="http://www.souche.com/pages/details/soucheidea.html" class="art-link" target="_blank">大搜车理念</a>
            <a href="http://d.souche.com/" class="art-link" target="_blank">车牛</a>
            <a href="http://app.souche.com/" class="art-link" target="_blank">买车app</a>
          </div>
          <div class="contact detail-item" style="width:290px;">
            <a class="title">联系我们</a>
            <a href="http://www.souche.com/pages/huodong/item.html?id=d7u9K9H" class="art-link" target="_blank">官方微信</a>
            <a href="http://weibo.com/dasouche" class="art-link" target="_blank">新浪微博</a>
          
            <a href="http://j.map.baidu.com/-9-In" class="art-link" target="_blank">北京服务中心：北京市海淀区世纪金源购物中心东区北广场</a>
            
            
          </div>
        </div>
        
        <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号</p>
      </div>
  script.
    $(".select").click(function(e){
      e.stopPropagation();
      $(this).find(".select-open").removeClass("hidden");
      });

    $(document.body).click(function() {
        $(".select-open").addClass("hidden");
    });

    $(".ques-cont").click(function(){
      $(".ques-cont").removeClass("an-up");
      $(".answer").addClass("hidden");
      $(this).addClass("an-up");
      $(this).next(".answer").removeClass("hidden");
      })
