doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/common.css?t=129" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/worthbuy.css?t=129" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#gouchejie
    #header
      .wrapper
        a.logo(href="http://www.souche.com")
          img(src="http://f2e.souche.com/assets/images/index/logo-new.png")
        .city.clearfix 
          span 杭州
          i 
        .search
          form.index-search
            input.search-text(type="text" name="keyword" placeholder="搜索你想要的车")
            button.search-submit(type="submit")
            .recom
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
              a(href="#") 索塔纳
              a(href="#") 科鲁兹
              a(href="#") 伊兰特
        .phone-number
          img(src="http://f2e.souche.com/assets/images/index/phone-number.png")
    #nav
      .wrapper.clearfix
        .main-navs
          a.nav-item.active(href="#") 首页
          a.nav-item(href="#") 我要买车
          a.nav-item(href="#") 我要卖车
          a.nav-item(href="#") 主题精选
        .other-navs
          a.nsv-item(href="#") 登陆
          a.nsv-item(href="#") 微博登陆
          a.nsv-item(href="#" style="border-right:none;") QQ登陆
    #content.clearfix
      .wrapper.clearfix
        .ribao-nav
          .ribao-list
            .tit-icon
              .date 9月11日
            .title
              span 值得买八大理由 >
            ul.reason
              li 
                a(href="#") 1.决定买福克斯真的只需一眼 >
              li
                a(href="#") 2.战斗气息 >
              li
                a(href="#") 3.各方面性能均衡 >
              li
                a(href="#") 4.动力优于同价位车型 >
              li
                a(href="#") 5.车身控制稳定 >
              li
                a(href="#") 6.悬挂舒适，转向精准 >
              li
                a(href="#") 7.决定买福克斯真的只需一眼
              li
                a(href="#") 8.战斗气息 >            
        .article
          .car-box
            .recom-car.clearfix
              a.car-img(herf="#")
                img(src="http://img.souche.com/files/carpicture/41EFD378ECA901469A20F05F9CAE325C_690x460.jpg@240w")
              .car-info
                .tit 2012款 奥迪A4L-2.0T-无级变速-FSI舒适型
                .car-price.clearfix
                  span.price-new ￥25.36 万
                  i.price-old 新 车 价：33万+2.81万（购置税）
                .car-detail.clearfix
                  .detail-item(style="margin-left:0px;") 3.95万公里
                  span |
                  .detail-item 2012-03-01 首次上牌
                  span |
                  .detail-item 北京
                .detail-button.clearfix
                  .carduibi
                    input(type="checkbox" id="duibi")
                    label(for="duibi") 加入对比
                  a(href="javascript:void(0);" id="J_shoucang" value="1" class="fav").
                    <span></span>
                    <label>收藏</label>
                    <i id="J_car_favorite">13</i>
                .service.clearfix
                  i.qitian
                  span 七天退货
                  i.fenqi
                  span 分期付款
                  i.zhibao
                  span 保1年2万公里
                a.find-more(href="#") 查看更多福克斯 »
          .title 福克斯值得买的十大理由
          .cont-box
            .tit.clearfix 
              span 1
              em 好看！决定买福克斯真的只需一眼
            .cont
              img(src="http://f2e.souche.com/assets/images/worthbuy/big-pic.png")
              p 125年前，奔驰夫人进行了人类历史上首次汽车长途旅行的试验，距离为100公里。如今，奔驰公司推出的S500智能驾驶汽车在一个月前成功完成了约100公里的实际道路自动驾驶试验，路线为奔驰夫人当年行驶的路线。奔驰希望成为全球第一家推出自动驾驶汽车的生产商，并将在2020年之前完成这一目标。
          .cont-box
            .tit.clearfix 
              span 2
              em 战斗气息
            .cont
              p 车主还可以在智能手机上安装软件或通过网页来控制车辆及获取车辆信息。该设备包括一个CDMA数据连接到Verizon电信的网络以及蓝牙，此外还包含一个GPS芯片，通过Verizon电信数据连接可以报告其位置。作为一项方便车主的功能，手机上的软件模拟遥控钥匙可以为车辆上锁和解锁甚至可以启动车辆。但与遥控钥匙不同，这套设备允许车主在世界任何一个有手机信号的角落实施上述操作。而在没有手机信号的地下车库，车主可以使用手机蓝牙功能实施上述操作。
          .cont-box
            .tit.clearfix
              span 3
              em 各方面性能均衡
            .cont
              img(src="http://f2e.souche.com/assets/images/worthbuy/big-pic.png")
              p 125年前，奔驰夫人进行了人类历史上首次汽车长途旅行的试验，距离为100公里。如今，奔驰公司推出的S500智能驾驶汽车在一个月前成功完成了约100公里的实际道路自动驾驶试验，路线为奔驰夫人当年行驶的路线。奔驰希望成为全球第一家推出自动驾驶汽车的生产商，并将在2020年之前完成这一目标。
          .share.clearfix.
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24">
              <a class="jiathis_button_qzone"></a>
              <a class="jiathis_button_tsina"></a>
              <a class="jiathis_button_tqq"></a>
              <a class="jiathis_button_weixin"></a>
              <a class="jiathis_button_renren"></a>
              <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
              <a class="jiathis_counter_style"></a>
            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1395020944195476" charset="utf-8"></script>
            <!-- JiaThis Button END -->
          .ribao.clearfix
            .ribao-icon
            .ribao-text 「好车日报」是一个中立的，致力于帮助广大网友买到更有性价比网购产品的分享平台，每天为网友们提供严谨的、准确的、新鲜的、丰富的网购产品特价资讯。
          .review
            .tit 往期回顾
            .review-cont.clearfix
              ul
                li 
                  a(href="#") 9月11日：福特福克斯
                li 
                  a(href="#") 9月10日：雪佛兰科鲁兹
                li 
                  a(href="#") 9月9日：一汽大众POLO
                li 
                  a(href="#") 9月8日：本田雅阁
                li 
                  a(href="#") 9月7日：奔驰B200
              ul
                li 
                  a(href="#") 9月6日：福特福克斯
                li 
                  a(href="#") 9月5日：雪佛兰科鲁兹
                li 
                  a(href="#") 9月4日：一汽大众POLO
                li 
                  a(href="#") 9月3日：本田雅阁
                li 
                  a(href="#") 9月2日：奔驰B200
          .car-recom.hidden
            h1 车辆推荐
            .car-wrap.clearfix
              .carbox
                a.carimg(href="#")
                  img(src="http://img.souche.com/files/carpicture/46143D7C4A4CDC24BB6B7FC51DBE3FEC_690x460.jpg@240w")
                a.tit 2013款 奔驰GLK300 3.0 4MATIC 手自一体 时尚型
                .car-price 40.96万
              .carbox
                a.carimg(href="#")
                  img(src="http://img.souche.com/files/carpicture/46143D7C4A4CDC24BB6B7FC51DBE3FEC_690x460.jpg@240w")
                a.tit 2013款 奔驰GLK300 3.0 4MATIC 手自一体 时尚型
                .car-price 40.96万
              .carbox
                a.carimg(href="#")
                  img(src="http://img.souche.com/files/carpicture/46143D7C4A4CDC24BB6B7FC51DBE3FEC_690x460.jpg@240w")
                a.tit 2013款 奔驰GLK300 3.0 4MATIC 手自一体 时尚型
                .car-price 40.96万
              .carbox
                a.carimg(href="#")
                  img(src="http://img.souche.com/files/carpicture/46143D7C4A4CDC24BB6B7FC51DBE3FEC_690x460.jpg@240w")
                a.tit 2013款 奔驰GLK300 3.0 4MATIC 手自一体 时尚型
                .car-price 40.96万
              .carbox
                a.carimg(href="#")
                  img(src="http://img.souche.com/files/carpicture/46143D7C4A4CDC24BB6B7FC51DBE3FEC_690x460.jpg@240w")
                a.tit 2013款 奔驰GLK300 3.0 4MATIC 手自一体 时尚型
                .car-price 40.96万
              .carbox
                a.carimg(href="#")
                  img(src="http://img.souche.com/files/carpicture/46143D7C4A4CDC24BB6B7FC51DBE3FEC_690x460.jpg@240w")
                a.tit 2013款 奔驰GLK300 3.0 4MATIC 手自一体 时尚型
                .car-price 40.96万
              .carbox
                a.carimg(href="#")
                  img(src="http://img.souche.com/files/carpicture/46143D7C4A4CDC24BB6B7FC51DBE3FEC_690x460.jpg@240w")
                a.tit 2013款 奔驰GLK300 3.0 4MATIC 手自一体 时尚型
                .car-price 40.96万
              .carbox
                a.carimg(href="#")
                  img(src="http://img.souche.com/files/carpicture/46143D7C4A4CDC24BB6B7FC51DBE3FEC_690x460.jpg@240w")
                a.tit 2013款 奔驰GLK300 3.0 4MATIC 手自一体 时尚型
                .car-price 40.96万
    #footer
      .wrapper
        .foot-detail.clearfix
            .buycarguide.detail-item
                a.title(href="#") 购车指南
                a.art-link(href="#") 二手车靠谱吗
                a.art-link(href="#") 如何挑选二手车
                a.art-link(href="#") 二手车评测
                a.art-link(href="#") 二手车保养注意事项
            .security.detail-item
                a.title(href="#") 服务保障
                a.art-link(href="#") 全方位车辆检测
                a.art-link(href="#") 1年2万公里质保
                a.art-link(href="#") 7天无理由退车
                a.art-link(href="#") 1对1顾问购车
            .about.detail-item
                a.title(href="#") 关于我们
                a.art-link(href="#") 大搜车理念
                a.art-link(href="#") 加入我们
                a.art-link(href="#") 车牛
                a.art-link(href="#") 买车神器
            .contact.detail-item
                a.title(href="#") 联系我们
                a.art-link(href="#") 官方微信
                a.art-link(href="#") 新浪微博
                a.art-link(href="#") 门店地址：北京市海淀区世纪金源购物中心东区广场
        .friendlinks.clearfix
            a.links(href="#") 二手车网
            a.links(href="#") 北京汽车网
            a.links(href="#") 车易拍
            a.links(href="#") 天津二手车网
            a.links(href="#") 米胖汽车
            a.links(href="#") 二手车
            a.links(href="#") 2014汽车报价
            a.links(href="#") 海南二手车
            a.links(href="#") 二手车资讯
            a.links(href="#") 180迈汽车保养
            a.links(href="#") 中山二手车
            a.links(href="#") 力洋VIN码识别
            a.links(href="#") 杭州二手车
            a.links(href="#") 成都二手车
            a.links(href="#") 车险信息网
        p Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号
  