body{
  font-family: "\5FAE\8F6F\96C5\9ED1",Tahoma,Verdana;
    }
    .mem{
        width: 400px;
        height: 340px;
        background-color: #fff;
        border-radius: 0;
        
      }
    .mem-head{
      margin-bottom:20px;
      
    }
    .mem-title{
        font-size: 18px;
        color: #333;
        width: 100%;
      }
    .mem-close{
        position: absolute;
      display: block;
      width: 18px;
      height: 18px;
      background: url("../images/fed/member/popup-close2.png") no-repeat ;
      right: 20px;
      top: 20px;
      cursor: pointer;
    }
    .mem-feed{
        position:relative;
        padding:20px;
    }
    .mem-form{
      margin:0 auto;
      width:255px;
      padding:10px;
      position: relative;
    }
    .mem-controller{
        
        margin-bottom:10px;
    }
    .mem-label{
      color:#444;
      font-size:12px;
      margin-bottom:10px;
    }
    .mem-text-input{
       width: 243px;
       height: 21px;
       line-height: 20px;
       border: 1px solid #d1d1d1;
       padding-left:7px;
       background: url("../images/fed/member/phone.png") no-repeat ;
       background-position: right center;
       padding-top:7px;
       padding-bottom:7px;
    }
    .mem-send{
       width:140px;
       height: 21px;
       line-height: 20px;
       border: 1px solid #d1d1d1;
       padding-left:7px;
       background: url("../images/fed/member/captcha.png") no-repeat ;
       background-position: right center;
       vertical-align :top;
       padding-top:7px;
       padding-bottom:7px;
    }
    .send{
          width: 97px;
        height: 35px;
        border: 1px solid #d1d1d1;
        border-radius: 3px;
        background-color: #f5f5f5;
        font-size:12px;
        color:#333;
              margin-left:5px;
        cursor:pointer;
        line-height:35px;
        vertical-align :top;
        }
        .yzm-box{
            height:40px;
            width:100%;
            
        }
        .send:disabled{
          color:#aaa;
        }
    .mem-button{
       width:250px;
       height:35px;
       color:#fff;
       font-size:16px;
       border:none;
       background-color: #fc7000;
       margin-top:15px;
       cursor:pointer;
    }
    .mem-button:hover{
      background-color: #fc7b15;
    }
    #mem-tel{
      background: url("../images/fed/member/phone.png") no-repeat ;
      background-position: right center;
    }
    .login{
      padding-top:90px;
      width: 1190px;
      margin: 0 auto;
      position: relative;
    }
    .longin-tit{
      height:55px;
      position: relative;
      margin-bottom: 20px;
    }
    .succ-icon{
      width:50px;
      height:52px;
      background: url("../images/common/success-popup.png") no-repeat ;
      float:left;
      margin-left: 380px;
      margin-right: 35px;
    }
    .title{
      float: left;

    }
    .title h1{
      font-size: 24px;
      color: #333;
    }
    .title .renzheng{
      font-size: 16px;
      color: #333;
    }
.login-success{
  padding-top:90px;
  width: 1190px;
  margin: 0 auto;
  position: relative;
}
.success-tit{
  height:55px;
  width: 220px;
  margin: 0 auto;
}
.success-tit .su-icon{
  width:50px;
  height:52px;
  background: url("../images/common/success-popup.png") no-repeat ;
  float:left;
  margin-right: 35px;
}
.success-tit .title{
  font-size: 24px;
  line-height: 52px;
  color: #333;
}
.return{
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  color: #333;
}
.skip{
  display: block;
  position: absolute;
  top: 180px;
  right: -55px;
  font-size: 14px;
  color: #333;
  text-decoration: underline;
}
      