doctype html
html
  head.
      <title>限时特价</title>
      <link href="http://f2e.souche.com/assets/css/souche/$$reset.css,ui.css,common_11.css?t=8" rel="stylesheet" type="text/css" />
      <link href="http://f2e.souche.com/assets/css/index/index_11.css?t=37" rel="stylesheet" type="text/css" />
      <link href="http://f2e.souche.com/assets/css/index/flash_detail.css?t=37" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="http://f2e.souche.com/assets/js/$$lib/jquery-1.7.1.min.js,lib/require.js,lib/jquery.flexslider-min.js"></script>
      <script>
         var contextPath = "";
          require.config({
           baseUrl: "http://f2e.souche.com/assets/js",
           urlArgs:"bust=v1"
         });
      </script>
  body#flash_detail
    include mod/header
    #content
      .wrapper
        .today-box.box-item
          .title.clearfix
            .day-time 今日特价
            .timedown.clearfix
              .time-icon
              .time-end 距结束
              .time.
                <span class="downCounter" endyear="2014" endmonth="10" endday="15" endhour="00"><span><ins>3</ins>&nbsp;<em>天</em>&nbsp;<ins>7</ins>&nbsp;<em>时</em>&nbsp;<ins>55</ins>&nbsp;<em>分</em>&nbsp;<ins>50</ins>&nbsp;<em>秒</em></span></span>
          .car-wrap.clearfix
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
        .today-box.box-item
          .title.clearfix
            .day-time 还剩1天
            .timedown.clearfix
              .time-icon
              .time-end 距结束
              .time.
                <span class="downCounter" endyear="2014" endmonth="10" endday="15" endhour="00"><span><ins>3</ins>&nbsp;<em>天</em>&nbsp;<ins>7</ins>&nbsp;<em>时</em>&nbsp;<ins>55</ins>&nbsp;<em>分</em>&nbsp;<ins>50</ins>&nbsp;<em>秒</em></span></span>
          .car-wrap.clearfix
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
        .today-box.box-item
          .title.clearfix
            .day-time 还剩2天
            .timedown.clearfix
              .time-icon
              .time-end 距结束
              .time.
                <span class="downCounter" endyear="2014" endmonth="10" endday="15" endhour="00"><span><ins>3</ins>&nbsp;<em>天</em>&nbsp;<ins>7</ins>&nbsp;<em>时</em>&nbsp;<ins>55</ins>&nbsp;<em>分</em>&nbsp;<ins>50</ins>&nbsp;<em>秒</em></span></span>
          .car-wrap.clearfix
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
        .tomo-box.box-item
          .title.clearfix
            .day-time 明天特价
            .timedown.clearfix
              .time-icon
              .time-begin 开始时间
              .begin 11月11日 12:00
                
          .car-wrap.clearfix
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
            .carsItem.carItem
              a.carImg(href="#")
                img(src="../../assets/images/index_11/car-pic.png")
              a.car-link(href="#") 雪铁龙 2013款  爱丽舍1.6-手动科技型三厢
              .car-price.clearfix
                .price
                  span ￥
                  span 85
                  span 万
                .time
                  span 2014/11
                  span 上牌
              .price-down 限时优惠：3000元
              .carTail.clearfix.
                <a data-carid="42QNCDHLjV" click_type="sale-favs" data-num="6" title="收藏 6" class="fav carCollect ">
                  <span class="add-to-coll">收藏</span>
                  <span class="already-colled">已收藏</span>
                  <span class="fav-count" data-favcount="6">6</span>
                </a>
              .car-type.clearfix.
                <div class="zhijian">
                  <span class="type-icon">检B+</span>
                  <span class="extra-text hidden">质检 B+</span>
                </div>
                <div class="baoxian ">
                  <span class="type-icon"></span>
                  <span class="extra-text hidden">一年或2万公里质保</span>
                </div>
                <div class="shouquan">
                  <a target="_blank" href="/pages/onsale/car_shop.html?authshopCode=000009">
                    <span class="extra-text hidden">易车之道</span>
                  </a>
                </div>
                <div class="up-time">今日</div>
              
                    

                  
