doctype html
html(xmlns:wb="http://open.weibo.com/wb")
  head.
      <title>首页</title>
      <link href="http://f2e.souche.com/assets/css/souche/$$reset.css,ui.css,common.css?t=8" rel="stylesheet" type="text/css" />
      <link href="http://f2e.souche.com/assets/css/index/index_11.css?t=37" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="http://f2e.souche.com/assets/js/$$lib/jquery-1.7.1.min.js,lib/require.js,lib/jquery.flexslider-min.js"></script>
      <script>
         var contextPath = "";
          require.config({
           baseUrl: "http://f2e.souche.com/assets/js",
           urlArgs:"bust=v1"
         });
      </script>
      <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
  body
    include mod/header
    include mod/top-head
    include mod/choose-nav
    include mod/main-service
    include mod/good-car
    include mod/special-car
    include mod/love-car
    include mod/who-buy
    include mod/footer
    script.
      require(['index_11/index'],function(Index){
         Index.init();
      });