doctype html
html
  head.
      <title>用户故事</title>
      <link href="http://f2e.souche.com/assets/css/souche/$$reset.css,ui.css?t=8" rel="stylesheet" type="text/css" />
      <link href="http://f2e.souche.com/assets/css/souche/common_11.css?t=37" rel="stylesheet" type="text/css" />
      <link href="http://f2e.souche.com/assets/css/index/story.css?t=37" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="http://f2e.souche.com/assets/js/$$lib/jquery-1.7.1.min.js,lib/require.js,lib/jquery.flexslider-min.js"></script>
      <script>
         var contextPath = "";
          require.config({
           baseUrl: "http://f2e.souche.com/assets/js",
           urlArgs:"bust=v1"
         });
      </script>
  body#story
    include mod/header
    #content
      .banner.clearfix(style="background-image:url(../../assets/images/story/aj-banner.jpg);")
      .wrapper
        .text-mod.mod-item
          .text
            .tit
              h1 AJ，7年驾龄，高中毕业后就明智地考取了驾照，陆陆续续开了四年的手动挡，
              h1 家里才换了自动的，更喜欢手动操控的感觉。
            p 去年完成了买房大事，由于房子在郊区，为了出行方便，决定购置一辆属于自己的代步车。
            p 家里人的意识里是没有买旧车这回事的：你不知道车主为什么要转卖，是车有什么问题么？
            p 但是对比了各种新车奇高的购置税，我还是果断开始寻找二手车。找几家靠谱的车行，所有车全面检测通过的，提供质保的，找好了再花时间做足父母的思想工作，终于落定成行。
        .pic-mod.mod-item.clearfix
            img(src="../../assets/images/story/aj-pic1.jpg")
        .textPicmod.mod-item.clearfix
          .text
            .tit
              h1 小众，是一种优雅的姿态
            p 作为一只还有点活在幻想中的女子，minicooper一直是我的dream car。抱着幻想，希望18万内能收一只新一点的mini，无奈二手车都是只能靠运气碰，或者等待，尤其是被人黑出翔的处女座本尊，只要冰川蓝就更难以满足了。
          .pic.clearfix
            img(src="../../assets/images/story/aj-pic2.jpg")
        .text-mod.mod-item
          .tit
            h1 直到杭州限牌的前一天，碰到了他，我的小钢炮。
          p 作为西班牙国民车的它，外形略圆滚，跟一堆尚酷放在一起，有点萌蠢。车身颜色为钛金黑，前车主把轮毂也喷黑，营造出强烈的小钢炮感；同时，改装了前灯，加了行车灯，红色装饰小灯。眨巴着的红色小眼睛和骚红的卡钳，给全身通黑的它添了几分灵气。后侧车门把手隐藏在窗边，加上独特的赛车式座椅，一不小心就假装双门跑车啦！ 
        .pic-mod.mod-item.clearfix
          img(src="../../assets/images/story/aj-pic3.jpg")
        .text-mod.mod-item
          p 销售鼓动我试驾一圈，2.0T的动力百公里加速6.78s确实很惊艳！再加上舒适的操控感，后排空间较大，座椅加热等细节，虽然犹豫了一下西雅图进口车的小众性，但是还是决定就它了。
        .pic-mod.mod-item.clearfix
          img(src="../../assets/images/story/aj-pic4.jpg")
        .text-mod.mod-item
          .tit
            h1 到现在开了5个月，感受四个字：爱不释手。
          p 起步加速秒杀绝大部分家用车，和GTI相近的血统，但Cupra的独特性更胜一筹。至今在全国各地马路上只亲眼见过一辆。爱她，因为她小众。然而，唯一的苦恼也是：这车实在太稀有太小众啦！
          p 跑在路上有一种无人共鸣的孤独感……说到维修啥的，也是有点蛋疼（会不会像是拉仇恨？）
        .pic-mod.mod-item.clearfix
          img(src="../../assets/images/story/aj-pic5.jpg")
        .text-mod.mod-item
          .tit
            h1 亲手设计一个家
          p 去年在杭州工作买房安家。作为一枚有点小追求的设计师+DIY小能手，屋子的装修，自然是要亲自操刀的。一定要有一张巨大的可以打乒乓的工作台啊；不能浪费层高，小阁楼必须搞起啊……
          p 装修这件事儿，耗去XXX精力，却乐此不疲。
        .pic-mod.mod-item.clearfix
          img(src="../../assets/images/story/aj-pic6.jpg")
        .text-mod.mod-item
          .tit
            h1 曾经的魔友
          p 08年的某一天突然对魔方复原产生了兴趣，研究国内网站公式，寻找到各类魔友开始自学，不料传染了周围的一堆小伙伴。一度炉火纯青，特别懊悔的是，24秒复原三阶魔方后就再没继续修炼了，不过收藏的各类魔方成了最大的兴趣爱好，虽然今天的它们已经纷纷落灰。
          p 在东南亚的海岛寻找小海兔
          p 去年才考取了潜水证，每次假期都去东南亚苦练中性浮力，虽然只是寻找一些小海兔，却已经痴迷其中，从此立志做一名潜水教练，带更多的人领略海底奇妙风光，关注海洋事业。
        .pic-mod.mod-item.clearfix
          img(src="../../assets/images/story/aj-pic7.jpg")
        .text-mod.mod-item
          .tit
            h1 装修PM
          p 买了一套带阁楼的复式小窝，由于太挑剔对装修公司的方案都不满意，于是全程自己设计找工人施工，查各种资料，材料大部分是网购，已经练就了专家本领，属于对价格敏感型。现在终于住进了属于自己温馨的空间，正在手工制作各种软装。
        .pic-mod.mod-item.clearfix
          img(src="../../assets/images/story/aj-pic8.jpg")
        .text-mod.mod-item
          .tit
            h1 梦想还是要有的
            p 理想是带着我的猫咪在山林间开一间带杂货铺的工作室，做一些好玩的APP展示售卖自己的收藏和手工，分享一些好玩的事情。但是藏不住一颗躁动的心，这件工作室会随时贴一张告示【关门去野】，用一个visa去做潜水教练或者水下摄影师，去楚克看沉船，加拉帕戈斯追逐垂头鲨，千岛湖探索水下古城，再花一个visa去考取一个跳伞执照，想体验一下从高空跳下到海中直接潜水的感觉！
        .pic-mod.mod-item.clearfix
          img(src="../../assets/images/story/aj-pic9.jpg")
        .like-but.hidden
          .like.clearfix
            i
            span 喜欢 1000
        .recom
          .recom-cont.clearfix
            .head.clearfix
              img(src="../../assets/images/story/aj-logn.jpg")
            .recom-text
              h1 为你推荐“小钢炮”
              p 基于小型的两厢车，装上高性能引擎，结合自身优秀的悬挂，成为公路甚至赛道的利器。
          .recom-car.clearfix
            .car-box 
              a.car-pic(href="#")
                img(src="../../assets/images/story/aj-car1.jpg")
              a.car-brand(href="#") 奔驰GLK
              .price ￥21.5万起
              .reason “非常好的悬挂，适合崎岖的地形”
            .car-box 
              a.car-pic(href="#")
                img(src="../../assets/images/story/aj-car2.jpg")
              a.car-brand(href="#") jeep指南者
              .price ￥21.5万起
              .reason “非常好的悬挂，适合崎岖的地形”
            .car-box 
              a.car-pic(href="#")
                img(src="../../assets/images/story/aj-car3.jpg")
              a.car-brand(href="#") 蓝泽路酷泽
              .price ￥21.5万起
              .reason “非常好的悬挂，适合崎岖的地形”