doctype html
html
  head.
      <title>用户故事</title>
      <link href="http://f2e.souche.com/assets/css/souche/$$reset.css,ui.css?t=8" rel="stylesheet" type="text/css" />
      <link href="http://f2e.souche.com/assets/css/souche/common_11.css?t=37" rel="stylesheet" type="text/css" />
      <link href="http://f2e.souche.com/assets/css/index/story.css?t=37" rel="stylesheet" type="text/css" />
      <script type="text/javascript" src="http://f2e.souche.com/assets/js/$$lib/jquery-1.7.1.min.js,lib/require.js,lib/jquery.flexslider-min.js"></script>
      <script>
         var contextPath = "";
          require.config({
           baseUrl: "http://f2e.souche.com/assets/js",
           urlArgs:"bust=v1"
         });
      </script>
  body#story
    include mod/header
    #content
      .banner.clearfix
        img(src="../../assets/images/index_11/story-banner.jpg")
      .wrapper
        .stage-1
          .text
            h1 "自驾去了很多详情的地方，换过四辆二手车，很喜欢这种自由自在的感觉"
            p 李华是一名建筑设计师，在北京华和建筑所工作。最近他刚刚参与完成了一个美国的博物馆建筑项目。这个博物馆充分结合了但是第的地理环境和天然材料，使用了当地特有的火山石和木、竹、纸等。博物馆将于周围的环境一起构成和谐的景观。这是与环境的对话。
            p 工作之外的李华还是一个自驾游的狂热爱好者，几乎每个月都会与朋友自驾出游一次。
          .pic
            img(src="../../assets/images/index_11/story-pic1.png")
        .stage-2
          .pic
            img(src="../../assets/images/index_11/story-pic2.png")
        .stage-3
          .text
            h1 "我最想自驾去的地方时拉萨，从北京出发，越过八个省，看遍中华美景"
            p 李华是一名建筑设计师，在北京华和建筑所工作。最近他刚刚参与完成了一个美国的博物馆建筑项目。这个博物馆充分结合了但是第的地理环境和天然材料，使用了当地特有的火山石和木、竹、纸等。博物馆将于周围的环境一起构成和谐的景观。这是与环境的对话。工作之外的李华还是一个自驾游的狂热爱好者，几乎每个月都会与朋友自驾出游一次。
        .stage-4
          .pic
            img(src="../../assets/images/index_11/story-pic3.png")    
        .stage-5
          .text
            h1 "最想带着心爱的她，可爱的娃，去相去的地方，享受属于我们的阳光"
            p 李华是一名建筑设计师，在北京华和建筑所工作。最近他刚刚参与完成了一个美国的博物馆建筑项目。这个博物馆充分结合了但是第的地理环境和天然材料，使用了当地特有的火山石和木、竹、纸等。博物馆将于周围的环境一起构成和谐的景观。这是与环境的对话。工作之外的李华还是一个自驾游的狂热爱好者，几乎每个月都会与朋友自驾出游一次。
        .like-but
          .like.clearfix
            i
            span 喜欢 1000
        .recom
          .recom-cont.clearfix
            .head.clearfix
              img(src="../../assets/images/index_11/header.png")
            .recom-text
              h1 李华向您推荐：
              p 小编：李华的自驾游爱车是奔驰GLK。车身侧面线条简洁、流畅，倾斜的腰线贯穿整个侧面，配备金属行李架。动力强劲，空间大，19英寸大车轮，尤其适合自驾游。车身侧面线条简洁、流畅，倾斜的腰线贯穿整个侧面，配备金属行李架。
          .recom-car.clearfix
            .car-box 
              a.car-pic(href="#")
                img(src="../../assets/images/index_11/special-car-pic.png")
              a.car-brand(href="#") 奔驰GLK
              .price ￥21.5万起
              .reason “非常好的悬挂，适合崎岖的地形”
            .car-box 
              a.car-pic(href="#")
                img(src="../../assets/images/index_11/special-car-pic.png")
              a.car-brand(href="#") 奔驰GLK
              .price ￥21.5万起
              .reason “非常好的悬挂，适合崎岖的地形”
            .car-box 
              a.car-pic(href="#")
                img(src="../../assets/images/index_11/special-car-pic.png")
              a.car-brand(href="#") 奔驰GLK
              .price ￥21.5万起
              .reason “非常好的悬挂，适合崎岖的地形”