extends ../tmpl

block title
    title 购车心愿卡

block head
    link(href="http://f2e.souche.com/assets/css/index/index_11.css?t=37" rel="stylesheet" type="text/css")
    link(href="http://f2e.souche.com/assets/css/layout-wish-card.css" rel="stylesheet" type="text/css")

block body
    include mod/header

    // 购车心愿卡
    // 填写心愿 和 推荐的车辆
    .wish-card-main
        include mod/wish-fill-form
        include mod/wish-car-list
        .guess-like
    

        
        
     
       
    script.
        //- 抽空看看那些接口不需要就去掉
        var wishCardConfig={
            userRequementJson:{},
            userRequirementJsonForTag:{},
            series_api:'/pages/dicAction/loadRootLevelForCar.json?type=car-subdivision&code=',
            brand_api:'/pages/dicAction/loadRootLevel.json?type=car-subdivision',
            getMoreUserRecommend_api:"/pages/homePageAction/loadUserRecommendCar.json?page",
            getMoreHotCars_api:"/pages/homePageAction/loadHotRecCars.json?page=",
            getMoreOtherCars_api:"/pages/homePageAction/loadHotNewCar.json",
            search_api:"/pages/common/boxSuggestAction/list.json",
            submit_api:"/pages/homePageAction/saveBuyInfo.json",
            api_saveFavorite:'/pages/saleDetailAction/savaCarFavorite.json',
            api_delFavorite:'/pages/saleDetailAction/delCarFavorite.json',
            api_addContrast:'/pages/carContrastAction/addContrastCar.json',
            api_deleteContrast:'/pages/carContrastAction/deleteContrastCar.json',
            carType:'zaishou',
            api_matchUrl:"http://www.souche.com/pages/onsale/sale_car_list.html",
            api_nolikeUrl:"/pages/saleDetailAction/notLikeMatchCar.json",
            api_guessCars:"/pages/guesscars.html",
            api_showTipUrl:"/pages/homePageAction/queryTagTip.json",
            api_noShowTipUrl:"/pages/homePageAction/readTagTip.json",
            api_addToWishUrl:""
        };
        //- todo remove test
        wishCardConfig.api_guessCars = 'http://souche.com'+ wishCardConfig.api_guessCars;
        
    script.
        require(['wish-card/index'], function(Index){
            Index.init(wishCardConfig);
        });
    
