doctype html
html
    head
        meta(charset="utf-8")
        block title
        link(href="http://f2e.souche.com/assets/css/souche/$$reset.css,ui.css,common.css?t=8" rel="stylesheet" type="text/css")
        script(type="text/javascript" src="http://f2e.souche.com/assets/js/$$lib/jquery-1.7.1.min.js,lib/require.js,lib/jquery.flexslider-min.js")

        script.
            require.config({
                baseUrl: "http://f2e.souche.com/assets/js"
            });
        block head
    body
        block body