// car item的容器 增宽20px, 以便放下4*(280+20)辆车
// 1180 + 20 = 4*(280+20)
@route:"..";
.myAdviser{
    margin-left: 0;
    margin-right: -20px;
}
.carsMore {
    padding: 10px 0px;
    text-align: center;
    position: relative;
    background: #F5F5F5;
    border: 1px solid #E6E6E6;
    font-size: 15px;
    cursor: pointer;
}
@import "../index/mod/carItem.less";