* {
    margin: 0;
    padding: 0;
    font-family: 'Microsoft YaHei', Tahoma, Verdana;
}
.clearfix{

}
#mini-h5{
  background-color: #267365;
  .wrapper{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 40px;
    .fenxiang{
      width: 100%;
      display: block;
      top: 0;
      position: fixed;
      left: 0;
      z-index: 10000;
    }
    .banner{
      width: 100%;
    }
    .mini-danshen{
      margin-top: 30px;
      p{
        font-size: 15px;
        color: #fff;
        padding: 35px;
      }
    }
    .mini-dashi{
      margin-top: 30px;
      .wrapper{
        width: 295px;
        margin: 0 auto;
        .dashi-box{
          margin-top: 10px;
          height: 77px;
          img{
            width: 45px;
            height: 45px;
            display: block;
            float: left;
            margin-left: 5px;
          }
          .dashi-text{
            width: 235px;
            float: left;
            border:1px dashed #fff;
            padding: 3px;
            font-size: 14px;
            color: #fff;
          }
        }
      }
    }
    .mini-suoyou{
      margin-top: 35px;
      margin-bottom: 50px;
    }
    .mini-mingreng{
      margin-top: 30px;
      .shishang{
        margin-top: 40px;
        background-color: #194f45;
        padding: 25px 15px;
        p{
          color: #fff;
          font-size: 15px;
        }
      }
      .shishang-car{
        background-color: #22675a;
        padding-top: 20px;
        padding-bottom: 50px;
      }
    }
    .mini-movice{
      margin-top: 40px;
      margin-bottom: 30px;
      .movice-text{
        padding: 20px;
        p{
          color: #fff;
          font-size: 15px;
        }
      }
    }
    .foot{
      margin: 0 auto;
      width: 180px;
      a{
        display: block;
        width: 180px;
        height: 90px;
      }
      img{
        width: 180px;
        height: 90px;
        margin: 0 auto;
      }
    }
  }
}