
.wrapper-320{
  overflow: hidden;
  width: 320;
  margin: 0 auto;
}
.header{
  position: relative;
  background-color: @orange;
  height: 45px;
  
  .text{
    float: left;
    color:#fff;
    width: 70%;
    text-align: center;
    padding-top: 12px;
    font-size:18px;
  }
  .back-icon{
    padding:25px 0 0 15px;
    background: url(../../../images/mob/h5-2/back.png) no-repeat center center;
    background-size: 10px;
    width:10%;
    height: 17px;
    float: left
  }
  .header-feature{
    position: absolute;
    height: 100%;
    right: 0px;
    top:0px;
    padding-top: 12px;
    .search-icon{
      float: left;
      background: url(../../../images/mob/h5-2/search.png) no-repeat center center;
      background-size: 16px;
      width:17px;
      height: 17px;
      margin-right: 25px;
    }
    .search-icon-2{
      display: none;
      float: left;
      background: url(../../../images/mob/h5-2/search-2.png) no-repeat center center;
      background-size: 16px;
      width:17px;
      height: 17px;
      margin-right: 25px;
    }
    .tel-icon{
      float: left;
      background: url(../../../images/mob/h5-2/tel.png) no-repeat center center;
      background-size: 16px;
      width:17px;
      height: 17px;
      margin-right: 20px;
    }
  }
  .search-box{ 
    position: absolute;
    top:40px;
    z-index: 5;
    width: 100%;
    display: none;
    .search-header{
      padding: 5px 10px; 
      overflow: hidden;
      background-color: #eaeaea;
      .input{
        width: 85%;
        border-radius: 5px;
        background-color:#fff;
        height: 30px;
        line-height: 30px;
        float: left;
        .cancel-icon{
          display: inline-block;
          background: url(../../../images/mob/h5-2/search-cancel.png) no-repeat center center; 
          width: 18px;
          height: 18px;
          background-size: 18px;
          vertical-align: middle;
          margin-left: 10px;
        }
        
        input[type='text']{
          font-size: 14px;
          border:none;
          width: 85%;
          height: 28px;
        }
      }
      .search-btn{
        cursor: pointer;
        width:15%;
        float: left;
        height: 30px;
        span{
          padding-left: 10px;
          line-height: 30px;
          font-size: 14px;
        }
      }
    }
  }
}

.content{
  font-size: 14px;

  .gouche-info{
    margin:20px 10px;
    .photo{
      float: left;
      img{
        width: 45px;
        height: 45px;
      }
    }
    .text{
      position: relative;
      padding: 8px 10px;
      width: 220px;
      margin:0 10px 0 55px;
      background-color: rgb(255,247, 212);
      border-radius: 8px;
      border:1px solid rgb(242,228,165);
      p{
        line-height: 20px;
      }
      .hi-img{
        background: url(../../../images/mob/h5-2/hi-array.png) no-repeat;
        background-size: 8px;
        width:8px;
        height: 11px;
        position:absolute;
        top: 15px;
        left: -8px;
      }
      .step{
        position: relative;
        margin: 10px 0;
        border:1px solid rgb(213,205,169);
        .circle{
          width: 7px;
          height: 7px;
          border-radius: 100%;
          background-color: rgb(213,205,169);
          position: absolute;
          top:-4px;
        }
        .circle.active{
          width: 11px;
          height: 11px;
          background-color: @orange;
          top:-6px;
          
        }
        #step-circle-1{
          left:-6px;
        }
        #step-circle-2{
          left:106px;
        }
        #step-circle-3{
          left:216px;
        }
      }
    }
  }
  .btns{
    button{
      background-color: @orange;
      width:300px;
      height: 40px;
      color:#fff;
      border-radius: 8px;
      border:none;
      font-size:18px;
      display: block;
      margin: 0 8px;
      margin-top:30px;
    }
  }
  //page-2
  #brand{
    .selected-brand{
      width: 90%;
      margin: 0 auto;
      border: 1px dashed rgb(233,233,233);
      border-radius: 8px;
      padding: 9px 3px 3px 0;
      overflow: hidden;
      display: none;
      .sb-item{
        margin:0 0 6px 6px;
        float: left;
        border:2px solid rgb(233,233,233);
        border-radius: 8px;
        padding: 9px;
        .close-icon{
          display: inline-block;
          background: url(../../../images/mob/h5-2/search-cancel.png) no-repeat center center; 
          width: 18px;
          height: 18px;
          background-size: 18px;
          vertical-align: -3px;
          margin-left: 3px;
        }
      }
    }

    #brand-icons-container{
      margin:10px 0 0 0;
      .icon-group{
        width: 100%;
        margin: 0 auto; 
        overflow: hidden;
        text-align: center;
        margin-top:15px;
        #more-brand{
          width:40px;
          height: 40px;
          border-radius: 80%;
          background-color: rgb(223,223,223);
          margin: 0 auto;
          .more-circle{
            width:24px;
            margin: 0 auto;
            overflow: hidden;
          }
          .more-inner-circle{
            width: 4px;
            height: 4px;
            float: left;
            border-radius: 80%;
            margin:10px 2px 6px 2px;
            background-color: rgb(102,102,102);
          }
        }
        .icon-item{
          width: 25%;
          float: left;
          position: relative;
          .brand-img{
            position: relative;
            width: 28px;
            margin: 0 auto;
            .brand-array{
              position: absolute;
              background: url(../../../images/mob/h5-2/brand-array.png) no-repeat center center; 
              background-size: 13px;
              left:7px;
              bottom:-28px;
              width:13px;
              height: 7px;
              display: none;
            }
          }
          img{
            width: 28px;
            height: 28px;
          }
          .brand-name{
            margin-top: 5px;
          }
       
        }

      .fold-series{
        width:100%;
        clear:both;   
        padding:8px 0;
        display: none;
        .wrapper{
          padding:20px;
          overflow: hidden;
          background-color:rgb(223,223,223);            
          .series-item{   
            width: 50%;
            float: left;
            margin: 8px 0;
            .text{
              text-align: center;
              height: 35px;
              line-height: 35px;
              background-color: #fff;
              margin: 0 8px;
              border-radius: 8px;
              color:rgb(71, 71, 71);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              border:2px solid #fff;
            }
            .text.selected{
              border:2px solid @orange;
              background:rgb(255,255,255,0) url(../../../images/mob/h5-2/selected-corner.png) no-repeat right bottom; 
            }
          }

        }
      }
      }
    }
  }//end of page-2

  //page-3
  #carYearContainer{
    margin:25px 0 100px 0px;
    padding:0 20px;
    .year-group{
      overflow: hidden;
    }
    .year-item{
      text-align: center;
      float: left;
      width: 33.3%;
      .text{
        border:2px solid rgb(223,223,223);
        height: 35px;
        line-height: 35px;
        margin: 5px;
        border-radius: 8px;
      }
      .text.selected{
         border:2px solid @orange;
         background:rgb(255,255,255,0) url(../../../images/mob/h5-2/selected-corner.png) no-repeat right bottom;   
      }
    }
  }
}

#phonePopup{
  z-index: 1000;
  background-color:#fff;
  position: absolute;
  top:150px;
  left: 0;
  padding-top:30px;
  border-radius: 8px;
  .wrapper-300{
    width: 300px;
  }
  .wrapper-234{
    margin: 0 auto;
    width: 234px;
  }
  #phone-form{
    margin-top:20px;
    input{
      height: 35px;
      width: 230px;
      border-radius:8px;
      padding-left:10px;  
      border:2px solid #b1b1b1;
    }
    .btn{
      width: 150px;
      margin: 0 auto;
      #phone-btn{
        background-color: @orange;
        width:130px;
        height: 40px;
        color:#fff;
        border-radius: 8px;
        border:none;
        font-size:18px;
        display: block;
        margin: 30px 8px 30px 8px;
      }
    }
  }
  .text{
    font-size: 18px;
    text-align: center;
  }
}
.cover-layer{
  width: 99999px;
  height: 99999px;
  z-index: 100;
  background-color: #7f7f7f;
  opacity: 0.6;
  position: absolute;
  top:0;
  left: 0;
}