.header{
  .back-icon {
    padding: 0;
    padding-left: 12px;
    background: url(../../../images/mob/h5-2/back.png) no-repeat left center;
    background-size: 10px;
    width: 10%;
    height: 45px;
    line-height: 45px;
    float: left;
    color: #fff;
  }
  .header-feature{
    .search-icon{
      margin-right: 20px;
    }
    .search-icon-2{
      margin-right: 20px;
    }
  }
}

.content{
  .gouche-info{
    margin-bottom: 10px;
    .text.found{
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 0; 
      padding-bottom: 0;
      p{
        line-height: 45px;
      }
    }
  }
  .modify-demand{
    width: 300px;
    margin-bottom: 10px;
    overflow: hidden;
    #change-btn{
      float:right;
      background-color: rgb(196,176,159);
      width: 72px;
      border: none;
      height: 28px;
      border-radius: 8px;
      color:#fff;
    }
  }
  .all-group{
    padding:7px 0 0 10px;
    margin-left:10px; 
    border-left: 1px solid rgb(229,229,229);
    position: relative;
    .car-group{
      position: relative;
      margin-bottom:50px; 
      .guwen-circle{
        background: url(../../../images/mob/h5-2/guwen-circle.png) no-repeat center center; 
        background-size:7px;
        height: 7px;
        width: 7px;
        position: absolute;
        left:-14px;
        top:-20px;
      }
      .title{
        position: absolute;
        top:-25px;
        .today{
          color: rgb(127,127,127);
        }
      }
      .car-item{
        margin: 7px 0;
        overflow: hidden;
        .left{
          position: relative;
          float:left;
          width:105px;
          height: 70px;
          overflow: hidden;
          img{
            width: 100%;
          }
          .time-icon{
            background: url(../../../images/mob/i-shangou.png) no-repeat center center;
            background-size: 27px;
            height: 27px;
            width: 27px;
            position: absolute;
            top:2px;
            left: 2px;
          }
        }
        .right{
          margin-left: 105px;
          padding: 3px 7px;
          .brand{
            line-height: 20px;
            min-height: 40px;
            .good{
              padding: 2px;
              margin-right: 2px;
              background-color: @orange;
              color:#fff;
              height: 16px;
            }
            .new{
              padding: 2px;
              margin-right: 2px;
              background-color: rgb(119,177,84);
              color:#fff;
            }
          }
          .bottom{
            margin-top: 10px;
            overflow: hidden;
            .price{
              float: left;
              color:@orange;
            }
            .time{
              float: right;
              color: rgb(153,153,153);
            }
          }
        }
      }
    }
}
}
