* {
  font-family: 'Microsoft YaHei', Tahoma, Verdana;
}
#crm .wrapper {
  width: 1280px;
  margin: 0 auto;
}
#crm #head {
  height: 60px;
  background-color: #1271BF;
  width: 1280px;
  margin: 0 auto;
}
#crm #head .head-title {
  line-height: 60px;
  color: #fff;
  font-size: 30px;
  margin-left: 20px;
}
#crm #nav {
  width: 110px;
  float: left;
  height: 1495px;
  background-color: #363636;
}
#crm #nav .nav-title {
  background-color: #434343;
  color: #C3C3C3;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}
#crm #nav .nav-title i {
  display: block;
  width: 14px;
  height: 14px;
  float: left;
  background: url(../../images/crm/hujiao.png) no-repeat;
  margin-top: 19px;
  margin-right: 5px;
}
#crm #nav .nav-title span {
  display: block;
  float: left;
}
#crm #nav a {
  color: #9A9C9D;
}
#crm #nav a:hover {
  color: #1271BF;
}
#crm #content {
  background-color: #FAFAFA;
  padding: 15px;
  float: left;
  width: 1170px;
  height: 1495px;
}
#crm #content .cont .active {
  position: relative;
}
#crm #content .cont .active a {
  background-color: #FAFAFA;
}
#crm #content .cont .active i {
  display: block;
  width: 8px;
  height: 8px;
  background: url(../../images/crm/close.png) no-repeat;
  position: absolute;
  top: 17px;
  right: 7px;
  opacity: 1;
}
#crm #content .notice {
  width: 100%;
  height: 100px;
  overflow: auto;
  padding: 10px 15px;
  background-color: #FFF6E3;
  margin-top: 20px;
}
#crm #content .notice .title {
  font-size: 15px;
  font-weight: bold;
}
#crm #content .notice .notice-list {
  font-size: 12px;
}
#crm #content .notice .notice-list li {
  margin-bottom: 5px;
  position: relative;
}
#crm #content .notice .notice-list li .title {
  color: #fc7000;
  margin-right: 20px;
  font-size: 12px;
  cursor: pointer;
}
#crm #content .notice .notice-list li em {
  color: #666;
}
#crm #content .notice .notice-list li .time {
  color: #666;
  position: absolute;
  right: 1px;
}
#crm #content .cont-wrap {
  padding-top: 20px;
}
#crm #content .task {
  width: 575px;
  height: 200px;
  background-color: #fff;
  float: left;
  padding: 15px;
}
#crm #content .task .tit {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}
#crm #content .task .task-tit {
  width: 15%;
  float: left;
  height: 130px;
  text-align: right;
}
#crm #content .task .task-tit li {
  margin-bottom: 15px;
}
#crm #content .task .task-num {
  width: 80%;
  float: left;
  height: 130px;
  margin-left: 10px;
}
#crm #content .task .task-num li {
  margin-bottom: 15px;
}
#crm #content .task .task-num .num {
  width: 360px;
}
#crm #content .task .task-num i {
  display: block;
  float: left;
  height: 18px;
}
#crm #content .task .task-num span {
  margin-left: 5px;
}
#crm #content .task .task-num a {
  margin-left: 5px;
}
#crm #content .champion {
  width: 535px;
  height: 200px;
  margin-left: 20px;
  float: left;
  background-color: #fff;
  padding: 15px;
}
#crm #content .champion .tit {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
#crm #content .champion .champion-box {
  padding: 0px 30px;
}
#crm #content .champion .champion-box .lastmouth {
  float: left;
  width: 50%;
}
#crm #content .champion .champion-box .lastmouth .title {
  width: 100%;
  background: url(../../images/crm/champion.png) no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: 12px;
  height: 22px;
}
#crm #content .champion .champion-box .thismouth {
  float: left;
  width: 50%;
}
#crm #content .champion .champion-box .thismouth .title {
  width: 100%;
  background: url(../../images/crm/champion.png) no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: 12px;
  height: 22px;
}
#crm #content .champion .champion-box ul {
  margin-top: 10px;
}
#crm #content .champion .champion-box ul li {
  padding-left: 25px;
  margin-bottom: 15px;
}
#crm #content .champion .champion-box ul li span {
  margin-left: 10px;
  font-weight: bold;
}
#crm #content .tit {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
#crm #content .myclient {
  width: 575px;
  height: 415px;
  background-color: #fff;
  float: left;
  padding: 15px;
  margin-top: 20px;
}
#crm #content .myclient .client tr {
  border-bottom: 1px solid #F5F5F5;
  height: 30px;
  width: 100%;
}
#crm #content .myclient .client th {
  text-align: right;
  padding-left: 50px;
  font-size: 13px;
  font-weight: bold;
  padding-right: 10px;
}
#crm #content .myclient .client td {
  padding-left: 40px;
  padding-right: 10px;
  text-align: center;
  font-size: 13px;
  color: #1B73BC;
}
#crm #content .myclient .client .grade {
  padding-left: 10px;
  text-align: left;
  color: #666;
}
#crm #content .myassess {
  width: 535px;
  height: 415px;
  margin-left: 20px;
  float: left;
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
}
#crm #content .myassess .assess {
  margin-top: 20px;
}
#crm #content .myassess .assess .num {
  height: 30px;
  border: 1px solid #60A8F2;
  background-color: #E9F4FE;
  line-height: 30px;
  text-align: center;
  margin-bottom: 45px;
}
#crm #content .myassess .assess .rate {
  left: 3px;
  padding-left: 30px;
  position: absolute;
  top: 44px;
}
#crm #content .myassess .assess .rate span {
  margin-left: 5px;
}
#crm #content .myassess .assess .sum {
  width: 380px;
  margin: 0 auto;
  position: relative;
}
#crm #content .myassess .assess .yuyue {
  width: 260px;
  margin: 0 auto;
  position: relative;
}
#crm #content .myassess .assess .shiji {
  width: 250px;
  margin: 0 auto;
  position: relative;
}
#crm #content .myassess .assess .kanche {
  width: 240px;
  margin: 0 auto;
  position: relative;
}
#crm #content .myassess .assess .success {
  width: 240px;
  margin: 0 auto;
  position: relative;
}
#crm #content .daodian {
  background-color: #fff;
  padding: 15px;
}
#crm #content .daodian .time-but {
  width: 280px;
  margin-bottom: 20px;
}
#crm #content .daodian .time-but a {
  color: #127BD2;
  border-color: #127BD2;
}
#crm #content .daodian .time-but a:hover {
  color: #EBEBEC;
  background-color: #127BD2;
}
#crm #content .daodian .daodian-detail {
  overflow: auto;
  height: 185px;
}
#crm #content .daodian table tr {
  border-bottom: 1px solid #F5F5F5;
  height: 30px;
  width: 100%;
}
#crm #content .daodian table th {
  text-align: left;
  padding-left: 20px;
  font-size: 13px;
  font-weight: bold;
  padding-right: 40px;
}
#crm #content .daodian table td {
  padding-left: 20px;
  padding-right: 40px;
  text-align: center;
  font-size: 13px;
  color: #666;
}
#crm #content .daodian table td i {
  width: 10px;
  height: 10px;
  display: block;
  background-color: #EC5D57;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
#crm #content .daodian table td span {
  float: left;
}
#crm #content .daodian table .record {
  width: 430px;
  text-align: left;
}
#crm #content .carchange {
  margin-top: 30px;
  background-color: #fff;
  padding: 15px;
}
#crm #content .carchange .change .changesum {
  float: left;
  line-height: 25px;
  font-size: 14px;
  width: 95px;
  font-weight: bold;
  margin-right: 25px;
}
#crm #content .carchange .change .change-table {
  float: left;
  height: 195px;
  overflow: auto;
}
#crm #content .carchange .change .change-table table tr {
  border-bottom: 1px solid #F5F5F5;
  height: 30px;
  width: 100%;
}
#crm #content .carchange .change .change-table table th {
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}
#crm #content .carchange .change .change-table table td {
  text-align: left;
  font-size: 13px;
  color: #666;
}
#crm #content .carchange .change .change-table table .carname {
  width: 400px;
}
#crm #content .carchange .change .change-table table .time {
  width: 100px;
  padding-left: 10px;
}
#crm #content .carchange .change .change-table table .reason {
  width: 120px;
}
#crm #content .carchange .change .change-table table .price {
  width: 125px;
}
#crm #content .carchange .change .change-table table .condition {
  width: 130px;
}
#crm #content .carchange .change .change-table table .relevance {
  width: 105px;
}
.content-box {
  margin-top: 20px;
}
.content-box .kehu-info {
  width: 280px;
  float: left;
}
.content-box .kehu-info .kehu-num {
  height: 45px;
  width: 100%;
}
.content-box .kehu-info .kehu-num .id-num {
  float: left;
  margin-top: 10px;
  color: #404040;
}
.content-box .kehu-info .kehu-num .change-but {
  float: right;
  width: 50px;
  height: 30px;
}
.content-box .info-box {
  border: 1px solid #D6D6D6;
  background: #fff;
  padding: 10px;
  width: 100%;
}
.content-box .info-box .kehu-name .name {
  float: left;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}
.content-box .info-box .kehu-name .name span {
  color: #FC7000;
  font-size: 12px;
  margin-left: 5px;
}
.content-box .info-box .kehu-name .address {
  float: right;
  font-size: 15px;
  color: #333;
  font-weight: bold;
}
.content-box .info-box .sex .ago {
  float: left;
}
.content-box .info-box .sex .from {
  float: right;
}
.content-box .info-box .remarks {
  height: 30px;
  padding: 5px;
  color: #FC7000;
  border: 1px solid #FDE7CC;
  background: #FFF6E3;
  line-height: 17px;
  margin: 10px 0;
}
.content-box .info-box .phone-level .phone {
  float: left;
}
.content-box .info-box .phone-level .phone .main-phone {
  font-weight: bold;
  position: relative;
}
.content-box .info-box .phone-level .phone .main-phone em {
  color: #999;
  margin-left: 5px;
}
.content-box .info-box .phone-level .phone .main-phone i {
  display: block;
  position: absolute;
  width: 15px;
  height: 14px;
  background: url(../../images/crm/phone.png) no-repeat;
  top: 1px;
  right: -20px;
  cursor: pointer;
}
.content-box .info-box .phone-level .phone .phone-aother {
  font-weight: normal;
  margin-top: 6px;
}
.content-box .info-box .phone-level .level {
  float: right;
}
.content-box .info-box .phone-level .level .buy {
  color: #F49D35;
  font-size: 15px;
}
.content-box .info-box .phone-level .level .sell {
  color: #70BF41;
  font-size: 15px;
}
.content-box .info-box .phone-level .level span {
  font-size: 13px;
  color: #666;
  margin-left: 10px;
}
.content-box .info-box .detail {
  margin-top: 10px;
}
.content-box .info-box .detail .detail-info {
  border-top: 1px dotted #D6D6D6;
}
.content-box .info-box .detail .detail-show.detail-hidden {
  height: 12px;
  background: url(../../images/crm/hide.png) no-repeat;
  background-position: center;
  cursor: pointer;
}
.content-box .info-box .detail .detail-show {
  height: 12px;
  background: url(../../images/crm/show.png) no-repeat;
  background-position: center;
  cursor: pointer;
}
.content-box .info-box .detail-other {
  border-bottom: 1px solid #D6D6D6;
  margin-top: 10px;
  padding-bottom: 10px;
}
.content-box .info-box .detail-other .item-tit {
  font-weight: bold;
  line-height: 25px;
}
.content-box .info-box .detail-other .item-tit span {
  font-weight: normal;
}
.content-box .info-box .detail-other .item-tit em {
  font-weight: normal;
  color: #888;
}
.content-box .info-box .detail-other .item-tit-s {
  color: #EE706B;
}
.content-box .info-box .situation {
  border-bottom: 1px solid #D6D6D6;
  margin-top: 10px;
  padding-bottom: 10px;
}
.content-box .info-box .situation .situa-box {
  margin-bottom: 10px;
}
.content-box .info-box .situation .situa-box .title {
  font-weight: bold;
  margin-bottom: 2px;
}
.content-box .info-box .situation .situa-box .cont {
  color: #888;
  line-height: 25px;
}
.content-box .info-box .card {
  margin: 15px 0;
  padding-left: 20px;
}
.content-box .info-box .card .idcar {
  margin-bottom: 5px;
}
.content-box .content-right {
  width: 835px;
  float: right;
}
.content-box .content-right .topic .title {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  border-bottom: 1px solid #D6D6D6;
  line-height: 45px;
}
.content-box .content-right .topic .topic-head {
  line-height: 40px;
}
.content-box .content-right .topic .topic-head span {
  margin-right: 10px;
}
.content-box .content-right .topic .topic-head label {
  margin-right: 20px;
  font-weight: normal;
}
.content-box .content-right .topic .topic-list {
  font-size: 12px;
  border-top: 1px solid #D6D6D6;
  border-bottom: 1px solid #D6D6D6;
}
.content-box .content-right .topic .topic-list tr {
  height: 30px;
  border-bottom: 1px solid #D6D6D6;
  background: #fff;
}
.content-box .content-right .topic .topic-list th {
  padding-left: 10px;
}
.content-box .content-right .topic .topic-list td {
  padding-left: 10px;
}
.content-box .content-right .topic .topic-list .table-tit {
  background: #F5F5F5;
}
.content-box .content-right .topic .paging {
  float: right;
  padding-right: 10px;
  margin-top: 10px;
  line-height: 28px;
  height: 30px;
  width: 365px;
}
.content-box .content-right .topic .paging span {
  color: #1271BF;
  margin-right: 10px;
  display: block;
  float: left;
  line-height: 28px;
  font-weight: bold;
}
.content-box .content-right .topic .paging em {
  display: block;
  float: left;
}
.content-box .content-right .topic .paging input {
  display: block;
  float: left;
  width: 40px;
  height: 28px;
  border: 1px solid #D6D6D6;
  margin: 0 10px;
  font-size: 12px;
  padding: 4px;
  line-height: 20px;
  text-align: center;
}
.content-box .content-right .topic .paging a {
  display: block;
  float: left;
}
.content-box .content-right .topic .paging .page {
  height: 28px;
  width: 28px;
  border: 1px solid #D6D6D6;
  background: #fff;
  line-height: 28px;
  color: #666;
  margin-right: 10px;
  text-align: center;
}
.content-box .content-right .topic .paging .next {
  width: 60px;
  height: 28px;
  border: 1px solid #D6D6D6;
  background: #fff;
  line-height: 28px;
  margin-right: 10px;
  text-align: center;
  margin-left: 10px;
  color: #666;
}
.content-box .content-right .topic .paging .submit {
  width: 45px;
  height: 28px;
  border: 1px solid #D6D6D6;
  background: #F6F6F6;
  color: #444;
  text-align: center;
  margin-left: 10px;
}
.content-box .content-right .multimeter {
  margin-top: 40px;
}
.content-box .content-right .multimeter ul li a {
  background: #FAFAFA;
}
.content-box .content-right .multimeter .screen {
  margin-top: 10px;
  font-size: 13px;
  line-height: 28px;
}
.content-box .content-right .multimeter .screen span {
  font-weight: bold;
  margin-left: 15px;
}
.content-box .content-right .multimeter .screen input {
  width: 35px;
  height: 28px;
  border: 1px solid #D6D6D6;
  background: #fff;
  color: #666;
  line-height: 20px;
  margin-right: 5px;
  padding-left: 5px;
}
.content-box .content-right .multimeter .screen select {
  height: 28px;
}
.content-box .content-right .intent {
  margin-top: 15px;
  position: relative;
  margin-bottom: 15px;
}
.content-box .content-right .intent .title {
  float: left;
  font-weight: bold;
  margin-right: 10px;
  line-height: 35px;
}
.content-box .content-right .intent .model-but {
  float: left;
  width: 380px;
}
.content-box .content-right .intent .model-but a {
  color: #127BD2;
  border-color: #127BD2;
  background: #EBEBEC;
}
.content-box .content-right .intent .model-but a:hover {
  color: #EBEBEC;
  background-color: #127BD2;
}
.content-box .content-right .intent .model-but .a-active {
  color: #EBEBEC;
  background-color: #127BD2;
}
.content-box .content-right .intent .add-carinfo {
  position: absolute;
  width: 130px;
  height: 34px;
  color: #666;
  top: 1px;
  right: 25px;
}
.content-box .content-right .car-model {
  font-size: 13px;
  border-top: 1px solid #D6D6D6;
}
.content-box .content-right .car-model tr {
  border-bottom: 1px solid #D6D6D6;
  height: 30px;
}
.content-box .content-right .car-model th {
  padding-left: 10px;
}
.content-box .content-right .car-model td {
  padding-left: 10px;
}
.content-box .content-right .car-model .cardetail {
  background: #fff;
  color: #444;
}
.content-box .content-right .car-model .cardetail span {
  margin-right: 15px;
}
.content-box .content-right .car-model .cardetail .cancel {
  color: #127BD2;
  cursor: pointer;
}
.content-box .content-right .car-model .sold {
  color: #999;
}
.content-box .content-right .car-model .table-head {
  background: #F5F5F5;
  cursor: pointer;
}
.content-box .content-right .car-model .table-head th {
  font-weight: bold;
}
.content-box .content-right .car-model .table-head .time {
  color: #888;
}
.content-box .content-right .car-model .table-head .action {
  color: #127BD2;
}
.content-box .content-right .car-model .table-head .action a {
  margin-right: 20px;
  cursor: pointer;
}
.content-box .content-right .car-model .table-head i {
  display: block;
  width: 15px;
  height: 14px;
  background: url(../../images/crm/car-model.png) no-repeat;
  float: left;
  margin-top: 2px;
  margin-right: 5px;
}
.content-box .content-right .sendto-phone {
  margin-top: 15px;
  border-bottom: 1px solid #D6D6D6;
  padding-bottom: 10px;
}
.content-box .content-right .task-text {
  margin-top: 15px;
  color: #fc7000;
}
.content-box .content-right .task-text em {
  font-weight: bold;
}
.content-box .content-right .addrecord {
  margin-top: 20px;
}
.content-box .content-right .addrecord button {
  margin: 0 auto;
  display: block;
}
.addcar {
  width: 510px;
  height: 490px;
  background: #fff;
  border: 1px solid #e1e1e1;
  position: relative;
  padding: 15px;
}
.addcar .close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../../images/crm/close2.png) no-repeat;
  opacity: 1;
}
.addcar .title {
  font-weight: bold;
  margin: 10px 0;
  font-size: 16px;
}
.addcar #content span {
  font-weight: bold;
}
.addcar #content form .price-yuji {
  margin-bottom: 10px;
}
.addcar #content form .price-yuji input {
  width: 50px;
  height: 25px;
  margin: 0 5px;
  padding-left: 5px;
}
.addcar #content form .addbynum {
  margin-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
}
.addcar #content form .addbynum input {
  width: 105px;
  height: 30px;
  margin-right: 10px;
  padding-left: 5px;
}
.addcar #content form .addbymodel {
  margin-bottom: 15px;
}
.addcar #content form .addbymodel .bumodel-box {
  width: 365px;
  float: right;
}
.addcar #content form .addbymodel .bumodel-box .select .select-box {
  float: left;
  width: 180px;
}
.addcar #content form .addbymodel .bumodel-box .select .select-box select {
  width: 70px;
  margin: 5px;
}
.addcar #content form .addbymodel .bumodel-box .select .select-box label {
  font-weight: normal;
}
.addcar #content form .addbymodel .bumodel-box .color span {
  font-weight: bold;
  margin-left: 7px;
}
.addcar #content form .addbymodel .bumodel-box .color .color-box {
  padding: 5px;
}
.addcar #content form .addbymodel .bumodel-box .color .color-box label {
  font-weight: normal;
  margin-right: 10px;
}
.addcar #content form .addbymodel .bumodel-box .add {
  margin-left: 7px;
}
.addcar #content form .addbymodel .bumodel-box .add .tit {
  font-weight: bold;
}
.addcar #content form .addbymodel .bumodel-box .add textarea {
  padding: 5px;
}
.addcar #content form .submit-add {
  margin: 0 auto;
  width: 85px;
}
.addrecords {
  width: 710px;
  padding: 15px;
  border: 1px solid #e1e1e1;
  position: relative;
}
.addrecords select {
  width: 130px;
}
.addrecords .close {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: url(../../images/crm/close2.png) no-repeat;
  opacity: 1;
}
.addrecords .communicate .com-detail {
  width: 430px;
  float: left;
  border-right: 1px dashed #e2e2e2;
}
.addrecords .communicate .com-detail .time {
  margin-bottom: 10px;
  margin-top: 10px;
}
.addrecords .communicate .com-detail .reuslt {
  margin-bottom: 10px;
}
.addrecords .communicate .com-detail .next-time {
  margin-bottom: 10px;
}
.addrecords .communicate .com-detail .remark {
  margin-bottom: 10px;
}
.addrecords .communicate .com-detail .notes {
  margin-bottom: 10px;
}
.addrecords .communicate .com-detail .notes textarea {
  padding: 5px;
}
.addrecords .communicate .com-detail span {
  font-weight: bold;
  margin-right: 24px;
}
.addrecords .communicate .change {
  width: 230px;
  float: right;
}
.addrecords .communicate .change .tit {
  font-weight: bold;
  font-size: 15px;
  margin: 10px 0;
}
.addrecords .communicate .change span {
  margin-right: 5px;
  font-weight: bold;
}
.addrecords .communicate .change .buylevel {
  margin-bottom: 10px;
}
.addrecords .communicate .change .soldlevel {
  margin-bottom: 10px;
}
.addrecords .communicate .change .mark {
  margin-bottom: 10px;
}
.addrecords .yuyue .tit {
  margin-bottom: 10px;
}
.addrecords .yuyue .yuyue-box {
  margin-left: 20px;
  margin-bottom: 10px;
}
.addrecords .yuyue .yuyue-box em {
  color: #FF1D1D;
}
.addrecords .yuyue .yuyue-box span {
  font-weight: bold;
}
.addrecords .message .tit {
  margin-bottom: 10px;
}
.addrecords .message .mess-box {
  margin-left: 20px;
  margin-bottom: 10px;
}
.addrecords .message .mess-box textarea {
  padding: 5px;
}
.addrecords .daodian {
  margin-bottom: 20px;
}
.addrecords .daodian .tit {
  margin-bottom: 10px;
}
.addrecords .daodian .daodian-box {
  margin-left: 20px;
  margin-bottom: 10px;
}
.addrecords .daodian .daodian-box em {
  color: #FF1D1D;
}
.addrecords .daodian .daodian-box span {
  font-weight: bold;
}
.addrecords .save-but {
  width: 184px;
  margin: 0 auto;
}
.addrecords .save-but button {
  width: 180px;
}
.wenhao {
  width: 12px;
  height: 12px;
  background: url(../../images/crm/wenhao.png) no-repeat;
  display: block;
  float: right;
  margin-top: 4px;
  margin-left: 4px;
  cursor: pointer;
}
.tongzhi-popup {
  position: fixed;
  width: 605px;
  height: 560px;
  border: 1px solid #E0E0E0;
  left: 50%;
  margin-left: -300px;
  background: #fff;
  z-index: 100000;
}
.tongzhi-popup .title {
  height: 35px;
  border-bottom: 1px solid #E0E0E0;
  background: #F0F0F0;
  width: 100%;
  position: relative;
}
.tongzhi-popup .title span {
  font-size: 14px;
  color: #333;
  line-height: 35px;
  margin-left: 10px;
}
.tongzhi-popup .title .close-tongzhi {
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  background: url(../../images/index/toolbar-close.png) no-repeat;
  top: 10px;
  right: 10px;
  opacity: 1;
}
.tongzhi-popup .content {
  padding: 15px;
}
.tongzhi-popup .content .biaoti {
  font-size: 14px;
  color: #444;
  line-height: 25px;
  font-weight: bold;
}
.tongzhi-popup .content p {
  font-size: 12px;
  color: #666;
  line-height: 20px;
  font-weight: normal;
}
.tongzhi-popup .content img {
  width: 550px;
}
