* {
  font-family: 'Microsoft YaHei', Tahoma, Verdana;
}
#crm .wrapper {
  width: 1280px;
  margin: 0 auto;
}
#crm #head {
  height: 60px;
  background-color: #1271BF;
  width: 1280px;
  margin: 0 auto;
}
#crm #head .head-title {
  line-height: 60px;
  color: #fff;
  font-size: 30px;
  margin-left: 20px;
}
#crm #nav {
  width: 110px;
  float: left;
  height: 1495px;
  background-color: #363636;
}
#crm #nav .nav-title {
  background-color: #434343;
  color: #C3C3C3;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
}
#crm #nav .nav-title i {
  display: block;
  width: 14px;
  height: 14px;
  float: left;
  background: url(../../images/crm/hujiao.png) no-repeat;
  margin-top: 19px;
  margin-right: 5px;
}
#crm #nav .nav-title span {
  display: block;
  float: left;
}
#crm #nav a {
  color: #9A9C9D;
}
#crm #nav a:hover {
  color: #1271BF;
}
#crm #content {
  background-color: #FAFAFA;
  padding: 15px;
  float: left;
  width: 1170px;
  height: 1495px;
}
#crm #content .cont .active a {
  background-color: #FAFAFA;
}
#crm #content .notice {
  width: 100%;
  height: 100px;
  overflow: auto;
  padding: 10px 15px;
  background-color: #FFF6E3;
  margin-top: 20px;
}
#crm #content .notice .title {
  font-size: 15px;
  font-weight: bold;
}
#crm #content .notice .notice-list {
  font-size: 12px;
}
#crm #content .notice .notice-list li {
  margin-bottom: 5px;
  position: relative;
}
#crm #content .notice .notice-list li .title {
  color: #fc7000;
  margin-right: 20px;
  font-size: 12px;
}
#crm #content .notice .notice-list li em {
  color: #666;
}
#crm #content .notice .notice-list li .time {
  color: #666;
  position: absolute;
  right: 1px;
}
#crm #content .cont-wrap {
  padding-top: 20px;
}
#crm #content .task {
  width: 575px;
  height: 200px;
  background-color: #fff;
  float: left;
  padding: 15px;
}
#crm #content .task .tit {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 30px;
}
#crm #content .task .task-tit {
  width: 15%;
  float: left;
  height: 130px;
  text-align: right;
}
#crm #content .task .task-tit li {
  margin-bottom: 15px;
}
#crm #content .task .task-num {
  width: 80%;
  float: left;
  height: 130px;
  margin-left: 10px;
}
#crm #content .task .task-num li {
  margin-bottom: 15px;
}
#crm #content .task .task-num i {
  display: block;
  float: left;
  height: 18px;
}
#crm #content .task .task-num span {
  margin-left: 5px;
}
#crm #content .task .task-num a {
  margin-left: 5px;
}
#crm #content .champion {
  width: 535px;
  height: 200px;
  margin-left: 20px;
  float: left;
  background-color: #fff;
  padding: 15px;
}
#crm #content .champion .tit {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
#crm #content .champion .champion-box {
  padding: 0px 30px;
}
#crm #content .champion .champion-box .lastmouth {
  float: left;
  width: 50%;
}
#crm #content .champion .champion-box .lastmouth .title {
  width: 100%;
  background: url(../../images/crm/champion.png) no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: 12px;
  height: 22px;
}
#crm #content .champion .champion-box .thismouth {
  float: left;
  width: 50%;
}
#crm #content .champion .champion-box .thismouth .title {
  width: 100%;
  background: url(../../images/crm/champion.png) no-repeat;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: 12px;
  height: 22px;
}
#crm #content .champion .champion-box ul {
  margin-top: 10px;
}
#crm #content .champion .champion-box ul li {
  padding-left: 25px;
  margin-bottom: 15px;
}
#crm #content .champion .champion-box ul li span {
  margin-left: 10px;
  font-weight: bold;
}
#crm #content .tit {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
#crm #content .myclient {
  width: 575px;
  height: 415px;
  background-color: #fff;
  float: left;
  padding: 15px;
  margin-top: 20px;
}
#crm #content .myclient .client tr {
  border-bottom: 1px solid #F5F5F5;
  height: 30px;
  width: 100%;
}
#crm #content .myclient .client th {
  text-align: right;
  padding-left: 55px;
  font-size: 13px;
  font-weight: bold;
  padding-right: 10px;
}
#crm #content .myclient .client td {
  padding-left: 40px;
  padding-right: 10px;
  text-align: center;
  font-size: 13px;
  color: #1B73BC;
}
#crm #content .myclient .client .grade {
  padding-left: 10px;
  text-align: left;
  color: #666;
}
#crm #content .myassess {
  width: 535px;
  height: 415px;
  margin-left: 20px;
  float: left;
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
}
#crm #content .myassess .assess {
  margin-top: 20px;
}
#crm #content .myassess .assess .num {
  height: 30px;
  border: 1px solid #60A8F2;
  background-color: #E9F4FE;
  line-height: 30px;
  text-align: center;
  margin-bottom: 45px;
}
#crm #content .myassess .assess .rate {
  left: 3px;
  padding-left: 30px;
  position: absolute;
  top: 44px;
}
#crm #content .myassess .assess .rate span {
  margin-left: 5px;
}
#crm #content .myassess .assess .sum {
  width: 380px;
  margin: 0 auto;
  position: relative;
}
#crm #content .myassess .assess .yuyue {
  width: 260px;
  margin: 0 auto;
  position: relative;
}
#crm #content .myassess .assess .shiji {
  width: 250px;
  margin: 0 auto;
  position: relative;
}
#crm #content .myassess .assess .kanche {
  width: 240px;
  margin: 0 auto;
  position: relative;
}
#crm #content .myassess .assess .success {
  width: 240px;
  margin: 0 auto;
  position: relative;
}
#crm #content .daodian {
  background-color: #fff;
  padding: 15px;
}
#crm #content .daodian .time-but {
  width: 280px;
  margin-bottom: 20px;
}
#crm #content .daodian .time-but a {
  color: #127BD2;
  border-color: #127BD2;
}
#crm #content .daodian .time-but a:hover {
  color: #EBEBEC;
  background-color: #127BD2;
}
#crm #content .daodian .daodian-detail {
  overflow: auto;
  height: 185px;
}
#crm #content .daodian table tr {
  border-bottom: 1px solid #F5F5F5;
  height: 30px;
  width: 100%;
}
#crm #content .daodian table th {
  text-align: left;
  padding-left: 20px;
  font-size: 13px;
  font-weight: bold;
  padding-right: 40px;
}
#crm #content .daodian table td {
  padding-left: 20px;
  padding-right: 40px;
  text-align: center;
  font-size: 13px;
  color: #666;
}
#crm #content .daodian table td i {
  width: 10px;
  height: 10px;
  display: block;
  background-color: #EC5D57;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 10px;
}
#crm #content .daodian table td span {
  float: left;
}
#crm #content .daodian table .record {
  width: 430px;
  text-align: left;
}
#crm #content .carchange {
  margin-top: 30px;
  background-color: #fff;
  padding: 15px;
}
#crm #content .carchange .change .changesum {
  float: left;
  line-height: 25px;
  font-size: 14px;
  width: 95px;
  font-weight: bold;
  margin-right: 25px;
}
#crm #content .carchange .change .change-table {
  float: left;
  height: 195px;
  overflow: auto;
}
#crm #content .carchange .change .change-table table tr {
  border-bottom: 1px solid #F5F5F5;
  height: 30px;
  width: 100%;
}
#crm #content .carchange .change .change-table table th {
  text-align: left;
  font-size: 13px;
  font-weight: bold;
}
#crm #content .carchange .change .change-table table td {
  text-align: left;
  font-size: 13px;
  color: #666;
}
#crm #content .carchange .change .change-table table .carname {
  width: 400px;
}
#crm #content .carchange .change .change-table table .time {
  width: 110px;
}
#crm #content .carchange .change .change-table table .reason {
  width: 120px;
}
#crm #content .carchange .change .change-table table .price {
  width: 125px;
}
#crm #content .carchange .change .change-table table .condition {
  width: 130px;
}
#crm #content .carchange .change .change-table table .relevance {
  width: 105px;
}
