*{
  font-family: 'Microsoft YaHei', Tahoma, Verdana;
}
#crm{
  .wrapper{
    width: 1280px;
    margin: 0 auto;
  }
  #head{
    height: 60px;
    background-color: #1271BF;
    width: 1280px;
    margin: 0 auto;
    .head-title{
      line-height: 60px;
      color: #fff;
      font-size: 30px;
      margin-left: 20px;
    }
  }
  #nav{
    width: 110px;
    float: left;
    height: 1920px;
    background-color: #363636;
    .nav-title{
      background-color: #434343;
      color: #C3C3C3;
      font-size: 15px;
      height: 50px;
      line-height: 50px;
      padding-left: 10px;
      i{
        display: block;
        width: 14px;
        height: 14px;
        float: left;
        background: url(../../images/crm/hujiao.png) no-repeat;
        margin-top: 19px;
        margin-right: 5px;
      }
      span{
        display: block;
        float: left;
      }
    }
  }
  #content{
    background-color: #FAFAFA;
    padding-left: 15px;
    float: left;
  }
}