#acts_tpl .banner .banner-desc{
    background: #272727;
}
#acts_tpl #op-board #how-many{
    background: #403f3d;
}
.tag-cont{
  background:  #272727;
}
.reason-tit{
  color:#272727; 
}
.reason-cont{
  color:#272727; 
}