#acts_tpl .banner .banner-desc{
    background: #04405c;
}
#acts_tpl #op-board #how-many{
    background: #04405c;
}
.tag-cont{
  background: #04405c;
}
.reason-tit{
  color:#04405c; 
}
.reason-cont{
   color:#04405c; 
}