#acts_tpl .banner .banner-desc{
    background: #4f6131;
}
#acts_tpl #op-board #how-many{
    background: #4f6131;
}
.tag-cont{
  background: #4f6131;
}
.reason-tit{
  color:#4f6131; 
}
.reason-cont{
  color:#4f6131;
}