#acts_tpl .banner .banner-desc{
    background: #d6514c;
}
#acts_tpl #op-board #how-many{
    background: #d6514c;
}
.tag-cont{
  background:#d6514c;
}
.reason-tit{
  color:#d6514c; 
}
.reason-cont{
  color:#d6514c; 
}