#acts_tpl .banner .banner-desc{
    background: #252525;
}
#acts_tpl #op-board #how-many{
    background: #252525;
}
.tag-cont{
  background: #252525;
}
.reason-tit{
  color:#252525; 
}
.reason-cont{
  color:#252525; 
}