#acts_tpl .banner .banner-desc{
    background: #443f55;
}
#acts_tpl #op-board #how-many{
    background: #443f55;
}
.tag-cont{
  background: #443f55;
}
.reason-tit{
  color:#443f55; 
}
.reason-cont{
  color:#443f55;
}