@dH: 500px;
@dW: 700px;

@title-fs: 25px;
@sub-title-fs: 18px;

@red: #e05030;

@grey-6: #6c6c6c;
@grey-8: #8c8c8c;
@grey-1: #1f1f1f;

.form-control{
    .box-sizing();
    *{
        .box-sizing();
    }

    input{
        // height: 38px;
        border: 1px solid #999;
        outline: none;

        &:active,
        &:focus{
            border-color: @soucheOrange;
        }
    }
}

// popup 基础样式 -------------------------
.popup{
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    width: @dW;
    height: @dH;
    margin-left: -(@dW/2);
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    .box-sizing();
    *{
        .box-sizing();
    }

    &.active{
        display: block;
    }

    .pop-hd{
        padding: 0.5em 0;
        margin-bottom: 1em;
        font-size: @title-fs;
        text-align: center;
    }
    .pop-bd{

    }
    .pop-subtitle{
        font-size: @sub-title-fs;
    }
}

// 红包送人  细节样式 ------------------------- 
.give-red-packet{
    .pop-hd{
        color: @red;
    }
    .pop-subtitle{
        text-align: center;
        color: @grey-6;
    }
    #inform-form{
        padding-top: 100px;
    }
    .form-control{
        width: 360px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #reciver-name,
    #reciver-phone{
        height: 38px;
        width: 360px;
        padding: 0 0.5em;
        font-size: @sub-title-fs;
    }
    #submit-give{
        display: block;
        width: 45px;
        height: 160px;
        margin: 0 auto;
        margin-top: 60px;
        font-size: @sub-title-fs;
        line-height: 45px;
        color: #fff;
    }
}