doctype html
html(lang='zh-CN')
  head
    meta(charset='utf-8')
    title 基本CSS样式 · Bootstrap
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Bootstrap是Twitter推出的一个用于前端开发的开源工具包。它由Twitter的设计师Mark Otto和Jacob Thornton合作开发，是一个CSS/HTML框架。Bootstrap中文网致力于为广大国内开发者提供详尽的中文文档、代码实例等，助力开发者掌握并使用这一框架。')
    meta(name='keywords', content='Bootstrap,CSS,CSS框架,CSS framework,javascript,bootcss,bootstrap开发,bootstrap代码,bootstrap入门')
    meta(name='author', content='Bootstrap中文网')
    link(href='http://f2e.souche.com/assets/css/bootstrap/bootstrap-back.css', rel='stylesheet')
    link(href='http://f2e.souche.com/assets/css/bootstrap/style-metro.css', rel='stylesheet')
    link(href='http://f2e.souche.com/assets/css/bootstrap/font-awesome.min.css', rel='stylesheet')
    link(href='http://cdn.bootcss.com/bootstrap/2.3.2/css/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='http://f2e.souche.com/assets/css/bootstrap/doc.css', rel='stylesheet')
    link(href='assets/js/google-code-prettify/prettify.css', rel='stylesheet')
    link(href='http://101.251.107.123:8081/assets/css/datepicker.css', rel='stylesheet')
    link(href='http://101.251.107.123:8081/assets/css/datetimepicker.css', rel='stylesheet')
    //if lt IE 9
      script(src='http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js')
    //
       Le fav and touch icons
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='assets/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='assets/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='assets/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='assets/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='assets/ico/favicon.png')
  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    //
       Navbar
          ==================================================
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='./index.html') Bootstrap
          .nav-collapse.collapse
            ul.nav
              li
                a(href='./index.html') 首页

    //
       Subhead
    header#overview.jumbotron.subhead
      .container
        h1 大搜车后台框架基本Demo
        p.lead 大搜车后台框架基本Demo
    .container
      //
         Docs nav
            ==================================================
      .row
        .span3.bs-docs-sidebar
          ul.nav.nav-list.bs-docs-sidenav(data-spy="affix",data-offset-top="200")
            li
              a(href='#multi-form')
                i.icon-chevron-right
                | 双行表单
            li
              a(href='#single-form')
                i.icon-chevron-right
                | 单行表单
            li
              a(href='#inline-form')
                i.icon-chevron-right
                | 行内表单
            li
              a(href='#normal-table')
                i.icon-chevron-right
                | 表格
            li
              a(href='#page')
                i.icon-chevron-right
                | 翻页
            li
              a(href='#tab')
                i.icon-chevron-right
                | 标签页
            li
              a(href='#popup')
                i.icon-chevron-right
                | 弹窗
            li
              a(href='#icons')
                i.icon-chevron-right
                | 图标

        .span9
          h2#multi-form 双行表单示例
          .doc-container
            include backend/multi-form
          | <hr class="bs-docs-separator">
          h2#single-form 单行表单示例
          .doc-container
            include backend/single-form
          | <hr class="bs-docs-separator">
          h2#inline-form 行内表单
          .doc-container
            include backend/inline-form
          | <hr class="bs-docs-separator">
          h2#normal-table 基本表格示例
          .doc-container
            include backend/normal-table
          | <hr class="bs-docs-separator">
          h2#page 分页
          .doc-container
            include backend/page
          h2#tab 标签页
          .doc-container
            include backend/tab
          h2#popup 弹窗
          .doc-container
            include backend/popup
          h2#icons 图标
          .doc-container
            include backend/icons
      Footer
    footer.footer
      .container
        p
          | Designed and built with all the love in the world by
          a(href='http://twitter.com/mdo', target='_blank') @mdo
          | and
          a(href='http://twitter.com/fat', target='_blank') @fat
          | .
        p
          | Code licensed under
          a(href='http://www.apache.org/licenses/LICENSE-2.0', target='_blank') Apache License v2.0
          | , documentation under
          a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
          | .
        p
          a(href='http://glyphicons.com') Glyphicons Free
          | licensed under
          a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0
          | .
        ul.footer-links
          li
            a(href='http://blog.getbootstrap.com') Blog
          li.muted ·
          li
            a(href='https://github.com/twbs/bootstrap/issues?state=open') Issues
          li.muted ·
          li
            a(href='https://github.com/twbs/bootstrap/releases') Changelog

    script(src='http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js')
    script(src='http://cdn.bootcss.com/bootstrap/2.3.2/js/bootstrap.min.js')
    script(src='http://cdn.bootcss.com/holder/2.0/holder.min.js')
    script(src='assets/js/google-code-prettify/prettify.js')


