doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <meta property="wb:webmaster" content="3a4a81533042fb49" />
    <link rel="shortcut icon" href="/images/favicon.ico"  type="image/x-icon"/>
    <link rel="bookmark" href="/images/favicon.ico"  type="image/x-icon"/>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <script>
      var contextPath = "";
    </script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>
    <meta name="baidu-site-verification" content="RXtT8X2tNU" />


  body
    div.sc-rangeslider(style="margin:100px;")
      div.sc-rangeslider-bg
      div.sc-rangeslider-highlight
      div.sc-rangeslider-controls
        div.sc-rangeslider-min.sc-rangeslider-control(style="left:30%;")
          div.sc-rangeslider-tip
            div.sc-rangeslider-tip-inner
              span 1万
        div.sc-rangeslider-max.sc-rangeslider-control(style="left:60%;")
          div.sc-rangeslider-tip
            div.sc-rangeslider-tip-inner
              span
  script.
    require.config({
      baseUrl: "http://f2e.souche.com/assets/js"
    });
    require(['souche/range-slide'], function (Range){
      var range = new Range({
        ele:".sc-rangeslider"
        });

    });
//- script.
//-   var select = new Souche.UI.CustomMultiSelect("multi_select")
//-   $(select).bind("change",function(e,obj){
//-     console.log(obj)
//-   })
  
//-   for(var i=0;i<100;i++){
//-     select.addOption(i,"元素"+i)
//-   }
//-   select.removeOption(2)