doctype html
html
  head.
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/strophe-custom-1.0.0.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/json2.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/easemob.im-1.0.4.js"></script>
  body
    script.
      var conn = new Easemob.im.Connection();
      conn.init({
        https : false,
        //当连接成功时的回调方法
        onOpened : function() {
        console.log("open")
        conn.setPresence();
          //handleOpen(conn);
        },
        //当连接关闭时的回调方法
        onClosed : function() {
          //handleClosed();
          console.log("close")
        },
        //收到文本消息时的回调方法
        onTextMessage : function(message) {
          console.log(message)
        },
        //收到表情消息时的回调方法
        onEmotionMessage : function(message) {
        console.log(message)
          //handleEmotion(message);
        },
        //收到图片消息时的回调方法
        onPictureMessage : function(message) {
        console.log(message)
          //handlePictureMessage(message);
        },
        //收到音频消息的回调方法
        onAudioMessage : function(message) {
        console.log(message)
          //handleAudioMessage(message);
        },
        onLocationMessage : function(message) {
        console.log(message)
          //handleLocationMessage(message);
        },
        //收到联系人订阅请求的回调方法
        onPresence : function(message) {
          //handlePresence(message);
        },
        //收到联系人信息的回调方法
        onRoster : function(message) {
          //handleRoster(message);
        },
        //收到群组邀请时的回调方法
        onInviteMessage : function(message) {
          //handleInviteMessage(message);
        },
        //异常时的回调方法
        onError : function(message) {
        console.error(message)
          //handleError(message);
        }
      });
        conn.open({
          user : "buyer_18667046650",
          pwd : "ShiningChan@souche!thumbelina#",
          //连接时提供appkey
          appKey : "souche#souchetest"
        });
