doctype html
html
    head.
        <script type="text/javascript" src="http://res.souche.com/assets/js/lib/jquery-1.7.1.min.js?t=11"></script>
    body
        script.
            window.onbeforeunload = function(e){
                $.ajax({
                    url:"http://www.souche.com",
                    async:false

                    })
            }