doctype html
html
  head.
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/strophe-custom-1.0.0.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/json2.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/easemob.im-1.0.4.js"></script>
  body
    script.

