doctype html
html
    head
        |<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        style.
            .content{width: 100%;float: left;}
            .right {
                width: 280px;
                margin-left: -280px;
                float: left;
                overflow: hidden;
                background:#ddd;
                height:30px;
            }
            .left {
                width: auto;
                margin-right: 290px;
                overflow: hidden;
                background:#ff6700;
                height:30px;
            }
    body
        table(style="width:100%;",border="0",cellspacing="0",cellpadding="0")
            tr
                td aaa
                td(style="width:100px;background:#ddd;") ddd
        div
            div.content(style="")
                div.left(style="")
            div.right(style="")

        div(style="height:300px;overflow:auto;width:100%;")
            div(style="height:800px;background:#ddd;") 
                |aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>aaa<br/>