doctype html
html
    head.
        <title>北京2008款 奥迪A4-1.8T-无级变速舒适版二手车报价_图片_配置_过户_检测怎么样_在售-大搜车</title>
        <meta name="Keywords" content="2008款 奥迪A4-1.8T-无级变速舒适版在售二手车报价，图片，配置，过户，检测，怎么样" />
        <meta name="Description" content="2008款 奥迪A4-1.8T-无级变速舒适版在售二手车报价13.56万（含过户费）,2008-07-29年首次上牌，行驶6.56万公里，大搜车为您提供最真实的检测报告、配置参数、过户历史、图片信息。最新最全内容，尽在大搜车。" />
        <link href="/pages/choosecarpage/choose-car-detail.html?carId=Kf8aNv4md1" rel="canonical" />

        <meta http-equiv="mobile-agent" content="format=html5;url=/pages/mobile/detail.html?carId=Kf8aNv4md1" />

        <meta name="viewport" id="viewport" content="width=1124" />
        <meta property="wb:webmaster" content="3a4a81533042fb49" />
        <link rel="shortcut icon" href="/images/favicon.ico"  type="image/x-icon"/>
        <link rel="bookmark" href="/images/favicon.ico"  type="image/x-icon"/>
        <link href="/images/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon"/>
        <link href="http://f2e.souche.com/assets/css/souche/common_v2.css?t=6" rel="stylesheet" type="text/css" />






        <link rel="shortcut icon" href="/images/favicon.ico"  type="image/x-icon"/>
        <link rel="bookmark" href="/images/favicon.ico"  type="image/x-icon"/>
        <meta name="renderer" content="webkit"/>
        <link href="http://f2e.souche.com/assets/css/souche/reset.css " rel="stylesheet" type="text/css" />
        <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=6" rel="stylesheet" type="text/css" />
        <link href="http://f2e.souche.com/assets/css/souche/common.css?t=12" rel="stylesheet" type="text/css" />
        <link href="http://f2e.souche.com/assets/css/sidebar.css?t=6" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://chenllos.com/util/jquery-1.8.3.js?t=6"></script>
        <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js?t=6"></script>
        <script>
            var contextPath = "";
            require.config({
                baseUrl: "http://f2e.souche.com/assets/js",
                urlArgs:"bust=v10"
            });
        </script>
        <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js?t=7"></script>
        <script type="text/javascript" src="http://f2e.souche.com/assets/js/index/sidebar.js?t=13"></script>
        <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche/stats.js?t=11"></script>

        <link href="http://f2e.souche.com/assets/css/detail/new-report.css?t=19" rel="stylesheet" type="text/css" />


        <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche/stats.js?t=11"></script>
        <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js?t=6"></script>
        <script>
            var contextPath = "";
            require.config({
                baseUrl: "http://f2e.souche.com/assets/js",
                urlArgs:"bust=v23"
            });
        </script>

        <script type="text/javascript" src="http://res.souche.com/js/common/lazyload,jquery.validate,json2,Bimu-base,Bimu-util,Bimu-load,Bimu-url,Bimu-ajax,Bimu,Bimu-form,Bimu-select.js"></script>
        <script type="text/javascript" src="http://res.souche.com/js/common/Bimu-form.js"></script>
        <script type="text/javascript" src="http://res.souche.com/js/common/Bimu-ajax.js"></script>
        <script type="text/javascript" src="http://res.souche.com/js/menu/jquery.hoverIntent.minified.js"></script>
        <script type="text/javascript" src="http://res.souche.com/js/menu/jquery.dcmegamenu.1.3.3.min.js"></script>


        <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="http://f2e.souche.com/assets/js/common.js"></script>
        <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js?t=7"></script>
        <script charset="utf-8" src="http://wpa.b.qq.com/cgi/wpa.php"></script>



body#onsale_detail

    .car_report
        .wrapper
            include mod/report_summary
            include mod/report_important
            include mod/report_safety
            include mod/report_control
            include mod/report_config




    script(src="http://f2e.souche.com/assets/js/detail/onsale_detail.js?t=13")

    script.
        var SaleDetailConfig = {
            api_isLogin:'/pages/evaluateAction/isLogin.json',
            api_isNoRegisterLogin:'/pages/evaluateAction/isNoRegisterLogin.json',
            api_noRegisterLogin:'/pages/evaluateAction/noRegisterLogin.json',
            api_sendCarToPhone:'/pages/saleDetailAction/sendCarToPhone.json',
            api_bigImg:'/pages/choosecarpage/choose-car-big-img.html?carId=Kf8aNv4md1',
            api_saleCarOrder:'/pages/choosecarpage/sale-car-order.html',
            api_saveFavorite:'/pages/saleDetailAction/savaCarFavorite.json',
            api_delFavorite:'/pages/saleDetailAction/delCarFavorite.json',
            api_jsonparams:{carId:'Kf8aNv4md1'},
            api_AddressToPhone:'/pages/saleDetailAction/sendAddressToPhone.json',
            carId:'Kf8aNv4md1',
            sendCarClose:'onsaledetail-savecarclose',
            sendAddressClose:'onsaledetail-saveaddressclose',
            sendCarSubmit:'onsaledetail-savecarsubmitphone',
            sendAddressSubmit:'onsaledetail-saveaddresssubmitphone',
            carType:'zaishou',
            brandCode:"brand-15",
            seriesCode:"series-621",
            modelCode:"1953856457",
            price:13.56,
            nowDistance:6.56,
            api_addContrast:'/pages/carContrastAction/addContrastCar.json?carId=Kf8aNv4md1',
            api_deleteContrast:'/pages/carContrastAction/deleteContrastCar.json',
            api_maintenance:"http://42.120.61.109/maintenance/b/",
            api_price:"http://42.120.61.109/price/b/",
            api_sentiment:"http://42.120.61.109/sentiment/b/",
            minPrice:"13.56",
            maxPrice:"13.56",
            showChart:1
        };

        require(['detail/detail_common'], function (DetailCommon){
            DetailCommon.init(SaleDetailConfig);
        });
        require(['detail/report/index'], function (report){
            //- report.init();
        });

        Souche.OnsaleDetail.init(SaleDetailConfig);
