.popup.share-self.active
    .car-info
        img.car-img
        h4.car-name 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
        .car-proice ￥7.98万
    .share-info
        h3.share-congrate 恭喜您, 点赞赢得红包
        .share-money ￥500元
        .share-encourage 赶快分享给身边的朋友吧, 筹集到更多红包抵车价哦. 要记得请他们吃饭哦~
        textarea#share-text(spellcheck='false', autocapitalize='off', autocomplete='off', autocorrect='off' value="分享模板文案")
        .share-to 分享到:


//- 红包送人
//- .popup.give-red-packet
    h2.pop-hd 你胸前的红领巾更鲜艳了!
    .pop-bd
        h3.pop-subtitle 那就把点赞分享筹集的红包送给TA吧~
        div#inform-form
            div.form-control
                input(type="text" placeholder="请输入TA的称呼(爱称)~" id="reciver-name")
            div.form-control
                input(type="text" placeholder="请输入TA的手机号, 便于短信通知TA~" id="reciver-phone")

            a#submit-give.btn(href="#") 提交