.popup.share-self
    .pop-close
    .car-info
        img.car-img
        h4.car-name 雪铁龙-2014款-全新爱丽舍-1.6L-自动-时尚版
        .car-proice ￥
            span.price-num 7.98
            span 万
    .share-info
        h3.share-congrate 恭喜您，点赞赢得红包
        .share-money ￥500元
        .share-encourage 赶快分享给身边的朋友吧， 筹集到更多红包抵车价哦。 要记得请他们吃饭哦~
        textarea#share-text(spellcheck='false', autocapitalize='off', autocomplete='off', autocorrect='off') 分享模板文案
        .share-to.clearfix
            span.text-share-to 分享到:
            //- .share-icon-group
                //- a.share-icon.sina
                //- a.share-icon.weixin
                //- a.share-icon.qq
                //- a.share-icon.qzone
            .jiathis_style_32x32    
                a.jiathis_button_tsina
                a.jiathis_button_weixin
                a.jiathis_button_cqq
                a.jiathis_button_qzone
    script.
        //- 自定义分享内容
        //- 分享的微博内容: title 空格 summary
        //- 在点击之前修改即可
        //- 估计文案要在: popup时设置一遍, 在编辑框blur时设置一遍.
        //- config在点击之前都有效
        var jiathis_config = {
            url: 'http://分享内容里给出的链接',
            title: '大搜车双11活动标题',
            summary: '分享内容文案文案....',
            pic: '车图片地址'
        };
        $(document).ready(function(){
            var script = document.createElement('script');
            script.setAttribute('src', 'http://v3.jiathis.com/code/jia.js?uid=1406374730242495');
            script.setAttribute('charset', 'utf-8');
            $(document.body).append( script );
        });


//- 红包送人
//- .popup.give-red-packet
    h2.pop-hd 你胸前的红领巾更鲜艳了!
    .pop-bd
        h3.pop-subtitle 那就把点赞分享筹集的红包送给TA吧~
        div#inform-form
            div.form-control
                input(type="text" placeholder="请输入TA的称呼(爱称)~" id="reciver-name")
            div.form-control
                input(type="text" placeholder="请输入TA的手机号, 便于短信通知TA~" id="reciver-phone")

            a#submit-give.btn(href="#") 提交