.popup.share-self

.popup.friend-self

.popup.qq-reminder

.popup.give-red-packet.active
    h2.pop-hd 你胸前的红领巾更鲜艳了!
    .pop-bd
        h3.pop-subtitle 那就把点赞分享筹集的红包送给TA吧~
        div#inform-form
            div.form-control
                input(type="text" placeholder="请输入TA的称呼(爱称)~" id="reciver-name")
            div.form-control
                input(type="text" placeholder="请输入TA的手机号, 便于短信通知TA~" id="reciver-phone")

            a#submit-give.btn(href="#") 提交