doctype html
html
    head.
        <title>首页</title>
        <link href="http://f2e.souche.com/assets/css/index_v2.css" rel="stylesheet" type="text/css" />
        <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery-1.7.1.min.js?t=1"></script>
        <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery.flexslider-min.js?t=1"></script>
        <link href="../../assets/css/index/indexCars.css " rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="../../assets/js/respond.js"></script>



    body
        include include/header
        include include/nav
        #content
            .wrapper
                .index-left
                    //妹子
                    include include/top-info
                    //汉子
                    include include/index-cars

                .index-right
                    //妹子
                    include include/index-service
                    //汉子
                    include include/index-qa
                    //妹子
                    include include/index-hotsell
                    //妹子
                    include include/index-qcode
        #footer

        <script type="text/javascript" src="../../assets/js/respond.js"></script>
        <script type="text/javascript" src="http://res.souche.com/js/common/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="http://res.souche.com/assets/js/lib/require.js?t=13"></script>
        script.
            var contextPath = "";
            require.config({
            baseUrl: "http://f2e.souche.com/assets/js",
            urlArgs:"bust=v1"
            });
            require(["index_v2"],function(Index){
                Index.init({})
            })
