doctype html
html
    head.
        <title>首页</title>
        <link href="http://f2e.souche.com/assets/css/index_v2.css" rel="stylesheet" type="text/css" />
<<<<<<< HEAD
        <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
=======
        <link href="../../assets/css/souche/reset.css " rel="stylesheet" type="text/css" />
>>>>>>> 59a063d252d974898d88ec925488116910566855
    body
        include include/header
        include include/nav
        #content
            .wrapper
                .index-left
                    //妹子
                    include include/top-info
                    //汉子
                    include include/index-cars

                .index-right
                    //妹子
                    include include/index-service
                    //汉子
                    include include/index-qa
                    //妹子
                    include include/index-hotsell
                    //妹子
                    include include/index-qcode
        #footer

        script.
            require(["index_v2"],function(Index){
                Index.init({})
            })
