doctype html
html
    head.
        <title>首页</title>
        <link href="http://f2e.souche.com/assets/css/index_v2.css" rel="stylesheet" type="text/css" />
        <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery-1.7.1.min.js?t=1"></script>
        <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/souche.js?t=1"></script>

        <link href="../../assets/css/index/indexCars.css " rel="stylesheet" type="text/css" />
       <script type="text/javascript" src="../../assets/js/respond.js"></script>



    body
        include include/header
        include include/nav
        #content
            .wrapper.clearfix
                .index-left
                    //妹子
                    include include/top-info
                    //汉子
                    include include/index-cars

                .index-right
                    //妹子
                    include include/index-service
                    //汉子
                    include include/index-qa
                    //妹子
                    include include/index-hotsell
                    //妹子
                    include include/index-qcode
        #footer
            .wrapper
                .foot-detail.clearfix
                    .buycarguide.detail-item
                        a.title(href="#") 购车指南
                        a.art-link(href="#") 二手车靠谱吗
                        a.art-link(href="#") 如何挑选二手车
                        a.art-link(href="#") 二手车评测
                        a.art-link(href="#") 二手车保养注意事项
                    .security.detail-item
                        a.title(href="#") 服务保障
                        a.art-link(href="#") 全方位车辆检测
                        a.art-link(href="#") 1年2万公里质保
                        a.art-link(href="#") 7天无理由退车
                        a.art-link(href="#") 1对1顾问购车
                    .about.detail-item
                        a.title(href="#") 关于我们
                        a.art-link(href="#") 大搜车理念
                        a.art-link(href="#") 加入我们
                        a.art-link(href="#") 车牛
                        a.art-link(href="#") 买车神器
                    .contact.detail-item
                        a.title(href="#") 联系我们
                        a.art-link(href="#") 官方微信
                        a.art-link(href="#") 新浪微博
                        a.art-link(href="#") 门店地址：北京市海淀区世纪金源购物中心东区广场
                .friendlinks.clearfix
                    a.links(href="#") 二手车网
                    a.links(href="#") 北京汽车网
                    a.links(href="#") 车易拍
                    a.links(href="#") 天津二手车网
                    a.links(href="#") 米胖汽车
                    a.links(href="#") 二手车
                    a.links(href="#") 2014汽车报价
                    a.links(href="#") 海南二手车
                    a.links(href="#") 二手车资讯
                    a.links(href="#") 180迈汽车保养
                    a.links(href="#") 中山二手车
                    a.links(href="#") 力洋VIN码识别
                    a.links(href="#") 杭州二手车
                    a.links(href="#") 成都二手车
                    a.links(href="#") 车险信息网
                p Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有      京 ICP备 13012136号 京公网安备 11010802013095号

        <script type="text/javascript" src="../../assets/js/respond.js"></script>
        <script type="text/javascript" src="http://res.souche.com/js/common/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="http://res.souche.com/assets/js/lib/require.js?t=13"></script>
        <script type="text/javascript" src="http://souche.cdn.aliyuncs.com/assets/js/lib/jquery.flexslider-min.js?t=1"></script>
        script.
            $(window).load(function() {
              $('.flexslider').flexslider({
                animation: "slide",
                slideshowSpeed: 5000,
                directionNav: false,
                controlNav: true,
                pauseOnHover: true
                });
             $(".right-slide").flexslider({
                slideshow: false,
                animation: "slide",
                slideshowSpeed: 5000,
                controlNav: true,
                animationLoop: false,
                randomize: true
                });
            });
            //cheshen
            $(".cheshen-nav .nav-but").click(function(){
               $(this).closest(".cheshen-nav").find(".nav-but").removeClass("nav-active").find(".chenshen-cont").addClass("hidden");
               $(this).addClass("nav-active").find(".chenshen-cont").removeClass("hidden");
            });

            var contextPath = "";
            require.config({
            baseUrl: "http://f2e.souche.com/assets/js",
            urlArgs:"bust=v1"
            });
            require(["index_v2"],function(Index){
                Index.init({})
            })

