doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/index.css?t=129" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery.flexslider-min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script>
      var contextPath = "http://www.souche.com/";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    
  body#index
    #header
      .wrapper
        a.logo(href="#")
          img(src="http://f2e.souche.com/assets/images/index/logo.png")
        .search
          form(action="")
            input.search-text(type="text",name="keyword",placeholder="提示")
            button.search-submit(type="submit") 搜 索
          .hot-keywords
            a(href="#") 热搜词
            a(href="#") 热搜词
            a(href="#") 热搜词
        .head-tel
          img(src="http://f2e.souche.com/assets/images/index/head-tel.png")
    #nav
      .wrapper
        span.main-navs
          a.active(href="#") 首页
          a(href="#") 我要买车
          a(href="#") 我要卖车
          a(href="#") 服务承诺
        span.other-navs
          a(href="#") 我的大搜车
          a(href="#") 登录
          a.last(href="#") 注册
    #content
      .wrapper
        include include/module1
        include include/module2
        include include/module3
        include include/module4
        include include/module5
        include include/module6
        .sidetoolbar#side_bar
          include include/sidetoolbar
    #footer
      .friendlinks
        .wrapper
          <a href="http://2sc.sohu.com/" rel="nofollow" target="_blank">搜狐二手车</a>
          <a href="http://www.51auto.com/" rel="nofollow" target="_blank">51二手车</a>
          <a href="http://www.cheyipai.com/" target="_blank">车易拍</a>
          <a href="http://www.che168.com/" rel="nofollow" target="_blank">二手车之家</a>
          <a href="http://www.hx2car.com/" rel="nofollow" target="_blank">华夏二手车</a>
          <a href="http://www.taoche.com" target="_blank">二手车</a>
          <a href="http://www.iautos.cn/" rel="nofollow" target="_blank">第一车网</a>
          <a href="http://hainan.273.cn/" target="_blank">海南二手车</a>
          <a href="http://news.souche.com" target="_blank" class="last">二手车资讯</a>
      .footer-content
        .wrapper
          .performance.clearfix
            .per-1.per
              i
              .t 绝无火烧车，水淹车
              .st 365项质检，保证车辆品质
            .per-2.per
              i
              .t 180天免费质保
              .st 二手车享受新车质保服务
            .per-3.per
              i
              .t 分期付款
              .st 提供最长3年分期付款服务
          .company_info.
            <div class="wrap clearfix">
              <a target="_blank" rel="nofollow" href="/pages/details/soucheidea.html">大搜车理念</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/soucheabout.html">关于大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/purchase.html">购车指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/consignment.html">寄售指南</a>|
              <a target="_blank" rel="nofollow" href="/pages/details/contact.html">联系大搜车</a>|
              <a target="_blank" rel="nofollow" href="/pages/zhaopin/zhaopin_list.html">人才招聘</a>        
            </div>
            <p>Copyright © 2014 SouChe   All Rights Reserved 北京搜车网科技有限公司  版权所有 &nbsp;&nbsp; &nbsp;&nbsp;京 ICP备 13012136号 京公网安备 11010802013095号</p>
    .apply_popup#qiugou-popup.hidden.
      <span class="apply_close"></span>
      <h1 class="popup-title">定制购车需求</h1>
      <form id="qiugou-phone-form" action="">
      <div class="result_p">
      <div class="tip">输入您的手机号码，一键完成定制</div>
            <div class="phone">
            <label>手机号码</label>
            <input type="text" name="" value="" id="qiugou-phone"  placeholder="在此输入手机号码"/>
            <s class="warning hidden">请输入正确的手机号码</s>
            </div>
      </div>
      <button type="submit" class="submit">确认</button>
      </form>
    |<div class="wrapGrayBg" style="opacity: 0.7; display: none;"></div>
    #address-popup.apply_popup.hidden.
      <span class="apply_close"></span>
      <h1 class="popup-title">发送到手机</h1>
      <form id="address-form" action="">
      <div class="result_p">
        <div class="tip">输入手机号码，即可发送</div>
        <div class="yuyue-con">
            <label>手机号码</label>
            <input type="text" name="" value="" id="address-phone" placeholder="在此输入手机号码"/>
            <s class="warning hidden">请输入正确的手机号码</s>
        </div>
      </div>
      <button type="submit" class="submit">确认</button>
      </form>
    .apply_popup.popup-result#address-result-popup.hidden.
      <span class="apply_close"></span>
      <h1 class="popup-title">发送到手机</h1>
      <div class="result_p">
        <span class="buy_success"></span>
        <p> 
          <ins>发送成功</ins>
        </p>
      </div>



  script.
    require(['index'], function (Index){
      Index.init({
        brand_api:"",
        series_api:"",
        qiugou_api:""
        });
    });

