doctype html
html
  head.
    <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
    <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
    <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
    <meta name="viewport" id="viewport" content="width=1340" /> 
    <link href="http://f2e.souche.com/assets/css/souche/reset.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/souche/ui.css?t=150" rel="stylesheet" type="text/css" />
    <link href="http://f2e.souche.com/assets/css/index.css?t=129" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/lib/require.js"></script>
    <script type="text/javascript" src="http://f2e.souche.com/assets/js/souche.js"></script>
    <script>
      var contextPath = "";
      require.config({
        baseUrl: "http://f2e.souche.com/assets/js"
      });
    </script>
  body#index
    #content
      .wrapper
        include include/module1
        include include/module2
        include include/module3
        include include/module4
        include include/module5
        include include/module6
  script.

