!!! 5
!!! 5
html
  head
    include head
    title 登录
    style
      body{text-align:center;padding-top:100px;}

  body#404
    #login_popup.login_popup 
        span 用新浪微博一步登录
        a.icon(href="#{link}")
        div 
          |其他登录方式陆续开发中，造成不便，敬请谅解