doctype html
html
    head.
      <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
      <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
      <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
      <script src="http://souche.cdn.aliyuncs.com/js/mob/jquery-1.9.1.min.js?t=1"></script>


    body
        header
            span#hd-company 大搜车
            span#hd-city 杭州
            #hd-right
                span#hd-search
                span#hd-other-feature

        nav#tab-nav-bar
            .nav-item 热门车型
            .nav-item 随便逛逛
            .nav-item 我要找车
            .underline

        section#tabCover
            .tab-container
                .tab-panel(data-panel-index=1)
                    #pan-1-title 定制购车需求，我们每天为你
                        span(style='color:red') 推荐好车
                    #pan-1-content
                        .card-row
                            .car-card
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                                .car-intro 丰田 雅力士 2010款 E-1.6-AT...
                                .car-price  5.76万
                                .other-info 2.00万公里 2012年上牌

                            .car-card
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                                .car-intro 丰田 雅力士 2010款 E-1.6-AT...
                                .car-price  5.76万
                                .other-info 2.00万公里 2012年上牌

