#acts_tpl .banner .banner-desc{
    background: #665140;
}
#acts_tpl #op-board #how-many{
    background: #665140;
}
.tag-cont{
  background: #665140;
}
.reason-tit{
  color:#665140; 
}
.reason-cont{
  color:#665140; 
}