#acts_tpl .banner .banner-desc{
    background: #067d83;
}
#acts_tpl #op-board #how-many{
    background: #6ab5b8;
}
.tag-cont{
  background: #067d83;
}
.reason-tit{
  color:#067d83; 
}
.reason-cont{
  color:#067d83; 
}