#acts_tpl .banner .banner-desc{
    background: #fc7000;
}
#acts_tpl #op-board #how-many{
    background: #fc7000;
}
.tag-cont{
  background: #fc7000;
}
.reason-tit{
  color:#fc7000; 
}
.reason-cont{
   color:#fc7000; 
}
