//
   Created by zilong on 2014/6/3.
doctype html
head.
    <meta charset="utf-8">
    <meta name="viewport" content="height=device-height,width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title></title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        img{
            width:100%;
            vertical-align:center;
        }
        body{
            background:#e7e7e7;
        }
    </style>
body
    #content
        img(src='../../../assets/images/cheniu/help/help3-1.png')
        img(src='../../../assets/images/cheniu/help/help3-2.png')
        img(src='../../../assets/images/cheniu/help/help3-3.png')
        img(src='../../../assets/images/cheniu/help/help3-4.png')
        img(src='../../../assets/images/cheniu/help/help3-5.png')
