doctype html
html
    head.
        <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
        <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
        <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
        <link rel="stylesheet" href="http://res.souche.com/assets/css/mobile/reset.css">
        <link href="../../../assets/css/mobile/reset.css" rel="stylesheet" type="text/css" />
        <link href="../../../assets/css/mobile/h5-3/tab-1.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="../../../assets/js/mobile/lib/appframework.min.js"></script>
        <script type="text/javascript" src="../../../assets/js/mobile/lib/af.touchEvents.js"></script>
    body
        header
            .logo.hd-logo
            .hd_city
                span 杭州
                svg(width=9,height=5)
                    polyline(points="0,0 4,4 8,0",style='fill:none;stroke:white;stroke-width:1')
