.tab-panel(data-panel-index=3)
    .walkaround-area
        a.act-card(href="#")
            img.banner(src='../../../assets/images/mob/h5-3/tmp/banner.jpg')
            .act-title 再不疯狂就老了
            .act-content 一辆能让驾驶者热血澎湃的跑车，成为许多男人的终生梦想。一辆能让驾驶者热血澎湃的跑车，成为许多男人的终生梦想。
        a.act-card(href="#")
            img.banner(src='../../../assets/images/mob/h5-3/tmp/banner2.jpg')
            .act-title 再不疯狂就老了
            .act-content 一辆能让驾驶者热血澎湃的跑车，成为许多男人的终生梦想。一辆能让驾驶者热血澎湃的跑车，成为许多男人的终生梦想。