.tab-panel(data-panel-index=1)
    .car-area
        .car-card
            img(src="http://res.souche.com/files/carpicture/3E3BC10307B56592131FADDC8C96D054_690x460.jpg_240x10000.jpg")
            .car-info
                .car-introduction 2013款 奥迪A4L-2.0T无 级变速35FSI舒适型
                .car-price
                    span.price-num 21.56
                    | 万
                .car-time 2012/03上牌
                .other-info

