.tab-panel(data-panel-index=2)
    .filter-area
        .filter-item
            .filter-title 价格
            .filter-content
                select.select-price
                    option(value=0) 50万
                i.to
        .filter-item
            .filter-title 品牌
            .filter-content
        .filter-item
            .filter-title 车系
        .filter-item
            button 高级筛选
        .filter-item
            .filter-title 里程
        .filter-item
            .filter-title 上牌
        .filter-item
            .filter-title 车型
        .filter-item
            .filter-title 变速箱


