.tab-panel(data-panel-index=1)
    .car-area
        .for-carcustom.clearfix
            .erge
            .custom-text
                div 告知购车需求
                div 我们每天为您推荐好车
            a.go-custom(href='#') 订阅
        .for-carcustom-had.clearfix
            .car4you 今天为你找了10辆好车。
            a.go-custom(href='#') 修改
        .car-row.clearfix
             .car-wrapper
                 a.car-card(href='#')
                    img(src="http://res.souche.com/files/carpicture/3E3BC10307B56592131FADDC8C96D054_690x460.jpg_240x10000.jpg")
                    .car-info
                        .car-introduction 2013款 奥迪A4L-2.0T无 级变速35FSI舒适型
                        .car-price
                            span.price-num 21.56
                            | 万
                        .car-time 2012上牌
                        .recommend 性价比是非常高
                            .fav
                                span.star-shape ☆
                                span.fav-num 10
             .car-wrapper
                 a.car-card(href='#')
                    img(src="http://res.souche.com/files/carpicture/3E3BC10307B56592131FADDC8C96D054_690x460.jpg_240x10000.jpg")
                    .car-info
                        .car-introduction 2013款 奥迪A4L-2.0T无 级变速35FSI舒适型
                        .car-price
                            span.price-num 21.56
                            | 万
                        .car-price-down 直降3000元
                        .time-limit
                            span.clock ˪
                            | 5天21时07分
        .car-row.clearfix
            .car-wrapper
                a.car-card(href='#')
                    img(src="http://res.souche.com/files/carpicture/3E3BC10307B56592131FADDC8C96D054_690x460.jpg_240x10000.jpg")
                    .car-info
                        .car-introduction 2013款 奥迪A4L-2.0T无 级变速35FSI舒适型
                        .car-price
                            span.price-num 21.56
                            | 万
                        .car-time 2012上牌
                        .recommend 性价比是非常高
                            .fav
                                span.star-shape ☆
                                span.fav-num 10
            .car-wrapper
                a.car-card(href='#')
                    img(src="http://res.souche.com/files/carpicture/3E3BC10307B56592131FADDC8C96D054_690x460.jpg_240x10000.jpg")
                    .car-info
                        .car-introduction 2013款 奥迪A4L-2.0T无 级变速35FSI舒适型
                        .car-price
                            span.price-num 21.56
                            | 万
                        .car-price-down 直降3000元
                        .recommend 性价比是非常高
                            .fav
                                span.star-shape ☆
                                span.fav-num 10

        .look-more 查看更多

    .hot-brands.quick-search-area
        .title 热门品牌
            a.more(href='#') 更多 >
        .bd.clearfix
            a(class="brand col-1-4" href="list.html?carBrand=brand-20" click_type='walk_hot_宝马')
                .brand-wrapper
                    img(src="http://res.souche.com/files/brand/brand-20.jpg_100x10000.jpg")
                    .brand-name 宝马
            a(class="brand col-1-4" href="list.html?carBrand=brand-20" click_type='walk_hot_宝马')
                .brand-wrapper
                    img(src="http://res.souche.com/files/brand/brand-20.jpg_100x10000.jpg")
                    .brand-name 宝马
            a(class="brand col-1-4" href="list.html?carBrand=brand-20" click_type='walk_hot_宝马')
                .brand-wrapper
                    img(src="http://res.souche.com/files/brand/brand-20.jpg_100x10000.jpg")
                    .brand-name 宝马
            a(class="brand col-1-4" href="list.html?carBrand=brand-20" click_type='walk_hot_宝马')
                .brand-wrapper
                    img(src="http://res.souche.com/files/brand/brand-20.jpg_100x10000.jpg")
                    .brand-name 宝马
            a(class="brand col-1-4" href="list.html?carBrand=brand-20" click_type='walk_hot_宝马')
                .brand-wrapper
                    img(src="http://res.souche.com/files/brand/brand-20.jpg_100x10000.jpg")
                    .brand-name 宝马
            a(class="brand col-1-4" href="list.html?carBrand=brand-20" click_type='walk_hot_宝马')
                .brand-wrapper
                    img(src="http://res.souche.com/files/brand/brand-20.jpg_100x10000.jpg")
                    .brand-name 宝马

    .price-tag.quick-search-area
        .title 价格
        .bd.clearfix.
            <a href="list.html?carPrice=0-5" class="col-1-4 tag-item" click_type='walk_price_0_5'>5万以下</a>
            <a href="list.html?carPrice=5-8" class="col-1-4 tag-item" click_type='walk_price_5_8'>5-8万</a>
            <a href="list.html?carPrice=8-12" class="col-1-4 tag-item" click_type='walk_price_0_12'>8-12万</a>
            <a href="list.html?carPrice=12-16" class="col-1-4 tag-item" click_type='walk_price_12_16'>12-16万</a>
            <a href="list.html?carPrice=16-20" class="col-1-4 tag-item" click_type='walk_price_16_20'>16-20万</a>
            <a href="list.html?carPrice=20-25" class="col-1-4 tag-item" click_type='walk_price_20_25'>20-25万</a>
            <a href="list.html?carPrice=25-30" class="col-1-4 tag-item" click_type='walk_price_25_30'>25-30万</a>
            <a href="list.html?carPrice=30-50" class="col-1-4 tag-item" click_type='walk_price_30_50'>30-50万</a>
            <a href="list.html?carPrice=50-70" class="col-1-4 tag-item" click_type='walk_price_50_70'>50-70万</a>
            <a href="list.html?carPrice=70-100" class="col-1-4 tag-item" click_type='walk_price_70_100'>70-100万</a>
            <a href="list.html?carPrice=100-10000" class="col-1-4 tag-item" click_type='walk_price_100_10000'>100万以上</a>

    .price-tag.quick-search-area
        .title 价格
        .bd.clearfix.
            <a href='list.html?carModel=tinyCar' class="col-1-4 tag-item" click_type='walk_model_tinyCar'>微小型车</a>
            <a href='list.html?carModel=compactCar' class="col-1-4 tag-item" click_type='walk_model_compactCar'>紧凑型车</a>
            <a href='list.html?carModel=midSize' class="col-1-4 tag-item" click_type='walk_model_midSize'>中型车</a>
            <a href='list.html?carModel=PremiumMidsize' class="col-1-4 tag-item" click_type='walk_model_PremiumMidsize'>中大型车</a>
            <a href='list.html?carModel=SUV' class="col-1-4 tag-item" click_type='walk_model_suv'>SUV</a>
            <a href='list.html?carModel=MPV' class="col-1-4 tag-item" click_type='walk_model_mpv'>MPV</a>
            <a href='list.html?carModel=SportsCar' class="col-1-4 tag-item" click_type='walk_model_sportsCar'>跑车</a>