doctype html
html
    head.
        <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
        <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
        <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
        <script type="text/javascript" src="../../../assets/js/mobile/lib/appframework.min.js"></script>
        <link rel="stylesheet" href="http://res.souche.com/assets/css/mobile/reset.css">
        <link href="../../../assets/css/mobile/h5-3/index-1.css" rel="stylesheet" type="text/css" />



    body
        header
            span#hd-company 大搜车
            span#hd-city 杭州
            #hd-right
                span#hd-search 放大镜
                span#hd-other-feature
                    span.heng
                    span.heng
                    span.heng

        nav#tab-nav-bar.clearfix
            .nav-item(data-nav-index=1) 热门车型
            .nav-item(data-nav-index=2) 随便逛逛
            .nav-item(data-nav-index=3) 我要找车
            #nav-bar-underline(data-active-index=1)

        section#tab-cover
            #tab-container.clearfix
                .tab-panel(data-panel-index=1)
                    #pan-1-title 定制购车需求，我们每天为你
                        span(style='color:red') 推荐好车
                    #pan-1-content
                        .card-row.clearfix
                            .car-card
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                                .car-intro 丰田 雅力士 2010款 E-1.6-AT...
                                .car-price  5.76万
                                .other-info 2.00万公里 2012年上牌

                            .car-card
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                                .car-intro 丰田 雅力士 2010款 E-1.6-AT...
                                .car-price  5.76万
                                .other-info 2.00万公里 2012年上牌
                        .card-row.clearfix
                            .car-card
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                                .car-intro 丰田 雅力士 2010款 E-1.6-AT...
                                .car-price  5.76万
                                .other-info 2.00万公里 2012年上牌
                            .car-card
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                                .car-intro 丰田 雅力士 2010款 E-1.6-AT...
                                .car-price  5.76万
                                .other-info 2.00万公里 2012年上牌

                .tab-panel(data-panel-index=2)
                    #pan-2-content
                        .car-card-2.clearfix
                            .lft
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                            .rht
                                推荐理由
                        .car-card-2.clearfix
                            .lft
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                            .rht
                                推荐理由

                .tab-panel(data-panel-index=3)
                    #pan-1-title 定制购车需求，我们每天为你
                        span(style='color:red') 推荐好车
                    #pan-1-content
                        .card-row.clearfix
                            .car-card
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                                .car-intro 丰田 雅力士 2010款 E-1.6-AT...
                                .car-price  5.76万
                                .other-info 2.00万公里 2012年上牌

                            .car-card
                                img(src='http://res1.souche.com/files/carpicture/4ED9DEF6503A0D5B4C92DC495AE19980_690x460.jpg_240x10000.jpg')
                                .car-intro 丰田 雅力士 2010款 E-1.6-AT...
                                .car-price  5.76万
                                .other-info 2.00万公里 2012年上牌

        script.
            window.onerror  =function(e){
                alert(e)
            }
            !function(){
                var touch_start = 'click';
                if('ontouchstart' in window){
                    touch_start = 'touchstart';
                }
                var transition='webkitTransition',
                    transform='webkitTransform',
                    transition_end = 'webkitTransitionEnd';
                if(typeof document.body.style.transform==='string'){
                    transition = 'transition';
                    transform = 'transform';
                    transition_end='transitionend'
                }

                //variable cache and some init;
                var  tabCover = $('#tab-cover'),
                     tabCtn = $('#tab-container');
                var tabPanels = tabCtn.find('.tab-panel'),
                    navItems = $('#tab-nav-bar .nav-item');
                var underline = $('#nav-bar-underline')
                var widthOfPanel = tabCover.width();
                var numOfPanels = tabPanels.length;
                tabCover.css('overflow','hidden');
                tabCtn.css({width:numOfPanels*widthOfPanel+'px'});
                tabPanels.css({width:widthOfPanel});

                function move(moveIndex,activeIndex){
                    tabCtn.css(transform,'translate3d(-'+moveIndex*widthOfPanel+'px,0,0)');
                    underline.css({left:moveIndex*100/numOfPanels+'%'}).attr('data-active-index',activeIndex);
                }

                move(0,1);

                navItems.on(touch_start,function(){
                    //var self = $(this);
                    var index = +$(this).attr('data-nav-index');
                    var curIndex = underline.attr('data-active-index');
                    if(curIndex == index)return;
                    move(index-1,index);
                    //tabCtn.css(transform,'translate3d(-'+(index-1)*widthOfPanel+'px,0,0)');
                    //underline.css({left:(index-1)*100/numOfPanels+'%'}).attr('data-active-index',index);
                })

                function createTouchHandler(){
                    var touch={}
                    return function(e){

                        var touches = e.touches;
                        var type = e.type;
                        if(type == 'touchstart') {
                            touch.x1 = touches[0].pageX;
                        }else if(type=='touchmove'){
                            touch.x2 =touches[0].pageX;
                        }else{
                            var distance = touch.x1-touch.x2;
                            if(distance>60){
                                e.preventDefault();
                                var index = +underline.attr('data-active-index');
                                if(index==numOfPanels) return;
                                move(index,index+1);
                                //tabCtn.css(transform,'translate3d(-'+(index)*widthOfPanel+'px,0,0)');
                                //underline.css({left:(index)*100/numOfPanels+'%'}).attr('data-active-index',index+1);
                            }else if(distance<-60){
                                e.preventDefault();
                                var index = +underline.attr('data-active-index');
                                if(index==1) return;
                                var moveIndex = index-2;
                                move(moveIndex,index-1);
                                //tabCtn.css(transform,'translate3d(-'+(toIndex)*widthOfPanel+'px,0,0)');
                                //underline.css({left:(toIndex)*100/numOfPanels+'%'}).attr('data-active-index',index-1);
                            }
                        }

                    }
                }
                var touchHandler = createTouchHandler();
                tabCtn.on('touchmove',touchHandler)
                    .on('touchstart',touchHandler)
                    .on('touchend',touchHandler)
                    .on('touchcancel',touchHandler);
            }()
