doctype html
html
    head.
        <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
        <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
        <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
        <link href="../../../assets/css/mobile/reset.css" rel="stylesheet" type="text/css" />
        <link href="../../../assets/css/mobile/ui.css" rel="stylesheet" type="text/css" />
        <link href="../../../assets/css/mobile/detail/report.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript" src="../../../assets/js/mobile/lib/appframework.min.js"></script>

    body
        #report
            .qual-summary
                .qual-summary-title 大搜车质检报告
                .qual-summary-content.clearfix
                    .qual-level A
                    .qual-profile
                        .qual-profile-item 报告编号：
                            span.report-no No.1234567
                        .qual-profile-item 检测专员： 蒋子龙
                        .qual-profile-item 检测时间: 2014年9月9日
                        .qual-profile-item 检测项目： 154项国家标准检测及95项大搜车专项检测

            .qual-detail
                .qual-detail-card
                    .qual-detail-title
                        .qdt-left 重大事故排除
                        .qdt-right
                            .qdt-text
                                p 若有不符
                                p 7天包退
                            .qdt-icon 退
                    .qual-detail-content
                        .qual-detail-sub-item
                            .qdc-title 1.无重大撞击，车身左右对称
                            .qdc-tab.clearfix
                                .qdc-tab-item.left-1-5.active 车头
                                .qdc-tab-item.left-1-5 车尾
                                .qdc-tab-item.left-1-5 左侧
                                .qdc-tab-item.left-1-5 右侧
                                .qdc-tab-item.left-1-5 底盘
                            .qdc-tab-panel
                                .qdc-panel-item
                                    img(src='')
                        .qual-detail-sub-item
                            .qdc-title 2.排除火烧痕迹，非火烧车
                        .qual-detail-sub-item
                            .qdc-title 3.排除水浸痕迹，非水浸车
                        .qual-detail-sub-item
                            .qdc-title 4.检查发动机重要部件，发动机正常
                        .qual-detail-sub-item
                            .qdc-title  5.该车共有4处钣金修复
                            .qual-gp
                                .qual-icon.guaHenXiuFu
                                .qual-pre-text 原车漆或刮痕修复
                            .qual-gp
                                .qual-icon.banJinXiuFu
                                .qual-pre-text 钣金修复
                            .qual-gp
                                .qual-icon *
                                .qual-pre-text 深度小于30mm的划痕及面积小于30*30mm的凹陷，不影响安全性能，不在此标出

                .qual-detail-card
                    .qual-detail-title
                        .qdt-left 安全性评估
                        .qdt-right
                            .qdt-text
                                p 若有不符
                                p 7天包修
                            .qdt-icon 修
                    .qual-detail-content
                        .chart-area
                            .y-axis(data-max-value='1.9',data-min-value='1.2')
                                .ya-item.ya-item-top 1.9mm
                                .ya-item(style='top:20px;') 1.6mm
                                .ya-item.ya-item-bottom 1.2mm
                            .bar-area
                                .bar-wrapper
                                    .bar(style='')
                                    .guide-line
                                .bar-wrapper
                                    .bar(style='')
                                    .guide-line
                                .bar-wrapper
                                    .bar(style='')
                                    .guide-line
                                .bar-wrapper
                                    .bar(style='')
                                    .guide-line
                            .x-axis.clearfix
                                .x-item 左前轮
                                .x-item 左前轮
                                .x-item 左前轮
                                .x-item 左前轮


    script(src='../../../assets/js/mobile/detail/chart.js')


