doctype html
html
    head.
        <title>大搜车,为二手车代言-北京二手车交易市场_北京二手车市场_二手车网</title>
        <meta name="Description" content="大搜车致力于成为中国最大、最专业的二手车交易服务商；打造诚信、透明的二手车交易平台；为消费者提供最专业的二手车认证、交易及质保服务" />
        <meta name="Keywords" content="二手车网，北京二手车，二手车评估，二手车买卖，二手车门店,二手车检测,二手车交易市场" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no">
        <link href="../../../assets/css/mobile/reset.css" rel="stylesheet" type="text/css" />
        <link href="../../../assets/css/mobile/ui.css" rel="stylesheet" type="text/css" />
        <link href="../../../assets/css/mobile/h5-3/index-h5-3.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="../../../assets/js/mobile/lib/appframework.min.js"></script>
        <script type="text/javascript" src="zepto.touchevent.js"></script>
    body
        .placeholder-for-tabNavBar
        .fixed-wrapper
            header.header
                .hd-logo
                .hd-city#J_choose_city
                    span(style="font-size:13px") 杭州
                    svg.svg-down-arrow(width=9,height=5)
                        polyline(points="0,0 4,4 8,0",style='fill:none;stroke:white;stroke-width:2')
                .for-other-topic
                    .icon-bar
                    .icon-bar
                    .icon-bar
                .hd-search
            .other-topic
                .topic-item 首页
                .topic-item 卖车
                .topic-item 我的大搜车
                .topic-item 拨打客服电话
                .topic-item 关于我们
            nav#J_tabNavbar.clearfix(data-active-index=1)
                .nav-item.active(data-nav-index=1)
                    span.nav-item-content
                        i.nav-icon.hot-icon
                        热门车型
                .nav-item(data-nav-index=2)
                    span.nav-item-content
                        i.nav-icon.car-icon
                        我要找车
                .nav-item(data-nav-index=3)
                    span.nav-item-content
                        i.nav-icon.rocket-icon
                        随便逛逛
        section#J_tabCover
            #J_tabContainer.clearfix
                include ./index-tab-1
                include ./index-tab-2
                include ./index-tab-3
        .wrapTransBg.hidden
        .btn-wrapper-for-filter.hidden(style="text-align:center")
            button#J_btnFilter_submit 为您找到100辆车
        .wrapGrayBg.hidden
        #brand-list.filter-popup-wrapper.hidden.
            <div class='title brand-title'>热门品牌</div>
            <div class='brand-content'>
                <div id='hot-brands'class='clearfix'></div>
                <div id='other-brands' class='clearfix'>
                    <div class='title brand-title'>其他品牌</div>
                </div>
            </div>
        .filter-popup-wrapper.hidden#series-list.
            <div class='clearfix series-title-bar' >
                <div class='selected-brand-name'>请先选择品牌</div>
            </div>
            <div class='series-content'>
            </div>
        footer.footer
            span.promise 服务承诺
            a.service(href="tel:4008-010-010") 拨打服务热线400-010-010
            .copyright © 2012-2014 Souche.com 版权所有
        script(src="../../../assets/js/mobile/index/h5-3-index.js")

