- var jsshop = 'http://assets.souche.com/assets/js-bigshop/';
- var jsme = 'http://http://f2e.souche.com/assets/js/chunyan/';
- var cssme = 'http://http://f2e.souche.com/assets/css/chunyan/';
- var cssshop = 'http://assets.souche.com/assets/css-bigshop/';
- var date = new Date().get;
doctype html
html(lang='zh-CN')
	head
		title|h5 demo
		meta(content='width=device-width, initial-scale=1, maximum-scale=1,user-scalable=no', name='viewport')
		link(href=cssme+'demo.css')
		script(src=jsshop+'mobile/jquery-1.9.1.min.js')
	body
		