doctype html
html
    head
        title 大搜车前端体系
        |<link href="/assets/css/bootstrap/bootstrap3.css?t=1150" rel="stylesheet" type="text/css" />
        |<link href="/assets/css/f2e/docs/main.css?t=1150" rel="stylesheet" type="text/css" />
        
    body
        .header
            .wrapper
                .page-header
                    h1 大搜车前端体系
        .nav 
            .wrapper
                .nav.nav-pills
                    li.active
                        a 首页
                    li
                        a 前端业务
                    li 
                        a 前端框架
                    li 
                        a 前端开发体系
                    li
                        a 前端数据平台

        .content
            .wrapper
                .col-md-8
                    .panel.panel-default
                        .panel-heading
                        .panel-body

